<h3>Hallo {$ns.doctor_name}!</h3>
<span>klicken Sie auf den folgenden Link, um Ihr Passwort zurückzusetzen,</span>
</br>
<a href="{$SITE_PATH}/doctors/reset_password/{$ns.reset_password_code}">{$SITE_PATH}/doctors/reset_password/{$ns.reset_password_code}</a>
