<h3>Hallo {$ns.patient_name}!</h3>
<span>Klicken Sie folgenden Link, um Ihr Konto zu aktivieren:</span>
<br/>
<a href="{$SITE_PATH}/dyn/patients/do_activate/{$ns.patientId}/{$ns.activation_code}">{$SITE_PATH}/dyn/patients/do_activate/{$ns.patientId}/{$ns.activation_code}</a>
