<h3>Hallo {$ns.patient_name}!</h3>
<span>Klicken Sie folgenden Link, um Ihr Passwort zurückzusetzen,</span>
</br>
<a href="{$SITE_PATH}/patients/reset_password/{$ns.reset_password_code}">{$SITE_PATH}/patients/reset_password/{$ns.reset_password_code}</a>
