{% extends '::base.html.twig' %}

{% block content %}
<div class="container summary">
    <div class="row">
        <div class="col-sm-12">
            <h1>Welcome {{ doctor.getFullName() }}</h1>
        </div>
    </div>
</div>

{% endblock %}
