{% block footer %}

    <footer class="{% if (minimalFooter is defined and minimalFooter == true) %}is-small{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img class="logo" src="{{ asset('images/logo/arzttermine-logo.svg') }}" alt="doctorio logo" height="25" width="128" />

                    {% if (minimalFooter is defined and minimalFooter == true) %}
                        <nav>
                            <ul>
                                <li><a href="https://arzttermine.de/agb" target="_blank">{{'ui.footer.terms_of_use'|trans}}</a></li>
                                <li><a href="https://arzttermine.de/impressum" target="_blank">{{'ui.footer.imprint'|trans}}</a></li>
                                <li><a href="https://arzttermine.de/datenschutz" target="_blank">{{'ui.footer.data_security'|trans}}</a></li>
                            </ul>
                        </nav>
                    {% endif %}

                </div>
                {% if (minimalFooter is defined and minimalFooter != true) or minimalFooter is not defined %}
                    <div class="col-sm-3">
                        <h3>
                            {{'ui.footer.legal'|trans}}
                        </h3>
                        <nav>
                            <ul>
                                <li><a href="https://arzttermine.de/agb" target="_blank">{{'ui.footer.terms_of_use'|trans}}</a></li>
                                <li><a href="https://arzttermine.de/impressum" target="_blank">{{'ui.footer.imprint'|trans}}</a></li>
                                <li><a href="https://arzttermine.de/datenschutz" target="_blank">{{'ui.footer.data_security'|trans}}</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-sm-3">
                        <h3>
                            {{'ui.footer.company'|trans}}
                        </h3>
                        <nav>
                            <ul>
                                <li><a href="https://arzttermine.de/kontakt" target="_blank">{{'ui.footer.contact'|trans}}</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-sm-3">
                        <h3>

                        </h3>
                    </div>
                    <div class="col-sm-3">
                        <h3>
                            {{'ui.footer.social'|trans}}
                        </h3>
                        <nav>
                            <ul>
                                <li>
                                    <a href="{{ social.facebook.url }}">Facebook</a>
                                </li>
                                <li>
                                    <a href="{{ social.twitter.url }}">Twitter</a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                {% endif %}
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var AT = AT || {};
        AT.q=[];
        AT._defer=function(f){
            AT.q.push(f);
        };
    </script>

    <script type="text/javascript" src="{{ asset('js/common.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dashboard.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $.each(AT.q,function(index,f){
                $(f);
            });
        });
    </script>
{% endblock %}
