{% extends '::base.html.twig' %}

{% block content %}
    <div class="container summary">
        <div class="row">
            <div class="col-sm-6">
                {{ form_start(form, {'attr': {'class': 'sidebar-box colored fv-form fv-form-bootstrap'}, 'action': path(app.request.attributes.get('_route'), app.request.query.all|merge(app.request.attributes.get('_route_params'))) }) }}
                {{ form_errors(form) }}

                <strong>{{ 'ui.form.email.label'|trans }}</strong><br />{{ email }}<br /><br />
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}
                <fieldset>
                    <input type="submit"  value="{{ 'ui.form.button_confirm'|trans }}" class="btn btn-primary pull-right button large btn_green input_submit" />
                </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}