// The first part is just partially copied from common.scss. When all imports from there
// are reorganized, then this copying should be avoided, too.
@import "compass/reset";
@import "partials/base";

// Imports continued at the end of the file...


/* DEFAULT STYLING FOR HTML ELEMENTS */

html {
  @include font-gudea;
  line-height: 120%;
  background: #FFFFFF;
  color: $color-at-grey-darker;
}

h1 {
  @include font32;
  @include font-lato;
  font-weight: 400;
  color: $color-at-blue;
}

h2 {
  @include font30;
  @include font-lato;
  font-weight: 300;
  color: $color-at-blue;
}

h3 {
  @include font16;
  @include font-lato;
  font-weight: 300;
  color: $color-at-blue;
}

h4 {
  @include rem-fallback(font-size, 1.4);
}

p {
  line-height: 150%;
}

a {
  color: $color-at-blue;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

em {
  font-weight: 700;
}

body main > section {
  $section-vertical-spacing: 3;
  @include rem-fallback(margin-bottom, $section-vertical-spacing);
  @include rem-fallback(padding-bottom, $section-vertical-spacing);
}

/* END - DEFAULT STYLING FOR HTML ELEMENTS */




/* PRAXIS MARKETING SPECIFICS *****************************************************************************************/

/* ########################################################################################################################
                          START MIXINS */




@mixin gradient($background, $params...) {

  @if ($background == "") {
      //background-color: mix($params); /* Fallback */
      //background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
      background: -webkit-linear-gradient($params); 
      background:    -moz-linear-gradient($params);
      background:     -ms-linear-gradient($params);
      background:      -o-linear-gradient($params);
      // background:         linear-gradient($params);
      //-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
  }
  @else  {
    background: $background, -webkit-linear-gradient($params); 
      background: $background,    -moz-linear-gradient($params);
      background: $background,     -ms-linear-gradient($params);
      background: $background,      -o-linear-gradient($params);
      // background: $background,         linear-gradient($params);
  }
}

@mixin btn-green($background: "") {
    border: 1px solid #718f31;
    @include border-radius(7px);
    @include box-shadow(0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27));
    @if $background != "" {
      @include gradient($background, bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
    }
    @else {
      @include gradient("", bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%); 
    }
    color: #fff;
    text-shadow: 0 -1px 0 rgba(69,97,14,.65);
    background-color: #71ab19;

  &:hover {
      @include gradient($background, bottom, #99cb45 0%, #7fbf1b 4%, #71ab19 50%, #699d17 51%, #59830b 100%);
      background-color: #699d17;
      text-decoration: none;
  }

  &:active {
      @include box-shadow(inset 0 1px 1px rgba(255,255,255,.27));
      background-color: #699d17;
  }
}


/* button.cta.heavy,
div.cta.heavy > a {
  @include flat-button($color-at-orange, large);
  @include adjust-font-size-to(16px, 1.6);

    cursor: pointer;
    padding-left: 1.4em;
    padding-right: 1.4em;
    margin-top: 1.4em;
    margin-bottom: 1.4em;    
} */


/* 
                      END MIXINS
######################################################################################################################## */



html {
  background: #E3EFF1;
  color: #666666;
}

/* *[type=submit] {
      margin-top: 2.2em;
      @include span-columns(5);
        @include flat-button($color-at-orange, large);
        margin: 0;

          & > a {
            text-decoration: none;
            color: #ffffff;
          }
      } */

ul.regular {
  @include adjust-font-size-to(18px, 2);

  li {
    &:before {
      content: url(img/checkmark.png);
      position: relative;
      @include rem-fallback(margin-right, 0.5);
      top: 4px;
    }
  }
}

div.at-blue {
  background: $color-at-blue;
  color: white;
}

div.cta.heavy {
  text-align: center;
  
  & > a {
    @include rem-fallback(margin-left, auto);
    @include rem-fallback(margin-right, auto);
    @include inline-block;
  }
}

.has-arrow {
  .text {
    @include rem-fallback(padding-top, 2);
    @include rem-fallback(padding-bottom, 2);
    @include rem-fallback(padding-left, 1);
  }
}

#general {
  @include container;
  @include box-shadow(0px 0px 1px 1px rgba(0,0,0,0.2));
  background: white;

  > section > div {
    @include clearfix;
  }
}

header {
  @include rem-fallback(padding-top, 1);

  .header-title {
    @include rem-fallback(padding-left, 1);
  }
  
  .logo {
    @include span-columns(6);
    @include rem-fallback(margin, auto);
    background: url(http://www.arzttermine.de/static/images/assets/logo-2.png) no-repeat;
    min-width: 247px;
    height: 80px;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .hotline {
    @include span-columns(6);
    @include rem-fallback(margin, auto);
    text-align: center;
    height: 32px;
    margin-top: 16px;
    color: $color-at-blue;
    a {
      @include inline-block;
      vertical-align: top;
      @include font24;
      @include rem-fallback(padding-left, 10);
    }
  }
}

#navigation {
  clear:both;
}

nav {
  @include rem-fallback(margin-top, 1);
  background: $color-at-blue;
  text-color: #FFFFFF;
  text-align: center;
  @include clearfix;


  ul {
    height: 100%;

    li { 
      @include inline-block;
      border: 1px solid $color-at-blue;
      //border-right: 0;
      //border-left: 0;

      a {
        @include rem-fallback(padding, 1, 2);
        display: block;
        color: #FFFFFF;
      }

      a:hover {
        background: white;
        color: $color-at-blue;
        text-decoration: none;
      }
    }
  }
}

#undefined-sticky-wrapper {
  height: 116px !important;

  &.fixed {
    height: 138px !important ;
  }
}
.fixed nav {
  top: 0;
  left: 0;
  @include rem-fallback(margin-top, 0);
  width: 100%;
  z-index: 99999;
  box-shadow: 0 0px 3em 0.5em rgba(0,0,0,0.5);
}

#intro {
  & > div {
    @include gradient( url(img/bg_hero.jpg) right 0 no-repeat, #ffffff, #e5eff1);
    @include rem-fallback(padding-bottom, 3);

    h1 {
      @include rem-fallback(padding-left, 1);
      @include rem-fallback(padding-top, 1);
    }
    ul {
      @include rem-fallback(padding-left, 2);
      @include rem-fallback(padding-top, 3);
      }

    .cta-box {
      @include rem-fallback(margin-top, 2);
      @include span-columns(5);
    }

    .subline {
      @include rem-fallback(margin-top, 6);
      @include rem-fallback(padding-left, 1);
    }

    *[type=submit] {
      @include rem-fallback(margin, 2);
      @include span-columns(5);
        @include flat-button($color-at-orange, large);
        @include rem-fallback(margin, 0);

          & > a {
            text-decoration: none;
            color: #ffffff;
          }
      }

    .press-links {
      text-align: center;
      & > div {
        @include inline-block;
        @include rem-fallback(padding-right, 1);
      }
    }
  }
}

#how-it-works {
  & > div {
    @include rem-fallback(padding-left, 1);
    @include rem-fallback(padding-top, 2);
    @include rem-fallback(padding-right, 1);

      & > h1 {
        @include rem-fallback(padding-bottom, 1);

      }

      & > h3 {
        @include rem-fallback(padding-bottom, 1);
      }

    .steps {
      @include rem-fallback(margin-top, 2);
      & > div {
        overflow: hidden;
        @include rem-fallback(margin-top, 1);
        @include rem-fallback(margin-bottom, 1);
        @include span-columns(4);


        &:last-child {
          @include omega;
        }
        .img,
        p {
          @include rem-fallback(padding-top, 1);
          max-width: 340px;
          @include rem-fallback(margin, auto);
          text-align: justify;
        }
        .img {
          position: relative;
          height: 200px;
          width: 90%;

          .number {
            position: absolute;
            bottom: -10px;
            left: -12px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background: $color-at-blue;
            @include border-radius(45px);
            color: white;
            text-align: center;
          }
        }
      }
      
      .step-1 > .img { background-image: url(img/step-1.png); } 
      .step-2 > .img { background-image: url(img/step-2.png); } 
      .step-3 > .img { background-image: url(img/step-3.png); } 
      
    }

    .cta-box {
      clear: both;
      @include span-columns(5);
      @include rem-fallback(padding, 2, 2);

      & > div {
        text-align: center;
      }

      & > a {
        @include rem-fallback(padding-left, 2);
      }

      [type=submit] {
        @include flat-button($color-at-orange, large);
        @include rem-fallback(margin-top, 1);

        }
    }

    .contact-box {
      @include clearfix;
      @include span-columns(6);
      @include omega;
      background: $color-at-blue;
      color: white;
      @include rem-fallback(margin-bottom, 2);
      @include rem-fallback(margin-top, 3);

      .column-content {
        @include rem-fallback(padding, 1); 
      }

      .phones, .email {
        @include inline-block;
        @include rem-fallback(margin-right, 1);

        & > a {
          color: white;
        }
      }
      .phones {
        color: white;
        @include rem-fallback(padding-left, 3);
      }
      .email {
        @include rem-fallback(padding-left, 1);

        &:before {
          padding-right: 0.2em;
          position: relative;
          top: 1px;
          content: url(img/mail.png);
        }
      }
    }
  }
}

#advantages {
  & > div {
    @include background(linear-gradient(#ffffff, #e5eff1));
    @include background(url(img/nurse.png) no-repeat 95% 100%, linear-gradient(#ffffff, #e5eff1));

    border-top: 1px solid #d9d9d9;
    @include rem-fallback(padding, 2, 2);

    & > h3 {
      @include rem-fallback(padding-top, 1);
      @include rem-fallback(padding-bottom, 1);
    }

    .cta-box {
      text-align: center;
      @include rem-fallback(margin, 1, 1);

      [type=submit] {
          @include flat-button($color-at-orange, large);
          @include rem-fallback(margin-top, 1);

          & > a {
            text-decoration: none;
            color: #ffffff;
          }
        }
    }
  }
}

#your-free-profile {
  & > div {
    @include rem-fallback(padding, 0, 2);

    & > h2 {
      @include rem-fallback(padding, 1, 1, 1);
    }

    @include background(linear-gradient(#ffffff 475px, #d9d9d9 475px,  #e5eff1));
    border-top: 1px solid #d9d9d9;

    .placeholder {
      background: url(img/placeholder-profile.png) no-repeat;
      height: 393px;
    }
    .big-mac {
      background: url(img/mac.png) no-repeat 0% 0;
      background-size: contain;

      height: 393px;
      position: relative;

      .carousel {
        display: none; 
      }

        @include clearfix;
        .carousel {
          height: 100%;
          overflow: hidden; 

          display: block;
          position: absolute;
          width: 100%;
          top: -15px;
          left: 15px;

          .arrow {
            top: 250px;
            &.right { 
              right: 80px; 
            }
            &.left { 
              left: 640px; 
            }
          }

          .overlay {
            display: none;
            width: 940px;
            height: 340px;
            left: 40px;
            top: 0px;
            &.active {
              display: block;
            }
            @include box-shadow(none);
            &.first { background: url(img/mac-overlay-1.png) no-repeat; }
            &.second { background: url(img/mac-overlay-2.png) no-repeat; }
            &.third { background: url(img/mac-overlay-3.png) no-repeat; left: 286px; top: 0px;
              .text {
                left: 205px;
              }
            }

            .text {
              width: 220px;
              position: absolute;
              top: 235px;
              left: 450px;
              text-align: center;
            }
          }
        }
    }

    .cta-box {
      @include rem-fallback(padding, 3, 3);
      text-align: center;

      [type=submit] {
        @include flat-button($color-at-orange, large);
        @include rem-fallback(margin-top, 1);

        & > a {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}

#what-others-say {
  & > div {
    @include rem-fallback(padding, 0, 2);
    @include rem-fallback(padding-bottom, 3);

    background: #e5eff1;
    @include background(linear-gradient(#ffffff, #e5eff1));
    border-top: 1px solid #d9d9d9;

    h2 {
      @include rem-fallback(margin, 1, 1);
    }

    .carousel {
      @include span-columns(12);

      li > a {
        display: block;
        width: 100%;
        height: 100%;
        
        &:hover {
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    .cta-box.large {
      @include span-columns(10);
      @include pre(1);
      background: white;
      @include rem-fallback(margin-top, 2);

      [type=submit] {
        @include flat-button($color-at-orange, large);
        @include rem-fallback(margin-top, 1);

        & > a {
          text-decoration: none;
          color: #ffffff;
        }
      }

      .cta.heavy + .text {
        @include rem-fallback(padding, 2, 4);
        text-align: center;

      }
    }
  }
}

footer {
    & > div {
      border-top: 1px solid #d9d9d9;
      @include rem-fallback(padding-top, 1);
        position: relative;
        height: 7rem;
    }

    .press-logos {
        text-align: center;
        & > div {
          @include inline-block;
          @include rem-fallback(margin, 0, 0, 1, 1);
        }
    }

    .navigation {
        text-align: center;
        @include rem-fallback(padding, 0);
        @include rem-fallback(margin, 0, auto);
        height: 40px;

        .sm_btn span { display: none; }
        .sm_btn a { display: block; width: 32px; height: 32px; float: left; filter: grayscale(100%);}
        .fb a { background: url("img/icon_fb.png") no-repeat; }
        .gp a { background: url("img/icon_gp.png") no-repeat; }
        
        li {
          @include rem-fallback(padding-right, 1);
            @include inline-block;
      &:before {
        content: "";
      }
        }
    }
}

.carousel {
  @include clearfix;
  position: relative;

  & > * {
    @include inline-block;
  }

  $carousel-height: 435px;
  .carousel-wrapper {
    width: columns(12);
    overflow: hidden;
    position: relative;
    height: $carousel-height;
    left: 15px;
  }
  ul {
    width: 10000px;
    left: 0;

    li {
      position: absolute;
      @include box-shadow(0px 0px 4px 4px rgba(0, 0, 0, 0.1));
      background: white;
      height: $carousel-height - 20; // - 40;
      
      @include span-columns(5);

      @include inline-block;
      text-align: left;
      @include rem-fallback(margin, 1, 2);

      .img {
        float: left;
        width: 140px;
        height: 385px;
        overflow: hidden;
        @include rem-fallback(padding-right, 0.5);
        @include rem-fallback(padding-top, 0.5);
        @include rem-fallback(padding-left, 0.5);
        
        & > img {
          width: 100%; 
        }
      }
      .text {
        @include rem-fallback(padding-right, 0.5);

        .quote {
          font-style: italic;
        }

        .doc-name {
          @include rem-fallback(margin-top, 0.5);
          font-weight: 600;
        }
      }
    }
  }

  .arrow {
    position: absolute;
    z-index: 9999;

    cursor: pointer;
    width: 37px;
    height: 37px;
    vertical-align: top;
    top: $carousel-height / 2 - 37/2; 

    &.right {
      @include btn-green(url(img/carousel-arrow-right.png) no-repeat center);
      right: 0;     
    }

    &.left {
      @include btn-green(url(img/carousel-arrow-left.png) no-repeat center);
      left: 0;
    }
  }
}
