/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* line 3, ../../static/scss/modules/_buttons.scss */
body > header nav .top-bar-popup form input[type=submit], body > header nav .top-bar-popup a[role=button],
body > header nav .top-bar-popup button, #intro *[role=button], #how-it-works > div .cta-box *[role=button], #advantages *[role=button], #your-free-profile .big-mac .carousel .controls .arrow, #your-free-profile .cta-box *[role=button], #what-others-say .carousel .arrow, #what-others-say .cta-box-large .cta-box-right *[role=button] {
  cursor: pointer;
  color: white;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.2em 1em;
  font-family: Gudea, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
}
/* line 11, ../../static/scss/modules/_buttons.scss */
body > header nav .top-bar-popup form input.large[type=submit], body > header nav .top-bar-popup a.large[role=button],
body > header nav .top-bar-popup button.large, #intro .large[role=button], #how-it-works > div .cta-box .large[role=button], #advantages .large[role=button], #your-free-profile .big-mac .carousel .controls .large.arrow, #your-free-profile .cta-box .large[role=button], #what-others-say .carousel .large.arrow, #what-others-say .cta-box-large .cta-box-right .large[role=button] {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
}
/* line 23, ../../static/scss/modules/_buttons.scss */
body > header nav .top-bar-popup form input[type=submit]:active, body > header nav .top-bar-popup a[role=button]:active,
body > header nav .top-bar-popup button:active, #intro [role=button]:active, #how-it-works > div .cta-box [role=button]:active, #advantages [role=button]:active, #your-free-profile .big-mac .carousel .controls .arrow:active, #your-free-profile .cta-box [role=button]:active, #what-others-say .carousel .arrow:active, #what-others-say .cta-box-large .cta-box-right [role=button]:active {
  box-shadow: none;
}

@font-face {
  font-family: 'at-assets';
  src: url(/static/fonts/at-assets/at-assets.eot);
  src: url(/static/fonts/at-assets/at-assets.eot?#iefix) format("embedded-opentype"), url(/static/fonts/at-assets/at-assets.ttf) format("truetype"), url(/static/fonts/at-assets/at-assets.woff) format("woff"), url(/static/fonts/at-assets/at-assets.svg#at-assets) format("svg");
}

/* DEFAULT GENERAL CSS CLASSES */
/* line 22, ../../static/scss/partials/_base.scss */
.container, footer {
  max-width: 59.9em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after, footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 134, ../../static/scss/modules/_base.scss */
.container:after, footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 26, ../../static/scss/partials/_base.scss */
.centered-text {
  text-align: center;
}

/* line 30, ../../static/scss/partials/_base.scss */
.round-image {
  border-radius: 50%;
  overflow: hidden;
}
/* line 34, ../../static/scss/partials/_base.scss */
.round-image img {
  width: 100%;
}

/* line 39, ../../static/scss/partials/_base.scss */
.logo {
  position: relative;
  font-family: at-assets;
  font-size: 80px;
  font-size: 5rem;
}
/* line 44, ../../static/scss/partials/_base.scss */
.logo > a > span {
  position: absolute;
  left: 0;
  top: 4px;
}
/* line 48, ../../static/scss/partials/_base.scss */
.logo > a > span.logo-part-blue {
  color: #0090d6;
}
/* line 49, ../../static/scss/partials/_base.scss */
.logo > a > span.logo-part-white {
  color: white;
}
/* line 50, ../../static/scss/partials/_base.scss */
.logo > a > span.logo-part-black {
  color: #313131;
}
/* line 51, ../../static/scss/partials/_base.scss */
.logo > a > span.logo-part-grey {
  color: #666666;
}

/* line 54, ../../static/scss/partials/_base.scss */
footer .logo {
  font-size: 48px;
  font-size: 3rem;
}
/* line 56, ../../static/scss/partials/_base.scss */
footer .logo > a > span {
  top: 8px;
}

/* line 60, ../../static/scss/partials/_base.scss */
a[href^=tel],
.phone {
  white-space: nowrap;
}
/* line 63, ../../static/scss/partials/_base.scss */
a[href^=tel]:before,
.phone:before {
  font-family: at-assets;
  content: "\e003";
  font-size: 80%;
}

/* line 70, ../../static/scss/partials/_base.scss */
a[role=button] {
  cursor: pointer;
}

/* line 74, ../../static/scss/partials/_base.scss */
.button-wrapper {
  text-align: right;
}

/* line 78, ../../static/scss/partials/_base.scss */
.justified-blocks {
  text-align: justify;
}
/* line 82, ../../static/scss/partials/_base.scss */
.justified-blocks > * {
  display: inline-block;
  position: relative;
  top: 1.2em;
}
/* line 88, ../../static/scss/partials/_base.scss */
.justified-blocks:before {
  content: '';
  display: block;
  width: 100%;
  margin-bottom: -1.2em;
}
/* line 95, ../../static/scss/partials/_base.scss */
.justified-blocks:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 134, ../../static/scss/modules/_base.scss */
ul.inlined:after,
ol.inlined:after {
  content: "";
  display: table;
  clear: both;
}
/* line 106, ../../static/scss/partials/_base.scss */
ul.inlined li,
ol.inlined li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 111, ../../static/scss/partials/_base.scss */
.non-pay {
  clear: both;
  color: #cccccc;
  font-style: italic;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  margin-top: 16px;
  margin-top: 1rem;
}

/* END - DEFAULT GENERAL CSS CLASSES */
/* DEFAULT STYLING FOR HTML ELEMENTS */
/* line 11, style.scss */
html {
  font-family: Gudea, Arial, sans-serif;
  line-height: 120%;
  background: white;
  color: #313131;
}

/* line 18, style.scss */
h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 34px;
  line-height: 2.125rem;
  font-family: Lato, Tahoma, sans-serif;
  font-weight: 400;
  color: #0090d6;
}

/* line 25, style.scss */
h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 34px;
  line-height: 2.125rem;
  font-family: Lato, Tahoma, sans-serif;
  font-weight: 300;
  color: #0090d6;
}

/* line 32, style.scss */
h3 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-family: Lato, Tahoma, sans-serif;
  font-weight: 300;
  color: #0090d6;
}

/* line 39, style.scss */
h4 {
  font-size: 22.4px;
  font-size: 1.4rem;
}

/* line 43, style.scss */
p {
  line-height: 150%;
}

/* line 47, style.scss */
a {
  color: #0090d6;
  text-decoration: none;
}
/* line 51, style.scss */
a:hover {
  text-decoration: underline;
}

/* line 54, style.scss */
em {
  font-weight: 700;
}

/* line 58, style.scss */
body main > section {
  margin-bottom: 48px;
  margin-bottom: 3rem;
  padding-bottom: 48px;
  padding-bottom: 3rem;
}

/* END - DEFAULT STYLING FOR HTML ELEMENTS */
/* line 3, ../../static/scss/partials/_header.scss */
body > header {
  background: white;
  position: relative;
  width: 100%;
  overflow: visible;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
/* line 134, ../../static/scss/modules/_base.scss */
body > header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 11, ../../static/scss/partials/_header.scss */
body > header .top-bar {
  width: 100%;
  position: absolute;
  height: 28.8px;
  height: 1.8rem;
  line-height: 28.8px;
  line-height: 1.8rem;
  background: #0090d6;
  text-align: right;
}
/* line 20, ../../static/scss/partials/_header.scss */
body > header nav {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 23, ../../static/scss/partials/_header.scss */
body > header nav ul {
  list-style-type: none;
  font-size: 12px;
  font-size: 0.75rem;
}
/* line 27, ../../static/scss/partials/_header.scss */
body > header nav ul > li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0px 16px;
  padding: 0rem 1rem;
}
/* line 31, ../../static/scss/partials/_header.scss */
body > header nav ul > li > a {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}
/* line 37, ../../static/scss/partials/_header.scss */
body > header nav ul > li.active {
  background: white;
}
/* line 39, ../../static/scss/partials/_header.scss */
body > header nav ul > li.active a {
  color: #313131;
}
/* line 43, ../../static/scss/partials/_header.scss */
body > header nav ul > li:hover .top-bar-popup {
  display: block;
}
/* line 50, ../../static/scss/partials/_header.scss */
body > header nav .top-bar-popup {
  display: none;
  position: absolute;
  margin-top: -2px;
  text-align: left;
  width: 224px;
  width: 14rem;
  background: white;
  border-top: 3px solid #0090d6;
  box-shadow: 0 2px 2px #313131;
  padding: 16px;
  padding: 1rem;
  z-index: 1;
}
/* line 62, ../../static/scss/partials/_header.scss */
body > header nav .top-bar-popup h4 {
  color: #0090d6;
  text-transform: uppercase;
  font-family: Lato, Tahoma, sans-serif;
}
/* line 67, ../../static/scss/partials/_header.scss */
body > header nav .top-bar-popup h5 {
  font-weight: 700;
  text-transform: uppercase;
  font-family: Lato, Tahoma, sans-serif;
}
/* line 73, ../../static/scss/partials/_header.scss */
body > header nav .top-bar-popup a {
  color: #0090d6;
}
/* line 78, ../../static/scss/partials/_header.scss */
body > header nav .top-bar-popup form label {
  display: block;
  text-transform: uppercase;
}
/* line 84, ../../static/scss/partials/_header.scss */
body > header nav .top-bar-popup form input[type=password],
body > header nav .top-bar-popup form input[type=text] {
  margin-right: 8px;
  margin-right: 0.5rem;
  line-height: 16px;
  line-height: 1rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  display: block;
  width: 100%;
}
/* line 92, ../../static/scss/partials/_header.scss */
body > header nav .top-bar-popup form input[type=submit] {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem;
  border: 1px solid #0090d6;
  border-radius: 2px;
  background: #0090d6;
  display: block;
  margin: auto;
  margin-top: 8px;
  margin-top: 0.5rem;
}
/* line 43, ../../static/scss/modules/_buttons.scss */
body > header nav .top-bar-popup form input[type=submit]:hover {
  background: #0aafff;
}
/* line 99, ../../static/scss/partials/_header.scss */
body > header nav .top-bar-popup form a {
  display: block;
  text-align: center;
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 16px;
  line-height: 1rem;
}
/* line 106, ../../static/scss/partials/_header.scss */
body > header nav .top-bar-popup section {
  border-top: 1px solid #cccccc;
  margin-top: 8px;
  margin-top: 0.5rem;
  padding-top: 8px;
  padding-top: 0.5rem;
}
/* line 113, ../../static/scss/partials/_header.scss */
body > header nav .top-bar-popup a[role=button],
body > header nav .top-bar-popup button {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem;
  border: 1px solid #0090d6;
  border-radius: 2px;
  background: #0090d6;
  display: block;
  margin: auto;
  margin-top: 8px;
  margin-top: 0.5rem;
}
/* line 43, ../../static/scss/modules/_buttons.scss */
body > header nav .top-bar-popup a[role=button]:hover,
body > header nav .top-bar-popup button:hover {
  background: #0aafff;
}
/* line 118, ../../static/scss/partials/_header.scss */
body > header nav .top-bar-popup a[role=button] a,
body > header nav .top-bar-popup button a {
  color: white;
}
/* line 124, ../../static/scss/partials/_header.scss */
body > header div.phone-container {
  text-transform: lowercase;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  line-height: 18.4px;
  line-height: 1.15rem;
  text-align: right;
  color: white;
}
/* line 132, ../../static/scss/partials/_header.scss */
body > header div.phone-container a {
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 700;
}
/* line 137, ../../static/scss/partials/_header.scss */
body > header div.phone-container a:before {
  font-size: 100%;
  position: relative;
  top: 1px;
  margin-right: 1px;
}
/* line 146, ../../static/scss/partials/_header.scss */
body > header .logo {
  position: relative;
  top: 8px;
  top: 0.5rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  width: 215px;
  height: 70px;
  background-size: auto 100%;
  background: none;
  top: 32px;
  top: 2rem;
}
/* line 157, ../../static/scss/partials/_header.scss */
body > header .logo a {
  display: block;
  width: 100%;
}
/* line 163, ../../static/scss/partials/_header.scss */
body > header .breadcrumbs {
  width: 100%;
  float: left;
  margin-right: 2.1702838063%;
  margin-top: 16px;
  margin-top: 1rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}
/* line 168, ../../static/scss/partials/_header.scss */
body > header .breadcrumbs li {
  display: inline;
}
/* line 173, ../../static/scss/partials/_header.scss */
body > header .breadcrumbs li:before {
  content: "\a0>\a0";
}
/* line 178, ../../static/scss/partials/_header.scss */
body > header .breadcrumbs li:first-child:before {
  content: "";
}
/* line 183, ../../static/scss/partials/_header.scss */
body > header .breadcrumbs li:last-child {
  font-weight: 700;
}

/* line 1, ../../static/scss/partials/_footer.scss */
footer {
  clear: both;
  margin-bottom: 64px;
  margin-bottom: 4rem;
  padding-top: 32px;
  padding-top: 2rem;
  border-top: 1px solid #cccccc;
  /* GOING RESPONSIVE */
}
/* line 8, ../../static/scss/partials/_footer.scss */
footer > .row {
  margin-bottom: 64px;
  margin-bottom: 4rem;
}
/* line 11, ../../static/scss/partials/_footer.scss */
footer > .row > div {
  height: 100%;
}
/* line 17, ../../static/scss/partials/_footer.scss */
footer .logo {
  width: 6.3439065109%;
  float: left;
  margin-right: 2.1702838063%;
  width: 108px;
  min-height: 40px;
}
/* line 22, ../../static/scss/partials/_footer.scss */
footer #press {
  width: 40.4006677796%;
  float: left;
  margin-right: 2.1702838063%;
  background: #dfdfdf;
}
/* line 26, ../../static/scss/partials/_footer.scss */
footer #socialshareprivacy {
  width: 48.9148580968%;
  float: left;
  margin-right: 2.1702838063%;
  float: right;
  margin-right: 0;
}
/* line 31, ../../static/scss/partials/_footer.scss */
footer #socialshareprivacy ul {
  margin-top: 0.45rem;
}
/* line 34, ../../static/scss/partials/_footer.scss */
footer #socialshareprivacy ul li {
  padding-left: 16px;
  padding-left: 1rem;
}
/* line 41, ../../static/scss/partials/_footer.scss */
footer #socialshareprivacy .social_share_privacy_area .facebook {
  width: 165px;
}
/* line 44, ../../static/scss/partials/_footer.scss */
footer #socialshareprivacy .social_share_privacy_area .twitter {
  width: 120px;
}
/* line 46, ../../static/scss/partials/_footer.scss */
footer #socialshareprivacy .social_share_privacy_area .twitter .tweet {
  width: 60px;
}
/* line 48, ../../static/scss/partials/_footer.scss */
footer #socialshareprivacy .social_share_privacy_area .gplus {
  width: 105px;
}
/* line 50, ../../static/scss/partials/_footer.scss */
footer #socialshareprivacy .social_share_privacy_area .gplus .gplusone {
  width: 35px;
}
/* line 56, ../../static/scss/partials/_footer.scss */
footer nav {
  clear: both;
}
/* line 58, ../../static/scss/partials/_footer.scss */
footer nav > div {
  width: 23.3722871452%;
  float: left;
  margin-right: 2.1702838063%;
}
/* line 61, ../../static/scss/partials/_footer.scss */
footer nav > div:last-child {
  float: right;
  margin-right: 0;
}
/* line 66, ../../static/scss/partials/_footer.scss */
footer nav h4 {
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: none;
}
/* line 73, ../../static/scss/partials/_footer.scss */
footer nav h4 + ul > li {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* PRAXIS MARKETING SPECIFICS *****************************************************************************************/
/* line 75, style.scss */
body main > section {
  margin: 0;
}

/* line 79, style.scss */
header nav {
  background: #0090d6;
  width: 100%;
}
/* line 83, style.scss */
header nav > ul {
  text-align: center;
}
/* line 85, style.scss */
header nav > ul a {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  height: 48px;
  height: 3rem;
  line-height: 48px;
  line-height: 3rem;
  display: block;
  width: 100%;
}
/* line 92, style.scss */
header nav > ul a:hover {
  background: white;
  color: #0090d6;
  text-decoration: none;
}

/*CSS FOR THE FIXED NAV. Need to be redesigned!*/
/* line 103, style.scss */
.fixed nav {
  top: 0px;
  top: 0rem;
  left: 0px;
  left: 0rem;
  margin-top: 0px;
  margin-top: 0rem;
  width: 100%;
  z-index: 99999;
  box-shadow: 0 0 3rem 0.5rem rgba(0, 0, 0, 0.5);
}

/* line 112, style.scss */
.nav-wrapper {
  margin-top: 32px;
  margin-top: 2rem;
}

/* line 116, style.scss */
#intro {
  background: url(img/bg_hero.jpg) right 0 no-repeat;
  padding: 16px;
  padding: 1rem;
}
/* line 134, ../../static/scss/modules/_base.scss */
#intro:after {
  content: "";
  display: table;
  clear: both;
}
/* line 121, style.scss */
#intro ul {
  padding-left: 32px;
  padding-left: 2rem;
  padding-top: 48px;
  padding-top: 3rem;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
  font-family: Lato, Tahoma, sans-serif;
}
/* line 127, style.scss */
#intro ul li {
  padding-top: 16px;
  padding-top: 1rem;
}
/* line 130, style.scss */
#intro ul li:before {
  font-family: at-assets;
  content: "\e60b";
  color: #0090d6;
  font-size: 120%;
  position: relative;
  top: 2px;
  left: -5px;
}
/* line 142, style.scss */
#intro .cta-box {
  margin-top: 64px;
  margin-top: 4rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
/* line 147, style.scss */
#intro *[role=button] {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem;
  border: 1px solid #f5780a;
  border-radius: 2px;
  background: #f5780a;
}
/* line 43, ../../static/scss/modules/_buttons.scss */
#intro *[role=button]:hover {
  background: #f7933b;
}
/* line 151, style.scss */
#intro .press-links {
  width: 57.429048414%;
  float: left;
  margin-right: 2.1702838063%;
  float: right;
  margin-right: 0;
  text-align: right;
}
/* line 156, style.scss */
#intro .press-links > div {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding-left: 16px;
  padding-left: 1rem;
}

/* line 113, ../../static/scss/modules/_base.scss */
#how-it-works:before {
  margin-bottom: 64px;
  margin-bottom: 4rem;
  content: " ";
  display: block;
  height: 1px;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(40%, #cccccc), color-stop(60%, #cccccc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -moz-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
}
/* line 134, ../../static/scss/modules/_base.scss */
#how-it-works:after {
  content: "";
  display: table;
  clear: both;
}
/* line 168, style.scss */
#how-it-works > div > h1 {
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
/* line 170, style.scss */
#how-it-works > div > h3 {
  padding-bottom: 16px;
  padding-bottom: 1rem;
  padding-top: 16px;
  padding-top: 1rem;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
}
/* line 176, style.scss */
#how-it-works > div .steps {
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
/* line 134, ../../static/scss/modules/_base.scss */
#how-it-works > div .steps:after {
  content: "";
  display: table;
  clear: both;
}
/* line 181, style.scss */
#how-it-works > div .steps > * {
  width: 31.8864774624%;
  float: left;
  margin-right: 2.1702838063%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 0px 8px;
  padding: 0rem 0.5rem;
}
/* line 190, style.scss */
#how-it-works > div .steps > *:last-child {
  float: right;
  margin-right: 0;
}
/* line 194, style.scss */
#how-it-works > div .steps > *:before {
  content: " ";
  position: absolute;
  background: url(img/step-1.png) no-repeat;
  left: 8px;
  left: 0.5rem;
  right: 8px;
  right: 0.5rem;
  top: 0;
  height: 200px;
  height: 12.5rem;
  overflow: hidden;
}
/* line 205, style.scss */
#how-it-works > div .steps > * h4 {
  position: absolute;
  top: 200px;
  top: 12.5rem;
  left: 0;
  margin-top: -40px;
  margin-top: -2.5rem;
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem;
  background: #0090d6;
  border-radius: 40px;
  border-radius: 2.5rem;
  color: white;
  text-align: center;
}
/* line 220, style.scss */
#how-it-works > div .steps > * p {
  padding-top: 16px;
  padding-top: 1rem;
  margin: auto;
  margin: auto;
  text-align: justify;
  margin-top: 208px;
  margin-top: 13rem;
}
/* line 228, style.scss */
#how-it-works > div .steps #step-1:before {
  background-image: url(img/step-1-new.png);
  background-size: 100%;
}
/* line 231, style.scss */
#how-it-works > div .steps #step-2:before {
  background-image: url(img/step-2-new.png);
  background-size: 100%;
}
/* line 234, style.scss */
#how-it-works > div .steps #step-3:before {
  background-image: url(img/step-3-new.png);
  background-size: 100%;
}
/* line 239, style.scss */
#how-it-works > div .cta-box {
  width: 48.9148580968%;
  float: left;
  margin-right: 2.1702838063%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 32px;
  padding: 0rem 2rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  text-align: center;
}
/* line 246, style.scss */
#how-it-works > div .cta-box *[role=button] {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem;
  border: 1px solid #f5780a;
  border-radius: 2px;
  background: #f5780a;
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 43, ../../static/scss/modules/_buttons.scss */
#how-it-works > div .cta-box *[role=button]:hover {
  background: #f7933b;
}
/* line 252, style.scss */
#how-it-works > div .contact-box {
  width: 48.9148580968%;
  float: left;
  margin-right: 2.1702838063%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  margin-right: 0;
  background: #0090d6;
  color: white;
  padding: 16px;
  padding: 1rem;
  text-align: center;
}
/* line 261, style.scss */
#how-it-works > div .contact-box > a {
  color: white;
  padding-left: 16px;
  padding-left: 1rem;
}
/* line 265, style.scss */
#how-it-works > div .contact-box > a[href*=mailto]:before {
  padding-right: 0.2em;
  position: relative;
  top: 1px;
  content: url(img/mail.png);
}

/* line 276, style.scss */
#advantages {
  background: url(img/nurse.png) no-repeat 95% 100%;
}
/* line 113, ../../static/scss/modules/_base.scss */
#advantages:before {
  margin-bottom: 64px;
  margin-bottom: 4rem;
  content: " ";
  display: block;
  height: 1px;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(40%, #cccccc), color-stop(60%, #cccccc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -moz-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
}
/* line 134, ../../static/scss/modules/_base.scss */
#advantages:after {
  content: "";
  display: table;
  clear: both;
}
/* line 282, style.scss */
#advantages > h3 {
  padding-top: 32px;
  padding-top: 2rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
}
/* line 288, style.scss */
#advantages *[role=button] {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem;
  border: 1px solid #f5780a;
  border-radius: 2px;
  background: #f5780a;
}
/* line 43, ../../static/scss/modules/_buttons.scss */
#advantages *[role=button]:hover {
  background: #f7933b;
}
/* line 292, style.scss */
#advantages ul {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  padding-left: 16px;
  padding-left: 1rem;
  padding-bottom: 48px;
  padding-bottom: 3rem;
}
/* line 297, style.scss */
#advantages ul li {
  padding-top: 16px;
  padding-top: 1rem;
}
/* line 300, style.scss */
#advantages ul li:before {
  font-family: at-assets;
  content: "\e60b";
  color: #0090d6;
  font-size: 120%;
  position: relative;
  top: 2px;
  left: -5px;
}

/* line 113, ../../static/scss/modules/_base.scss */
#your-free-profile:before {
  margin-bottom: 64px;
  margin-bottom: 4rem;
  content: " ";
  display: block;
  height: 1px;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(40%, #cccccc), color-stop(60%, #cccccc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -moz-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
}
/* line 134, ../../static/scss/modules/_base.scss */
#your-free-profile:after {
  content: "";
  display: table;
  clear: both;
}
/* line 317, style.scss */
#your-free-profile > h2 {
  padding-bottom: 32px;
  padding-bottom: 2rem;
}
/* line 321, style.scss */
#your-free-profile .big-mac {
  position: relative;
  width: 100%;
  float: left;
  margin-right: 2.1702838063%;
  background: url(img/mac_new.png);
  background-repeat: no-repeat;
  height: 416px;
  height: 26rem;
}
/* line 328, style.scss */
#your-free-profile .big-mac .carousel {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0px;
  top: 0rem;
  left: 16px;
  left: 1rem;
}
/* line 337, style.scss */
#your-free-profile .big-mac .carousel .controls {
  position: absolute;
  top: 272px;
  top: 17rem;
  left: 592px;
  left: 37rem;
  width: 288px;
  width: 18rem;
  height: 96px;
  height: 6rem;
}
/* line 344, style.scss */
#your-free-profile .big-mac .carousel .controls .active {
  background: #f5780a;
}
/* line 347, style.scss */
#your-free-profile .big-mac .carousel .controls .carousel-display-point {
  height: 32px;
  height: 2rem;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 351, style.scss */
#your-free-profile .big-mac .carousel .controls .carousel-display-point div {
  margin: 8px;
  margin: 0.5rem;
  width: 16px;
  width: 1rem;
  height: 16px;
  height: 1rem;
  border-radius: 16px;
  border-radius: 1rem;
  border: 1px solid #666666;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 360, style.scss */
#your-free-profile .big-mac .carousel .controls .carousel-display-point div.active {
  background: #f5780a;
}
/* line 366, style.scss */
#your-free-profile .big-mac .carousel .controls .arrow {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem;
  border: 1px solid #f5780a;
  border-radius: 2px;
  background: #f5780a;
  z-index: 9999;
  cursor: pointer;
  width: 8px;
  width: 0.5rem;
  height: 32px;
  height: 2rem;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 43, ../../static/scss/modules/_buttons.scss */
#your-free-profile .big-mac .carousel .controls .arrow:hover {
  background: #f7933b;
}
/* line 374, style.scss */
#your-free-profile .big-mac .carousel .controls .arrow.right {
  background-image: url(img/carousel-arrow-right.png);
  background-position: center;
  background-repeat: no-repeat;
}
/* line 379, style.scss */
#your-free-profile .big-mac .carousel .controls .arrow.left {
  background-image: url(img/carousel-arrow-left.png);
  background-position: center;
  background-repeat: no-repeat;
}
/* line 387, style.scss */
#your-free-profile .big-mac .carousel .overlay {
  display: none;
  width: 40.4006677796%;
  float: left;
  margin-right: 2.1702838063%;
  float: right;
  margin-right: 0;
  left: 40px;
  left: 2.5rem;
  top: 0px;
  top: 0rem;
  margin-right: 32px;
  margin-right: 2rem;
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 402, style.scss */
#your-free-profile .big-mac .carousel .overlay.active {
  display: block;
}
/* line 405, style.scss */
#your-free-profile .big-mac .carousel .overlay .large-image {
  height: 128px;
  height: 8rem;
  margin: 16px;
  margin: 1rem;
  border: 0.25rem solid #0090d6;
  -webkit-box-shadow: 0 0 1rem 0.25rem rgba(49, 49, 49, 0.5);
  -moz-box-shadow: 0 0 1rem 0.25rem rgba(49, 49, 49, 0.5);
  box-shadow: 0 0 1rem 0.25rem rgba(49, 49, 49, 0.5);
  border-radius: 16px;
  border-radius: 1rem;
}
/* line 412, style.scss */
#your-free-profile .big-mac .carousel .overlay .large-image.first {
  background: url(img/advantages_calender.png) no-repeat;
}
/* line 413, style.scss */
#your-free-profile .big-mac .carousel .overlay .large-image.second {
  background: url(img/advantages_docname.png) no-repeat;
}
/* line 414, style.scss */
#your-free-profile .big-mac .carousel .overlay .large-image.third {
  background: url(img/advantages_map.png) no-repeat;
}
/* line 417, style.scss */
#your-free-profile .big-mac .carousel .overlay .gradient-box {
  position: absolute;
  width: 136px;
  width: 8.5rem;
  height: 56px;
  height: 3.5rem;
  border-radius: 8px;
  border-radius: 0.5rem;
  background: linear-gradient(rgba(204, 204, 204, 0.1), rgba(49, 49, 49, 0.3));
  -webkit-box-shadow: 0 0 1rem 0.25rem rgba(49, 49, 49, 0.5);
  -moz-box-shadow: 0 0 1rem 0.25rem rgba(49, 49, 49, 0.5);
  box-shadow: 0 0 1rem 0.25rem rgba(49, 49, 49, 0.5);
  border: 0.15rem solid #0090d6;
}
/* line 426, style.scss */
#your-free-profile .big-mac .carousel .overlay .gradient-box.first {
  top: 128px;
  top: 8rem;
  left: 192px;
  left: 12rem;
}
/* line 430, style.scss */
#your-free-profile .big-mac .carousel .overlay .gradient-box.second {
  top: 24px;
  top: 1.5rem;
  left: 56px;
  left: 3.5rem;
}
/* line 434, style.scss */
#your-free-profile .big-mac .carousel .overlay .gradient-box.third {
  top: 128px;
  top: 8rem;
  left: 56px;
  left: 3.5rem;
}
/* line 440, style.scss */
#your-free-profile .big-mac .carousel .overlay .text {
  padding-top: 16px;
  padding-top: 1rem;
  text-align: center;
}
/* line 448, style.scss */
#your-free-profile .cta-box {
  position: absolute;
  top: 288px;
  top: 18rem;
  width: 48.9148580968%;
  float: left;
  margin-right: 2.1702838063%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 32px;
  padding: 0rem 2rem;
  text-align: center;
}
/* line 456, style.scss */
#your-free-profile .cta-box *[role=button] {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem;
  border: 1px solid #f5780a;
  border-radius: 2px;
  background: #f5780a;
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 43, ../../static/scss/modules/_buttons.scss */
#your-free-profile .cta-box *[role=button]:hover {
  background: #f7933b;
}
/* line 460, style.scss */
#your-free-profile .cta-box p {
  padding-top: 16px;
  padding-top: 1rem;
}

/* line 113, ../../static/scss/modules/_base.scss */
#what-others-say:before {
  margin-bottom: 64px;
  margin-bottom: 4rem;
  content: " ";
  display: block;
  height: 1px;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(40%, #cccccc), color-stop(60%, #cccccc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -moz-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
}
/* line 134, ../../static/scss/modules/_base.scss */
#what-others-say:after {
  content: "";
  display: table;
  clear: both;
}
/* line 470, style.scss */
#what-others-say > h2 {
  padding-bottom: 32px;
  padding-bottom: 2rem;
}
/* line 474, style.scss */
#what-others-say .carousel {
  width: 100%;
  float: left;
  margin-right: 2.1702838063%;
  position: relative;
  padding-bottom: 48px;
  padding-bottom: 3rem;
  overflow: hidden;
}
/* line 482, style.scss */
#what-others-say .carousel .carousel-wrapper {
  width: 100%;
  float: left;
  margin-right: 2.1702838063%;
  height: 304px;
  height: 19rem;
  position: relative;
}
/* line 488, style.scss */
#what-others-say .carousel ul {
  width: 100%;
  float: left;
  margin-right: 2.1702838063%;
  height: 304px;
  height: 19rem;
  left: 0;
}
/* line 493, style.scss */
#what-others-say .carousel ul li {
  height: 288px;
  height: 18rem;
  width: 40.4006677796%;
  float: left;
  margin-right: 2.1702838063%;
  position: absolute;
  -webkit-box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-top: 16px;
  margin-top: 1rem;
  margin-left: 48px;
  margin-left: 3rem;
  padding: 8px;
  padding: 0.5rem;
}
/* line 503, style.scss */
#what-others-say .carousel ul li .img {
  padding-right: 16px;
  padding-right: 1rem;
  float: left;
  width: 144px;
  width: 9rem;
  height: 352px;
  height: 22rem;
  overflow: hidden;
}
/* line 510, style.scss */
#what-others-say .carousel ul li .img > img {
  width: 100%;
}
/* line 514, style.scss */
#what-others-say .carousel ul li .text {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}
/* line 517, style.scss */
#what-others-say .carousel ul li .quote {
  font-style: italic;
}
/* line 520, style.scss */
#what-others-say .carousel ul li .doc-name {
  margin-top: 8px;
  margin-top: 0.5rem;
  font-weight: 600;
}
/* line 527, style.scss */
#what-others-say .carousel .arrow {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem;
  border: 1px solid #f5780a;
  border-radius: 2px;
  background: #f5780a;
  z-index: 9999;
  position: absolute;
  top: 136px;
  top: 8.5rem;
  cursor: pointer;
  width: 32px;
  width: 2rem;
  height: 64px;
  height: 4rem;
  padding: 0;
}
/* line 43, ../../static/scss/modules/_buttons.scss */
#what-others-say .carousel .arrow:hover {
  background: #f7933b;
}
/* line 537, style.scss */
#what-others-say .carousel .arrow.right {
  background-image: url(img/carousel-arrow-right.png);
  background-position: center;
  background-repeat: no-repeat;
  right: 0;
}
/* line 543, style.scss */
#what-others-say .carousel .arrow.left {
  background-image: url(img/carousel-arrow-left.png);
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
}
/* line 552, style.scss */
#what-others-say .cta-box-large {
  width: 82.9716193656%;
  float: left;
  margin-right: 2.1702838063%;
  margin-left: 8.5141903172%;
}
/* line 134, ../../static/scss/modules/_base.scss */
#what-others-say .cta-box-large:after {
  content: "";
  display: table;
  clear: both;
}
/* line 558, style.scss */
#what-others-say .cta-box-large .cta-box-left {
  width: 40.4006677796%;
  float: left;
  margin-right: 2.1702838063%;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}
/* line 564, style.scss */
#what-others-say .cta-box-large .cta-box-right {
  width: 40.4006677796%;
  float: left;
  margin-right: 2.1702838063%;
  float: right;
  margin-right: 0;
  text-align: center;
}
/* line 569, style.scss */
#what-others-say .cta-box-large .cta-box-right *[role=button] {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem;
  border: 1px solid #f5780a;
  border-radius: 2px;
  background: #f5780a;
}
/* line 43, ../../static/scss/modules/_buttons.scss */
#what-others-say .cta-box-large .cta-box-right *[role=button]:hover {
  background: #f7933b;
}
/* line 573, style.scss */
#what-others-say .cta-box-large .cta-box-right > p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  padding-top: 16px;
  padding-top: 1rem;
  text-align: center;
}

/* line 582, style.scss */
footer {
  overflow: visible;
  /* Facebook begin */
  /* Facebook end */
  /* Twitter begin */
  /* Twitter end */
  /* Google+ begin */
  /* Google+ end */
  /* Switch begin */
  /* Switch end */
  /* Tooltips begin */
}
/* line 134, ../../static/scss/modules/_base.scss */
footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 586, style.scss */
footer > .row {
  margin-bottom: 64px;
  margin-bottom: 4rem;
}
/* line 589, style.scss */
footer > .row > div {
  height: 100%;
}
/* line 594, style.scss */
footer .logo {
  width: 6.3439065109%;
  float: left;
  margin-right: 2.1702838063%;
  width: 108px;
  min-height: 40px;
}
/* line 599, style.scss */
footer #press {
  width: 40.4006677796%;
  float: left;
  margin-right: 2.1702838063%;
  background: #dfdfdf;
}
/* line 603, style.scss */
footer #socialshareprivacy {
  width: 48.9148580968%;
  float: left;
  margin-right: 2.1702838063%;
  float: right;
  margin-right: 0;
}
/* line 608, style.scss */
footer #socialshareprivacy ul {
  margin-top: 0.45rem;
}
/* line 611, style.scss */
footer #socialshareprivacy ul li {
  padding-left: 16px;
  padding-left: 1rem;
}
/* line 618, style.scss */
footer #socialshareprivacy .social_share_privacy_area .facebook {
  width: 165px;
}
/* line 621, style.scss */
footer #socialshareprivacy .social_share_privacy_area .twitter {
  width: 120px;
}
/* line 623, style.scss */
footer #socialshareprivacy .social_share_privacy_area .twitter .tweet {
  width: 60px;
}
/* line 625, style.scss */
footer #socialshareprivacy .social_share_privacy_area .gplus {
  width: 105px;
}
/* line 627, style.scss */
footer #socialshareprivacy .social_share_privacy_area .gplus .gplusone {
  width: 35px;
}
/* line 633, style.scss */
footer nav {
  clear: both;
}
/* line 635, style.scss */
footer nav > div {
  width: 23.3722871452%;
  float: left;
  margin-right: 2.1702838063%;
}
/* line 638, style.scss */
footer nav > div:last-child {
  float: right;
  margin-right: 0;
}
/* line 643, style.scss */
footer nav h4 {
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: none;
}
/* line 650, style.scss */
footer nav h4 + ul > li {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}
/* line 656, style.scss */
footer .social_share_privacy_area .clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
/* line 666, style.scss */
footer .social_share_privacy_area {
  clear: both;
  /* NM: Removing it intentionally because it breaks the alignment with the logo. */
  /*margin: 20px 0 !important;*/
  list-style-type: none;
  padding: 0 !important;
  width: auto;
  height: 25px;
  display: block;
  font-family: Arial, sans-serif;
}
/* line 678, style.scss */
footer .social_share_privacy_area.vertical {
  height: auto;
}
/* line 682, style.scss */
footer .social_share_privacy_area li {
  margin: 0 !important;
  padding: 0 !important;
  height: 21px;
  float: left;
}
/* line 689, style.scss */
footer .social_share_privacy_area.vertical li {
  float: none;
  clear: both;
  width: 150px;
  height: auto;
  margin: 0 0 10px !important;
}
/* line 697, style.scss */
footer .social_share_privacy_area.vertical li.settings_info {
  height: 24px;
}
/* line 701, style.scss */
footer .social_share_privacy_area.vertical.switch_right li {
  width: 120px;
}
/* line 705, style.scss */
footer .social_share_privacy_area li .dummy_btn {
  float: left;
  margin: 0 0 0 10px;
  cursor: pointer;
  padding: 0;
  height: inherit;
}
/* line 713, style.scss */
footer .social_share_privacy_area.vertical li .dummy_btn {
  width: 90px;
}
/* line 717, style.scss */
footer .social_share_privacy_area.vertical.switch_right li .dummy_btn {
  margin-left: 0;
}
/* line 721, style.scss */
footer .social_share_privacy_area li div iframe {
  overflow: hidden;
  height: inherit;
  width: inherit;
}
/* line 728, style.scss */
footer .social_share_privacy_area .facebook {
  width: 180px;
  display: inline-block;
}
/* line 733, style.scss */
footer .social_share_privacy_area.vertical .facebook {
  display: block;
}
/* line 737, style.scss */
footer .social_share_privacy_area .facebook .fb_like iframe {
  width: 130px;
}
/* line 743, style.scss */
footer .social_share_privacy_area .twitter {
  width: 148px;
}
/* line 747, style.scss */
footer .social_share_privacy_area li div.tweet {
  width: 100px;
}
/* line 753, style.scss */
footer .social_share_privacy_area .gplus {
  width: 123px;
}
/* line 757, style.scss */
footer .social_share_privacy_area li div.gplusone {
  width: 75px;
}
/* line 763, style.scss */
footer .social_share_privacy_area li .switch {
  text-indent: -9999em;
  background: transparent url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_on_off.png) no-repeat 0 0 scroll;
  width: 23px;
  height: 12px;
  overflow: hidden;
  float: left;
  margin: 4px 0 0;
  padding: 0;
  cursor: pointer;
}
/* line 775, style.scss */
footer .social_share_privacy_area.vertical.switch_right li .switch {
  float: right;
}
/* line 779, style.scss */
footer .social_share_privacy_area.skin-dark li .switch {
  background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_on_off_dark.png);
}
/* line 783, style.scss */
footer .social_share_privacy_area li .switch.on {
  background-position: 0 -12px;
}
/* line 789, style.scss */
footer .social_share_privacy_area li.help_info {
  position: relative;
}
/* line 794, style.scss */
footer .social_share_privacy_area li.help_info .info,
footer .social_share_privacy_area li .help_info.icon .info {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 290px;
  padding: 10px 15px;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 3px 4px #999;
  -webkit-box-shadow: 0 3px 4px #999;
  box-shadow: 0 3px 4px #999;
  background-color: #fdfbec;
  color: #000;
  z-index: 500;
}
/* line 817, style.scss */
footer .social_share_privacy_area li.gplus.help_info .info {
  left: -60px;
}
/* line 821, style.scss */
footer .social_share_privacy_area li .help_info.icon .info {
  left: -243px;
  width: 350px;
}
/* line 827, style.scss */
footer .social_share_privacy_area.vertical li.gplus.help_info .info,
footer .social_share_privacy_area.vertical li .help_info.icon .info {
  left: 0;
}
/* line 832, style.scss */
footer .social_share_privacy_area li.help_info.display .info,
footer .social_share_privacy_area li .help_info.icon.display .info {
  display: block;
}
/* line 836, style.scss */
footer .social_share_privacy_area li.help_info.info_off.display .info {
  display: none;
}
/* line 840, style.scss */
footer .social_share_privacy_area li .help_info.icon {
  background: white url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info.png) no-repeat center center scroll;
  width: 25px;
  height: 20px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 2px solid #e7e3e3;
  border-right-width: 0;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  margin: 0;
  padding: 0;
}
/* line 856, style.scss */
footer .social_share_privacy_area.skin-dark li .help_info.icon {
  background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info_dark.png), -moz-linear-gradient(top, #6a6767 0, #2d2a2a 100%);
  background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info_dark.png), -webkit-gradient(linear, center top, center bottom, color-stop(0%, #6a6767), color-stop(100%, #2d2a2a));
  background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info_dark.png), -webkit-linear-gradient(top, #6a6767 0, #2d2a2a 100%);
  background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info_dark.png), -o-linear-gradient(top, #6a6767 0, #2d2a2a 100%);
  background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info_dark.png), -ms-linear-gradient(top, #6a6767 0, #2d2a2a 100%);
  background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info_dark.png), linear-gradient(top, #6a6767 0%, #2d2a2a 100%);
  background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info_dark.png);
  background-color: #4f4c4c;
  border-color: #7e7e7e;
}
/* line 868, style.scss */
footer .social_share_privacy_area li.settings_info .settings_info_menu.on .help_info.icon {
  border-top-width: 0;
  border-left-width: 0;
}
/* line 873, style.scss */
footer .social_share_privacy_area li.settings_info .settings_info_menu.perma_option_off .help_info.icon {
  border-right-width: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: none;
}

/* Tooltips end */
