// The first part is just partially copied from common.scss. When all imports from there
// are reorganized, then this copying should be avoided, too.
@import "compass/reset";
@import "partials/base";

// Imports continued at the end of the file...


/* DEFAULT STYLING FOR HTML ELEMENTS */

html {
  @include font-gudea;
  line-height: 120%;
  background: $color-at-white;
  color: $color-at-grey-darker;
}

h1 {
  @include font32;
  @include font-lato;
  font-weight: 400;
  color: $color-at-blue;
}

h2 {
  @include font30;
  @include font-lato;
  font-weight: 300;
  color: $color-at-blue;
}

h3 {
  @include font16;
  @include font-lato;
  font-weight: 300;
  color: $color-at-blue;
}

h4 {
  @include rem-fallback(font-size, 1.4);
}

p {
  line-height: 150%;
}

a {
  color: $color-at-blue;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

em {
  font-weight: 700;
}

body main > section {
  $section-vertical-spacing: 3;
  @include rem-fallback(margin-bottom, $section-vertical-spacing);
  @include rem-fallback(padding-bottom, $section-vertical-spacing);
}

/* END - DEFAULT STYLING FOR HTML ELEMENTS */

@import "partials/header";
@import "partials/footer";




/* PRAXIS MARKETING SPECIFICS *****************************************************************************************/

// Override default. Consider removing it from the defaults!
body main > section {
  margin: 0;
}

header nav {
  background: $color-at-blue;
  width: 100%;

  & > ul {
    text-align: center;
    a {
      @include font18;
      @include rem-fallback(height, 3);
      @include rem-fallback(line-height, 3);
      display: block;
      width: 100%;

      &:hover {
        background: $color-at-white;
        color: $color-at-blue;
        text-decoration: none;
      }
    }   
  }
}

/*CSS FOR THE FIXED NAV. Need to be redesigned!*/

.fixed nav {
  @include rem-fallback(top, 0);
  @include rem-fallback(left, 0);
  @include rem-fallback(margin-top, 0);
  width: 100%;
  z-index: 99999;
  box-shadow: 0 0 3rem 0.5rem rgba(0,0,0,0.5);
}

.nav-wrapper{
  @include rem-fallback(margin-top, 2);
}

#intro {
  @include clearfix;
  background: url(img/bg_hero.jpg) right 0 no-repeat;
  @include rem-fallback(padding, 1); 

  ul {
    @include rem-fallback(padding-left, 2);
    @include rem-fallback(padding-top, 3);
    @include font24;
    @include font-lato;

    li {
      @include rem-fallback(padding-top, 1);

      &:before {
        font-family: at-assets;
        content: $flaticon-checkmark;
        color: $color-at-blue;
        font-size: 120%;
        position: relative;
        top: 2px;
        left: -5px;
      }
    }
  }

  .cta-box {
    @include rem-fallback(margin-top, 4);
    @include rem-fallback(margin-bottom, 2);
  }

  *[role=button] {
    @include flat-button($color-at-orange, large);
  }

  .press-links {
    @include span-columns(7);
    @include omega;
    text-align: right;

    & > div {
      @include inline-block;
      @include rem-fallback(padding-left, 1);
    }
  }
}

#how-it-works {
  @include gradient-separator;
  @include clearfix;
  
  & > div {
    & > h1 { @include rem-fallback(padding-bottom, 1); }

    & > h3 { 
      @include rem-fallback(padding-bottom, 1);
      @include rem-fallback(padding-top, 1);
      @include font18;
    }

    .steps {
      @include rem-fallback(margin-top, 1);
      @include rem-fallback(margin-bottom, 2);
      @include clearfix;

      & > * {
        @include span-columns(4);
        @include box-sizing(border-box);
        position: relative;

        $step-padding: 0.5;
        $background-height: 12.5;
        @include rem-fallback(padding, 0, $step-padding);

        &:last-child {
          @include omega;
        }

        &:before {
          content: " ";
          position: absolute;
          background: url(img/step-1.png) no-repeat;
          @include rem-fallback(left, $step-padding);
          @include rem-fallback(right, $step-padding);
          top: 0;
          @include rem-fallback(height, $background-height);
          overflow: hidden;
        }

        h4 {
          position: absolute;
          @include rem-fallback(top, $background-height);
          left: 0;
          $radius: 2.5;
          @include rem-fallback(margin-top, -$radius);
          @include rem-fallback(width, $radius);
          @include rem-fallback(height, $radius);
          @include rem-fallback(line-height, $radius);
          background: $color-at-blue;
          @include rem-fallback(border-radius, $radius);
          color: $color-at-white;
          text-align: center;
        }

        p {
          @include rem-fallback(padding-top, 1);
          @include rem-fallback(margin, auto);
          text-align: justify;
          @include rem-fallback(margin-top, 13);
        }
      }
      
      #step-1:before { background-image: url(img/step-1-new.png); 
        background-size: 100%;
      } 
      #step-2:before { background-image: url(img/step-2-new.png); 
        background-size: 100%;
      } 
      #step-3:before { background-image: url(img/step-3-new.png); 
        background-size: 100%;
      }    
    }

    .cta-box {
      @include span-columns(6);
      @include box-sizing(border-box);
      @include rem-fallback(padding, 0, 2);
      @include font14;
      text-align: center;

      *[role=button] {
        @include flat-button($color-at-orange, large);
        @include rem-fallback(margin-top, 1);
      }
    }

    .contact-box {
      @include span-columns(6);
      @include box-sizing(border-box);
      @include omega;
      background: $color-at-blue;
      color: $color-at-white;
      @include rem-fallback(padding, 1); 
      text-align: center;

      & > a {
        color: $color-at-white;
        @include rem-fallback(padding-left, 1);
        
        &[href*=mailto]:before {
          padding-right: 0.2em;
          position: relative;
          top: 1px;
          content: url(img/mail.png);
        }
      }
    }
  }
} // END - #how-it-works

#advantages {
  @include gradient-separator;
  @include clearfix;

  @include background(url(img/nurse.png) no-repeat 95% 100%);

  & > h3 {
    @include rem-fallback(padding-top, 2);
    @include rem-fallback(padding-bottom, 1);
    @include font24;
  }

  *[role=button] {
    @include flat-button($color-at-orange, large);
  }

  ul {
    @include font18;
    @include rem-fallback(padding-left, 1);
    @include rem-fallback(padding-bottom, 3);

    li {
      @include rem-fallback(padding-top, 1);

      &:before {
        font-family: at-assets;
        content: $flaticon-checkmark;
        color: $color-at-blue;
        font-size: 120%;
        position: relative;
        top: 2px;
        left: -5px;
      }
    }
  }
}

#your-free-profile {
  @include gradient-separator;
  @include clearfix;

  & > h2 {
    @include rem-fallback(padding-bottom, 2);
  }

  .big-mac {
    position: relative;
    @include span-columns(12);
    background: url(img/mac_new.png);
    background-repeat: no-repeat;
    @include rem-fallback(height, 26);

    .carousel {
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: block;
      position: absolute;
      @include rem-fallback(top, 0);
      @include rem-fallback(left, 1);

      .controls {
        position: absolute;
        @include rem-fallback(top, 17);
        @include rem-fallback(left, 37);
        @include rem-fallback(width, 18);
        @include rem-fallback(height, 6);
      
        .active {
            background: $color-at-orange;
          } 
        .carousel-display-point {
          @include rem-fallback(height, 2);
          @include inline-block;
          
          div {
            $radius: 1;
            @include rem-fallback(margin, 0.5);
            @include rem-fallback(width, $radius);
            @include rem-fallback(height, $radius);
            @include rem-fallback(border-radius, $radius);
            border: 1px solid $color-at-grey-dark;
            @include inline-block;

            &.active {
              background: $color-at-orange;
            }
          }
        }

        .arrow {
          @include flat-button($color-at-orange, large);
          z-index: 9999;
          cursor: pointer;
          @include rem-fallback(width, 0.5);
          @include rem-fallback(height, 2);
          @include inline-block;

          &.right {
            background-image: url(img/carousel-arrow-right.png);
            background-position: center;
            background-repeat: no-repeat;
          }
          &.left {
            background-image: url(img/carousel-arrow-left.png);
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }

      .overlay {
        display: none;
        @include span-columns(5);
        @include omega;
        @include rem-fallback(left, 2.5);
        @include rem-fallback(top, 0);
        @include rem-fallback(margin-right, 2);
        @include rem-fallback(margin-top, 1);

        // MOVED IT TO .large-image
        //@include box-shadow(0 0 1rem 0.25rem rgba($color-at-grey-darker, 0.5));
        //@include rem-fallback(border-radius, 1);
        //border: 0.25rem solid $color-at-blue;
        //@include rem-fallback(height, 10);

        &.active {
          display: block;
        }
        .large-image {
          @include rem-fallback(height, 8);
          @include rem-fallback(margin, 1);
          border: 0.25rem solid $color-at-blue;
          @include box-shadow(0 0 1rem 0.25rem rgba($color-at-grey-darker, 0.5));
          @include rem-fallback(border-radius, 1);

          &.first { background: url(img/advantages_calender.png) no-repeat;}
          &.second { background: url(img/advantages_docname.png) no-repeat; }
          &.third { background: url(img/advantages_map.png) no-repeat;}
        }

        .gradient-box {
          position: absolute;
          @include rem-fallback(width, 8.5);
          @include rem-fallback(height, 3.5);
          @include rem-fallback(border-radius, 0.5rem);
          background: linear-gradient(rgba($color-at-grey, 0.1) rgba($color-at-grey-darker, 0.3));
          @include box-shadow(0 0 1rem 0.25rem rgba($color-at-grey-darker, 0.5));
          border: 0.15rem solid $color-at-blue;

          &.first {
            @include rem-fallback(top, 8);
            @include rem-fallback(left, 12);
          }
          &.second {
            @include rem-fallback(top, 1.5);
            @include rem-fallback(left, 3.5);
          }
          &.third {
            @include rem-fallback(top, 8);
            @include rem-fallback(left, 3.5);
          }
        }

        .text {
          @include rem-fallback(padding-top, 1);
          text-align: center;
        }
      }
    }
  }

  .cta-box {
    position: absolute;
    @include rem-fallback(top, 18);
    @include span-columns(6);
    @include box-sizing(border-box);
    @include rem-fallback(padding, 0, 2);
    text-align: center;

    *[role=button] {
      @include flat-button($color-at-orange, large);
      @include rem-fallback(margin-top, 1);
    }
    p {
      @include rem-fallback(padding-top, 1);
    }
  }
} // END - #your-free-profile

#what-others-say {
  @include gradient-separator;
  @include clearfix;

  & > h2 {
    @include rem-fallback(padding-bottom, 2);
  }

  .carousel {
    @include span-columns(12);
    position: relative;
    @include rem-fallback(padding-bottom, 3);
    overflow: hidden;

    $carousel-height: 19;

    .carousel-wrapper {
      @include span-columns(12);
      @include rem-fallback(height, $carousel-height);
      position: relative;
    }

    ul {
      @include span-columns(12);
      @include rem-fallback(height,  $carousel-height);
      left: 0;

      li {
        @include rem-fallback(height, $carousel-height - 1);
        @include span-columns(5);
        position: absolute;
        @include box-shadow(0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1));
        @include inline-block;
        @include rem-fallback(margin-top, 1);
        @include rem-fallback(margin-left, 3);
        @include rem-fallback(padding, 0.5);

        .img {
          @include rem-fallback(padding-right, 1);
          float: left;
          @include rem-fallback(width, 9);
          @include rem-fallback(height, 22);
          overflow: hidden;

          & > img {
            width: 100%;
          }
        }
        .text {
          @include font14;
        }
        .quote {
          font-style: italic;
        }
        .doc-name {
          @include rem-fallback(margin-top, 0.5);
          font-weight: 600;
        }
      }
    }

    .arrow {
      @include flat-button($color-at-orange, large);
      z-index: 9999;
      position: absolute;
      @include rem-fallback(top, $carousel-height/2 - 1);
      cursor: pointer;
      @include rem-fallback(width, 2);
      @include rem-fallback(height, 4);
      padding: 0;

      &.right {
        background-image: url(img/carousel-arrow-right.png);
        background-position: center;
        background-repeat: no-repeat;
        right: 0;
      }
      &.left {
        background-image: url(img/carousel-arrow-left.png);
        background-position: center;
        background-repeat: no-repeat;
        left: 0;
      }
    }
  }

  .cta-box-large {
    @include clearfix;
    @include span-columns(10);
    @include pre(1);
    // @include rem-fallback(padding-left, 4);

    .cta-box-left {
      @include span-columns(5);
      text-align: center;
      @include font14;
    }

    .cta-box-right{
      @include span-columns(5);
      @include omega;
      text-align: center;
      
      *[role=button] {
        @include flat-button($color-at-orange, large);
      }

      & > p {
        @include font14;
        @include rem-fallback(padding-top, 1);
        text-align: center;
      }
    }
  }
} // END #what-others-say

footer {
  @include clearfix;
  overflow: visible;

  & > .row {
    @include rem-fallback(margin-bottom, 4);

    & > div {
      height: 100%;
    }
  }

  .logo {
    @include span-columns(1);
    width: (216px/2);
    min-height: 40px;
  }
  #press {
    @include span-columns(5);
    background: #dfdfdf;
  }
  #socialshareprivacy {
    // This is too much really, but fitting it better requires changing the social share plugin.
    @include span-columns(6);
    @include omega;

    ul {
      margin-top: 0.45rem;

      li {
        @include rem-fallback(padding-left, 1);
      }
    }

    // Social share plugin overrides
    .social_share_privacy_area {
      .facebook {
        width: 165px;
      }
      .twitter {
        width: 120px;
        .tweet { width: 60px; }
      }
      .gplus {
        width: 105px;
        .gplusone { width: 35px; }
      }
    }
    // END - Social share plugin overrides
  }

  nav {
    clear: both;
    & > div {
      @include span-columns(3);

      &:last-child {
        @include omega;
      }
    }

    h4 {
      @include rem-fallback(padding-bottom, 0.5);
      @include rem-fallback(margin-bottom, 0.5);
      @include rem-fallback(font-size, 1);
      font-weight: 700;
      text-transform: none;

      & + ul > li { 
        @include font16;
      }
    }
  }

  .social_share_privacy_area .clearfix::after {
    content: "";
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    clear: both;
    display: block;
  }

  .social_share_privacy_area {
    clear: both;
    /* NM: Removing it intentionally because it breaks the alignment with the logo. */ 
    /*margin: 20px 0 !important;*/
    list-style-type: none;
    padding: 0 !important;
    width: auto;
    height: 25px;
    display: block;
    font-family: Arial, sans-serif;
  }

  .social_share_privacy_area.vertical {
    height: auto;
  }

  .social_share_privacy_area li {
    margin: 0 !important;
    padding: 0 !important;
    height: 21px;
    float: left;
  }

  .social_share_privacy_area.vertical li {
    float: none;
    clear: both;
    width: 150px;
    height: auto;
    margin: 0 0 10px !important;
  }

  .social_share_privacy_area.vertical li.settings_info {
    height: 24px;
  }

  .social_share_privacy_area.vertical.switch_right li {
    width: 120px;
  }

  .social_share_privacy_area li .dummy_btn {
    float: left;
    margin: 0 0 0 10px;
    cursor: pointer;
    padding: 0;
    height: inherit;
  }

  .social_share_privacy_area.vertical li .dummy_btn {
    width: 90px;
  }

  .social_share_privacy_area.vertical.switch_right li .dummy_btn {
    margin-left: 0;
  }

  .social_share_privacy_area li div iframe {
    overflow: hidden;
    height: inherit;
    width: inherit;
  }

/* Facebook begin */
  .social_share_privacy_area .facebook {
    width: 180px;
    display: inline-block;
  }

  .social_share_privacy_area.vertical .facebook {
    display: block;
  }

  .social_share_privacy_area .facebook .fb_like iframe {
    width: 130px;
  }
/* Facebook end */

/* Twitter begin */
  .social_share_privacy_area .twitter {
    width: 148px;
  }

  .social_share_privacy_area li div.tweet {
    width: 100px;
  }
  /* Twitter end */

/* Google+ begin */
  .social_share_privacy_area .gplus {
    width: 123px;
  }

  .social_share_privacy_area li div.gplusone {
    width: 75px;
  }
/* Google+ end */

/* Switch begin */
  .social_share_privacy_area li .switch {
    text-indent: -9999em;
    background: transparent url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_on_off.png) no-repeat 0 0 scroll;
    width: 23px;
    height: 12px;
    overflow: hidden;
    float: left;
    margin: 4px 0 0;
    padding: 0;
    cursor: pointer;
  }

  .social_share_privacy_area.vertical.switch_right li .switch {
    float: right;
  }

  .social_share_privacy_area.skin-dark li .switch {
    background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_on_off_dark.png);
  }

  .social_share_privacy_area li .switch.on {
    background-position: 0 -12px; 
  }
/* Switch end */

/* Tooltips begin */
  .social_share_privacy_area li.help_info {
    position: relative; 
  }

  .social_share_privacy_area li.help_info .info, 
  .social_share_privacy_area li .help_info.icon .info {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 290px;
    padding: 10px 15px;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    border: 1px solid #ccc;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
    border-radius: 4px;
      -moz-box-shadow: 0 3px 4px #999;
      -webkit-box-shadow: 0 3px 4px #999;
    box-shadow: 0 3px 4px #999;
    background-color: #fdfbec;
    color: #000;
    z-index: 500;
}

  .social_share_privacy_area li.gplus.help_info .info {
    left: -60px;
  }

  .social_share_privacy_area li .help_info.icon .info {
    left: -243px;
    width: 350px;
  }

  .social_share_privacy_area.vertical li.gplus.help_info .info,
  .social_share_privacy_area.vertical li .help_info.icon .info {
    left: 0;
  }

  .social_share_privacy_area li.help_info.display .info, 
  .social_share_privacy_area li .help_info.icon.display .info {
    display: block;
  }

  .social_share_privacy_area li.help_info.info_off.display .info {
    display: none;
  }

  .social_share_privacy_area li .help_info.icon {
    background: #fff url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info.png) no-repeat center center scroll;
    width: 25px;
    height: 20px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #e7e3e3;
    border-right-width: 0;
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    margin: 0;
    padding: 0;
  }

  .social_share_privacy_area.skin-dark li .help_info.icon {
    background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info_dark.png),-moz-linear-gradient(top,#6a6767 0,#2d2a2a 100%);
    background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info_dark.png),-webkit-gradient(linear,center top,center bottom,color-stop(0%,#6a6767),color-stop(100%,#2d2a2a));
    background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info_dark.png),-webkit-linear-gradient(top,#6a6767 0,#2d2a2a 100%);
    background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info_dark.png),-o-linear-gradient(top,#6a6767 0,#2d2a2a 100%);
    background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info_dark.png),-ms-linear-gradient(top,#6a6767 0,#2d2a2a 100%);
    background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info_dark.png),linear-gradient(top,#6a6767 0,#2d2a2a 100%);
    background-image: url(/static/jquery/plugins/socialshareprivacy/socialshareprivacy/images/socialshareprivacy_info_dark.png);
    background-color: #4f4c4c;
    border-color: #7e7e7e;
  }

  .social_share_privacy_area li.settings_info .settings_info_menu.on .help_info.icon {
    border-top-width: 0;
    border-left-width: 0;
  }

  .social_share_privacy_area li.settings_info .settings_info_menu.perma_option_off .help_info.icon {
    border-right-width: 2px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    border-radius: 5px;
    display:none;
  }
}

/* Tooltips end */



