<div class="tab-content">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    {{ 'admin.ui.bookings.information'|trans }}
                </div>
                <div class="card-block-data-table">
                    {{ include('admin/_form_data_table.html.twig', { data_custom_keys: ['id', 'status', 'appointment_start_at', 'returning_visitor', 'flexible_time', 'flexible_location', 'source_platform', 'created_at', 'created_by', 'updated_at', 'updated_by'] }) }}
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    {{ 'admin.ui.bookings.comments'|trans }}
                </div>
                <div class="card-block-data-table">
                    {{ include('admin/_form_data_table.html.twig', { data_custom_keys: ['comment_intern'] }) }}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    {{ 'admin.ui.bookings.doctor'|trans }}
                </div>
                <div class="card-block-data-table">
                    {{ include('admin/_form_data_table.html.twig', { data_custom_keys: ['has_contract', 'user_id', 'location_id', 'doctor_review'] }) }}
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    {{ 'admin.ui.bookings.patient'|trans }}
                </div>
                <div class="card-block-data-table">
                    {{ include('admin/_form_data_table.html.twig', { data_custom_keys: ['gender', 'first_name', 'last_name', 'phone', 'email', 'insurance_id'] }) }}
                </div>
            </div>
        </div>
    </div>
</div>