{% extends '::base.html.twig' %}

{% block content %}

{% set reviewCount = aggregateReviews(location)|length %}

<div class="container" itemscope itemtype="http://schema.org/MedicalOrganization">
    <div class="row">
        {{ block('breadcrumbs') }}

        <div class="col-sm-12">
            <hr class="blue-border" />
            <div class="row m-b">

                <div class="col-sm-2" itemprop="photo" itemscope itemtype="http://schema.org/MediaObject">
                    <img class="fullsize-image with-border" itemprop="contentUrl" src="{{ getProfileAssetUrl(location.getProfileAssetId, location.getProfileAssetFilename, constant('ArzttermineBundle\\Media\\Asset::GFX_SIZE_MEDIUM_PORTRAIT'), 0, false, constant('ASSET_OWNERTYPE_LOCATION')) }}" alt="" />
                </div>

                <div class="col-sm-6 m-b">
                    <div class="profile-header">
                        <h1 itemprop="name">{{ location.getName }}</h1>
                        {% if location.getPhone is not empty %}
                        <div class="phone" itemprop="telephone">
                            <a href="tel:{{ location.getPhone }}" itemprop="telephone"><span class="fa fa-phone"></span> {{ location.getPhone }}</a>
                        </div>
                        {% endif %}
                    </div>
                    <p itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="address">{{ getAddress(location)|raw }}</span>
                        <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                            <meta itemprop="latitude" content="{{ location.getLat }}"/>
                            <meta itemprop="longitude" content="{{ location.getLng }}"/>
                        </span>
                    </p>

                    <table class="table-top-aligned-with-nonbreaking-labels no-table-when-mobile">
                        <tr>
                            <td>
                                <h4>{{ 'ui.location.profile.medical_specialties'|trans }}</h4>
                            </td>
                            <td class="p-l-1" itemprop="medicalSpecialty">
                                 {% if location.getPreferredMedicalSpecialtyText is not empty %}
                                    {{ location.getPreferredMedicalSpecialtyText }}
                                {% else %}
                                    {{ getMedicalSpecialtyText(location.getMedicalSpecialtyIds, false, ', ') }}
                                {% endif %}
                            </td>
                        </tr>
                        {% if reviewCount > 0 %}
                        <tr>
                            <td>
                                <h4>{{ 'ui.location.profile.rating_1'|trans }}</h4>
                            </td>
                            <td class="rating-star p-l-1">
                                {% include 'star-rating.html.twig' with { 'rating': location.getRating1, 'additional_classes': 'm-l-0' } %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>{{ 'ui.location.profile.rating_2'|trans }}</h4>
                            </td>
                            <td class="rating-star p-l-1">
                                {% include 'star-rating.html.twig' with { 'rating': location.getRating2, 'additional_classes': 'm-l-0' } %}
                            </td>
                        </tr>
                        <tr itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                            <td>
                                <h4>{{ 'ui.location.profile.rating_3'|trans }}</h4>
                            </td>
                            <td class="rating-star p-l-1">
                                <meta itemprop="reviewcount" content="{{ reviewCount }}"/>
                                {% include 'star-rating.html.twig' with { 'rating': location.getRating3, 'additional_classes': 'm-l-0' } %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>

                </div>

                <div class="col-sm-4">
                    <div id="search-map" class="profile-map"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            {# SEARCH RESULTS #}
            <div class="result-list practice-profile" id="providers">
                <h2>{{ 'ui.location.profile.choose_your_appointment'|trans }}</h2>

                {% include ':search:searchresult-template.html.twig' %}
                <div class="footer"></div>
            </div>
            {# END - SEARCH RESULTS #}

            {% if location.getInfo1 or location.getInfoSeo %}
                <h2>{{ 'ui.doctor.profile.additional.header'|trans }}</h2>

                {% if location.getInfo1 %}
                    <div class="row m-y-2">
                        <div class="col-sm-3">
                            <h5><em>{{ 'ui.location.profile.info_1'|trans }}</em></h5>
                        </div>
                        <div class="col-sm-9" itemprop="description">
                            <p>{{ location.getInfo1()|nl2br }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if location.getInfoSeo %}
                    <div class="row m-y-2">
                        <div class="col-sm-3">
                            <h5><em>{{ 'ui.location.profile.info_seo'|trans }}</em></h5>
                        </div>
                        <div class="col-sm-9" itemprop="description">
                            <p>{{ location.getInfoSeo|nl2br }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google.maps.api.key }}"></script>
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/searchmap.min.js') }}"></script>
    <script type="text/javascript">
        var searchData = {{ data|raw }};
    </script>
{% endblock %}