	<div id="poweredBy">In Kooperation mit Arzttermine.de</div>
</div>

{if $page_middle}
<div id="page-middle">
	<div class="page-container">
		<div class="page-wrapper">
			{$page_middle}
			<div class="clear"></div>
		</div>
	</div>
</div>
{/if}

    <script type="text/javascript">
        var widget = '{$app->getWidgetContainer()->getSlug()}';
    </script>
    
</body>
</html>