{# Central calendar view inside the planner section that displays appointments that are currently active in the system #}
<div id="planner" data-locale="{{ locale }}" data-user-id="{{ doctor.getId }}" data-location-id="{{ practice.getId }}">
    
</div>

{# Modal popup skeleton #}
{% include 'doctor/dashboard/planner/modal.html.twig' %}