<div id="planner-block-config" aria-hidden="true" class="modal fade" data-name="modal-calendar" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-vertical-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h2 id="modal-label">{{ 'ui.doctor.dashboard.planner.modal.title'|trans }}</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>{{ 'ui.doctor.dashboard.planner.modal.block_length'|trans }}</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="number" class="form-control text-right" id="block_length" min="5" step="5">
                                    <div class="input-group-addon">{{ 'ui.doctor.dashboard.planner.modal.block_length_suffix'|trans }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <label>{{ 'ui.doctor.dashboard.planner.modal.recurrence_interval.label'|trans }}</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">
                                <select class="form-control form-control-lg" id="recurrence_interval">
                                    <option value="0">{{ 'ui.doctor.dashboard.planner.modal.recurrence_interval.option0'|trans }}</option>
                                    <option value="1">{{ 'ui.doctor.dashboard.planner.modal.recurrence_interval.option1'|trans }}</option>
                                    <option value="7">{{ 'ui.doctor.dashboard.planner.modal.recurrence_interval.option7'|trans }}</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                {{ 'ui.doctor.dashboard.planner.modal.recurrence_interval.until'|trans }}
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group date">
                                    <input type="text" id="until" class="form-control datetimepicker" value="" />
                                    <div class="fa fa-calendar-check-o fa-fw input-group-addon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <label>{{ 'ui.doctor.dashboard.planner.modal.medical_specialties'|trans }}</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-6">
                                {#{{ getMedicalSpecialtyTreatmentCheckboxes(practice.getMedicalSpecialtyIds)|raw }}#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" type="button">{{ 'ui.button.ok'|trans }}</button>
            </div>
        </div>
    </div>
</div>