{% extends '::base.html.twig' %}

{% use ':doctor/dashboard:header.html.twig' %}

{% block content %}
    {% set query_slug = '?u='~slug %}
    {% set default_location = locations|first %}

    <div class="container summary" data-doctor-slug="{{ slug }}">
        <div class="row">
            <div class="col-sm-12">
                {% include ':doctor/dashboard:navigation.html.twig' with { 'query_slug': query_slug, 'default_location': default_location, 'active_route': 'doctor_planner' } %}
            </div>
        </div>
        {% set editingEnabled = doctor is not empty and practice is not empty %}

        <div class="row content">
            <div class="col-sm-12">
                <div class="row dashboard-actions">
                    <div class="action col-md-6">
                        <div class="form-group">
                            <label>{{ 'ui.doctor.dashboard.planner.practice'|trans }}</label>
                            <select class="hyperlink">
                                <option value="">{{ 'form.please_choose'|trans }}</option>
                                {% for location in locations %}
                                    {% if not supportsAppointmentEnquiry(location) %}
                                <option value="{{ path('doctor_planner') }}{{ query_slug }}&l={{ location.getSlug }}" {% if location.getId == practice.getId %}selected{% endif %}>{{ location.getName }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% if editingEnabled %}
                    <div class="col-md-6">
                        <a href="#" class="btn btn-primary save pull-right" id="dashboard-save" data-toggle="tooltip" data-placement="top" title="{{ 'ui.doctor.dashboard.planner.publish_tooltip'|trans }}">{{ 'ui.doctor.dashboard.planner.publish'|trans }}</a>
                    </div>
                    {% endif %}
                </div>
                {% if editingEnabled %}
                <label>{{ 'ui.doctor.dashboard.planner.appointment_rules'|trans }}</label>
                <div class="row dashboard-actions">
                    <div class="action" id="booking-rules col-md-12">
                        <div class="col-md-4">
                            <label class="is-decent">{{ 'ui.doctor.dashboard.planner.appointment_lead_time'|trans }}</label>
                            <select id="lead-in">
                                <option value="0" {% if planner.getLeadIn == 0 %}selected{% endif %}>{{ 'ui.doctor.dashboard.planner.appointment_lead_time_none'|trans }}</option>
                                <option value="1" {% if planner.getLeadIn == 1 %}selected{% endif %}>1{{ 'ui.doctor.dashboard.planner.appointment_lead_time_day'|trans }}</option>
                                <option value="2" {% if planner.getLeadIn == 2 %}selected{% endif %}>2{{ 'ui.doctor.dashboard.planner.appointment_lead_time_days'|trans }}</option>
                                <option value="3" {% if planner.getLeadIn == 3 %}selected{% endif %}>3{{ 'ui.doctor.dashboard.planner.appointment_lead_time_days'|trans }}</option>
                                <option value="4" {% if planner.getLeadIn == 4 %}selected{% endif %}>4{{ 'ui.doctor.dashboard.planner.appointment_lead_time_days'|trans }}</option>
                                <option value="5" {% if planner.getLeadIn == 5 %}selected{% endif %}>5{{ 'ui.doctor.dashboard.planner.appointment_lead_time_days'|trans }}</option>
                                <option value="6" {% if planner.getLeadIn == 6 %}selected{% endif %}>6{{ 'ui.doctor.dashboard.planner.appointment_lead_time_days'|trans }}</option>
                                <option value="7" {% if planner.getLeadIn == 7 %}selected{% endif %}>7{{ 'ui.doctor.dashboard.planner.appointment_lead_time_days'|trans }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="is-decent">{{ 'ui.doctor.dashboard.planner.appointment_availability'|trans }}</label>
                            <select id="search-period">
                                <option value="0" {% if planner.getSearchPeriod == 0 %}selected{% endif %}>{{ 'ui.doctor.dashboard.planner.no_limit'|trans }}</option>
                                <option value="30" {% if planner.getSearchPeriod == 30 %}selected{% endif %}>{{ 'ui.doctor.dashboard.planner.one_month'|trans }}</option>
                                <option value="60" {% if planner.getSearchPeriod == 60 %}selected{% endif %}>{{ 'ui.doctor.dashboard.planner.two_months'|trans }}</option>
                                <option value="90" {% if planner.getSearchPeriod == 90 %}selected{% endif %}>{{ 'ui.doctor.dashboard.planner.three_months'|trans }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if editingEnabled %}
                    {% include ':doctor/dashboard/planner:calendar.html.twig' with { 'locale': locale, 'practice': practice, 'doctor': doctor } %}
                {% else %}
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <div class="no-result-hint">
                                <p>{{ 'ui.doctor.dashboard.planner.please_choose_a_practice'|trans }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var plannerBlocks = {{ blocks|json_encode|raw }};
    </script>

    <script type="text/javascript" src="{{ asset('js/dashboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/fullcalendar.js') }}"></script>
    <script type="text/javascript" src="{{ asset(fullcalendar_locale_js) }}"></script>
    <script type="text/javascript" src="{{ asset('js/planner/planner.js') }}"></script>

{% endblock %}