{% extends 'base.html.twig' %}

{% block body %}
    <h2>Buchungen</h2>
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <!--<a href="" class="btn btn-primary">Filter Testbuchungen</a>-->
        </div>
        <div class="col-sm-7 col-xs-12">
            {% include ':include:pagination.html.twig' with { page: page } %}
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Praxis</th>
                <th>Kunde</th>
                <th class="hidden-sm-down">Versicherung</th>
                <th>Behandlung</th>
                <th class="hidden-sm-down">Status</th>
                <th>Created</th>
                <th>Zahlung</th>
            </tr>
        </thead>
        <tbody>
        {% for b in bookings %}
            <tr>
                <td>{{ b.id }}</td>
                <td>
                    {{ b.appointment.practice.name }}
                    (<a href="{{ path('update_practice', { id: b.appointment.practice.id }) }}">#{{ b.appointment.practice.id }}</a>)
                </td>
                <td>{{ b.customer.details.fullName }}</td>
                <td class="hidden-sm-down">{{ b.customer.details.insurance.type }}</td>
                <td>
                    {% if b.appointment.doctor is defined and b.appointment.doctor.treatmentTypes is defined %}
                        {% for tt in b.appointment.doctor.treatmentTypes %}
                            {% if tt.id == b.treatmentTypeId %}
                                {{ tt.type }}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {{ b.treatmentTypeId }}
                    {% endif %}
                </td>
                <td class="hidden-sm-down">{{ b.status }}</td>
                <td>
                    {% if b.createdAt is defined %}
                        {{ b.createdAt | date("d.m.Y H:i", "Europe/Berlin") }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if b.totalPrice is defined %}
                        {{ b.totalPrice.amount / 100 }}€
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
