{% extends '::base.html.twig' %}

{% use ':doctor/dashboard:header.html.twig' %}

{% block content %}
    {% set query_slug = '?u='~slug %}
    {% set default_location = locations|first %}

    <div class="container summary">
        <div class="row">
            <div class="col-sm-12">
                {% include ':doctor/dashboard:navigation.html.twig' with { 'query_slug': query_slug, 'default_location': default_location, 'active_route': 'doctor_reporting' } %}
            </div>
        </div>

        <div class="row dashboard-actions">
            <div class="action col-md-4">
                <label>{{ 'ui.doctor.dashboard.reporting.practice'|trans }}</label>
                <select class="hyperlink">
                    <option value="">{{ 'form.please_choose'|trans }}</option>
                    {% for location in locations %}
                        <option value="{{ path('doctor_reporting') }}{{ query_slug }}&l={{ location.getSlug }}" {% if practice is defined and location.getId == practice.getId %}selected{% endif %}>{{ location.getName }}</option>
                    {% endfor %}
                </select>
            </div>

            {% if doctor is defined and practice is defined %}
            <div class="action col-md-4">
                <label>{{ 'ui.doctor.dashboard.reporting.period'|trans }}</label>
                <select class="hyperlink" id="time-period">
                    {% for period in valid_periods %}
                        <option value="{{ path('doctor_reporting') }}{{ query_slug }}&l={{ practice.getSlug }}&period={{ period }}"{% if billing_period == period %} selected{% endif %}>{{ period }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-4">
                <a href="#" class="btn btn-primary save pull-right" id="dashboard-save">{{ 'ui.doctor.dashboard.reporting.button_submit'|trans }}</a>
            </div>

            {% endif %}
        </div>

        {% if doctor is defined and practice is defined and statement is defined %}
            {% include ':doctor/dashboard/reporting:statement.html.twig' with { 'statement': statement } %}
        {% else %}
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="no-result-hint">
                        <p>{{ 'ui.doctor.dashboard.reporting.please_choose_a_practice'|trans }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/dashboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dashboard/reporting.js') }}"></script>

{% endblock %}