{% set bookings = statement.getBookings %}
{% if bookings|length %}
<div class="report">
    <div class="table-responsive">
        <table class="table dashboard-table" id="statement" data-statement-id="{{ statement.getId }}">
            <thead>
                <tr>
                    <th class="doctor">{{ 'ui.doctor.dashboard.reporting.statement.doctor'|trans }}</th>
                    <th class="datetime">{{ 'ui.doctor.dashboard.reporting.statement.datetime'|trans }}</th>
                    <th class="patient">{{ 'ui.doctor.dashboard.reporting.statement.patient'|trans }}</th>
                    <th class="reporting-status">{{ 'ui.doctor.dashboard.reporting.statement.reporting_status'|trans }}</th>
                    <th class="booking-status">{{ 'ui.doctor.dashboard.reporting.statement.booking_status'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}
                <tr class="booking" data-booking-id="{{ booking.getId }}">
                    <td>{{ booking.getDoctor().getFullName() }}</td>
                    <td>{{ booking.getAppointmentStartAt|format('d.m.Y H:s') }}</td>
                    <td>{{ booking.getFirstName }} {{ booking.getLastName }}</td>
                    <td class="status">
                        <div class="radio">
                            <label><input type="radio" class="reporting-status" value="1" name="status[{{ booking.getId }}]" {% if booking.getStatus == 1 %} checked{% endif %} /> {{ 'ui.doctor.dashboard.reporting.statement.reporting_status_1'|trans }}</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" class="reporting-status" value="2" name="status[{{ booking.getId }}]" {% if booking.getStatus == 2 %} checked{% endif %} /> {{ 'ui.doctor.dashboard.reporting.statement.reporting_status_2'|trans }}</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" class="reporting-status" value="4" name="status[{{ booking.getId }}]" {% if booking.getStatus == 4 %} checked{% endif %} /> {{ 'ui.doctor.dashboard.reporting.statement.reporting_status_4'|trans }}</label>
                        </div>
                        <div class="checkbox">
                            <input type="text" class="moved-to datetimepicker" name="moved[{{ booking.getId }}]" value="{{ booking.getAppointmentStartAt }}" {% if booking.getStatus != 4 %}style="display:none"{% endif %} />
                            <label><input type="checkbox" class="reporting-returning-visitor" value="" name="status[{{ booking.getId }}]" {% if booking.getReturningVisitor(true) %}checked{% endif %} />{{ 'ui.doctor.dashboard.reporting.statement.inventory_patient'|trans }}</label>
                        </div>
                    </td>
                    <td class="booking-status">{{ booking.getStatusLabel }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="no-result-hint">
                <p>{{ 'ui.doctor.dashboard.reporting.statement.no_bookings_available'|trans }}</p>
            </div>
        </div>
    </div>
{% endif %}
