{% if active_route is not defined %}
{% set active_route = '' %}
{% endif %}

<nav class="navbar navbar-light">
    <ul class="nav navbar-nav">
        {% if locations %}
        <li class="nav-item{% if active_route == 'doctor_patients' %} active{% endif %}">
            <a class="nav-link" href="{{ path('doctor_patients') }}{{ query_slug }}">{{ 'ui.doctor.dashboard.menu.patients'|trans }}</a>
        </li>

        {#<li class="nav-item{% if active_route == 'doctor_reporting' %} active{% endif %}">#}
            {#<a class="nav-link" href="{{ path('doctor_reporting') }}{{ query_slug }}">{{ 'ui.doctor.dashboard.menu.reporting'|trans }}</a>#}
        {#</li>#}
        {% endif %}

        <li class="nav-item{% if active_route == 'doctor_reputation' %} active{% endif %}">
            <a class="nav-link" href="{{ path('doctor_reputation') }}{{ query_slug }}">{{ 'ui.doctor.dashboard.menu.reputation'|trans }}</a>
        </li>
    </ul>
</nav>