<div ng-controller="MonthNavigationWidgetController">
  <uib-accordion>
    <uib-accordion-group heading="{{'WIDGETS.MONTH_NAVIGATION.TITLE' | translate}}" ng-click="initPikaday()"
                         is-open="true" class="small-accordion">
      <input type="text" ng-model="date.selectedDate" id="input-end-date" class="show-none"
             container="true" bound="false" pikaday="pikaday">
    </uib-accordion-group>
  </uib-accordion>
</div>
