<div ng-controller="ResourceNavigationWidgetController" blabla>
  <uib-accordion>
    <uib-accordion-group heading="{{'WIDGETS.RESOURCES.TITLE' | translate}}"
                         is-open="true"
                         class="small-accordion">

      <ul class="list-group resource-group" ng-repeat="resourceGroup in calendarResources">
        <li class="list-group-item border-none" ng-repeat="resource in resourceGroup.resources" ng-click="toggleResource(resource)">
          <div class="resource-name" tooltip-placement="bottom" uib-tooltip="{{resource.name}}"
          tooltip-popup-delay="300" tooltip-enable="{{resource.name.length >=15}}" hover-color="resource.color">
          <span class="resource-color" ng-style="{backgroundColor: (isActiveResource(resource)) ? resource.color : '#ffffff'}"></span>
            {{resource.name}}
          </div>
        </li>
      </ul>
    </uib-accordion-group>
  </uib-accordion>
</div>
