<div class="inside field">
<a href="{$SITE_PATH}/ngsadmin/integrations/samedi">
	<img style="vertical-align:middle" src="{$STATIC_PATH}/static/adm/integration_samedi.png"/>
	<span style="">- Samedi</span>
</a>
</div>
