<h4>Teilnahmebedingungen Gutscheinaktion</h4>
<p><strong>So erhalten Sie Ihre Gutschrift</strong></p>
<p>Sie können über Ihr Aktions-Gutschrift verfügen, nachdem Sie Ihren Arzttermin erfolgreich wahrgenommen haben. Sobald einer Ihrer Termine stattgefunden hat, senden wir Ihnen einen Gutschein in entsprechender Höhe. Ihr Anspruch auf das Guthaben verfällt ein Jahr nach dem Arzttermin.</p>
<p><strong>Gültiger Arzttermin</strong></p>
<p>Ein erfolgreicher Arzttermin ist dann gegeben, wenn der Termin über unsere Website Arzttermine.de vor dem 30. Juni 2013 gebucht wurde. Um das Guthaben zu erhalten, müssen alle Termine gebucht und wahrgenommen sein. Bei einer stornierten Buchung verfällt der Anspruch auf das Guthaben. Ein in der Vergangenheit liegender Termin kann nicht angerechnet werden. Für jede Fachrichtung ist nicht mehr als eine Gutschrift möglich. Eine Gutschrift ist ebenso für nicht mehr als einen Termin beim gleichen Arzt möglich und gilt nur für Neupatienten (Neupatienten sind bisher noch nicht in der Praxis in Behandlung).</p>
<p><strong>Nur für kurze Zeit</strong></p>
<p><i>Diese Empfehlungsaktion gilt nur für kurze Zeit. Eine Änderung der Teilnahmebedingungen bleibt Arzttermine.de vorbehalten.<br/>
In Fällen des Missbrauchs behalten wir uns eine Löschung des Guthabens sowie Ausschluss aus der Empfehlungsaktion vor.</i></p>
<p><b>Aktion gilt vom 18.04.2013 - 30.06.2013.</b></p>
