<h4>Teilnahmebedingungen Empfehlungsaktion</h4>
<p><strong>So erhalten Sie Ihre Gutschrift</strong></p>
<p>Sie können über Ihr Empfehlungsguthaben verfügen, nachdem die von Ihnen geworbene Person über arzttermine.de einen Termin gebucht und den Arzttermin erfolgreich wahrgenommen hat. Sobald ein Termin stattgefunden hat, senden wir Ihnen einen Gutschein in entsprechender Höhe. Ihr Anspruch auf das Guthaben verfällt ein Jahr nach dem Arzttermin.</p>
<p><strong>Gültiger Arzttermin</strong></p>
<p>Ein erfolgreicher Arzttermin ist dann gegeben, wenn der Termin über unsere Website arzttermine.de nach dem 18. April 2013 gebucht wurde. Um das Guthaben zu erhalten müssen alle Termine gebucht und wahrgenommen sein. Bei einer stornierten Buchung verfällt der Anspruch auf das Guthaben. Ein in der Vergangenheit liegender Termin kann nicht angerechnet werden. Für jede Fachrichtung ist nicht mehr als eine Gutschrift möglich. Eine Gutschrift ist ebenso für nicht mehr als einen Termin beim gleichen Arzt möglich.</p>
<p><strong>Nur für kurze Zeit</strong></p>
<p><i>Diese Empfehlungsaktion gilt nur für kurze Zeit. Eine Änderung der Teilnahmebedingungen bleibt arzttermine.de vorbehalten.<br/>
In Fällen des Missbrauchs behalten wir uns eine Löschung des Guthabens sowie Ausschluss aus der Empfehlungsaktion vor.</i></p>