
body { margin-top: 20px;  }
#page-main {
	position: relative;
	border: none !important;
	box-shadow: none;
	background: none !important;
}
.page-wrapper {	min-height: 280px !important; }
/* ################################ */
#meta-page {
	position: relative;
	display: block;
	margin: 35px 0 65px 180px;	
	width: 700px;
}
	h1 {
		font-size: 26px;
		line-height: 30px;
		color: #5294a3;		
	}
	h2 {
		font: 20px;
		line-height: 26px;
		color: #585858;		
	}
		p, a {
			font-size: 16px;
			line-height: 22px;
			color: #878787;			
		}
		p span { color: #5294a3; }
		#meta-page p { margin-bottom: 6px;	}
		#meta-page a {
			display: inline;
			line-height: 20px;
			text-decoration: none;			
		}
		#meta-page a:hover { text-decoration: underline; }
	#error_ico {
		position: absolute;
		top: 60px;
		left: -150px;
	}
#meta-nav {
	position: relative;
	display: block;
	width: 960px;
	margin: 0 auto;
	list-style: none;
	text-align: right;
}
	#meta-nav li {		
		display: inline-block;
		padding: 8px 5px;		
	}
	#meta-nav a { font-size: 13px; }