/* ##################################
 		GALLERY
################################## */
.gvIIContainer{
	width:402px;
	position:relative;
	padding:2px 2px 2px;
}
.gvIIContainer .gvIIImgContainer img{
	margin-left:0;
	margin-top:0;
}
.gvIIAltTextContainer .input_text{
	width:75%;
	margin:0px 4px 0px 0px;
	padding:0px;
	vertical-align:top;
}
.gvIIAltTextContainer .buttons {
	display:inline;
	margin-left:20px;
}
.gvIIAltText{
	left:0;
	top:0;
	color:#000000;
	padding:3px;
	font-size:0.9em;
	text-align:center;
}
.gvIIContainer .gvIIImgContainer{
	width:400px;
	height:300px;
	position:relative;
	overflow:hidden;
	border:1px solid #CCCCCC;
}
.gvIIContainer .gvIIImgContainer .gvIILoader{
	background: url('/static/nav/loading.gif') no-repeat center center;
	width:400px;
	height:300px;
	display:none;
}
.gvIIContainer .gvIIHolder{
	position:relative;
	width:400px;
}
.gvIIContainer .gvIIHolder .gvIIArrow{}
.gvIIContainer .gvIIHolder .gvIIItem{
	float:left;
	height:56px;
	width:56px;
	margin:3px;
	position:relative;
	overflow:hidden;
	border:1px solid #CCCCCC;
}
.gvIIContainer .gvIIHolder .gvIIItem .gvIIFlash{
	background:#fff;
	position:absolute;
	top:0;
	left:0;
	height:58px;
	width:58px;
	cursor:pointer;
}
.gvIIContainer .gvIIHolder .gvIIItem img{
	position:absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	margin-left:0;
	margin-top:0;
	border:none;
	cursor:pointer;
}

/* --- */
#gallery-container {
	clear:both;
	margin:1em 1em 1em;
	padding:0px;
}
