/* ##################################
 		GALLERY
################################## */
#gallery-container {
	/* margin:0 auto; */
	width:452px;
	/* height:124px; *//* two rows */
	height:66px; /* one row */
	padding:0;
	position:relative;
	clear:both;
}
#gallery-container ul {
	width:452px;
	height:66px;
	text-align:center;
	padding:0;
	margin:0;
}
#gallery-container ul li {
	width:56px;
	height:56px;
	display: block;
	float:left;
	margin:0 5px 10px 5px;
}
#gallery-container ul li img {
	margin:0;
	padding-top:2px;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:2px;
	background-color:#ffffff;
	border:1px solid #cccccc;
	width:50px;
	height:50px;
}

/* PAGINATION */
#gallery-pagination {
	padding:0;
	height:11px;
	width:200px;
	margin:10px 0px 0px 8px;
	clear:both;
}
#gallery-pagination li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
#gallery-pagination a {
	float:left;
	width:11px;
	height:11px;
	display:block;
	background: url(/static/nav/pagination.jpg) 0 0;
	background-repeat: no-repeat;
	text-indent: -99999px;
	margin-right:2px;
	margin-left:2px;
	padding:0px;
	border:none;
}
#gallery-pagination a.activeSlide {
	background: url(/static/nav/pagination.jpg) 0 -11px;
	background-repeat: no-repeat;
}
