@import "compass/css3";

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}

body {
	font-family: arial;
	color: #555;
}

p,h3 {
	margin: 0 0 12px 0;
	padding: 0;
}

h3 {
	color: rgb(77, 77, 77);
	font-size: 24px;
	font-weight: bold;
	margin: 6px 0px 15px;
}

.ui-dialog .ui-dialog-buttonpane button {
	float: none;
}

a, .at_grbl {
	color: #5294a3 !important;
	text-decoration: none;
}

form {
	text-align: left;
}
.btn {
	position: relative;
	display: block;
	padding: 4px 15px;
	width: 200px;        		
	height: 28px;        		
	text-align: center;
	font-size: 18px;
	border-radius: 3px;
	border: none;
	background-clip: padding-box;
	box-shadow: 0 0 5px rgba(0,0,0,.45);
	background-color: #599317;
	background-image: -moz-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: -o-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: -webkit-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: linear-gradient(bottom, #599317 0%, #7bc727 100%);
	color: #fff;
	cursor: pointer;
}
.btn:hover {
	background-color: #7bc727;
	background-image: -moz-linear-gradient(bottom, #7bc727 0%, #599317 100%);
	background-image: -o-linear-gradient(bottom, #7bc727 0%, #599317 100%);
	background-image: -webkit-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: linear-gradient(bottom, #7bc727 0%, #599317 100%);        	
}
#inputfields > div {
	height: 30px;
	margin-bottom: 20px;
}
#inputfields input {
	height: 30px;
	width: 430px;
	padding: 0px 10px;
	background: rgb(242, 242, 242);
	border-radius: 7px;
	border-color: transparent;
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
			box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
	font-size: 14px;
}
#inputfields label {
	color: rgb(82, 148, 163);
	line-height: 30px;
	width: 115px;
	text-align: left;
	font-size: 16px;
}

/* ELEMENTS */
#ref_alert,
#referral_form {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
	text-align: center;
}
#ref_alert {
	min-width: 400px;
	max-width: 850px;
}

.error {
	box-shadow: 0px 0px 3px #f00;	
}

#rewards_page_body{
	margin: auto;
}
#rewards_page_body > .page-wrapper {
	margin: 0 15px;
}
#rewards_page_body h1 {
	font-size: 32px;
	color: white;
	padding: 11px 30px;
}
.referral .ui-dialog-title,
#rewards_page_body h2 {
	color: rgb(82, 148, 163);
	font-weight: normal;
	font-size: 24px;
}
#rewards_page_body h2 {
	padding-top: 50px;
}
#rewards_page_body .strong {
	font-weight: bold;
}
#rewards_page_body .emphasize {
	font-size: 32px;
	color: rgb(41, 41, 41);
}
#rewards_page_body .centered {
	text-align: center;
}
#rewards_page_body .text {
	font-size: 18px;
	color: rgb(77, 77, 77);
}
#ribbon {
	background: url("/static/img/blue-ribbon.png") no-repeat;
	height: 70px;
}
#advice {
	background: url("/static/img/shadow-divider.png") no-repeat bottom center, url("/static/img/whisper.png") no-repeat 100% 20px;
	height: 320px;
	position: relative;
	padding: 0px 30px;
}
#curvy-arrow {
	position: absolute;
	bottom: -85px;
	left: 200px;
	background: url("/static/img/curvy-arrow.png") no-repeat top right;
	width: 110px;
	height: 145px;
}
#calculator {
	height: 420px;
	background: url("/static/img/money-money-money.png") no-repeat -50px bottom;
	padding-left: 370px;
	padding-right: 30px;
}
#rewards_page_body #calculator h2 {
	padding-top: 35px;
}
#calculator #slider-wrapper {
	height: 65px;
	margin-top: 30px;
	margin-bottom: 20px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 7px;
	background-color: rgb(228, 237, 240);
}
#calculator #slider {
	height: 14px;
	/* 65/2 - 14/2 = 33 - 7 = 26*/
	margin: 26px 35px;
}
#calculator #slider .ui-slider-handle {
	height: 32px;
	width: 65px;
	margin-top: -6px;
	margin-left: -30px;

    border: 1px solid #718f31 !important; /* stroke */
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27); /* drop shadow and inner shadow */
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27); /* drop shadow and inner shadow */
    box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27); /* drop shadow and inner shadow */
    background: url("/static/img/slider-arrows.png") no-repeat center center, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5ODMwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjNjk5ZDE3IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM3MWFiMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzdmYmYxYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk5Y2I0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, -moz-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, -o-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, -webkit-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%); /* gradient overlay */
    color: #fff;
    text-shadow: 0 -1px 0 rgba(69,97,14,.65); /* drop shadow */
    background-color: #71ab19; /* layer fill content */
    cursor: pointer;
}
#calculator #slider .ui-slider-handle:hover {
    background-color: #e6e6e6; /* layer fill content */
    background: url("/static/img/slider-arrows.png") no-repeat center center, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5Y2I0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNCUiIHN0b3AtY29sb3I9IiM3ZmJmMWIiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzcxYWIxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjNjk5ZDE3IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTk4MzBiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, -moz-linear-gradient(bottom, #99cb45 0%, #7fbf1b 4%, #71ab19 50%, #699d17 51%, #59830b 100%); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, -o-linear-gradient(bottom, #99cb45 0%, #7fbf1b 4%, #71ab19 50%, #699d17 51%, #59830b 100%); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, -webkit-linear-gradient(bottom, #99cb45 0%, #7fbf1b 4%, #71ab19 50%, #699d17 51%, #59830b 100%); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, linear-gradient(bottom, #99cb45 0%, #7fbf1b 4%, #71ab19 50%, #699d17 51%, #59830b 100%); /* gradient overlay */
    background-color: #699d17; /* layer fill content */
}
#rewards_page_body  .referral.step-2  button {
	padding: 12px 20px;
	font-size: 18px;
	cursor: pointer;
	margin-top: 40px;
}

#rewards_page_body .referral.step-2 {
	display: none;
}
.referral.step-2 #advice,
.referral.step-3 #advice {
	background: transparent;
}
.referral.step-2 #inputfields {
	width: 685px;
	height: 330px;
	margin-left: 30px;
	margin-top: 10px;
	padding: 40px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	-webkit-box-shadow: 0px -2px 7px 1px rgba(0, 0, 0, 0.2);
          	box-shadow: 0px -2px 7px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.referral.step-2 #inputfields button {
	margin: 0;
	margin-top: 40px;
	height: 55px;
}
#pointing-girl {
	position: absolute;
	left: 740px;
	top: 100px;
	width: 236px;
	height: 324px;
	background: url('/static/img/pointing-girl.png') no-repeat;
}
.referral.step-3 {
	display: none;
}
#rewards_page_body .referral.step-3 #code-container button {
	height: 27px;
	margin: 10px;
	margin-bottom: 20px;
	border: 1px solid rgb(195, 195, 195);
	padding: 6px 14px;
	font-size: 13px;
	background: rgb(242, 242, 242);
	border-radius: 4px;
}
#code-container {
	width: 390px;
	float: left;
	text-align: center;
	background: white;
	border-radius: 7px;
	border: 1px solid rgb(222, 222, 222);
	position: relative;
}
#code-container .text {
	font-size: 14px;
	margin-bottom: 13px;
}
#code-container input {
	height: 16px;
	font-size: 12px;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	margin: 9px;
	cursor: text;
	color: rgb(120, 120, 120);
}
#code-container input.narrow {
	width: 60px;
}
#code-container input.wide {
	width: 230px;
}
#social-buttons {
	float: left;
	width: 378px;
	margin-left: 30px;
}
.tile {
	border: 1px solid transparent;
	margin: 8px;
	margin-top: 0px;
	margin-bottom: 18px;
	width: 108px;
	height: 108px;
	float: left;
	position: relative;

	font-size: 18px;
}
.tile > .v-centered {
	height: 59px;
	font-size: 17px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	margin: auto;
}
.tile.social {
	cursor: pointer;
}
.tile.social .caption {
	text-shadow: 0px -2px 0px rgb(95, 136, 33);
	position: absolute;
	bottom: 15px;
	text-align: center;
	width: 100%;
	font-size: 16px;
}
.tile.social > .icon {
	background-repeat: no-repeat;
	width: 100%;
	height: 70%;
	background-position: 50% 50%;
}
.send-email.tile.social > .icon {
	background-image:  url(/static/img/tile-icon-email.png);
}
.share-fb.tile.social > .icon {
	background-image:  url(/static/img/tile-icon-fb.png);
}
.share-twitter.tile.social > .icon {
	background-image:  url(/static/img/tile-icon-twitter.png);
}
.share-gplus.tile.social > .icon {
	background-image:  url(/static/img/tile-icon-googleplus.png);
}
.share-sms.tile.social > .icon {
	background-image:  url(/static/img/tile-icon-mobile.png);
}
.share-twitter.social,
.share-gplus.social,
.share-sms.social {
	margin-bottom: 0;
}
#registration-buttons {
	clear: both;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 80px;
}
#registration-buttons span {
	display: inline-block;
	height: 37px;
	width: 1px;
	margin: 0 30px;
	border: 0;
	border-left: 1px solid rgb(138, 142, 142);
	position: relative;
	top: 14px;
}
#registration-buttons button {
	width: 220px;
	height: 35px;
	font-size: 16px;
}
.btn-grey {
	font-weight: normal;
	border: 1px solid rgb( 195, 195, 195 );
	border-radius: 6px;
	background-image: -moz-linear-gradient( 90deg, rgb(237,237,237) 49%, rgb(242,242,242) 49%, rgb(247,247,247) 50%, rgb(239,239,239) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(237,237,237) 49%, rgb(242,242,242) 49%, rgb(247,247,247) 50%, rgb(239,239,239) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(237,237,237) 49%, rgb(242,242,242) 49%, rgb(247,247,247) 50%, rgb(239,239,239) 100%);
  /*box-shadow: 1px 2px 3px 0px rgb( 0, 0, 0 );*/
}

#sharing-options {
	background: rgb(244, 244, 244);
	padding: 25px;
	margin: auto;
	height: 275px;
	width: 800px;
}
#code {
	margin: auto;
	width: 260px;
	height: 109px;
	background: url("/static/img/coupon-plate.png");
}
#code > .text {
	font-weight: bold;
	color: white;
	font-size: 30px;
	padding-top: 36px;
	text-shadow: 0px 0px 5px rgb(117, 105, 50);
	letter-spacing: 3px;
}
.referral {
	display: none;
}

.error {
	background-color: rgba(255, 0, 0, 0.2) !important;
	color: initial !important;
	font-weight: normal !important;
	background-clip: padding-box !important;
}

#code-container-arrow {
	background: url("/static/img/code-container-arrow.png") no-repeat;
	width: 17px;
	height: 57px;
	position: absolute;
	right: -15px;
	top: 32px;
}

#fb-choice,
#send-sms,
#send_email {
	border-radius: 0px !important;
	border-top: 1px solid #cbcbcb;
	margin: 0px 30px;
	padding-top: 20px;
	font-size: 14px;
}

#send-sms > div,
.referral #send_email > div {
	min-height: 60px;
	margin: auto;
}
#send-sms label[for=sms-message] + div,
#send-sms input,
.referral #send_email div[name=email_message],
.referral #send_email input {
	min-height: 32px;
	width: 537px;
	padding: 0px 3px;
	border-radius: 4px;
	border: 1px solid rgb(153, 153, 153);
	font-weight: normal;
	background-color: #f2f2f2;
	box-shadow: inset 0px 3px 5px 0px rgba(100,100,100, 0.3);
}
#send-sms label[for=sms-message] + div,
.referral #send_email div[name=email_message] {
	margin-left: 95px;
	padding: 6px 3px;
}
#send-sms input,
.referral #send_email input {
	@include input-placeholder {
		color: #cfcfcf;
		/* @include font-size(1.2); */
		font-size: 12px;
		opacity: 1;
	}
}
#send-sms label,
.referral #send_email label {
	display: block;
	float: left;
	width: 85px;
	text-align: right;
	/* @include font-size(1.2); */
	font-size: 12px;
	color: rgb(41, 41, 41);
	margin-top: 12px;
}
#send-sms label[for=sms-message] + div,
#send-sms input[readonly],
.referral #send_email input[readonly] {
	color: rgb(160, 160, 160);
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-button {
	border: 1px solid #c3c3c3 !important;
	width: 26px !important;
	height: 26px !important;
	background: #f5f5f5 !important;
	margin-top: 0px !important;
	margin-right: 10px !important;
}
.referral.ui-dialog .ui-dialog-title {
	margin-bottom: 12px;
	font-weight: bold;
}
.ui-dialog .ui-dialog-content {
	padding: 0px;
}

#referral_form > button {
	font-size: 18px;
	height: 55px;
	margin: 35px 0 55px;
	padding-left: 18px;
	padding-right: 18px;
}
.btn_green.disabled {
	background: rgb(217, 217, 217) !important;
	border-color: transparent !important;
	cursor: default !important;
}
.btn_green.disabled:active {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px, rgba(255, 255, 255, 0.270588) 0px 1px 1px 0px inset;
}
.btn_green.disabled > .caption {
	text-shadow: 0 -1px 0 rgb(151, 151, 151);
}
button {
	cursor: pointer;
}




/*******************************/
/*******************************/
/*******************************/
/*******************************/
@import "compass/css3";

$color-cta: #71ab19;
$color-at-blue: rgb(82, 148, 163);

@mixin cta-strong($bg-image-url:"", $bg-image-repeat:"", $bg-image-position:"", $bg-image-size:"") {
    border: 1px solid #718f31;
    @include border-radius(7px);
    @include background-clip(padding-box);
    background-color: #e6e6e6;
    @include box-shadow(rgba(black, 0.2) 0 2px 3px, rgba(white, 0.27) 0 1px 1px inset);

    @include background($bg-image-url, linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%));
    background-repeat: $bg-image-repeat, repeat;
    background-position: $bg-image-position, top left;
    background-size: $bg-image-size, 100% 100%;

    color: #fff;
    text-shadow: 0 -1px 0 rgba(69,97,14,.65);
    background-color: #71ab19;
}

@import "compass/utilities/general/clearfix";

#visualize-gain {
	background: #e6eff1;
	margin: 10px 0;
	/*padding-bottom: 20px;*/
	@include clearfix;
	
	#visualization {
		/*text-align: center;*/
		position: relative;
	}

	em {
		font-style: normal;
		font-weight: bold;
	}

	.w-1-3 { width: 33%; }
	.w-2-3 { width: 66%; }
	.w-0-4 { width: 40%; }
	.w-0-6 { width: 60%; }

	.w-1-3, .w-2-3, .w-0-4, .w-0-6 {
		/*display: inline-block;*/
		float: left;
		margin-left: -2px;
	}

	#incentivize-to-top-5 {
		@include clearfix;
		bottom: 0;
		height: 294px;

		> * {
			float: left;
		}

		h3 {
			margin: 20px 12px;
			font-size: 30px;
		}

		.description {
			height: 190px;
			bottom: 0;
			position: absolute;
			width: 40%;
			line-height: 18px;

			.text {
				font-size: 16px;
			}
		}

		.chart-container {
			position: absolute;
			left: 40%;
			bottom: 0;
			height: 180px;
		}
	}
	.white-box {
		background: white;
		margin: 10px;
		padding: 10px;
	}
	.important-bullets {
		padding: 0px 50px 0px 10px;

		h3 {
			font-size: 18px;
		}
		li {
			font-size: 14px;
		}
	}

	.w-1-2 {
		float: left;
		width: 50%;
		min-width: 150px;

		h3 {
			font-size: 16px;
		}

		.block {
			padding: 10px;
			width: 380px;
			height: 140px;
			background: #fff;
			@include box-shadow(0px 0px 6px 3px rgba(0, 0, 0, 0.2));
			margin: 20px auto;

			> h3 {
				text-transform: uppercase;
				font-size: 14px;
				padding: 20px 0;
				margin: 0;
				height: auto;
				font-weight: normal;
				text-align: left;
			}

			& > * {
				position: relative;
				height: 55px;
				padding-top: 25px;
			}
			& > .base,
			& > .result {
				text-align: center;
			}
			& > .base {
				background: #e4f1d1;
				& > .triangle {
					z-index: 1;
					position: absolute;
					background: transparent;
					left: 100%;
					top: 0px;

					width: 0; 
					height: 0; 
					border-top: 40px solid transparent;
					border-bottom: 40px solid transparent;
					border-left: 20px solid #e4f1d1;
				}
			}
			& > .result {
				background: #73ad19;
			}
		}
	}
	.text {
		font-size: 14px;
		padding: 10px 15px;
		text-align: left;
	}

	ol {
		counter-reset: my-counter;

		> li {
			padding-bottom: 10px;

			&:before {
				display: inline-block;
				content: counter(my-counter);
				counter-increment: my-counter;
				margin-right: 10px;
				background: #5294a3;
				color: white;
				@include border-radius(50%);
				width: 10px;
				height: 15px;
				padding: 10px 12px;
			}
		}
	}

	.social-buttons {
		float: left;
	}

	.column-chart {
		height: 200px;
		width: 110px;
		float: left;

		color: white;
		font-size: 12px;
	}

	.column-chart {
		position: relative;

		> div {
			position: absolute;
			left: 0;
			right: 0;
		}

		&.cc-7-3 {
			& > .h-0-3 {
				top: 0%; 
				bottom: 70%;
				background: #a1cd5e;
			}
			& > .h-0-7 {
				top: 30%; 
				bottom: 0%;
				background: #73ad19;
			}
		}
	}

	#threshold {
		position: absolute;
		top: 30%;
	}
	#user-score {
		position: absolute;
		top: 72%;
	}
	.box-arrow {
		left: 115px;
	}
	.box-arrow {
		margin-top: -16px;
		position: relative;
		padding: 5px;
		border: 2px solid #5a8f00;
		color: #333;
		background: #fff;

		&.left {
			margin-left: 10px;
			&:before {
				top: 2px;
				bottom: auto;
				left: -11px;
				border-width: 12px 11px 12px 0;
				border-color: transparent #5a8f00;
			}
			&:after {
				top: 5px;
				bottom: auto;
				left: -8px;
				border-width: 9px 9px 9px 0;
				border-color: transparent #fff;
			}
		}

		&:before {
			content: "";
			position: absolute;
			bottom: -20px;
			left: 40px;
			border-width: 20px 20px 0;
			border-style: solid;
			border-color: #5a8f00 transparent;
			display: block;
			width: 0;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: -8px;
			left: 47px;
			border-width: 9px 9px 0;
			border-style: solid;
			border-color: #fff transparent;
			display: block;
			width: 0;
		}
	}
	.relative-container {
		position: relative;
	}
	.centered-container {
		margin-left: auto;
		margin-right: auto;
	}
	.centered-text {
		text-align: center;
	}
	.text-in-middle {
		height: 100%;
	}
	.stick-to-bottom {
		position: absolute;
		bottom: 0;
	}
}
.visualization {
	width: 35em;
	height: 9em;
	position: relative;

	.column {
		width: 3em;
		height: 100%;
		position: absolute;
		bottom: 0;

		&.user {
			background: $color-at-blue;
		}
		&.average {
			background: $color-cta;
		}
	}

}
.copy {
	width: 10em;
}
.social-buttons {

	position: relative;
	padding: 0px;
	background: tint($color-at-blue, 50%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	&:after 
	{
		content: "";
		position: absolute;
		top: 0em;
		right: -2.9em;
		border-style: solid;
		border-width: 4.5em 0 4.5em 3em;
		border-color: transparent tint($color-at-blue, 50%);
		display: block;
		width: 0;
		z-index: 1;
	}

	width: 16em;
	height: 9em;

	button {
		height: 6em;
		width: 6em;
		margin: 0.2em;
		padding: 0;
		white-space: nowrap;
		font-size: 0.7em;
		text-shadow: 0px -2px 0px rgb(95, 136, 33);
		padding-top: 3.3em;

		@include cta-strong();
		&#fb-message,
		&.share-fb 			{ @include cta-strong(url(/static/img/tile-icon-fb.png), no-repeat, 50% 20%, 3.2em); }
		&.send-email 		{ @include cta-strong(url(/static/img/tile-icon-email.png), no-repeat, 50% 20%, 3.2em); }
		&.share-twitter 	{ @include cta-strong(url(/static/img/tile-icon-twitter.png), no-repeat, 50% 20%, 3.2em); }
		&.share-gplus	 	{ @include cta-strong(url(/static/img/tile-icon-googleplus.png), no-repeat, 50% 20%, 3.2em); }
		&.share-sms 		{ @include cta-strong(url(/static/img/tile-icon-mobile.png), no-repeat, 50% 20%, 3.2em); }


		&:hover {
		    @include background-image(linear-gradient(bottom, #99cb45 0%, #7fbf1b 4%, #71ab19 50%, #699d17 51%, #59830b 100%));
		    background-color: #699d17; 
		}
	}
}



.popup {
	display: none;
}

#fb-choice > p {
	padding: 20px 0;
	font-size: 14px;
}

/* This is what you get when you have the ugliest patch ever on jQuery UI */
div[aria-describedby=fb-choice] > .ui-dialog-buttonpane > .ui-dialog-buttonset > button {
	border: 1px solid #718f31;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #e6e6e6;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27);
	box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…AiIHdpZHRoPSIyMTgiIGhlaWdodD0iMzQiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	background-image: -o-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	background-image: -webkit-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	background-image: linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	color: #fff !important;
	font-family: "Helvetica";
	font-size: 16px;
	font-weight: normal;
	text-shadow: 0 -1px 0 rgba(69,97,14,.65) !important;
	cursor: pointer;	
}