@import "compass/css3";

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

html {
	font-size: 62.5%;
}

body {
	font-family: arial;
	color: #555;
	background: rgb(229, 229, 229);
}

p,h3 {
	margin: 0 0 12px 0;
	padding: 0;
}

h3 {
	color: rgb(77, 77, 77);
	@include font-size(2);
	font-weight: bold;
	margin: 6px 0px 25px;
}

a, .at_grbl {
	color: #5294a3 !important;
	text-decoration: none;
}

.btn {
	position: relative;
	display: block;
	padding: 4px 15px;
	width: 200px;        		
	height: 28px;        		
	text-align: center;
	@include font-size(1.6);
	border-radius: 3px;
	border: none;
	background-clip: padding-box;
	box-shadow: 0 0 5px rgba(0,0,0,.45);
	background-color: #599317;
	background-image: -moz-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: -o-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: -webkit-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: linear-gradient(bottom, #599317 0%, #7bc727 100%);
	color: #fff;
	cursor: pointer;
}
.btn:hover {
	background-color: #7bc727;
	background-image: -moz-linear-gradient(bottom, #7bc727 0%, #599317 100%);
	background-image: -o-linear-gradient(bottom, #7bc727 0%, #599317 100%);
	background-image: -webkit-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: linear-gradient(bottom, #7bc727 0%, #599317 100%);        	
}
#inputfields > div {
	height: 30px;
	margin-bottom: 20px;
}
#inputfields input {
	height: 30px;
	width: 440px;
	padding: 0px 10px;
	background: rgb(242, 242, 242);
	border-radius: 7px;
	border-color: transparent;
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
			box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
	@include font-size(1.2);
}
#inputfields label {
	color: rgb(82, 148, 163);
	line-height: 30px;
	width: 105px;
	text-align: left;
	@include font-size(1.4);
}

/* ELEMENTS */
#ref_alert,
#referral_form {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
}
#ref_alert {
	min-width: 400px;
	max-width: 850px;
}

.error {
	box-shadow: 0px 0px 3px #f00;	
}

#page-main {
	background-color: transparent;
	@include box-shadow(none);
}
.page-container {
	margin: 20px auto;
	width: 900px;
	@include background-image(linear-gradient(rgb(255, 255, 255), rgb(236, 236, 236)));
	@include border-radius(8px);
}
#rewards_page_body{
	margin: 20px auto;
}
#rewards_page_body > .page-wrapper {
	margin: 0 15px;
	@include background-image(linear-gradient(rgb(255, 255, 255) 80%, rgb(212, 228, 232)));
}
#page-main .page-container .page-wrapper {
	padding-top: 55px;
}
#page-main .page-container > .page-wrapper {
	background-color: transparent;
}
#rewards_page_body h1 {
	@include font-size(2.4);
	color: white;
	padding: 16px 30px;
}
.referral .ui-dialog-title,
#rewards_page_body h2 {
	color: rgb(82, 148, 163);
	font-weight: normal;
	@include font-size(2.4);
}
#rewards_page_body .strong {
	font-weight: bold;
}
#rewards_page_body .emphasize {
	@include font-size(2.4);
	color: rgb(41, 41, 41);
}
#rewards_page_body .centered {
	text-align: center;
}
#rewards_page_body .text {
	@include font-size(1.6);
	color: rgb(77, 77, 77);
}
#ribbon {
	background: url("/static/img/blue-ribbon.png") no-repeat;
	height: 70px;
	position: relative;
	left: -1px;
}
#advice {
	background: url("/static/img/shadow-divider.png") no-repeat bottom center, url("/static/img/whisper.png") no-repeat 90% 10px;
	position: relative;
	padding: 30px 30px 55px;
}
#curvy-arrow {
	position: absolute;
	bottom: -85px;
	left: 200px;
	background: url("/static/img/curvy-arrow.png") no-repeat top right;
	width: 110px;
	height: 145px;
}
#calculator {
	height: 370px;
	padding-left: 370px;
	padding-right: 30px;
}
#calculator.girl-1 {
	background: url("/static/img/girl-1.png") no-repeat 50px bottom;
}
#calculator.girl-2 {
	background: url("/static/img/girl-2.png") no-repeat 50px bottom;
}
#calculator.girl-3 {
	background: url("/static/img/girl-3.png") no-repeat 50px bottom;
}
#rewards_page_body #calculator h2 {
	padding-top: 35px;
}

#calculator #slider-wrapper {
	height: 65px;
	margin-top: 30px;
	margin-bottom: 20px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 7px;
	background-color: rgb(228, 237, 240);
	box-shadow: inset 0px 0px 5px #ccc;
}
#calculator #slider {
	height: 14px;
	/* 65/2 - 14/2 = 33 - 7 = 26*/
	margin: 26px 35px;
	background: rgb(201, 210, 212);
	box-shadow: inset 0px 1px 2px rgb(129, 138, 144);
}
#calculator #slider .ui-slider-handle {
	height: 32px;
	width: 65px;
	margin-top: -6px;
	margin-left: -30px;

    border: 1px solid #718f31 !important; /* stroke */
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27); /* drop shadow and inner shadow */
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27); /* drop shadow and inner shadow */
    box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27); /* drop shadow and inner shadow */
    background: url("/static/img/slider-arrows.png") no-repeat center center, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5ODMwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjNjk5ZDE3IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM3MWFiMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzdmYmYxYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk5Y2I0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, -moz-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, -o-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, -webkit-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%); /* gradient overlay */
    color: #fff;
    text-shadow: 0 -1px 0 rgba(69,97,14,.65); /* drop shadow */
    background-color: #71ab19; /* layer fill content */
    cursor: pointer;
}
#calculator #slider .ui-slider-handle:hover {
    background-color: #e6e6e6; /* layer fill content */
    background: url("/static/img/slider-arrows.png") no-repeat center center, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5Y2I0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNCUiIHN0b3AtY29sb3I9IiM3ZmJmMWIiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzcxYWIxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjNjk5ZDE3IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTk4MzBiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, -moz-linear-gradient(bottom, #99cb45 0%, #7fbf1b 4%, #71ab19 50%, #699d17 51%, #59830b 100%); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, -o-linear-gradient(bottom, #99cb45 0%, #7fbf1b 4%, #71ab19 50%, #699d17 51%, #59830b 100%); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, -webkit-linear-gradient(bottom, #99cb45 0%, #7fbf1b 4%, #71ab19 50%, #699d17 51%, #59830b 100%); /* gradient overlay */
    background: url("/static/img/slider-arrows.png") no-repeat center center, linear-gradient(bottom, #99cb45 0%, #7fbf1b 4%, #71ab19 50%, #699d17 51%, #59830b 100%); /* gradient overlay */
    background-color: #699d17; /* layer fill content */
}
#rewards_page_body  .referral.step-2  button {
	padding: 12px 20px;
	@include font-size(1.6);
	cursor: pointer;
	margin-top: 40px;
}

#rewards_page_body .referral.step-2 {
	display: none;
}
.referral.step-2 #advice,
.referral.step-3 #advice {
	background: transparent;
}
.referral.step-2 #inputfields {
	background: white;
	width: 585px;
	height: 250px;
	margin-left: 30px;
	margin-top: 10px;
	padding: 40px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	-webkit-box-shadow: 0px -2px 7px 1px rgba(0, 0, 0, 0.2);
          	box-shadow: 0px -2px 7px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.referral.step-2 #inputfields button {
	margin: 0;
	margin-top: 40px;
	height: 55px;
}
#pointing-girl {
	position: absolute;
	left: 638px;
	top: 36px;
	width: 236px;
	height: 324px;
	background: url('/static/img/pointing-girl.png') no-repeat;
}
.referral.step-3 {
	display: none;
}
#rewards_page_body .referral.step-3 #code-container button {
	height: 20px;
	margin: 10px;
	margin-bottom: 20px;
	border: 1px solid rgb(195, 195, 195);
	padding: 4px 14px;
	@include font-size(1.1);
	background: rgb(242, 242, 242);
	border-radius: 4px;
	cursor: pointer;
}
#code-container {
	width: 390px;
	float: left;
	text-align: center;
	background: white;
	border-radius: 7px;
	border: 1px solid rgb(222, 222, 222);
	position: relative;
}
#code-container .text {
	@include font-size(1.4);
	margin-bottom: 13px;
}
#code-container input {
	height: 16px;
	font-size: 12px;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	margin: 9px;
	cursor: text;
	color: rgb(120, 120, 120);
}
#code-container input.narrow {
	width: 60px;
}
#code-container input.wide {
	width: 230px;
}
#code-container > button {
	height: 16px;
}

#social-buttons {
	float: left;
	width: 340px;
	margin-left: 27px;
}
.tile {
	border: 1px solid transparent;
	margin: 8px;
	margin-top: 0px;
	margin-bottom: 16px;
	width: 95px;
	height: 95px;
	float: left;
	position: relative;

	@include font-size(1.5);
}
.tile > .v-centered {
	height: 40px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	margin: auto;
}
.tile.social {
	cursor: pointer;
}
.tile.social .caption {
	text-shadow: 0px -2px 0px rgb(95, 136, 33);
	position: absolute;
	bottom: 15px;
	text-align: center;
	width: 100%;
	@include font-size(1.4);
}
.tile.social > .icon {
	background-repeat: no-repeat;
	width: 100%;
	height: 75%;
	background-position: 50% 50%;
}
.share-email.tile.social > .icon {
	background-image:  url(/static/img/tile-icon-email.png);
}
.share-fb.tile.social > .icon {
	background-image:  url(/static/img/tile-icon-fb.png);
}
.share-twitter.tile.social > .icon {
	background-image:  url(/static/img/tile-icon-twitter.png);
}
.share-gplus.tile.social > .icon {
	background-image:  url(/static/img/tile-icon-googleplus.png);
}
.share-sms.tile.social > .icon {
	background-image:  url(/static/img/tile-icon-mobile.png);
}
.share-twitter.social,
.share-gplus.social,
.share-sms.social {
	margin-bottom: 0;
}
#registration-buttons {
	clear: both;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;

	h2 {
		margin-top: 20px;
		font-size: 16px;; 
	}
}
#registration-buttons span {
	display: inline-block;
	height: 22px;
	width: 1px;
	margin: 0 30px;
	border: 0;
	border-left: 1px solid rgb(138, 142, 142);
	position: relative;
	top: 7px;
}
#registration-buttons button {
	width: 220px;
	height: 35px;
	@include font-size(1.4);
	cursor: pointer;
}
#registration-buttons button.btn_green a {
	color: white !important;
}
#registration-buttons button.btn-grey a {
	color: rgb(77, 77, 77) !important;
}
#registration-buttons button a:hover {
	text-decoration: none !important;
}
.btn-grey {
	font-weight: normal;
	border: 1px solid rgb( 195, 195, 195 );
	border-radius: 6px;
	background-image: -moz-linear-gradient( 90deg, rgb(237,237,237) 49%, rgb(242,242,242) 49%, rgb(247,247,247) 50%, rgb(239,239,239) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(237,237,237) 49%, rgb(242,242,242) 49%, rgb(247,247,247) 50%, rgb(239,239,239) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(237,237,237) 49%, rgb(242,242,242) 49%, rgb(247,247,247) 50%, rgb(239,239,239) 100%);
  	box-shadow: 1px 1.732px 3px 0px rgba( 0, 0, 0, 0.3);
}
.btn-grey:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(247,247,247) 50%, rgb(242,242,242) 51%, rgb(237,237,237) 51%);
  background-image: -webkit-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(247,247,247) 50%, rgb(242,242,242) 51%, rgb(237,237,237) 51%);
  background-image: -ms-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(247,247,247) 50%, rgb(242,242,242) 51%, rgb(237,237,237) 51%);
}
.btn-grey:active {
	box-shadow: none;
}


#sharing-options {
	background: rgb(244, 244, 244);
	padding: 25px;
	margin: auto;
	height: 210px;
	width: 760px;
	@include border-radius(10px);
	@include box-shadow(0px 0px 5px 2px rgba(0, 0, 0, 0.15));
}
#code {
	margin: auto;
	width: 200px;
	height: 70px;
	background: url("/static/img/coupon-plate.png");
	background-size: 100% 100%;
}
#code > .text {
	font-weight: bold;
	color: white;
	@include font-size(2.5);
	padding-top: 20px;
	text-shadow: 0px 0px 5px rgb(117, 105, 50);
	letter-spacing: 3px;
}
.referral {
	display: none;
}

.error {
	background-color: rgba(255, 0, 0, 0.2) !important;
	color: initial !important;
	font-weight: normal !important;
	background-clip: padding-box !important;
}

#code-container-arrow {
	background: url("/static/img/code-container-arrow.png") no-repeat;
	width: 17px;
	height: 57px;
	position: absolute;
	right: -15px;
	top: 32px;
}

#fb-choice,
#send-sms,
#send_email {
	border-radius: 0px !important;
	border-top: 1px solid #cbcbcb;
	margin: 0px 30px;
	padding-top: 20px;
}

#send-sms > div,
.referral #send_email > div {
	min-height: 60px;
	margin: auto;
}
#send-sms label[for=sms-message] + div,
#send-sms input,
.referral #send_email div[name=email_message],
.referral #send_email input {
	min-height: 32px;
	width: 537px;
	padding: 0px 3px;
	border-radius: 4px;
	border: 1px solid rgb(153, 153, 153);
	font-weight: normal;
	background-color: #f2f2f2;
	box-shadow: inset 0px 3px 5px 0px rgba(100,100,100, 0.3);
}
#send-sms label[for=sms-message] + div,
.referral #send_email div[name=email_message] {
	margin-left: 95px;
	padding: 6px 3px;
}
#send-sms input,
.referral #send_email input {
	@include input-placeholder {
		color: #cfcfcf;
		@include font-size(1.2);
		opacity: 1;
	}
}
#send-sms label,
.referral #send_email label {
	display: block;
	float: left;
	width: 85px;
	text-align: right;
	@include font-size(1.2);
	color: rgb(41, 41, 41);
	margin-top: 12px;
}
#send-sms label[for=sms-message] + div,
#send-sms input[readonly],
.referral #send_email input[readonly] {
	color: rgb(160, 160, 160);
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-button {
	border: 1px solid #c3c3c3 !important;
	width: 26px !important;
	height: 26px !important;
	background: #f5f5f5 !important;
	margin-top: 0px !important;
	margin-right: 10px !important;
}
.referral.ui-dialog .ui-dialog-title {
	margin-bottom: 12px;
	font-weight: bold;
	@include font-size(2.0);
}


#count-fb-friends {
	width: 466px;
	height: 53px;
	@include font-size(1.6);
	margin-top: 15px;
	cursor: pointer;
}

.popup {
	display: none;
}

#fb-choice > p {
	padding: 20px 0;
}

/* This is what you get when you have the ugliest patch ever on jQuery UI */
div[aria-describedby=fb-choice] > .ui-dialog-buttonpane > .ui-dialog-buttonset > button {
	border: 1px solid #718f31;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #e6e6e6;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27);
	box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…AiIHdpZHRoPSIyMTgiIGhlaWdodD0iMzQiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	background-image: -o-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	background-image: -webkit-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	background-image: linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	color: #fff;
	font-family: "Helvetica";
	@include font-size(1.4);
	font-weight: normal;
	text-shadow: 0 -1px 0 rgba(69,97,14,.65);
	cursor: pointer;	
}