.alert {
  &.at-alert-info {
    background-color: $info-alert-background;
    border-color: $info-alert-border;
    color: $info-alert-color;
  }

  &.at-alert-warning {
    background-color: $warning-alert-background;
    border-color: $warning-alert-border;
    color: $warning-alert-color;
  }

  &.at-alert-danger {
    background-color: $danger-alert-background;
    border-color: $danger-alert-border;
    color: $danger-alert-color;
  }
}
