.cal-event {
  @if variable_exists(calendar-event-background) {
    background-color: $calendar-event-background;
    color: $calendar-event-color;
  }
  @else {
    background-color: $primary-button-default-background;
    color: $primary-button-default-color;
  }
  @if variable_exists(calendar-event-hover-background) {
    &:hover {
      background-color: $calendar-event-hover-background;
    }
  }
  @if variable_exists(calendar-event-border-color) {
    border: 1px solid $calendar-event-border-color;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
      -webkit-filter: contrast(3);
      filter: contrast(3);
    }
  }
}

@if variable-exists(calendar-event-hover-background) {
  .at-widget-calendar .cal-event:hover {
    background-color: $calendar-event-hover-background;
    color: $calendar-event-hover-color;
  }
}

@if variable_exists(calendar-event-title-font) {
  .cal-event-title {
    color: $primary-button-default-color;
    font: $calendar-event-title-font;

    @if variable_exists(calendar-event-title-color) {
      color: $calendar-event-title-color !important;
    }
  }
}
