.at-btn {
  background-color: $primary-button-default-background;
  border-color: $primary-button-default-border;
  color: $primary-button-default-color;

  &.active, &:hover, &:focus {
    background-color: $primary-button-active-background;
    color: $primary-button-active-color;

    @if variable_exists(primary-button-active-border) {
      border-color: $primary-button-active-border;
    }
  }
}

.at-btn-outline {
  border-color: $primary-button-outline-border;
  background-color: $primary-button-outline-background;
  color: $primary-button-outline-color;
}

select,
select.form-control,
.ng-select__item {
  background-color: $primary-select-background;
  color: $primary-select-color !important;
  font: $primary-select-font;
  border-color: $primary-select-color;
}
