.at-menu {

  .at-progress-circle {
    background-color: $menu-circle-background;
    border-color: $menu-circle-border-color;
    color: $menu-circle-color;

    &.at-progress-done .at-progress-label,
    &.at-progress-active .at-progress-label {
      background-color: $menu-done-background;
      color: $menu-done-color;
    }
  }

  .at-progress-bar {
    background-color: $menu-circle-background;
    border-color: $menu-circle-border-color;
  }

  .at-progress-done {
    background-color: $menu-done-background;
  }

  .at-progress-title {
    color: $menu-outer-color;
    word-wrap: normal;
  }

  .at-progress-active .at-progress-title {
    color: $menu-outer-active-color;
  }

}
