.at-success__header {
  background-color: $success-header-background;
  color: $success-header-color;
}

.at-fullscreen {
  background-color: $fullscreen-background !important;

  .spinner div {
    background-color: $spinner-background !important;
  }
}
