.at-widget {
  background-color: $primary-background;
  color: $primary-color;
  font: $primary-font;

  @if variable-exists(primary-font-weight) {
    * {
      font-weight: $primary-font-weight !important;
    }
  }

  @if variable-exists(primary-zoom) {
    zoom: $primary-zoom;
    -moz-transform: scale($primary-zoom);
    -moz-transform-origin: 0 0;
    -o-transform: scale($primary-zoom);
    -o-transform-origin: 0 0;
    -webkit-transform: scale($primary-zoom);
    -webkit-transform-origin: 0 0;
    transform: scale($primary-zoom);
    transform-origin: 0 0;
    width: $full-width-with-zoom;
  }

  /** this is a hack to wait for custom styles to load. Do NOT remove it **/
  display: inline-block;

  .at-divider {
    border-color: $divider-color;
  }
}

.at-widget-ns {

  h1, h2, h3, h4, h5, h6 {
    @if variable_exists(headline-color) {
      color: $headline-color;
    } @else {
      color: inherit;
    }
    background-color: transparent;
    @if variable_exists(headline-font) {
      font: $headline-font;
    }
  }

  @import 'inputs';
  @import 'alerts';
  @import 'menu';
  @import 'success';
  @import 'calendar';

}
