{% extends 'base.html.twig' %}

{% block body %}
    {% if location is not null %}
        <h2><i class="fa fa-edit" aria-hidden="true"></i> {{ location.location }} {{ location.zip }}-{{ location.city }} (#{{ location.id }})</h2>
    {% else %}
        <h2>Neuen Standort erstellen</h2>
    {% endif %}
    <br />
    <div class="container">
        <div class="alert alert-danger response" id="createLocationFormErrors" style="display: none;"></div>
        {{ form_start(form, { attr: { id: 'createLocationForm' } }) }}
        {% include ':default/location:form.html.twig' with { form: form } %}
        {% include ':include:submit.html.twig' %}
        {{ form_end(form) }}
        <br />
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        {% set redirectTarget = path('practices') %}
        {% if location is not null and practiceId is not null %}
            {% set redirectTarget = path('update_practice', { id: practiceId }) %}
        {% endif %}

        var redirect = '{{ redirectTarget }}';
        var form = $('#createLocationForm');
        var errorContainer = $('#createLocationFormErrors');

        form.submit(function (e) {
            e.preventDefault();
            e.stopPropagation();

            errorContainer.fadeOut();
            var data = form.serialize();

            $.ajax({
                url: '{{ path('api_update_location', { id: location.id }) }}',
                dataType: 'json',
                method: 'PUT',
                data: data,
                success: function (res) {
                    if (res.success) {
                        errorContainer.removeClass('alert-danger');
                        errorContainer.addClass('alert-success');
                        handleErrors('Standort erfolgreich aktualisiert. Weiterleitung ...');

                        setTimeout(function () {
                            window.location.href = redirect;
                        }, 1000);
                    } else {
                        handleErrors('<pre>' + JSON.stringify(res, null, 2) + '</pre>');
                    }
                },
                error: function (err) {
                    handleErrors('<pre>' + JSON.stringify(err.responseJSON, null, 2) + '</pre>');
                }
            });
        });

        function handleErrors(errors) {
            errorContainer.html(errors);
            errorContainer.fadeIn();
        }
    </script>
{% endblock %}
