{{ form_row(form.location) }}
<div class="row">
    <div class="col-md-2 col-xs-4">
        {{ form_row(form.zip) }}
    </div>
    <div class="col-md-4 col-xs-8">
        {{ form_row(form.city) }}
    </div>
    <div class="col-md-3 col-xs-6">
        {{ form_row(form.longitude) }}
    </div>
    <div class="col-md-3 col-xs-6">
        {{ form_row(form.latitude) }}
    </div>
</div>
<h4>Kontakt</h4>
<div class="row">
    <div class="col-sm-6 col-xs-12">
        {{ form_row(form.contactMail) }}
    </div>
    <div class="col-6">
        {{ form_row(form.phone) }}
    </div>
    <div class="col-6">
        {{ form_row(form.phoneMobile) }}
    </div>
</div>
