{% extends 'base.html.twig' %}

{% block body %}
    <h2><i class="fa fa-edit" aria-hidden="true"></i> location (#{{ location.id }})</h2>
    <br />
    <div class="container">
        {{ form_start(updateLocation) }}
        {% include ':default/location:form.html.twig' with { form: updateLocation } %}
        {% include ':include:submit.html.twig' %}
        {{ form_end(updateLocation) }}
    </div>
{% endblock %}
