.container
  .row
    .col-sm-6
      h2 Fecha y hora de mi cita
      .highlight-bar.table-for-vertical-alignment: .table-row: .table-cell
        'El día:
        strong< Lorem ipsum Incididunt reprehenderit esse esse sunt id nostrud minim non quis ad. Lorem ipsum Sit elit culpa nisi fugiat ad Excepteur Duis velit consectetur ullamco ea Ut.

      .row
        .col-sm-4
          img.fullsize-image src="/asset/000/001/872/Alija Kadic_4.jpg"
        .col-sm-8
          p.text-uppercase Tu Doctor
          h3 Dra. Marian González Faria
          span.fa.fa-phone
          a href="tel:+493080619380" 932201665
          h4 UBICACIÓN:
          p
            strong Clinica Dental Sonrisas
            br
            'Calle de Joaquín María López, 28
            br
            '28015 Madrid
        .col-sm-12.m-t-2
          ul.list-unstyled
            li ¿Han cambiado tus planes? No hay problema, cancela o modifica tu cita en cualquier momento.
            li Contacta con nuestro servicio de atención a clientes en el 93 220 16 65
            li Tus datos son utilizados conforme a lo establecido en nuestra Política de privacidad de datos.

    .col-sm-6
      h2 Tus datos

      form.sidebar-box.colored.carousel.slide data-name="booking-form" data-ride="carousel" data-interval="false"
        .carousel-inner

          .carousel-item.active
            fieldset.form-group
              label Soy
              br
              .radio-inline
                label
                  input type="radio" name="radio-1"
                  'Mujer
              .radio-inline
                label
                  input type="radio" name="radio-1"
                  'Hombre

            fieldset.form-group
              label Nombre(s)
              input.form-control type="text"

            fieldset.form-group
              label Apellido(s)
              input.form-control type="text"

            fieldset.form-group
              label Correo electrónico
              input.form-control type="text"

            fieldset.form-group
              label Número de teléfono movil/fijo:
              input.form-control type="text"

            fieldset.form-group
              a.btn.btn-primary.pull-right data-target="[data-name=booking-form]" data-slide-to="1"
                'Continuar
                span.fa.fa-chevron-right

          .carousel-item

            fieldset.form-group
              label
                'Motivo de la visita
                small (opcional)
              select.form-control.form-control-lg
                option Por favor selecciona
                option Por favor selecciona 2

            fieldset.form-group
              label
                'Aseguradora
                small (opcional)
              select.form-control.form-control-lg
                option Por favor selecciona
                option Por favor selecciona 2

            fieldset.form-group
              label ¿Has visitado previamente la consulta del médico? SDS Centro Dental?
              .form-inline
                .radio
                  label
                    input type="radio" name="radio-2"
                    'No
                .radio
                  label
                    input type="radio" name="radio-2"
                    'Si

            fieldset.form-group
              .checkbox
                label
                  input type="checkbox"
                  'He leído y acepto las condiciones descritas en la
                  a<> href="#" política de privacidad de datos
                  'de doctorio en relación al uso de mis datos para pedir cita médica. Doctorio.es podrá hacer llegar mis datos principalmente a doctores y estos podrán contactarme para validar mis peticiones de cita.

              .checkbox
                label
                  input type="checkbox"
                  'Suscribete al boletín de información
            fieldset.form-group
              span.fa.fa-chevron-left.icon.icon-back data-target="[data-name=booking-form]" data-slide-to="0"
              a.btn.btn-primary.pull-right data-target="[data-name=booking-form]" data-slide-to="1"
                'Pedir Cita
                span.fa.fa-check-circle
