.container
  .row
    .col-sm-6

      h2 Tu cita

      .highlight-bar.table-for-vertical-alignment: .table-row: .table-cell
        strong Martes, 09.06.2015 a las 09:00

      .row
        .col-sm-4
          img.fullsize-image src="/asset/000/001/872/Alija Kadic_4.jpg"
        .col-sm-8
          p.text-uppercase Con el doctor
          h3 Dra. Marian González Faria
          p
            strong Clinica Dental Sonrisas
            br
            'Calle de Joaquín María López, 28
            br
            '28015 Madrid

    .col-sm-6
      h2 Tu cita ha sido reservada con éxito
      .sidebar-box.m-b-1
        h4 No necesitas que hacer nada más.
        p Muy pronto te enviaremos una confirmación de tu cita por correo electrónico, con esta notificación se concluye el proceso de reserva de cita.

      .sidebar-box.m-b-1
        h4 ¿Tienes alguna pregunta?
        p Contactanos en cualquier momento
        p.large-text
          a href="#"
            span.fa.fa-phone>
            span 932201665

      .sidebar-box.m-b-1
        h4 doctorio en las redes sociales

        .row
          .col-lg-6
            .media
              .media-left: span.fa.fa-facebook-square.fa-3x.icon.icon-facebook
              .media-body: p Comparte con tus amigos lo fácil y rápido que es encontrar al médico más adecuado.
            .m-b-1.hidden-lg-up
          .col-lg-6
            .media
              .media-left: span.fa.fa-twitter-square.fa-3x.icon.icon-twitter
              .media-body: p Síguenos en twitter y recibe consejos de salud.

