.container
  .row

    .col-sm-12

      .flash.alert.alert-info
        strong> Wusstest Du schon?
        'In 12 Minuten loggen wir Dich aus.

      .flash.alert.alert-success
        strong> Glückwunsch!
        'Du hast Dich erfolgreich eingeloggt.

      .flash.alert.alert-warning
        strong> Huch!
        'Willst Du Dich wirklich ausloggen?

      .flash.alert.alert-danger
        strong> Schade!
        'Das Ausloggen ist fehlgeschlagen. Du wirst nun für immer eingeloggt bleiben.

    .col-sm-12
      h1 Directorio médico
      h2 Encuentra dentistas y consultorios médicos a través de nuestro directorio médico.

      ul.list-unstyled.list-inline.m-b-3
        - letters = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
        - letters.each do |letter|
          li: a href="#" #{letter}
        li: a href="#" a - z

      .phone-book-list.m-b-3
        - 22.times do
          div
            h3 Tal Como Eres
            p
              'Dr. Gómez Ferrer, 3
              br
              '46010 - Valencia
              br
              a href="#" Tal Como Eres

        - 33.times do
          div
            h3 Torres Diez Y Hernandez-gil S.L.
            p
              'Av. Presidente Adólfo Suárez, 10
              br
              '46010 - Valencia
              br
              a href="#" Tu Desarrollo Personal
