.container
  .row
    .col-sm-12

      .row.m-b

        .col-sm-2
          img.fullsize-image src="/asset/000/001/872/Alija Kadic_4.jpg"

        .col-sm-6.m-b
          .profile-header
            h1 Dr. Rómano Cieslikowicz
            .phone
              a href="tel:+49932201665"
                span.fa.fa-phone>
                span 932201665

          table.table-top-aligned-with-nonbreaking-labels.no-table-when-mobile
            tr
              td: h4 Especialidades:
              td.p-l-1 Dentista, Urólogo, Cardiólogo, Dentista, Urólogo, Cardiólogo, Dentista, Urólogo, Cardiólogo, Dentista, Urólogo, Cardiólogo, Dentista, Urólogo, Cardiólogo, Dentista, Urólogo, Cardiólogo, Dentista, Urólogo, Cardiólogo
            tr
              td: h4 Valoración general
              td.rating-star.p-l-1: .stars.m-l-0: div style="width: 10%"
            tr
              td: h4 Valoración total
              td.rating-star.p-l-1: .stars.m-l-0: div style="width: 33%"
            tr
              td: h4 Valoración total
              td.rating-star.p-l-1: .stars.m-l-0: div style="width: 78%"

          div.m-t-1
            a.btn.btn-primary.btn-sm Rate this doctor

        .col-sm-4
          img.fullsize-image src="http://maps.googleapis.com/maps/api/staticmap?center=almargo&zoom=17&scale=false&size=600x600&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7Calmargo"

      h2 Elige la cita que mejor te acomode
      - 3.times do
        .row
          .col-sm-9

            span.icon.icon-map
              span.number 1

            div

              h3.m-b-0.m-r-1
                a href="#" SDS Centro Dental
              p.m-b-0
                small
                  span.address
                    'Calle Rafael Calvo, 0815, 28010 Madrid Saint Raphaêl

          .col-sm-3
            a.pull-right-sm-up href="#"
              span.fa.fa-phone>
              span 932201665

        .profile-picture-and-calendar.m-t-1.m-b-2
          .picture style="background-image: url('/images/application/practice.png');"
          .calendar-wrapper
            .calendar.m-y-0 – Calendar –

      h2 Información adicional del médico

      .row.m-y-2
        .col-sm-3: h5: em Prices
        .col-sm-9
          table.table.table-with-background
            -4.times do |i|
              tr
                td Treatment #{i}
                td.text-right Free of charge
              tr
                td Treatment #{i}
                td.text-right
                  a href="#" Ask for the price

      .row.m-y-2
        .col-sm-3: h5: em Philosophy
        .col-sm-9
          p Lorem ipsum In consequat irure aliquip est dolor eiusmod eiusmod in aliquip. Lorem ipsum Excepteur ad adipisicing quis nulla elit et Ut ut. Lorem ipsum Duis pariatur qui aliqua id in cupidatat irure cupidatat tempor fugiat adipisicing elit.

      .row.m-y-2
        .col-sm-3: h5: em Treatments
        .col-sm-9
          p Lorem ipsum In consequat irure aliquip est dolor eiusmod eiusmod in aliquip. Lorem ipsum Excepteur ad adipisicing quis nulla elit et Ut ut. Lorem ipsum Duis pariatur qui aliqua id in cupidatat irure cupidatat tempor fugiat adipisicing elit.
      .row.m-y-2
        .col-sm-3: h5: em Languages
        .col-sm-9
          p Lorem ipsum In consequat irure aliquip est dolor eiusmod eiusmod in aliquip. Lorem ipsum Excepteur ad adipisicing quis nulla elit et Ut ut. Lorem ipsum Duis pariatur qui aliqua id in cupidatat irure cupidatat tempor fugiat adipisicing elit.
      .row.m-y-2
        .col-sm-3: h5: em Ratings
        .col-sm-9
          .rating
            - 7.times do |i|
              .rating-sender
                'Fr, 14.8.2015 von Huang, Juei-min (Verifizierter Patient)
              .rating-content

                .rating-star.is-inline.multiple-ratings-inline
                  h4.rating-name Conducta del doctor
                  .stars: div style="width: 10%"

                .rating-star.is-inline.multiple-ratings-inline
                  h4.rating-name Puntualidad
                  .stars: div style="width: 43%"

                .rating-star.is-inline.multiple-ratings-inline
                  h4.rating-name Valoración general
                  .stars: div style="width: 85%"

                blockquote: p
                  'Lorem ipsum Deserunt adipisicing aliquip Ut irure qui adipisicing consequat qui. Lorem ipsum Aliqua sunt ad dolore minim esse dolor.
                - if i.even?
                  .rating-comment
                    blockquote
                      p Lorem ipsum Aute aliquip id aute ex amet labore consectetur in. Lorem ipsum Aliqua minim ex adipisicing cupidatat eiusmod laborum veniam sint magna anim. Lorem ipsum Ea ad ea in aliqua tempor reprehenderit labore sit qui labore irure in.
                    p.quote-sender Dr. Diego Heras Rodriguez &bull; Mo 8. April 2015
