.container.m-y-3

  .row.m-y-3

    .col-sm-2.hidden-xs-down
      img.fullsize-image src="/images/page/404/error_ico.png"

    .col-sm-9.col-sm-offset-1
      h1 404 – Urgencias
      h2 Desgraciadamente no hemos podido encontrar la consulta o doctor que has solicitado.
      p Por favor intenta nuevamente o comunícate con nuestro servicio de atención a clientes:
      ul.list-unstyled
        li
          '+
          a href="#" Iniciar nueva solicitud en doctorio.es
        li
          '+
          a href="#" Contactar servicio de atención a clientes
        li
          '+
          a href="#"
            span.fa.fa-phone>
            'Atención al cliente 93 220 16 65
