.home-banner
  .container
    .row.content
      .col-xs-12.col-lg-6

        h1 Reserva ahora una cita médica
        ul.benefit-list.list-unstyled.hidden-sm-down
          li Cerca de tí
          li El día y la hora que mejor te venga
          li Fácil y gratis


      .col-xs-12 style="position: static": form.search-form.is-large
        fieldset.form-group.m-b-0

          .col-md-5
            label.form-control-label for="specialization" Especialista Médico
            select.form-control#specialization
              option Por facor selecciona
              option Geriatra
              option Endocrino

          .col-md-4
            label.form-control-label for="location" Ciudad o Código Postal
            input.form-control#location type="text" placeholder="ej. Madrid o 28080"

          .col-md-3
            button.btn.btn-secondary.btn-block.text-uppercase type="submit" Buscar cita previa

.container
  .row.content

    .col-sm-12
      .row
        .col-md-7.col-lg-6.p-t-1
          hr.vertical-space.only-a-bit.hidden-md-down
          h2.is-prominent Your benefits with doctorio.es
          ul.list-unstyled.benefit-list-with-icons
            li Time saving in appointment booking
            li Less no shows
            li Be found through Google
          a.btn.btn-secondary.text-uppercase.has-larger-padding href="#" Join

        .col-md-5.col-lg-6
          img.fullsize-image.m-t-3 src="/images/page/homepage/preview-on-devices.png" width=""


.testimonial-card.m-t-1.p-t-3
  .container
    .row.content
      .col-sm-6
        .testimonial
          .row
            .col-xs-12.col-lg-4.text-xs-center
              .author-image
              .author-name Jillian-Peter N.
              .author-location Mönchengladbach
            .col-xs-12.col-lg-8
              blockquote I use doctorio to book all of my appointments. The app just makes it so easy.
              .stars ★★★★★

      .col-sm-6.copytext
        h2.is-prominent Lorem ipsum Consectetur incididunt magna.
        p Lorem ipsum Duis sint nulla Excepteur ut magna laboris laboris incididunt. Lorem ipsum Eiusmod veniam ullamco quis eu quis qui ex fugiat cillum fugiat non velit. Lorem ipsum Incididunt veniam nostrud aliqua dolore ullamco.
        a.btn.btn-secondary.text-uppercase.has-larger-padding Book now!

