.container

  .row

    .col-sm-6
      h1 Acceso Profesionales Médicos

    .col-sm-6.m-b-1.text-right.text-right-except-mobile
      span> ¿Todavía no tienes cuenta con nosotros?
      a href="#" Regístrate aquí.

  .row
    .col-sm-6.m-b-1

      form.sidebar-box.colored

        fieldset.form-group
          label Correo electrónico
          input.form-control type="email"
        fieldset.form-group
          label Contraseña
          input.form-control type="password"
          small: a href="#" He olvidado mi contraseña
        fieldset.form-group
          a.btn.btn-primary.pull-right
            'Iniciar sesión
            span.fa.fa-check-chevron-right

    .col-sm-6.m-b-1
      .sidebar-box
        h4 ¿Tienes alguna pregunta?
        p Ponte en contacto con nosotros
        p.large-text
          a href="#"
            span.fa.fa-phone>
            span 932201665
