.container
  .row
    .col-sm-12

      ol.breadcrumb
        li: a href="#" doctorio.es
        li: a href="#" Cirujano oral y maxilofacial en Madrid
        li.acive: a href="#" SDS Centro Dental

      ol.breadcrumb
        li: a href="#" doctorio.es
        li: a href="#" Dentista en Madrid
        li.acive: a href="#" SDS Centro Dental

      h1
        'SDS Centro Dental
        a.pull-right href="#"
          span.fa.fa-phone 932201665


    .row
      .col-sm-2
        code Image
      .col-sm-7
        p
          'Calle Rafael Calvo, 5
          br
          'Madrid

        h4 VALORACIÓN
        .row

          - 3.times do |i, value1 = Random.rand(100), value2 = Random.rand(100), value3 = Random.rand(100)|
            .col-sm-4
              .rating-star
                .rating-name
                  - if i == 0
                    'Valoración general
                  - if i == 1
                    'Valoración total
                  - if i == 2
                    'Valoración total
                .rating: div style="width: #{value3}%"

        h4 ÁREAS DE ESPECIALIZACIÓN
        p Cirujano oral y maxilofacial, Dentista

      .col-sm-3
        img src="http://maps.googleapis.com/maps/api/staticmap?center=almargo&zoom=14&scale=false&size=160x160&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7Calmargo"


    h2 Elige la fecha más conveniente para tu cita
    .media
      .media-left
        span.fa.fa-map-marker
      .media-body
        h3
          'SDS Centro Dental (Dentista)
          a.pull-right href="#"
            span.fa.fa-phone
            '932201665
        p: small Calle Rafael Calvo, 5 28010 Madrid

    .row
      .col-sm-2
        code Image

      .col-sm-10
        .calendar — Calendar –

