.container
  .row
    .col-sm-6

      h2 Valora tu visita con este doctor

      .row
        .col-sm-4
          img.fullsize-image src="/asset/000/001/872/Alija Kadic_4.jpg"
        .col-sm-8
          p.text-uppercase DIRECCIÓN
          h3 Dr Bjöern Test
          p
            strong Clinica Dental Sonrisas
            br
            'Calle de Joaquín María López, 28
            br
            '28015 Madrid

        .clearfix

        .col-sm-10.m-t-3

          .row
            .col-xs-2.text-xs-center: span.fa.fa-commenting.fa-2x.icon.icon-decent
            .col-xs-10: p Valora de forma objetiva tu experiencia con este doctor. Tu opinión ayuda a otros pacientes a elegir adecuadamente.

          .row
            .col-xs-2.text-xs-center: span.fa.fa-lock.fa-3x.icon.icon-decent
            .col-xs-10
              p
                'Tus datos serán utilizados de acuerdo a lo establecido en nuestra
                a< href="#" Política de privacidad de datos
                '.

    .col-sm-6
      h2 Tu experiencia

      form.sidebar-box.colored
        fieldset.form-group
          label Tu nombre
          input.form-control type="text"

        fieldset.form-group
          label Describe tu experiencia
          textarea.form-control cols="50" rows="5" placeholder="Por favor describe tu experiencia con este doctor. ¿Qué te ha parecido el servicio? ¿Qué te pareció la atención médica que recibiste? ¿Fue largo el tiempo de espera? ¿Ha sido fácil encontrar la consulta médica?"

        fieldset.form-group
          label Conducta del doctor
          p: em Por favor valora la conducta y comportamiento del doctor.

          .rating-star.editable
            - 5.times do |i|
              input type="radio" name="radio-3" id=("radio-3-#{i}")
              label for="radio-3-#{i}" i

          label Puntualidad
          p: em Por favor valora la puntualidad de tu cita.
          .rating-star.editable
            - 5.times do |i|
              input type="radio" name="radio-4" id=("radio-4-#{i}")
              label for="radio-4-#{i}" i

          label Valoración general
          p: em Evalúa en términos generales tu visita con este doctor.
          .rating-star.editable
            - 5.times do |i|
              input type="radio" name="radio-5" id=("radio-5-#{i}")
              label for="radio-5-#{i}" i

        fieldset.form-group
          .checkbox
            label
              input type="checkbox"
              'Mi opinión puede ser publicada de forma anónima en sitios con los que doctorio colabore.

        fieldset.form-group
          a.btn.btn-primary.pull-right
            'Pedir Cita
            span.fa.fa-check-circle
