.container

  .row

    .col-sm-6
      h1 Registro

    .col-sm-6.text-right.m-b-1.text-right-except-mobile
      span> ¿Ya te has registrado?
      a href="#" Inicia sesión aquí

  .row
    .col-sm-6

      form.sidebar-box.colored

        fieldset.form-group
          label Soy
          .form-inline
            .radio: label
              input type="radio" name="radio-10"
              'Mjuer
            .radio: label
              input type="radio" name="radio-10"
              'Hombre

        fieldset.form-group
          label Título
          input.form-control type="text"

        fieldset.form-group
          label Nombre(s)
          input.form-control type="text"

        fieldset.form-group
          label Por favor introduce tus apellidos.
          input.form-control type="text"

        fieldset.form-group
          label Por favor introduce tu dirección de correo electrónico.
          input.form-control type="email"

        fieldset.form-group
          label
            'Por favor introduce eun número de teléfono válido.
            a data-toggle="tooltip" data-placement="top" title="Por favor, seleccione una contrasela que tiene al menos 8 caracteres con al menos una letra mayúscula y un número.": span.fa.fa-question-circle
          input.form-control type="tel"

        fieldset.form-group
          .checkbox: label
            input type="checkbox"
            'He leido y acepto las
            a< href="#" Términos y Condiciones de Uso y Politica de Protección de Datos.
          .checkbox: label
            input type="checkbox"
            'Suscribete al boletín de información

        fieldset.form-group
          a.btn.btn-primary.pull-right
            'Registrarse
            span.fa.fa-check-circle

    .col-sm-6
      .highlight-bar.table-for-vertical-alignment.arrow-is-left: .table-row: .table-cell
        'Crea tu perfil
        strong< de forma gratuita

      p
        strong> Las ventajas
        'de tu perfil
        strong< ¡Regístrate sin compromiso!
      ul
        li
          'Date a conocer entre los pacientes que buscan un especialista médico como tú.
          span.fa.fa-check.icon.icon-positive
        li
          'Recibe peticiones de pacientes que buscan tratamientos médicos como los que tu ofertas.
          span.fa.fa-check.icon.icon-positive
        li
          'Incrementa la eficiencia en tus consultas dedicando menos tiempo al registro y gestión de citas.
          span.fa.fa-check.icon.icon-positive
        li
          'Adquiere constantmente pacientes nuevos y llena espacios ocasionados por cambios o cancelaciones.
          span.fa.fa-check.icon.icon-positive
        li
          'Atiende todas las solicitudes de tus pacientes y simplfica la comunicación sin atender el teléfono.
          span.fa.fa-check.icon.icon-positive

      .sidebar-box
        h4 ¿Tienes alguna pregunta?
        p Contacta con nosotros 24 horas del día:
        p.large-text
          a href="#"
            span.fa.fa-phone>
            span 932201665
