.page-search

  .map data-name="collapsible-map"
    h2 style="border: 0" – Map –

  .container-fluid.results
    .row
      .col-md-8.col-md-offset-4

        .results

          form.search-form.on-light-background.m-b-3
            fieldset.form-group.m-b-0

              .col-md-6.col-lg-4
                label.form-control-label for="specialization" Especialista Médico
                select.form-control#specialization
                  option Por facor selecciona
                  option Geriatra
                  option Endocrino

              .col-md-6.col-lg-4
                label.form-control-label for="location" Ciudad o Código Postal
                input.form-control#location type="text" placeholder="ej. Madrid o 28080"

              .col-md-3.col-lg-4.hidden-md-down
                label.form-control-label.invisible
                  'Buscar
                button.btn.btn-secondary.btn-block type="submit" Ordenar resultados

            fieldset.form-group.m-b-0.search-filter.collapse data-name="search-filter"

              .inner
                .col-md-6.col-lg-5
                  label.form-control-label for="distance" Máxima distancia de búsqueda
                  select.form-control#distance
                    option 5 km
                    option 10 km
                    option 50 km

                .col-md-6.col-lg-4
                  label.form-control-label for="treatment" Tipo de tratamiento
                  select.form-control#treatment
                    option Visitas sucesivas
                    option Ortodoncia
                    option Implantología
                    option Odontología
                    option Periodoncia
                    option Endodoncia
                    option Odontopediatría
                    option Cirugía Oral y Maxilofacial
                    option Prótesis Dental (Fija
                    option Prótesis Dental (Removible
                    option Sedación
                    option Estética Dental
                    option ATM (articulación temporomandibular)

            fieldset.form-group.search-filter-toggle
              .col-sm-12
                a data-toggle="collapse" data-target="[data-name=search-filter]" href="#" Mostrar Más Filtros
                button.btn.btn-secondary.btn-block.hidden-lg-up.m-t type="submit" Ordenar resultados


          .text-xs-center.hidden-md-up
            a.btn.btn-primary-outline.btn-block.collapse-map-button.m-b-1 data-behavior="collapse-map" data-target="[data-name=collapsible-map]"
              i.fa.fa-map-o
              span.enable-map Ver mapa
              span.disable-map Ocultar mapa

          .result-list

            .headline
              .headline-text
                strong> 803 Dentistas
                'en
                strong<> Madrid
                'tienen citas para ti.

              .buttons.btn-group
                a.btn.btn-primary-outline.btn-sm back
                a.btn.btn-primary-outline.btn-sm más profesionales

            - 7.times do |i|

              .result.m-t-2
                .row
                  .col-sm-9
                    span.icon.icon-map
                      span.number #{i}
                    div
                      h3.m-b-0.m-r-1
                        'Dr. Diego Heras Rodriguez
                      .rating-star: .stars: div style="width: 10%"
                      p.m-b-0: small 0,3km | C./ Atocha 5 28012 Madrid
                  .col-sm-3
                    a.pull-right-sm-up href="tel:+49932201665"
                      span.fa.fa-phone>
                      '932201665
                .profile-picture-and-calendar.m-t-1
                  .picture style="background-image: url('/asset/000/001/858/Fotolia_38181170_XS_4.jpg');"
                  .calendar-wrapper
                    .calendar
                      '– Calendar –
            .footer
              .btn-group.pull-right.pull-right-sm-up
                a.btn.btn-primary-outline.btn-sm back
                a.btn.btn-primary-outline.btn-sm más profesionales
