body
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif
  color: $grey1
  font-weight: 400
  hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  -ms-hyphens: auto

h1,
h2,
h3,
h4,
h5,
h6,
a,
input
  hyphens: none
  -moz-hyphens: none
  -webkit-hyphens: none
  -ms-hyphens: none

h1,
.h1
  font-weight: 300
  color: $blue1
  -webkit-font-smoothing: antialiased
  strong
    font-weight: 600
    font-size: 36px
    line-height: 42px
    margin-bottom: 20px
    display: block
  em
    font-style: normal
    font-weight: 600

h2
  font-weight: 300
  font-size: 26px
  line-height: 30px
  color: $blue1
  -webkit-font-smoothing: antialiased

h3
  font-weight: 600
  font-size: 16px
  color: $grey1

h4
  font-weight: 400
  font-size: 16px
  line-height: 22px

p
  font-size: 16px
  line-height: 22px
  font-weight: 300

.main-content ul,
.main-content ol
  padding-left: 20px
  li
    font-size: 16px
    line-height: 22px
    font-weight: 300


.main-content ol li
  margin-bottom: 10px

strong
  font-weight: 600
  -webkit-font-smoothing: antialiased

a
  color: $grey1

.fa-chevron-right
  color: $red

blockquote
  position: relative
  font-size: 20px
  line-height: 24px
  border: 0
  padding: 0
  font-weight: 300
  margin: 20px 0 30px 0
  &:before
    content: "»"

  &:after
    content: "«"

  + .panel-group
    margin-top: -10px

  small
    position: absolute
    bottom: -20px
    left: 0

label
  font-weight: 400

figure
  margin-bottom: 30px
  figcaption
    font-weight: 300
    margin-top: 5px
    font-size: 14px

.fa + a
  margin-left: 5px
