{% extends 'base.html.twig' %}

{% block body %}
<div class="container text-center">
    <h2>404 - Hier gibts nix zu gucken!</h2>
    <p>
        Die angeforderte Seite oder Resource wurde nicht gefunden.
    </p>
    {{ app.request.getBaseUrl ~ app.request.getPathInfo }}
</div>
{% endblock %}
