{% extends 'base.html.twig' %}

{% block body %}
    <h2>Hey {{ app.user.firstName }}</h2>
    <br />
    <ul style="line-height: 200%;">
        <li><a href="{{ path('practices') }}">Praxisübersicht</a></li>
        <li><a href="{{ path('customers') }}">Kundenübersicht</a></li>
        <li><a href="{{ path('bookings') }}">Buchungsübersicht</a></li>
    </ul>
    <br />
    <a class="nav-item nav-link" href="{{ path('logout') }}" title="Abmelden"><i class="fa fa-sign-out" aria-hidden="true" style="color: #9d223c;"></i> Abmelden</a>
{% endblock %}
