.sonata-ba-list-field-batch {
  width: 38px;
}

.sonata-ba-list-field-actions {
  width: 113px;
}

td.sonata-ba-list-field.sonata-ba-list-field-integer {
  text-align: left;
}

.logo img {
  max-height: 80%;
  max-width: 100%;
}

.skin-black-light .sidebar-menu > li > a,
.skin-black-light .sidebar-menu > li.active > a {
  font-weight: normal;
}

.skin-black-light .sidebar-menu > li:hover > a,
.skin-black-light .sidebar-menu > li.active > a {
  background-color: #eee;
}

/*# sourceMappingURL=admin.css.map */
