@import "partials/all";

$color-dak-blue: #627B87;

/* LAYOUT DIFFERENCES */

.alert-wrapper {
  @include rem-fallback(margin-bottom, 2.5);
}

#search {
  top: 0;
  
  .search-map-shadow { box-shadow: none; }
}

#map-toggler {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  @include flat-button($color-dak-blue);
}

#results-list {
  @include rem-fallback(margin-top, -2);
}

.map-popup { @include rem-fallback(min-height, 5); }

.messagebox {
  text-align: center;
  border: 2px solid #FF660A;
  border-radius: 5px;
  padding: 0;
  @include rem-fallback(padding, 1);

  .phone {
    font-weight: bold;
    color: #FF660A;
  }
}

.two-cols-with-form {
  form label[for=checkbox-tos] {
    @include rem-fallback(font-size, 0.625);
  }
  
  #checkbox-newsletter {
    margin-top: -8rem; margin-top: -0.5rem;
    @include rem-fallback(margin-top, -0.5);
    
    & + label {
      @include rem-fallback(margin-top, -0.7);
      @include rem-fallback(margin-bottom, 0.5);
    }
  }

  &.booking {
    &.booking-form main {
      #form { position: relative; }

      form {
        position: absolute;
        width: 100%;
        padding: 0;
        @include rem-fallback(padding-top, 2);
        top: 0;
        @include rem-fallback(height, 37);
      }
    }

    /* Booking confirmation in one column */
    &.confirmation {
      h3 { @include rem-fallback(line-height, 2); }
      
      #booking-confirmation { width: 100%; }

      #info-block {
        @include rem-fallback(margin-bottom, 1);
        width: 70%;
      }
    }
  }

  /* 
    Overriding how the error notification is displayed. It's a bug in IE which
    happens only when this form is loaded in an iframe whose parent forces
    non-standard mode in IE. For example, in IE10 the page is rendered in IE9
    standard mode. The consequence is that the :after element can't be positioned
    correctly. That's why the error notifications are separate <div> (see _form.tpl).
  */
  .error-notification { 
    display: none; 
    color: red;
    @include font12;
    font-weight: 700;
    @include font-gudea;
  }
  .form-element.error {
    @include rem-fallback(margin-bottom, 0.5);

    .error-notification { display: block; }
    &:after { display: none !important; }
  }
}

@include at-breakpoint($mobile-tablet-2) {
  body { height: 0; }

  #search {
    box-shadow: none;
    border: 16px solid $color-at-white;
    border: 1rem solid $color-at-white;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
    @include rem-fallback(height, 15);
    z-index: 1 !important;
    bottom: auto;
    position: absolute;
    overflow: hidden;
  }

  #results-list {
    position: relative;
    @include rem-fallback(top, 17);
    z-index: 0 !important;

    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: scroll;
    bottom: 0;
    padding-top: 0;
    margin-top: 0;
  }
  #filters.expanded { 
    @include rem-fallback(margin-top, 3.5);
    
    &.hidden { margin-top: 0; }
  }
}


// MOBILE PHONE LAYOUT
@include at-breakpoint($mobile) {

  #search { 
    @include rem-fallback(height, 2); 

    &.expanded { 
      @include rem-fallback(height, 10);
    }
  }

  #map-toggler { 
    display: block; 
    @include rem-fallback(height, 2);
    width: 100%;
    @include font12;
    z-index: 9;
  }
  #search-map ~ #map-toggler {
    @include rem-fallback(width, 10);
  }

  #results-list { 
    @include rem-fallback(top, 4); 

    &.pushed {
      @include rem-fallback(top, 12);
    }
  }

  .result {
    @include rem-fallback(padding-bottom, 0.2);

    & > .wrapper { 
      @include rem-fallback(padding-top, 0.2); 
      @include rem-fallback(margin-bottom, 0.2); 
    }
    header {
      float: none;
      width: 100%;
      @include rem-fallback(margin-bottom, 0.2); 
      position: relative;

      .map-pin { 
        left: 0;
        @include rem-fallback(width, 1);
        @include rem-fallback(top, -1.3);
        font-size: 8px;
        &:before {
          @include rem-fallback(font-size, 1.2);
          @include rem-fallback(top, 0.8);
          @include rem-fallback(left, 0.1);
        } 
      }
      .title {
        display: block;
        padding-top: 0;
        @include rem-fallback(margin-left, 1);
      }
      .name {
        float: left;
        margin-left: 0;
        @include font14;
        @include rem-fallback(padding-right, 7.5);
      }
      .phone {
        position: absolute;
        right: 0;
        @include rem-fallback(margin-right, 0.2);
        @include font14;
        height: auto;
      }
      .address {
        display: block;
        clear: both;
        @include font12;

        [itemprop=streetAddress]:after { content: ", "; }
        .zip-city { display: inline; }
      }
    }

    .calendar {
      @include rem-fallback(height, 6.8);

      .col .header {
        @include rem-fallback(font-size, 0.5);
      }

      .appointment {
        @include rem-fallback(padding, 0.1, 0);
      }

      &.exception .action {
        @include rem-fallback(top, 3.5);
        @include font12;
        @include rem-fallback(line-height, 3);
      }
    }
  }

  .two-cols-with-form.booking {
    &.confirmation {
      #booking-confirmation { width: 100%; }

      #info-block {
        @include rem-fallback(margin-bottom, 1);
        width: 100%;
      }
    }
  }
}


// From here on, needs to be converted to SCSS

/* COLOR OVERRIDES */
.result .map-pin:before,
.two-cols-with-form #booking-confirmation h3 { color: #FF660A; }
.two-cols-with-form form button,
.two-cols-with-form #info-block .orange-bar { background-color: #FF660A; }
.two-cols-with-form #info-block .orange-bar:after { border-left-color: #FF660A; }

.calendar.exception.type-next-available-appointment .message > a,
.calendar.exception.type-no-selected-insurance .message > a,
.calendar.exception.type-integration_8 .message > a,
.appointment,
.two-cols-with-form form #step-1 button {
  color: #FFFFFF;
  border-color: #FF660A; 
  background-color: #FF660A; 
}
.calendar.exception.type-next-available-appointment .message > a,
.calendar.exception.type-no-selected-insurance .message > a,
.calendar.exception.type-integration_8 .message > a,
.appointment:hover,
.two-cols-with-form form #step-1 button:hover {
  background-color: #FF660A;
  border-color: #990000; 
}

.result .additional-info>ul li,
.calendar .arrow,
#filters .show-more, #filters .toggle-filters,
.two-cols-with-form form #step-2 #go-to-step1:before,
.two-cols-with-form #info-block .comfort-elements li:before,
h2,
h3,
a {
  color: #627B87; 
}
.calendar .arrow:hover,
.two-cols-with-form form #step-2 #go-to-step1:hover:before { color: #7B9AA9;}
.clarification {
  font-style: italic;
  color: #999;
  font-size: 12px;
  font-size: 0.75rem;
  line-spacing: 14px;
  line-spacing: 0.875px;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

#filters .refresh-filters {
  color: #FFFFFF;
  border-color: #627B87; 
  background-color: #627B87; 
}
#filters .refresh-filters:hover { 
  background-color: #7B9AA9; 
}

.appointments {
  border-color: #627B87; 
}

.calendar .arrow,
.calendar.exception .col,
.calendar .col .col-header { 
  background-color: #F1F5F6; 
}

/* MAP MARKER ICONS */
.marker div.active { background-image: url("/static/images/assets/widget/dak/map-marker-active.png"); }
.marker div.inactive { background-image: url("/static/images/assets/widget/dak/map-marker.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), 
       only screen and (-moz-min-device-pixel-ratio: 2), 
       only screen and (-o-min-device-pixel-ratio: 2 / 1), 
       only screen and (min-device-pixel-ratio: 2), 
       only screen and (min-resolution: 192dpi), 
       only screen and (min-resolution: 2dppx) {
  .marker div.active { background-image: url("/static/images/assets/widget/dak/map-marker-active@2x.png"); }
  .marker div.inactive { background-image: url("/static/images/assets/widget/dak/map-marker@2x.png"); }
}

@include at-breakpoint($mobile-tablet-2) {
  #filters {
    padding: 4.5rem 1rem 1rem 1rem;
  }
}
@include at-breakpoint($mobile-tablet) {
  #filters {
    padding: 4.5rem 1rem 1rem 1rem;
  }
}
@include at-breakpoint($mobile) {
  #filters {
    padding: 4.5rem 1rem 1rem 1rem;
  }
}