@import "partials/all";

@import "vendor/formalize";

$total-columns  : 12;
$column-width   : 3.8em;
$gutter-width   : 1.3em;
$grid-padding   : 0;
$tablet         : 8;
$computer       : 55em 12;
$large-screen   : 11;
$break-search-button: 1406px;

@import "modules/susy";

.search {
  & > header {
    position: fixed;
    top: 0;

    .container {
      // disable the header container, this page doesn't wrap into 960px grid, it takes 100% of width
      max-width: none;
      _width: auto;
    }

    // Some breathing space
    .logo { @include rem-fallback(margin-left, 0.5); }
    .phone-container { @include rem-fallback(margin-right, 0.5); }
  }
}

body > header {
}

/* Hierarchy */
body > header {
  z-index: 9999999 !important;
}
#search {
  z-index: 999999 !important;
}
#results-list {
  z-index: 99999 !important;
}
/* END - Hierarchy */

h1 {
  @include font18;
  @include font-gudea;
  color: $color-at-grey-dark;

  @include rem-fallback(margin, 1, 0);

  & > span { font-weight: 700; }
}

// This is so not calculated...
.headline {
  @include clearfix;
  overflow: auto;
  position: relative;
  @include rem-fallback(margin-bottom, 1);
  
  h1 { 
    float: left; 
    margin: 0;
  }

  .specialty {
    &:hover { text-decoration: underline; }

    cursor: pointer;
  }

  .pagination { 
    float: right;
  }
  
  & > * {
    @include rem-fallback(height, 1.8);
  }
}

#cms-specialty-text {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid $color-at-grey;
  left: 0;
  right: 0;
  @include rem-fallback(padding, 1);
  height: auto;
  z-index: 99999;

  &.active {
    display: block;
  }
}

$split: 33%;
#search {
  position: fixed;
  width: 40%;
  width: $split;
  @include rem-fallback(top, 5);
  bottom: 0;
  
  #search-map {
    width: 100%;
    height: 100%;

  }

  .search-map-shadow {
    position: absolute;
    right: 0;
    top: 0; 
    
    &.top { left: 0; }
    &.right { bottom: 0; }
    &.blocker {
      top: -5px;
      bottom: 0;
      right: -22px;
      width: 22px;
      background: $color-at-white;
      box-shadow: none;
    }
  }
}

#results-list {
  background: #FFFFFF;
  position: absolute;
  width: auto;
  right: 0;
  left: $split;
  @include rem-fallback(padding, 2, 3);
  @include rem-fallback(padding-top, 5);
}

// If the alert bar is displayed, then the map and the results need to be pushed down to avoid overlapping.
.has-alert {
  #search { @include rem-fallback(top, 10); }
  #results-list { @include rem-fallback(padding-top, 10);}  
}

#filters {
  &.expanded {
    .toggler {
      position: static;
      @include rem-fallback(margin-top, 1);
    }
  }

  .toggle-filters {
    &.to-show {
      .show { display: inline; }
      .hide { display: none; }
    }
    &.to-hide {
      .show { display: none; }
      .hide { display: inline; }
    }
  }
  
  &.hidden {
    &.collapsed {
      overflow: hidden;
      position: relative;
      min-height: 32px;

      #filters-wrapper {
        position: absolute;
        width: 100%;
        bottom: 95px;
        z-index: 1;
      }

      .toggler {
        margin-top: 0;
        position: relative;
        z-index: 2;
      }
    }

    .toggler {
      input[type=text], 
      select {
        display: inline;
      }
      *[type=submit] {float:right;}
      .toggle-filters {float:left;}
    }
  }
}

#filters-essential {
  @include rem-fallback(height, 2);
  display: inline-block;
}

footer {
  @include rem-fallback(margin-top, 1);

  #socialshareprivacy {
    @include span-columns(7);
    @include omega;
  }

  nav > div {
    width: 100%;
    h4 { display: none; }

    ul { text-align: center; }
    li { 
      @include inline-block; 
      @include rem-fallback(padding, 0, 3);
    }
  }
}


/* AJAX pagination */
#providers {
  position: relative;
}

#next-page {
  position: absolute;
  top: 0; 
  background: $color-at-white;
}
/* END - AJAX pagination */

/*Break point search button*/
@media only screen and (max-width: $break-search-button) {

    #filters {

        &.hidden .toggle-filters {
          &:before {
            content: "\e611";
            font-family: at-assets;
            @include rem-fallback(font-size, 1.5);
            }
          & > span.additional-text { display: none; }
        }

      *[type=submit] {
        > span { display: none; }

        &:before {
          content: "\e612";
          font-family: at-assets;
          @include rem-fallback(font-size, 1.28);
        }
      }
    }
  }
/*END - Breakpoint Search button*/

@include at-breakpoint($mobile-tablet-2) { 
  body.has-alert {
    .alert-wrapper {
      @include rem-fallback(margin-top, 8);
    }
    
    #search {
      position: absolute;
      @include rem-fallback(top, 7);
    }
  }

  body > header {
    background: none;

    
    .logo {
      background: $color-at-white;
      @include rem-fallback(height, 3);
    }

    .top-bar {
      @include rem-fallback(line-height, 2);

      nav {
        margin-top: -9px;
        line-height: 29px;

        & + .phone-container {
          margin-top: -8px;
        }
        .active {
          box-shadow: 0 1px 8px 1px $color-at-grey-half;
        }
      }
    }
  }


  #search {
    width: 100%;
    position: absolute;
    background: $color-at-white;
    @include rem-fallback(height, 20);
    @include rem-fallback(top, 1.8);
    @include rem-fallback(margin-top, 3.5);

    .search-map-shadow {
      &.right, &.blocker {
        display: none;
      }
    }
  }

  #map-popup {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  #results-list {
    left: 0;
    @include rem-fallback(margin-top, 4);
    @include rem-fallback(top, 17);
    @include rem-fallback(padding-left, 1);
    @include rem-fallback(padding-right, 1);
  }

  .result {
    & > .wrapper {
      @include rem-fallback(padding-top, 1);
    }
    
    .address {
      .zip-city { display: block; }
      span[itemprop=streetAddress]:after { content: ""; }
    }

    .photo {
      position: absolute;
      top: 0;
      left: 0;
      @include rem-fallback(top, 1);
    }
    
    *[itemprop=telephone] {
      display: block;
      float: none;
      @include rem-fallback(line-height, 1.5);
      @include rem-fallback(height, 1.5);
    }
    
    header {
      float: left;
      @include rem-fallback(margin-left, 7);
      @include rem-fallback(width, 12);
      @include rem-fallback(height, 7.5);
      .title {
        display: inline;
      }
      .phone {
        float: none;
      }
      .map-pin { 
        position: absolute;
        @include rem-fallback(left, -7.3);
        @include rem-fallback(top, -1.5);
        @include rem-fallback(padding-top, 0.6);
        z-index: 1;

        &:before {
          text-shadow: 1px 2px 0px $color-at-white, -1px 2px 0px $color-at-white, 1px -2px 0px $color-at-white;
        }
      }
    }
  }

  #filters {
    .filter {
      @include rem-fallback(height, 3);
      @include rem-fallback(margin-bottom, 1);
      max-width: 49.5%;

      &.col-2 {
        margin-left: 50.5%;
        &.reset {
          @include rem-fallback(margin-top, -12);
        }
      }

      select,
      input[type=text],
      input[type=radio] + label {
        @include rem-fallback(height, 2.5);
      }

      input[type=radio] + label.s33 {
        width: 49.5%;
        margin-right: 0;
      }
    }

    .toggle-filters {
      @include rem-fallback(padding-left, 1.7);
      @include rem-fallback(margin-right, 0.5);

      &:before {
        content: "\e611";
        font-family: at-assets;
        @include rem-fallback(font-size, 1.28);
        position: absolute;
        left: 0;
      }

      & > span.additional-text { display: none; }
    }
    
    &.expanded .toggle-filters {
      position: relative;
      margin-left: 0;
      &:before {
        content: "\e613";
      }
    }
    
    &.hidden .toggle-filters {
      &:before { content: "\e611"; }
    }

    *[type=submit] {
      > span { display: none; }

      &:before {
        content: "\e612";
        font-family: at-assets;
        @include rem-fallback(font-size, 1.28);
      }
    }
  }
} // END - @include at-breakpoint($mobile-tablet-2) 

@include at-breakpoint($mobile-tablet) { 
  .result {
    header {

      .map-pin {
        @include rem-fallback(left, -6.3);
      }
    }
  }
}

@include at-breakpoint($mobile) { 
  #results-list {
    padding-left: 0;
    padding-right: 0;
  }

  #filters {
    @include rem-fallback(margin-right, 0);
    @include rem-fallback(margin-bottom, 0.2);
    
    .filter {
      max-width: 100%;

      &.col-2 {
        margin-left: 0;

        &.reset { margin-top: 0; }
        &:last-child { display: none; }
      }
    }
    
    .toggle-filters {
      @include rem-fallback(padding-left, 1);
      
      &:before {
        @include rem-fallback(top, 0.2);
      }

      & > span {
        display: none !important;
      }

    }
  }

  .headline {
    @include rem-fallback(margin-bottom, 0.2);

    h1 {
      @include font12;
      @include rem-fallback(line-height, 1.6);
      @include rem-fallback(margin-left, 0.2);
    }
  }
}

.toggler {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(space-between);
  @include align-items(center);

  .toggle-filters { 
    @include order(1);
    @include flex(0 0 auto);
  }

  #filters-essential {
    @include order(2);
    @include flex(1 1 auto);

    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include justify-content(space-around);
    @include align-items(center);

    @include rem-fallback(padding, 0, 0.5);
    
    & > * {
      @include flex(1 1 auto);
    }
  }
  
  *[type=submit] {
    @include order(3);
    @include flex(0 0 auto);
  }
}


