iframe {
	border: none;
	outline: none;	
	display: block;
	margin: 0 auto;
	width: 475px;	
	min-height: 215px;
	overflow: hidden;
}
/* ################################################################### */
.bigBox               {  margin: 0;
                         padding: 15px 0;
                      }
.bigBox .imageBox     {  margin: 28px 0 32px 0;
                         text-align: center;
                      }
.bigBox .imageBox img {  margin-right: 5% }
.step_area            {  position: relative;
                         display: block;
                         min-height: 175px;
                         height: 100%;
                         max-width: 885px!important;
                      }
.step_box             {  position: relative;
                         display: block;
                         margin-top: -45px;
                         width: 220px;
                         float: left;
                      }
.step_box h3,
.step_box p           {  text-align: center }
.step_box h3          {  font-size: 22px;
                         line-height: 26px!important;
                      }
.step-image           {  display: block;
                         margin-left: 75px;
                         background-image: url("../img/steps_arrow.png");
                         background-repeat: no-repeat;
                         width: 64px;
                         height: 64px;
                         overflow: hidden;
                      }
.step_2               {  background-position: 0 -64px }
.step_3               {  background-position: 0 -128px }
.arrow                {  position: relative;
                         display: block;
                         float: left;
                         background-image: url("../img/steps_arrow.png");
                         background-repeat: no-repeat;
                         width: 64px;
                         height: 31px;
                         overflow: hidden;
                      }
.arrow_1              {  background-position: 0 -192px;
                         margin: 25px 25px 0 20px;
                      }
.arrow_2              {  background-position: 0 -225px;
                         margin: 80px 25px 0 25px;
                      }
#guidlines-link       {  display: block;
                         color: #777!important;                         
                      }
#footer               {  background: none }
#footerPart2          {  height: 0 }
/* LIGHTBOX */
#terms_cond           {  display: none;
                         height: 100%;
                         width: 90%;
                         padding: 25px;
                         margin-bottom: 25px;
                         box-shadow: 0px 0px 5px #444;
                      }
/* +++++++++++++++++ Widget Search +++++++++++++++++++++++ */                     
.at_widget { 
	position: relative;
	display: block;
	margin: 25px auto;
	padding: 4px 0 4px 4px;
	width: 45%;
	overflow: hidden;
}
.btn {
	position: relative;
	display: block;
	color: #fff!important;
	border: 2px solid #fff;
	border-radius: 5px;
	background-clip: padding-box;
	box-shadow: 0 0 5px rgba(0,0,0,.45);
	background-color: #599317;
	background-image: -moz-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: -o-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: -webkit-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: linear-gradient(bottom, #599317 0%, #7bc727 100%);
}
.btn:focus,
.btn:hover {
	background-color: #457411;
	background-image: -moz-linear-gradient(bottom, #457411 0%, #7bc727 100%);
	background-image: -o-linear-gradient(bottom, #457411 0%, #7bc727 100%);
	background-image: -webkit-linear-gradient(bottom, #457411 0%, #7bc727 100%);
	background-image: linear-gradient(bottom, #457411 0%, #7bc727 100%);
}

#at_widget-input {
	padding: 2px 6px;
	width: 42%;
	height: 32px;
	line-height: 32px;
	float: left;
	font-size: 16px;
	border-radius: 3px 0 0 3px;
	border: none;
	background-color: #c7dce0;
	color: #333;
}

#at_widget-input.error{ box-shadow: 0 0 8px #f00; }
	#at_widget-input::-webkit-input-placeholder { color: #777; }
	#at_widget-input:-moz-placeholder { color: #777; }
	#at_widget-input::-moz-placeholder {  color: #777; }
	#at_widget-input:-ms-input-placeholder { color: #777; }
.at_widget-submit {
	float: left;
	width: 50%;
	height: 28px;
	line-height: 28px;
	padding: 4px 15px;
	text-align: center;
	font-size: 18px;
	border-radius: 0 3px 3px 0;	
	border: none;
	text-shadow: none;
}

#loadingArea {
	position: absolute;
	left: 45%;
	margin-top: -15px;
	width: 200px;
	color: #5294a3;
	font-size: 15px;
	font-weight: bold;
}          
/* +++++++++++++++++ MOBILE ++++++++++++++++++++++++++++++++ */
@media screen and (min-width: 230px) and (max-width: 850px)           { 
    .arrow,
    #footerInformation {  display: none }
    .step_area         {  margin-bottom: 25px }
    .step_box          {  margin-left: 10px;
                          float: none;
                          margin-top: 0;
                          border-bottom: 1px dashed #333;
                       }
    #guidlines-link    {  margin-top: 10px;
                          margin-left: 10px;
                          float: none;
                          max-width: 170px;
                       }
    #footer            {  padding-left: 10px;
                          padding-right: 10px;
                          padding-bottom: 25px;
                       }
    #city_cols         {  display: none!important }
}