<table class="widefat tablenav">
<tr class="columns_small">
    <th>
        <a href="/admin/integrations/integration_5/index.php"{if $integrationNavigationActive!='data'} style="font-weight:normal;"{/if}><img alt="" src="/static/ico/vcard.png" style="vertical-align: text-bottom; margin-right: 6px;">UserData</a>
    </th>
    <th>
        <a href="/admin/integrations/integration_5/bookings/index.php"{if $integrationNavigationActive!='bookings'} style="font-weight:normal;"{/if}><img alt="" src="/static/ico/weather_clouds.png" style="vertical-align: text-bottom; margin-right: 6px;"> Bookings</a>
    </th>
    <th>
        <a href="/admin/integrations/integration_5/treatmenttypes/index.php"{if $integrationNavigationActive!='treatmenttypes'} style="font-weight:normal;"{/if}><img alt="" src="/static/ico/weather_clouds.png" style="vertical-align: text-bottom; margin-right: 6px;"> Treatmenttypes</a>
    </th>
</tr>
</table>