@import url(../../../static/old-css/main.css);
@import url(../../../static/old-css/reset-min.css);
@import url(../default.css);
@import url(../style.css);
@import url(../main/login.css);
.page-container 
{
	width: 1260px !important;
}
/* line 9, style.scss */
.btn_green {
  color: white;
  text-shadow: none;
}

/* line 13, style.scss */
#page-main {
  padding-top: 29px;
}

/* line 17, style.scss */
#forgot_password span {
  margin-bottom: 12px;
  display: block;
}

/* line 21, style.scss */
.login_container #forgot_email, .login_container #forgot_password {
  border-radius: 8px;
  /* border radius */
  border: none;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: rgba(83, 149, 167, 0.11);
  /* layer fill content */
  margin-top: 20px;
  text-align: center;
  color: #565655;
  font-size: 13px;
  text-shadow: 0 1px 3px #fff;
  font-family: Helvetica;
  padding-top: 12px;
  padding-bottom: 16px;
  width: 90%;
  margin: 0 auto;
  margin-top: 23px;
}

/* line 40, style.scss */
.login_container, .register_container {
  width: 460px;
  border: none;
  padding-bottom: 39px;
  border-radius: 8px;
  /* border radius */
  -moz-border-radius: 8px;
  /* border radius */
  -webkit-border-radius: 8px;
  /* border radius */
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #fff;
  /* layer fill content */
  box-shadow: 0 0 5px rgba(49, 49, 49, 0.2), inset 0 0 70px rgba(84, 150, 167, 0.13);
  /* outer glow and inner glow */
  -webkit-box-shadow: 0 0 10px rgba(49, 49, 49, 0.2), inset 0 0 70px rgba(84, 150, 167, 0.13);
  -moz-box-shadow: 0 0 10px rgba(49, 49, 49, 0.2), inset 0 0 70px rgba(84, 150, 167, 0.13);
  box-shadow: 0 0 10px rgba(49, 49, 49, 0.2), inset 0 0 70px rgba(84, 150, 167, 0.13);
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
  margin-top: 45px;
  behavior: url(/ngs/js/lib/PIE/PIE.htc);
}

/* line 62, style.scss */
.v8.ie .login_container, .v8.ie .register_container {
  background: #fbfcfd;
}

/* line 66, style.scss */
.login_container h1, .register_container h1 {
  width: 223px;
  height: 44px;
  background: url(../../img/bg-login.png);
  color: #5395a7;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
  top: -12px;
  position: relative;
  padding-top: 9px;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Rokkitt', serif;
}

/* line 82, style.scss */
#page-main .page-container .page-wrapper {
  -moz-box-shadow: 0 0 1px #888;
  -webkit-box-shadow: 0 0 1px #888;
  box-shadow: 0 0 1px #888;
}

/* line 88, style.scss */
form {
  text-align: center;
}

/* line 91, style.scss */
.input_text, .input_password, input {
  padding: 0px 0px 0px 6px;
  width: 350px;
  height: 32px;
  -webkit-border-radius: 4px 5px 5px 4px/4px 4px 5px 5px;
  -moz-border-radius: 4px 5px 5px 4px/4px 4px 5px 5px;
  border-radius: 4px 5px 5px 4px/4px 4px 5px 5px;
  background-color: #fff;
  border: solid 1px #b2c4d4;
  background-image: -webkit-linear-gradient(bottom, rgba(90, 151, 167, 0.04), rgba(255, 255, 255, 0.04) 42%);
  background-image: -moz-linear-gradient(bottom, rgba(90, 151, 167, 0.04), rgba(255, 255, 255, 0.04) 42%);
  background-image: -o-linear-gradient(bottom, rgba(90, 151, 167, 0.04), rgba(255, 255, 255, 0.04) 42%);
  background-image: -ms-linear-gradient(bottom, rgba(90, 151, 167, 0.04), rgba(255, 255, 255, 0.04) 42%);
  background-image: linear-gradient(to top, rgba(90, 151, 167, 0.04), rgba(255, 255, 255, 0.04) 42%);
  color: #333;
  /* text color */
  font-family: "Helvetica";
  font-size: 13px;
  text-shadow: 0 1px 3px #fff;
  /* drop shadow */
}

/* line 111, style.scss */
.input_text.error {
  border: 1px solid #ef6f6f;
  opacity: 1;
}

/* line 118, style.scss */
::-webkit-input-placeholder {
  opacity: .4;
  /* layer alpha */
  color: #333;
  /* text color */
  font-family: "Helvetica";
  font-size: 13px;
  text-shadow: 0 1px 3px #fff;
  /* drop shadow */
}

/* line 126, style.scss */
:-moz-placeholder {
  /* Firefox 18- */
  opacity: .4;
  /* layer alpha */
  color: #333;
  /* text color */
  font-family: "Helvetica";
  font-size: 13px;
  text-shadow: 0 1px 3px #fff;
  /* drop shadow */
}

/* line 134, style.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  opacity: .4;
  /* layer alpha */
  color: #333;
  /* text color */
  font-family: "Helvetica";
  font-size: 13px;
  text-shadow: 0 1px 3px #fff;
  /* drop shadow */
}

/* line 142, style.scss */
:-ms-input-placeholder {
  opacity: .4;
  /* layer alpha */
  color: #333;
  /* text color */
  font-family: "Helvetica";
  font-size: 13px;
  text-shadow: 0 1px 3px #fff;
  /* drop shadow */
}

/* line 150, style.scss */
form p {
  margin-bottom: 5px;
}

/* line 154, style.scss */
.error::-webkit-input-placeholder, .error input::-webkit-input-placeholder {
  opacity: 1;
  /* layer alpha */
  color: #e90f0f;
  /* text color */
  font-family: "Helvetica";
  font-size: 13px;
  text-shadow: 0 1px 3px #fff;
  /* drop shadow */
}

/* line 164, style.scss */
.error:-moz-placeholder, .error input::-moz-input-placeholder {
  /* Firefox 18- */
  opacity: 1;
  /* layer alpha */
  color: #e90f0f;
  /* text color */
  font-family: "Helvetica";
  font-size: 13px;
  text-shadow: 0 1px 3px #fff;
  /* drop shadow */
}

/* line 172, style.scss */
.error:-ms-input-placeholder, .error input::-ms-input-placeholder {
  opacity: 1;
  /* layer alpha */
  color: #e90f0f;
  /* text color */
  font-family: "Helvetica";
  font-size: 13px;
  text-shadow: 0 1px 3px #fff;
  /* drop shadow */
}

/* line 179, style.scss */
.error-message {
  position: absolute;
  top: 9px;
  right: 47px;
  color: #e90f0f;
  /* text color */
  font-family: "Helvetica";
  font-size: 13px;
  text-shadow: 0 1px 3px #fff;
  /* drop shadow */
}

/* line 188, style.scss */
.forgot_password, .forgot_email {
  color: #333;
  font-family: "Helvetica";
  font-size: 13px;
  text-shadow: 0 1px 3px #fff;
  width: 358px;
  margin: 0 auto;
  text-align: left;
  padding-left: 8px;
  margin-bottom: 21px;
}

/* line 200, style.scss */
.forgot_password a, .forgot_email a {
  text-decoration: none;
  color: #5d9cac;
}

/* line 205, style.scss */
.hotline-text {
  text-align: center;
  float: none;
  color: #555553;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: bold;
  margin-top: -7px;
  margin-bottom: -2px;
}

/* line 216, style.scss */
.hotline-text a {
  color: #4d97aa;
  text-decoration: none;
}

/* line 221, style.scss */
.hotline-text span {
  color: #555554;
  font-size: 12px;
  font-weight: normal;
}

/* line 227, style.scss */
.bottom-text {
  color: #555;
  font-family: "Helvetica";
  font-size: 14px;
  text-shadow: 0 1px 3px #fff;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 27px;
}

/* line 237, style.scss */
.bottom-text a {
  color: #5496a7;
  text-decoration: none;
  font-weight: bold;
}

/* line 245, style.scss */
.login_container #forgot_email_form #submit_button {
  padding-left: 16px;
  padding-right: 16px;
  height: 35px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #609e1a;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.39);
  -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.39);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.39);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
  border: none;
  color: #fff;
  /* text color */
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: bold;
  text-shadow: none;
}

/* line 273, style.scss */
.login_container #forgot_email_form #submit_button:active,
.register_container #submit_button:active,
.edit-profile-button:active {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
  text-shadow: none;
}

/* line 282, style.scss */
#submit_button {
  margin-top: 15px;
}

/* line 286, style.scss */
.affiliate-footer {
  background: #f1f1f1;
  margin: 0px !important;
  border-radius: 0 0 8px 8px;
  background-image: url(../../img/rechteck.png);
  background-repeat: no-repeat;
  height: 53px;
  background-position: 0px -10px;
  padding-left: 28px;
}

/* line 298, style.scss */
.affiliate-footer a {
  color: #5496a7;
  font-size: 12px !important;
  font-weight: normal;
}

/* line 304, style.scss */
.affiliate-footer li {
  margin-right: 10px !important;
}

/* line 308, style.scss */
#page-footer {
  display: none;
}

/* line 312, style.scss */
.page-container {
  margin-bottom: 70px;
}

/* line 317, style.scss */
.mozilla select, .safari select {
  height: 26px;
  display: block;
  -webkit-appearance: menulist-button;
  border: 1px solid #c3c3c3;
  border-radius: 13px;
  background-clip: padding-box;
  background-color: #999;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.27);
  background-image: -webkit-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
  color: #6b6b6b;
  font-family: "Arial";
  font-size: 13px;
  text-shadow: 0 -1px 0 #fff;
}

/*error messages*/
/* LOGIN-PAGE ERROR */
/* line 335, style.scss */
.login_error_message, .error_message {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 6px 5px;
  width: 348px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
}

/* line 347, style.scss */
.login_error_message.error, .error_message.error {
  color: #999;
  border-color: #FDE4E1;
  background-color: #FDE4E1;
}

/* line 349, style.scss */
.register_button {
  width: 317px;
  margin: 0 auto;
  margin-top: 30px;
  text-decoration: none;
}

/* line 356, style.scss */
.light_grey_italic {
  color: #636363;
  font-family: "Helvetica";
  font-size: 13px;
  font-style: italic;
  opacity: .8;
}

/* line 365, style.scss */
body {
  font-family: "Arial";
}

/* line 368, style.scss */
strong {
  font-weight: bold;
}

/*
*REVIEW DOCTOR
*
*
*/
/* line 376, style.scss */
.subHeader {
  color: #5193a3;
  font-size: 24px;
  font-weight: normal;
  border-bottom: 1px solid #c8c8c8;
  width: 100%;
  padding-bottom: 5px;
  text-align: left;
}

/* line 385, style.scss */
.review-doctor .affiliate_right_content {
  width: 741px;
  display: inline-block;
}

/* line 390, style.scss */
.dashboard_left_panel img {
  background-color: #fff;
  padding: 3px;
  -ms-box-shadow: 0px 2px 5px #ccc;
  box-shadow: 0px 2px 5px #ccc;
}

/* line 396, style.scss */
.rate_container {
  margin-top: 30px;
}

/* line 399, style.scss */
.rate_container .label {
  color: #5193a3;
  /* text color */
  font-family: "Arial";
  font-size: 20px;
  width: 100%;
  text-align: left;
}

/* line 407, style.scss */
.rate_container div {
  color: #4d4d4d;
  /* text color */
  font-family: "Arial";
  font-size: 14px;
}

/* line 413, style.scss */
.star {
  width: 170px !important;
  margin-top: 5px;
  display: inline-block;
}

/* line 419, style.scss */
.review-doctor textarea {
  border-radius: 6px;
  /* border radius */
  -moz-border-radius: 6px;
  /* border radius */
  -webkit-border-radius: 6px;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #fff;
  /* layer fill content */
  box-shadow: inset 0 1px 0 rgba(19, 19, 19, 0.15);
  /* inner shadow */
  -moz-box-shadow: inset 0 1px 0 rgba(19, 19, 19, 0.15);
  /* inner shadow */
  border: none;
  width: 700px;
  height: 130px;
  max-width: 720px;
  padding: 10px;
}

/* line 434, style.scss */
.review-doctor .error_message.error {
  position: relative;
  top: 5px;
  vertical-align: top;
  display: inline-block;
}

/*
*HOME
*
*
*/
/* line 447, style.scss */
.dashboard_menu_item {
  border-bottom: 2px solid black;
  width: 100%;
  height: 30px;
  position: relative;
}

/* line 454, style.scss */
.dashboard_left_panel {
  float: left;
  margin-top: 22px;
  /*width: 200px;
  padding-top: 20px;
  float: left;
  margin: 10px;*/
}

/* line 462, style.scss */
.dashboard_left_panel a {
  margin-bottom: 14px;
  display: block;
  border-radius: 14px;
  background-clip: padding-box;
  background-color: #5193a3;
  box-shadow: inset 0 -1px 0 #376b77;
  background-image: -webkit-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
  background-image: linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
  background-image: -moz-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
  color: #fff;
  font-family: "Arial";
  font-size: 14px;
  font-weight: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
  text-align: center;
  text-decoration: none;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 150px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6ba5b3', EndColorStr='#3f7f8f');
}

/* line 486, style.scss */
.dashboard_left_panel a:active {
  background-image: -webkit-linear-gradient(top, #3f7f8f 0%, #6ba5b3 100%);
  background-image: linear-gradient(top, #3f7f8f 0%, #6ba5b3 100%);
  background-image: -moz-linear-gradient(top, #3f7f8f 0%, #6ba5b3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3f7f8f', EndColorStr='#6ba5b3');
}

/* line 494, style.scss */
.left_menu_container {
  float: left;
  position: relative;
  width: 100%;
}

/* line 499, style.scss */
.dashboard_menu_item_a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3px;
}

/* line 508, style.scss */
.dashboard_menu_item_a:hover {
  background-color: #6aa84f;
}

/* line 511, style.scss */
.affiliate_view_profile_content {
  /*margin: 10px 10px 100px 25px;
  border: 2px solid green;
  padding-right: 25px;*/
  position: relative;
  overflow: hidden;
  margin: 22px;
  margin-left: 136px;
}

/* line 520, style.scss */
.profile_view_fields_header {
  color: #3371a7;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}

/* line 528, style.scss */
.profile_view_fields_body {
  margin-left: 20px;
  margin-top: 5px;
  color: black;
}

/* line 535, style.scss */
.appointmens_header {
  color: #5395a7;
  font-family: 'Rokkitt';
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 9px;
  display: block;
}

/* line 544, style.scss */
td.head {
  font-family: Helvetica;
  color: #565655;
  font-size: 14px;
  font-weight: bold;
  background: none;
}

/* line 552, style.scss */
tr.head {
  border-bottom: 1px solid #bebebe;
  box-shadow: 0 1px 0 #fff;
  height: 28px;
}

/* line 558, style.scss */
.info_label {
  border-radius: 6px 0px 0px 6px;
  background-clip: padding-box;
  background-color: #d9d9d9;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  background-image: linear-gradient(bottom, rgba(19, 19, 19, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(19, 19, 19, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(19, 19, 19, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
  olor: #4d4d4d;
  font-family: "Arial";
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  width: 185px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 6px;
}

/* line 577, style.scss */
.info_value {
  border-radius: 0px 6px 6px 0px;
  /* border radius */
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #fff;
  /* layer fill content */
  box-shadow: inset 0 1px 0 rgba(19, 19, 19, 0.15);
  /* inner shadow */
  color: #4d4d4d;
  /* text color */
  font-family: "Helvetica";
  font-size: 14px;
  text-shadow: 0 1px 3px #fff;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 6px;
  width: 511px;
}

/* line 592, style.scss */
.info_table {
  position: relative;
  border-collapse: separate;
  border-spacing: 0 13px;
  margin-top: -12px;
}

/* line 598, style.scss */
.info_table tr {
  position: relative;
}

/*
*PROFILE
*
*
*
*/
/* line 608, style.scss */
.doctor_manage_profile_content {
  margin: 10px 10px 100px 25px;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  padding-right: 25px;
}

/* line 616, style.scss */
.profile_manage_fields_header {
  color: #3371a7;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}

/* line 623, style.scss */
.profile_manage_textareas {
  margin: 5px 10px 5px 10px;
  border: 1px solid black;
  position: relative;
  resize: none;
  width: 100%;
  height: 60px;
  clear: both;
}

/* line 632, style.scss */
.doc_profile_submit_buuton {
  background-color: #6aa040;
  position: absolute;
  padding: 10px 30px;
  right: 20px;
  bottom: 30px;
  box-shadow: 3px 3px black;
  border: 1px solid black;
}

/* line 641, style.scss */
.profile_manage_fields_header .field-header {
  padding-right: 25px;
  background-image: url("../../img/question.jpg");
  background-repeat: no-repeat;
  min-height: 23px;
  float: right;
  margin-left: 5px;
  cursor: pointer;
}

/* line 651, style.scss */
.edit_textfield {
  height: 70px;
  width: 200px;
  padding: 14px 12px;
}

/* line 657, style.scss */
.edit_input_date {
  width: 40px;
  padding: 14px 12px;
  border: 1px solid #b6b6b6 !important;
  margin-top: -1px;
  margin-bottom: -1px;
  text-align: center;
}

/* line 666, style.scss */
.edit_input_email {
  width: 200px;
  padding: 14px 12px;
}

/* line 671, style.scss */
.error_pan {
  color: red;
}

/* line 674, style.scss */
.profile-title {
  color: #5193a3;
  /* text color */
  font-family: "Arial";
  font-size: 34px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  /* drop shadow */
}

/* line 681, style.scss */
.logged_in_container {
  position: relative;
  margin-top: 22px;
  background: #F5F4F4;
  background-image: url(../../img/rechteck.png);
  background-repeat: no-repeat;
  background-position: 0px -9px;
  padding: 20px 30px 30px 30px;
}

/* line 691, style.scss */
.top-profile {
  border-bottom: 1px dashed #bebebe;
  box-shadow: 0 1px 0 #fff;
  height: 52px;
}

/* line 697, style.scss */
.top-profile a {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  padding: 0px;
  margin: 0px;
  color: #555;
  text-decoration: none;
  top: 19px;
  font-family: helvetica;
}

/* line 709, style.scss */
.edit-profile form {
  text-align: left;
}

/* line 713, style.scss */
.edit-profile .info_table {
  width: 728px;
}

/* line 717, style.scss */
.edit-profile textarea, .edit-profile input[type="text"] {
  padding: 0px;
  margin: 0px;
  height: 16px;
  border: none;
  width: 100%;
  resize: none;
  max-width: 100%;
  background: none;
}

/* line 728, style.scss */
.edit_input_date {
  width: 40px !important;
}

/* line 733, style.scss */
.edit-profile #change_password_button {
  margin-right: 14px;
  background: none;
  border: none;
  width: auto;
  color: #5294a3;
  font-size: 14px;
  font-family: helvetica;
  cursor: pointer;
  padding: 0px;
}

/* line 745, style.scss */
.edit-profile input[name="password"], .edit-profile input[name="new_password"] {
  width: 340px;
}

/* line 748, style.scss */
.edit-profile table {
  table-layout: fixed;
}

/* line 751, style.scss */
.edit-profile .info_value {
  border: 2px solid #5193a3;
  /* stroke */
  border-radius: 0px 6px 6px 0px;
  /* border radius */
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #fff;
  /* layer fill content */
  box-shadow: inset 0 0 0 rgba(19, 19, 19, 0.15);
  /* inner shadow */
  padding-top: 8px;
  padding-bottom: 4px;
  position: relative;
  /*display: inline-block;
  width: 507px;*/
}

/* line 763, style.scss */
.edit-profile input[type="submit"] {
  width: 192px;
}

/* line 766, style.scss */
.edit-profile .info_label {
  padding-top: 8px;
  padding-bottom: 4px;
  width: 173px;
  /*display:inline-block;
  height: 100%;*/
}

/* line 774, style.scss */
.edit_icon {
  background: url("../../img/pencil.png");
  height: 22px;
  width: 22px;
  position: absolute;
  top: 2px;
  right: -27px;
}

/* line 783, style.scss */
.firefox .edit_icon {
  position: relative;
  left: 525px;
  margin-top: -22px;
  top: -2px;
}

/* line 790, style.scss */
.info_value.error {
  border: 2px solid #ef6f6f;
  /* stroke */
}

/*DASHBOARD
*
*
*
*
*
*/
/* line 802, style.scss */
.dashboard .affiliate_view_profile_content {
  margin-left: 174px;
  margin-right: 0px;
}

/* line 807, style.scss */
.dashboard .appointmens_header {
  color: #5395a7;
  /* text color */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 1px 3px #fff;
  /* drop shadow */
  font-family: Arial;
}

/* line 814, style.scss */
.dashboard .btn_gray_new {
  width: 130px;
}

/* line 818, style.scss */
.btn_gray_new {
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: #e6e6e6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.27);
  background-image: -webkit-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
  background-image: -moz-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
  background-image: -o-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
  background-image: linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
  color: #6b6b6b;
  font-family: "Helvetica";
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 -1px 0 #fff;
  height: 33px;
  padding-left: 12px;
  padding-right: 12px;
}

/* line 838, style.scss */
.btn_gray_new:hover {
  background-image: -webkit-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
  background-image: -moz-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
  background-image: -o-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
  background-image: linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
}

/* line 845, style.scss */
.booking_row a {
  color: #5294a3;
  font-size: 14px;
  font-family: helvetica;
  text-decoration: none;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

/* line 858, style.scss */
.booking_row {
  text-align: left;
  height: 37px;
}

/* line 863, style.scss */
.dashboard .grey_normal span.red {
  color: #4d4d4d !important;
  /* text color */
  font-family: "Arial" !important;
  font-size: 14px !important;
  font-weight: normal !important;
}

/*
*
*EDIT PROFILE
*
*
*/
/* line 876, style.scss */
.change_pwd_label {
  display: inline-block;
  width: 107px;
  text-align: right;
  padding-right: 6px;
  margin-bottom: 19px;
}

/* line 884, style.scss */
.insurance_select label {
  display: inline-block;
  vertical-align: middle;
  float: inherit;
}

/* line 890, style.scss */
.insurance_select input {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  float: inherit;
}

/*
*REGISTER
*
*
*/
/* line 905, style.scss */
.account-info {
  float: right;
  top: 49px;
  position: absolute;
  right: 0px;
  color: #555553;
  /* text color */
  font-family: "Helvetica Neue";
  font-size: 15px;
  font-weight: bold;
  right: 40px;
}

/* line 916, style.scss */
.account-info a, .terms a {
  color: #5496a7;
}

/* line 920, style.scss */
.terms a {
  text-decoration: none;
}

/* line 924, style.scss */
.register .hotline-text {
  margin-top: 22px !important;
  margin-bottom: 22px !important;
}

/* line 929, style.scss */
.terms label {
  position: relative;
  left: 7px;
  width: 292px;
  text-align: left;
}

/* line 936, style.scss */
.input-bd {
  position: relative;
  left: -61px;
}

/* line 940, style.scss */
.radio_buttons {
  color: #636363;
  /* text color */
  font-family: "Helvetica";
  font-size: 13px;
  width: 133px;
  position: relative;
  left: 71px;
}

/* line 948, style.scss */
.radio_buttons label {
  display: block;
  width: 100px;
  text-align: left;
  float: left;
  position: relative;
  left: 7px;
  top: -1px;
}

/* line 957, style.scss */
.radio_buttons input {
  width: auto;
  height: auto;
  float: left;
}

/* line 962, style.scss */
.radio_buttons div {
  width: auto;
  height: 20px;
}

/* line 968, style.scss */
.label, label {
  color: #636363;
  /* text color */
  font-family: "Helvetica";
  font-size: 13px;
}

/* line 974, style.scss */
.terms {
  position: relative;
  left: 71px;
  margin-top: 10px;
  height: 33px;
}

/* line 983, style.scss */
.terms input {
  width: auto;
  float: left;
  position: relative;
  top: -7px;
}

/* line 990, style.scss */
.input_day, .input_month, .input_year {
  width: 34px;
  text-align: center;
  padding: 0px;
}

/* line 995, style.scss */
.input_year {
  width: 60px;
}

/* line 999, style.scss */
.error-message.terms {
  position: initial;
  top: 9px;
  right: 47px;
  color: #e90f0f;
  font-family: "Helvetica";
  font-size: 13px;
  text-shadow: 0 1px 3px #fff;
  width: 144px;
  display: inline-block;
  margin-top: 0px;
}

/* line 1012, style.scss */
.register_container select {
  width: 100px;
  margin-left: 50px;
  font-family: arial;
  font-size: 13px;
}

/* line 1019, style.scss */
.affiliate_reset_password .error {
  margin-bottom: 10px;
}

/* line 1024, style.scss */
.affiliate_reset_password .subHeader {
  color: #4d97aa;
  font-size: 22px;
  margin: 0 auto;
  width: 358px;
  border-bottom: 1px solid #c8c8c8;
  margin-top: 45px;
  margin-bottom: 4px;
  padding-bottom: 3px;
}

/* line 1035, style.scss */
.insurance_container span {
  vertical-align: top;
  position: relative;
  top: 7px;
}

/* line 1041, style.scss */
.insurance_container .options {
  display: inline-block;
  width: 156px;
  margin-right: -54px;
  text-align: left;
  margin-left: 12px;
}

/* line 1050, style.scss */
.insurance_container input {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
}

/* line 1057, style.scss */
.insurance_container label {
  display: inline-block;
  vertical-align: middle;
  float: inherit;
}

/* line 1063, style.scss */
.insurance_container {
  margin-bottom: 10px;
}

/* line 1079, style.scss */
#affiliate-account {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(top, #ffffff, #efefef);
  background: -moz-linear-gradient(top, #ffffff, #efefef);
  background: -o-linear-gradient(top, #ffffff, #efefef);
  background: linear-gradient(top, #ffffff, #efefef);
  /* main navigation bar */
}
/* line 1082, style.scss */
#affiliate-account .top-profile {
  border-bottom: 0;
}
/* line 1087, style.scss */
#affiliate-account .affiliate_view_profile_content,
#affiliate-account .affiliate_right_content {
  overflow: hidden;
  *zoom: 1;
  margin: 0px;
  padding: 20px;
  background: white;
  border-top: 1px solid #c8c8c8;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
  -moz-box-shadow: 0px 0px 5px #cccccc;
  box-shadow: 0px 0px 5px #cccccc;
}
/* line 1097, style.scss */
#affiliate-account .dashboard_left_panel {
  padding-left: 15px;
  float: none;
  font-size: 0;
  /* tabs */
  /* selected tab over the shadow */
  position: relative;
  z-index: 2;
}
/* line 1103, style.scss */
#affiliate-account .dashboard_left_panel > div {
  display: inline-block;
  width: 152px;
  height: 32px;
  margin-right: 5px;
  /* links in the tabs */
}
/* line 1109, style.scss */
#affiliate-account .dashboard_left_panel > div.active {
  position: absolute;
  background: white;
}
/* line 1113, style.scss */
#affiliate-account .dashboard_left_panel > div.active a {
  border-bottom: 0;
  background: white;
  height: 20px;
}
/* line 1119, style.scss */
#affiliate-account .dashboard_left_panel > div.active ~ div {
  position: relative;
  left: 157px;
}
/* line 1126, style.scss */
#affiliate-account .dashboard_left_panel > div a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(top, #ffffff, #efefef);
  background: -moz-linear-gradient(top, #ffffff, #efefef);
  background: -o-linear-gradient(top, #ffffff, #efefef);
  background: linear-gradient(top, #ffffff, #efefef);
  border: 1px solid #e2e2e2;
  box-shadow: none;
  color: #5294a3;
  margin: 0;
  text-shadow: none;
  font-size: 16px;
}
/* line 1145, style.scss */
#affiliate-account .navigation.level-2 {
  padding-bottom: 30px;
  border-bottom: 1px solid #c8c8c8;
  margin-bottom: 30px;
  margin-top: 10px;
}
/* line 1151, style.scss */
#affiliate-account .navigation.level-2 > a {
  font-size: 14px;
  color: #5294a3;
  margin-right: 35px;
  text-decoration: none;
  display: inline-block;
  width: 130px;
}
/* line 1159, style.scss */
#affiliate-account .navigation.level-2 > a.active {
  color: black !important;
  font-weight: bold;
}
/* line 1166, style.scss */
#affiliate-account .table-heading {
  background: #5294a3;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding: 0 10px;
}
/* line 1176, style.scss */
#affiliate-account table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 14px;
}
/* line 1182, style.scss */
#affiliate-account table th, #affiliate-account table td {
  padding: 5px;
}
/* line 1186, style.scss */
#affiliate-account table .has-tooltip {
  color: #007b9a;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}
/* line 1193, style.scss */
#affiliate-account table thead {
  border-bottom: 1px solid #bebebe;
  height: 20px;
}
/* line 1196, style.scss */
#affiliate-account table thead th {
  font-weight: bold;
}
/* line 1202, style.scss */
#affiliate-account table tbody tr {
  height: 40px;
}
/* line 1205, style.scss */
#affiliate-account table tbody tr.odd {
  background: #f1f1f1;
}

/* TOOLTIP */
/* line 1217, style.scss */
.affiliate-account-table.ui-tooltip,
.affiliate-account-table .arrow:after {
  background: white;
  border: 2px solid white;
}
/* line 1221, style.scss */
.affiliate-account-table.ui-tooltip {
  padding: 10px 20px;
  color: black;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}
/* line 1229, style.scss */
.affiliate-account-table .arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
  top: initial;
  background: none;
}
/* line 1241, style.scss */
.affiliate-account-table .arrow.top {
  top: -16px;
  bottom: auto;
}
/* line 1245, style.scss */
.affiliate-account-table .arrow.left {
  left: 20%;
}
/* line 1248, style.scss */
.affiliate-account-table .arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -6px black;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  tranform: rotate(45deg);
}
/* line 1262, style.scss */
.affiliate-account-table .arrow.top:after {
  bottom: -20px;
  top: auto;
}

/* line 1286, style.scss */
#no-code {
  height: 200px;
  margin-bottom: 50px;
}
/* line 1290, style.scss */
#no-code > div {
  height: 100%;
  width: 300px;
  padding: 17px 19px;
  border: 10px solid white;
}
/* line 1297, style.scss */
#no-code .strong {
  font-weight: bold;
}
/* line 1301, style.scss */
#no-code .left {
  position: relative;
  padding: 18px 20px;
  background-color: white;
  /* easy rounded corners for modern browsers */
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 10px solid #999999;
}
/* line 1311, style.scss */
#no-code .left .grey-block {
  background: #999999;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 20px;
  text-align: center;
}
/* line 1324, style.scss */
#no-code .left > .triangle {
  position: absolute;
  bottom: 10px;
  right: -40px;
  margin: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid white;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-width: 22px;
  padding: 0;
  width: 0;
  height: 0;
  /* ie6 height fix */
  font-size: 0;
  line-height: 0;
  /* ie6 transparent fix */
  _border-right-color: pink;
  _border-left-color: pink;
  _filter: chroma(color=pink);
}
/* line 1346, style.scss */
#no-code .left > .triangle-border {
  right: -57px;
  border-left-color: #999999;
  border-width: 25px;
  bottom: 7px;
}
/* line 1353, style.scss */
#no-code .right {
  float: right;
  width: 280px;
  padding-right: 170px;
  padding-left: 0px;
  background: url(/static/img/money-money-money.png);
  background-size: contain;
  background-position-y: top;
  background-position-x: 242px;
  background-repeat: no-repeat;
  position: relative;
}
/* line 1366, style.scss */
#no-code .right > a {
  border: 1px solid #718f31;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #e6e6e6;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px, rgba(255, 255, 255, 0.27) 0 1px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px, rgba(255, 255, 255, 0.27) 0 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px, rgba(255, 255, 255, 0.27) 0 1px 1px inset;
  background: "", -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #59830b), color-stop(49%, #699d17), color-stop(50%, #71ab19), color-stop(96%, #7fbf1b), color-stop(100%, #99cb45));
  background: "", -webkit-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background: "", -moz-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background: "", -o-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background: "", linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background-repeat: "", repeat;
  background-position: "", top left;
  background-size: "", 100% 100%;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(69, 97, 14, 0.65);
  background-color: #71ab19;
  display: block;
  text-decoration: none;
  padding: 10px 0;
  font-size: bold;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 280px;
}


.top-profile .right > a {
  color: #5395a7;
}
.top-profile .right > a:hover {
  text-decoration: underline;
}
b.appointmens_header {
  margin-top: 8px;
}
.dashboard_header_container {
  position: absolute;
  right: 0;
  top: 0;
}
.dashboard_header_search_container > * {
  display: inline-block !important;
}
#bookings_container table {
  margin-top: 50px;
}
#bookings_container table tr.head {
  border-bottom: 2px solid #999;
}
#bookings_container .booking_row {
  border-bottom: 1px solid #CCC;
}
#bookings_container td {
  padding-right: 6px;
  font-size: 12px;
}
#bookings_container td > a{
  font-size: 13px;
}
.logged_in_container, .affiliate-footer {
  background-color: white;
  background-position: 50% -9px;
}
.affiliate-footer {
  background-image: none;
}
