{% extends 'template.html.twig' %}

{% block content %}

    {% include ':include:menu.html.twig' %}

    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>

{% endblock %}
