<!-- Remarketing tag -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1006835264;
var google_conversion_label = "ZjCJCLCaywUQwKyM4AM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1006835264/?value=0&amp;label=ZjCJCLCaywUQwKyM4AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End Remarketing tag -->
<!-- 1 Zahnarzt Tracking Pixel -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1021790740;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "9qI7CPy91gIQlJSd5wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1021790740/?value=0&amp;label=9qI7CPy91gIQlJSd5wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End 1 Zahnarzt Tracking Pixel -->
<!-- 2 Zahnarzt B Tracking Pixel -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1006835264;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "P4EiCPCf7gMQwKyM4AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1006835264/?value=0&amp;label=P4EiCPCf7gMQwKyM4AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End 2 Zahnarzt B Tracking Pixel -->
<!-- 3 All accounts Tracking Pixel -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1017154209;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "vnEdCP_gnAcQoZWC5QM";
var google_conversion_value = 0;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1017154209/?value=0&amp;label=vnEdCP_gnAcQoZWC5QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- END 3 All accounts Tracking Pixel -->
<!-- 4 Generic Tracking Pixel -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 985340178;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "FevUCL6l7QQQkrLs1QM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/985340178/?value=0&amp;label=FevUCL6l7QQQkrLs1QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End 4 Generic Tracking Pixel -->
<!-- 5 Orthopäde Tracking Pixel -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 986102523;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "LOu_COX6rQUQ-_Wa1gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/986102523/?value=0&amp;label=LOu_COX6rQUQ-_Wa1gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End 5 Orthopäde Tracking Pixel -->
<!-- 6 Allgemeinarzt Tracking Pixel -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 989362529;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "ny-iCK-7jBYQ4fLh1wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/989362529/?value=0&amp;label=ny-iCK-7jBYQ4fLh1wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End 6 Allgemeinarzt Tracking Pixel -->
<!-- 7 Hautarzt racking Pixel -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1001104822;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "uAt4CNK98wQQtsuu3QM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1001104822/?value=0&amp;label=uAt4CNK98wQQtsuu3QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End 7 Hautarzt racking Pixel -->
<!-- 8 HNO Tracking Pixel-->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 990313667;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "M-DVCNWF5AQQw_mb2AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/990313667/?value=0&amp;label=M-DVCNWF5AQQw_mb2AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End 8 HNO Tracking Pixel -->
<!-- 9 KFO Tracking Pixel -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 988043274;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "EdU5CPabnwQQirCR1wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/988043274/?value=0&amp;label=EdU5CPabnwQQirCR1wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End 9 KFO Tracking Pixel -->
<!-- 10 Urologe Tracking Pixel -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 994427168;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "9jq6CLiVtwQQoIKX2gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/994427168/?value=0&amp;label=9jq6CLiVtwQQoIKX2gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End 10 Urologe Tracking Pixel-->
<!-- 11 Heilpfleger Tracking Pixel -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 991931267;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "y6KPCOXKzgQQg9f-2AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/991931267/?value=0&amp;label=y6KPCOXKzgQQg9f-2AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End 11 Heilpfleger Tracking Pixel -->
<!-- 12 Frauenarzt Tracking Pixel -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 953783469;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "3F1yCKvYtAMQranmxgM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/953783469/?value=0&amp;label=3F1yCKvYtAMQranmxgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End 12 Frauenarzt Tracking Pixel -->
<!-- 13 Display Tracking Pixel -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1011580072;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "pDnXCOjj_AMQqPmt4gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1011580072/?value=0&amp;label=pDnXCOjj_AMQqPmt4gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End 13 Display Tracking Pixel -->
<!-- 14 “Zahnarzt B” Click on Appointment Tracking Pixel -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1006835264;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "B8SOCLi3tQQQwKyM4AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1006835264/?value=0&amp;label=B8SOCLi3tQQQwKyM4AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End 14 “Zahnarzt B” Click on Appointment Tracking Pixel -->
<!-- Bing tracking -->
{literal}<script type="text/javascript"> if (!window.mstag) mstag = {loadTag : function(){},time : (new Date()).getTime()};</script> <script id="mstag_tops" type="text/javascript" src="//flex.msn.com/mstag/site/d738c728-597d-446f-8065-1ea28258ac28/mstag.js"></script> <script type="text/javascript"> mstag.loadTag("analytics", {dedup:"1",domainId:"2939028",type:"1",actionid:"231152"})</script> <noscript> <iframe src="//flex.msn.com/mstag/tag/d738c728-597d-446f-8065-1ea28258ac28/analytics.html?dedup=1&domainId=2939028&type=1&actionid=231152" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"> </iframe> </noscript>{/literal}
