{if $CONFIG.GOOGLE_ANALYTICS_ACTIVATE}
    {if $user->hasContract()}
{*} PAYING ******************************************* {/*}
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1017154209;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "vnEdCP_gnAcQoZWC5QM";
    var google_conversion_value = 0;
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1017154209/?value=0&amp;label=vnEdCP_gnAcQoZWC5QM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

{*} Adspert Pixel / Mail bk->ak:20141209-15:14 ******************************************* {/*}
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1021790740;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "9qI7CPy91gIQlJSd5wM";
    var google_conversion_value = 1.00;
    var google_conversion_currency = "EUR";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1021790740/?value=1.00&amp;currency_code=EUR&amp;label=9qI7CPy91gIQlJSd5wM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

    {else}
{*} NOT PAYING ************************************** {/*}
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1017154209;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "MNPRCL-MvgcQoZWC5QM";
    var google_conversion_value = 0;
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1017154209/?value=0&amp;label=vnEdCP_gnAcQoZWC5QM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
    {/if}

    {* 2016-17-05 mydealz.de tracking *}
    <!-- Offer Conversion: Arzttermine.de -->
    <iframe src="https://6minutes.go2cloud.org/SL1L" scrolling="no" frameborder="0" width="1" height="1"></iframe>
    <!-- // End Offer Conversion -->
    {* 2017-11-08 belboon affiliate partner tracking *}
    <img src="http://www1.belboon.de/adtracking/lead/000004711.gif/oc=AtGutschein2017&lead=1&belboon=xxxx,yyyy" border="0" width="1" height="1" alt="" />
{/if}
