{% extends 'base.html.twig' %}

{% form_theme createPractice _self %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('vendor/magicsuggest/magicsuggest-min.css') }}">
    <style type="text/css">
        .ms-sel-ctn .ms-sel-item {
            background-color: darkblue;
            color: #ddd;
        }
    </style>
{% endblock %}

{% block _create_practice_reviewSites_entry_widget %}
    {% include ':default/practice:review-site-widget.html.twig' %}
{% endblock %}

{% block body %}
    <h2>Neue Praxis erstellen</h2>
    <br />
    <div class="container">
        <div class="alert alert-danger response" style="display: none;"></div>
        {{ form_start(createPractice, { attr: { id: 'createPracticeForm' } }) }}
        {{ form_row(createPractice.name) }}
        <h4>Standort</h4>
        {% include ':default/location:form.html.twig' with { form: createPractice.location } %}
        <br />
        <div class="form-group">
            <label for="initialDoctorsAutoComplete">Initial doctors:</label>
            <input type="text" id="initialDoctorsAutoComplete" class="form-control auto-complete-customers" placeholder="example@customer.com" />
            <br />
            <div id="suggestedDoctors"></div>
            {{ form_widget(createPractice.initialDoctors, { label: false, attr: { style: 'display: none;' }}) }}
        </div>
        <br />
        <div class="row">
            <div class="col-6">
                <div>
                    <h4>Review Sites</h4>
                    <div id="reviewSiteList" data-prototype="{{ form_widget(createPractice.reviewSites.vars.prototype) | e }}">
                        {% for reviewSite in createPractice.reviewSites %}
                            {{ form_widget(reviewSite) }}
                        {% endfor %}
                    </div>
                    <a href="#" id="addAnotherReviewSite">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        New
                    </a>
                </div>
                <div>
                    <br/>
                    <h4>Erlaubte Versicherungen</h4>
                    {{ form_row(createPractice.insuranceTypes) }}
                </div>
            </div>
            <div class="col-6">
                <h4>Paid Features</h4>
                {{ form_row(createPractice.paidFeatures) }}
            </div>
        </div>
        <br />
        <h4>Widget Configuration</h4>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                {{ form_row(createPractice.widgetConfiguration) }}
            </div>
        </div>
        {% include ':include:submit.html.twig' %}
        {{ form_end(createPractice) }}
        <br />
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'default/practice/js-utility.twig' with { reviewSites: createPractice.reviewSites, context: 'create' } %}
    <script type="text/javascript" src="{{ asset('vendor/magicsuggest/magicsuggest.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var autoComplete = $('.auto-complete-customers');

            var suggestionBox = autoComplete.magicSuggest({
                cls: 'form-control',
                allowFreeEntries: false,
                allowDuplicates: false,
                useTabKey: true,
                data: '{{ path('api_get_customers') }}',
                method: 'GET',
                displayField: 'email',
                queryParam: 'email',
                minChars: 1,
                maxSelection: 100,
                placeholder: 'example@customer.com',
                noSuggestionText: 'Kein Eintrag gefunden',
                selectionContainer: $('#suggestedDoctors')
            });

            var originalInput = $('#{{ createPractice.initialDoctors.vars.id }}');
            var newWidget = originalInput.attr('data-prototype');
            $(suggestionBox).on('selectionchange', function () {
                originalInput.html('');

                var values = this.getValue();
                for (var i = 0; i < values.length; i++) {
                    var entry = $((newWidget + '').replace(/__name__/g, i));
                    entry.find('input').val(values[i]);

                    entry.appendTo(originalInput);
                }
            });
        });
    </script>
{% endblock %}
