{% spaceless %}
<script type="text/javascript">
    {% if context == 'create' %}
    var method = 'POST';
    {% else %}
    var method = 'PUT';
    {% endif %}
    var context = '#{{ context }}PracticeForm';
    var siteCount = '{{ reviewSites|length }}';

    function enableRemoval() {
        $('.remove-review-site').unbind().click(function (evt) {
            evt.preventDefault();

            $(this).parent().parent().parent().remove();
            siteCount--;
        });
    }

    $(document).ready(function() {
        enableRemoval();

        $('#addAnotherReviewSite').click(function(e) {
            e.preventDefault();

            var siteList = $('#reviewSiteList');
            var newWidget = siteList.attr('data-prototype');

            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, siteCount);
            siteCount++;

            $(newWidget).appendTo(siteList);
            enableRemoval();
        });

        var errorContainer = $('.response');
        var form = $(context);

        form.submit(function (e) {
            e.preventDefault();
            e.stopPropagation();

            errorContainer.fadeOut();
            var data = form.serialize();

            $.ajax({
                url: '{{ path('api_' ~ context ~ '_practice') }}',
                dataType: 'json',
                method: method,
                data: data,
                success: function (res) {
                    errorContainer.toggleClass('alert-danger');
                    errorContainer.toggleClass('alert-success');
                    errorContainer.html('Änderung erfolgreich durchgeführt. Weiterleitung...');
                    errorContainer.fadeIn();

                    setTimeout(function () {
                        window.location.href = '{{ path('practices') }}';
                    }, 1600);
                },
                error: function (err) {
                    var json = err.responseJSON;
                    if (json.errors) json = json.errors;
                    if (json.form) json = json.form;
                    if (json.children) json = json.children;
                    errorHandler('<pre>' + JSON.stringify(json, null, 2) + '</pre>');
                }
            })
        });

        function errorHandler(data) {
            errorContainer.html(data);
            errorContainer.fadeIn();
        }
    });
</script>
{% endspaceless %}
