{% extends 'base.html.twig' %}

{% block body %}
<h2>Praxisübersicht</h2>
<div class="row">
    <div class="col-2">
        <a href="{{ path('create_practice') }}" class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-10">
        {% include ':include:pagination.html.twig' with { page: page } %}
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Stadt</th>
            <th>Doctors</th>
            <th class="hidden-sm-down">Style-Template</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for p in practices %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>
                    <a href="{{ path('update_location', { id: p.location.id }) }}" title="Edit location">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        {{ p.location.city }}
                    </a>
                </td>
                <td>{% if p.doctors is defined %}{{ p.doctors|length }}{% endif %}</td>
                <td class="hidden-sm-down">
                    {% if p.widgetConfiguration is defined and p.widgetConfiguration.templateId is not null and p.widgetConfiguration.templateId != 'default' %}
                        {{ p.widgetConfiguration.templateId }}
                    {% else %}
                        Standard
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('update_practice', { id: p.id }) }}">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block stylesheets %}

{% endblock %}
