<div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-10">
            {{ form_widget(form.type) }}
        </div>
        <div class="col-2 text-center" style="line-height: 200%;">
            <a href="#" class="remove-review-site" style="color: darkred;"><i class="fa fa-remove" aria-hidden="true"></i></a>
        </div>
    </div>
    {{ form_widget(form.data, { attr: { placeholder: 'placeId/link' } }) }}
    <br />
</div>
