{% extends 'base.html.twig' %}

{% form_theme updatePractice _self %}

{% block _update_practice_reviewSites_entry_widget %}
    {% include ':default/practice:review-site-widget.html.twig' %}
{% endblock %}

{% block body %}
    <h2><i class="fa fa-edit" aria-hidden="true"></i> {{ practice.name }} (#{{ practice.id }})</h2>
    <br />
    <div class="container">
        <div class="alert alert-danger response" style="display: none;"></div>
        {{ form_start(updatePractice, { attr: { id: 'updatePracticeForm' } }) }}
        {{ form_row(updatePractice.name) }}
        <br />
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div>
                    <h4>Review Sites</h4>
                    <div id="reviewSiteList" data-prototype="{{ form_widget(updatePractice.reviewSites.vars.prototype) | e }}">
                        {% for reviewSite in updatePractice.reviewSites %}
                            {{ form_widget(reviewSite) }}
                        {% endfor %}
                    </div>
                    <a href="#" id="addAnotherReviewSite"><i class="fa fa-plus" aria-hidden="true"></i> New</a>
                </div>
                <div>
                    <br/>
                    <h4>Erlaubte Versicherungen</h4>
                    {{ form_row(updatePractice.insuranceTypes) }}
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <h4>Paid Features</h4>
                {{ form_row(updatePractice.paidFeatures) }}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h4>Widget Configuration</h4>
                {{ form_row(updatePractice.widgetConfiguration) }}
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="list-group">
                    <a href="{{ path('update_location', { id: practice.location.id }) }}" class="list-group-item edit-location">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i> &nbsp;
                        Edit Location
                        &nbsp;
                        <small>{{ practice.location.location ~ ' ' ~ practice.location.zip ~ '-' ~ practice.location.city }}</small>
                    </a>
                    <a href="#" data-practice-id="{{ practice.id }}" class="list-group-item edit-directories">
                        <i class="fa fa-mail-forward" aria-hidden="true"></i> &nbsp;
                        Edit Broadcasting
                    </a>
                </div>
            </div>
        </div>
        <br />
        {% include ':include:submit.html.twig' %}
        {{ form_end(updatePractice) }}
        <br />
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'default/practice/js-utility.twig' with { reviewSites: updatePractice.reviewSites, context: 'update' } %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.edit-directories').click(function (e) {
                e.preventDefault();

                alert('Eins nachm andern! :D No clue what it is? Come and ask!');
                //window.location.href = '{{ path('update_location', { id: practice.location.id }) }}';
            });
        });
    </script>
{% endblock %}
