.panel
  .nav-tabs
    padding-left: 1em
    margin-top: 1em
    margin-bottom: 1em

.tab-pane
  table.data-table
    margin-bottom: 0

.tab-content .panel
  margin: 1em

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > li > a:focus
  outline: none

.nav-tabs
  li
    a
      .badge
        font-size: 11px

.form_text
  width: 100%

.input-group.date
  width: 12em

.input-group.datetime
  width: 20em
