html
  font:  14px/18px Arial, Helvetica, sans-serif
  color: #5b504d
  background: #fff

  body
    background: #fff

a
  color: $admin-href-color

.admin
  .list-navigation
    .pagination
      margin-top: 0
      margin-bottom: 0
  table.table-data
    tbody
      a
        color: $admin-table-data-tbody-href-color

#fancybox-content
  .container
    padding: 0

body.iframe
  .container
    margin-left:  auto
    margin-right:  auto
    width:  100%

.iframe
  .container
    padding: 0

#iframe
  #content-main
    background: none

#admin_media
  .data_column
    vertical-align: top
    float: right
    .data_keys
      width: 1%
      white-space:  nowrap

  .media_column
    width: 260px
    text-align:  center
    vertical-align: middle
    img
      max-width: 400px

#admin_media_iframe
  .data_column
    vertical-align: top
    .data_keys
      width: 1%
      white-space:  nowrap

  .media_column
    width: 160px
    text-align:  center
    img
      max-width: 150px

/* admin:  navigation, menu ********************************************************************* */
img.direction
  vertical-align: text-bottom
  padding-left: 5px

img.button-action,
img.direction
  vertical-align: text-bottom
  padding-left: 2px
  padding-right: 2px

.field_section
  margin:  4px 0px 4px 0px
  padding:  2px 0px 2px 0px
  border-style: none none solid none
  border-color: #eeeeee
  border-width: 1px

.nowrap
  white-space:  nowrap

.tinymce-editor
  border: 1px dotted #cccccc
  width: 100%

.image-align-none-label
  background:  url(/wp/tinymce/plugins/wpeditimage/img/align-none.png) no-repeat center left

.image-align-left-label
  background:  url(/wp/tinymce/plugins/wpeditimage/img/align-left.png) no-repeat center left

.image-align-center-label
  background:  url(/wp/tinymce/plugins/wpeditimage/img/align-center.png) no-repeat center left

.image-align-right-label
  background:  url(/wp/tinymce/plugins/wpeditimage/img/align-right.png) no-repeat center left

/* google result ************************
.google-result
  width: 512px
  line-height: 1.2
  padding: 0 8px
  font-family: arial,sans-serif
  overflow: hidden
  .title
    white-space: nowrap
    text-decoration: underline
    color: #1122CC
    cursor: pointer
    font-size: medium
  .url
    white-space: nowrap
    color: #009933
    font-style: normal
    margin-bottom: 1px
  .description
    color: #222222
    line-height: 1.24
    font-size: small

#hotline-top, #doc-reg-top
  display: none !important

/* Planner compatibility overrides
#planner-actions.admin-planner
  position: relative
  margin: 0 auto
  float: none
  .buttons
    position: absolute
    text-align: right
    right: 0px
    top: 59px
  .button
    display: block
    margin-bottom: 12px
    font-weight: normal
    padding: 8px 12px
    font-size: 16px !important
    font-size: 1rem !important
    /* These !importants are here because they're elsewhere ;_;
    text-shadow: none
    text-align: center

#planner-templates
  margin-top: 12px
  select
    margin-right: 12px
    width: 40%

#planner-actions.admin-planner
  .dropdown
    display: inline-block
    max-width: 40%
    margin-right: 12px
    vertical-align: top
  select
    width: 100%
  .dropdown label
    display: block
    font-weight: bold

/* Modal overrides - mostly duplicated from profile-page.css
.modal
  ul, ol
    list-style: outside none none
    padding: 0
  label
    text-align: left
    margin: 2px 10px 2px 0
    float: left
    display: block
  .modal-dialog
    .form-control
      height: auto
      width: auto
  .specialty-treatments
    margin-top: 16px
    margin-top: 1rem
    ul
      -moz-column-count: 3
      -webkit-column-count: 3
      -webkit-column-gap: 16px
      -webkit-column-gap: 1rem
      -moz-column-gap: 16px
      -moz-column-gap: 1rem
      font-size: 12px
      font-size: 0.75rem
      line-height: 16px
      line-height: 1rem
      li
        clear: left
        white-space: nowrap
  .specialties label, .specialty-treatments label
    padding-left: 18.4px
    padding-left: 1.15rem
  .specialties label input, .specialty-treatments label input
    margin-left: -18.4px
    margin-left: -1.15rem

.modal-dialog .subheader
  clear: left

#planner-block-config
  .modal-backdrop
    z-index: 0
