#cms_dir_content_explorer
  #cms_dir
    padding-right: 10px
    min-width: 300px
    vertical-align: top
    table.dirs
      margin: 0px
      width: 100%

    .dirs
      td.dirname
        text-align:  left
        width: 100%
        a
          color:  #333333
          margin:  0px 8px 0px 4px

      td.first
        padding-left:  8px
        text-align: left

      td.last
        padding-right:  8px
        text-align: right

  #cms_content
    min-width: 200px
    vertical-align: top
    .contents
      td.filename
        text-align:  left
        width: 100%
        a
          color:  #333333
          margin:  0px 8px 0px 4px

      td.first
        padding-left:  8px
        text-align: left

      td.last
        padding-right:  8px
        text-align: right

      th
        font-weight: bold
        padding-left: 1em
        padding-right: 1em
        text-align:  center

      tr.selected
        border-style: solid none
        border-color: #dddddd
        border-width: 1px

      tr.version
        text-align:  center
        td
          white-space: nowrap

        td.data
          padding-left: 0.2em
          padding-right: 0.2em

  .selected
    background-color: #F3FFD0

  .tree
    width: 16px
    display: block

.admin-table
  th
    width:  20%

  .input_textarea
    width:  100%
    height:  8em


.panel-nomargin-bottom
  margin-bottom: 0

table.dirs
  tr.dir
    height: 20px
    img
      vertical-align: bottom


  tr.dir:hover
    background:  transparent url('/img/adm/dir_content_version_active.png') repeat-x scroll left top


#cms_dir_content_explorer #cms_dir .dirs td,#cms_dir_content_explorer #cms_dir .dirs th
  height: 20px
  border: 0px
  margin: 0px
  padding: 0px
  vertical-align: inherit

table.contents
  width: 100%
  margin: 0

  tr.content
    height: 20px

  tr.content:hover
    background:  transparent url('/img/adm/dir_content_version_active.png') repeat-x scroll left top

  img
    vertical-align: bottom

  tr.content_select
    background-color: #EEEEEE


#cms_dir_content_explorer #cms_content .contents td,#cms_dir_content_explorer #cms_content .contents th
  height: 20px
  border: 0px
  margin: 0px
  padding: 0px
  vertical-align: middle

#cms_dir_content_explorer #cms_content .contents tr.content_header,#cms_dir_content_explorer #cms_content .contents tr.version_header
  border-style: none none dashed none
  border-color: #eeeeee
  border-width: 1px

#cms_dir_content_explorer #cms_content .contents tr.content_footer,#cms_dir_content_explorer #cms_content .contents tr.version_footer
  border-style: dashed none none none
  border-color: #eeeeee
  border-width: 1px

#cms_dir_content_explorer .dir_wrapper .toggle_trigger,#cms_dir_content_explorer .content_wrapper .toggle_trigger
  border-style: solid none none none
  border-color: #bbbbbb
  border-width: 1px
  display: block
  padding: 4px 8px
  background:  linear-gradient(to bottom, #ededed, #dfdfdf)
  cursor:  pointer

.input_text,
.input_textarea
  width: 100%

.field_error
  margin-left: 11em

#content_new .dirpath,#content_edit .dirpath
  padding-left: 0.5em

#version_new label, #version_edit label
  float: left
  margin-top: 0pt
  width: 12em

#version_edit
  label.minor_change
    float: none
    margin-top: 0pt
    margin-left: 1em
    display: inline

#version_new .input_text,
#version_new .input_textarea,
#version_edit .input_text,
#version_edit .input_textarea
  width: 100%
  min-width: 40em
  height: 16em

#version_new .field_error,#version_edit .field_error
  margin-left: 12em

table.diff
  width: 100%
  td
    font-size: 11px
    line-height: 20px
    margin-bottom: 9px
    padding: 8px 10px

  .diff-addedline
    background-color: #DDFFDD
    ins
      background-color: #99FF99
      border:  1px dashed #666666


  .diff-deletedline
    background-color: #FFDDDD
    del
      background-color: #FF9999
      border:  1px dashed #666666


  tr.diff-sub-title
    th
      font-weight: bold
      border-width:  1px
      border-style:  none none solid none
      border-color:  #cccccc

.form-table
  th
    padding: 10px
    text-align: left
    vertical-align: top
    width: 200px


table.diff td, table.diff th
  border: medium none
  font-family: Consolas,Monaco,Courier,monospace
  padding: 0.5em

table.diff .diff-deletedline del, table.diff .diff-addedline ins
  text-decoration: none
  text-decoration: none

ins
  text-decoration: none

.actionicons
  clear: both
  a
    padding:  0px 2px 0px 0px
    vertical-align: text-bottom
    white-space: nowrap
