<form action="patienten/do_anmelden" method="post">
    <input name="email" placeholder="email" type="email"/><br/>
    <input name="password" placeholder="password" type="password"/><br/>
    <input type="hidden" name="book" value="1"/>
    <input type="hidden" name="location_id" value="{$form.location_id}" />
    <input type="hidden" name="user_id" value="{$form.user_id}" />
    <input type="hidden" name="medical_specialty_id" value="{$form.medical_specialty_id}" />
    <input type="hidden" name="start_at_id" value="{$form.start_at_id}" />
    <input type="hidden" name="form_once" value="{$form.form_once}" />
    <input type="hidden" name="insurance_id" value="{$smarty.get.i}" />
    <input type="submit" value="Book Appointment"/>
</form>