@import "partials/all";

nav {
  h4 {
    @include rem-fallback(padding-bottom, 0.5);
    @include rem-fallback(margin-bottom, 0.5);
    @include rem-fallback(font-size, 1);
    font-weight: 700;

    & + ul > li {
      @include rem-fallback(line-height, 1.6);
    }
  }
}

#message {
  @include span-columns(10);
  @include omega;
  @include rem-fallback(margin, 3, 0);
  
  h1 {
    @include rem-fallback(margin-bottom, 1);
  }
  
  h2 {
    @include rem-fallback(margin, 1, 0);
  }
}

#error_ico {
  @include span-columns(2);
  @include rem-fallback(margin, 3, 0);
}