@import "partials/all";

$nav-height: 1.8;

body {
  .admin-bar {
    @include clearfix;
    overflow: visible;
    width: 100%;
    position: relative;
    @include rem-fallback(height, $nav-height);
    @include rem-fallback(line-height, $nav-height);
    color: $color-at-white;
    background: $color-at-grey-darker;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
    @include rem-fallback(font-size, 0.75);

    a {
      font-weight: 700;
      color: $color-at-white;
      padding: 0 2em;
      @include rem-fallback(padding, 0, 2);
    }
    
    .wrapper {
      @include container;
    }
  }
}
