@import "compass/reset";
@import "partials/base";

// Imports continued at the end of the file...

/* Chrome repaint bug */
/* https://stackoverflow.com/questions/22011139/google-fonts-are-not-rendering-on-google-chrome */
body {
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to   { opacity: 1; }
}

/* DEFAULT STYLING FOR HTML ELEMENTS */

html {
  @include font-gudea;
  line-height: 120%;
  background: #FFFFFF;
  color: $color-at-grey-darker;
}

h1 {
  @include font32;
  @include font-lato;
  font-weight: 400;
  color: $color-at-blue;
}

h2 {
  @include font30;
  @include font-lato;
  font-weight: 300;
  color: $color-at-blue;
}

h3 {
  @include font16;
  @include font-lato;
  font-weight: 300;
  color: $color-at-blue;
}

h4 {
  @include rem-fallback(font-size, 1.4);
}

h6.reviewGoogle{
  font-size: 22px;
  color: rgb(62, 62, 62);
  font-weight: bold;
  line-height: 0.735;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.bullet:before {
  content: "• ";
  color: rgb(0, 144, 214);
  padding: .3em;
  margin: .5em;
}

p {
  line-height: 150%;
}

a {
  color: $color-at-blue;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

em {
  font-weight: 700;
}

div.top_nav {
  max-width: 59.9em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

body main > section {
  $section-vertical-spacing: 3;
  @include rem-fallback(margin-bottom, $section-vertical-spacing);
  @include rem-fallback(padding-bottom, $section-vertical-spacing);

}

/* Bootstrap CSS tools */
.hide {
  display: none;
}
.invisible {
  visibility: hidden !important;
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}
/* END - DEFAULT STYLING FOR HTML ELEMENTS */


@import "partials/alert";
@import "partials/tooltip";
@import "partials/header";
@import "partials/footer";
@import "partials/search-filters";
@import "partials/calendar";
@import "partials/search-box";
@import "partials/doctor-tile";
@import "partials/rating";
@import "partials/pagination";
@import "partials/referral-tooltip";

@import "partials/review";
@import "partials/overlay-popups";
