@import "partials/all";

$column-width: 9.9;
$row-height: 3.75; // Should be exactly equal to 60px on desktop. 60px = 60mins. For compatibility with backend for the moment

#calendar_body {
  position: relative;
  @include rem-fallback(margin-top, 2);
}
#calendar {
  position: relative;
  @include rem-fallback(margin-top, 2);
  @include rem-fallback(margin-bottom, 2);
  @include rem-fallback(min-width, 6 * $column-width);
  @include rem-fallback(padding-left, $column-width/4); // Push the calendar in
}

#save_calendar {
  @include flat-button($color-at-blue, large);
  float: right;
}

.calendar-controls {
  @include clearfix;
}

.calendar_column {
  @include rem-fallback(width, $column-width);
  float: left;
  @include font14;
  border-bottom: 1px solid $color-at-grey;
}
#calendar_column_0 { @include rem-fallback(width, $column-width/2); } // IMPORTANT: This columns cannot share a width due to the JS calculations
#calendar_column_6 { display: none; }

.calendar_weekday {
  @include rem-fallback(height, 2.5);
  text-align: center;
  font-weight: 700;
}

.calendar_left_times,
.calendar_time_block {
  width: 100%;
  @include rem-fallback(height, $row-height);
  border-top: 1px solid $color-at-grey;
  border-left: 1px solid $color-at-grey;
  @include box-sizing(border-box);
}

.calendar_left_times {
  text-align: center;
  font-weight: 700;
  @include rem-fallback(line-height, $row-height);
}

.calendar_column:last-of-type {
  .calendar_time_block {
    border-right: 1px solid $color-at-grey;
  }
}

.ui-dialog {
  background: $color-at-white;
  @include rem-fallback(padding, 2);
  border: 1px solid $color-at-grey-darker;
  box-shadow: 0 0 12px 5px rgba(0,0,0,0.2);

  td {
    @include rem-fallback(padding, 0.25);

  }
  li[role=tab] { display: inline-block; }

  button {
    @include flat-button($color-at-blue);

    &.ui-dialog-titlebar-close {
      background: none;
      color: $color-at-blue;
      border: 0;
      box-shadow: none;
      position: absolute;
      @include rem-fallback(right, 0.5);
      @include rem-fallback(top, 0.5);
      
      .ui-button-text { display: none; }

      &:after {
        content: "\2715";
      }
    }
  }
}

#ui-datepicker-div {
  background: $color-at-white;
  border: 1px solid $color-at-grey;
  box-shadow: 0 0 12px 2px rgba(0,0,0,0.1);
  @include rem-fallback(padding, 1);

  td {
    @include rem-fallback(padding, 0.5);
  }

  .ui-datepicker-header { @include rem-fallback(padding, 0.5, 0); }
  .ui-datepicker-next { float: right; }
  .ui-datepicker-prev { float: left; }
  .ui-datepicker-title { text-align: center; }
}

.calendar_appointment_block {
  @include rem-fallback(width, $column-width);
  // The background color is set in ngs/js/calendar.js:setDivBackgroundColorByLocationId (?!)
  position: absolute;
  background-color: #0090D6;// Set a sane default color
  color: #fff;
  font-size: 12px;
}
.calendar_remove_parent {
  float: right;
  margin-right: 3px;
  font-size: 10px;
}

// Button controls
.week_buttons_container {
  padding-bottom: 24px;
  position: relative;
  top: 38px;
  z-index: 100;
  padding-left: 16px;
  padding-right: 16px;
}

.previous_week{
  background-image: url(/static/img/prev-week-link-c.png);
  float: left;
  height: 23px;
  width: 14px;
}

.next_week{
  background-image: url(/../static/img/next-week-link-c.png);
  float: right;
  height: 23px;
  width: 14px;
  position: absolute;
  right: 13px;
}
