@import "partials/all";

.home {
  main > section.cinema {
    @include rem-fallback(margin-top, -1);
    
    & ~ section {
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 0;
      // @include rem-fallback(margin-top, 4);

      &:before {
        @include rem-fallback(margin-bottom, 4);
        content: " ";
        display: block;
        height: 1px;
        background: $color-at-grey;
        @include at-gradient(left, $color-at-white 0%, $color-at-grey 40%,  $color-at-grey 60%, $color-at-white 100%);
      }
    }

  }

  div.section_divider {
    @include rem-fallback(margin-top, 3);

    &:before {
      @include rem-fallback(margin-bottom, 4);
      content: " ";
      display: block;
      height: 1px;
      background: $color-at-grey;
      @include at-gradient(left, $color-at-white 0%, $color-at-grey 40%,  $color-at-grey 60%, $color-at-white 100%);
    }
  }

  h1 {
    font-weight: 700;
    color: $color-at-white;
    letter-spacing: 1px;
    text-align: center;
    @include rem-fallback(margin-top, 2);
    @include rem-fallback(margin-bottom, 1);
    @include rem-fallback(font-size, 2.5);
    @include rem-fallback(line-height, 2.8);
  }
  h1.mobile{
    color: #323232;
    font-size: 1.6rem;
    @include rem-fallback(line-height, 2);
    @include rem-fallback(margin-top, -1);

  }

  h2 {
    @include font-gudea;
    color: $color-at-grey-darker;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  h3 {
    @include font-gudea;
    font-weight: 400;
    color: $color-at-grey-dark;
    text-align: center;
  }

  .cinema {
    background-image: url(/static/images/content/home-1.jpg);
    &.picture-1 { background-image: url(/static/images/content/home-2.jpg); }
    &.picture-2 { background-image: url(/static/images/content/home-3.jpg); }
    &.picture-3 { background-image: url(/static/images/content/home-4.jpg); }
    &.picture-4 { background-image: url(/static/images/content/home-6.jpg); }
    $cinema-leak: 2;

    @include span-columns(12);
    //@include rem-fallback(height, 30);
    @include rem-fallback(padding-left, $cinema-leak);
    @include rem-fallback(padding-right, $cinema-leak);
    @include rem-fallback(margin-left, .2rem);

    //background-size: cover;
    border: 0;
    color: $color-at-white;
    float: none;

    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-bottom: 18rem;
    margin-bottom: 2rem;

    .headline {
      text-align: center;
      @include rem-fallback(padding-top, 6); 
      text-shadow: 1px 1px 7px rgba(0,0,0,0.6), -1px -1px 7px rgba(0,0,0,0.6);
    }

    ul.inlined {
      line-height: 200%;
      font-weight: 400;
      @include rem-fallback(margin-bottom, 0.5);
      @include font24;
    }


    ul.inlined {
      list-style: circle;

      li:first-child {
        &:before { 
          content: "";
        }
      }

      li:before {
        content: "\2022\A0";
      }
    }

    .search-box {
      @include remove-omega;
      @include span-columns(12);

      .text-input {
        @include rem-fallback(height, 2);
        @include rem-fallback(line-height, 2);
        vertical-align: middle;
      }
      .radio-input {
        color: $color-at-grey-darker;
      }
      label {
        color: $color-at-grey-darker;
        float: left;
        text-transform: uppercase;
        @include font12;
      }

      input[type=submit] {
        @include rem-fallback(padding-left, 4);
        @include rem-fallback(padding-right, 4);
      }
    }
  }

  #quotes {
    @include rem-fallback(padding-bottom, 0);
    text-align: center;

    .quote {

      .quote-text {
        color: $color-at-grey-dark;
        text-align: center;
        @include rem-fallback(padding, 2);
        @include rem-fallback(padding-left, 3);
        position: relative;

        &:before {
          content: '“';
          color: $color-at-grey-darker;
          @include font-serif;
          font-style: italic;
          @include rem-fallback(font-size, 5);
          position: absolute;
          @include rem-fallback(left, 0);
          @include rem-fallback(top, 3);
        }
      }

      .quote-doc-name {
        @include font14;
        font-style: italic;
        color: $color-at-grey-half;
        text-align:right;
        width:100%;
        display: inline-block;
        vertical-align: middle;
      }
    }

  }

div.press{
  margin-top: 1rem;
}

  #doctors {
    @include font14;
    text-align: center;

    ul { 
      @include rem-fallback(margin-top, 2); 
      overflow: visible; 
    }

    li {
      .round-image {
        width: columns(2, $total-columns, static) * 0.85;
        height: columns(2, $total-columns, static) * 0.85;
        margin: auto; 
        @include rem-fallback(margin-bottom, 1);
      }
    }

    a {
      color: $color-at-blue;
      font-weight: 700;
    }
    .specialty, .city {
      color: $color-at-grey-dark;
    }

    .owl-theme .owl-controls .owl-buttons {
      div {
        position: absolute;
        top: 40px;
        background: none;
        font-family: at-assets;
        color: $color-at-grey;
        @include rem-fallback(font-size, 5);

        &.owl-prev { 
          left: -70px; 
          &:before {
            content: "\e604";
          }
        }
        &.owl-next { 
          right: -70px;
          &:before {
            content: "\e605";
          }
        }
      }
    }
  }

  #for-patients {
    @include clearfix;

    section {
      @include span-columns(12);
      @include rem-fallback(margin-top, 3);
      @include rem-fallback(margin-bottom, 2);

      .image-container {
        @include span-columns(5);
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        @include omega;
        border-radius: 5px;

        &.near {
          background-image: url(/static/images/content/patient_content_ihre_naehe.jpg);
        }
        &.easy {
          background-image: url(/static/images/content/patient_content_einfach_sicher.jpg);
        }
        &.competent {
          background-image: url(/static/images/content/patient_content_vertrauen_kompetenz.jpg);
        }
      }
      
      .text-container {
        @include span-columns(7);
        h4 {
            @include rem-fallback(margin-bottom, 1);
            font-weight: 700;
        }
        p {
           color: $color-at-grey-dark;
        }
      }

      &:nth-of-type(2n+1) {
        .image-container {
            @include remove-omega;
        }                
        .text-container {
            @include omega;
        }                
      }
    }
  }

  #for-doctors {
    @include clearfix;
    $form-padding: 2;

    background: $color-at-blue-light;

    form {
      @include rem-fallback(padding, $form-padding);
      @include span-columns(12);
      position: relative;
      overflow: hidden;


      h4,
      label {
        @include font14;
        font-weight: 700;
        display: block;
        margin-bottom: .5rem;
      }

      .radio-group {
        input:checked + label {
          font-weight: 700;
        }

        label {
          display: inline-block;
          font-weight: normal;
          @include rem-fallback(min-width, 4);
        }
      }

      select,
      input[type=text],
      input[type=password],
      input[type=tel],
      input[type=email] {
        display: block;
        @include rem-fallback(height, 2.5);
        @include font16;
        width: 100%;
        @include box-sizing(border-box);
        @include rem-fallback(margin-top, 0.5);
      }

      input[type=checkbox] {
        float: left;

        & + label {
          @include rem-fallback(margin-left, 1.5);
          font-weight: normal;
        }
      }

      .form-element {
        @include rem-fallback(margin-bottom, 1);

        &.hidden {
          display: none;
        }

        &.error {
          input, select, textarea {
            outline: 1px solid red;
            border: 0;
          }

          &:after {
            content: attr(data-error-message);
            display: block;
            color: red;
            @include font14;
            font-weight: 700;
            @include font-gudea;
          }
        }
      }

      .form-group {
        width: 45%;
        float:left;
      }

      .right {
        padding-top:55px;
        padding-left:20px;
        float:right;
      }

      .button-wrapper {
        clear:both;
        text-align:center;
      }

      button,
      input[type=submit] {
        // @include rem-fallback(padding-right, 1);

        &:before {
          font-family: at-assets;
          content: $flaticon-checkmark-full;
          position: relative;
          top: 2px;
          @include rem-fallback(margin-right, 1);
          @include rem-fallback(font-size, 1.2);
        }
      }

      button,
      input[type=submit] {
        @include flat-button($color-at-orange);
        @extend .large;
        @include rem-fallback(min-width, 14);
        // @include rem-fallback(padding-left, 1);
        position: relative;
      }


    }
  }

  #shortcuts-to-doctors {
    @include clearfix;

    h3 {
      @include rem-fallback(margin-bottom, 2);
    }

    h4 {
      @include font16;
      font-weight: 700;
    }

    #cities, #specialties {
      h4:after {
        @include rem-fallback(margin-top, 0.5);
        @include rem-fallback(margin-bottom, 0.5);
        content: " ";
        display: block;
        height: 1px;
        background: $color-at-grey;
        @include at-gradient(left, $color-at-grey 0%, $color-at-white 80%);
      }

      h4:before {
        font-family: at-assets;
        color: $color-at-blue;
        @include rem-fallback(font-size, 1);
        @include rem-fallback(margin-right, 0.25);
      }
    }

    #cities { 
      @include span-columns(3);

      h4:before { content: $flaticon-map-pin-hole; }
    }

    #specialties {
      @include span-columns(9);
      @include omega;

      h4:before { content: $flaticon-doctor-bag; }
    }
  }

  footer {
    border: 0;
    &:before {
      @include rem-fallback(margin-bottom, 2);
      content: " ";
      display: block;
      height: 1px;

      background: $color-at-grey;
      @include at-gradient(left, $color-at-white 0%, $color-at-grey 40%, $color-at-grey 60%, $color-at-white 100%);
    }
  }
}
blockquote.press{
  color: #74776B;
  font-style: italic;
  font-weight: 400;
}
blockquote::before{
  font-family: Georgia, serif;
  content: "\201C";
  font-weight: 900;
  color: #74776b;
  position: absolute;
  left: .3rem;
}

blockquote::after{
  font-family: Georgia, serif;
  content: "\201d";font-weight: 900;
  color: #74776b;
}

@include at-breakpoint($computer) {
  header {
    .search-box { display: none; }
  }

  nav {
    h4 {
      & + ul > li { 
        @include font16;
        &.reset { @include rem-fallback(margin-top, -19.5); }
        &.column-1 { margin-left: 0; }
        &.column-2 { margin-left: space(3, 12, static); }
        &.column-3 { margin-left: 2 * space(3, 12, static); }
      }
    }
  }
}


@include at-breakpoint(12 45em) {
  .home main > section.cinema {
    @include rem-fallback(margin-top, -2);
    
    .headline {
      padding-top: 0;
    }
  }
}


h5.title_carousel {
    color: #0a0a0a;
    font-size: .9rem;
    margin-top: .5rem;
  }

h5.title_carousel:hover{
  text-decoration: none;
}
a.title_carousel:hover{
  color: #0a0a0a;
  text-decoration: none;
}

/* Carousel Effects */
figure::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255,255,255,.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
figure:hover::before {
  -webkit-animation: circle .75s;
  animation: circle .75s;
}
@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

/* Partners */
img.partners {
  width: 100px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
img.partners:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
/* find doctor */
div.find_doctor {
  background:url('../images/assets/find_doctor.png');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 2rem;
  padding: 1rem 0 1rem 0;
}
div.background_finnd_doctor{
  background: rgba(255, 255, 255, .8);
  padding: 1rem;
  margin: .5rem;
}
i.find_doctor{
  float: left;
  padding:0 .5rem .8rem .8rem;
}
span.find_doctor{
  margin:0 .5rem .8rem 0;
}

a.find_doctor{
  color: #0090D6;
  border: 1px solid #0090D6;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: 100;
  margin: 1rem 0 .5rem 0;;
  display: inline-block;
  text-decoration: none;
  min-width: 120px;
}
a.find_doctor:hover, a.btn-footer1:active {
  color:#FFFFFF;
  background:#0090D6;
}

div.doctor_solutions{
  background:url('../images/assets/solutions/doctor_solutions.png');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 2rem;
}

