@import "partials/all";

.lasik footer {
  margin-top: 0;
}

.lasik {
  .lasik-info {
    @include rem-fallback(min-height, 7); 
    border: 0;

    .column {
      height: 100%;
      @include rem-fallback(margin-right, 10);

      &:first-child {
        float: right;
        @include rem-fallback(margin-left, 1);
        margin-right: 0;
      }
    }

    button {
      @include flat-button($color-at-blue);
      border-radius: 2px;

      & + p {
        color: $color-at-orange;
        @include font12;
        text-align: center;
      }
    }
    
    .price {
      font-weight: 300;
      @include font18;
      @include font-lato;
      color: $color-at-blue;
      @include rem-fallback(margin-top, 1);
    }

    .services > h4 {
      text-transform: uppercase;
      @include font12;
      color: $color-at-grey-half;
    }

    li {
      @include inline-block;
      @include font14;
      color: $color-at-grey-dark;
      &:after {
        content: ", ";
      }
      &:last-child:after {
        content: "";
      }
    }

    .toggler {
      position: absolute;
      bottom: 0;
      left: 0;
      color: $color-at-blue;
      @include font14;
      cursor: pointer;
      
      &:before {
        @include rem-fallback(margin-right, 0.1);
        font-size: 80%;
        content: "\25B2";
      }

      &.closed:before {
        content: "\25BC";
      }
    }
  }

  .roll-out {
    overflow: hidden;
    @include rem-fallback(height, 10);
    @include rem-fallback(margin-top, 1);
    @include trans(all 0.2s linear);
    background: $color-at-grey-light;

    &.hidden {
      @include rem-fallback(margin-top, 0);
      height: 0;
    }
  }

  &.overlay-blocker {
    position: fixed;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.5);
    display: none;

    &.visible {
      display: block;
    }

    .popup-message {
      $width: 50;
      $height: 40;
      @include rem-fallback(width, $width);
      @include rem-fallback(margin-left, -$width/2);
      @include rem-fallback(height, $height);
      @include rem-fallback(margin-top, -$height/2);

      & > section {
        @include rem-fallback(margin-top, 2);
      }
    }

    .two-cols-with-form {
      #info-block .doctor .photo {
        margin-right: 1%;
      }

      #info-block .comfort-elements {
        @include rem-fallback(margin-top, 6);
      }

      #form {
        @include rem-fallback(height, 36);
        position: relative;
        overflow: hidden;

        .step {
          @include rem-fallback(width, 21);
        }

        button.step-1 {
          @include flat-button($color-at-orange);
        }

        form { 
          position: absolute; 
          width: 85%;
        }

        #lasik-form-1 {
          @include trans(left 0.4s linear);
          left: 0;

          &.inactive {
            z-index: 1;
            left: -100%;
            opacity: 0.5;
            @include trans(left 0.9s linear);
          }
        }

        #lasik-form-2 {
          z-index: 1;
          left: 100%;
          opacity: 0.5;
          @include trans(left 0.9s linear);

          &.active {
            opacity: 1;
            z-index: 2;
            @include trans(left 0.4s linear);
            left: 0;
          }
        }

        #lasik-confirmation {
          display: none;
          position: absolute;
          p { @include font18; }
        }

        form { height: 100%; }
        button { right: 0; }
      }
    }
  }

}

@include at-breakpoint($mobile-tablet-2) { 
  .lasik-info {
    @include rem-fallback(padding-left, 19); // '.result header' width + margin-left
  }
}