@import "partials/all";

.headline {
  @include font-lato;
  @extend %font30;
  color: $color-at-blue;
  font-weight: 400;
  background: $color-at-white-transparent;

  @include rem-fallback(padding-top, 1);
  @include rem-fallback(padding-bottom, 2.5);
  @include rem-fallback(margin-bottom, 1);
  border-bottom: 1px solid $color-at-grey;
}

.locations {
  @include font-lato;
  background: $color-at-white-transparent;
  @include rem-fallback(padding, $gutter-width);
  padding-top: 0;
}

h2 {
  @include rem-fallback(padding-bottom, 1.5);
  border-bottom: 1px solid $color-at-grey; 
}

h3 {
  @include font-gudea;
  @include font18;
}

h4 {
  @include font12;
  text-transform: uppercase;
  font-weight: 700;
}

footer {
  .links {
    float: right;
    display: block;
    @include clearfix();
    @include rem-fallback(font-size, 0.9);
    @include rem-fallback(margin-top, 0.5);
    a {
      display: inline-block;
      vertical-align: bottom;
    }
  }
}

.profile-page {
  .summary {
    @include clearfix;

    .right {
      margin-left: space(1, 12) + gutter(12);
    }

    border-top: 3px solid $color-at-blue;

    position: relative;
    padding-bottom: 1rem;
    @include rem-fallback(margin-bottom, 1);

    .is-this-your-profile {
      @include flat-button($color-at-orange);
      border-radius: 0 0 2px 2px;
      border-width: 0 0 1px 1px;

      @include font14;
      text-decoration: none;
      float: right;
      a {
        color: $color-at-white;
      }
    }

    .address {
      color: $color-at-grey-dark;
    }

    .photo {
      float: left;
      width: 5rem;
      @include rem-fallback(margin, 1);
      img {
        //width: 100%;
      }
    }

    .ratings {
      vertical-align: top;
      display: inline-block;
      @include rem-fallback(margin-bottom, 1);

      & > div {
        display: inline-block;
        @include rem-fallback(width, 8.8);
        border-right: 1px solid $color-at-grey;
        @include rem-fallback(margin-right, 1);
        &:last-child {
          margin-right: 0;
          border: 0;
        }
      }
    }

    .rating-name {
      @include font14;
    }
    .rating-value {
      height: 16px;
      background: url(/static/images/assets/rating-5.png) no-repeat;
    }

    .specialties {
      @include font14;
      color: $color-at-grey-dark;
      vertical-align: top;
      display: inline-block;
      @include rem-fallback(max-width, 22);
      
      h4 {
        color: $color-at-grey-darker;
      }
    }
  }

  .calendar-container {

    .location-description {
      // Old browsers need fixed sized grid. Later, in a media query this'll be set to fluid.
      background: $color-at-grey-light;
      img {
        @include rem-fallback(width, 10);
        @include rem-fallback(height, 10);
      }
    }

    .location-info {
      font-weight: 700;
      @include inline-block;
  	  @include font14;
  	  @include rem-fallback(padding, 1, 0, 1, .5);
      vertical-align: top;
    }

  	.phone, .address {
  	  color: $color-at-grey-dark;
  	}

  	.address {
  	  font-weight: 400;
  	}

    .calendar {
      // Old browsers need fixed sized grid. Later, in a media query this'll be set to fluid.
      margin-top: 0;
      float: none;
      @include rem-fallback(height, 10);
    }
  }

  .insurance-selector {
    @include rem-fallback(margin, 1, 0);
    @include omega;

    .insurance-selector-button {
      @include flat-button($color-at-grey);
      @include rem-fallback(width, 5);
      border-color: $color-at-grey-half;
      color: $color-at-grey-dark;
      @include font14;
      text-decoration: none;
      float: left;

      &.public {
        @include border-right-radius(0);
      }

      &.private {
        @include border-left-radius(0);
        border-left: 0;
      }

      &:hover {
        box-shadow: inset 0 2px 5px 0px rgba(0,0,0,0.2);
        background: $color-at-grey;
        text-shadow: 0px 1px 0px $color-at-grey-light;
      }

      &.active {
        &:hover {
          box-shadow: inset 0 2px 5px 0px rgba(0,0,0,0.2);
          text-shadow: none;
        }
        box-shadow: inset 0px 1px 1px 0px rgba(100,100,100, 0.8);
        background: $color-at-grey-half;
        color: $color-at-grey-light;
      }
      
    }
  }


  .additional-info {
    position: relative;
    overflow: hidden;

    & > h2 {
      @include rem-fallback(margin-bottom, 2.5);
    }

    .toggler {
      cursor: pointer;
      position: absolute;
      right: 0;
      color: $color-at-blue;
      @include font16;                                  // same as h4 in _review.scss, consider common rule
      @include rem-fallback(padding, $gutter-width/2);  // same as h4 in _review.scss, consider common rule
    }
    .see-less {
      display: none;
    }

    & > section {
      @include rem-fallback(margin-top, 2);
      @include clearfix;

      h3 {
        @include rem-fallback(margin-bottom, 1);
      }

      /* Two columns layout (headers go left) */ 
      h3 {
        @include span-columns(3);
      }
      
      > .additional-info-text > p {
        // This aligns the reviews' content (which has solid header with padding) and the rest of the sections.
        @include rem-fallback(margin-left, $gutter-width/2);
        @include rem-fallback(margin-bottom, 1);
      }

      &#reviews {
        position: relative;
        @include clearfix;

        .additional-info-text {
          @include rem-fallback(max-height, 30);
          overflow: auto;

          &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0,0,0,.5);
            -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
          }

          .review {
            margin-right: 1px;
          }
        }
      }
    }
  }

  .hidden-reviews {
    display: none;
    position: absolute;
    left: 100%;
    width: 95%;
    background: $color-at-white;
    z-index: 0;
    @include rem-fallback(top, 8);
    @include box-shadow(-15px 0px 8px -4px rgba(0, 0, 0, 0.7));

    & > section {
      background: $color-at-white;
    }

    &:before {
      content: " ";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.6);
      left: -6%;
      position: absolute;
      z-index: -1;
    }
  }
}

#planner {
  @include rem-fallback(margin-top, 1);
  @include rem-fallback(margin-bottom, 3);
  h2 {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .fc-event {
    background-color: $color-at-blue;
    border-color: darken($color-at-blue, 5%);
    .fc-bg {
      background: none;
    }
    &.excluded {
      @include opacity(.5);
    }
    &.warning {
      background-color: $color-at-orange;
      border-color: darken($color-at-orange, 5%);
    }
  }
  .fc-today {
    background-color: $color-at-blue-light;
  }
  .hide-event,
  .remove-event {
    position: absolute;
    top: 0;
    right: 4px;
    z-index: 10;
    text-decoration: none;
    @include rem-fallback(font-size, .75);
    color: $color-at-white !important;
  }
  .hide-event {
    right: 16px;
  }
}

#dashboard-notice {
  margin: 0 auto;
  @include rem-fallback(margin-top, 3);
  @include rem-fallback(margin-bottom, 3);
  @include rem-fallback(padding, 2);
  text-align: center;
  width: 80%;
  background-color: $color-at-grey-light;
  border: 1px solid $color-at-grey;
}

#dashboard-actions {
  @include clearfix;
  @include rem-fallback(margin-bottom, 2);
  .save {
    float: right;
    @include flat-button($color-at-blue);
    @include rem-fallback(margin-left, 0.5);
  }
  .action {
    display: inline-block;
    @include rem-fallback(margin-right, 1);
    label {
      display: block;
      @include rem-fallback(margin-bottom, 0.25);
      font-weight: bold;
      @include font14;
    }
    input, select {
      vertical-align: middle;
    }
  }
  #booking-rules {
    @include rem-fallback(margin-top, 1);
    .dropdown {
      display: inline-block;
      margin-right: 12px;
      vertical-align: top;
      label {
        font-weight: normal;
      }
    }
  }
}

// Specific action controls
#time-period {
  @include rem-fallback(min-width, 9);
}

#booking-period {
  @include rem-fallback(min-width, 9);
}

// Applies to Reporting (statements) and Patienten (patients) sections
table#statement,
table#bookings {
  width: 100%;
  @include rem-fallback(margin-top, 1);
  @include rem-fallback(margin-bottom, 3);
  word-break: break-word;
  table-layout: fixed;
  th, td {
    @include rem-fallback(padding, 0.75);
    &:nth-child(odd) {
      background-color: $color-at-grey-light;
    }
  }
  thead {
    tr {
      border-top: 1px solid $color-at-grey;
      border-bottom: 1px solid $color-at-grey;
    }
    th {
      vertical-align: bottom;
      font-weight: bold;
      color: $color-at-grey-darker;
      text-transform: uppercase;
      @include font12;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $color-at-grey;
    }
    td {
      vertical-align: top;
      @include font14;
    }
  }
}

// Specify some hard-coded widths
table {
  th {
    &.doctor {
      width: 28%;
    }
    &.datetime {
      width: 15%;
    }
    &.patient {
      width: 22%;
    }
    &.reporting-status {
      width: 20%;
    }
    &.appointment-status {
      width: 15%;
    }
  }
}

#statement {
  input {
    @include rem-fallback(margin-top, 0.5);
  }
  label {
    &:first-child input {
      margin-top: 0;
    }
  }
  .reporting-returning-visitor {
    @include rem-fallback(margin-top, 1.25);
  }
}

table#bookings {
  .patient-name {
    font-weight: bold;
  }
}
.margin_summary{
  margin: 0 0 1rem 1rem;
}
.mobile_row_height{
  height: 120px;
  margin-bottom: 2.5rem;
}
.profile-page.location {
  .summary {
    .right {
      margin-left: 0;

      .location-map {
        @include span-columns(4);
        @include omega;
        display: inline-block;
        @include omega;
        text-align: right;
      }

      .middle {
        @include span-columns(6);
      }
    }
    
    .photo {
      @include span-columns(2);
      margin-top: 0;
    }
    
    .ratings {
      @include rem-fallback(margin-top, 1);
      margin-right: 0;
    }

    .specialties {
      display: block;
      margin-left: 0;
      @include rem-fallback(margin-top, 1);
    }

    .headline + div {
      display: inline-block;
      vertical-align: top;
    }
  }

  #providers .result:first-of-type > .wrapper {
    border-top: 0;
  }

  .calendar-container {
    /*h2 {
      margin: 0;
    }
    .result {
      @include span-columns(12);
      .calendar {
        @include span-columns(10);
        //@include omega;
      }
    }*/
  }
}

.account-dashboard {
  select,
  textarea,
  input[type="text"],
  input[type="password"] {
    border: 0;
    outline: 1px solid $color-at-grey;

    &:hover {
      outline: 1px solid $color-at-grey-dark;
    }
  }

  textarea {
    @include rem-fallback(min-height, 8);
    @include rem-fallback(padding, 0.75);
  }
  
  .summary {
    .headline {
      border: 0;
      @include clearfix;
    }
    h1 {
      display: inline-block;
      vertical-align: middle;
    }
    .logout {
      @include flat-button($color-at-blue);
      display: inline-block;
      vertical-align: middle;
      float: right;
    }

    nav {
      background: $color-at-grey-light;
      color: $color-at-blue;
      text-transform: uppercase;
      @include font-gudea;
      @include font16;
      @include rem-fallback(height, 3);
      @include rem-fallback(line-height, 3);
      @include rem-fallback(padding, 0, 0.5);
      border-bottom: 1px solid $color-at-grey;

      li {
        display: inline-block;
        @include rem-fallback(padding-left, 1);
        @include rem-fallback(padding-right, 1);
        $active-border-top: 4px;
        padding-top: $active-border-top;

        &.active {
          background: $color-at-white;
          box-shadow: inset 0 $active-border-top 0 0 $color-at-grey-light, 0 $active-border-top 0 0 $color-at-white;
          a {
            color: $color-at-grey-darker;
            cursor: default;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
  }

  .profile-photo {
    float: right;
    text-align: center;
    background: $color-at-white;
    @include rem-fallback(padding, 2);
    @include rem-fallback(margin-left, 2);
    @include rem-fallback(height, 10);

    img {
      height: 100%;
    }
    a {
      display: block;
    }
  }

  .text-data {
    @include font-gudea;
    @include font16;
    border-bottom: 1px solid $color-at-grey;
    @include rem-fallback(padding-bottom, 1);
    @include rem-fallback(margin-bottom, 1);
    @include rem-fallback(min-height, 2);

    h3 {
      @include font16;
      font-weight: 700;
      color: $color-at-grey-darker;
      float: left;
      @include rem-fallback(width, 15);
    }

    & > div {
      @include rem-fallback(padding-left, 15);
    }
  }
  
  .praxen {
    .praxis-name {
      font-weight: 700;
    }
    & li + li {
      @include rem-fallback(margin-top, 1);
    }
  }

  .buttons-container {
    text-align: right; 

    button {
      &.save {
        @include flat-button($color-at-blue, large);
      }

      &.reset {
        @include flat-button($color-at-grey-light, large);
        color: $color-at-grey-darker;
      }
    }
  }

  .specialties {
    & > span {
      @include font14;
    }
    & > label {
      display: block;
    }
  }

  .unselected-specialties {
    display: none;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    @include rem-fallback(-webkit-column-gap, 1);
    @include rem-fallback(-moz-column-gap, 1);
    @include font12;

    &.visible {
      display: block;
    }

    label {
      display: block;
    }
  }

  .show-less {
    display: none;
  }

  .specialty-treatments {
    @include rem-fallback(margin-top, 1);

    ul {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      @include rem-fallback(-webkit-column-gap, 1);
      @include rem-fallback(-moz-column-gap, 1);
      @include font12;
    }
  }

  .specialties,
  .specialty-treatments {
    label { 
      @include rem-fallback(padding-left, 1.15); 
      input { @include rem-fallback(margin-left, -1.15); }
    }
  }


  &.praxis {
    .praxis-doctor {
      @include clearfix;
      @include rem-fallback(margin-bottom, 1);

      img {
        float: left;
        @include rem-fallback(margin-right, 0.5);
        @include rem-fallback(width, 5);
      }

      a { 
        display: block; 
        @include font12; 
      }
    }
  }

  &.photo-upload {
    .profile-images {
      @include clearfix;
      padding-left: space(2);
    }

    .profile-image-wrapper {
      @include span-columns(3);
      @include rem-fallback(height, 10);
      @include box-sizing(border-box);
      border: 1px solid $color-at-grey;
      @include rem-fallback(margin-bottom, 2);

      .profile-image {
        height: 100%;
        display: block;
        margin: auto;
      }

      a {
        @include font12;
        @include rem-fallback(margin-right, 1);
      }
    }

    #upload_pic_button {
      display: block;
      clear: both;
    }

    #upload_pic {
      display: none;
      @include rem-fallback(margin-top, 1);
      
      .buttons-container {
        text-align: left;
      }
      
      button {
        @include flat-button($color-at-blue);
        @include font12;
        @include rem-fallback(height, 1.5);
        font-weight: 300;

        &#edit-reset { 
          @include flat-button($color-at-grey-light); 
          @include font12;
          color: $color-at-grey-darker;
        }
      }
    }
  }
}

.name {
  input[name="title"] {
    @include rem-fallback(width, 6);
  } 
  input[name="first_name"],
  input[name="last_name"] {
    @include rem-fallback(width, 8);
  }
}

.change-password {
  @include clearfix;
  .password {
    @include rem-fallback(width, 12);
    & + .password {
      @include rem-fallback(margin-top, 1);
    }
  }
  input {
    display: block;
  }
}

// Multiple selectors
input[type=radio] {
  & + label {
    @include rem-fallback(margin-left, 0.5);
    @include rem-fallback(margin-right, 1.5);
    vertical-align: middle;
  }
}

// Imported Boostrap styles (temp)
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  @include rem-fallback(font-size, 0.8);
  .form-group {
    @include rem-fallback(margin-top, 0.5);
    @include rem-fallback(margin-bottom, 0.5);
    @include clearfix;
  }
  .form-control {
    @include rem-fallback(margin-left, 1);
  }
  .control-label,
  .subheader {
    font-weight: bold;
  }
  .subheader {
    @include rem-fallback(margin-top, 0.5);
    color: $color-at-blue;
  }
  .specialty-treatments {
    margin-top: 0;
  }
  #block_length {
    @include rem-fallback(width, 3);
  }
}
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
  .close {
    margin-top: -2px;
  }
}

.modal-title {
  margin: 0;
  @include rem-fallback(font-size, 1);
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
  }
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
// From: http://jsfiddle.net/U4NRx/
//.modal-vertical-centered {
//  -ms-transform: translate(0, 50%) !important; /* IE 9 */
//  -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
//  transform: translate(0, 50%) !important;
//}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  filter: alpha(opacity=0);
  opacity: 0;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

// Breakpoints
@include at-breakpoint(12 100em) {

}
@include at-breakpoint($mobile-tablet-2) {

}

@media (min-width: 768px) {

  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}