@import "partials/all";
@import "partials/search-filters";

/// Affects the footer
nav {
  h4 {
    @include rem-fallback(padding-bottom, 0.5);
    @include rem-fallback(margin-bottom, 0.5);
    @include rem-fallback(font-size, 1);
    font-weight: 700;

    & + ul > li {
      @include rem-fallback(line-height, 1.6);
    }
  }
}

aside {
  @include span-columns(3);
  nav {
    > ul {
      > li {
        display: block;
        border-bottom: 1px solid $color-at-grey;
        
        a {
          display: block;
          @include rem-fallback(padding, 0.8, 1);
          &:hover {
            text-decoration: none;
            background-color: $color-at-grey-light;
          }
        }
        
        &:first-child {
          border-top: 1px solid $color-at-grey;
        }
        
        &.active {
          background-color: $color-at-grey-light;
          font-weight: 700;
          a {
            color: $color-at-grey-dark;
          }
        }
      }
      ul {
        display: none; // Temporary until HTML can be fixed 
        @include rem-fallback(padding-left, 1);
      }
    }
  }
}

// Side nav for blog posts
#box_blogpost-last {
  @include rem-fallback(margin-top, 2);
  .box_gfx_title {
    @include font16;
    @include rem-fallback(padding, 0.5, 0);
    border-bottom: 1px solid $color-at-grey;
  }
  .box_gfx_content {
    > ul {
      > li {
        @include font14;
        a {
          display: block;
          @include rem-fallback(padding, 0.8, 0);
        }
      }
    }
  }
}

#content {
  @include span-columns(9 omega);
  
  .full & {
    @include span-columns(12);
  }
  
  h2 {
    @include rem-fallback(margin, 2, 0);
    @include font24;
    border-bottom: 1px solid $color-at-grey;
    &:first-child { // Temporary until HTML can be fixed
      margin-top: 0;
    }
  }
  
  h5 { // Used in job postings
    @include rem-fallback(margin, 1, 0);
    font-weight: 700;
  }
  
  h6 { // Used as the date field on the Presse page
    @include rem-fallback(margin, 2, 0, 0, 0);
    @include font16;
    font-weight: 700;
  }
  
  img {
    display: block;
    @include rem-fallback(margin, 0, 1, 1, 0); // Assume left aligned
    &.alignleft {
      float: left;
    }
    &.alignright {
      float: right;
      @include rem-fallback(margin, 0, 0, 1, 1);
    }
  }
  
  hr {
    display: none;
  }

  .pdf {
    @include font14;
  }
}

table.noborder,
p {
  @include font16;
  @include rem-fallback(margin-top, 2);
  
  strong,
  b {
    font-weight: 700;
  }
}

table.noborder {
  td {
    @include rem-fallback(padding, 0.25, 1, 0.25, 0);
  } 
}

// Page-specific rules
#jobList {
  clear: both;
  
  li {
    display: block;
    border-bottom: 1px solid $color-at-grey;
    @include rem-fallback(padding, 1.5, 0);
    &:last-child {
      border-bottom: 0;
    }
  }
  
  p {
    @include rem-fallback(margin, 1, 0);
  }
  
  a {
    @include font24;
  }
}

#contact {
  @extend #filters;
  @include rem-fallback(margin-top, 2);
  @include font16;
  
  .field {
    @include rem-fallback(margin-bottom, 1);
  }
  
  #form_message {
    @include rem-fallback(min-height, 8); 
  }
  
  #ok {
    @extend .refresh-filters;
  }
  
  .clear {
    clear: both;
  }
}

.blog {
  .topic {
    display: none;
  }
  .header {
    margin-top: 0 !important;
  }
  .meta {
    @include font14;
    @include rem-fallback(margin, 1, 0);
    font-weight: 700;
    color: $color-at-grey-dark;
  }
  .body {
    @include rem-fallback(margin-bottom, 2);
  }
}

#directory {
  .list-update {
    @include font14;
    font-weight: 700;
  }
}

#directory-navigation {
  ul {
    @include horizontal-list;
    @include rem-fallback(margin-bottom, 2);
    
    li {
      @include font16;
      &.active a {
        color: $color-at-orange;
      }
    }
  }
}

@include layout(9) {
  #location-directory {
    > ul {
      @include container;
    }
    
    li {
      @include span-columns(3);
      
      &:last-child {
        @include omega;
      }
      
      h5 {
        @include rem-fallback(margin, 1, 0);
      }
      
      p {
        @include rem-fallback(margin, 0.5, 0);
      }
    }
  }
}

#login {
  width: 320px;
  margin: 3em auto;
  padding-bottom: 1em;

  p {
    @include rem-fallback(margin, 0);
  }
  
  #email, #password {
    font-size: 24px;
    width: 97%;
    padding: 3px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 4px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
  }
  
  #login_form {
    margin-left: 8px;
    margin-top: 0px;
    padding: 16px;
    font-weight: normal;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
    .submit {
      .input_submit {
        @include flat-button($color-at-blue);
        float: right;
      }
    }
  }
  
  .clear {
    clear: both;
  }
}

// SPECIALTY PAGES =================================================================================

@mixin transparent-color ($color, $amount:0) {
  background: $color;
  background: transparentize($color, $amount);
}

.specialty-page {
  // The subnavigation should be always below the main header. 
  // But since it's part of the CMS content, it must be done this way. Yes, dirty-sh.
  // Helpful fact - no element to this point in the hierarchy has position other than static.
  & > nav {
    position: absolute;
    @include rem-fallback(top, 4.5);
    left: 0;
    width: 100%;

    & > ul {
      @include container; // TODO: NM - fix this width
      text-align: right;

      & > li {
        @include inline-block;

        &.active {
          font-weight: 700;
        }

        &:before {
          content: "\a0|\a0"; 
        }

        &:first-child:before {
          content: "";
        }
      }
    }
  }

  & > section {
    @include clearfix;
  }

  h1  {
    @include font32;
    //@include rem-fallback(font-size, 2);
    //@include rem-fallback(line-height, 2.125);
    font-weight: 700;
    color: $color-at-grey-darker;  
    @include rem-fallback(margin-top, 2);
    @include rem-fallback(margin-bottom, 2);
    text-align: center;
  } 

  h3  {
    @include font-gudea;
    font-weight: 400;
    color: $color-at-grey-dark;
  }

  #intro {
    p  {
      @include font-gudea;
      font-weight: 400;
      color: $color-at-grey-dark;
  }

    #main-image-wrapper {
      @include rem-fallback(margin-bottom, 2);
      height: 285px;

      & > img {
        width: 100%;
        border-radius: 2px;        
      }
    }
    .partner-intro {
      text-align: justify;
    }
  }

  #general {
    section {
      @include span-columns(12);
      @include rem-fallback(margin-top, 3);
      @include rem-fallback(margin-bottom, 2);
      @include gradient-separator;

      .image-container {
        @include span-columns(5);
        height: 200px;
        @include omega;
        border-radius: 2px;
        overflow: hidden;

        & > img {
          width: 100%;
        }
      }
      
      .text-container {
        @include span-columns(7);
        h4  {
          @include font24;
          //@include rem-fallback(font-size, 1.5);
          //@include rem-fallback(line-height, 2);
          @include rem-fallback(margin-bottom, 0.5);
          font-weight: 700;
        }
        p {
          @include rem-fallback(margin-top, 1);
          @include font16;
          //@include rem-fallback(font-size, 1);
          //@include rem-fallback(line-height, 1.5);
          color: $color-at-grey-dark;
        }
        .doctor-images {
        @include span-columns(2);
        @include rem-fallback(margin-top, 1);
        @include rem-fallback(margin-right, -1);
        @include rem-fallback(height, 3.5);
        overflow: hidden;

          img {
            width: 60%;
          } 
        }
      }

      &:nth-of-type(2n+1) {
        .image-container {
          @include remove-omega;
        }                
        .text-container {
          @include omega;
        }
        .doctor-images {
          @include rem-fallback(margin-right, -1);
        }
        .doctor-profile {
          @include omega;
        }
        .doctor-wrapper-specific {
          @include omega;
        }            
      }
/*###################Teamevent-SCSS###########################*/
      .teamevent-image-container {
        @include span-columns(5);
        height: 100%;
        overflow: hidden;

        & > img {
          width: 100%;
          border-radius: 2px;
        }
      }

      .teamevent-text-container {
        @include omega;
        @include span-columns(7);
        @include rem-fallback(margin-right, 0);
        h4  {
          @include font24;
          @include rem-fallback(margin-bottom, 0.5);
          font-weight: 700;
        }
        p {
          @include rem-fallback(margin-top, 1);
          @include font16;
          color: $color-at-grey-dark;
        }
        .date {
          font-style: italic;
          @include rem-fallback(margin-top, -0.5);
        }
      }
/*####################Empfehlungen-Ärzte-SCSS##################*/
      .favorite-text-container {
        @include span-columns(7);
        @include rem-fallback(margin-right, 0);
        h4  {
          @include font24;
          @include rem-fallback(margin-bottom, 0.5);
          font-weight: 700;
        }
        p {
          @include rem-fallback(margin-top, 1);
          @include font16;
          color: $color-at-grey-dark;
        }
      }
      .favorite-image-container {
        @include span-columns(5);
        height: 200px;
        @include omega;
        border-radius: 2px;
        overflow: hidden;

        & > img {
          width: 100%;
        }
      }

      .doctor-wrapper {
        @include span-columns(10);
        @include pre(2);

        h3 {
          font-weight: 600;
        }

        .doctor-profile {
          @include rem-fallback(padding-top, 1);
          @include span-columns(5);
          @include rem-fallback(height, 9);

          .image {
            @include span-columns(4);
            height: 133px;
            overflow: hidden;
            @include rem-fallback(border-radius, 0.25);

            img {
              width: 100%;
            }
          }

          .profile-info {
            @include omega;
            @include span-columns(8);
            @include rem-fallback(margin-right, 0);

            .doc-name {
              font-weight: 600;
              @include font16;
              @include rem-fallback(margin-bottom, 0.5);
            }

            .praxis {
              color: #000;
              font-weight: 600;
            }

            .doc-specialty {
              text-decoration: underline;
            }

            .doc-city {
              font-weight: 600;
            }

            p {
              @include rem-fallback(margin-top, 0);
              @include font14;
              color: $color-at-grey-dark;
            }
          }
        }
      }
/*#######################ENDE Empfehlungen-Ärzte-SCSS##############*/

/*#######################START Empfehlungen-Ärzte-Spezifisch-SCSS*/
      .specialty {
        @include rem-fallback(padding-bottom, 2);

        & > h3 {
          @include font32;
          color: $color-at-grey-darker;
        }
      }

      .doctor-wrapper-specific {
        @include span-columns(6);
        @include rem-fallback(height, 15);
        @include rem-fallback(margin-right, 0);

        .image-doctor {
          @include span-columns(4);
          @include rem-fallback(height, 12.5);
          overflow: hidden;
          @include rem-fallback(border-radius, 0.25);

          & > img {
            width: 100%;
          }
        }

        .doctor-info {
          @include span-columns(8);
          @include omega;
          @include rem-fallback(margin-right, 0);

          p { @include rem-fallback(margin-top, 0);}
        }
        .name {
          @include font18;
          font-weight: 600;
        }
        .info {
          color: $color-at-grey-dark;
        }
        .description {
          @include rem-fallback(padding-top, 1);
          @include font14;
        }
      }
/*########################ENDE Empfehlungen-Ärzte-Spezifisch-SCSS*/
/*########################START Neighborhood-Pages###############*/
      .city-wrapper-specific {
        @include span-columns(4);
        @include rem-fallback(margin-right, 0.5);
        @include rem-fallback(margin-bottom, 2);
        @include rem-fallback(height, 16);

        .city {
          text-align: center;

          h3 {
            @include font24;
          }
        }

        p {
          @include rem-fallback(margin-top, 1);
          @include rem-fallback(padding-left, 0.5);
          @include rem-fallback(padding-right, 0.5);
        }
      }
/*#######################ENDE Neighborhood-Pages##################*/
/*#######################START Partner-pages######################*/
      .doctors-partner {
        @include rem-fallback(padding-bottom, 3);

        & > h3 {
          @include font32;
        }
      }

      .partner-wrapper-specific {
        @include span-columns(4);
        @include rem-fallback(margin-right, 0.5);
        @include rem-fallback(height, 23);

        .image-partner {
          @include rem-fallback(height, 7.5);
          overflow: hidden;

           img {
            @include rem-fallback(margin-left, auto);
            @include rem-fallback(margin-right, auto);
          }
        }

        .terminland-image {
          @include rem-fallback(margin-top, 4);
        }

        .name {
          @include rem-fallback(margin-top, 1);
          @include rem-fallback(margin-bottom, 0.5);
          font-weight: 600;
          @include font18;
          text-align: center;
        }

        .description {
          @include rem-fallback(margin, 0, 1, 0, 2);
        }
      }
/*#######################ENDE Partner-pages#######################*/            
    }
    .job-list{
      list-style-type: disc;
      @include rem-fallback(margin-left, 2);
    }
  }

  #featured-specialties {
    @include with-grid-settings(12);

    h4 {
      @include font24;
      //@include rem-fallback(font-size, 1.5);
      //@include rem-fallback(line-height, 2);
      @include rem-fallback(margin-bottom, 0.5);
      @include rem-fallback(margin-top, 3);
      font-weight: 700;
    }

    & > section {
      @include span-columns(4);
      @include rem-fallback(margin-bottom, 1);
      @include rem-fallback(margin-top, 1);
    
      border: 1px solid $color-at-grey;
      @include box-sizing(border-box);

      &.omega {
        @include omega;
      }

      .image-wrapper {
        position: relative;
        @include rem-fallback(height, 9);
        overflow: hidden;
      
        & > img {
          width: 100%;
        }
      }
    
      .overlaid-title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @include transparent-color (black, 0.8);

        & > h3 {
          color: $color-at-white;
          @include font24;
          text-align: center;
         
          & > a {
            color: $color-at-white;
            @include font24;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      & > p {
        @include rem-fallback(padding, 0.5);
        @include rem-fallback(margin-top, 0);
        @include font16;
        //@include rem-fallback(font-size, 1);
        //@include rem-fallback(line-height, 1.5);
      }    
    }
  }

  #bottom-boxes {
    @include span-columns(12);
    @include rem-fallback(padding-top, 4);

    h4 {
      font-weight: 600;
    }

    & > div {
      @include span-columns(5);
      @include rem-fallback(margin-right, 0);
    }
    .right {
      @include omega;
      @include post(1);
    }
    .left {
      @include pre(1);
      @include rem-fallback(margin-right, 0);
    }
  }
  

  .bottom-area {

   #cities, #specialties, .main-specialties {
    h4 {
      @include font24;
      //@include rem-fallback(font-size, 1.5); // TODO FIX MIXIN
      //@include rem-fallback(line-height, 2);
      @include rem-fallback(margin-bottom, 0.5);
      @include rem-fallback(margin-top, 3);
      font-weight: 700; 

      &:after {
        @include rem-fallback(margin-top, 0.5);
        @include rem-fallback(margin-bottom, 0.5);
        content: " ";
        display: block;
        height: 1px;
        @include background(linear-gradient(left, $color-at-grey 0%, $color-at-white 80%));
      }

      h4:before {
        font-family: at-assets;
        color: $color-at-blue;
        @include font16;
        //@include rem-fallback(font-size, 1);
        //@include rem-fallback(line-height, 1.5);
        @include rem-fallback(margin-right, 0.25);
      }
    }
  }

    #cities { 
      @include span-columns(3);

      h4:before { 
        font-family: at-assets;
        color: $color-at-blue;
        @include font16;
        //@include rem-fallback(font-size, 1);
        //@include rem-fallback(line-height, 1.5);
        content: $flaticon-map-pin-hole + "\a0"; 
      }
    }

    #specialties {
      @include span-columns(9);
      @include omega;

      h4:before { 
        font-family: at-assets;
        color: $color-at-blue;
        @include font16;
        //@include rem-fallback(font-size, 1);
        //@include rem-fallback(line-height, 1.5);
        content: $flaticon-doctor-bag + "\a0"; 
      }
    }

    .main-specialties {
      @include span-columns(12);
      @include omega;

      h4:before {
        font-family: at-assets;
        color: $color-at-blue;
        @include font16;
        //@include rem-fallback(font-size, 1);
        //@include rem-fallback(line-height, 1.5);
        content: $flaticon-doctor-bag + "\a0"; 
      }
    }

    nav {
      h4 {
        & + ul > li { 
          @include font16;
          //@include rem-fallback(font-size, 1);
          //@include rem-fallback(line-height, 1.5);
          &.reset { @include rem-fallback(margin-top, -19.5); }
          &.column-1 { margin-left: 0; }
          &.column-2 { margin-left: space(3, 12, static); }
          &.column-3 { margin-left: 2 * space(3, 12, static); }
        }
      }

      &.main-specialties {
        h4 + ul > li {
          &.column-2 { margin-left: space(4, 12, static); }
          &.column-3 { margin-left: 2 * space(4, 12, static); }
        }
      }
    }
  }
}