@import "partials/all";
@import "partials/chosen-autocomplete";

@mixin half-width {
  @include span-columns($total-columns/2);
}

h2 {
  font-weight: 400;

  @include rem-fallback(padding-bottom, 1);
  @include rem-fallback(margin-bottom, 2.5);
  border-bottom: 1px solid $color-at-blue;
}

h1, h3 {
  @include rem-fallback(font-size, 2);
  @include rem-fallback(padding-bottom, 1);
  @include rem-fallback(margin-bottom, 2.5);
  border-bottom: 1px solid $color-at-grey;
}

.two-cols-with-form {
  > section {
    border: 0;
  }

  #info-block {
    @include half-width;

    .orange-bar {
      @include rem-fallback(font-size, 1.125);
      @include rem-fallback(padding, 1);
      font-weight: 700;
      background: $color-at-orange;
      color: white;
      position: relative;

      .light {
        font-weight: 400;
      }

      &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        @include rem-fallback(right, -0.5);
        border-top: 25px solid transparent;
        border-bottom: 26px solid transparent;
        
        border-left: 60px solid $color-at-orange;
        @include rem-fallback(border-left-width, 0.5);
      }
    }

    .doctor {
      @include span-columns(6, 6);
      @include rem-fallback(margin-top, 1);

      .photo {
        @include span-columns(2, 6);
        
        img {
          width: 100%;
        }
      }

      .info {
        @include span-columns(4, 6);
        @include omega;
        @include font24;

        h4 {
          @include font14;
          text-transform: uppercase;
          margin: 0;
          @include rem-fallback(margin-top, 0.75);
        }

        .conjunction {
          @include font14;
          text-transform: uppercase;
        }

        .name {
          font-weight: 700;
        }

        .practice-name {
          font-weight: 700;
          @include font16;
        }

        .address {
          @include font16;
        }
      }
    }

    .comfort-elements {
      @include span-columns(5, 6);
      @include rem-fallback(margin-top, 3);
      @include font14;
      color: $color-at-grey-dark;
      
      li {
        @extend %has-icon;
        &.cancelation { @extend %has-icon.award; }
        &.contact { @extend %has-icon.phone; }
        &.data-protection { @extend %has-icon.lock; }
        &.review { @extend %has-icon.bubble; }
      }
    }
  }
  
  $form-padding: 2;

  &.booking main form {
      // The height needs to be fixed to allow smooth transition between steps #1 and #2.
      // Otherwise, the footer would bounce up and down on changing steps.
      // Default height - integrations 1, 2, 5, no referral code, no validation errors
      $booking-form-height: 35;
      // Integrations 8, 9 add 9rems
      $booking-form-height-int89: 9;
      // Referral code adds 8 rems more
      $booking-form-height-referral: 8;

      @include rem-fallback(height, $booking-form-height);
      &.int89 { @include rem-fallback(height, $booking-form-height + $booking-form-height-int89); }
      &.referral {
        @include rem-fallback(height, $booking-form-height + $booking-form-height-referral);
        &.int89 { @include rem-fallback(height, $booking-form-height + $booking-form-height-referral + $booking-form-height-int89); }
      }
      &.error {
        &[data-step2-error-count="1"] { @include rem-fallback(padding-bottom, $form-padding + 2) }
        &[data-step2-error-count="2"] { @include rem-fallback(padding-bottom, $form-padding + 4) }
        &[data-step2-error-count="3"] { @include rem-fallback(padding-bottom, $form-padding + 6) }
        &[data-step2-error-count="4"] { @include rem-fallback(padding-bottom, $form-padding + 8) }
      }
  }

  #form {
    @include span-columns($total-columns/2);
    @include omega;
    @include rem-fallback(padding-bottom, 1);
  }

  form {
    background: $color-at-blue-light;
    
    @include rem-fallback(padding, $form-padding);
    @include rem-fallback(margin-top, -2);
    position: relative;
    overflow: hidden;
    
    // // The height needs to be fixed to allow smooth transition between steps #1 and #2.
    // // Otherwise, the footer would bounce up and down on changing steps.
    // // Default height - integrations 1, 2, 5, no referral code, no validation errors
    // $booking-form-height: 30;
    // // Integrations 8, 9 add 9rems
    // $booking-form-height-int89: 9;
    // // Referral code adds 8 rems more
    // $booking-form-height-referral: 8;

    // @include rem-fallback(height, $booking-form-height);
    // &.int89 { @include rem-fallback(height, $booking-form-height + $booking-form-height-int89); }
    // &.referral {
    //   @include rem-fallback(height, $booking-form-height + $booking-form-height-referral);
    //   &.int89 { @include rem-fallback(height, $booking-form-height + $booking-form-height-referral + $booking-form-height-int89); }
    // }
    // &.error {
    //   &[data-step2-error-count="1"] { @include rem-fallback(padding-bottom, $form-padding + 2) }
    //   &[data-step2-error-count="2"] { @include rem-fallback(padding-bottom, $form-padding + 4) }
    //   &[data-step2-error-count="3"] { @include rem-fallback(padding-bottom, $form-padding + 6) }
    //   &[data-step2-error-count="4"] { @include rem-fallback(padding-bottom, $form-padding + 8) }
    // }

    // Hacks go here

    .step {
      position: absolute;
      background: $color-at-blue-light;
      left: 0;
      width: columns($total-columns/2, $total-columns, static) - 2*2;
      @include rem-fallback(padding, 2);
      padding-top: 0;
      height: 100%;
    }
    #step-1 {
      z-index: 2;
      @include trans(left 0.4s linear);
      
      &.inactive {
        z-index: 1;
        @include trans(left 0.3s linear);
        left: -100%;
        opacity: 0.5;
      }
    }
    #step-2 {
      z-index: 1;
      left: 100%;
      opacity: 0.5;
      @include trans(left 0.3s linear);

      &.active {
        opacity: 1;
        z-index: 2;
        @include trans(left 0.4s linear);
        left: 0;
      }

      #go-to-step1 {
        position: absolute;
        @include rem-fallback(left, -1.5);
        @include rem-fallback(width, 6);
        // overriding the default button min-width
        @include rem-fallback(min-width, 6);
        box-shadow: none;

        top: 5px;
        background: none;
        border: none;
        cursor: pointer;
        outline: 0;
        
        &:before {
          font-family: at-assets;
          content: $flaticon-left-arrow;
          @include font24;
          color: transparentize($color-at-blue, 0.5);
        }
        &:hover:before {
          color: $color-at-blue;
        }
      }
    }


    h4, 
    label {
      @include font14;
      font-weight: 700;
      display: block;
    }

    label > .optional-field {
      color: $color-at-grey-half;
      font-weight: 100;
    }

    .radio-group {
      input:checked + label {
        font-weight: 700;
      }

      label {
        display: inline-block;
        font-weight: normal; 
        @include rem-fallback(min-width, 5);
      }
    }

    textarea {
      @include rem-fallback(height, 5);
      @include rem-fallback(margin-top, 0.5);
    }

    select,
    input[type=text],
    input[type=password],
    input[type=tel],
    input[type=email] {
      display: block;
      @include rem-fallback(height, 2.5);
      @include font16;
      width: 100%;
      @include box-sizing(border-box);
      @include rem-fallback(margin-top, 0.5);
    }

    input[type=checkbox] {
      float: left;

      & + label {
        @include rem-fallback(margin-left, 1.5);
        font-weight: normal;
      }
    }

    .form-element {
      @include rem-fallback(margin-bottom, 1);

      &.hidden {
        display: none;
      }

      &.error {
        input, select, textarea {
          outline: 1px solid red;
          border: 0;
        }

        &:after {
          content: attr(data-error-message);
          display: block;
          color: red;
          @include font14;
          font-weight: 700;
          @include font-gudea;
        }
      } 
    }

    button,
    input[type=submit] {

      &:before {
        font-family: at-assets;
        content: $flaticon-checkmark-full;
        position: relative;
        top: 2px;
        @include rem-fallback(margin-right, 1);
        @include rem-fallback(font-size, 1.2);
      }
    }

    button,
    input[type=submit] {
      @include flat-button($color-at-orange);
      @extend .large;
      @include rem-fallback(min-width, 14);
      position: relative;
    }

    #step-1 {
      button,
      input[type=submit] {
        @include flat-button($color-at-blue);
        @extend .large;
        @include rem-fallback(width, 13);
        @include rem-fallback(padding-right, 3);

        position: relative;

        &:before { content: ""; }
        
        &:after {
          position: absolute;
          left: auto;
          display: block;
          content: " ";
          background-image: url('/static/images/assets/btn-next.png');
          background-repeat: no-repeat; 
          width: 12px;
          height: 15px;
          top: 50%;
          margin-top: -7.5px; // half of the height
          @include rem-fallback(right, 1);
        }
      }
    }


    #referral-code-confirmation {
      display: none;
    }
    
    &.referral {
      #referral-code-confirmation {
        display: block;
      }
    }
  }

  #booking-confirmation {


    ol.simple-list {
      list-style-type: none;

      margin: 0;
      margin-left: 2rem;
      padding: 0;

      counter-reset: li-counter;
    }
    ol.simple-list > li{
      position: relative;
      margin-bottom: 20px;
      padding-left: 0.5em;
      min-height: 3em;
      border-left: 2px solid #CCCCCC;
    }
    ol.simple-list > li:before {
      position: absolute;
      top: 0;
      left: -1em;
      width: 0.8em;

      font-size: 3em;
      line-height: 1;
      font-weight: bold;
      text-align: right;
      color: #464646;
      content: counter(li-counter);
      counter-increment: li-counter;
    }

    h3 {
      color: $color-at-orange;
      font-weight: 400;
      line-height: 2rem;
    }

    section {
      background: $color-at-grey-light;
      @include rem-fallback(padding, 2);
      @include rem-fallback(margin-bottom, 1);
      
      &:first-of-type {
        @include rem-fallback(margin-top, -2);
      }

      h4 {
        @include font16;
        font-weight: 700;
        display: inline;
      }

      a {
        display: block;
        @include rem-fallback(margin, 0.5, 0);

        &[href^="tel:"] {
          color: black;
          @include font24;
          font-weight: 700;
        }

        &.icon-pre {
          @include rem-fallback(padding-left, 1.5);
          background-repeat: no-repeat;
          background-position-y: center;
          
          &.ico-calendar {
            background-image: url('/static/images/assets/ico-calendar.png');
          }

          &.ico-print {
            background-image: url('/static/images/assets/ico-print.png');
          }
        }
      }

      &#what-next {
        @include clearfix;

        & > a > p {
          color: $color-at-grey-dark;
          @include span-columns(2, 6);
          @include rem-fallback(margin-top, 0.5);
          @include font14;

          @include rem-fallback(padding-left, 3);
          background-repeat: no-repeat;
          background-position-y: top;

          &.ico-facebook {
            background-image: url('/static/images/assets/facebook.png');
          }

          &.ico-twitter {
            @include omega;
            background-image: url('/static/images/assets/twitter.png');
          }
        }
      }
    }

  }

}

// Overrides for the doc registration page.
.two-cols-with-form.doctor-registration {
  h1 {
    @include rem-fallback(margin-bottom, 0.5);
  }
  .already-registered {
    float: right;
    @include font32;
    @include rem-fallback(font-size, 0.875);

    a { font-weight: 700; }
  }

  #info-block {
    @include omega;

    .orange-bar {
      @include rem-fallback(font-size, 1.5);

      &:after { display: none;}
      &:before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        @include rem-fallback(right, -0.5);
        border-top: 25px solid transparent;
        border-bottom: 26px solid transparent;
        
        border-left: 60px solid $color-at-orange;
        @include rem-fallback(border-left-width, 0.5);

        right: auto;
        @include rem-fallback(left, -0.5);
        border-left: 0;
        border-right: 60px solid $color-at-orange;
        @include rem-fallback(border-right-width, 0.5);
      }
    }

    .advantages {
      li {
        @include rem-fallback(padding-left, 2);
        @include rem-fallback(padding-right, 1);
        @include rem-fallback(text-indent, -1);
        list-style-type: disc;
        list-style-position: inside;
        @include rem-fallback(margin, 0.25, 0);

        &:after {
          font-family: at-assets;
          content: $flaticon-checkmark;
          color: $color-at-blue;
          font-size: 130%;
          position: relative;
          top: 2px;
          left: 3px;
        }
      }
    }
  }
  main {
    #form {
      @include remove-omega;
    }

    form {
      overflow: visible;
      height: auto;
      margin-top: 0;

      h4 { @include font16; }
      p { @include rem-fallback(margin, 1, 0); }
      
      button,
      input[type=submit] {
        @include flat-button($color-at-orange);
        @extend .large;
        @include rem-fallback(width, 13);
      }
    }
  }

  .what-next {
    @include span-columns($total-columns/2);
    li {
      @include rem-fallback(padding-left, 3);
      @include rem-fallback(padding-right, 1);
      @include rem-fallback(margin, 1, 0);
      position: relative;

      &:before {
        font-family: at-assets;
        @include rem-fallback(font-size, 1.5);
        color: $color-at-blue;
        position: absolute;
        @include rem-fallback(top, 0.6);
        @include rem-fallback(left, 0.3);
      }

      &.what-next-step-1:before { content: $flaticon-envelope; }
      &.what-next-step-2:before { content: $flaticon-pencil; }
      &.what-next-step-3:before { content: $flaticon-barchart; }
    }
  }

  &.confirmation {
    h1 {
      color: $color-at-orange;
    }
  }
}




.two-cols-with-form.booking-cancel {
  #secondstep {
    display: none;
    h4 {
      @include rem-fallback(margin-top, 1.5);
      @include rem-fallback(margin-bottom, 0.5);
      display: block;
    }

    .form-check-label {
      font-weight: normal;
    }

    .form-check-inline {
      @include rem-fallback(width, 12);
      float: left;
    }
  }

  form {
    overflow: visible;
    height: auto;
    margin-top: 0;
    padding: 0;

    h4 { @include font16; }
    p { @include rem-fallback(margin, 1, 0); }

    button,
    input[type=submit] {
      &:before { content: ""; }
      @include flat-button($color-at-orange);
      @extend .large;
      @include rem-fallback(width, 25);
      @include rem-fallback(margin-top, 1.5);
      @include rem-fallback(margin-bottom, 1.5);
      padding: 0;
    }
  }
}

.two-cols-with-form.doctor-login {
  input + a {
    @include font12;
    text-decoration: none;
  }
  .hidden {
    display: none;
  }
}

.two-cols-with-form.patient-registration {
  .insurance {
    .radio-group {
      label {
        @include rem-fallback(min-width, 7);
      }
    }
  }
}

// Trying to make this global...
.infobox {
  &.infobox-grey-light {
    background: $color-at-grey-light;
  }
  &.infobox-blue-light {
    background: $color-at-blue-light;
  }
  @include rem-fallback(padding, 1);
  @include rem-fallback(margin-bottom, 1);
  @include box-sizing(border-box);
  
  h4 {
    @include font16;
    display: inline;
  }

  a {
    display: block;
    @include rem-fallback(margin, 0.5, 0);

    &[href^="tel:"] {
      color: black;
      font-weight: 700;
    }
  }

  // Infobox as main phone CTA
  &.cta-phone {
    a[href^="tel:"] { @include font24; }
  }
}

small {
  @include font12;
  @include rem-fallback(line-height, 0.8);
  font-style: italic;
}

%has-icon {
  @include rem-fallback(margin-bottom, 1);

  &:before {
    font-family: at-assets;
    color: $color-at-blue;
    display: block;
    float: left;
    @include rem-fallback(font-size, 2);
    @include rem-fallback(height, 2);
    @include rem-fallback(width, 2.5);
    @include rem-fallback(margin-top, 0.5);
  }
  &.award:before { content: $flaticon-award; }
  &.phone:before { content: $flaticon-phone; }
  &.lock:before { content: $flaticon-lock; }
  &.bubble:before { content: $flaticon-bubble; }
}

body main .star-rating-wrapper {
  display: block;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;

  input[type=radio] {
    position: absolute;
    left: -9999px;

    & + label {
      @include rem-fallback(line-height, 2);
      display: inline-block;
      padding-right: 5px;
      position: relative;
      text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
      cursor: pointer;
      font-size: 0;
      font-family: at-assets;
      color: $color-at-grey;
      
      &:before { 
        @include rem-fallback(font-size, 2);
        content: $flaticon-star; 
      }
    }

    &:hover + label,
    &:checked + label {
      color: $color-at-gold;
    }

    &:hover + label {
      text-shadow: 0px 2px 1px rgba(0,0,0,0.4);
    }

    &:active + label {
      top: 1px;
      text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    }

    &:hover ~ input + label,
    &:checked ~ input + label {
      color: $color-at-gold;
    }

  }

}

section.info_block{
  width: 100%;
}

section.booking_confirmation{
  width: 100%;
}

@include at-breakpoint($mobile-tablet-2) { 
  .two-cols-with-form main form .step {
    width: 80%;
    padding: 0;
    margin-left: 10%;

    &#step-2 #go-to-step1 {
      @include rem-fallback(left, -3.5);
    }
  }
}

@include at-breakpoint($mobile-tablet) { 
  .two-cols-with-form main {
    #info-block, #form {
      width: 100%;
      @include rem-fallback(margin-bottom, 1);
      padding-bottom: 0;
    }
    #info-block {
      .comfort-elements { display: none; }

      h3 { 
        @include rem-fallback(margin-bottom, 0.5);
     }
      
      .doctor {
        .photo {
          @include span-columns(1, 6);
        }
        
        .info {
          @include span-columns(5, 6);
          @include omega;

          h4 { margin: 0; }

          & > div {
            @include span-columns(2, 6);
            
            .address {
              @include span-columns(3, 6);
              @include omega;
            }
          }
        }

        .info, .info .address, .info .practice-name {
          @include font14;
        }
      }
    }
  }
}

@include at-breakpoint($mobile) { 
  .two-cols-with-form main #info-block .doctor {
    .photo { display: none; }

    .info {
      @include span-columns(6, 6);

      & > div {
        @include span-columns(3, 6);

        &.address {
          @include omega;
        }
      }
    }
  }
}

// IE10 specific (MS, why...)
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .two-cols-with-form form .form-element.error:after {
    margin-top: 10px;
  }
}
