{% extends '::base.html.twig' %}

{% use ':doctor/dashboard:footer.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

    <style type="text/css">
        .at-availability {
            width: 100%;
            padding: 0.7em 0;
            font-size: .8em;
            margin: 3px 0;
            background-color: rgba(100, 190, 118, 0.65);
            border: 2px solid #999;
            cursor: pointer;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .at-availability:hover {
            background-color: rgba(100, 190, 118, 0.75);
            border-color: #aaa;
        }

        .addAvailability {
            visibility: hidden;
            cursor: pointer;
        }


        .new-availability-col:hover .addAvailability {
            visibility: visible;
        }

        .availability-row {
            margin: 0.6em;
        }

        .week-header {
            margin-top: 20px;
            text-align: center;
            font-weight: 700;
        }
    </style>
{% endblock %}

{% macro calendarControls(mobile) %}
    <div class="btn-group{% if not mobile %} pull-right{% endif %}" {% if mobile %}style="width: 100%; margin: 8px 0;"{% endif %} role="group" aria-label="First group">
        {#<button type="button" class="btn btn-primary btn-sm" data-placement="right" data-toggle="popover" data-container="body">
            <i class="fa fa-calendar" aria-hidden="true" data-html="true"></i>
        </button>#}
        <button type="button" class="prev my-cal-prev btn btn-primary {% if mobile %}col-xs-3{% else %}btn-sm{% endif %}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <button type="button" class="today btn btn-primary {% if mobile %}col-xs-6{% else %}btn-sm{% endif %}">Heute</button>
        <button type="button" class="next my-cal-next btn btn-primary {% if mobile %}col-xs-3{% else %}btn-sm{% endif %}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
    </div>
{% endmacro %}

{% block content %}

    <div class="container summary">
        <div class="row">
            <div class="col-sm-12">
                {% include ':doctor/dashboard/calendar:navigation.html.twig' with { 'active_route': 'doctor_calendar_availabilities' } %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="loading"></div>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        {% set monday = lastMonday() %}
                        {% set week = 'now'|date("W" ) %}
                        <h2 id="weekNo" style="border: none; margin-bottom: -7px;">Woche {{ week }}</h2>
                        {% set weekStart = monday|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM') %}
                        {% set weekEnd = monday|date_modify("+4 days")|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM YYYY') %}
                        <div id="dateNo" style="font-weight: 600; margin-bottom: 5px;"> {{ weekStart }} - {{ weekEnd }}</div>
                    </div>
                    <div class="hidden-sm-down col-xs-6" style="padding-top: 35px;">
                        {{ _self.calendarControls(false) }}
                    </div>
                    <div class="hidden-md-up col-xs-12">
                        {{ _self.calendarControls(true) }}
                    </div>
                </div>
                <hr />
                <div class="row text-center week-header" style="text-align: center;">
                    <div class="col-xs-2"></div> <!-- offset class does not apply -->
                    <div class="col-xs-2">
                        <span class="hidden-sm-down">Montag<br></span>
                        <span class="forMon hidden-xs-down">{{ monday|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM') }}</span>
                        <span class="forMon hidden-sm-up">{{ monday|localizeddate('none', 'none', app.request.locale, null, 'd.') }}</span>
                    </div>
                    <div class="col-xs-2">
                        <span class="hidden-sm-down">Dienstag<br></span>
                        <span class="forTue hidden-xs-down">{{ monday|date_modify('+1 day')|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM') }}</span>
                        <span class="forTue hidden-sm-up">{{ monday|date_modify('+1 day')|localizeddate('none', 'none', app.request.locale, null, 'd.') }}</span>
                    </div>
                    <div class="col-xs-2">
                        <span class="hidden-sm-down">Mittwoch<br></span>
                        <span class="forWed hidden-xs-down">{{ monday|date_modify('+2 days')|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM') }}</span>
                        <span class="forWed hidden-sm-up">{{ monday|date_modify('+2 days')|localizeddate('none', 'none', app.request.locale, null, 'd.') }}</span>
                    </div>
                    <div class="col-xs-2">
                        <span class="hidden-sm-down">Donnerstag<br></span>
                        <span class="forThr hidden-xs-down">{{ monday|date_modify('+3 days')|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM') }}</span>
                        <span class="forThr hidden-sm-up">{{ monday|date_modify('+3 days')|localizeddate('none', 'none', app.request.locale, null, 'd.') }}</span>
                    </div>
                    <div class="col-xs-2">
                        <span class="hidden-sm-down">Freitag<br></span>
                        <span class="forFri hidden-xs-down">{{ monday|date_modify('+4 days')|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM') }}</span>
                        <span class="forFri hidden-sm-up">{{ monday|date_modify('+4 days')|localizeddate('none', 'none', app.request.locale, null, 'd.') }}</span>
                    </div>
                </div>

                {% set formattedDates = [
                    monday|date("Y-m-d"),
                    monday|date_modify('+1 day')|date("Y-m-d"),
                    monday|date_modify('+2 day')|date("Y-m-d"),
                    monday|date_modify('+3 day')|date("Y-m-d"),
                    monday|date_modify('+4 day')|date("Y-m-d")
                ] %}

                <div class="availabilities">
                    {% for doctor in doctors %}
                        <div class="row text-center availability-row" style="text-align: center;" id="data-row-container">
                            <div class="col-xs-2 text-left" style="text-align: left; vertical-align: middle;">
                                {{ doctor.doctor.fullName }}
                            </div>
                            {% for day in range(0, 4) %}
                            <div class="col-xs-2 new-availability-col">
                                <button data-doctor-id="{{ doctor.resource.id }}" class="addAvailability btn btn-primary" data-date="{{ formattedDates[day] }}">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                </button>
                            </div>
                            {% endfor %}
                        </div>
                        {% if loop.index < loop.length %}
                        <hr />
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="w-100"></div>
    </div>

    <div id="token" data-token="{{ app.user.accessToken }}"></div>
    <div id="practice" data-id="{{ practiceId() }}"></div>
    <div id="module" data-module="availabilities"></div>
    <div id="endpoint" data-endpoint='{{ url('home') }}api/v2'></div>
    <div id="query" data-params=""></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js" async></script>
    <script type="text/javascript" src="{{ asset('js/dashboard/calendar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/utilities.js') }}"></script>
    <script>
        function twoDigs(num) {
            return ('0' + num).slice(-2);
        }
        // for Date get week - START
        Date.prototype.getWeek = function () {
            var onejan = new Date(this.getFullYear(), 0, 1);
            var today = new Date(this.getFullYear(), this.getMonth(), this.getDate());
            var dayOfYear = ((today - onejan + 1) / 86400000);
            return Math.ceil(dayOfYear / 7)
        };
        Date.locale = {
            de: {
                month_names_short: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember']
            }
        };
        Date.prototype.getMonthNameShort = function (lang) {
            lang = lang && (lang in Date.locale) ? lang : 'de';
            return Date.locale[lang].month_names_short[this.getMonth()];
        };
        Date.prototype.addDays = function (days) {
            var dat = new Date(this.valueOf())
            dat.setDate(dat.getDate() + days);
            return dat;
        };
        Date.prototype.format = function() {
            return this.getFullYear() + '-' + twoDigs(this.getMonth()+1) + '-' + twoDigs(this.getDate());
        };
        Date.prototype.formatTime = function() {
            return twoDigs(this.getHours()) + ':' + twoDigs(this.getMinutes());
        };

        function dateFromWeekNumber(year, week) {
            var d = new Date(year, 0, 1);
            var dayNum = d.getDay();
            var diff = --week * 7;

            if (!dayNum || dayNum > 4) {
                diff += 7;
            }

            d.setDate(d.getDate() - d.getDay() + ++diff);
            return d;
        }

        function dateFromWeekNumberEnd(year, week) {
            var d = new Date(year, 0, 1);
            var dayNum = d.getDay();
            var diff = --week * 7;

            if (!dayNum || dayNum > 4) {
                diff += 7;
            }

            d.setDate(d.getDate() - d.getDay() + ++diff + 4);
            return d;
        }
        function getDates(startDate, stopDate) {
            var dateArray = new Array();
            var currentDate = startDate;
            while (currentDate <= stopDate) {
                dateArray.push(new Date(currentDate));
                currentDate = currentDate.addDays(1);
            }
            return dateArray;
        }
        function updateMyCalendar($, newDate, newDateEnd){
            var dateBegin = ('0' + newDate.getDate()).slice(-2);
            var dateEnd = ('0' + newDateEnd.getDate()).slice(-2);
            $("#dateNo").html(dateBegin + '. ' + newDate.getMonthNameShort() + ' - ' + dateEnd + '. ' + newDateEnd.getMonthNameShort() + ' ' + newDateEnd.getFullYear());
            $("#weekNo").html('Woche ' + (newDate.getWeek()));

            var dateRange = getDates(newDate, newDateEnd);
            $('.forMon').html(dateRange[0].getDate() + '. ' + dateRange[0].getMonthNameShort());
            $('.forTue').html(dateRange[1].getDate() + '. ' + dateRange[1].getMonthNameShort());
            $('.forWed').html(dateRange[2].getDate() + '. ' + dateRange[2].getMonthNameShort());
            $('.forThr').html(dateRange[3].getDate() + '. ' + dateRange[3].getMonthNameShort());
            $('.forFri').html(dateRange[4].getDate() + '. ' + dateRange[4].getMonthNameShort());

            $('.availabilities .availability-row').each(function(row, ele) {
                $(ele).find('.addAvailability').each(function(idx, container) {
                    var current = dateRange[idx];
                    if (!current) return;

                    $(container).attr('data-date', current.format());
                });
            });
        }

        var displayedErrors = [];

        (function ($, doc) {
            var queryParams = $('#query');

            $(doc).on('dashboard:calendar:add-availability', function (e, $dataRow, data) {
                var columns = $('#data-row-container .addAvailability');
                var begin = moment($dataRow.begin);
                var date = begin.format('YYYY-MM-DD');
                var from = begin.format('HH:mm');
                var to = moment($dataRow.end).format('HH:mm');
                var element = $('<div class="at-availability">' + from + ' - ' + to + '</div>');
                element.attr('data-date', date);
                element.attr('data-doctor-id', data.resourceId);
                element.attr('data-id', $dataRow.id);

                columns.each(function (i, ele) {
                    var col = $(ele);
                    var dateCol = col.attr('data-date');
                    var doctorCol = col.attr('data-doctor-id');

                    if (doctorCol == data.resourceId && dateCol == date) {
                        element.insertBefore(col);
                    }
                });
            });

            $(doc).on('dashboard:calendar:data-preload', function (e, response) {
                var result = response.body(false);
                var resourceMap = Object.keys(result);
                $('.at-availability').remove();

                resourceMap.forEach(function(id) {
                    result[id].sort(function (a, b) {
                        return a.begin > b.begin ? 1 : -1;
                    }).forEach(function (item) {
                        $(doc).trigger('dashboard:calendar:add-availability', [item, {resourceId: id}]);
                    });
                });
            });

            $(doc).on('click', '.addAvailability', function () {
                var doctorId = $(this).attr('data-doctor-id');
                var date = $(this).attr('data-date');
                openModal(date, doctorId);
            });

            $(doc).on('click', '.at-availability', function () {
                var doctorId = $(this).attr('data-doctor-id');
                var date = $(this).attr('data-date');
                var id = $(this).attr('data-id');
                openModal(date, doctorId, [id]);
            });

            var today = new Date();
            var weekno = today.getWeek();
            var newDate = dateFromWeekNumber(today.getFullYear(), (weekno - 1));
            var newDateEnd = dateFromWeekNumberEnd(today.getFullYear(), (weekno - 1));

            $('.next').bind('click', function () {
                weekno = weekno + 1;
                newDate = dateFromWeekNumber(today.getFullYear(), (weekno - 1));
                newDateEnd = dateFromWeekNumberEnd(today.getFullYear(), (weekno - 1));
                triggerReload(newDate, newDateEnd);

            });
            $('.prev').bind('click', function () {
                weekno = weekno - 1;
                newDate = dateFromWeekNumber(today.getFullYear(), (weekno - 1));
                newDateEnd = dateFromWeekNumberEnd(today.getFullYear(), (weekno - 1));
                triggerReload(newDate, newDateEnd);

            });
            $('.today').bind('click', function () {
                weekno = today.getWeek();
                newDate = dateFromWeekNumber(today.getFullYear(), (weekno - 1));
                newDateEnd = dateFromWeekNumberEnd(today.getFullYear(), (weekno - 1));
                triggerReload(newDate, newDateEnd);

            });
            $("[data-toggle=popover]").popover({
                html: true,
                content: function() {
                    return $('#popover-content').html();
                }
            });
            $(doc).on('click', '.showWeek', function () {

            });

            function openModal(date, doctorId, availabilityIds) {
                $(doc).trigger('dashboard:calendar:loading', true);
                var url = '{{ path('doctor_calendar_availabilities_modal', { resourceId: 0 }) }}'
                        .replace('/0', '/' + doctorId) + '?' + ((date) ? 'active=' + date + '&' : '');

                if (availabilityIds) {
                    for (var i = 0; i < availabilityIds.length; i++) {
                        if (availabilityIds[i]) {
                            url += 'aid[]=' + availabilityIds[i] + '&';
                        }
                    }
                }

                $.ajax({
                    url: url.replace(/\&$/, ''),
                    method: 'GET',
                    success: function (res) {
                        $('body').append(res);

                        var modal = $('#modalForm');
                        modal.find('.js-datepicker').datepicker({
                            startDate: new Date(),
                            autoclose: true,
                            daysOfWeekDisabled: [0, 6],
                            weekStart: 1,
                            zIndexOffset: 1500,
                            format: 'dd.mm.yyyy'
                        }).on('hide', function(event) {
                            event.preventDefault();
                            event.stopPropagation();
                        });

                        var form = $('#modalForm #createAppointmentsForm');
                        var errors = $('#modalForm #createAppointmentsErrors');
                        var submit = $('#modalForm #create_bulk_appointments_submit');
                        form.on('submit', function(e) {
                            e.preventDefault();
                            e.stopPropagation();
                            submit.attr('disabled', 'disabled');
                            displayedErrors.length = 0;
                            errors.html('');

                            var data = form.serialize();
                            if (!data || !data.length) {
                                modal.modal('toggle');
                                return;
                            }

                            $.ajax({
                                url: '{{ path('api_create_appointment_ranges') }}',
                                method: 'POST',
                                dataType: 'json',
                                data: form.serialize(),
                                success: function(res) {
                                    if (res.success) {
                                        $(doc).trigger('dashboard:calendar:reload');
                                        $(doc).trigger('dashboard:calendar:post-save', [{status: 2}]);
                                        modal.modal('hide');
                                    } else {
                                        submit.attr('disabled', null);
                                    }
                                },
                                error: function(err) {
                                    var json = err.responseJSON;
                                    var dtos = json.errors;

                                    submit.attr('disabled', null);

                                    if (json.created > 0) {
                                        $(doc).trigger('dashboard:calendar:reload');
                                        errors.append('<div class="alert alert-success">' + '{{ 'ui.appointments.form.created_x_appointments'|trans({count: 42}) }}'.replace('42', json.created) + '</div>');
                                    }
                                    if (dtos && dtos.length) {
                                        for (var i = 0; i < dtos.length; i++) {
                                            var dto = dtos[i];

                                            if (endsWith(dto.reference, 'fromBeforeTo') && displayedErrors.indexOf('range') === -1) {
                                                errors.append(buildAlert('warning', '{{ 'ui.appointments.form.errors.invalid_range'|trans }}', 'range', displayedErrors));
                                            }
                                            else if (endsWith(dto.reference, 'from') && displayedErrors.indexOf('start') === -1) {
                                                errors.append(buildAlert('warning', '{{ 'ui.appointments.form.errors.invalid_start'|trans }}', 'start', displayedErrors));
                                            }
                                            else if ((endsWith(dto.reference, 'to') || endsWith(dto.reference, 'endsAtInFuture')) && displayedErrors.indexOf('end') === -1) {
                                                errors.append(buildAlert('warning', '{{ 'ui.appointments.form.errors.invalid_end'|trans }}', 'end', displayedErrors));
                                            }
                                            else if (dto.reference === 'treatmentTypes' && displayedErrors.indexOf('treatments') === -1) {
                                                errors.append(buildAlert('danger', '{{ 'ui.appointments.form.errors.missing_treatment_types'|trans }}', 'treatments', displayedErrors));
                                            } else if ((dto.code === 'RANGE_ALREADY_BLOCKED' || dto.code === 'RESOURCE_NOT_AVAILABLE') && displayedErrors.indexOf('resource_' + dto.reference) === -1) {
                                                errors.append(buildAlert('warning', '{{ 'ui.appointments.form.errors.resource_not_available'|trans }}', dto.reference, displayedErrors));
                                            }
                                        }
                                    }

                                    if (!displayedErrors.length) {
                                        errors.append(buildAlert('danger', '{{ 'ui.appointments.form.errors.error_occurred'|trans }}', 'default', displayedErrors));
                                    }
                                }
                            });
                            return false;
                        });

                        $(doc).trigger('dashboard:calendar:loading', false);

                        modal.modal();
                        modal.on('hide.bs.modal', function() {
                            modal.remove();
                        });
                    },
                    error: function() {
                        $(doc).trigger('dashboard:calendar:post-save', [{status: 4, error: null}]);
                    }
                });
            }

            window.removeAvailabilityEntry = function(element, data) {
                var row = null;
                if (!data) {
                    var entry = $(element);
                    row = entry.parent().parent();
                } else {
                    row = element;
                }

                var id = row.attr('data-id');

                if (!id || id == 'null') {
                    fadeOutRemoved(row, row);
                    return;
                }

                var errors = $('#modalForm #createAppointmentsErrors');

                $.ajax({
                    url: '{{ path('api_delete_availability', {id: 1}) }}'.replace('/1', '/' + id),
                    method: 'DELETE',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data || { removeAll: true }, null, 0),
                    success: function () {
                        $(doc).trigger('dashboard:calendar:reload');
                        errors.html(buildAlert('success', '{{ 'ui.appointments.form.availability_removed'|trans }}'));
                        fadeOutRemoved(element, row);
                    },
                    error: function (err) {
                        var json = err.responseJSON;
                        var conflicts = hasErrorResponse(json, 'REQUIRES_CANCELLATION');

                        if (conflicts.length) {
                            errors.html(buildAlert('warning', '{{ 'ui.appointments.form.errors.cancellation_required'|trans }}'));
                        } else {
                            errors.html(buildAlert('danger', '{{ 'ui.appointments.form.errors.error_occurred'|trans }}'));
                        }
                    }
                });
            };

            window.removeRecurringAvailabilityEntry = function(element) {
                var entry = $(element);
                entry.parent().parent().find('.recurring-removal-form').fadeIn();
            };

            window.removeRecurringAvailabilities = function(element, date) {
                var button = $(element);
                var box = button.parent();
                window.removeAvailabilityEntry(box.parent(), { removeAll: (!date), date: (date) ? moment(date).format('YYYY-MM-DD') : null });

                return false;
            };

            window.addField = function(element) {
                var row = (element.parentNode) ? element.parentNode.parentNode : element[0];
                var entry = row.cloneNode(true);
                var index = 1* row.getAttribute('data-index');
                var nextIndex = index +1;
                entry.setAttribute('data-index', nextIndex);
                entry.setAttribute('data-id', null);
                entry.innerHTML = entry.innerHTML
                    .replace(new RegExp('\\[rows\\]\\[' + index + '\\]', 'g'), '[rows][' + nextIndex + ']')
                    .replace(new RegExp('rows_' + index, 'g'), 'rows_' + nextIndex);

                document.getElementById('availabilityList').appendChild(entry);

                var idInput = document.getElementById('create_bulk_appointments_rows_' + nextIndex + '_id');
                if (idInput) {
                    idInput.remove();
                }

                if (entry.style.display === 'none') {
                    entry.style.display = 'block';
                }

                $(entry).find('input.form-control').val('');
            };

            function fadeOutRemoved(clicked, entry) {
                $('#modalForm .recurring-removal-form').fadeOut(100);

                entry.fadeOut(100, function() {
                    entry.remove();

                    if (!$('#availabilityList .row').length) {
                        window.addField(clicked);
                    }
                });
            }

            function triggerReload(onDate, end) {
                updateMyCalendar($, onDate, end);

                if (onDate) {
                    queryParams.attr('data-params', 'active=' + onDate.format());
                }

                $(doc).trigger('dashboard:calendar:reload');
            }
        }(jQuery, document));

    </script>

{% endblock %}
