{% extends '::base.html.twig' %}

{% use ':doctor/dashboard/calendar:footer.html.twig' %}

{% block stylesheets %}
    <link rel=stylesheet href="{{ asset('styles/vendor.css','calendar') }}">
    <link rel=stylesheet href="{{ asset('css/dashboard_calendar.all.min.css') }}">
    <script src="{{ asset('scripts/vendor/modernizr.js','calendar') }}"></script>
    <base href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% block content %}
    <div class="container-fluid page-calendar">
        <div ng-app="calendarApp">
            <toast></toast>
            <div ui-view></div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        window.at_paidFeatures = {{ paidFeatures | json_encode | raw }};

        window.docbiz_calendar_booking_target = '{{ path('doctor_calendar_widget_booking') }}';
        var CALENDAR_CONFIG = {
            defaultDuration: 3600,
            stepInterval: 300,
            disableResizing: true,
            disableDragging: true,
            openingTimes: {
                "monday":[{"start":21600,"end":72000}],
                "tuesday":[{"start":21600,"end":72000}],
                "wednesday":[{"start":21600,"end":72000}],
                "thursday":[{"start":21600,"end":72000}],
                "friday":[{"start":21600,"end":72000}],
                "saturday": [{"start":0,"end":0}],
                "sunday": [{"start":0,"end":0}]
            },
            popoverEventParams: {
                resources: []
            },
            apiEndpoint: '{{ url('home') }}api/v2/',
            rootPath: '{{ calendar.static.url }}'
        };

    </script>
    <script src="{{ asset('scripts/vendor.js','calendar') }}"></script>
    <script src="{{ asset('scripts/plugins.js','calendar') }}"></script>
    <script src="{{ asset('scripts/app.js','calendar') }}"></script>
    <script src="{{ asset('js/dashboard_calendar.min.js') }}"></script>
{% endblock %}
