{% extends '::base.html.twig' %}

{% use ':doctor/dashboard:footer.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/magicsuggest-min.css') }}" type="text/css" />
    <style type="text/css">
        .ms-sel-item.suggested-tag {
            background-color: #0090d6;
            color: #fff9e5;
        }

        .auto-complete-container {
            max-width: 340px;
        }

        .collapse-header {
            padding: 5px 0;
            border-top-color: #0090d6;
            margin-bottom: 10px;
        }

        .collapse-item {
            padding: 5px 0 10px;
            font-size: 12px;
        }

        .edit-toggle.btn {
            color: #ddd;
        }

        .doctor-name {
            color: #0090d6;
        }

        .image-hint {
            font-size: 10px;
            vertical-align: bottom;
            min-width: 200px;
            position: absolute;
            margin: 1px;
            padding-top: 3px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container summary">
        <div class="row">
            <div class="col-sm-12">
                {% include ':doctor/dashboard/calendar:navigation.html.twig' with { 'active_route': 'doctor_calendar_doctor_management' } %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 doctors-container">
                <br />
                <script type="text/html" id="data-row-template">
                    {% spaceless %}
                        <div class="data-row doctor-id-attr text-center collapse-header" id="accordion" aria-multiselectable="false" role="tab" data-allow-copy="false">
                            <div class="row">
                                <div class="col-xs-1">
                                    <a data-toggle="collapse"
                                       data-parent="#accordion"
                                       class="doctor-id-toggle edit-toggle-trigger"
                                       aria-expanded="true">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-4">
                                    <img alt="" class="doctor-image" style="width: 100%; height: 100%; min-height: 60px;" onerror="hideImage(this)">
                                </div>
                                <div class="col-sm-6 col-xs-7">
                                    <h3>
                                        <a data-toggle="collapse"
                                           data-parent="#accordion"
                                           class="doctor-id-toggle edit-toggle-trigger doctor-name"
                                           aria-expanded="true"
                                           style="text-decoration: none;">
                                            {doctor_name}
                                        </a>
                                    </h3>
                                    <small class="doctor-description"></small>
                                </div>
                                <div class="col-sm-3 offset-sm-0 offset-xs-5 col-xs-5 text-md-right">
                                    <small>
                                        <a data-toggle="collapse" data-parent="#accordion" class="doctor-id-toggle edit-toggle edit-toggle-trigger" aria-expanded="true">Bearbeiten</a>
                                        <br />
                                        <a href="{{ path('doctor_calendar_widget_booking') }}" target="_blank">Zum Widget</a>
                                    </small>
                                </div>
                            </div>

                            <div class="collapse collapse-item doctor-id-toggle-item" role="tabpanel" aria-labelledby="headingOne">
                                <div class="row" style="vertical-align: bottom;">
                                    <div class="col-md-2 col-sm-4 col-xs-12" style="overflow: visible;">
                                        <label class="control-label">&nbsp;</label>
                                        {{ form_start(photoUploadForm, { attr: { novalidate: true }}) }}
                                        {{ form_widget(photoUploadForm.doctorId, { attr: { class: 'doctor-id-value' }}) }}
                                        {{ form_widget(photoUploadForm.practiceId, { value: practiceId() }) }}
                                        {{ form_widget(photoUploadForm.file, { attr: { style: 'display: none;', accept: 'image/*' }}) }}
                                        <button type="button" class="btn btn-sm btn-outline-primary upload-photo">Foto hochladen</button>
                                        {{ form_end(photoUploadForm) }}
                                        <p class="image-hint">
                                            Erlaubte Größe: 50x80 bis 560x600
                                        </p>
                                        <br /><br />
                                    </div>

                                    {{ form_start(customerForm, { attr: { class: 'customer-details-form' } }) }}
                                    {% do customerForm.language.setRendered %}
                                    {% do customerForm.password.setRendered %}
                                    {% do customerForm.email.setRendered %}
                                    <div class="col-md-2 col-sm-4 col-xs-6">
                                        <label class="control-label" for="update_user_gender">&nbsp;</label>
                                        {{ form_row(customerForm.gender, { label: false, attr: { class: 'form-control-sm v-doctor-gender' } }) }}
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-6">
                                        {{ form_row(customerForm.title, { attr: { class: 'form-control-sm v-doctor-title' } }) }}
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        {{ form_row(customerForm.firstName, { attr: { class: 'form-control-sm v-doctor-firstName' } }) }}
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        {{ form_row(customerForm.lastName, { attr: { class: 'form-control-sm v-doctor-lastName' } }) }}
                                    </div>
                                    {{ form_end(customerForm) }}
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-xs-8 offset-xs-0 offset-lg-2">
                                        <div class="form-group row">
                                            <div class="col-xs-6">
                                                <label for="bookingOffsetFeature"
                                                       class="control-label"
                                                       title="Die minimale Vorlaufzeit für Terminbuchungen">
                                                    Vorlauf <small>?</small>
                                                </label>
                                                <input type="number"
                                                       min="1"
                                                       class="form-control form-control-sm v-doctor-bookingTimeOffset doctor-id-attr"
                                                       id="bookingOffsetFeature"
                                                       placeholder="0">
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="control-label">&nbsp;</label>
                                                <select class="form-control form-control-sm custom-select" id="offsetFeatureType">
                                                    <option value="DAY" selected>Tage</option>
                                                    <option value="WEEK">Wochen</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-4 offset-md-1">
                                        <div class="form-group">
                                            <label class="control-label" title="Gibt an, ob Termine für diesen Doktor im Widget gebucht werden können.">Buchbar <small>?</small></label>
                                            <div class="checkbox" style="padding-top: 3px;">
                                                <input type="checkbox" class="form-control v-doctor-bookable" checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label class="control-label">Fachrichtungen</label>
                                    <input type="text" class="medical-specialties-completion" id="tags" />
                                </div>
                                <div class="medical-specialty-tags"></div>
                                <hr />
                                <div class="form-group">
                                    <label class="control-label">Behandlungsarten</label>
                                    <input type="text" class="treatments-completion" id="tags" />
                                </div>
                                <div class="treatment-tags"></div>
                                <hr />
                                <div class="form-group">
                                    <label class="control-label">Sprachen</label>
                                    <input type="text" class="languages-completion">
                                </div>
                                <div class="language-tags"></div>
                            </div>
                            <hr />
                        </div>
                    {% endspaceless %}
                </script>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="loading"></div>
                        <div class="with-border" id="data-row-container" style="padding: 0 5px;"></div>
                        <a class="btn btn-primary-outline btn-sm" id="data-row-add">
                            <span class="fa fa-fw fa-plus"></span> {{ 'ui.doctor.dashboard.calendar.add_row'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
    </div>

    <div id="token" data-token="{{ app.user.accessToken }}"></div>
    <div id="practice" data-id="{{ practiceId() }}"></div>
    <div id="module" data-module="doctors"></div>
    <div id="endpoint" data-endpoint='{{ url('home') }}api/v2'></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/dashboard/calendar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/magicsuggest-min.js') }}"></script>
    <script>
        var HOURS_IN_WEEK = 24 * 7;
        var medicalSpecialties = {{ medicalSpecialties | json_encode | raw }};

        (function ($, doc) {
            $(doc).on('dashboard:calendar:new-entity', function(e, $dataRow, data) {
                $dataRow.data('id', data.id || 0);
            });

            $(doc).on('dashboard:calendar:row-added', function (e, $dataRow, data) {
                if (!$dataRow || !data || !data.id) {
                    $(doc).trigger('dashboard:calendar:loading', true);
                    prepareDoctorCreation();
                    return;
                }

                addToggleRowState($dataRow);

                // form values
                $dataRow.find('.v-doctor-title').val(data.title || '');
                $dataRow.find('.v-doctor-gender').val((data.gender === undefined ? 'GROUP' : data.gender) || 'MALE');
                $dataRow.find('.v-doctor-firstName').val(data.firstName);
                $dataRow.find('.v-doctor-lastName').val(data.lastName);
                $dataRow.find('.v-doctor-bookable').attr('checked', data.bookable ? 'checked' : null);
                $dataRow.find('.v-doctor-bookingTimeOffset').val((data.bookingTimeOffset) ? Math.floor(data.bookingTimeOffset / 24) : 0);

                // header values
                $dataRow.find('.doctor-id-value').val(data.id);
                $dataRow.find('.doctor-id-attr').attr('data-doctor-id', data.id);
                $dataRow.find('.doctor-name').html(data.fullName);
                $dataRow.find('.doctor-image').attr('src', '{{ s3PracticeUrl() }}/doctors/' + data.id  + '/avatars/profile.jpg?' + Math.round(new Date().getTime() / 1000));
                $dataRow.find('.doctor-description').html((data.medicalSpecialties && data.medicalSpecialties.length && data.medicalSpecialties.map(function (item) {
                    for (var ms = 0; ms < medicalSpecialties.length; ms++) {
                        if (medicalSpecialties[ms].id === item) {
                            return medicalSpecialties[ms].name;
                        }
                    }
                    return item;
                }).join(', ') + ' - ' || '') + '<i>Doktor</i>');

                var accordion = $dataRow.find('.doctor-id-toggle');
                accordion.attr('href', '#collapse' + data.id);
                accordion.attr('aria-controls', 'collapse' + data.id);
                $dataRow.find('.doctor-id-toggle-item').attr('id', 'collapse' + data.id);

                var languages = autoComplete($dataRow.find('.languages-completion'), {{ languages | json_encode | raw }}, $dataRow.find('.language-tags'), true, $dataRow);
                var specialties = autoComplete($dataRow.find('.medical-specialties-completion'), medicalSpecialties, $dataRow.find('.medical-specialty-tags'), true, $dataRow);
                var treatments = autoComplete($dataRow.find('.treatments-completion'), {{ treatmentTypes | json_encode | raw }}, $dataRow.find('.treatment-tags'), false, $dataRow);

                languages.setValue(data.languages || []);
                specialties.setValue(data.medicalSpecialties || []);
                treatments.setValue((data.treatmentTypes && data.treatmentTypes.map(function (type) {
                    return type.id;
                })) || []);

                // first set values, then listen for changes
                languages.care('languages', data.id);
                specialties.care('specialties', data.id);
                treatments.care('treatments', data.id);

                var detailsForm = $dataRow.find('.customer-details-form');
                var checksum = formChecksum(detailsForm);

                detailsForm.submit(function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    var form = $(this);
                    var newChecksum = formChecksum(form);

                    if (newChecksum === checksum) {
                        return;
                    }

                    checksum = newChecksum;
                    submitCustomerDetails(data.id, form.serialize(), $dataRow);
                    return false;
                });

                detailsForm.find('input').focusout(function () {
                    detailsForm.submit();
                });

                detailsForm.find('select').change(function (element) {

                    // If the field is gender and value "GROUP": set dropdown to null, submit form, then set dropdown back to "GROUP"
                    if (this.id == "update_user_gender" && this.value == "GROUP") {
                        $(this).val(null);
                        detailsForm.submit();
                        $(this).val("GROUP");
                    }
                    else
                        detailsForm.submit();
                });

                var offsetInput = $dataRow.find('.v-doctor-bookingTimeOffset');
                var offsetTypeInput = $dataRow.find('#offsetFeatureType');

                offsetTypeInput.change(function () {
                    applyOffset(offsetInput.val(), $(this).val());
                });
                offsetInput.focusout(function () {
                     applyOffset($(this).val(), offsetTypeInput.val());
                });

                $dataRow.find('.v-doctor-bookable').change(function () {
                    var input = $(this);
                    submitDoctorChange(data.id, { bookable: input.is(':checked') }, $dataRow);
                });

                var imageUploader = $dataRow.find('.upload-photo');
                var fileInput = imageUploader.prev();
                fileInput.unbind().click(function (e) {
                    e.stopPropagation();
                });

                imageUploader.unbind('click').click(function (e) {
                    chooseAndUploadImage($dataRow, data.id, fileInput, e);
                });

                function applyOffset(offset, multiplierType) {
                    var multiplier = 24;

                    if (multiplierType === 'WEEK') {
                        multiplier = HOURS_IN_WEEK;
                    }

                    var newOffset = offset * multiplier;
                    if (newOffset === 0) newOffset = null;
                    submitDoctorChange(data.id, { bookingTimeOffset: newOffset }, $dataRow, true);
                }
            });

            $(doc).on('dashboard:calendar:data-preload', function (e, response) {
                response.body(false).forEach(function (entity) {
                    $(doc).trigger('dashboard:calendar:add-row', [entity]);
                });
            });

            $(doc).on('dashboard:calendar:payload', function () {
                var data = [];

                $('#data-row-container').find('tr.data-row').each(function () {
                    var $this = $(this);
                    var entity = {};

                    if ($this.data('id')) {
                        entity.id = $this.data('id');
                    }

                    data.push(entity);
                });

                return data;
            });

            function formChecksum(form) {
                var checksum = '';
                form.find('input, select').each(function (idx, item) {
                    checksum += $(item).val();
                });

                return checksum;
            }

            function chooseAndUploadImage($dataRow, doctorId, fileInput, e) {
                e.preventDefault();
                e.stopPropagation();

                fileInput.trigger('click');
                fileInput.unbind().change(function (change) {
                    $(doc).trigger('dashboard:calendar:loading', true);

                    $.ajax({
                        method: 'POST',
                        url: '{{ path('doctor_calendar_avatar_upload') }}',
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        data: new FormData(fileInput.parent()[0]),
                        success: function (res) {
                            if (res.success) {
                                fileInput.val('');
                                var image = $dataRow.find('.doctor-image');
                                image.attr('src', '{{ s3PracticeUrl() }}/doctors/' + doctorId  + '/avatars/profile.jpg?' + new Date().getTime());
                                image.css({ display: 'block' });
                            } else {
                                $(doc).trigger('dashboard:calendar:post-save', [{status: 4, error: null}]);
                            }

                            $(doc).trigger('dashboard:calendar:loading', false);
                        },
                        error: function() {
                            $(doc).trigger('dashboard:calendar:post-save', [{status: 4, error: null}]);
                            $(doc).trigger('dashboard:calendar:loading', false);
                        }
                    });
                });

                return false;
            }

            function addToggleRowState($dataRow) {
                var editState = false;
                var stateDisplay = $dataRow.find('.edit-toggle');

                $dataRow.find('.edit-toggle-trigger').click(function () {
                    if ((editState = !editState)) {
                        stateDisplay.html('In Bearbeitung');
                    } else {
                        stateDisplay.html('Bearbeiten');
                    }

                    stateDisplay.animate({opacity: 0}, 350, function () {
                        stateDisplay.toggleClass('btn btn-sm btn-primary', editState);
                        stateDisplay.animate({opacity: 1}, 150);
                    });
                });
            }

            var timer = null;
            function toggleSaveState($dataRow) {
                var stateDisplay = $dataRow.find('.edit-toggle');
                stateDisplay.html('Änderungen gespeichert!');

                if (timer) {
                    clearTimeout(timer);
                }

                timer = setTimeout(function () {
                    stateDisplay.html('In Bearbeitung');
                }, 3000);
            }

            function onTaggedItemChanged(doctorId, values, type, $dataRow) {
                switch (type) {
                    case 'specialties':
                        submitDoctorChange(doctorId, { medicalSpecialties: values }, $dataRow);
                        break;
                    case 'treatments':
                        submitDoctorChange(doctorId, { treatmentTypes: values }, $dataRow);
                        break;
                    case 'languages':
                        submitDoctorChange(doctorId, { spokenLanguages: values }, $dataRow);
                        break;
                    default:
                        window.console && console.warn('no handler found to manage tagged item');
                        break;
                }
            }

            function prepareDoctorCreation() {
                $.get('{{ path('doctor_calendar_create_doctor_modal') }}', function (html) {
                    $('body').append(html);
                    $(doc).trigger('dashboard:calendar:loading', false);

                    var modal = $('#createDoctorModal');
                    var form = modal.find('form');
                    form.submit(function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        var saveButton = form.find('button[type=submit]');
                        saveButton.attr('disabled', 'disabled');

                        $.ajax({
                            url: '{{ path('api_create_doctor') }}',
                            dataType: 'json',
                            method: 'POST',
                            data: form.serialize(),
                            success: function () {
                                $(doc).trigger('dashboard:calendar:reload');
                                $(doc).trigger('dashboard:calendar:post-save', [{status: 2}]);
                                $('.data-row').remove();

                                modal.modal('hide');
                            },
                            error: function () {
                                saveButton.attr('disabled', null);
                            }
                        });

                        return false;
                    });

                    modal.modal();
                    modal.on('hide.bs.modal', function() {
                        modal.remove();
                    });
                });
            }

            function submitDoctorChange(doctorId, json, $dataRow, includeNull) {
                var url = '{{ path('api_update_doctor', { doctor: 1 }) }}'.replace('/1', '/' + doctorId);
                var hasChanges = Object.keys(json).filter(function (item) {
                    return (includeNull === true || json[item] !== null) && json[item] !== 0;
                }).length > 0;

                if (!hasChanges) {
                    return;
                }

                $.ajax({
                    url: url,
                    method: 'PUT',
                    dataType: 'json',
                    data: JSON.stringify(json, null, 0),
                    success: function () {
                        $(doc).trigger('dashboard:calendar:post-save', [{status: 1, error: null}]);
                        toggleSaveState($dataRow);
                    },
                    error: function () {
                        $(doc).trigger('dashboard:calendar:post-save', [{status: 4, error: null}]);
                    }
                });
            }

            function submitCustomerDetails(doctorId, data, $dataRow) {
                $.ajax({
                    url: '{{ path('api_update_customer', { customer: 1 }) }}'.replace('/1', '/' + doctorId),
                    dataType: 'json',
                    method: 'PUT',
                    data: data,
                    success: function () {
                        $(doc).trigger('dashboard:calendar:post-save', [{status: 1, error: null}]);
                        toggleSaveState($dataRow);
                    },
                    error: function () {
                        $(doc).trigger('dashboard:calendar:post-save', [{status: 4, error: null}]);
                    }
                });
            }

            function autoComplete(element, list, targetContainer, onlySuggestions, $dataRow) {
                var suggestionBox = element.magicSuggest({
                    cls: 'auto-complete-container form-control form-control-sm',
                    allowFreeEntries: onlySuggestions === false,
                    allowDuplicates: false,
                    toggleOnClick: true,
                    useTabKey: true,
                    data: list,
                    minChars: 0,
                    maxSelection: null,
                    placeholder: 'Suchbegriff',
                    noSuggestionText: 'Kein Eintrag gefunden',
                    selectionContainer: targetContainer,
                    selectionCls: 'suggested-tag'
                });

                suggestionBox.care = function (tagType, id) {
                    $(suggestionBox).on('selectionchange', function () {
                        onTaggedItemChanged(id, this.getValue(), tagType, $dataRow);
                    });
                };

                return suggestionBox;
            }
        }(jQuery, document));

        function hideImage(ele) {
            ele.style.display = 'none';
        }

    </script>
{% endblock %}
