{% for day,rows in events %}
<table cellpadding=0 cellspacing=0 style="width: 100%;text-align:left;page-break-inside: avoid">
        <th style="page-break-before: always;border-bottom: 1px solid grey" colspan="3"><br/>{{ day|localizeddate('full', 'none') }}</th>
        {% for row in rows %}
        <tr>
            <td style="width:5px;{% if row['resource']['color'] is defined %} background-color: {{ row['resource']['color'] }};{% endif %} border-bottom: 1px solid grey">&nbsp;</td>
            <td style="padding-left:5px; width:80%; border-bottom: 1px solid grey">{% if row['resource']['title'] is not empty %}{{ row['resource']['title'] }} - {% endif %}{{ row['title'] }}</td>
            <td style="border-bottom: 1px solid grey">{% if row['all_day'] != true %}{{ row['start_time'] }} - {{ row['end_time'] }}{% else %}fullday{% endif %}</td>
        </tr>
        {% endfor %}
</table>
{% endfor %}