{% block footer %}


{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var apiUrl = "{{ path('api') }}";
        var AT = AT || {};
        AT.q=[];
        AT._defer=function(f){
            AT.q.push(f);
        };
    </script>

    <script type="text/javascript" src="{{ asset('js/common.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dashboard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $.each(AT.q,function(index,f){
                $(f);
            });
        });
    </script>
{% endblock %}