{% extends '::base.html.twig' %}

{% use ':doctor/dashboard:footer.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/magicsuggest-min.css') }}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

    <style type="text/css">
        h3 {
            margin-bottom: 5px;
        }

        .ms-sel-item.suggested-tag {
            background-color: #0090d6;
            color: #fff9e5;
            margin-right: 5px;
        }

        .add-holiday {
            width: 100%;
            margin-top: -5px;
        }

        .custom-table {
            width: 100%;
        }

        .table-header {
            font-size: 13px;
            line-height: 200%;
            vertical-align: middle;
        }

        .table-row {
            padding: 1.2em 0.2em;
            margin: 0 !important;
        }

        .custom-table .table-row:nth-child(2n) {
            background-color: #ddd;
        }

        .table-footer {
            font-size: 13px;
            text-align: center;
            padding: 5px 0;
        }

        .remove-row {
            text-align: right;
            color: #111;
        }
        .remove-row:hover {
            color: #6F1309;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container summary">
        {% include ':doctor/dashboard/calendar:navigation.html.twig' with { 'active_route': 'doctor_calendar_holiday_management' } %}

        <h3>Feiertage</h3>
        <div class="custom-table">
            <div class="row table-header">
                <div class="col-xs-12 hidden-sm-up">
                    <button class="btn btn-primary btn-sm add-holiday" data-public-holiday="yes">Feiertag hinzufügen</button>
                </div>
                <div class="col-xs-5 col-sm-6">Beschreibung</div>
                <div class="col-xs-3 col-sm-4">Datum</div>
                <div class="col-sm-2 hidden-xs-down">
                    <button class="hidden-lg-down btn btn-primary btn-sm add-holiday" data-public-holiday="yes">Feiertag hinzufügen</button>
                    <button class="hidden-xl-up btn btn-primary btn-sm add-holiday" data-public-holiday="yes">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <hr style="margin: 10px 0 0 0;" />
            {% set hasPublicHolidays = false %}
            {% for day in holidays.values if day.publicHoliday %}
                {% set hasPublicHolidays = true %}
                <div class="row table-row" data-id="{{ day.id }}">
                    <div class="col-xs-5 col-md-6">{{ day.name }}</div>
                    <div class="col-xs-3 col-md-4">{{ day.begin | date_format('d. M Y') }}</div>
                    <div class="col-xs-4 col-md-2" style="text-align: right;">
                        <a href="#" class="btn btn-primary-outline btn-sm remove-row"><span class="fa fa-fw fa-trash"></span></a>
                    </div>
                </div>
            {% endfor %}
            {% if not hasPublicHolidays %}
                <div class="table-footer">
                    <small>Es wurden noch keine Feiertage aktiviert</small>
                </div>
            {% endif %}
        </div>
        <hr>
        <h3>Abwesenheiten</h3>
        <div class="custom-table">
            <div class="row table-header">
                <div class="col-xs-12 hidden-sm-up">
                    <button class="btn btn-primary btn-sm add-holiday">Abwesenheit hinzufügen</button>
                </div>
                <div class="col-xs-6 col-sm-3">Beschreibung</div>
                <div class="col-xs-6 col-sm-3">Mitarbeiter</div>
                <div class="col-xs-6 col-sm-2">Von</div>
                <div class="col-xs-6 col-sm-2">Bis</div>
                <div class="col-sm-2 hidden-xs-down">
                    <button class="hidden-lg-down hidden-sm hidden-xs btn btn-primary btn-sm add-holiday">Abwesenheit hinzufügen</button>
                    <button class="hidden-xl-up btn btn-primary btn-sm add-holiday">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <hr style="margin: 10px 0 0 0;" />
            {% set hasCustomAbsence = false %}
            {% for day in holidays.values if not day.publicHoliday %}
                {% set hasCustomAbsence = true %}
                <div class="row table-row" data-id="{{ day.id }}">
                    <div class="col-xs-6 col-sm-3">{{ day.name }}</div>
                    <div class="col-xs-6 col-sm-3">
                        {% for r in day.resourceIds %}
                            {% set doctorName = doctorResourceMapping[r] %}
                            {% if doctorName %}
                                {{ doctorName }}
                                {% if loop.index < day.resourceIds|length %},{% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-xs-6 col-sm-2">{{ day.begin | date_format('d. M Y') }}</div>
                    <div class="col-xs-6 col-sm-2">{{ day.end | date_format('d. M Y') }}</div>
                    <div class="col-xs-1 col-sm-2" style="text-align: right;">
                        <a href="#" class="btn btn-primary-outline btn-sm remove-row"><span class="fa fa-fw fa-trash"></span></a>
                    </div>
                </div>
            {% endfor %}
            {% if not hasCustomAbsence %}
                <div class="table-footer">
                    <small>Es sind aktuell keine Abwesenheiten hinterlegt</small>
                </div>
            {% endif %}
        </div>

        <div class="w-100"></div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/utilities.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/magicsuggest-min.js') }}" async></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js" async></script>
    <script type="text/javascript">
        var doctors = {{ availableDoctors | json_encode | raw }}

        $(document).ready(function () {

            $('.add-holiday').click(function (e) {
                e.preventDefault();

                var btn = $(this);
                var isPublic = btn.attr('data-public-holiday') === 'yes';
                $.get('{{ path('doctor_calendar_create_holiday_modal') }}?public=' + (1*isPublic), function (html) {
                    handleOpenModal($(html));
                });
            });

            var trashIcons = $('.remove-row');
            trashIcons.click(function (e) {
                e.preventDefault();
                e.stopPropagation();

                trashIcons.attr('disabled', 'disabled');
                trashIcons.css({ color: '#666' });

                var row = $(this).parent().parent();
                var id = row.attr('data-id');

                $.ajax({ url: '{{ path('api_delete_holiday', { id: 42 }) }}'.replace('/42', '/' + id), method: 'DELETE', success: function (res) {
                    trashIcons.attr('disabled', null);
                    trashIcons.css({ color: '#111' });

                    if (res.success) {
                        row.fadeOut();
                    }
                }});
            });

        });

        function handleOpenModal(modal) {
            modal.on('hide.bs.modal', function() {
                modal.remove();
            });

            modal.modal();

            enableDatepicker(modal);
            enableAutosuggest(modal);

            var errorContainer = modal.find('#createHolidaysErrors');

            modal.find('form').submit(function (evt) {
                evt.preventDefault();
                errorContainer.fadeOut(function () {
                    errorContainer.html('');
                });

                var form = $(this);
                var submit = form.find('[type=submit]');
                submit.attr('disabled', 'disabled');

                var data = form.serialize();

                $.ajax({
                    url: '{{ path('api_post_holidays') }}',
                    method: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (res) {
                        window.location.reload();
                    },
                    error: function (err) {
                        submit.attr('disabled', null);

                        var result = err.responseJSON;
                        var invalidRange = hasErrorResponse(result, 'beginInFuture').length
                            || hasErrorResponse(result, 'beginBeforeEnd').length;

                        if (invalidRange) {
                            errorContainer.append(buildAlert('warning', '{{ 'ui.appointments.form.errors.invalid_range'|trans }}'));
                        } else if (hasErrorResponse(result, 'name').length) {
                            errorContainer.append(buildAlert('warning', '{{ 'ui.form.name.error_message'|trans }}'));
                        } else {
                            errorContainer.append(buildAlert('danger', '{{ 'ui.appointments.form.errors.error_occurred'|trans }}'));
                        }
                        errorContainer.fadeIn();
                    }
                });
            });
        }

        function enableDatepicker(modal) {
            modal.find('.js-datepicker').datepicker({
                startDate: new Date(),
                autoclose: true,
                daysOfWeekDisabled: [0, 6],
                weekStart: 1,
                zIndexOffset: 1500,
                format: 'dd.mm.yyyy'
            }).on('hide', function(event) {
                event.preventDefault();
                event.stopPropagation();
            });
        }

        function enableAutosuggest(modal) {
            var suggestionBox = modal.find('.doctor-auto-complete').magicSuggest({
                cls: 'form-control',
                allowFreeEntries: false,
                allowDuplicates: false,
                toggleOnClick: true,
                useTabKey: true,
                data: doctors,
                displayField: 'name',
                minChars: 1,
                maxSelection: null,
                placeholder: 'Name des Doktors',
                noSuggestionText: 'Kein Eintrag gefunden',
                selectionContainer: modal.find('.auto-complete-container'),
                selectionCls: 'suggested-tag'
            });

            var originalInput = modal.find('.resource-id-collection');
            var newWidget = originalInput.attr('data-prototype');

            $(suggestionBox).on('selectionchange', function () {
                originalInput.html('');

                var values = this.getValue();
                for (var i = 0; i < values.length; i++) {
                    var entry = $((newWidget + '').replace(/__name__/g, i));
                    entry.find('input').val(values[i]);

                    entry.appendTo(originalInput);
                }
            });
        }
    </script>
{% endblock %}
