{% if active_route is not defined %}
{% set active_route = '' %}
{% endif %}

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">

        <li class="nav-item{% if active_route == 'doctor_calendar_resources' %} active{% endif %}" id="calendar_resources">
            <a class="nav-link" href="{{ path('doctor_calendar_resources') }}">{{ 'ui.doctor.dashboard.calendar.navigation.resources'|trans }}</a>
        </li>

        <li class="nav-item{% if active_route == 'doctor_calendar_treatments' %} active{% endif %}" id="calendar_treatments">
            <a class="nav-link" href="{{ path('doctor_calendar_treatments') }}">{{ 'ui.doctor.dashboard.calendar.navigation.treatment_types'|trans }}</a>
        </li>

        <li class="nav-item{% if active_route == 'doctor_calendar_doctor_management' %} active{% endif %}" id="calendar_doctor_management">
            <a class="nav-link" href="{{ path('doctor_calendar_doctor_management') }}">{{ 'ui.doctor.dashboard.calendar.navigation.doctor_management'|trans }}</a>
        </li>

        <li class="nav-item{% if active_route == 'doctor_calendar_availabilities' %} active{% endif %}" id="calendar_availabilities">
            <a class="nav-link" href="{{ path('doctor_calendar_availabilities') }}">{{ 'ui.doctor.dashboard.calendar.navigation.availabilities'|trans }}</a>
        </li>

        <li class="nav-item{% if active_route == 'doctor_calendar_holiday_management' %} active{% endif %}" id="calendar_doctor_management">
            <a class="nav-link" href="{{ path('doctor_calendar_holiday_management') }}">{{ 'ui.doctor.dashboard.calendar.navigation.holidays'|trans }}</a>
        </li>

    </ul>
</nav>
