{% extends '::base.html.twig' %}

{% use ':doctor/dashboard:footer.html.twig' %}

{% block content %}
    <div class="container summary">
        <div class="row">
            <div class="col-sm-12">
                {% include ':doctor/dashboard/calendar:navigation.html.twig' with { 'active_route': 'doctor_calendar_resources' } %}
            </div>
        </div>
        <script type="text/html" id="data-row-template">
            {% spaceless %}
                <tr class="data-row">
                    <td><span class="handle"><i class="fa fa-arrows"></i></span></td>
                    <td class="form-inline">
                        <label class="m-r-1">{{ 'ui.doctor.dashboard.calendar.resource'|trans }}</label>
                        {{ form_row(form.name, { id: false, attr: { class: 'resource-title' } }) }}
                    </td>
                    <td class="form-inline">
                        {{ form_row(form.type, { id: false, attr: { class: 'type' } }) }}
                    </td>
                    <td>
                        <label class="m-r-1">{{ 'ui.doctor.dashboard.calendar.resource_color'|trans }}</label>
                        <select class="color color-picker">
                            <option value="#16a765">#16a765</option>
                            <option value="#d06b64">#d06b64</option>
                            <option value="#f83a22">#f83a22</option>
                            <option value="#fa573c">#fa573c</option>
                            <option value="#ff7537">#ff7537</option>
                            <option value="#ffad46">#ffad46</option>
                            <option value="#42d692">#42d692</option>
                            <option value="#ac725e">#ac725e</option>
                            <option value="#7bd148">#7bd148</option>
                            <option value="#b3dc6c">#b3dc6c</option>
                            <option value="#fbe983">#fbe983</option>
                            <option value="#fad165">#fad165</option>
                            <option value="#92e1c0">#92e1c0</option>
                            <option value="#9fe1e7">#9fe1e7</option>
                            <option value="#9fc6e7">#9fc6e7</option>
                            <option value="#4986e7">#4986e7</option>
                            <option value="#9a9cff">#9a9cff</option>
                            <option value="#b99aff">#b99aff</option>
                            <option value="#c2c2c2">#c2c2c2</option>
                            <option value="#cabdbf">#cabdbf</option>
                            <option value="#cca6ac">#cca6ac</option>
                            <option value="#f691b2">#f691b2</option>
                            <option value="#cd74e6">#cd74e6</option>
                            <option value="#a47ae2">#a47ae2</option>
                        </select>
                    </td>
                    <td>
                        <a class="btn btn-primary-outline btn-sm remove-row"><span class="fa fa-fw fa-trash"></span></a>
                    </td>
                </tr>
            {% endspaceless %}
        </script>

        <div class="row">
            <div class="col-sm-12">
                <div class="loading"></div>

                <div class="table-responsive">
                    <table class="table table-striped m-y-1 no-table-when-mobile with-border">
                        <tbody id="data-row-container">

                        </tbody>
                    </table>
                </div>
                <form id="validation-container"></form>
                <a class="btn btn-primary-outline btn-sm" id="data-row-add"><span class="fa fa-fw fa-plus"></span> {{ 'ui.doctor.dashboard.calendar.add_row'|trans }}
                </a>
                <hr/>
                <button class="btn btn-primary pull-right save" type="submit">{{ 'ui.doctor.dashboard.account.button_save'|trans }}</button>
            </div>
        </div>
    </div>
    <div id="token" data-token="{{ app.user.accessToken }}"></div>
    <div id="practice" data-id="{{ practiceId() }}"></div>
    <div id="module" data-module="resources"></div>
    <div id="endpoint" data-endpoint='{{ url('home') }}api/v2'></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/dashboard/calendar.js') }}"></script>

    <script>
        (function ($, doc) {

            $(doc).on('dashboard:calendar:new-entity', function (e, $dataRow, data) {
                $dataRow.data('id', data.resource.id || 0);
            });

            $(doc).on('dashboard:calendar:row-added', function (e, $dataRow, data) {
                if ($dataRow) {
                    // Map data to row (with defaults)
                    $dataRow.find('.resource-title').val(data.name || '');
                    $dataRow.find('.color').val(data.color || '#16a765').simplecolorpicker({ picker: true });
                    $dataRow.data('id', data.id || 0);

                    var typeInput = $dataRow.find('.type');
                    if (data.type.toLowerCase() === 'doctor') {
                        typeInput.prev().append('&nbsp; {{ 'ui.doctor.dashboard.calendar.resource_types.doctor'|trans }}');
                        typeInput.css({ display: 'none' });

                        $dataRow.find('.remove-row').remove();
                    }

                    typeInput.val(data.type || '');
                    typeInput.attr('data-resource-type', data.type);
                 }
            });

            $(doc).on('dashboard:calendar:data-preload', function (e, response) {
                var types = response.body(false);

                types.forEach(function(type) {
                    if (!type.resources) {
                        return;
                    }

                    type.resources.forEach(function(entity) {
                        $(doc).trigger('dashboard:calendar:add-row', [entity]);
                    });
                });
            });

            // Get the payload to send to the server
            $(doc).on('dashboard:calendar:payload', function () {
                var data = [];

                $('#data-row-container').find('tr.data-row').each(function (idx) {
                    var $this = $(this);
                    var typeInput = $this.find('.type');

                    var entity = {
                        dataRow: $this,
                        name: $this.find('.resource-title').val(),
                        type: typeInput.val() || typeInput.attr('data-resource-type'),
                        color: $this.find('.color').val(),
                    };

                    if ($this.data('id')) {
                        entity.id = $this.data('id');
                    }

                    data.push(entity);
                });

                return data;
            });
        }(jQuery, document));
    </script>

{% endblock %}
