{% extends '::base.html.twig' %}

{% use ':doctor/dashboard:footer.html.twig' %}

{% block content %}
    <div class="container summary">
        <div class="row">
            <div class="col-sm-12">
                {% include ':doctor/dashboard/calendar:navigation.html.twig' with { 'active_route': 'doctor_calendar_treatments' } %}
            </div>
        </div>
        <script type="text/html" id="data-row-template">
            {% spaceless %}
                <tr class="data-row">
                    <td><span class="handle"><i class="fa fa-arrows"></i></span></td>
                    <td class="form-inline">
                        {{ form_row(form.type, { id: false, attr: { class: 'treatment-type' } }) }}
                    </td>
                    <td class="form-inline">
                        {% if not hasPaidTreatments %}
                            <fieldset  disabled data-toggle="tooltip" title="Der Zahlungsdienst erfordert eine Erweiterung Ihres Benutzerkontos. Bitte kontaktieren Sie unser Accountmanagement unter {{ application.phone.sales }}">
                                {{ form_row(form.charge, { id: false, attr: { class: 'charge-amount' } }) }}
                            </fieldset>
                        {% else %}
                            {{ form_row(form.charge, { id: false, attr: { class: 'charge-amount' } }) }}
                        {% endif %}
                    </td>
                    <td class="form-inline">
                        {% if not hasPaidTreatments %}
                            <fieldset disabled data-toggle="tooltip" title="Der Zahlungsdienst erfordert eine Erweiterung Ihres Benutzerkontos. Bitte kontaktieren Sie unser Accountmanagement unter {{ application.phone.sales }}">
                                {{ form_row(form.forcePay, { id: false, attr: { class: 'forcePay' } }) }}
                            </fieldset>
                        {% else %}
                            {{ form_row(form.forcePay, { id: false, attr: { class: 'forcePay' } }) }}
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary-outline btn-sm remove-row"><span class="fa fa-fw fa-trash"></span></a>
                    </td>
                </tr>
            {% endspaceless %}
        </script>

        <div class="row">
            <div class="col-sm-12">
                <div class="loading"></div>

                <div class="table-responsive">
                    <table class="table table-striped m-y-1 no-table-when-mobile with-border">
                        <tbody id="data-row-container">

                        </tbody>
                    </table>
                </div>
                <form id="validation-container"></form>
                <a class="btn btn-primary-outline btn-sm" id="data-row-add"><span class="fa fa-fw fa-plus"></span> {{ 'ui.doctor.dashboard.calendar.add_row'|trans }}
                </a>
                <hr/>
                <button class="btn btn-primary pull-right save" type="submit">{{ 'ui.doctor.dashboard.account.button_save'|trans }}</button>
            </div>
        </div>
    </div>

    <div id="token" data-token="{{ app.user.accessToken }}"></div>
    <div id="practice" data-id="{{ practiceId() }}"></div>
    <div id="module" data-module="treatment-types"></div>
    <div id="endpoint" data-endpoint='{{ url('home') }}api/v2'></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/dashboard/calendar.js') }}"></script>

    <script>
        (function ($, doc) {
            $(doc).on('dashboard:calendar:new-entity', function(e, $dataRow, data) {
                $dataRow.data('id', data.treatmenttype.id || 0);
            });

            $(doc).on('dashboard:calendar:row-added', function (e, $dataRow, data) {
                if ($dataRow) {
                    // Map data to row (with defaults)
                    $dataRow.find('.treatment-type').val(data.type || '');
                    $dataRow.find('.forcePay').val((data.force_pay) ? 1 : 0);
                    $dataRow.find('#treatment_type_charge_amount').val((data.charge) ? (data.charge.amount / 100) : '');
                    $dataRow.data('id', data.id || 0);
                }
            });

            $(doc).on('dashboard:calendar:data-preload', function (e, response) {
                var entities = response.body();

                entities.forEach(function (entity) {
                    $(doc).trigger('dashboard:calendar:add-row', [entity.data()]);
                });
            });

            // Get the payload to send to the server
            $(doc).on('dashboard:calendar:payload', function () {
                var data = [];

                $('#data-row-container').find('tr.data-row').each(function (idx) {
                    var $this = $(this);

                    var entity = {
                        dataRow: $this,
                        type: $this.find('.treatment-type').val(),
                        forcePay: (1* $this.find('.forcePay').val()) === 1,
                        charge: {
                            amount: $this.find('#treatment_type_charge_amount').val() * 100
                        }
                    };

                    if (!entity.charge.amount) {
                        delete entity.charge;
                    }

                    if ($this.data('id')) {
                        entity.id = $this.data('id');
                    }

                    data.push(entity);
                });

                return data;
            });

            $('fieldset').tooltip({
                'delay': { show: 0, hide: 3000 }
            });

            }(jQuery, document));
    </script>

{% endblock %}
