{% extends '::base.html.twig' %}

{% use ':doctor/dashboard/calendar:footer.html.twig' %}

{% block content %}
<atwidgetmain>Einen Augenblick bitte ...</atwidgetmain>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    document.write("<base href='{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}' />");
    window.at_practice = {{ practiceId }};
    window.at_auth_type = 'Bearer';
    window.at_token = '{{ token }}';
    window.at_hide_map = true;
</script>
<script type="text/javascript" src="{{ widgetUrl }}" async></script>
{% endblock %}
