{% if appointmentsBlock.type == 'appointments' %}
    {% for date,day in appointmentsBlock.days %}
        <div class="col{% if day.weekday == 1 %} week-start{% endif %}" data-date="{{ date }}">
            <div class="col-header">
                <span class="day">{{ day.day_text }}</span>
                <span class="date">{{ day.date_text }}</span>
            </div>

            {% if day.appointments is defined %}

                {% for appointment in day.appointments %}
                    {% if loop.index == 3 and day.appointments|length > 3 %}
                        <div class="appointment more" data-toggle="popover" data-placement="left" data-content-list="[data-behavior=more-appointments-{{ date }}]">
                        <div>{{ 'word.more'|trans }}</div>
                        <div class="more-appointments" data-behavior="more-appointments-{{ date }}">
                    {% endif %}

                    <a class="appointment" href="{{ appointment.url }}">{{ appointment.time_text }}</a>
                {% endfor %}

                {% if day.appointments|length > 3 %}
                    </div>
                    </div>
                {% endif %}

            {% endif %}
        </div>
    {% endfor %}

{% elseif appointmentsBlock.type == 'appointment-enquiry' %}
    {% for i in 0..14 %}
        <div class="col is-a-dummy"></div>
    {% endfor %}

    <div class="appointment-enquiry">
        <a href="{{ appointmentsBlock.url }}" class="btn btn-primary">{{ 'ui.search.calendar.appointment_enquiry'|trans }}</a>
    </div>

{# also use this as the default if we have bad integration data #}
{# appointmentsBlock.type == 'no-available-appointments' #}
{% else %}
    {% for i in 0..14 %}
        <div class="col is-a-dummy"></div>
    {% endfor %}

    <div class="no-appointment-available">
        {{ 'ui.search.calendar.no_appointment_available'|trans }}
    </div>

{% endif %}