{% set appointmentsBlock = getAppointmentsBlock(provider) %}
<div class="appointments-block type-appointments {% if appointmentsBlock.type == 'appointments' %} scrollable{% endif %} {{ additional_classes|default('large') }}"
        data-user-id="{{ provider.getDoctor.getId }}"
        data-specialty-id="{{ provider.getDoctor.getMedicalSpecialtyIds|join(',') }}"
        data-location-id="{{ provider.getLocation.getId }}"
        data-show-next-appointment-label="{{ 'ui.widget.appointment.next_available_appointment'|trans }}" {# this single line is temporary until translation export bundle completed #}
>
    <div class="wrapper">
    {% include ':search:appointments-block.html.twig' with { 'appointmentsBlock': appointmentsBlock } %}
    </div>
    <div class="arrow left disabled"></div>
    <div class="arrow right{% if appointmentsBlock.type != 'appointments' %} disabled{% endif %}"></div>
</div>
