{% extends '::base.html.twig' %}

{% set minimalFooter = true %}
{% set fixedHeader = true %}

{% block content %}
<div class="page-search">

    <div class="map" data-name="collapsible-map">
        {# The map container #}
        <div id="search-map" style="height:100%;width:100%"></div>
        <div class="search-map-shadow top"></div>
        <div class="search-map-shadow right"></div>
        <div class="search-map-shadow blocker"></div>

        {# Defines map center geo location used in maps.js #}
        <div id="search-location" data-lat="{{ map.lat }}" data-lng="{{ map.lng }}" data-name="{{ 'ui.search.search_location'|trans }}"></div>

        {# Placeholder for the map markers popups #}
        <div class="map-popup-wrapper" id="map-popup">
            <div class="map-popup">
                <div class="photo">
                    <img src="" alt="">
                </div>
                <div class="details">
                    <h3 class="name"><a href=""></a></h3>
                    <div class="street"></div>
                    <div class="cityzip"></div>
                </div>
                <div class="actions">
                    <a role="button" class="btn btn-primary btn-sm btn-block" href="">{{ 'ui.search.map_popup.button_show_appointments'|trans }}</a>
                </div>
            </div>
        </div>
        {# END - Placeholder for the map markers popups #}
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-4">
                <div class="results">
                    {# Search filters panel #}
                    <form class="search-form on-light-background m-b-1" method="get" action="{{ path('search') }}">
                        <fieldset class="form-group m-b-0">
                            <div class="col-md-6 col-lg-4 col-xl-4">
                                <label class="form-control-label" for="specialization">{{ 'ui.search.specialty.label'|trans }}</label>
                                {{ macro.input_select("search[medical_specialty_id]", getMedicalSpecialtyText([], false, '', true), app.request.get('search').medical_specialty_id) }}
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-4">
                                <label class="form-control-label" for="location">{{ 'ui.search.place.label'|trans }}</label>
                                <input class="form-control" name="search[location]" id="filter-location" placeholder="{{ 'ui.search.place.placeholder'|trans }}" type="text" value="{{ map.location|capitalize }}" />
                            </div>
                            <div class="col-md-3 col-lg-4 col-xl-4 hidden-md-down">
                                <label class="form-control-label invisible">Buscar </label><button class="btn btn-secondary btn-block" type="submit">{{ 'ui.search.filters.filter_results'|trans }}</button>
                            </div>
                        </fieldset>
                        <fieldset class="form-group m-b-0 search-filter collapse" data-name="search-filter">
                            <div class="inner">
                                <div class="col-md-6 col-lg-4 col-xl-4">
                                    {{ macro.input_select("search[distance]", {'5':'5 km', '10':'10 km', '50':'50 km'}, app.request.get('search').distance|default(0), 'ui.search.filters.max_distance_from_search') }}
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-4">
                                    {{ macro.input_select("search[treatment]", getTreatmentServiceText([], app.request.get('search').medical_specialty_id, false, '', true), app.request.get('search').treatment|default(0), 'ui.search.filters.treatment_service') }}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group search-filter-toggle">
                            <div class="col-sm-12">
                                <a data-target="[data-name=search-filter]" data-toggle="collapse" href="#">{{ 'ui.search.filters.show_more'|trans }}</a><button class="btn btn-secondary btn-block hidden-lg-up mt-1" type="submit">Ordenar resultados</button>
                            </div>
                        </fieldset>
                    </form>
                    {# END - Search filters panel #}

                    <div class="text-xs-center hidden-md-up">
                        <a class="btn btn-primary-outline btn-block collapse-map-button m-b-1" data-behavior="collapse-map" data-target="[data-name=collapsible-map]">
                            <i class="fa fa-map-o"></i>
                            <span class="enable-map">Ver mapa</span>
                            <span class="disable-map">Ocultar mapa</span>
                        </a>
                    </div>

                    {# SEARCH RESULTS #}
                    <div class="result-list" id="providers" data-date-start="{{ date_start }}" data-date-end="{{ date_end }}" data-date-days="{{ date_days }}">
                        {% if total_entries > 0 %}
                            {# HEADLINE #}
                            <div class="headline">
                                <div class="headline-text">
                                    <strong>{{ total_entries }} {{ medical_specialty }}</strong> {{ 'ui.search.results.in'|trans }} <strong>{{ map.location|capitalize }}{% if district is defined %} ({{ district.getName }}{% endif %}</strong> {{ 'ui.search.results.have_appointments_for_you'|trans }}.
                                </div>

                                {# Pagination #}
                                <div class="buttons btn-group">
                                    {{ knp_pagination_render(pagination) }}
                                </div>
                                {# END - Pagination #}
                            </div>
                            {# END - HEADLINE #}

                            {% include ':search:searchresult-template.html.twig' %}

                            {# Additional spammy seo content #}
                            {% if seo_text.getContent1 %}
                                <div class="additional-content">
                                    <p>{{ seo_text.getContent1 }}</p>
                                </div>
                            {% endif %}

                            <div class="footer">
                                {# Pagination #}
                                <div class="buttons btn-group pull-right-sm-up">
                                    {{ knp_pagination_render(pagination) }}
                                </div>
                                {# END - Pagination #}
                            </div>

                        {% else %}
                            <h1 itemprop="headline">
                                {{ 'ui.search.results.no_results'|trans|raw }}
                            </h1>
                        {% endif %}
                    </div>
                    {# END - SEARCH RESULTS #}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google.maps.api.key }}"></script>
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/searchmap.min.js') }}"></script>

    <script type="text/javascript">
        var searchData = {{ data|raw }};
    </script>
{% endblock %}