<div style="display:none" id="searchresultitem">
    <div class="result mt-2" data-index="1" data-slug="">
        <div class="row">

            <div class="col-xs-3 hidden-sm-up p-r-0">
                <img class="fullsize-image" src="" />
            </div>

            <div class="col-xs-9 col-sm-9">
                <span property="latitude" content="" style="display:none"></span>
                <span property="longitude" content="" style="display:none"></span>
                <span class="icon icon-map"><span class="number"></span></span>
                <div>
                    <h3 class="m-b-0 m-r-1">
                        <a itemprop="url" href=""></a>
                    </h3>
                    <div class="rating-star">
                        <div class="stars">
                            <div style="width:100%"></div>
                            <meta content="" itemprop="worstRating">
                            <meta content="" itemprop="ratingValue">
                            <meta content="" itemprop="bestRating">
                        </div>
                    </div>
                    <p class="m-b-0">
                        <span class="address"><small></small></span>
                        <br />
                        <a class="hidden-sm-up" href="tel:"></a>
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 hidden-xs-down">
                <a class="pull-right-xs-up" href="tel:"><span class="fa fa-phone"></span></a>
            </div>
        </div>
        <div class="profile-picture-and-calendar">
            <div class="picture hidden-xs-down" style="">
            </div>
            {# CALENDAR #}
            <div class="calendar-wrapper">
                <div data-show-next-appointment-label="Próxima cita disponible:" data-location-id="" data-specialty-id="" data-user-id="" class="appointments-block type-appointments large">
                    <div class="wrapper">

                    </div>
                    <div class="arrow left disabled"></div>
                    <div class="arrow right disabled"></div>
                </div>
            </div>
            {# END - CALENDAR #}
        </div>
    </div>
</div>