Leider wurde Ihr Termin am <span th:remove="tag" th:text="|${#temporals.format(new java.util.Date(new java.lang.Long(start)).toInstant().atZone(requestedTimeZone), 'dd.MM.yyyy HH:mm')}Uhr|"></span> storniert.
Bei Fragen kontaktieren Sie uns bitte unter <span th:remove="tag" th:text="${practicePhone}">Telefonnummer</span><span th:remove="tag" th:if="${practiceMail}"> oder per <span th:text="${practiceMail}" th:remove="tag"></span></span>.
