Ihr Termin hat sich geändert. Der Termin wurde auf den <span th:text="${#temporals.format(new java.util.Date(new java.lang.Long(start)).toInstant().atZone(requestedTimeZone), 'dd.MM.yyyy')}" th:remove="tag"></span> um <span th:text="${#temporals.format(new java.util.Date(new java.lang.Long(start)).toInstant().atZone(requestedTimeZone), 'HH:mm')}" th:remove="tag"></span>Uhr verschoben.
<span th:remove="tag" th:text="${practiceName}"></span>
