Bitte denken Sie an Ihren Termin am <span th:remove="tag" th:text="|${#temporals.format(new java.util.Date(new java.lang.Long(start)).toInstant().atZone(requestedTimeZone), 'dd.MM.yyyy HH:mm')}Uhr|"></span>.
Für Verschiebungen rufen Sie uns bitte unter der <span th:remove="tag" th:if="${practicePhone}" th:text="${practicePhone}"></span><span th:remove="tag" th:if="not ${practicePhone}">0800 - 22 22 133</span> an.
<span th:remove="tag" th:text="${practiceName}"></span>
