<span th:remove="tag" th:text="${practiceName}"></span>: <span th:remove="tag" th:text="|${#temporals.format(new java.util.Date(new java.lang.Long(start)).toInstant().atZone(requestedTimeZone), 'dd.MM.yyyy HH:mm')}Uhr|"></span>
<span th:remove="tag" th:text="|${location} ${zip} ${city}|"></span>. Wir freuen uns auf Ihren Besuch!
