<table class="table table-striped">
	<thead>
		<tr>
			<th colspan="{{ data_array|length }}">{{ "ui.form.are_you_sure"|trans }}</th>
		</tr>
	</thead>
	<tbody>
    {% for data in data_array %}
	<tr>
		<th class="nowrap">{{ data.key|raw }}</th>
		<td>{{ data.value }}</td>
	</tr>
    {% endfor %}
	<tr class="form_buttons">
		<td colspan="{{ data_array|length }}">
			<div><form action="{{ url_form_action }}" method="post">
				<input type="submit" value="OK" class="button-primary">
				<input type="hidden" name="confirm_id" value="{{ id_field }}">
				<input type="hidden" name="action" value="{{ action }}">
				{{ hidden_values|raw }}
				</form>
			</div>
			<div><form method="post" action="{{ url_form_action }}">
				{{ hidden_values|raw }}
				<input type="submit" value="{{ "ui.form.button_cancel"|trans }}" class="button-secondary"></form>
			</div>
		</td>
	</tr>
	</tbody>
</table>
