<form method="post" action="{{ url_form_action }}" id="editform" name="editform" enctype="multipart/form-data">
    {% if hidden_id is defined and hidden_id==true %}<input type="hidden" name="id" value="{{ hidden_id }}">{% endif %}
    <input type="hidden" name="action" value="{{ action }}">
    {{ hidden_values|raw }}
    <fieldset>

        <div class="card">
            <div class="card-header">{{ header }}
                {% if hide_non_searched_keys is defined and hide_non_searched_keys==true %}
                <a href="#" style="float:right;font-size:90%;" onClick="$('.search_key.hidden_search_key').toggle();$(this).children().toggle();">
                    <span>{{ "admin.ui.tools.show_all_search_keys"|trans }}</span>
                    <span class="hidden">{{ "admin.ui.tools.hide_all_search_keys"|trans }}</span>
                </a>
                {% endif %}
            </div>

            {# loop the data_array for hidden fields #}
            {% for data in data_array %}
                {% if data.hidden is defined %}{{ data.hidden|raw }}{% endif %}
            {% endfor %}

            <div class="card-block-tabs">
            {# loop the form_data for visible fields #}
            {% if form_data_table is defined %}
                {# it's eigther a prefilled content #}
                {{ form_data_table|raw }}
            {% else %}
                {# or we need to fetch it right here #}
                {{ include('admin/_form_data_table.html.twig') }}
            {% endif %}
            </div>

            <div class="card-footer">
                <button class="btn btn-primary" type="submit" name="send_button">{{ text_submit }}</button>
                <a href="{{ url_cancel }}"><button class="btn btn-default" type="button">{{ text_cancel }}</button></a>
            </div>
        </div>
    </fieldset>
</form>
