<div class="form-group">
    <input type="text" id="form_data_{{ form_data.name }}" class="form_text{% if form_data.message is defined %} input_error{% endif %}" name="form_data[{{ form_data.name }}]" value="{{ form_data.value }}" {{ form_data.optional|raw }}>
    {% if form_data.message is defined %}{{ form_data.message|raw }}{% endif %}

    <script type="text/javascript">
        AT._defer(function () {
            $(function () {
                $('#{{ form_data.name }}').datepicker({
                    showWeek: true,
                    dateFormat: 'yy-mm-dd'
                });
            });
        });
    </script>
</div>