<div class="form-group{% if form_data.message is defined %} has-warning{% endif %}">
    <input type="text" id="form_data_{{ form_data.name }}" class="form-control" name="form_data[{{ form_data.name }}]" value="{{ form_data.value }}" {{ form_data.optional|raw }}>
    {% if form_data.message is defined %}{{ form_data.message|raw }}{% endif %}
</div>