<div class="form-group{% if form_data.message is defined %} has-warning{% endif %}">
    <input type="text" id="form_data_{{ form_data.name }}" class="form-control" name="form_data[{{ form_data.name }}]" value="{{ form_data.value }}" {{ form_data.optional|raw }}>
    <span class="input-group-addon" id="form_data_{{ form_data.name }}_counter"></span>
    {% if form_data.message is defined %}{{ form_data.message|raw }}{% endif %}
</div>

<script type="text/javascript">
    AT._defer(function(){
        $(function() {
            $('#form_data_{{ form_data.name }}').simplyCountable({
                counter: '#form_data_{{ form_data.name }}_counter',
                countType: 'characters',
                strictMax: true,
                maxCount: 250,
                countDirection: 'up'
            });
        });
    });
</script>
