<div class="form-group{% if form_data.message is defined %} has-warning{% endif %}">
    <textarea id="form_data_{{ form_data.name }}" class="form-control" name="form_data[{{ form_data.name }}]" {{ form_data.optional|raw }}>{{ form_data.value }}</textarea>
    {% if form_data.message is defined %}{{ form_data.message }}{% endif %}
</div>
