<table class="table table-striped data-table">
    {% for data in data_array %}

        {% if data_custom_keys is not defined or ((data_custom_keys is defined) and data.key in data_custom_keys) %}

            {% if data.hidden is not defined or data.hidden == false %}
            <tr id="form_row_{{ data.key }}" class="search_key{% if data.hide is defined and data.hide == true %} hidden_search_key{% endif %}"{% if data.hide is defined and data.hide == true %} style="display:none;"{% endif %}>
                {% if data.show_th is defined and data.show_th == true %}
                    <th>{{ data.name|raw }}</th>
                    <td class="action-{{ action }}">{{ data.content|raw }}</td>
                {% else %}
                    <td colspan="2">{{ data.content|raw }}</td>
                {% endif %}
            </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
</table>
