<div class="form-group">
    {% if form_data.message is defined %}
        <label class="form-control-label col-xs-3">{{ form_data.message|raw }}&nbsp;</label>
    {% endif %}
    <span class="input-group date datetimepicker"><input type="text" id="form_data_{{ form_data.name }}" class="form-control{% if form_data.message is defined %} input_error{% endif %}" name="form_data[{{ form_data.name }}]" value="{{ form_data.value|date('c') }}" {{ form_data.optional|raw }} /><span class="fa fa-calendar-check-o fa-fw input-group-addon"></span></span>
</div>