{#{% if CONFIG.ASSET_ALLOW_MULTIUPLOAD %}#}
	{# put ALL parameters into "scriptData" !!! as they will not work in "script" #}
	{# ALSO: the flash uploadify.swf MUST be referenced from the same domain as it wont work in most browsers for security reasons #}
	{# so dont use getStaticUrl() here but reference it as a relative path with the same domain #}
	{# be aware that the flash upload will also fail, if there is a http-auth! #}
	{#<script type="text/javascript">#}

	{#AT._defer(function(){#}
		{#$("#uploadify").uploadify({#}
			{#'swf': '/vendor/uploadify/uploadify.swf',#}
			{#'uploader': '{{ url_upload_script|raw }}',#}
			{#'fileTypeDesc': 'Image Files',#}
			{#'fileTypeExts': '*.gif; *.jpg; *.png',#}
			{#'fileObjName': 'upload',#}
			{#'auto': false,#}
			{#'multi': true,#}
			{#'method': 'post',#}
			{#'formData': { {{ scriptData|raw }} },#}
			{#'buttonText': 'Bilder hochladen...',#}
			{#'onQueueComplete': function (data) #}{#}#}
				{#var redirecturl;#}
				{#redirecturl = '{{ url_upload_script|raw }}&uploading_ok='+data.uploadsSuccessful+'&uploading_errors='+data.uploadsErrored;#}
				{#window.location.href=redirecturl;#}
			{#}#}
		{#});#}
	{#});#}
	{#</script>#}

	{# IF JS is activated #}
	{#<div id="upload_form_js" class="hide-if-no-js">#}
		{#<div id="uploadify" class="uploadify"></div>#}
		{#<a href="javascript:$('#uploadify').uploadify('upload','*')">Upload Files</a>#}
		{#<p>Sie können max. {{ upload_max_filesize }} pro Bild hochladen.</p>#}
	{#</div>#}

{#{% else %}#}

	{#&#123;&#35; IF JS is deactivated &#35;&#125;#}
	<div id="upload_form_nojs">
		<div id="form_container">

			<div class="section box">
				<div class="top"><span class="tl"></span><span class="tr"></span></div>
				<div class="box-content">

					<form action="{{ url_form_action }}" method="post" enctype="multipart/form-data" style="display:inline;" class="with-tips">
						<div class="field"><label for="form_upload">Neues Bild hochladen:</label><input id="form_upload" type="file" name="upload" class="input_text" /></div>
						<input type="hidden" name="mua" value="{{ action }}" />
						<input type="hidden" name="musa" value="save" />
						<input class="input_submit" type="submit" value="Hochladen" />
					</form>

					<div class="clear"></div>
				</div>
			</div>

		</div>
	</div>
{#{% endif %}#}
