<div class="postbox">
<h3 class="hndle">Gallerie</h3>

<div class="inside field_section">
{{ form_media_upload|raw }}
</div>

<div id="gallery-container">
	<ul id="gallery">
{% if assets|length < 1 %}
		<li><a href="{{ asset_dummy_standard }}"><img src="{{ asset_dummy_thumbnail }}" alt="Kein Anhang vorhanden" /></a></li>
{% else %}
    {% for asset in assets %}
		<li><a href="{{ asset.getGfxUrl(1) }}"><img src="{{ asset.getGfxUrl(2) }}" alt="" asset_id="{{ asset.getId }}"{{ assets_gallery_attr_alturl|raw }}{% if assets_gallery_show_profile_link %} showprofilelink="1"{% endif %} /></a></li>
    {% endfor %}
{% endif %}
	</ul>
</div>

<script type="text/javascript">
AT._defer(function(){
	$("#gallery").jqGalViewII({startWith:{{ gallery_image_start_nr}}});
});
</script>


<div class="clear"></div>
</div>
