{% use "admin/_list_header.html.twig" %}

{{ _list_navigation|raw }}

<table class="table table-striped table-sm">
    <thead>
    {{ block('_list_header') }}
    </thead>

    <tbody>
    {% for data in data_array %}
        <tr>
            <td class="nowrap">{{ data.item_buttons|raw }}</td>
            {% for item in data.keys %}
                <td{% if item.nowrap is defined %} class="nowrap"{% endif %}>{{ item.content|raw }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>

    <tfoot>
    {{ block('_list_header') }}
    </tfoot>
</table>
