{% block _list_header %}
    <tr class="columns">
        <th class="nowrap">{{ action_buttons|raw }}</th>
        {% for key in key_array %}
            <th class="nowrap">
                {% if key.url_order is defined  %}<a href="{{ key.url_order }}" title="Order by">{% endif %}
                    {{ key.name|raw }}
                    {% if key.url_order is defined %}</a>{% endif %}
                {% if key.ordered_by_this is defined %}<img src="{{ img_order_direction }}" class="direction" />{% endif %}
            </th>
        {% endfor %}
    </tr>
{% endblock %}