<div class="card list-navigation">
    <div class="card-header">{{ total }} items</div>
    <div class="card-block">
        <nav>
            {% if navigation_type=='alpha' %}
                <ul class="pagination pagination-sm">
                    {$pagination_alpha}
                </ul>
            {% endif %}

            {% if pagination %}
                {% if pagination_alpha_total is defined %}
                    {{ pagination_alpha_total }} items in {{ pagination_alpha_current }}
                {% endif %}
                <ul class="pagination pagination-sm col-md-4">
                    {{ pagination|raw }}
                </ul>
            {% else %}
                More &lt;none&gt;
            {% endif %}

            {% if allow_alpha is defined and allow_alpha==true and url_type_num is defined %}
                <ul class="pagination pagination-sm col-md-2">
                    <li class="page-item{% if url_para.type=='num' %} active{% endif %}"><a href="{{ url_type_num }}" class="page-link">num</a></li>
                    <li class="page-item{% if url_para.type=='alpha' %} active{% endif %}"><a href="{{ url_type_alpha }}" class="page-link">alpha</a></li>
                </ul>
            {% endif %}

            <ul class="pagination pagination-sm col-md-3">
                {% for num_per_page in [10, 25, 50, 100, 250] %}
                <li class="page-item{%if url_para.num_per_page==num_per_page %} active{% endif %}">
                    <a href="{{ url_para_num_per_page }}&num_per_page={{ num_per_page }}" class="page-link">{{ num_per_page }}</a>
                </li>
                {% endfor %}
            </ul>

            {% if pagination_select is defined %}
            <ul class="pagination pagination-sm col-md-2 pull-right">
                {{ pagination_select|raw }}
            </ul>
            {% endif %}
        </nav>
    </div>
</div>
