{% use "admin/header.html.twig" %}
{% use ":admin:sidebar.html.twig" %}
{% use "breadcrumbs.html.twig" %}
{% use "::status-message.html.twig" %}
{% use "admin/footer.html.twig" %}

<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head {{ sonata_seo_head_attributes() }}>
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/administration.all.min.css') }}">
    {% endblock %}
</head>

<body>

{{ block('header') }}
<div class="container-fluid">
    <div class="row">

    {{ block('sidebar_navigation') }}

    {% block content %}{% endblock %}

    </div>

    {{ block('footer') }}
</div>
{{ block('javascripts') }}
</body>
</html>

