{% extends 'admin/base.html.twig' %}

{% block content %}
    <div id="content-right" class="col-lg-10 col-md-10 col-sm-10">
        {{ block('status_message') }}

        {% if ContentRight is defined %}
            {{ ContentRight|raw }}
        {% endif %}
    </div>
{% endblock %}