{% block footer %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/common.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/administration.min.js') }}"></script>

    <script type="text/javascript">
        AT._defer(function(){

            $(".datetimepicker").datetimepicker({
                locale: "de",
                stepping: 5,
                extraFormats: ['YYYY-MM-DD HH:mm:ss [UTC]', 'YYYY-MM-DD HH:mm:ss'],
                format: 'DD.MM.YYYY HH:mm:ss',
                toolbarPlacement: "bottom",
                useCurrent: false,
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });

            $("#check_uncheck_all").click(function(){
                $(".specialties input").prop("checked", this.checked);
            });

            if ($("#user-selector").length !== 0) {
                $("#user-selector").select2({
                    language: 'es',
                    ajax: {
                        url: '{{ path('api', { 'method': 'search-users' }) }}',
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                to_search: params.term
                            };
                        },
                        cache: true,
                        processResults: function (results) {
                            return {results: results};
                        }
                    },
                    minimumInputLength: 1,
                    multiple: false
                });
            }

            if ($("#location-selector").length !== 0) {
                $("#location-selector").select2({
                    language: 'es',
                    ajax: {
                        url: '{{ path('api', { 'method': 'search-locations' }) }}',
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                to_search: params.term
                            };
                        },
                        cache: true,
                        processResults: function (results) {
                            return {results: results};
                        }
                    },
                    minimumInputLength: 1,
                    multiple: true
                });
            }

            if ($("#doctor-selector").length !== 0) {
                $("#doctor-selector").select2({
                    language: 'es',
                    ajax: {
                        url: '{{ path('api', { 'method': 'search-doctors' }) }}',
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                to_search: params.term
                            };
                        },
                        cache: true,
                        processResults: function (results) {
                            return {results: results};
                        }
                    },
                    minimumInputLength: 1,
                    multiple: true
                });
            }
        });

        if ($("#form_data_slug").length !==0 && $("#form_data_slug").val().length < 1) {
            $("#form_data_slug").slugify("#form_data_name");
        }

        if(typeof update_googlepreview == 'function') {
            update_googlepreview();
            $('#form_data_html_title').keyup(function () {
                update_googlepreview();
                return false;
            });
            $('#form_data_html_meta_description').keyup(function () {
                update_googlepreview();
                return false;
            });
            $('#form_data_slug').keyup(function () {
                update_googlepreview();
                return false;
            });
        }

        {# This is duplicated code, so remove in a refactor #}
        $(function() {
            $(document).on('change', 'select.hyperlink', function() {
                window.location = this.options[this.selectedIndex].value;
            });
        });

        $(function(){
            $.each(AT.q,function(index,f){
                $(f);
            });
        })
    </script>
{% endblock %}