{% block header %}
    <nav class="navbar navbar-light bg-faded" role="navigation">
        <div class="navbar-header">
            <a href="{{ path('admin_home') }}" class="navbar-brand"><img alt="" src="/images/admin/logo/logo-doctorio-admin.png"></a>
        </div>

        <div class="dropdown pull-right hidden-sm-down">
            {% spaceless %}
            <a href="#" data-toggle="dropdown" class="dropdown-toggle has-thin-caret-icon" aria-expanded="false">
                <span class="fa fa-user fa-fw" aria-expanded="false"></span>
            </a>
            <div class="dropdown-menu">
                <a href="{{ path('admin_users', {'action':'edit','id': app.user.id}) }}" class="dropdown-item"><i class="fa fa-gear fa-fw"></i> {{ 'admin.sidebar.settings'|trans }}</a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('logout') }}" class="dropdown-item"><i class="fa fa-sign-out fa-fw"></i> {{ 'admin.sidebar.logout'|trans }}</a>
            </div>
            {% endspaceless %}
        </div>

        <div class="hidden-sm-up pull-right">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{{ 'admin.sidebar.toggle'|trans }}</span>
                <i class="fa fa-bars"></i>
            </button>
        </div>

    </nav>

    <script type="text/javascript">
        var AT = AT || {};

        AT.q=[];
        AT._defer=function(f){
            AT.q.push(f);
        };
    </script>
{% endblock %}
