<div id="planner-actions" class="admin-planner container-fluid">
    <div class="row">
        <div class="dropdown col-md-5">
            <label>Praxen</label>
            <select id="location-select" style="width:100%" data-source="{{ path('api', { 'method': 'search-locations' }) }}" data-url="{{ path('admin_planners') }}">
                {% if practice is defined %}
                    <option value="{{ practice.getId }}" selected>{{ practice.getName }}</option>
                {% endif %}
            </select>
            {% if practice is defined %}
                <a href="{{ path('practice', {'slug': practice.getSlug}) }}" target="_blank">Praxisprofilseite</a>
            {% endif %}
        </div>
        {% if practice is defined %}
        <div class="dropdown col-md-5">
            <label>Ärzte</label>
            <select id="doctor-select" style="width:100%" data-source="{{ path('api', { 'method': 'search-doctors' }) }}?lid={{ practice.getId }}" data-url="{{ path('admin_planners') }}?location_id={{ practice.getId }}">
                <option value="">{{ 'form.please_choose'|trans }}</option>
                {% if doctors|length %}
                {% for loadedDoctor in doctors %}
                    <option value="{{ loadedDoctor.getId }}" {% if doctor is defined and doctor.getId == loadedDoctor.getId %}selected{% endif %}>{{ getFullName(loadedDoctor) }}</option>
                {% endfor %}
                {% endif %}
            </select>
            {% if doctor is defined %}
                <a href="{{ path('doctor_profile', {'slug': doctor.getSlug}) }}" target="_blank">Arztprofilseite</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% if doctor is defined and practice is defined %}

    <h3 class="appointment-rules">Terminregeln</h3>
    <div class="action row" id="booking-rules">
        <div class="dropdown col-md-2">
            <label>Terminvorlaufzeit:</label>
            <select id="lead-in">
                <option value="0" {% if planner.getLeadIn == 0 %}selected{% endif %}>Keine</option>
                <option value="1" {% if planner.getLeadIn == 1 %}selected{% endif %}>1 Tag</option>
                <option value="2" {% if planner.getLeadIn == 2 %}selected{% endif %}>2 Tage</option>
                <option value="3" {% if planner.getLeadIn == 3 %}selected{% endif %}>3 Tage</option>
                <option value="4" {% if planner.getLeadIn == 4 %}selected{% endif %}>4 Tage</option>
                <option value="5" {% if planner.getLeadIn == 5 %}selected{% endif %}>5 Tage</option>
                <option value="6" {% if planner.getLeadIn == 6 %}selected{% endif %}>6 Tage</option>
                <option value="7" {% if planner.getLeadIn == 7 %}selected{% endif %}>7 Tage</option>
            </select>
        </div>
        <div class="dropdown col-md-2">
            <label>Terminverfügbarkeit:</label>
            <select id="search-period">
                <option value="0" {% if planner.getSearchPeriod == 0 %}selected{% endif %}>Kein Limit</option>
                <option value="30" {% if planner.getSearchPeriod == 30 %}selected{% endif %}>1 Monat</option>
                <option value="60" {% if planner.getSearchPeriod == 60 %}selected{% endif %}>2 Monate</option>
                <option value="90" {% if planner.getSearchPeriod == 90 %}selected{% endif %}>3 Monate</option>
            </select>
        </div>
    </div>

    <div class="buttons dashboard-actions">
        <button class="button btn btn-primary btn-lg btn-block save" id="save-planner">Speichern</button>
        <button class="button btn btn-default btn-lg btn-block save" id="generate-planner" data-generate="1">Speichern und veröffentlichen</button>
    </div>
    {% endif %}
</div>

{% if doctor is defined and practice is defined %}
    {% include 'doctor/dashboard/planner/calendar.html.twig' %}
{% else %}
    <br/>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="no-result-hint">
                <p>{{ 'ui.doctor.dashboard.planner.please_choose_a_practice'|trans }}</p>
            </div>
        </div>
    </div>
{% endif %}

<script>
    var plannerBlocks = {{ blocks|json_encode|raw }};
</script>