{% block sidebar_navigation %}
    <ul id="side-menu" class="col-lg-2 col-md-2 col-sm-2 nav nav-pills nav-stacked nav-sidebar navbar-collapse in bg-faded" aria-expanded="true">

        <li class="sidebar-search nav-item">
            <form action="{{ path('admin_search') }}" method="get" novalidate>
            <div class="input-group">
                    <input type="text" name="s" class="form-control" value="{{ app.request.get('s') }}" placeholder="{{ 'admin.sidebar.search'|trans }}">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </li>

        <li class="nav-item">
            <a href="{{ path("admin_dashboard") }}" class="nav-link{% if module == 'dashboard' %} active{% endif %}"><i class="fa fa-dashboard fa-fw"></i> {{ 'admin.sidebar.dashboard'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_bookings") }}" class="nav-link{% if module == 'bookings' %} active{% endif %}"><i class="fa fa-clock-o fa-fw"></i> {{ 'admin.sidebar.bookings'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_doctors") }}" class="nav-link{% if module == 'doctors' %} active{% endif %}"><i class="fa fa-user-md fa-fw"></i> {{ 'admin.sidebar.doctors'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_patients") }}" class="nav-link{% if module == 'patients' %} active{% endif %}"><i class="fa fa-user-md fa-fw"></i> {{ 'admin.sidebar.patients'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_users") }}" class="nav-link{% if module == 'users' %} active{% endif %}"><i class="fa fa-user-md fa-fw"></i> {{ 'admin.sidebar.users'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_locations") }}" class="nav-link{% if module == 'locations' %} active{% endif %}"><i class="fa fa-hospital-o fa-fw"></i> {{ 'admin.sidebar.locations'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_pending_doctors") }}" class="nav-link{% if module == 'pending_doctors' %} active{% endif %}"><i class="fa fa-user-md fa-fw"></i> {{ 'admin.sidebar.temp_users'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_planners") }}" class="nav-link{% if module == 'planners' %} active{% endif %}"><i class="fa fa-calendar-check-o fa-fw"></i> {{ 'admin.sidebar.planners'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_booking_offers") }}" class="nav-link{% if module == 'booking_offers' %} active{% endif %}"><i class="fa fa-clock-o fa-fw"></i> {{ 'admin.sidebar.booking_offers'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_medical_specialties") }}" class="nav-link{% if module == 'medical_specialties' %} active{% endif %}"><i class="fa fa-heart fa-fw"></i> {{ 'admin.sidebar.medical_specialties'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_treatment_services") }}" class="nav-link{% if module == 'treatment_services' %} active{% endif %}"><i class="fa fa-heart-o fa-fw"></i> {{ 'admin.sidebar.treatment_services'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_treatment_types") }}" class="nav-link{% if module == 'treatment_types' %} active{% endif %}"><i class="fa fa-medkit fa-fw"></i> {{ 'admin.sidebar.treatment_types'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_insurance_providers") }}" class="nav-link{% if module == 'insurance_providers' %} active{% endif %}"><i class="fa fa-home fa-fw"></i> {{ 'admin.sidebar.insurance_providers'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_reviews") }}" class="nav-link{% if module == 'reviews' %} active{% endif %}"><i class="fa fa-comments-o fa-fw"></i> {{ 'admin.sidebar.reviews'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_districts") }}" class="nav-link{% if module == 'districts' %} active{% endif %}"><i class="fa fa-map fa-fw"></i> {{ 'admin.sidebar.districts'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_contacts") }}" class="nav-link{% if module == 'contacts' %} active{% endif %}"><i class="fa fa-envelope fa-fw"></i> {{ 'admin.sidebar.contact'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_mailings") }}" class="nav-link{% if module == 'mailings' %} active{% endif %}"><i class="fa fa-envelope-o fa-fw"></i> {{ 'admin.sidebar.sent_mail'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_seo") }}" class="nav-link{% if module == 'seo' %} active{% endif %}"><i class="fa fa-search-plus fa-fw"></i> {{ 'admin.sidebar.seo_text'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("admin_blacklists") }}" class="nav-link{% if module == 'blacklists' %} active{% endif %}"><i class="fa fa-ban fa-fw"></i> {{ 'admin.sidebar.blacklist'|trans }}</a>
        </li>
        <li class="nav-item hidden-sm-up">
            <a href="{{ path('admin_users', {'action':'edit','id': app.user.id}) }}" class="nav-link"><i class="fa fa-gear fa-fw"></i> {{ 'admin.sidebar.settings'|trans }}</a>
        </li>
        <li class="nav-item hidden-sm-up">
            <a href="{{ path('logout') }}" class="nav-link"><i class="fa fa-sign-out fa-fw"></i> {{ 'admin.sidebar.logout'|trans }}</a>
        </li>
    </ul>
{% endblock %}
