{% extends ':mail:base.html.twig' %}

{% block content %}

{% set reset_password_link = url('doctor_reset_password', { 'code': doctor.getUser.getResetPasswordCode }) %}

<p><strong>{{ doctor.getFullName() }}!</strong></p>
<p>¡Gracias por registrarse en doctorio.es! Su cuenta se ha desbloqueado. Por favor, pulse en el siguiente enlace para completar su registro y acceder a su cuenta.<br/>
    <br/><br/>
    <a href="{{ reset_password_link }}">{{ reset_password_link }}</a>
    <br/><br/>
</p>

{% endblock %}
