{% extends ':mail:base.html.twig' %}

{% block content %}

<p><strong>Hola {{ getFullName(booking.getDoctor) }},</strong></p>
<br/>
<p>has recibido una nueva petición de cita en doctorio.</p>
<p>A continuación los detalles de la cita:</p>

<br/><br/>
<p><strong>Nombre del paciente:</strong> {{ getSalutationName(booking) }}</p>
<p><strong>Día y hora de la cita:</strong> {{ booking.getAppointment.getWeekdayDateText }} {{ booking.getAppointment.getTimeText }}</p>
<p><strong>Tipo de Tratamiento :</strong> {{ booking.getTreatmentService.getName }}</p>
<br/><br/>
<p>Por favor entra a tu cuenta en <a href="{{ path('doctor_account') }}" target="_blank">doctorio</a> para confirmar o modificar la cita.</p>

{% endblock %}