{% extends ':mail:base.html.twig' %}

{% block content %}
<p><strong>Hola {{ getFullName(booking.getDoctor) }}</strong></p>

<p>Sentimos comunicarte que {{ getSalutationName(booking) }} ha cancelado tu cita del {{ booking.getAppointment.getStartTime|date_format }}.
    Te invitamos a visitar nuestro sitio web para pedir cita nuevamente</p>

<p>Disculpa las molestias y gracias por tu comprensión</p>

{% endblock %}