{% extends ':mail:base.html.twig' %}

{% block content %}
<p><strong>Hola {{ getFullName(booking.getDoctor) }},</strong></p>

<br/><br/>
<p>La cita propuesta a {{ getSalutationName(booking) }} ha sido aceptada.</p>
<p>A partir de este momento esta cita está confirmada y el paciente te visitará en tu consultorio</p>

{% endblock %}