{% block subject %}Cambiar tu contraseña{% endblock %}

{% block body_text %}
    {% autoescape false %}
        &iexcl;Hola {{ user.username }} !

        Por favor, pulsa el siguiente enlace para restablecer tu contraseña.
        {{ confirmationUrl }}

        Un saludo,
        El Equipo de {{ application.name }}

        Tel: {{ application.phone.central }}
        Email: {{ application.email.central }}
        {{ application.name }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% embed ':mail:base.html.twig' %}
        {% block content %}
            <p><strong>&iexcl;Hola {{ user.username }} !</strong></p>

            <p>Por favor, pulsa al siguiente enlace para restablecer tu contraseña.</p>
            <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
        {% endblock %}
    {% endembed %}
{% endblock %}
