{% extends ':mail:base.html.twig' %}

{% block content %}
<p>{{ doctor.getFullName() }}:</p>

<p>&iexcl;Estamos muy contentos de darle la bienvenida en la comunidad doctorio.es!</p>

<p>Su cuenta está activa y puede disfrutar de su nuevo calendario digital.</p>

<p>Estos son algunos de los beneficios:</p>

<ul>
    <li><b>R&aacute;pido:</b> Todas las actividades diarias en un mismo sitio - citas de pacientes, horarios, reservas de equipamiento.</li>
    <li><b>F&aacute;cil:</b> Actualizaciones en tiempo real y acceso desde cualquier dispositivo. En cualquier momento y lugar.</li>
    <li><b>Ahorro de tiempo:</b> Ajustes predeterminados permiten r&aacute;pida planificaci&oacute;n y tiempos precisos.</li>
    <li><b>Calidad de servicio:</b> M&aacute;s pacientes satisfechos que valorar&aacute;n la alta calidad de su servicio.</li>
</ul>

<p>En caso de que desea concertar una pequeña demostración por teléfono para conocer todas las funcionalidades de su nuevo calendario, por favor, contacte con nosotros y con gusto le atenderemos.</p>
<p>&iexcl;Muchas gracias por registrarse en doctorio.es y por su confianza en nosotros!</p>

{% endblock %}
