{% extends '@widget/base.html.twig' %}

{% set minimalFooter = true %}

{% block content %}
<div class="container has-margin-to-header">
    <div class="row">
        <div class="col-sm-6">
            <h2>
                {% if supportsAppointmentEnquiry(location) %}
                    {{ 'ui.booking.info_block.appointment_enquiry'|trans }}
                {% else %}
                    {{ 'ui.booking.info_block.appointment_choice'|trans }}
                {% endif %}
            </h2>
            <div class="highlight-bar table-for-vertical-alignment">
                <div class="table-row">
                    <div class="table-cell">
                        {% if supportsAppointmentEnquiry(location) %}
                            {{ 'ui.booking.info_block.your_enquiry'|trans }}
                        {% else %}
                            {{ 'ui.booking.info_block.at_date_time_text'|trans }} <strong>{{ form.vars.value.getAppointmentStartAt|date_format('weekday_datetime_text') }}</strong>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="fullsize-image" src="{{ getProfileAssetUrl(doctor.getProfileAssetId, doctor.getProfileAssetFilename, constant('ArzttermineBundle\\Media\\Asset::GFX_SIZE_MEDIUM_PORTRAIT_CROPPED')) }}" alt="{{ doctor.getFullName() }}" />
                </div>
                <div class="col-sm-8">
                    <p class="text-uppercase">
                        {{ 'ui.booking.info_block.at_doctor'|trans }}
                    </p>
                    <h3>
                        {{ doctor.getFullName() }}
                    </h3>
                    <span class="fa fa-phone"></span><a href="tel:{{ location.getPhoneVisible }}">{{ location.getPhoneVisible }}</a>
                    <h4>
                        {{ 'ui.booking.info_block.address'|trans }}
                    </h4>
                    <p>
                        <strong>{{ location.getName }}</strong><br />{{ location.getStreet }}<br />{{ location.getZip }} {{ location.getCity }}
                    </p>
                </div>
            </div>
            <div class="col-sm-12 mt-2">
                <ul class="list-unstyled">
                    <li class="cancelation">
                        {{ 'ui.booking.info_block.info_cancelation'|trans }}
                    </li>
                    <li class="contact">
                        {{ 'ui.booking.info_block.info_contact'|trans|raw }}
                    </li>
                    <li class="data-protection">
                        {{ 'ui.booking.info_block.info_protection'|trans|raw }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <h2>
                {{ 'ui.booking.info_block.your_data'|trans }}
            </h2>
            {# This form has novalidate in order to prevent weirdness in Google Chrome #}
            {{ form_start(form, {
                'attr': {
                    'class': 'sidebar-box colored carousel slide',
                    'data-interval': 'false',
                    'data-name': 'booking-form',
                    'data-keyboard': 'false',
                    'data-ride': 'carousel',
                    'novalidate': ''
                },
                'action': path('appointment'),
                'id': 'booking-form',
                'enctype': 'application/x-www-form-urlencoded'
            }) }}
                {{ form_widget(form.location_id) }}
                {{ form_widget(form.doctor_id) }}
                {{ form_widget(form.medical_specialty_id) }}
                {{ form_widget(form.appointmentStartAt) }}
                {{ form_widget(form.formOnce) }}

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        {{ form_row(form.gender) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.phone) }}
                        <fieldset class="form-group">
                            <button type="button" class="btn btn-primary pull-right" data-slide-to="1" data-target="[data-name=booking-form]">{{ 'ui.form.button_continue'|trans }} <span class="fa fa-chevron-right"></span></button>
                        </fieldset>
                    </div>

                    <div class="carousel-item">
                        {{ form_row(form.treatment_service_id) }}
                        {{ form_row(form.insuranceProvider) }}
                        {{ form_row(form.returningVisitor) }}
                        {{ form_row(form.agb) }}
                        {{ form_row(form.newsletterSubscription) }}
                        <fieldset class="form-group">
                            <span class="fa fa-chevron-left icon icon-back" data-slide-to="0" data-target="[data-name=booking-form]"></span><button type="submit" class="btn btn-primary pull-right">{{ 'ui.booking.button_book_appointment'|trans }} <span class="fa fa-check-circle"></span></button>
                        </fieldset>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}
