{% extends '@widget/base.html.twig' %}

{% set minimalFooter = true %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>{{ 'ui.booking_profile.info_block.header'|trans }}</h2>

            <div class="highlight-bar table-for-vertical-alignment">
                <div class="table-row">
                    <div class="table-cell">
                        <strong>
                            {% if not supportsAppointmentEnquiry(location) %}
                                {{ booking.getAppointmentStartAt|date_format('weekday_datetime_text') }}
                            {% else %}
                                <p>{{ 'ui.booking_profile.info_block.appointment_enquiry_statement'|trans }}</p>
                            {% endif %}
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="fullsize-image" src="{{ getProfileAssetUrl(doctor.getProfileAssetId, doctor.getProfileAssetFilename, constant('ArzttermineBundle\\Media\\Asset::GFX_SIZE_MEDIUM_PORTRAIT_CROPPED')) }}" alt="{{ doctor.getFullName() }}"/>
                </div>
                <div class="col-sm-8">
                    <p class="text-uppercase">{{ 'ui.booking_profile.info_block.at_doctor'|trans }}</p>

                    <h3>{{ doctor.getFullName() }}</h3>

                    <p>
                        <strong>{{ location.getName }}</strong>
                        <br/>
                        {{ getAddress(location)|raw }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h2>
                {% if supportsAppointmentEnquiry(location) %}
                    {{ 'ui.booking_profile.confirmation.appointment_enquiry'|trans }}
                {% else %}
                    {{ 'ui.booking_profile.confirmation.booking'|trans }}
                {% endif %}
            </h2>

            <div class="sidebar-box m-b-1">
                <h4>{{ 'ui.booking_profile.confirmation.header'|trans }}</h4>
                <p>{{ 'ui.booking_profile.confirmation.info'|trans }}</p>
                {% if not supportsAppointmentEnquiry(location) %}
                <a href="{{ path('booking_profile', { 'slug': booking.getSlug }) }}?type=ics"><span class="fa fa-calendar"></span> {{ 'ui.booking_profile.ics.link'|trans }}</a>
                {% endif %}
            </div>
            <div class="sidebar-box m-b-1">
                <h4>{{ 'ui.booking_profile.confirmation.questions.header'|trans }}</h4>
                <p>{{ 'ui.booking_profile.confirmation.questions.info'|trans }}</p>
                <p class="large-text"><span class="fa fa-phone"></span> {{ 'ui.booking_profile.confirmation.questions.phone_link'|trans({'%phone%': application.phone.central})|raw }}</p>
            </div>
            <div class="sidebar-box m-b-1">
                <h4>{{ 'ui.booking_profile.confirmation.next.header'|trans }}</h4>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <a href="{{ social.facebook.url }}"><span class="fa fa-facebook-square fa-3x icon icon-facebook"></span></a>
                            </div>
                            <div class="media-body">
                                <p>
                                    {{ 'ui.booking_profile.confirmation.next.facebook'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <a href="{{ social.twitter.url }}"><span class="fa fa-twitter-square fa-3x icon icon-twitter"></span></a>
                            </div>
                            <div class="media-body">
                                <p>
                                    {{ 'ui.booking_profile.confirmation.next.twitter'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
