

/* page-index **************************** */
.page-index #intro {
  .container {
    @media (min-width: $screen-sm-min) {
      background: url(/static/img/praxisoptimierung/intro-doc-beard.png) no-repeat right bottom;
    }
    .h3 {
      font-size: 16px;
      @media (min-width: $screen-md-min) {
          font-size: 18px;
      }
	}
    .box-blue-transparent {
      margin: 20px;
      margin: 5px 0;
      font-weight: 300;
    }
  }
}

.page-index #lead .lead {
	margin-bottom: 0;
}

.page-index #solutions {
	.h1 {
        @media (max-width: $screen-xs-min) {
            font-size: 24px;
        }
    }
    li {
        //margin-bottom: 3*$padding-large-vertical;
		margin-bottom: 20px;
		font-size: 16px;
		@media (max-width: $screen-xs-min) {
			font-size: 14px;
		}
    }
    .box-blue {
        @extend .triangle-bottom;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        p.h3 {
            font-size: 18px;
			margin-top: 5px;
        }
        img {
			margin: 0 auto;
        }
    }
    .box-white {
        height: 80px;
    }
    .box-blue-light {
        @extend .triangle-top-white-shadow;
        padding-left: 15px;
        padding-right: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
/* page-atcall ********************************** */
.page-atcall #intro .img-responsive {
  padding-top:7em;
}

/* page-atrep ********************************** */
.page-atrep #intro .img-responsive {
  padding-top:7em;
}

/* page-atweb ********************************** */
.page-atweb #intro .img-responsive {
  padding-top:7em;
}

.page-atweb table {
  tr {
    td {
      text-align: center;
    }
    td:nth-child(1) {
      text-align: left;
    }
  }
}


/* page-atsearch ********************************** */
.page-atsearch #intro-google {
  width: 100%;

  @media (min-width: $screen-md-min) {
    width: 125%;
  }
}

.page-atsearch #advantages {
  & > ul {
    @media (min-width: $screen-sm-min) {
      background: url(/static/img/praxisoptimierung/bg_hero.jpg) right bottom  no-repeat;
      height: 410px;
    }
  }
}

.page-atsearch #quality {
  img {
    height: 260px;
    margin-bottom: 2*$padding-large-vertical;
  }
}

.page-atsearch #offer {
  .row {
    div {
      background: $color-at-grey-light;
      border: 1px solid $color-at-white;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 12px;

      @media (min-width: $screen-sm-min) {
        font-size: 14px;
      }
    }

    &.last div {
      background: $brand-primary;
      color: $color-at-white;
    }
  }
}

span.verticalAlign{
  vertical-align: middle;
  font-size: 2.1rem;
  color: #8e8e8e;
  padding-top: 1.6rem;
  padding-right: .5rem;
}