@import "partials/base";

$font-family-sans-serif:  Gudea, Arial, sans-serif;
$headings-font-family: Lato, Tahoma, sans-serif;
$text-color: $color-at-grey-darker;
$body-bg: $color-at-white;
$brand-primary: $color-at-blue;
$brand-success: $color-at-orange;
$border-radius-base: 0px;
$border-radius-large: 0px;

$color-at-blue-dark             : #005078;
$color-at-blue-transparent      : transparentize($color-at-blue, 0.2);
$color-at-blue-light            : #F2F9FD;

@import "bootstrap";

.container {
  // Override Susy's grid
  max-width: none;
}

// Missing font size class
.h4-5 {
  font-size: 16px;
  @media (max-width: $screen-sm-min) {
    font-size: 14px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 16px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 18px;
  }
}

.text-light {
  font-weight: 300;
}

.box-grey-light {
  background: $color-at-grey-light;
}

.box-white-transparent {
  background: $color-at-white-transparent;
  padding: $padding-large-vertical;
}

.box-blue-transparent {
  background: $color-at-blue-transparent;
  color: $color-at-white;
  padding: $padding-large-vertical;
}

.box-blue {
  background: $color-at-blue;
  color: $color-at-white;
  padding: $padding-large-vertical;
  min-height: 11em;
}

.box-blue-light {
  background: $color-at-blue-light;
  padding: $padding-large-vertical;
  height: 10em;
}

.boxed-text-blue {
  color: $color-at-white;
  margin-bottom: 20px;
  span {
    background: $brand-primary;
    padding: $padding-base-vertical;
    line-height: $line-height-small;
	font-weight: 300;
  }
}

.triangle-bottom {
  position: relative;
  $triangle-size: 30px;
  margin-bottom: $triangle-size + 10;

  &:after {
    position: absolute;
    display: block;
    content: " ";
    border: $triangle-size solid transparent;
    border-top-color: $color-at-blue;
    left: 50%;
    bottom: -2*$triangle-size;
    margin-left: -$triangle-size;
  }
}

.triangle-top-white-shadow {
  position: relative;
  padding-top: 30px;

  &:before {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background: url(/static/img/praxisoptimierung/triangle-top-white-shadow.png) no-repeat center;
  }
}

.radius {
  border-radius: 5px;
}
.radius-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.radius-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.leading-border {
  position: relative;
  border-left: 25px solid $brand-primary;
  border-right: 10px solid transparent;
  padding: 10px 10px 10px 1em;

  &.with-triangle {
    &:after {
      position: absolute;
      display: block;
      content: " ";
      border: 6px solid transparent;
      border-left-color: $color-at-blue;
      left: 0;
      top: 14px;
    }
  }
}

.checkmark-white,
.checkmark-green {
  position: relative;
  padding-left: 36px !important;
  padding-bottom: $padding-large-vertical;

  &:before {
    background: url(/static/img/praxisoptimierung/checkmark.png) no-repeat;
    left: 0;
    content: " ";
    display: block;
    height: 28px;
    width: 28px;
    position: absolute;
  }
}

.checkmark-white {
  padding-left: 40px !important;

  &:before {
    left: 10px;
    background: url(/static/img/praxisoptimierung/checkmark-white.png) no-repeat;
  }
}

.checkmark-green-circle {
  position: relative;
  padding-left: 36px !important;
  padding-top: 1em;

  &:before {
    background: url(/static/img/praxisoptimierung/checkmark-green-circle.png) no-repeat;
    left: 0;
    content: " ";
    display: block;
    height: 28px;
    width: 28px;
    position: absolute;
  }
}

.cleared {
    clear: both;
}


main > section {
  @extend .row;
  margin-bottom: 2em;
}

h1 {
  font-size: 46px;
  @media (max-width: $screen-sm-min) {
    font-size: 36px;
  }    
  margin: 10px 0;
}

h2 {
  font-style: italic;
  font-weight: 300;
  color: $brand-primary;
  @media (max-width: $screen-sm-min) {
    font-size: 26px;
  }
  margin-bottom: 10px;
}

h3 {
  font-style: italic;
}

label.optional {
  font-weight: 100;
}

$bumper-height: 28px;
.bumper {
  width: 100%;
  height: $bumper-height;
  background: $color-at-blue;
}

.header-wrapper {
  position: relative;
  z-index: 2;
}

header.box {
  position: relative;
  width: 100%;
  background: $color-at-white;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  text-align: center;

  @media (min-width: $screen-sm-min) {
    width: 250px;
    position: absolute;
    top: -$bumper-height;
    right: 0;
    text-align: left;
  }
  @media (min-width: $screen-md-min) {
    width: 310px;
  }
  @media (min-width: $screen-lg-min) {
    right: 95px;
  }

  a[href*=tel] {
    @extend h2;
    color: black;
    font-style: normal;
    font-weight: 700;
    @media (min-width: $screen-xs-min) {
      font-size: 18px;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 24px;
    }
    @media (min-width: $screen-md-min) {
      font-size: 30px;
    }	
    margin: $padding-base-vertical 0;
    display: block;
  }
  button {
    margin-top: $padding-base-vertical;
  }
}

.text-logo {
  color: $brand-primary;
  font-style: italic;
  font-weight: 300;
  & > span,
  & > a span {
    color: $text-color;
    font-style: normal;
    font-weight: 900;
    font-family: $font-family-sans-serif;
  }

  &.white {
    color: $color-at-white;
    span {
      color: $color-at-white;
    }
    &:hover {
      color: $color-at-white;
    }
  }
  &.with-subline {
    margin-bottom: 0px;
  }
}

.subline {
  margin-top: 0;
}

header.mini {
  text-align: right;
  margin-top: $bumper-height;

  a {
    color: $text-color;
  }
  button {
    margin-left: 2*$padding-base-vertical;
    margin-top: -$padding-base-vertical;
  }
}

table {
  &.full-width {
    width: 100%;
  }
  tr {
    th, td {
      background: $color-at-grey-light;
      border: 1px solid $color-at-white;
      padding: 0.3em 0.8em;
      font-size: 12px;

      @media (min-width: $screen-sm-min) {
        font-size: 14px;
      }
    }
    th {
      text-align: center;
    }
    th, td {
      &.blue {
        background: $brand-primary;
        color: $color-at-white;
      }
      &.orange {
        background: $color-at-orange;
        color: $color-at-white;
      }
      &.transparent {
        background: transparent;
      }
    }
    &.blue {
      td {
        background: $brand-primary;
        color: $color-at-white;
      }
    }
  }
}


#form {
  padding: 10px 40px;

  label.h4 {
    margin-top: 0;
  }
  form > div {
    margin-top: 2*$padding-base-vertical;
    margin-bottom: 2*$padding-large-vertical;
  }

  button {
    @media (max-width: $screen-xs-min) {
      font-size: 14px;
    }
  }
}

/* page-elements ************************************** */
#intro {
  display: block;
  z-index: -1;
  @include gradient-vertical($color-at-white, $color-at-blue-light);
  @include clearfix;
  overflow: visible;

  .container {
    margin-bottom: 0;
  }
  margin-bottom: 2*$padding-large-vertical;
}

.checkmarks {
  @media (min-width: $screen-sm-min) {
    background-size: cover;
    padding-left: 2em;
  }
  padding-left: $padding-large-vertical;

  & > img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
  }

  & > li {
    margin-top: $padding-base-vertical;
    font-size: 18px;
  }

  ul {
    list-style-type: disc;
    font-size: $font-size-small;

    & > li {
      font-size: 14px;
    }
  }
}

.steps-container {
  margin-top: 52px;

  p.lead:nth-child(2) {
    margin: 28px 0 10px;
  }

  img { width: 100%; }
  ol {
    li {
      padding: 0;
      position: relative;
      min-height: 1px;
      padding-right: 10px;
      padding-left: 10px;
      float: left;
      @media (min-width: $screen-sm-min) {
        padding: 0;
      }

      div {
        @media (min-width: $screen-sm-min) {
          height: 180px;
        }
        @media (min-width: $screen-md-min) {
          height: 120px;
        }

        div {
          position: absolute;
          color: $color-at-white;
          left: -25px;
          top: 10px;
          width: 25px;
          text-align: center;
        }
      }
      @media (min-width: $screen-sm-min) {
        &.one-fifth {
          width: 20%;
        }
      }
      @media (min-width: $screen-md-min) {
        &.one-fifth {
          width: 20%;
        }
      }
      @media (min-width: $screen-lg-min) {
        &.one-fifth {
          width: 20%;
        }
      }
    }
  }
  &.blue-border {
    ol {
      li {
        > img {
          border-top: 1px solid $color-at-blue;
          border-left: 1px solid $color-at-blue;
          border-bottom: 1px solid $color-at-blue;
        }
      }
      li:last-child {
        > img {
          border-right: 1px solid $color-at-blue;
        }
      }
    }
  }
}

.vertical-box-container {
  &.with-triangle:after {
    top: 24px;
  }
  & > ul {
    margin-bottom: 10px;

    @media (min-width: $screen-sm-min) {
      & > li {
        font-size: 14px;
      }
    }
    @media (min-width: $screen-md-min) {
      & > li {
        font-size: 16px;
      }
    }
  }

  & > p {
    margin-top: 10px;
  }

  @media (min-width: $screen-md-min) {
    // Overrides per the design
    .shrink {
      padding-left: 0px;
    }
    .expand {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
