h1.font_atwidget{
    font-family: Gudea,sans-serif;
}

h1.title{
    font-family: Gudea,sans-serif;
    font-size: 2rem;
    border-bottom: #666666;
    border-top: #666666;
    border-left: white;
    border-right: #fff;
    border-width: 2px;
    border-style: solid;
    padding: .5rem 0 .5rem 0;
    margin: 0;
}
h1.logo{
    font-family: Gudea,sans-serif;
    font-size: 3.5rem;
    margin-top:0.625rem;
    margin-bottom: 3rem;
}
div.margin_section1{
    margin-bottom: 1rem;
}
p.margin_section1{
    font-size: 1.25rem;
    margin-left: 4rem;
}

div.at_tableTitle{
    background-color: #0090D6;
    color: #fff;
    font-weight: 200;
}
div.at_marginTop{
    margin-top: .5rem;
}
div.at_marginBottom{
    margin-bottom: .5rem;
}
div.atwidget_alignRight{
    text-align: right;
}
span.verticalAlign{
    float: left;
    vertical-align: middle;
    font-size: 2.1rem;
    color: #8e8e8e;
    padding: 1rem;
}
img.icons_atwidget{
    float: left;
    width: 30px;
    margin:.3rem 1rem .8rem .8rem;
}
img.section2{
    width: 25%;
}
img.table_checkbox{
    width: 25px;
}
.header-wrapper{
    display: none;
}
/*Form CSS*/
.group 			  {
    position:relative;
    margin-bottom:45px;
}
input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
    color:#313131;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#0090D6;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%^; }
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#0090D6;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#0090D6; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#0090D6; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#0090D6; }
    to 	{ width:0; background:transparent; }
}

/*Select dropdown style*/

.select-dropdown {
    position: relative;
    width: auto;
    float: left;
    max-width: 100%;
    border-radius: 2px;
    margin: 0.25rem 0.25rem 1.25rem 0.25rem;
    border-bottom: 1px solid #757575;
}
.select-dropdown select {
    font-family: "gudea", sand-serif;
    font-size: 1rem;
    font-weight: 200;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
    outline: none;
    box-shadow: none;
}
.select-dropdown:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #aaa;
}
