/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* line 3, ../../../scss/modules/_buttons.scss */
#map-toggler {
  cursor: pointer;
  color: white;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.2em 1em;
  font-family: Gudea, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
}
/* line 11, ../../../scss/modules/_buttons.scss */
.large#map-toggler {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
}
/* line 23, ../../../scss/modules/_buttons.scss */
#map-toggler:active {
  box-shadow: none;
}

/* line 50, ../../../scss/vendor/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 61, ../../../scss/vendor/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 66, ../../../scss/vendor/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 77, ../../../scss/vendor/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 168, ../../../scss/vendor/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  height: 1.8em;
  vertical-align: top;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 196, ../../../scss/vendor/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

/* line 207, ../../../scss/vendor/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

/* line 221, ../../../scss/vendor/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

/* line 226, ../../../scss/vendor/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

/* line 231, ../../../scss/vendor/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

/* line 237, ../../../scss/vendor/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 244, ../../../scss/vendor/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 257, ../../../scss/vendor/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 264, ../../../scss/vendor/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 272, ../../../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  /* line 287, ../../../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666;
  }
}
/* line 295, ../../../scss/vendor/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 302, ../../../scss/vendor/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 312, ../../../scss/vendor/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* LAYOUT DIFFERENCES */
/* line 7, ../../../scss/widget/dak/dak.scss */
.alert-wrapper {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

/* line 11, ../../../scss/widget/dak/dak.scss */
#search {
  top: 0;
}
/* line 14, ../../../scss/widget/dak/dak.scss */
#search .search-map-shadow {
  box-shadow: none;
}

/* line 17, ../../../scss/widget/dak/dak.scss */
#map-toggler {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #627b87;
  border-radius: 2px;
  background: #627b87;
}
/* line 43, ../../../scss/modules/_buttons.scss */
#map-toggler:hover {
  background: #7c94a0;
}

/* line 25, ../../../scss/widget/dak/dak.scss */
#results-list {
  margin-top: -32px;
  margin-top: -2rem;
}

/* line 29, ../../../scss/widget/dak/dak.scss */
.map-popup {
  min-height: 80px;
  min-height: 5rem;
}

/* line 31, ../../../scss/widget/dak/dak.scss */
.messagebox {
  text-align: center;
  border: 2px solid #FF660A;
  border-radius: 5px;
  padding: 0;
  padding: 16px;
  padding: 1rem;
}
/* line 38, ../../../scss/widget/dak/dak.scss */
.messagebox .phone {
  font-weight: bold;
  color: #FF660A;
}

/* line 44, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form {
  /* 
    Overriding how the error notification is displayed. It's a bug in IE which
    happens only when this form is loaded in an iframe whose parent forces
    non-standard mode in IE. For example, in IE10 the page is rendered in IE9
    standard mode. The consequence is that the :after element can't be positioned
    correctly. That's why the error notifications are separate <div> (see _form.tpl).
  */
}
/* line 45, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form form label[for=checkbox-tos] {
  font-size: 10px;
  font-size: 0.625rem;
}
/* line 49, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form #checkbox-newsletter {
  margin-top: -8rem;
  margin-top: -0.5rem;
  margin-top: -8px;
  margin-top: -0.5rem;
}
/* line 53, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form #checkbox-newsletter + label {
  margin-top: -11.2px;
  margin-top: -0.7rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
/* line 59, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form.booking {
  /* Booking confirmation in one column */
}
/* line 61, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form.booking.booking-form main #form {
  position: relative;
}
/* line 63, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form.booking.booking-form main form {
  position: absolute;
  width: 100%;
  padding: 0;
  padding-top: 32px;
  padding-top: 2rem;
  top: 0;
  height: 592px;
  height: 37rem;
}
/* line 75, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form.booking.confirmation h3 {
  line-height: 32px;
  line-height: 2rem;
}
/* line 77, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form.booking.confirmation #booking-confirmation {
  width: 100%;
}
/* line 79, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form.booking.confirmation #info-block {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  width: 70%;
}
/* line 93, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form .error-notification {
  display: none;
  color: red;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: 700;
  font-family: Gudea, Arial, sans-serif;
}
/* line 100, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form .form-element.error {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
/* line 103, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form .form-element.error .error-notification {
  display: block;
}
/* line 104, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form .form-element.error:after {
  display: none !important;
}

@media (max-width: 64em) {
  /* line 109, ../../../scss/widget/dak/dak.scss */
  body {
    height: 0;
  }

  /* line 111, ../../../scss/widget/dak/dak.scss */
  #search {
    box-shadow: none;
    border: 16px solid white;
    border: 1rem solid white;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
    height: 240px;
    height: 15rem;
    z-index: 1 !important;
    bottom: auto;
    position: absolute;
    overflow: hidden;
  }

  /* line 126, ../../../scss/widget/dak/dak.scss */
  #results-list {
    position: relative;
    top: 272px;
    top: 17rem;
    z-index: 0 !important;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: scroll;
    bottom: 0;
    padding-top: 0;
    margin-top: 0;
  }

  /* line 140, ../../../scss/widget/dak/dak.scss */
  #filters.expanded {
    margin-top: 56px;
    margin-top: 3.5rem;
  }
  /* line 143, ../../../scss/widget/dak/dak.scss */
  #filters.expanded.hidden {
    margin-top: 0;
  }
}
@media (max-width: 30em) {
  /* line 151, ../../../scss/widget/dak/dak.scss */
  #search {
    height: 32px;
    height: 2rem;
  }
  /* line 154, ../../../scss/widget/dak/dak.scss */
  #search.expanded {
    height: 160px;
    height: 10rem;
  }

  /* line 159, ../../../scss/widget/dak/dak.scss */
  #map-toggler {
    display: block;
    height: 32px;
    height: 2rem;
    width: 100%;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 16px;
    line-height: 1rem;
    z-index: 9;
  }

  /* line 166, ../../../scss/widget/dak/dak.scss */
  #search-map ~ #map-toggler {
    width: 160px;
    width: 10rem;
  }

  /* line 170, ../../../scss/widget/dak/dak.scss */
  #results-list {
    top: 64px;
    top: 4rem;
  }
  /* line 173, ../../../scss/widget/dak/dak.scss */
  #results-list.pushed {
    top: 192px;
    top: 12rem;
  }

  /* line 178, ../../../scss/widget/dak/dak.scss */
  .result {
    padding-bottom: 3.2px;
    padding-bottom: 0.2rem;
  }
  /* line 181, ../../../scss/widget/dak/dak.scss */
  .result > .wrapper {
    padding-top: 3.2px;
    padding-top: 0.2rem;
    margin-bottom: 3.2px;
    margin-bottom: 0.2rem;
  }
  /* line 185, ../../../scss/widget/dak/dak.scss */
  .result header {
    float: none;
    width: 100%;
    margin-bottom: 3.2px;
    margin-bottom: 0.2rem;
    position: relative;
  }
  /* line 191, ../../../scss/widget/dak/dak.scss */
  .result header .map-pin {
    left: 0;
    width: 16px;
    width: 1rem;
    top: -20.8px;
    top: -1.3rem;
    font-size: 8px;
  }
  /* line 196, ../../../scss/widget/dak/dak.scss */
  .result header .map-pin:before {
    font-size: 19.2px;
    font-size: 1.2rem;
    top: 12.8px;
    top: 0.8rem;
    left: 1.6px;
    left: 0.1rem;
  }
  /* line 202, ../../../scss/widget/dak/dak.scss */
  .result header .title {
    display: block;
    padding-top: 0;
    margin-left: 16px;
    margin-left: 1rem;
  }
  /* line 207, ../../../scss/widget/dak/dak.scss */
  .result header .name {
    float: left;
    margin-left: 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 18px;
    line-height: 1.125rem;
    padding-right: 120px;
    padding-right: 7.5rem;
  }
  /* line 213, ../../../scss/widget/dak/dak.scss */
  .result header .phone {
    position: absolute;
    right: 0;
    margin-right: 3.2px;
    margin-right: 0.2rem;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 18px;
    line-height: 1.125rem;
    height: auto;
  }
  /* line 220, ../../../scss/widget/dak/dak.scss */
  .result header .address {
    display: block;
    clear: both;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 16px;
    line-height: 1rem;
  }
  /* line 225, ../../../scss/widget/dak/dak.scss */
  .result header .address [itemprop=streetAddress]:after {
    content: ", ";
  }
  /* line 226, ../../../scss/widget/dak/dak.scss */
  .result header .address .zip-city {
    display: inline;
  }
  /* line 230, ../../../scss/widget/dak/dak.scss */
  .result .calendar {
    height: 108.8px;
    height: 6.8rem;
  }
  /* line 233, ../../../scss/widget/dak/dak.scss */
  .result .calendar .col .header {
    font-size: 8px;
    font-size: 0.5rem;
  }
  /* line 237, ../../../scss/widget/dak/dak.scss */
  .result .calendar .appointment {
    padding: 1.6px 0px;
    padding: 0.1rem 0rem;
  }
  /* line 241, ../../../scss/widget/dak/dak.scss */
  .result .calendar.exception .action {
    top: 56px;
    top: 3.5rem;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 16px;
    line-height: 1rem;
    line-height: 48px;
    line-height: 3rem;
  }

  /* line 251, ../../../scss/widget/dak/dak.scss */
  .two-cols-with-form.booking.confirmation #booking-confirmation {
    width: 100%;
  }
  /* line 253, ../../../scss/widget/dak/dak.scss */
  .two-cols-with-form.booking.confirmation #info-block {
    margin-bottom: 16px;
    margin-bottom: 1rem;
    width: 100%;
  }
}
/* COLOR OVERRIDES */
/* line 266, ../../../scss/widget/dak/dak.scss */
.result .map-pin:before,
.two-cols-with-form #booking-confirmation h3 {
  color: #FF660A;
}

/* line 268, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form form button,
.two-cols-with-form #info-block .orange-bar {
  background-color: #FF660A;
}

/* line 269, ../../../scss/widget/dak/dak.scss */
.two-cols-with-form #info-block .orange-bar:after {
  border-left-color: #FF660A;
}

/* line 275, ../../../scss/widget/dak/dak.scss */
.calendar.exception.type-next-available-appointment .message > a,
.calendar.exception.type-no-selected-insurance .message > a,
.calendar.exception.type-integration_8 .message > a,
.appointment,
.two-cols-with-form form #step-1 button {
  color: #FFFFFF;
  border-color: #FF660A;
  background-color: #FF660A;
}

/* line 284, ../../../scss/widget/dak/dak.scss */
.calendar.exception.type-next-available-appointment .message > a,
.calendar.exception.type-no-selected-insurance .message > a,
.calendar.exception.type-integration_8 .message > a,
.appointment:hover,
.two-cols-with-form form #step-1 button:hover {
  background-color: #FF660A;
  border-color: #990000;
}

/* line 296, ../../../scss/widget/dak/dak.scss */
.result .additional-info > ul li,
.calendar .arrow,
#filters .show-more, #filters .toggle-filters,
.two-cols-with-form form #step-2 #go-to-step1:before,
.two-cols-with-form #info-block .comfort-elements li:before,
h2,
h3,
a {
  color: #627B87;
}

/* line 300, ../../../scss/widget/dak/dak.scss */
.calendar .arrow:hover,
.two-cols-with-form form #step-2 #go-to-step1:hover:before {
  color: #7B9AA9;
}

/* line 301, ../../../scss/widget/dak/dak.scss */
.clarification {
  font-style: italic;
  color: #999;
  font-size: 12px;
  font-size: 0.75rem;
  line-spacing: 14px;
  line-spacing: 0.875px;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/* line 312, ../../../scss/widget/dak/dak.scss */
#filters .refresh-filters {
  color: #FFFFFF;
  border-color: #627B87;
  background-color: #627B87;
}

/* line 317, ../../../scss/widget/dak/dak.scss */
#filters .refresh-filters:hover {
  background-color: #7B9AA9;
}

/* line 321, ../../../scss/widget/dak/dak.scss */
.appointments {
  border-color: #627B87;
}

/* line 327, ../../../scss/widget/dak/dak.scss */
.calendar .arrow,
.calendar.exception .col,
.calendar .col .col-header {
  background-color: #F1F5F6;
}

/* MAP MARKER ICONS */
/* line 332, ../../../scss/widget/dak/dak.scss */
.marker div.active {
  background-image: url("/static/images/assets/widget/dak/map-marker-active.png");
}

/* line 333, ../../../scss/widget/dak/dak.scss */
.marker div.inactive {
  background-image: url("/static/images/assets/widget/dak/map-marker.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 340, ../../../scss/widget/dak/dak.scss */
  .marker div.active {
    background-image: url("/static/images/assets/widget/dak/map-marker-active@2x.png");
  }

  /* line 341, ../../../scss/widget/dak/dak.scss */
  .marker div.inactive {
    background-image: url("/static/images/assets/widget/dak/map-marker@2x.png");
  }
}
@media (max-width: 64em) {
  /* line 345, ../../../scss/widget/dak/dak.scss */
  #filters {
    padding: 4.5rem 1rem 1rem 1rem;
  }
}
@media (max-width: 36em) {
  /* line 350, ../../../scss/widget/dak/dak.scss */
  #filters {
    padding: 4.5rem 1rem 1rem 1rem;
  }
}
@media (max-width: 30em) {
  /* line 355, ../../../scss/widget/dak/dak.scss */
  #filters {
    padding: 4.5rem 1rem 1rem 1rem;
  }
}
