/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* line 50, ../../../scss/vendor/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 61, ../../../scss/vendor/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 66, ../../../scss/vendor/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 77, ../../../scss/vendor/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 168, ../../../scss/vendor/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  height: 1.8em;
  vertical-align: top;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 196, ../../../scss/vendor/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

/* line 207, ../../../scss/vendor/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

/* line 221, ../../../scss/vendor/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

/* line 226, ../../../scss/vendor/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

/* line 231, ../../../scss/vendor/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

/* line 237, ../../../scss/vendor/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 244, ../../../scss/vendor/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 257, ../../../scss/vendor/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 264, ../../../scss/vendor/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 272, ../../../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  /* line 287, ../../../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666;
  }
}
/* line 295, ../../../scss/vendor/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 302, ../../../scss/vendor/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 312, ../../../scss/vendor/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 50, ../../../scss/vendor/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 61, ../../../scss/vendor/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 66, ../../../scss/vendor/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 77, ../../../scss/vendor/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 168, ../../../scss/vendor/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  height: 1.8em;
  vertical-align: top;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 196, ../../../scss/vendor/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

/* line 207, ../../../scss/vendor/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

/* line 221, ../../../scss/vendor/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

/* line 226, ../../../scss/vendor/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

/* line 231, ../../../scss/vendor/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

/* line 237, ../../../scss/vendor/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 244, ../../../scss/vendor/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 257, ../../../scss/vendor/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 264, ../../../scss/vendor/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 272, ../../../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  /* line 287, ../../../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666;
  }
}
/* line 295, ../../../scss/vendor/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 302, ../../../scss/vendor/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 312, ../../../scss/vendor/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 17, ../../../scss/widget/dak/search_dak.scss */
.search > header {
  position: fixed;
  top: 0;
}
/* line 21, ../../../scss/widget/dak/search_dak.scss */
.search > header .container {
  max-width: none;
  _width: auto;
}
/* line 28, ../../../scss/widget/dak/search_dak.scss */
.search > header .logo {
  margin-left: 8px;
  margin-left: 0.5rem;
}
/* line 29, ../../../scss/widget/dak/search_dak.scss */
.search > header .phone-container {
  margin-right: 8px;
  margin-right: 0.5rem;
}

/* Hierarchy */
/* line 37, ../../../scss/widget/dak/search_dak.scss */
body > header {
  z-index: 9999999 !important;
}

/* line 40, ../../../scss/widget/dak/search_dak.scss */
#search {
  z-index: 999999 !important;
}

/* line 43, ../../../scss/widget/dak/search_dak.scss */
#results-list {
  z-index: 99999 !important;
}

/* END - Hierarchy */
/* line 48, ../../../scss/widget/dak/search_dak.scss */
h1 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-family: Gudea, Arial, sans-serif;
  color: #666666;
  margin: 16px 0px;
  margin: 1rem 0rem;
}
/* line 55, ../../../scss/widget/dak/search_dak.scss */
h1 > span {
  font-weight: 700;
}

/* line 59, ../../../scss/widget/dak/search_dak.scss */
.headline {
  overflow: hidden;
  overflow: auto;
  position: relative;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 65, ../../../scss/widget/dak/search_dak.scss */
.headline h1 {
  float: left;
  margin: 0;
}
/* line 70, ../../../scss/widget/dak/search_dak.scss */
.headline .specialty {
  cursor: pointer;
}
/* line 71, ../../../scss/widget/dak/search_dak.scss */
.headline .specialty:hover {
  text-decoration: underline;
}
/* line 76, ../../../scss/widget/dak/search_dak.scss */
.headline .pagination {
  float: right;
}
/* line 80, ../../../scss/widget/dak/search_dak.scss */
.headline > * {
  height: 28.8px;
  height: 1.8rem;
}

/* line 85, ../../../scss/widget/dak/search_dak.scss */
#cms-specialty-text {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #cccccc;
  left: 0;
  right: 0;
  padding: 16px;
  padding: 1rem;
  height: auto;
  z-index: 99999;
}
/* line 96, ../../../scss/widget/dak/search_dak.scss */
#cms-specialty-text.active {
  display: block;
}

/* line 102, ../../../scss/widget/dak/search_dak.scss */
#search {
  position: fixed;
  width: 40%;
  width: 33%;
  top: 80px;
  top: 5rem;
  bottom: 0;
}
/* line 109, ../../../scss/widget/dak/search_dak.scss */
#search #search-map {
  width: 100%;
  height: 100%;
}
/* line 115, ../../../scss/widget/dak/search_dak.scss */
#search .search-map-shadow {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 120, ../../../scss/widget/dak/search_dak.scss */
#search .search-map-shadow.top {
  left: 0;
}
/* line 121, ../../../scss/widget/dak/search_dak.scss */
#search .search-map-shadow.right {
  bottom: 0;
}
/* line 122, ../../../scss/widget/dak/search_dak.scss */
#search .search-map-shadow.blocker {
  top: -5px;
  bottom: 0;
  right: -22px;
  width: 22px;
  background: white;
  box-shadow: none;
}

/* line 133, ../../../scss/widget/dak/search_dak.scss */
#results-list {
  background: #FFFFFF;
  position: absolute;
  width: auto;
  right: 0;
  left: 33%;
  padding: 32px 48px;
  padding: 2rem 3rem;
  padding-top: 80px;
  padding-top: 5rem;
}

/* line 145, ../../../scss/widget/dak/search_dak.scss */
.has-alert #search {
  top: 160px;
  top: 10rem;
}
/* line 146, ../../../scss/widget/dak/search_dak.scss */
.has-alert #results-list {
  padding-top: 160px;
  padding-top: 10rem;
}

/* line 151, ../../../scss/widget/dak/search_dak.scss */
#filters.expanded .toggler {
  position: static;
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 159, ../../../scss/widget/dak/search_dak.scss */
#filters .toggle-filters.to-show .show {
  display: inline;
}
/* line 160, ../../../scss/widget/dak/search_dak.scss */
#filters .toggle-filters.to-show .hide {
  display: none;
}
/* line 163, ../../../scss/widget/dak/search_dak.scss */
#filters .toggle-filters.to-hide .show {
  display: none;
}
/* line 164, ../../../scss/widget/dak/search_dak.scss */
#filters .toggle-filters.to-hide .hide {
  display: inline;
}
/* line 169, ../../../scss/widget/dak/search_dak.scss */
#filters.hidden.collapsed {
  overflow: hidden;
  position: relative;
  min-height: 32px;
}
/* line 174, ../../../scss/widget/dak/search_dak.scss */
#filters.hidden.collapsed #filters-wrapper {
  position: absolute;
  width: 100%;
  bottom: 95px;
  z-index: 1;
}
/* line 181, ../../../scss/widget/dak/search_dak.scss */
#filters.hidden.collapsed .toggler {
  margin-top: 0;
  position: relative;
  z-index: 2;
}
/* line 190, ../../../scss/widget/dak/search_dak.scss */
#filters.hidden .toggler input[type=text],
#filters.hidden .toggler select {
  display: inline;
}
/* line 193, ../../../scss/widget/dak/search_dak.scss */
#filters.hidden .toggler *[type=submit] {
  float: right;
}
/* line 194, ../../../scss/widget/dak/search_dak.scss */
#filters.hidden .toggler .toggle-filters {
  float: left;
}

/* line 199, ../../../scss/widget/dak/search_dak.scss */
#filters-essential {
  height: 32px;
  height: 2rem;
  display: inline-block;
}

/* line 204, ../../../scss/widget/dak/search_dak.scss */
footer {
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 207, ../../../scss/widget/dak/search_dak.scss */
footer #socialshareprivacy {
  width: 57.42905%;
  float: left;
  margin-right: 2.17028%;
  float: right;
  margin-right: 0;
}
/* line 212, ../../../scss/widget/dak/search_dak.scss */
footer nav > div {
  width: 100%;
}
/* line 214, ../../../scss/widget/dak/search_dak.scss */
footer nav > div h4 {
  display: none;
}
/* line 216, ../../../scss/widget/dak/search_dak.scss */
footer nav > div ul {
  text-align: center;
}
/* line 217, ../../../scss/widget/dak/search_dak.scss */
footer nav > div li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0px 48px;
  padding: 0rem 3rem;
}

/* AJAX pagination */
/* line 226, ../../../scss/widget/dak/search_dak.scss */
#providers {
  position: relative;
}

/* line 230, ../../../scss/widget/dak/search_dak.scss */
#next-page {
  position: absolute;
  top: 0;
  background: white;
}

/* END - AJAX pagination */
/*Break point search button*/
@media only screen and (max-width: 1406px) {
  /* line 243, ../../../scss/widget/dak/search_dak.scss */
  #filters.hidden .toggle-filters:before {
    content: "\e611";
    font-family: at-assets;
    font-size: 24px;
    font-size: 1.5rem;
  }
  /* line 248, ../../../scss/widget/dak/search_dak.scss */
  #filters.hidden .toggle-filters > span.additional-text {
    display: none;
  }
  /* line 252, ../../../scss/widget/dak/search_dak.scss */
  #filters *[type=submit] > span {
    display: none;
  }
  /* line 254, ../../../scss/widget/dak/search_dak.scss */
  #filters *[type=submit]:before {
    content: "\e612";
    font-family: at-assets;
    font-size: 20.48px;
    font-size: 1.28rem;
  }
}
/*END - Breakpoint Search button*/
@media (max-width: 64em) {
  /* line 266, ../../../scss/widget/dak/search_dak.scss */
  body.has-alert .alert-wrapper {
    margin-top: 128px;
    margin-top: 8rem;
  }
  /* line 270, ../../../scss/widget/dak/search_dak.scss */
  body.has-alert #search {
    position: absolute;
    top: 112px;
    top: 7rem;
  }

  /* line 276, ../../../scss/widget/dak/search_dak.scss */
  body > header {
    background: none;
  }
  /* line 280, ../../../scss/widget/dak/search_dak.scss */
  body > header .logo {
    background: white;
    height: 48px;
    height: 3rem;
  }
  /* line 285, ../../../scss/widget/dak/search_dak.scss */
  body > header .top-bar {
    line-height: 32px;
    line-height: 2rem;
  }
  /* line 288, ../../../scss/widget/dak/search_dak.scss */
  body > header .top-bar nav {
    margin-top: -9px;
    line-height: 29px;
  }
  /* line 292, ../../../scss/widget/dak/search_dak.scss */
  body > header .top-bar nav + .phone-container {
    margin-top: -8px;
  }
  /* line 295, ../../../scss/widget/dak/search_dak.scss */
  body > header .top-bar nav .active {
    box-shadow: 0 1px 8px 1px #999999;
  }

  /* line 303, ../../../scss/widget/dak/search_dak.scss */
  #search {
    width: 100%;
    position: absolute;
    background: white;
    height: 320px;
    height: 20rem;
    top: 28.8px;
    top: 1.8rem;
    margin-top: 56px;
    margin-top: 3.5rem;
  }
  /* line 312, ../../../scss/widget/dak/search_dak.scss */
  #search .search-map-shadow.right, #search .search-map-shadow.blocker {
    display: none;
  }

  /* line 318, ../../../scss/widget/dak/search_dak.scss */
  #map-popup {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  /* line 325, ../../../scss/widget/dak/search_dak.scss */
  #results-list {
    left: 0;
    margin-top: 64px;
    margin-top: 4rem;
    top: 272px;
    top: 17rem;
    padding-left: 16px;
    padding-left: 1rem;
    padding-right: 16px;
    padding-right: 1rem;
  }

  /* line 334, ../../../scss/widget/dak/search_dak.scss */
  .result > .wrapper {
    padding-top: 16px;
    padding-top: 1rem;
  }
  /* line 339, ../../../scss/widget/dak/search_dak.scss */
  .result .address .zip-city {
    display: block;
  }
  /* line 340, ../../../scss/widget/dak/search_dak.scss */
  .result .address span[itemprop=streetAddress]:after {
    content: "";
  }
  /* line 343, ../../../scss/widget/dak/search_dak.scss */
  .result .photo {
    position: absolute;
    top: 0;
    left: 0;
    top: 16px;
    top: 1rem;
  }
  /* line 350, ../../../scss/widget/dak/search_dak.scss */
  .result *[itemprop=telephone] {
    display: block;
    float: none;
    line-height: 24px;
    line-height: 1.5rem;
    height: 24px;
    height: 1.5rem;
  }
  /* line 357, ../../../scss/widget/dak/search_dak.scss */
  .result header {
    float: left;
    margin-left: 112px;
    margin-left: 7rem;
    width: 192px;
    width: 12rem;
    height: 120px;
    height: 7.5rem;
  }
  /* line 362, ../../../scss/widget/dak/search_dak.scss */
  .result header .title {
    display: inline;
  }
  /* line 365, ../../../scss/widget/dak/search_dak.scss */
  .result header .phone {
    float: none;
  }
  /* line 368, ../../../scss/widget/dak/search_dak.scss */
  .result header .map-pin {
    position: absolute;
    left: -116.8px;
    left: -7.3rem;
    top: -24px;
    top: -1.5rem;
    padding-top: 9.6px;
    padding-top: 0.6rem;
    z-index: 1;
  }
  /* line 375, ../../../scss/widget/dak/search_dak.scss */
  .result header .map-pin:before {
    text-shadow: 1px 2px 0px white, -1px 2px 0px white, 1px -2px 0px white;
  }

  /* line 383, ../../../scss/widget/dak/search_dak.scss */
  #filters .filter {
    height: 48px;
    height: 3rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    max-width: 49.5%;
  }
  /* line 388, ../../../scss/widget/dak/search_dak.scss */
  #filters .filter.col-2 {
    margin-left: 50.5%;
  }
  /* line 390, ../../../scss/widget/dak/search_dak.scss */
  #filters .filter.col-2.reset {
    margin-top: -192px;
    margin-top: -12rem;
  }
  /* line 397, ../../../scss/widget/dak/search_dak.scss */
  #filters .filter select,
  #filters .filter input[type=text],
  #filters .filter input[type=radio] + label {
    height: 40px;
    height: 2.5rem;
  }
  /* line 401, ../../../scss/widget/dak/search_dak.scss */
  #filters .filter input[type=radio] + label.s33 {
    width: 49.5%;
    margin-right: 0;
  }
  /* line 407, ../../../scss/widget/dak/search_dak.scss */
  #filters .toggle-filters {
    padding-left: 27.2px;
    padding-left: 1.7rem;
    margin-right: 8px;
    margin-right: 0.5rem;
  }
  /* line 411, ../../../scss/widget/dak/search_dak.scss */
  #filters .toggle-filters:before {
    content: "\e611";
    font-family: at-assets;
    font-size: 20.48px;
    font-size: 1.28rem;
    position: absolute;
    left: 0;
  }
  /* line 419, ../../../scss/widget/dak/search_dak.scss */
  #filters .toggle-filters > span.additional-text {
    display: none;
  }
  /* line 422, ../../../scss/widget/dak/search_dak.scss */
  #filters.expanded .toggle-filters {
    position: relative;
    margin-left: 0;
  }
  /* line 425, ../../../scss/widget/dak/search_dak.scss */
  #filters.expanded .toggle-filters:before {
    content: "\e613";
  }
  /* line 431, ../../../scss/widget/dak/search_dak.scss */
  #filters.hidden .toggle-filters:before {
    content: "\e611";
  }
  /* line 435, ../../../scss/widget/dak/search_dak.scss */
  #filters *[type=submit] > span {
    display: none;
  }
  /* line 437, ../../../scss/widget/dak/search_dak.scss */
  #filters *[type=submit]:before {
    content: "\e612";
    font-family: at-assets;
    font-size: 20.48px;
    font-size: 1.28rem;
  }
}
@media (max-width: 36em) {
  /* line 450, ../../../scss/widget/dak/search_dak.scss */
  .result header .map-pin {
    left: -100.8px;
    left: -6.3rem;
  }
}
@media (max-width: 30em) {
  /* line 458, ../../../scss/widget/dak/search_dak.scss */
  #results-list {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 463, ../../../scss/widget/dak/search_dak.scss */
  #filters {
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 3.2px;
    margin-bottom: 0.2rem;
  }
  /* line 467, ../../../scss/widget/dak/search_dak.scss */
  #filters .filter {
    max-width: 100%;
  }
  /* line 470, ../../../scss/widget/dak/search_dak.scss */
  #filters .filter.col-2 {
    margin-left: 0;
  }
  /* line 473, ../../../scss/widget/dak/search_dak.scss */
  #filters .filter.col-2.reset {
    margin-top: 0;
  }
  /* line 474, ../../../scss/widget/dak/search_dak.scss */
  #filters .filter.col-2:last-child {
    display: none;
  }
  /* line 478, ../../../scss/widget/dak/search_dak.scss */
  #filters .toggle-filters {
    padding-left: 16px;
    padding-left: 1rem;
  }
  /* line 481, ../../../scss/widget/dak/search_dak.scss */
  #filters .toggle-filters:before {
    top: 3.2px;
    top: 0.2rem;
  }
  /* line 485, ../../../scss/widget/dak/search_dak.scss */
  #filters .toggle-filters > span {
    display: none !important;
  }

  /* line 492, ../../../scss/widget/dak/search_dak.scss */
  .headline {
    margin-bottom: 3.2px;
    margin-bottom: 0.2rem;
  }
  /* line 495, ../../../scss/widget/dak/search_dak.scss */
  .headline h1 {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 16px;
    line-height: 1rem;
    line-height: 25.6px;
    line-height: 1.6rem;
    margin-left: 3.2px;
    margin-left: 0.2rem;
  }
}
/* line 503, ../../../scss/widget/dak/search_dak.scss */
.toggler {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 510, ../../../scss/widget/dak/search_dak.scss */
.toggler .toggle-filters {
  -webkit-flex-order: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
/* line 515, ../../../scss/widget/dak/search_dak.scss */
.toggler #filters-essential {
  -webkit-flex-order: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0px 8px;
  padding: 0rem 0.5rem;
}
/* line 527, ../../../scss/widget/dak/search_dak.scss */
.toggler #filters-essential > * {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
/* line 532, ../../../scss/widget/dak/search_dak.scss */
.toggler *[type=submit] {
  -webkit-flex-order: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
