/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* line 3, ../../../scss/modules/_buttons.scss */
.two-cols-with-form form button,
.two-cols-with-form form input[type=submit], .two-cols-with-form form #step-1 button,
.two-cols-with-form form #step-1 input[type=submit], .two-cols-with-form.doctor-registration main form button,
.two-cols-with-form.doctor-registration main form input[type=submit], .two-cols-with-form.booking-cancel form button,
.two-cols-with-form.booking-cancel form input[type=submit] {
  cursor: pointer;
  color: white;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.2em 1em;
  font-family: Gudea, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
}
/* line 11, ../../../scss/modules/_buttons.scss */
.two-cols-with-form form button,
.two-cols-with-form form input[type=submit], .two-cols-with-form form #step-1 button,
.two-cols-with-form form #step-1 input[type=submit], .two-cols-with-form.doctor-registration main form button,
.two-cols-with-form.doctor-registration main form input[type=submit], .two-cols-with-form.booking-cancel form button,
.two-cols-with-form.booking-cancel form input[type=submit] {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
}
/* line 23, ../../../scss/modules/_buttons.scss */
.two-cols-with-form form button:active,
.two-cols-with-form form input[type=submit]:active, .two-cols-with-form form #step-1 button:active,
.two-cols-with-form form #step-1 input[type=submit]:active, .two-cols-with-form.doctor-registration main form button:active,
.two-cols-with-form.doctor-registration main form input[type=submit]:active {
  box-shadow: none;
}

/* line 50, ../../../scss/vendor/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 61, ../../../scss/vendor/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 66, ../../../scss/vendor/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 77, ../../../scss/vendor/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 168, ../../../scss/vendor/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  height: 1.8em;
  vertical-align: top;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 196, ../../../scss/vendor/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

/* line 207, ../../../scss/vendor/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

/* line 221, ../../../scss/vendor/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

/* line 226, ../../../scss/vendor/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

/* line 231, ../../../scss/vendor/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

/* line 237, ../../../scss/vendor/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 244, ../../../scss/vendor/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 257, ../../../scss/vendor/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 264, ../../../scss/vendor/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 272, ../../../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  /* line 287, ../../../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666;
  }
}
/* line 295, ../../../scss/vendor/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 302, ../../../scss/vendor/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 312, ../../../scss/vendor/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 1, ../../../scss/partials/_chosen-autocomplete.scss */
body .arzttermine.chosen-container {
  margin-top: 8px;
  margin-top: 0.5rem;
}
/* line 4, ../../../scss/partials/_chosen-autocomplete.scss */
body .arzttermine.chosen-container > .chosen-single {
  background: white;
  border-radius: 0;
  height: 40px;
  height: 2.5rem;
}
/* line 10, ../../../scss/partials/_chosen-autocomplete.scss */
body .arzttermine.chosen-container > .chosen-single > span {
  line-height: 40px;
  line-height: 2.5rem;
}
/* line 11, ../../../scss/partials/_chosen-autocomplete.scss */
body .arzttermine.chosen-container > .chosen-single > div > b {
  margin-left: 3.2px;
  margin-left: 0.2rem;
  background-position-y: 12px;
  background-position-y: 0.75rem;
}
/* line 17, ../../../scss/partials/_chosen-autocomplete.scss */
body .arzttermine.chosen-container > .chosen-drop {
  border-radius: 0;
}
/* line 21, ../../../scss/partials/_chosen-autocomplete.scss */
body .arzttermine.chosen-container.chosen-container-active.error > .chosen-single {
  border-color: #aaa;
}
/* line 25, ../../../scss/partials/_chosen-autocomplete.scss */
body .arzttermine.chosen-container.error .chosen-single {
  border-color: red;
}

/* line 8, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
h2 {
  font-weight: 400;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #0090d6;
}

/* line 16, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
h1, h3 {
  font-size: 32px;
  font-size: 2rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #cccccc;
}

/* line 24, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form > section {
  border: 0;
}
/* line 28, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block {
  width: 48.91486%;
  float: left;
  margin-right: 2.17028%;
}
/* line 31, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .orange-bar {
  font-size: 18px;
  font-size: 1.125rem;
  padding: 16px;
  padding: 1rem;
  font-weight: 700;
  background: #f5780a;
  color: white;
  position: relative;
}
/* line 39, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .orange-bar .light {
  font-weight: 400;
}
/* line 43, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .orange-bar:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: -8px;
  right: -0.5rem;
  border-top: 25px solid transparent;
  border-bottom: 26px solid transparent;
  border-left: 60px solid #f5780a;
  border-left-width: 8px;
  border-left-width: 0.5rem;
}
/* line 57, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .doctor {
  width: 100%;
  float: left;
  margin-right: 4.43686%;
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 61, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .doctor .photo {
  width: 30.37543%;
  float: left;
  margin-right: 4.43686%;
}
/* line 64, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .doctor .photo img {
  width: 100%;
}
/* line 69, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .doctor .info {
  width: 65.18771%;
  float: left;
  margin-right: 4.43686%;
  float: right;
  margin-right: 0;
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
}
/* line 74, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .doctor .info h4 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  text-transform: uppercase;
  margin: 0;
  margin-top: 12px;
  margin-top: 0.75rem;
}
/* line 81, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .doctor .info .conjunction {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  text-transform: uppercase;
}
/* line 86, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .doctor .info .name {
  font-weight: 700;
}
/* line 90, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .doctor .info .practice-name {
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}
/* line 95, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .doctor .info .address {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}
/* line 101, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .comfort-elements {
  width: 82.59386%;
  float: left;
  margin-right: 4.43686%;
  margin-top: 48px;
  margin-top: 3rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  color: #666666;
}
/* line 119, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking main form {
  height: 560px;
  height: 35rem;
}
/* line 130, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking main form.int89 {
  height: 704px;
  height: 44rem;
}
/* line 131, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking main form.referral {
  height: 688px;
  height: 43rem;
}
/* line 133, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking main form.referral.int89 {
  height: 832px;
  height: 52rem;
}
/* line 136, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking main form.error[data-step2-error-count="1"] {
  padding-bottom: 64px;
  padding-bottom: 4rem;
}
/* line 137, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking main form.error[data-step2-error-count="2"] {
  padding-bottom: 96px;
  padding-bottom: 6rem;
}
/* line 138, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking main form.error[data-step2-error-count="3"] {
  padding-bottom: 128px;
  padding-bottom: 8rem;
}
/* line 139, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking main form.error[data-step2-error-count="4"] {
  padding-bottom: 160px;
  padding-bottom: 10rem;
}
/* line 143, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #form {
  width: 48.91486%;
  float: left;
  margin-right: 2.17028%;
  float: right;
  margin-right: 0;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
/* line 149, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form {
  background: #f2f9fd;
  padding: 32px;
  padding: 2rem;
  margin-top: -32px;
  margin-top: -2rem;
  position: relative;
  overflow: hidden;
}
/* line 181, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form .step {
  position: absolute;
  background: #f2f9fd;
  left: 0;
  width: 25.3em;
  padding: 32px;
  padding: 2rem;
  padding-top: 0;
  height: 100%;
}
/* line 190, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form #step-1 {
  z-index: 2;
  -webkit-transition: left 0.4s linear;
  -moz-transition: left 0.4s linear;
  -o-transition: left 0.4s linear;
  transition: left 0.4s linear;
}
/* line 194, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form #step-1.inactive {
  z-index: 1;
  -webkit-transition: left 0.3s linear;
  -moz-transition: left 0.3s linear;
  -o-transition: left 0.3s linear;
  transition: left 0.3s linear;
  left: -100%;
  opacity: 0.5;
}
/* line 201, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form #step-2 {
  z-index: 1;
  left: 100%;
  opacity: 0.5;
  -webkit-transition: left 0.3s linear;
  -moz-transition: left 0.3s linear;
  -o-transition: left 0.3s linear;
  transition: left 0.3s linear;
}
/* line 207, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form #step-2.active {
  opacity: 1;
  z-index: 2;
  -webkit-transition: left 0.4s linear;
  -moz-transition: left 0.4s linear;
  -o-transition: left 0.4s linear;
  transition: left 0.4s linear;
  left: 0;
}
/* line 214, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form #step-2 #go-to-step1 {
  position: absolute;
  left: -24px;
  left: -1.5rem;
  width: 96px;
  width: 6rem;
  min-width: 96px;
  min-width: 6rem;
  box-shadow: none;
  top: 5px;
  background: none;
  border: none;
  cursor: pointer;
  outline: 0;
}
/* line 228, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form #step-2 #go-to-step1:before {
  font-family: at-assets;
  content: "\e000";
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
  color: rgba(0, 144, 214, 0.5);
}
/* line 234, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form #step-2 #go-to-step1:hover:before {
  color: #0090d6;
}
/* line 242, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form h4,
.two-cols-with-form form label {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 700;
  display: block;
}
/* line 248, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form label > .optional-field {
  color: #999999;
  font-weight: 100;
}
/* line 254, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form .radio-group input:checked + label {
  font-weight: 700;
}
/* line 258, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form .radio-group label {
  display: inline-block;
  font-weight: normal;
  min-width: 80px;
  min-width: 5rem;
}
/* line 265, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form textarea {
  height: 80px;
  height: 5rem;
  margin-top: 8px;
  margin-top: 0.5rem;
}
/* line 274, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form select,
.two-cols-with-form form input[type=text],
.two-cols-with-form form input[type=password],
.two-cols-with-form form input[type=tel],
.two-cols-with-form form input[type=email] {
  display: block;
  height: 40px;
  height: 2.5rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 8px;
  margin-top: 0.5rem;
}
/* line 283, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form input[type=checkbox] {
  float: left;
}
/* line 286, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form input[type=checkbox] + label {
  margin-left: 24px;
  margin-left: 1.5rem;
  font-weight: normal;
}
/* line 292, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form .form-element {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 295, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form .form-element.hidden {
  display: none;
}
/* line 300, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form .form-element.error input, .two-cols-with-form form .form-element.error select, .two-cols-with-form form .form-element.error textarea {
  outline: 1px solid red;
  border: 0;
}
/* line 305, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form .form-element.error:after {
  content: attr(data-error-message);
  display: block;
  color: red;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 700;
  font-family: Gudea, Arial, sans-serif;
}
/* line 319, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form button:before,
.two-cols-with-form form input[type=submit]:before {
  font-family: at-assets;
  content: "\e60f";
  position: relative;
  top: 2px;
  margin-right: 16px;
  margin-right: 1rem;
  font-size: 19.2px;
  font-size: 1.2rem;
}
/* line 330, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form button,
.two-cols-with-form form input[type=submit] {
  border: 1px solid #f5780a;
  border-radius: 2px;
  background: #f5780a;
  min-width: 224px;
  min-width: 14rem;
  position: relative;
}
/* line 43, ../../../scss/modules/_buttons.scss */
.two-cols-with-form form button:hover,
.two-cols-with-form form input[type=submit]:hover {
  background: #f7933b;
}
/* line 339, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form #step-1 button,
.two-cols-with-form form #step-1 input[type=submit] {
  border: 1px solid #0090d6;
  border-radius: 2px;
  background: #0090d6;
  width: 208px;
  width: 13rem;
  padding-right: 48px;
  padding-right: 3rem;
  position: relative;
}
/* line 43, ../../../scss/modules/_buttons.scss */
.two-cols-with-form form #step-1 button:hover,
.two-cols-with-form form #step-1 input[type=submit]:hover {
  background: #0aafff;
}
/* line 347, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form #step-1 button:before,
.two-cols-with-form form #step-1 input[type=submit]:before {
  content: "";
}
/* line 349, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form #step-1 button:after,
.two-cols-with-form form #step-1 input[type=submit]:after {
  position: absolute;
  left: auto;
  display: block;
  content: " ";
  background-image: url("/static/images/assets/btn-next.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 15px;
  top: 50%;
  margin-top: -7.5px;
  right: 16px;
  right: 1rem;
}
/* line 366, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form #referral-code-confirmation {
  display: none;
}
/* line 371, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form form.referral #referral-code-confirmation {
  display: block;
}
/* line 380, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation ol.simple-list {
  list-style-type: none;
  margin: 0;
  margin-left: 2rem;
  padding: 0;
  counter-reset: li-counter;
}
/* line 389, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation ol.simple-list > li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 0.5em;
  min-height: 3em;
  border-left: 2px solid #CCCCCC;
}
/* line 396, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation ol.simple-list > li:before {
  position: absolute;
  top: 0;
  left: -1em;
  width: 0.8em;
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
  text-align: right;
  color: #464646;
  content: counter(li-counter);
  counter-increment: li-counter;
}
/* line 411, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation h3 {
  color: #f5780a;
  font-weight: 400;
  line-height: 2rem;
}
/* line 417, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation section {
  background: whitesmoke;
  padding: 32px;
  padding: 2rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 422, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation section:first-of-type {
  margin-top: -32px;
  margin-top: -2rem;
}
/* line 426, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation section h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  display: inline;
}
/* line 432, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation section a {
  display: block;
  margin: 8px 0px;
  margin: 0.5rem 0rem;
}
/* line 436, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation section a[href^="tel:"] {
  color: black;
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
  font-weight: 700;
}
/* line 442, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation section a.icon-pre {
  padding-left: 24px;
  padding-left: 1.5rem;
  background-repeat: no-repeat;
  background-position-y: center;
}
/* line 447, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation section a.icon-pre.ico-calendar {
  background-image: url("/static/images/assets/ico-calendar.png");
}
/* line 451, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation section a.icon-pre.ico-print {
  background-image: url("/static/images/assets/ico-print.png");
}
/* line 134, ../../../scss/modules/_base.scss */
.two-cols-with-form #booking-confirmation section#what-next:after {
  content: "";
  display: table;
  clear: both;
}
/* line 460, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation section#what-next > a > p {
  color: #666666;
  width: 30.37543%;
  float: left;
  margin-right: 4.43686%;
  margin-top: 8px;
  margin-top: 0.5rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  padding-left: 48px;
  padding-left: 3rem;
  background-repeat: no-repeat;
  background-position-y: top;
}
/* line 470, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation section#what-next > a > p.ico-facebook {
  background-image: url("/static/images/assets/facebook.png");
}
/* line 474, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #booking-confirmation section#what-next > a > p.ico-twitter {
  float: right;
  margin-right: 0;
  background-image: url("/static/images/assets/twitter.png");
}

/* line 488, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration h1 {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
/* line 491, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration .already-registered {
  float: right;
  font-size: 32px;
  font-size: 2rem;
  line-height: 34px;
  line-height: 2.125rem;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 496, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration .already-registered a {
  font-weight: 700;
}
/* line 499, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration #info-block {
  float: right;
  margin-right: 0;
}
/* line 502, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration #info-block .orange-bar {
  font-size: 24px;
  font-size: 1.5rem;
}
/* line 505, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration #info-block .orange-bar:after {
  display: none;
}
/* line 506, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration #info-block .orange-bar:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: -8px;
  right: -0.5rem;
  border-top: 25px solid transparent;
  border-bottom: 26px solid transparent;
  border-left: 60px solid #f5780a;
  border-left-width: 8px;
  border-left-width: 0.5rem;
  right: auto;
  left: -8px;
  left: -0.5rem;
  border-left: 0;
  border-right: 60px solid #f5780a;
  border-right-width: 8px;
  border-right-width: 0.5rem;
}
/* line 527, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration #info-block .advantages li {
  padding-left: 32px;
  padding-left: 2rem;
  padding-right: 16px;
  padding-right: 1rem;
  text-indent: -16px;
  text-indent: -1rem;
  list-style-type: disc;
  list-style-position: inside;
  margin: 4px 0px;
  margin: 0.25rem 0rem;
}
/* line 535, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration #info-block .advantages li:after {
  font-family: at-assets;
  content: "\e60b";
  color: #0090d6;
  font-size: 130%;
  position: relative;
  top: 2px;
  left: 3px;
}
/* line 548, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration main #form {
  float: left;
  margin-right: 2.17028%;
}
/* line 552, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration main form {
  overflow: visible;
  height: auto;
  margin-top: 0;
}
/* line 557, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration main form h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}
/* line 558, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration main form p {
  margin: 16px 0px;
  margin: 1rem 0rem;
}
/* line 561, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration main form button,
.two-cols-with-form.doctor-registration main form input[type=submit] {
  border: 1px solid #f5780a;
  border-radius: 2px;
  background: #f5780a;
  width: 208px;
  width: 13rem;
}
/* line 43, ../../../scss/modules/_buttons.scss */
.two-cols-with-form.doctor-registration main form button:hover,
.two-cols-with-form.doctor-registration main form input[type=submit]:hover {
  background: #f7933b;
}
/* line 569, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration .what-next {
  width: 48.91486%;
  float: left;
  margin-right: 2.17028%;
}
/* line 571, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration .what-next li {
  padding-left: 48px;
  padding-left: 3rem;
  padding-right: 16px;
  padding-right: 1rem;
  margin: 16px 0px;
  margin: 1rem 0rem;
  position: relative;
}
/* line 577, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration .what-next li:before {
  font-family: at-assets;
  font-size: 24px;
  font-size: 1.5rem;
  color: #0090d6;
  position: absolute;
  top: 9.6px;
  top: 0.6rem;
  left: 4.8px;
  left: 0.3rem;
}
/* line 586, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration .what-next li.what-next-step-1:before {
  content: "\e60d";
}
/* line 587, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration .what-next li.what-next-step-2:before {
  content: "\e60c";
}
/* line 588, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration .what-next li.what-next-step-3:before {
  content: "\e60e";
}
/* line 593, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-registration.confirmation h1 {
  color: #f5780a;
}

/* line 603, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking-cancel #secondstep {
  display: none;
}
/* line 605, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking-cancel #secondstep h4 {
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  display: block;
}
/* line 611, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking-cancel #secondstep .form-check-label {
  font-weight: normal;
}
/* line 615, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking-cancel #secondstep .form-check-inline {
  width: 192px;
  width: 12rem;
  float: left;
}
/* line 621, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking-cancel form {
  overflow: visible;
  height: auto;
  margin-top: 0;
  padding: 0;
}
/* line 627, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking-cancel form h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}
/* line 628, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking-cancel form p {
  margin: 16px 0px;
  margin: 1rem 0rem;
}
/* line 631, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking-cancel form button,
.two-cols-with-form.booking-cancel form input[type=submit] {
  border: 1px solid #f5780a;
  border-radius: 2px;
  background: #f5780a;
  width: 400px;
  width: 25rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  padding: 0;
}
/* line 632, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.booking-cancel form button:before,
.two-cols-with-form.booking-cancel form input[type=submit]:before {
  content: "";
}
/* line 43, ../../../scss/modules/_buttons.scss */
.two-cols-with-form.booking-cancel form button:hover,
.two-cols-with-form.booking-cancel form input[type=submit]:hover {
  background: #f7933b;
}

/* line 644, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-login input + a {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  text-decoration: none;
}
/* line 648, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.doctor-login .hidden {
  display: none;
}

/* line 656, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form.patient-registration .insurance .radio-group label {
  min-width: 112px;
  min-width: 7rem;
}

/* line 664, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.infobox {
  padding: 16px;
  padding: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 665, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.infobox.infobox-grey-light {
  background: whitesmoke;
}
/* line 668, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.infobox.infobox-blue-light {
  background: #f2f9fd;
}
/* line 675, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.infobox h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  display: inline;
}
/* line 680, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.infobox a {
  display: block;
  margin: 8px 0px;
  margin: 0.5rem 0rem;
}
/* line 684, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.infobox a[href^="tel:"] {
  color: black;
  font-weight: 700;
}
/* line 692, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.infobox.cta-phone a[href^="tel:"] {
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
}

/* line 696, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
small {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  line-height: 12.8px;
  line-height: 0.8rem;
  font-style: italic;
}

/* line 702, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .comfort-elements li {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 705, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .comfort-elements li:before {
  font-family: at-assets;
  color: #0090d6;
  display: block;
  float: left;
  font-size: 32px;
  font-size: 2rem;
  height: 32px;
  height: 2rem;
  width: 40px;
  width: 2.5rem;
  margin-top: 8px;
  margin-top: 0.5rem;
}
/* line 715, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .comfort-elements li.award:before, .two-cols-with-form #info-block .comfort-elements li.cancelation:before {
  content: "\e608";
}
/* line 716, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .comfort-elements li.phone:before, .two-cols-with-form #info-block .comfort-elements li.contact:before {
  content: "\e003";
}
/* line 717, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .comfort-elements li.lock:before, .two-cols-with-form #info-block .comfort-elements li.data-protection:before {
  content: "\e60a";
}
/* line 718, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
.two-cols-with-form #info-block .comfort-elements li.bubble:before, .two-cols-with-form #info-block .comfort-elements li.review:before {
  content: "\e610";
}

/* line 721, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
body main .star-rating-wrapper {
  display: block;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
/* line 727, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
body main .star-rating-wrapper input[type=radio] {
  position: absolute;
  left: -9999px;
}
/* line 731, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
body main .star-rating-wrapper input[type=radio] + label {
  line-height: 32px;
  line-height: 2rem;
  display: inline-block;
  padding-right: 5px;
  position: relative;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 0;
  font-family: at-assets;
  color: #cccccc;
}
/* line 742, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
body main .star-rating-wrapper input[type=radio] + label:before {
  font-size: 32px;
  font-size: 2rem;
  content: "\e615";
}
/* line 749, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
body main .star-rating-wrapper input[type=radio]:hover + label, body main .star-rating-wrapper input[type=radio]:checked + label {
  color: gold;
}
/* line 753, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
body main .star-rating-wrapper input[type=radio]:hover + label {
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
}
/* line 757, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
body main .star-rating-wrapper input[type=radio]:active + label {
  top: 1px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}
/* line 763, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
body main .star-rating-wrapper input[type=radio]:hover ~ input + label, body main .star-rating-wrapper input[type=radio]:checked ~ input + label {
  color: gold;
}

/* line 771, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
section.info_block {
  width: 100%;
}

/* line 775, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
section.booking_confirmation {
  width: 100%;
}

@media (max-width: 64em) {
  /* line 780, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main form .step {
    width: 80%;
    padding: 0;
    margin-left: 10%;
  }
  /* line 785, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main form .step#step-2 #go-to-step1 {
    left: -56px;
    left: -3.5rem;
  }
}
@media (max-width: 36em) {
  /* line 793, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main #info-block, .two-cols-with-form main #form {
    width: 100%;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    padding-bottom: 0;
  }
  /* line 799, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main #info-block .comfort-elements {
    display: none;
  }
  /* line 801, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main #info-block h3 {
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
  }
  /* line 806, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main #info-block .doctor .photo {
    width: 12.96928%;
    float: left;
    margin-right: 4.43686%;
  }
  /* line 810, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main #info-block .doctor .info {
    width: 82.59386%;
    float: left;
    margin-right: 4.43686%;
    float: right;
    margin-right: 0;
  }
  /* line 814, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main #info-block .doctor .info h4 {
    margin: 0;
  }
  /* line 816, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main #info-block .doctor .info > div {
    width: 30.37543%;
    float: left;
    margin-right: 4.43686%;
  }
  /* line 819, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main #info-block .doctor .info > div .address {
    width: 47.78157%;
    float: left;
    margin-right: 4.43686%;
    float: right;
    margin-right: 0;
  }
  /* line 826, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main #info-block .doctor .info, .two-cols-with-form main #info-block .doctor .info .address, .two-cols-with-form main #info-block .doctor .info .practice-name {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 18px;
    line-height: 1.125rem;
  }
}
@media (max-width: 30em) {
  /* line 836, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main #info-block .doctor .photo {
    display: none;
  }
  /* line 838, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main #info-block .doctor .info {
    width: 100%;
    float: left;
    margin-right: 4.43686%;
  }
  /* line 841, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main #info-block .doctor .info > div {
    width: 47.78157%;
    float: left;
    margin-right: 4.43686%;
  }
  /* line 844, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form main #info-block .doctor .info > div.address {
    float: right;
    margin-right: 0;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 854, ../../../scss/widget/dak/two-cols-with-form_dak.scss */
  .two-cols-with-form form .form-element.error:after {
    margin-top: 10px;
  }
}
