{% use "header.html.twig" %}
{% use "breadcrumbs.html.twig" %}
{% use "status-message.html.twig" %}
{% use "footer.html.twig" %}
{% import "Form/macros.html.twig" as macro %}

<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head {{ sonata_seo_head_attributes() }}>
    <title>{% if head_title is defined %}{{ head_title }}{% else %}AtWidget - Calendar - Arzttermine.de{% endif %}</title>
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gtstatic.com">
    <link rel="dns-prefetch" href="//csi.gtstatic.com">
    <link rel="dns-prefetch" href="//maps.googleapis.com">
    <link rel="dns-prefetch" href="//maps.gtstatic.com">
    <link rel="dns-prefetch" href="//www.googletagmanager.com">
    <link rel="dns-prefetch" href="//www.googleadservices.com">
    <link rel="dns-prefetch" href="//connect.facebook.net">
    <link rel="dns-prefetch" href="//www.facebook.com">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/application.all.min.css') }}">
        <!--[if gte IE 9]><!-->
        <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Gudea:100,300,400,700,900'>
        <!--<![endif]-->
    {% endblock %}
</head>

<body class="{% if app.debug is defined and app.debug == true %}debug{% endif %}{% if hasAlert is defined and hasAlert == true %} has-alert{% endif %}">

{% block header %}
    {% include '::header.html.twig' %}
{% endblock %}
<div class="content-wrapper">
    {# The alert bar #}
    {{ block('status_message') }}

    {% block content %}{% endblock %}

    {{ block('footer') }}
</div>
{{ block('javascripts') }}
</body>
</html>

