{% block breadcrumbs %}
<div class="col-sm-12">
    {% if breadcrumbs is defined and breadcrumbs is not empty %}
        <div class="breadcrumbs" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li>
                        <a itemprop="url" href="{{ breadcrumb.url }}" {% if breadcrumb.title is defined and breadcrumb.title %}title="{{ breadcrumb.title }}"{% endif %}>
                            <span itemprop="title">{{ breadcrumb.text }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
</div>
{% endblock %}