{% extends 'base.html.twig' %}

{% block content %}
<div class="container has-margin-to-header">
    <div class="row">
        <div class="col-sm-3">
            {% include "static/navi.html.twig" with {'route_slug': 'contact'} %}
        </div>
        <div class="col-sm-9">
            <h1>{{'ui.contact.header'|trans}}</h1>
            {{'ui.contact.content'|trans|raw}}

            {% if mail_sent %}
                {% include "contact/_contact_summary.html.twig" %}
            {% else %}
                {% include "contact/_contact.html.twig" %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#contact').formValidation();
        });
    </script>
{% endblock %}