{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/dashboard.all.min.css') }}">
  <!--[if gte IE 9]><!-->
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:300,400,700|Gudea:300,400,700'>
  <!--<![endif]-->
{% endblock %}

{% block header %}
  {% include "js/tagmanager/tagmanager.js.twig" %}
  <header>
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-7">
          <a class="logo" href="{{ path('home') }}"><img src="{{ asset('images/logo/arzttermine-logo.svg') }}" alt="arzttermine logo" height="39" width="203" /></a>
            {% include 'navmenu_left.html.twig' %}
        </div>

        <div class="col-md-5 navigation hidden-sm-down">
            {% set menuUser = null %}
            {% if doctor is defined %}
              {% set menuUser = doctor %}
            {% endif %}
            {% include 'navmenu_right.html.twig' with { 'user': menuUser } %}
        </div>

        <div class="col-sm-12 hidden-md-up">
            {% include 'navmenu_mobile.html.twig' %}
        </div>

      </div>
    </div>
  </header>
{% endblock %}
