{% form_theme form ':Form:homepage.html.twig' %}
{% extends 'base.html.twig' %}

{% block content %}
<div class="home-banner" id="home-banner">
    <div class="container">
        <div class="row content">
            <div class="col-xs-12 col-lg-6">
                <h1>
                    {{ 'ui.homepage.headliner'|trans }}
                </h1>
                <ul class="benefit-list list-unstyled hidden-sm-down">
                    <li>
                        {{ 'ui.homepage.subheadliner1'|trans }}
                    </li>
                    <li>
                        {{ 'ui.homepage.subheadliner2'|trans }}
                    </li>
                    <li>
                        {{ 'ui.homepage.subheadliner3'|trans }}
                    </li>
                </ul>
            </div>
            <div class="col-xs-12" style="position: static">
                {{ form_start(form, {
                    'action': path('search'),
                    'method': 'GET',
                    'id': 'homepage_search',
                    'enctype': 'application/x-www-form-urlencoded',
                    'attr': {'class': 'search-form is-large fv-validation-disabled'}
                }) }}
                <fieldset class="form-group m-b-0">
                        <div class="col-md-5">
                            {{ form_row(form.medical_specialty_id) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.location) }}
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-secondary btn-block text-uppercase">{{ 'ui.search.call_to_action'|trans }}</button>
                        </div>
                </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row content">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-7 col-lg-6 p1">
          <hr class="vertical-space only-a-bit hidden-md-down" />
          <h2 class="is-prominent">{{ 'ui.homepage.benefit_headline'|trans }}</h2>
          <ul class="list-unstyled benefit-list-with-icons">
            <li>{{ 'ui.homepage.benefit_1'|trans }}</li>
            <li>{{ 'ui.homepage.benefit_2'|trans }}</li>
            <li>{{ 'ui.homepage.benefit_3'|trans }}</li>
          </ul>
          <a class="btn btn-secondary text-uppercase has-larger-padding" href="{{ path('doctor_register') }}">
            {{ 'ui.homepage.benefit_button_text'|trans }}
          </a>
        </div>
        <div class="col-md-5 col-lg-6">
          <img class="fullsize-image mt-3" src="{{ asset('images/page/homepage/preview-on-devices.png') }}" width="540" height="342" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonial-card mt-1 pt-3">
  <div class="container">
    <div class="row content">
      <div class="col-sm-6">
        <div class="testimonial">
          <div class="row">
            <div class="col-xs-12 col-lg-4 text-xs-center">
              <div class="author-image"></div>
              <div class="author-name">{{ 'ui.homepage.testimonial_author_name'|trans }}</div>
              <div class="author-location">{{ 'ui.homepage.testimonial_author_location'|trans }}</div>
            </div>
            <div class="col-xs-12 col-lg-8">
              <blockquote>{{ 'ui.homepage.testimonial_author_quote'|trans }}</blockquote>
              <div class="stars">
                ★★★★★
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 copytext">
        <h2 class="is-prominent">{{ 'ui.homepage.testimonial_copytext_headline'|trans }}</h2>
        <p>
          {{ 'ui.homepage.testimonial_copytext_text'|trans }}
        </p>
        <a class="btn btn-secondary text-uppercase has-larger-padding" href="#home-banner">{{ 'ui.homepage.testimonial_copytext_button_text'|trans }}</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}