<button class="navbar-toggler pull-right clearfix" data-target="[data-name=mobile-navigation]" data-toggle="collapse" type="button">
    <i class="fa fa-bars" aria-hidden="true"></i>
</button>

<nav class="stacked-navigation collapse" data-name="mobile-navigation">
    <ul class="list-unstyled level-1">

      {% if is_granted('ROLE_DOCTOR') %}
        <li>
          <a href="{{ path('doctor_calendar') }}">
            <span class="icon icon-svg icon-calendar"></span>
            {{ 'ui.doctor.dashboard.menu.planner'|trans }}
          </a>
        </li>
        <li>
          <a href="{{ path('doctor_calendar_resources') }}">
            <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-cogs fa-stack-1x fa-inverse"></i></span>
            {{ 'ui.doctor.dashboard.menu.settings'|trans }}
          </a>
        </li>
      {% endif %}

      <li>
          <a href="tel:{{ application.phone.sales_iso }}">
              <span class="fa fa-phone"></span>&nbsp;<span>{{ application.phone.sales }}</span>
          </a>
      </li>

      {% if app.user %}
        <li><a href="{{ path('doctor_calendar_choose_practice') }}"><i class="fa fa-sign-out fa-fw"></i> {{ 'ui.doctor.dashboard.menu.choose_practice'|trans }}</a></li>
        <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i> {{ 'ui.doctor.dashboard.menu.logout'|trans }}</a></li>
      {% else %}
        <li><a href="{{ path('login') }}">{{ 'ui.menu.login'|trans }}</a></li>
      {% endif %}
    </ul>
</nav>
