<ul class="navigation button-navigation list-unstyled hidden-sm-down hidden-xs">
    {#<li id="help">
        <span class="fa fa-question-circle fa-lg" role="button"></span>
    </li>#}
    <li class="phone">
        <a href="tel:{{ application.phone.sales_iso }}">
            <span class="fa fa-phone icon hidden-md-down"></span>
            <span class="text">{{ application.phone.sales }}</span>
        </a>
    </li>

    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li><a class="btn btn-primary text-uppercase is-thinner" href="{{ path('login') }}">{{ 'ui.menu.login'|trans }}</a></li>
        {#<li><a class="btn btn-secondary text-uppercase is-thinner" href="{{ path('doctor_register') }}">{{ 'ui.menu.register'|trans }}</a></li>#}
    {% endif %}


    {% if is_granted('ROLE_DOCTOR') %}
    <li>
        <div class="dropdown dropdown-mixed-bootstrap-3-and-4 pull-right hidden-sm-down">
            {% spaceless %}
                <a href="#" data-toggle="dropdown" class="dropdown-toggle has-thin-caret-icon" aria-expanded="false">{{ app.user.getEmail() }}</a>
                <div class="dropdown-menu">
                    <a href="{{ path('doctor_calendar_choose_practice') }}" class="dropdown-item"><i class="fa fa-sign-out fa-fw"></i> {{ 'ui.doctor.dashboard.menu.choose_practice'|trans }}</a>
                    <a href="{{ logout_path() }}" class="dropdown-item"><i class="fa fa-sign-out fa-fw"></i> {{ 'ui.doctor.dashboard.menu.logout'|trans }}</a>
                </div>
            {% endspaceless %}
        </div>
    </li>
    {% endif %}
</ul>
