<div class="navigation text-navigation hidden-xs hidden-sm-down">
    <nav>
        {% if is_granted('ROLE_DOCTOR') %}
            <ul class="list-unstyled text-navigation">
                <li>
                    <span class="icon icon-svg icon-calendar hidden-md-down hidden-sm"></span>
                    <a href="{{ path('doctor_calendar') }}" class="text-uppercase is-thinner">{{ 'ui.doctor.dashboard.menu.planner'|trans }}</a>
                </li>
                <li>
                    {% spaceless %}
                        <span class="fa-stack fa-lg hidden-md-down hidden-sm"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-cogs fa-stack-1x fa-inverse"></i></span>
                        <a href="{{ path('doctor_calendar_resources') }}" class="text-uppercase is-thinner">{{ 'ui.doctor.dashboard.menu.settings'|trans }}</a>
                        {#<a href="{{ path('doctor_account') }}" class="dropdown-item settings"><i class="fa fa-user-md fa-fw"></i> {{ 'ui.doctor.dashboard.platform.settings'|trans }}</a>#}
                    {% endspaceless %}
                </li>
            </ul>
        {% endif %}
    </nav>
</div>
