{% if pageCount > 1 %}

    {% if previous is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="btn btn-primary-outline btn-sm">{{ 'ui.search.results.back'|trans }}</a>
    {% else %}
            <a href="#" class="btn btn-primary-outline btn-sm disabled">{{ 'ui.search.results.back'|trans }}</a>
    {% endif %}

    {% if next is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="btn btn-primary-outline btn-sm">{{ 'ui.search.results.more'|trans }}</a>
    {% else %}
            <a href="#" class="btn btn-primary-outline btn-sm disabled">{{ 'ui.search.results.more'|trans }}</a>
    {% endif %}
{% endif %}
