<div class="sidebar-box">
    <h4>
        {{'ui.login.questions.header'|trans}}
    </h4>
    <p>
        {{'ui.login.questions.statement'|trans}}
    </p>
    <p class="large-text">
        <span class="fa fa-phone"></span> <span>{{ application.phone.sales }}</span>
    </p>
</div>