{% if rating is not defined %}
{% set rating = 0 %}
{% endif %}
<div class="stars{% if additional_classes is defined %} {{ additional_classes }}{% endif %}">
    <div style="width:{{ rating/5*100 }}%"></div>
    <meta itemprop="worstRating" content="1">
    <meta itemprop="ratingValue" content="{{ rating }}">
    <meta itemprop="bestRating" content="5">
</div>
