{% block status_message %}
{% if 1==1 or app.session.flashbag.peekAll|length > 0 %}
    <div class="container flash-messages">
        <div class="row">
            <div class="col-lg-12">
                {% for type, messages in app.session.flashbag.all %}
                {% for message in messages %}
                <div class="flash alert alert-{{ type|lower }}">{{ message|raw }}</div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
