body { margin-top:0px; margin-left:0px; }
body, p, li, td, th { font-family: verdana, arial, helvetica, sans-serif; font-size: 9pt; }
p { margin: 3px 3px 8px 3px; }
h1 { font-size:13pt; color:#271700; text-align:left;}
h2 { font-size:11pt; color:#271700; text-align:left;}
h3 { font-size:10pt; color:#271700; text-align:left;}
h4 { font-size:9pt; color:#271700; text-align:left;}

img { border-color: #000000; color: #000000;}
pre { font-family:monospace;}
.nw { white-space:nowrap; }

a {
	color: #FF0000;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: underline;
}

.header_links {
	font-family: verdana;
	font-size: 9pt;
	font-weight: bold;
	color: #271700;
	background-color: #FFFFFF;
	text-align: right;
}
.header_links a {
	color: #271700;
	text-decoration: none;
}
.header_links a:hover {
	color: #FF0000;
}

.left {
	width: 230px;
	clear: both;
}

.menu {
	clear: both;
	text-align: left;
	margin-bottom: 6px;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: #888888;
	border-collapse: collapse;
}
.menu_top {
	clear: both;
	height: 12px;
	background-color: #8CC93F;
	border-bottom: 1px solid #FFFFFF;
}
.menu_bottom {
	clear: both;
	height: 12px;
	background-color: #8CC93F;
	border-top: 1px solid #FFFFFF;
}
.menu_middle {
	clear: both;
	height: 12px;
	background-color: #8CC93F;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.content_frame {
	background-color: #FFFFFF;
}
.content {
	vertical-align: top;
	margin: 6px;
	clear: both;
}
.content_block {
	clear: both;
}

.right {
	font-size: 8pt;
	padding: 3px;
	width: 140px;
}

.adminfooter {
	font-size: 9pt;
	color: #FFFFFF;
	background-color: #477F21;
	padding: 2px 0px 2px 0px;
	clear: both;
	text-align: center;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.adminfooter a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
.adminfooter a:hover {
	color: #FF0000;
}

/* boxes and tables */
.box_right_h {
	font-weight: bold;
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #001E5A;
	border-collapse: collapse;
}
.box_right_c {
	padding: 2px;
	margin: 0px 0px 3px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #001E5A;
	border-collapse: collapse;
}
.box_right_c a {
	color: #001E5A;
	font-weight: bold;
	text-decoration: none;
}
.box_right_c a:hover {
	color: #FF0000;
}
.box_status {
	background-color: #FFFFFF;
	height: 18px;
	line-height: 18px;
	font-size: 9pt;
	color: #000000;
	padding-left: 4px;
	clear: both;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: #888888;
	border-collapse: collapse;
}
.box_status a {
	color: #001E5A;
	font-weight: bold;
	text-decoration: none;
}
.box_status a:hover {
	color: #FF0000;
}

.box_h1 {
	font-size: 9pt;
	line-height: 12pt;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.box_hp_top {
	font-size: 9pt;
	line-height: 12pt;
	border: 1px solid #888888;
}
.box_hp_top_h {
	font-weight: bold;
	padding: 3px;
	border-bottom: 1px solid #888888;
}
.box_hp_top_c {
	padding: 3px;
}
.box_hp_top_c a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}
.box_hp_top_c a:hover {
	color: #FF0000;
}

.box_hp {
	font-size: 9pt;
	line-height: 12pt;
	border: 1px solid #888888;
	border-collapse: collapse;
}
.box_hp_h {
	font-weight: bold;
	padding: 3px;
	border-left: 8px solid #0B1D53;
	border-bottom: 1px solid #888888;
}
.box_hp_c {
	padding: 3px;
}
.box_hp_c a {
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}
.box_hp_c a:hover {
	color: #FF0000;
}

table.box {
	background-color: #F1FBD2;
	border-color: #638900;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
}
table.box th {
	color: #271700;
	background-color: #DDEFA6;
	font-weight: bold;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: #638900;
	border-collapse: collapse;
}
table.box td {
	color: #271700;
	border-color: #638900;
	border-collapse: collapse;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
}

table.box_index {
	border-color: #85AA17;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
}
table.box_index th {
	color: #000000;
	text-align: left;
	padding: 0px;
	line-height: 12pt;
 	background-color: #DDEFA6;
	border-bottom: 1px solid #85AA17;
}
table.box_index td {
	color: #000000;
 	background-color: #F1FBD2;
}
/* left block in table-row */
.box_block {
	border-left: 8px solid #638900;
	padding-left: 8px;
}
/* left menu: topic, subtopic, entry, line */
.lm_bg {
	clear: both;
}
.lm_line {
	font-size: 9pt;
	line-height: 18px;
 	background-color: #CBEF5F;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #85AA17;
}

.lm_1 {
	font-size: 9pt;
	line-height: 20px;
	padding: 0px;
 	color: #FFFFFF;
 	background-color: #477F21;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #444444;
	border-collapse: collapse;
}
.lm_1 a {
	padding: 1px 0px 1px 4px;
	font-weight: bold;
 	color: #FFFFFF;
	text-decoration: none;
	border-left: 8px solid #8CC93F;
	display: block;
}
.lm_1 a:hover {
	color: #FF0000;
}
.lm_1a {
	font-size: 9pt;
	font-weight: bold;
	line-height: 20px;
	padding: 0px;
 	color: #FFFFFF;
 	background-color: #4363BE;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #444444;
	border-collapse: collapse;
}
.lm_1a a {
	padding-left: 5px;
 	color: #FFFFFF;
	text-decoration: none;
	border-left: 8px solid #0B1D53;
	display: block;
}
.lm_1a a:hover {
	color: #FF0000;
}
.lm_2 {
	font-size: 9pt;
	line-height: 18px;
	padding: 2px 0px 2px 0px;
 	color: #FFFFFF;
 	background-color: #4363BE;
	border-top: 1px dashed #444444;
	border-collapse: collapse;
}
.lm_2 a {
	padding-left: 8px;
 	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
.lm_2 a:hover {
	color: #FF0000;
}
.lm_2a {
	font-size: 9pt;
	font-weight: bold;
	line-height: 18px;
	padding: 2px 0px 2px 0px;
 	color: #FFFFFF;
 	background-color: #4363BE;
	border-top: 1px dashed #85AA17;
	border-collapse: collapse;
}
.lm_2a a {
	padding-left: 8px;
 	color: #271700;
	text-decoration: none;
	display: block;
}
.lm_2a a:hover {
	color: #FF0000;
}

/* img */
.img_l {
	float:left;
	margin-right:8px;
	margin-bottom:5px;
	text-align:center;
}
.img_r {
	float:right;
	margin-left:8px;
	margin-bottom:5px;
	text-align:center;
}
.img_c {
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}
.img_border {
	border: 1px solid #DDDDDD;
}
/* basics ******************* */
.b {
	font-weight:bold;
}
/* fontsize */
.fs_s {
	font-size:7pt;
}
.fs_b {
	font-size:9pt;
}
.alert {
	color:#FF0000;
	font-weight:bold;
}
.alert_s {
	font-size: 8pt;
	color:#FF0000;
	font-weight:bold;
}
.c {
	text-align: center;
}

/* colors */
.f3 {
	color: #000000;
	background-color:#D6E1FF;
}
.f4 {
	color: #FFFFFF;
	background-color:#4363BE;
	background-color:#477F21;
}
.f5 {
	color: #FFFFFF;
	background-color:#0B1D53;
}
.error {
	color: #FF0000;
	font-weight: bold;
}
.fs {
	font-size: 0.75em;
}
a.ohne {
	text-decoration: none;
}


/* admin: navigation, menu ********************************************************************* */
table.adminbox {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	background-color: #DDDDDD;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: gray;
}
table.adminbox th {
	font-size: 10pt;
	color: #333333;
	background-color: #BBBBBB;
	font-weight: bold;
	text-align: left;
	border-collapse: collapse;
	border-bottom-width: 0px;
	border-top-width: 1px;
	border-left-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: gray;
}
table.adminbox td {
	font-size: 10pt;
	text-align: left;
	border-collapse: collapse;
	border-bottom-width: 0px;
	border-top-width: 1px;
	border-left-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: gray;
}
td.adminboxheader {
	color: #FFFFFF;
	background-color:#899299;
	font-weight: bold;
	vertical-align: middle;
}
.adminboxselect {
	font-size: 10pt;
	color: #000000;
	background-color: #D0D0D0;
}
.adminbox1select {
	font-size: 10pt;
	color: #000000;
	background-color: #DDDDDD;
}
.adminboxinactive {
	font-size: 10pt;
	color: #000000;
	background-color: #EEEEEE;
}
table.admintree {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	background-color: #DDDDDD;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: gray;
}
table.admintree td {
	font-size: 10pt;
	text-align: left;
	border-style: solid;
	border-collapse: collapse;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-color: gray;
}
table.adminboxgfx {
	font-family: arial, helvetica, sans-serif;
	font-size: 0,8em;
	background-color: #DDDDDD;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: gray;
}
table.adminboxgfx th {
	font-size: 0,8em;
	color: #000000;
	background-color: #CCCCCC;
	font-weight: bold;
	text-align: right;
	border-collapse: collapse;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-color: gray;
}
table.adminboxgfx td {
	font-size: 0,8em;
	color: #000000;
	background-color: #DDDDDD;
	text-align: left;
	border-collapse: collapse;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-color: gray;
}
a.adminboxgfx:link { color: #000000; text-decoration: none; }
a.adminboxgfx:visited { color: #000000; text-decoration: none;}
a.adminboxgfx:active { color: #000000; text-decoration: none; }
a.adminboxgfx:hover { color: #000000; text-decoration: none; }

td.code {
	font-family: courier;
	font-size: 10pt;
}
td.attention {
	background-color: #DD6666;
}
tr.adminboxmapselect {
	font-size: 0,75em;
	color:#000000;
	background-color:#AAAFE0;
}
tr.adminboxmapselect1 {
	font-size: 0,75em;
	color:#000000;
	background-color:#CACFF0;
}

table.adminboxnotdborder {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
}

a.tree:link { color: #000000; text-decoration: none; }
a.tree:visited { color: #000000;  text-decoration: none;}
a.tree:active { color: #FFFFFF;  text-decoration: none; }
a.tree:hover { color: #000000;  text-decoration: none; }

a.adminmenu:link,a.adminmenu:visited,a.adminmenu:active,a.adminmenu:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12pt;
}
