{$this->addCssInclude($this->getStaticUrl('old-css/login_1_0.css'))}
<div id="signup_and_login">
	<div style="width:48%;float:left;">
		<h2>Neu anmelden</h2>
{include file="_anmelden_form.tpl"}
	</div>
	<div style="width:48%;float:right;">
		<h2>Mit vorhandenem Account anmelden</h2>
{include file="_login.tpl"}
	</div>
</div>
