<div id="login" class="section">
	<form name="login_form" id="login_form" method="post" action="{$this->url_form}">
		<p>
			<label for="email">E-Mail:<br /><input class="input_text" value="{$this->form($this->email)}" id="email" name="email" type="text" /></label>
		</p>
		<p style="clear:both;padding-top:1em;">
			<label for="password">Passwort:<br /><input class="input_password" id="password" name="password" type="password" maxlength="20" /></label>
		</p>
{*}		<p><a href="/login.php?a=passwort" class="password_reset_link" rel="nofollow">Passwort vergessen?</a></p>{/*}
		<p class="field submit">
			<input class="input_submit button medium orange" type="submit" value="Login" />
		</p>
		<div class="clear"></div>
	</form>
</div>
