@import "compass/css3";


$break-s:   480px;
$break-m:   767px;
$break-l:   980px;
$break-xl:   1090px;

@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (max-width: $break-s) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-s + 1) and (max-width: $break-m - 1) { @content; }
  }
  @else if $media == laptop {
    @media only screen and (min-width: $break-m + 1) and (max-width: $break-l - 1) { @content; }
  }
  @else if $media == big-screen {
    @media only screen and (min-width: $break-l) { @content; }
  }
}

@mixin respond-up-to($media) {
  @if $media == phone {
    @media only screen and (max-width: $break-s) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (max-width: $break-m) { @content; }
  }
  @else if $media == laptop {
    @media only screen and (max-width: $break-l) { @content; }
  }
  @else if $media == big-screen {
    @media only screen and (max-width: $break-xl) { @content; }
  }
}

.middle-responsive {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1020px;
}

$at-blue: rgb(0, 123, 154);
$white-half-transparent: rgba(255, 255, 255, 0.5);
$cta: rgb(0, 156, 13);
$black: #000000;
$dark-grey: #333333;
$half-grey: #666666;
$grey-60: #999999;
$blending-black: rgba(0,0,0, 0.1);
$font-l: 1.4em;
$font-m: 1.2em;

@font-face {
    font-family: 'overlock';
    src: url('overlock-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'overlock-bold';
    src: url('overlock-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-size: 14px;
    font-family: overlock;
    color: $dark-grey;
}


h1 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: overlock-bold;
}
h1, h3 {
    color: $at-blue;
}
h2, h3 {
    font-style: italic;
}
h3 {
    font-size: 1.5em;
    color: $at-blue;
}
h4 {
    color: $at-blue;
    font-size: 1.6em;
    margin-bottom: 0em;
}

a {
    color: $at-blue;
    text-decoration: none;
}

ul {
    padding-left: 0.5em;
    margin: 0.5em 0.5em;
}
li {
    margin-bottom: 0.5em;
}


header {
    & > div {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        width: 90%;
        height: 60px;
        z-index: 200;
        @include box-shadow(0 4px 8px #aaaaaa);

        height: 7.5em;
        width: 100%;
        background: url(img/texture.jpg);

        @include respond-up-to(tablet) {
            padding: 10px 0;
            width: 100%;
            height: 15em;
        }
    }

    .site-logo {
        @include respond-up-to(tablet) {
            width: 225px;
        }
        @include respond-up-to(phone) {
            margin-left: 50%;
            position: relative;
            left: -122.5px;
        }
    }

    .hotline {
        text-align: center;
        color: $at-blue;
        font-family: overlock-bold;

        .description {
            margin: 0;
            padding: 0;
            font-size: 11px;
            color: #bbb;
            text-align: center;
            margin-top: 1px;
        }
        
        p.phone_nbr {
            margin: 0.65em 0;
            padding: 0;
            font-size: 26px;
            line-height: 30px;
        }

        .icon_phone {
            vertical-align: bottom;
            padding-right: 8px;
        }
        @include respond-up-to(phone) {
            display: none;
        }
    }

    .navigation {
        background-color: $blending-black;
        margin: auto;
        width: 100%;

        & > ul {
            padding: 0;

            & > li {
                cursor: pointer;
                color: $at-blue;
                font-size: $font-m;
                height: 1.3em;
                letter-spacing: 0em;
                text-align: center;
                padding-top: 0.6em; 
                margin-bottom: 0;
                padding-bottom: 0.5em;

                &:hover {
                    background-color: rgba(0,0,0,0.1);
                }
            }
        }
    }
}


table.pure-table {
    margin: auto;
    width: 90%;
    min-width: 300px;
    margin-top: 1em;

    tr.total {
        border-top: 1px solid #cbcbcb;

        .strong {
            background-color: $blending-black;
        }
    }

    th {
        vertical-align: middle;
    }

    td {
        width: 22%;

        &.first-col {
            width: 45%;
        }
    }
    .strong {
        font-weight: bold;
        font-family: overlock-bold;
        font-size: $font-l;
        color: $at-blue;
    }

    & + div {
        width: 90%;
        margin: auto;
        margin-top: 1em;
        font-size: 1em;
        font-family: Arial;
        color: $dark-grey;
    }
}

#main {
    position: relative;
    display: block;
    height: 600px;
    background-image: url(img/headset.jpg);
    background-position: 50% 30%;
    background-size: cover;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7);

    & > div {
        height: 100%;
        overflow: hidden;
        min-width: 320px;
        max-width: 1024px;
        margin: auto;   
    }

    @include respond-up-to(tablet) {
        margin-top: 200px;
    }
}

#cta-box {
    background: $white-half-transparent;
    height: 100%;
    padding-top: 7em;

    input {
        margin-top: 0.2em;
        height: 2em;
        background: $white-half-transparent;
        width: 100%;
        border-radius: 7px;
        border: 1px solid $grey-60;
        font-size: $font-m;

        &.error {
            background: #FFCACA;
            border-color: #FF0000;
        }
    }

    button{
        margin-top: 0.5em;
        font-family: overlock-bold;
        font-size: 1.5em;
        height: 2.4em;
        background: $cta;
        border: 1px solid $cta;
        color: white;
        width: 100%;
        letter-spacing: 0.2em;
        text-transform: uppercase;

        @include background-image(linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%));
        @include border-radius(7px);
    }

    & > div {
        width: 80%;
        margin: auto;
    }

    @include respond-up-to(tablet) {
        padding-top: 2em;
    }

}

#comparison {
    & > div {
        padding: 2em 0;
        box-shadow: 0 0 20px #cbcbcb;
        background: url(img/texture.jpg);
    }
    h4 {
        width: 90%;
        margin: auto;
    }
}


#how-it-works {
    & > div {
        background: url(img/texture.jpg);
        box-shadow: inset 0 0 20px #cbcbcb;
    }

    #benefits > div {
        position: relative;
        display: block;
        padding-bottom: 1em;

        .benefit-box {
            margin: 10px;
            font-size: $font-l;
            color: $black;
        }
    }
}

#about-us {
    & > div { 
        background: url(img/squairy_light.png);
        box-shadow: 0 0 20px #cbcbcb;
        padding-bottom: 2em;
        line-height: 1.4em;
        font-size: $font-l;
    }
	
	#form ul {
		margin-left: 0;
		padding-left: 0;
		list-style: none;
	}
}

footer {
    & > div {
        box-shadow: 0 0px 15px rgba(0,0,0,0.7);
        padding-top: 0.5em;
        position: relative;
        height: 8em;

        @include respond-up-to(tablet) {
            height: 14em;
        }
    }

    .ekomi {
        background: url("img/ekomi-seal.png") no-repeat;
        width: 70px;
        height: 70px;
        position: absolute;
        right: -35px;
        top: 2em;
        z-index: 1;

        @include respond-up-to(big-screen) {
            right: 0px;
            bottom: 0px;
        }
    }

    .press-logos {
        text-align: center;
    }

    .navigation {
        text-align: center;
        padding: 0;
        margin: 0 auto;
        height: 40px;
        
        .sm_btn span { display: none; }
        .sm_btn a { display: block; width: 32px; height: 32px; float: left; filter: grayscale(0.6); position: relative; top: 18px;}
        .fb a { background: url("img/icon_fb.png") no-repeat; }
        .gp a { background: url("img/icon_gp.png") no-repeat; }
        
        li {
            display: inline-block;
            padding: 0 0.5em;
        }
    }
}
/*
    Pure v0.2.0 Table
    (Slightly modified by ArztTermine.de)
    Copyright 2013 Yahoo! Inc. All rights reserved.
    Licensed under the BSD License.
    https://github.com/yui/pure/blob/master/LICENSE.md
*/
.pure-table{border-collapse:collapse;border-spacing:0;empty-cells:show;border:1px solid #cbcbcb}
.pure-table td,.pure-table th{border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:6px 12px}
.pure-table thead{background:rgba(0,0,0,0.1);text-align:left;vertical-align:bottom}