.doctor

  .doctor-details

    .media
      padding-right: 15px

  .doctor-address
    margin: 20px 10px

  .doctor-appointments
    margin-top: 20px
    margin-bottom: 5px

    .table-view
      margin-bottom: 10px

    .table-view-cell
      padding-top: 7px
      padding-bottom: 0
      padding-left: 10px

    .btn
      position: static
      top: auto
      right: auto
      +transform(none)
      margin-bottom: 10px
      margin-right: 5px

    .table-view-divider
      font-size: 14px
      padding-top: 5px
      padding-bottom: 0
      padding-left: 10px
      border-bottom-width: 0
      background: none
      color: $grey
      font-weight: bold

    .hide
      display: none

  .doctor-more-appointments
    margin-bottom: 20px
