footer
  font-size: 0
  background: $blue
  color: white
  padding: 15px 10px 10px 10px
  text-align: center

  table
    width: 100%

    td

  a
    color: white
    font-size: 12px

    &.primary-links
      display: inline-block
      color: white
      font-size: 16px
      margin-top: 5px
