form
  fieldset
    background: $light-grey
    padding: 10px 10px
    border: 0

  input[type=text],
  input[type=email],
  input[type=tel]
    height: 37px
    font-size: 14px
    background: #f8f8f8
    +box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.1))

  select
    height: 37px

  .radio
    margin: 10px 0 20px 0
    input
      margin-right: 10px
    label
      display: inline
      margin-right: 10px
      margin-bottom: 10px
    &.radio-block
      display: block
      label,span
        display: block
        margin-left: 0
        margin-bottom: 10px

  .checkbox
    margin-bottom: 20px
    label
      padding-left: 20px
      display: inline

    input
      margin-left: -20px

  .btn-block
    margin-bottom: 0

  .has-error
    input, select
      border-color: #a94442
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483

    label,span
      color: #a94442
