header.bar-nav
  position: relative
  border-bottom: 3px solid $blue
  background: no-repeat 50% 50% $blue
  background-size: auto 70%
  border-bottom: 34px solid white
  box-sizing: content-box

  .logo
    position: absolute
    display: block
    top: 22px
    left: 50%
    margin-left: -115px
    background: url('/images/mobile/logo.png') no-repeat 0 0
    height: 55px
    width: 230px
    background-size: contain

  .btn-link
    color: white
    display: none

  \+.content
    padding-top: 80px
