.list

  h2
    font-size: $font-size-default
    line-height: $font-size-default
    color: $blue
    margin-bottom: 10px

  .appointment
    margin-top: 18px
    margin-bottom: 0

  .distance
    font-size: 12px

  .pagination
    text-align: center
    a
      display: inline-block
      color: $white
      background: none repeat scroll 0 0 $blue
      border: 1px solid $blue
      border-radius: 3px
      padding: 0.6em 3em
      text-decoration: none
