.search-form

  .introduction
    font-size: 16px
    margin: 20px 0
    padding: 0 10px
    color: $grey

  .btn-block
    margin-left: 30px
    width: calc(100% - 30px)

  .search-form-row
    border-bottom-width: 0
    margin-bottom: 10px
    height: 37px

  .input-label
    width: 25px
    display: inline-block
    \+*
      display: inline-block
      width: calc(100% - 30px)

html.no-csscalc
  .search-form .btn-block,
  .input-label + *
    width: 85%
