h1,
h2,
h3,
h4,
h5,
h6,
p
  color: $grey

h1
  font-size: $font-size-default

h2
  font-size: 15px
  line-height: 20px

h3
  font-size: 14px
  font-weight: bold
  margin-bottom: 3px

.content-padded ul
  font-size: 14px
  color: $grey
  padding-left: 17px

.appointment
  margin-top: 1em
  margin-bottom: 1em
  .datetime
    font-weight: bold
