{% extends 'base.html.twig' %}

{% block body %}
    <h2>Neuen Kunden erstellen</h2>
    <div class="container">
        <div class="alert alert-danger" style="display: none;" id="createCustomerFormErrors"></div>
        {# disable autocomplete as we do not want to create the user by his details #}
        {{ form_start(createCustomer, { attr: { id: 'createCustomerForm', autocomplete: 'off' }}) }}
        <div class="row">
            <div class="col-md-2 col-xs-6">
                {{ form_row(createCustomer.gender) }}
            </div>
            <div class="col-md-2 col-xs-6">
                {{ form_row(createCustomer.title) }}
            </div>
            <div class="col-md-4 col-xs-6">
                {{ form_row(createCustomer.firstName) }}
            </div>
            <div class="col-md-4 col-xs-6">
                {{ form_row(createCustomer.lastName) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                {{ form_row(createCustomer.email, { attr: { autocomplete: 'off' } }) }}
            </div>
            <div class="col-sm-6 col-xs-12">
                {% set randomPassword = [] %}
                {% set maxCharacters = 12 + random(4) %}
                {% set alpha = 'abcdefghjkmnpqrstuvwxyzABCDEFGHKLMNPQRSTUVWXYZ' %}
                {% set numbers = '123456789' %}
                {% for i in 1..maxCharacters %}
                    {# no 0 or o or I/l as they are often mistaken #}
                    {% set randomCharacter = random(alpha ~ numbers ~ '-_') %}
                    {% set randomPassword = randomPassword|merge([randomCharacter]) %}
                {% endfor %}
                {% set generatedPassword = randomPassword | join %}
                {{ form_row(createCustomer.password, { required: true, value: generatedPassword, attr: { autocomplete: 'off' } }) }}
                Zufällig generiertes Standartpasswort: <strong>{{ generatedPassword }}</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                {{ form_row(createCustomer.roles) }}
            </div>
        </div>
        <br />
        {% include ':include:submit.html.twig' %}
        {{ form_end(createCustomer) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var form = $('#createCustomerForm');
        var errorContainer = $('#createCustomerFormErrors');

        form.submit(function (e) {
            e.preventDefault();
            e.stopPropagation();

            errorContainer.fadeOut();
            var data = form.serialize();

            $.ajax({
                url: '{{ path('api_create_customer') }}',
                dataType: 'json',
                method: 'POST',
                data: data,
                success: function (res) {
                    if (res.success) {
                        errorContainer.removeClass('alert-danger');
                        errorContainer.addClass('alert-success');
                        handleErrors('Kunde erfolgreich erstellt. Weiterleitung ...');

                        setTimeout(function () {
                            window.location.href = '{{ path('customers') }}'
                        }, 1000);
                    } else {
                        handleErrors(JSON.stringify(res, null, 2));
                    }
                },
                error: function (err) {
                    handleErrors(JSON.stringify(err.responseJSON, null, 2));
                }
            });
        });

        function handleErrors(errors) {
            errorContainer.html(errors);
            errorContainer.fadeIn();
        }
    </script>
{% endblock %}
