{% extends 'base.html.twig' %}

{% block body %}
<h2>Users</h2>
    <div class="row">
        <div class="col-2">
            <a href="{{ path('create_customer') }}" class="btn btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-10">
            {% include ':include:pagination.html.twig' with { page: page } %}
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for c in customers %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.fullName }}</td>
                <td>{{ c.email }}</td>
                <td>
                    {% for role in c.roles %}
                        {{ role|replace({'ROLE_': ''})|title }}{% if loop.index < loop.length %},{% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('update_customer', { id: c.id }) }}">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
