{% extends 'base.html.twig' %}

{% block body %}
    <h2><i class="fa fa-edit" aria-hidden="true"></i> {{ customer.fullName }} (#{{ customer.id }})</h2>
    <br />
    <div class="container">
        <div class="alert alert-danger response" style="display: none;"></div>
        {{ form_start(form, { attr: { id: 'updateCustomerForm' } }) }}
        <div class="row">
            <div class="col-md-2 col-xs-6">
                {{ form_row(form.gender) }}
            </div>
            <div class="col-md-2 col-xs-6">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md-4 col-xs-6">
                {{ form_row(form.firstName) }}
            </div>
            <div class="col-md-4 col-xs-6">
                {{ form_row(form.lastName) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                {{ form_row(form.roles) }}
            </div>
        </div>
        <br />
        {% do form.password.setRendered %}
        {% include ':include:submit.html.twig' %}
        {{ form_end(form) }}
        <br />
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var form = $('#updateCustomerForm');
        var errorContainer = $('.response');

        form.submit(function (e) {
            e.preventDefault();
            e.stopPropagation();

            errorContainer.fadeOut();
            var data = form.serialize();

            $.ajax({
                url: '{{ path('api_update_customer', { id: customer.id }) }}',
                dataType: 'json',
                method: 'PUT',
                data: data,
                success: function (res) {
                    if (res.success) {
                        errorContainer.removeClass('alert-danger');
                        errorContainer.addClass('alert-success');
                        handleErrors('Kunde erfolgreich aktualisiert. Weiterleitung ...');

                        setTimeout(function () {
                            window.location.href = '{{ path('customers') }}'
                        }, 1200);
                    } else {
                        handleErrors('<pre'> + JSON.stringify(res, null, 2) + '</pre>');
                    }
                },
                error: function (err) {
                    handleErrors('<pre>' + JSON.stringify(err.responseJSON, null, 2) + '</pre>');
                }
            });
        });

        function handleErrors(errors) {
            errorContainer.html(errors);
            errorContainer.fadeIn();
        }
    </script>
{% endblock %}
