<div id="footer">
	<div class="middle-responsiv">
		<ul id="meta_navigation">
			<li class="first"><a href="/Kontakt" rel="nofollow">Kontakt</a></li>
			<li><a href="/Datenschutz" rel="nofollow">Datenschutz</a></li>
			<li class=""><a href="/AGB" rel="nofollow">AGB</a></li>
			<li><a href="/Impressum" rel="nofollow">Impressum</a></li>
			<?php if( isset($additionalLI)){ echo $additionalLI ;} ?>
		</ul>
		<p id="footerInformation">Hotline: <span class="at_grbl">0800 / 2222 133</span> | Kontakt: <a href="mailto:info@arzttermine.de" class="info_Mailadresse at_grbl">info@arzttermine.de</a></p>
		<div id="footerPart2">
			<ul id="meta_nav_adv" class="footerAdvBox">
				<h4>Weitere Informationen</h4>
				<li><a href="/magazin/">Magazin</a></li>
				<li><a href="/jobs" title="Jobs - Arzttermine.de">Jobs</a></li>
				<li><a href="/news" title="Newsbereich - Arzttermine.de">News</a></li>
				<li><a href="/presse" title="Pressebereich - Arzttermine.de">Pressebereich</a></li>
			</ul>
			<div id="city_cols" class="footerAdvBox">
				<div id="city_col_1">
					<h4>Berliner Zahnärzte<br>(Stadtteile)</h4>
					<ul class="city_col_1_1">
						<li><a title="Zahnarzt Berlin Charlottenburg" href="/zahnarzt/charlottenburg">Charlottenburg</a></li>
						<li><a title="Friedrichshain, Berlin" href="/zahnarzt/friedrichshain">Friedrichshain</a></li>
						<li><a title="Kreuzberg, Berlin" href="/zahnarzt/kreuzberg">Kreuzberg</a></li>
						<li><a title="Lichtenberg, Berlin" href="/zahnarzt/lichtenberg">Lichtenberg</a></li>
						<li><a title="Mitte, Berlin" href="/zahnarzt/mitte">Mitte</a></li>
						<li><a title="Neukölln, Berlin" href="/zahnarzt/Neukölln">Neukölln</a></li>
						<li><a title="Spandau, Berlin" href="/zahnarzt/spandau">Spandau</a></li>
						<li><a title="Prenzlauer Berg, Berlin" href="/zahnarzt/prenzlauer-berg">Prenzlauer Berg</a></li>
						<li><a title="Schöneberg, Berlin" href="/zahnarzt/Schöneberg">Schöneberg</a></li>
						<li><a title="Steglitz, Berlin" href="/zahnarzt/Steglitz">Steglitz</a></li>
					</ul>
					<ul class="city_col_1_2">				
						<li><a title="Tempelhof, Berlin" href="/zahnarzt/tempelhof">Tempelhof</a></li>
						<li><a title="Tiergarten, Berlin" href="/zahnarzt/Tiergarten">Tiergarten</a></li>
						<li><a title="Wilmersdorf, Berlin" href="/zahnarzt/wilmersdorf">Wilmersdorf</a></li>
						<li><a title="Wedding, Berlin" href="/zahnarzt/wedding">Wedding</a></li>
						<li><a title="Zehlendorf, Berlin" href="/zahnarzt/berlin-zehlendorf">Zehlendorf</a></li>
						<li><a title="Weißensee, Berlin" href="/zahnarzt/berlin-weissensee">Weißensee</a></li>
						<li><a title="Treptow, Berlin" href="/zahnarzt/berlin-treptow">Treptow</a></li>
						<li><a title="Pankow, Berlin" href="/zahnarzt/berlin-pankow">Pankow</a></li>
						<li><a title="Neukölln, Berlin" href="/zahnarzt/neukoelln">Neukölln</a></li>
						<li><a title="Köpenick, Berlin" href="/zahnarzt/köpenick">Köpenick</a></li>
					</ul>
				</div>
				<div id="city_col_2" class="footerAdvBox">
					<div class="left" style="margin-right: 17px;">
						<h4>Zahnärzte in weiteren<br>Metropolen</h4>
						<ul class="city_col_2_1">
							<li><a title="Zahnarzt in Berlin" href="/zahnarzt/berlin">Zahnarzt Berlin</a></li>
							<li><a title="Zahnarzt in Bremen" href="/zahnarzt/bremen">Zahnarzt Bremen</a></li>
							<li><a title="Zahnarzt in Dresden" href="/zahnarzt/dresden">Zahnarzt Dresden</a></li>
							<li><a title="Zahnarzt in Düsseldorf" href="/zahnarzt/duesseldorf">Zahnarzt Düsseldorf </a></li>
							<li><a title="Zahnarzt in Essen" href="/zahnarzt/essen">Zahnarzt Essen</a></li>
							<li><a title="Zahnarzt in Frankfurt" href="/zahnarzt/frankfurt">Zahnarzt Frankfurt</a></li>
							<li><a title="Zahnarzt in Hamburg" href="/zahnarzt/hamburg">Zahnarzt Hamburg</a></li>
							<li><a title="Zahnarzt in Hannover" href="/zahnarzt/hannover">Zahnarzt Hannover</a></li>
							<li><a title="Zahnarzt in Köln" href="/zahnarzt/koeln">Zahnarzt Köln</a></li>
							<li><a title="Zahnarzt in Leipzig" href="/zahnarzt/leipzig">Zahnarzt Leipzig</a></li>
							<li><a title="Zahnarzt in München" href="/zahnarzt/muenchen">Zahnarzt München</a></li>
							<li><a title="Zahnarzt in Nürnberg" href="/zahnarzt/nuernberg">Zahnarzt Nürnberg</a></li>
							<li><a title="Zahnarzt in Stuttgart" href="/zahnarzt/stuttgart">Zahnarzt Stuttgart</a></li>
						</ul>
					</div>
					<div class="left" style="margin-right: 22px;">
						<h4>Kinderzahnärzte in <br>Deutschland</h4>
						<ul class="city_col_2_2">
							<li><a title="Kinderzahnarzt in Berlin" href="/kinderzahnarzt/berlin">Kinderzahnarzt Berlin</a></li>
							<li><a title="Kinderzahnarzt in Bremen" href="/kinderzahnarzt/bremen">Kinderzahnarzt Bremen</a></li>
							<li><a title="Kinderzahnarzt in Dresden" href="/kinderzahnarzt/dresden">Kinderzahnarzt Dresden</a></li>
							<li><a title="Kinderzahnarzt in Düsseldorf" href="/kinderzahnarzt/duesseldorf">Kinderzahnarzt Düsseldorf </a></li>
							<li><a title="Kinderzahnarzt in Essen" href="/kinderzahnarzt/essen">Kinderzahnarzt Essen</a></li>
							<li><a title="Kinderzahnarzt in Frankfurt" href="/kinderzahnarzt/frankfurt">Kinderzahnarzt Frankfurt</a></li>
							<li><a title="Kinderzahnarzt in Hamburg" href="/kinderzahnarzt/hamburg">Kinderzahnarzt Hamburg</a></li>
							<li><a title="Kinderzahnarzt in Hannover" href="/kinderzahnarzt/hannover">Kinderzahnarzt Hannover</a></li>
							<li><a title="Kinderzahnarzt in Köln" href="/kinderzahnarzt/koeln">Kinderzahnarzt Köln</a></li>
							<li><a title="Kinderzahnarzt in Leipzig" href="/kinderzahnarzt/leipzig">Kinderzahnarzt Leipzig</a></li>
							<li><a title="Kinderzahnarzt in München" href="/kinderzahnarzt/muenchen">Kinderzahnarzt München</a></li>
							<li><a title="Kinderzahnarzt in Nürnberg" href="/kinderzahnarzt/nuernberg">Kinderzahnarzt Nürnberg</a></li>
						</ul>
					</div>
					<div class="last">
						<h4 class="city_col_2_3">Weitere <br>Fachrichtungen</h4>
						<ul class="city_col_2_3">
							<li><a title="Frauenarzt in Frakfurt" href="/frauenarzt/frankfurt">Frauenarzt Frankfurt</a></li>
							<li><a title="Frauenarzt in Hamburg" href="/frauenarzt/Hamburg">Frauenarzt Hamburg</a></li>
							<li><a title="MRT-Diagnostik in Berlin" href="/mrt/berlin">MRT-Diagnostik Berlin</a></li>
							<li><a title="Hautarzt in Berlin" href="/hautarzt/berlin">Hautarzt Berlin</a></li>
							<li><a title="HNO-Arzt in Frankfurt" href="/hno/frankfurt">HNO-Arzt Frankfurt</a></li>
							<li><a title="Urologe in Hamburg" href="/urologe/hamburg">Urologe Hamburg</a></li>
							<li><a title="Orthopäde in Frankfurt" href="/orthopaede/frankfurt">Orthopäde Frankfurt</a></li>
							<li><a title="Kieferorthopäde in Berlin" href="/kieferorthopaede/berlin">Kieferorthopäde Berlin</a></li>
							<li><a title="Kieferorthopäde in Hamburg" href="/kieferorthopaede/hamburg">Kieferorthopäde Hamburg</a></li>
							<li><a title="Kieferorthopäde in München" href="/kieferorthopaede/muenchen">Kieferorthopäde München</a></li>
							<li><a title="Kieferorthopäde in Frankfurt" href="/kieferorthopaede/frankfurt">Kieferorthopäde Frankfurt</a></li>
							<li><a title="Homöopathie in Berlin" href="/homoeopathie/berlin">Homöopathie Berlin</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27059894-1']);
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);
  _gaq.push(['_setSiteSpeedSampleRate', 100]);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript">
    var leady_track_key="y39FXY28qIbZZ8Ib";
    var leady_track_server=document.location.protocol+"//t.leady.com/";
    (function(){
        var l=document.createElement("script");l.type="text/javascript";l.async=true;
        l.src=leady_track_server+leady_track_key+"/L.js";
        var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(l,s);
    })();
</script>