{% extends '::base.html.twig' %}

{% use ':doctor/dashboard:footer.html.twig' %}

{% block content %}
    <div class="container summary">
        <h2>Wählen Sie eine Praxis</h2>
        {% if practice is defined and not practice is null %}
        <p>Aktuelle Praxis: {{ practice.name }} ({{ practice.location.zip ~ '-' ~ practice.location.city }})</p>
        {% endif %}
        <br />
        <ul class="list-group" style="line-height: 200%;">
            {% for p in practices|keys %}
                <li><a class="list-group-item" href="{{ path('doctor_calendar_set_practice', { id: p }) }}">{{ practices[p] }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
