{% extends '::base.html.twig' %}

{% use ':doctor/dashboard:footer.html.twig' %}

{% block content %}
    <div class="container summary">
        <h2>Fehlende Berechtigungen</h2>
        <p>
            {% if app.user %}Hallo {{ app.user.fullName }},<br />l{% else %}L{% endif %}eider
            haben Sie nicht genügend Berechtigungen um auf diese Inhalte zuzugreifen.
            Es scheint als wären Sie keiner Praxis zugeordnet.
        </p>
        <p>
            Bei weiteren Fragen zögern Sie nicht uns zu kontaktieren.
        </p>
        <p>
            <a href="{{ path('logout') }}" title="Abmelden">Abmelden</a>
        </p>
    </div>
{% endblock %}
