{% extends '::base.html.twig' %}

{% use ':doctor/dashboard:footer.html.twig' %}

{% block content %}
    {% set query_slug = '?l='~slug %}
    {% set profile_pic = getProfileAssetUrl(location.getProfileAssetId, location.getProfileAssetFilename, constant('ArzttermineBundle\\Media\\Asset::GFX_SIZE_MEDIUM_LANDSCAPE_CROPPED'), false, constant('ASSET_OWNERTYPE_LOCATION')) %}
    {% set default_location = locations|first %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% include ':doctor/dashboard:navigation.html.twig' with { 'query_slug': query_slug, 'default_location': default_location, 'active_route': 'doctor_practice' } %}
        </div>
    </div>

    <div class="row content">
        <div class="col-sm-12">

            {{ form_start(form, {
                'attr': { 'class': 'form-horizontal' },
                'action': path('doctor_practice') ~ query_slug
            }) }}

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.practice.practice_name'|trans }}</label>

                    <div class="col-sm-4">
                        <select id="praxen" class="form-control hyperlink">
                            {% for practice in locations %}
                                <option value="?l={{ practice.getSlug }}" {% if location.getId == practice.getId %}selected{% endif %}>{{ practice.getName }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-sm-2">
                        <img src="{% if profile_pic %}{{ profile_pic }}{% else %}{{ asset('images/application/placeholder.png') }}{% endif %}" /><br/>
                    </div>
                </fieldset>
                <hr/>

                <fieldset class="form-group row form-inline">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.integration.type.label'|trans }}</label>

                    <div class="col-sm-8">
                        <div class="radio">
                            <label><input name="integration_id" type="radio" {% if location.getIntegrationId == 1 %}checked{% endif %}/>{{ 'ui.doctor.dashboard.integration.type.calendar'|trans }}</label>
                        </div>
                        <div class="radio">
                            <label><input name="integration_id" type="radio" {% if location.getIntegrationId == 8 %}checked{% endif %}/>{{ 'ui.doctor.dashboard.integration.type.appointment_enquiry'|trans }}</label>
                        </div>
                    </div>
                </fieldset>
                <hr/>

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.practice.address'|trans }}</label>

                    <div class="col-sm-8">
                        <div class="form-control-static">
                            {{ form_widget(form.street) }}
                            {{ form_errors(form.street) }}
                        </div>
                    </div>
                </fieldset>
                <hr/>

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.practice.zip'|trans }}</label>

                    <div class="col-sm-8">
                        <div class="form-control-static">
                            {{ form_widget(form.zip) }}
                            {{ form_errors(form.zip) }}
                        </div>
                    </div>
                </fieldset>
                <hr/>

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.practice.city'|trans }}</label>

                    <div class="col-sm-8">
                        <div class="form-control-static">
                            {{ form_widget(form.city) }}
                            {{ form_errors(form.city) }}
                        </div>
                    </div>
                </fieldset>
                <hr/>

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.practice.address_additional'|trans }}</label>

                    <div class="col-sm-8">
                        <div class="form-control-static">
                            {{ form_widget(form.addressAdditional) }}
                            {{ form_errors(form.addressAdditional) }}
                        </div>
                    </div>
                </fieldset>
                <hr/>

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.practice.phone'|trans }}</label>

                    <div class="col-sm-3">
                        {{ form_widget(form.phone) }}
                        {{ form_errors(form.phone) }}
                    </div>
                </fieldset>
                <hr/>

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.practice.fax'|trans }}</label>

                    <div class="col-sm-3">
                        {{ form_widget(form.fax) }}
                        {{ form_errors(form.fax) }}
                    </div>
                </fieldset>
                <hr/>

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.practice.www'|trans }}</label>

                    <div class="col-sm-4">
                        {{ form_widget(form.www) }}
                        {{ form_errors(form.www) }}
                    </div>
                </fieldset>
                <hr/>

                {% do form.medical_specialty_ids.setRendered %}
                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.practice.medical_specialty'|trans }}</label>

                    <div class="col-sm-8 col-md-10 form-inline">
                        {% set specialty_selected = false %}
                        <div class="checkbox specialties">
                        {% for specialty in all_specialties %}
                            {% if specialty.getId in specialties %}
                                <label>
                                    <input type="checkbox" name="doctor_location[medical_specialty_ids][]" value="{{ specialty.getId }}" checked>
                                    {% set specialty_selected = true %}
                                    {{ specialty.getName }}
                                </label>
                            {% endif %}
                        {% endfor %}
                        </div>

                        {% if specialty_selected %}
                            {% spaceless %}
                        <a class="btn btn-secondary btn-sm collapsed toggle-specialties" data-target="[data-name=all-specialties]" data-toggle="collapse" href="#">
                            <span class="show-more show-when-collapsed">{{ 'ui.doctor.dashboard.practice.specialties_toggle_more'|trans }}</span>
                            <span class="show-less show-when-not-collapsed">{{ 'ui.doctor.dashboard.practice.specialties_toggle_less'|trans }}</span>
                        </a>
                            {% endspaceless %}
                        {% endif %}

                        <div class="collapse checkbox-list-in-3-rows unselected-specialties" data-name="all-specialties">
                            <div class="inner">
                            {% for specialty in all_specialties %}
                                {% if specialty.getId not in specialties %}
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="doctor_location[medical_specialty_ids][]" value="{{ specialty.getId }}">{{ specialty.getName }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr/>

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.practice.doctors_in_this_practice'|trans }}</label>

                    {% for praxisDoctor in doctors %}
                    <div class="col-sm-8{% if not loop.first %} offset-sm-4 offset-md-2{% endif %}">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <img src="{{ getProfileAssetUrl(praxisDoctor.getProfileAssetId, praxisDoctor.getProfileAssetFilename, constant('ArzttermineBundle\\Media\\Asset::GFX_SIZE_MEDIUM_PORTRAIT')) }}" width="100"/>
                                </div>
                            </div>
                            <div class="media-body">
                                <h3>
                                    {{ getFullName(praxisDoctor) }} <br/>
                                    {{ getMedicalSpecialtyText(praxisDoctor.getMedicalSpecialtyIds, false, ', ') }}
                                </h3>
                                <small>
                                    <a href="{{ path('doctor_profile', { 'slug': praxisDoctor.getSlug }) }}">{{ 'ui.doctor.dashboard.practice.show_doctor_profile'|trans }}</a><br/>
                                    <a href="{{ path('doctor_account') }}?u={{ praxisDoctor.getSlug }}">{{ 'ui.doctor.dashboard.practice.edit_doctor_profile'|trans }}</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </fieldset>
                <hr/>

                <button class="btn btn-primary pull-right" type="submit">{{ 'ui.doctor.dashboard.practice.button_submit'|trans }}</button>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        var doctorsMedicalSpecialtyIds = {{ specialties|json_encode|raw }} || [];
        var docAccountUrl = '{{ path('doctor_account') }}';
    </script>

    <script type="text/javascript" src="{{ asset('js/dashboard.js') }}"></script>

{% endblock %}
