/*
 @import "../../../static/old-css/reset-min.css" ;*/
@import "../../../static/old-css/main.css";
@import "../../../static/old-css/admin_1_0.css";
@import "../../../static/old-css/fonts-min.css";
@import "../main/login.css";
@import "../main/paging.css";
@import "users.css";
@import  "../../../static/fancybox/jquery.fancybox-1.3.4.css";
@import "../doctors/calendar.css";

body{
	margin: 0px;
	padding: 0px;
}


.content-right {
  overflow: auto;
}
.content_right_head {
  float: left;
  background: #DDEFA6;
  width: 100%
}
.content_right_body {
  float: left;
  width: 100%
}

.content_right_footer {
  float: left;
  background: #FBCBBC;
  width: 100%
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}


#nav-02 li a {
	font-family: tahoma,helvetica,arial;
}

#footerPart2 .footerAdvBox {
	padding: 0;
}

#footerPart2 #city_cols {
    border-left: 1px dashed #999999;
    float: right;
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 15px;
    position: relative;
    width: 80%;
}

#footerInformation {
    top: 0;
}
