#admin-navigation {
  background-color: #313131;
  color: white;
  text-align: right;
  font-size: 12px;
  position: relative;
  width: 100%;
  line-height: 26px;
}
#admin-navigation a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 2em;
}
