/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* line 3, ../scss/modules/_buttons.scss */
#save_calendar, .ui-dialog button {
  cursor: pointer;
  color: white;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.2em 1em;
  font-family: Gudea, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
}
/* line 11, ../scss/modules/_buttons.scss */
.large#save_calendar, .ui-dialog button.large {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
}
/* line 23, ../scss/modules/_buttons.scss */
#save_calendar:active, .ui-dialog button:active {
  box-shadow: none;
}

/* line 50, ../scss/vendor/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 61, ../scss/vendor/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 66, ../scss/vendor/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 77, ../scss/vendor/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 168, ../scss/vendor/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  height: 1.8em;
  vertical-align: top;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 196, ../scss/vendor/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

/* line 207, ../scss/vendor/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

/* line 221, ../scss/vendor/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

/* line 226, ../scss/vendor/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

/* line 231, ../scss/vendor/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

/* line 237, ../scss/vendor/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 244, ../scss/vendor/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 257, ../scss/vendor/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 264, ../scss/vendor/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 272, ../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  /* line 287, ../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666;
  }
}
/* line 295, ../scss/vendor/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 302, ../scss/vendor/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 312, ../scss/vendor/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 6, ../scss/doc-calendar.scss */
#calendar_body {
  position: relative;
  margin-top: 32px;
  margin-top: 2rem;
}

/* line 10, ../scss/doc-calendar.scss */
#calendar {
  position: relative;
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  min-width: 950.4px;
  min-width: 59.4rem;
  padding-left: 39.6px;
  padding-left: 2.475rem;
}

/* line 18, ../scss/doc-calendar.scss */
#save_calendar {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 16px;
  padding: 0rem 1rem;
  height: 40px;
  height: 2.5rem;
  line-height: 16px;
  line-height: 1rem;
  border: 1px solid #0090d6;
  border-radius: 2px;
  background: #0090d6;
  float: right;
}
/* line 43, ../scss/modules/_buttons.scss */
#save_calendar:hover {
  background: #0aafff;
}

/* line 134, ../scss/modules/_base.scss */
.calendar-controls:after {
  content: "";
  display: table;
  clear: both;
}

/* line 27, ../scss/doc-calendar.scss */
.calendar_column {
  width: 158.4px;
  width: 9.9rem;
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  border-bottom: 1px solid #cccccc;
}

/* line 33, ../scss/doc-calendar.scss */
#calendar_column_0 {
  width: 79.2px;
  width: 4.95rem;
}

/* line 34, ../scss/doc-calendar.scss */
#calendar_column_6 {
  display: none;
}

/* line 36, ../scss/doc-calendar.scss */
.calendar_weekday {
  height: 40px;
  height: 2.5rem;
  text-align: center;
  font-weight: 700;
}

/* line 43, ../scss/doc-calendar.scss */
.calendar_left_times,
.calendar_time_block {
  width: 100%;
  height: 60px;
  height: 3.75rem;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, ../scss/doc-calendar.scss */
.calendar_left_times {
  text-align: center;
  font-weight: 700;
  line-height: 60px;
  line-height: 3.75rem;
}

/* line 58, ../scss/doc-calendar.scss */
.calendar_column:last-of-type .calendar_time_block {
  border-right: 1px solid #cccccc;
}

/* line 63, ../scss/doc-calendar.scss */
.ui-dialog {
  background: white;
  padding: 32px;
  padding: 2rem;
  border: 1px solid #313131;
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.2);
}
/* line 69, ../scss/doc-calendar.scss */
.ui-dialog td {
  padding: 4px;
  padding: 0.25rem;
}
/* line 73, ../scss/doc-calendar.scss */
.ui-dialog li[role=tab] {
  display: inline-block;
}
/* line 75, ../scss/doc-calendar.scss */
.ui-dialog button {
  border: 1px solid #0090d6;
  border-radius: 2px;
  background: #0090d6;
}
/* line 43, ../scss/modules/_buttons.scss */
.ui-dialog button:hover {
  background: #0aafff;
}
/* line 78, ../scss/doc-calendar.scss */
.ui-dialog button.ui-dialog-titlebar-close {
  background: none;
  color: #0090d6;
  border: 0;
  box-shadow: none;
  position: absolute;
  right: 8px;
  right: 0.5rem;
  top: 8px;
  top: 0.5rem;
}
/* line 87, ../scss/doc-calendar.scss */
.ui-dialog button.ui-dialog-titlebar-close .ui-button-text {
  display: none;
}
/* line 89, ../scss/doc-calendar.scss */
.ui-dialog button.ui-dialog-titlebar-close:after {
  content: "\2715";
}

/* line 96, ../scss/doc-calendar.scss */
#ui-datepicker-div {
  background: white;
  border: 1px solid #cccccc;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  padding: 16px;
  padding: 1rem;
}
/* line 102, ../scss/doc-calendar.scss */
#ui-datepicker-div td {
  padding: 8px;
  padding: 0.5rem;
}
/* line 106, ../scss/doc-calendar.scss */
#ui-datepicker-div .ui-datepicker-header {
  padding: 8px 0px;
  padding: 0.5rem 0rem;
}
/* line 107, ../scss/doc-calendar.scss */
#ui-datepicker-div .ui-datepicker-next {
  float: right;
}
/* line 108, ../scss/doc-calendar.scss */
#ui-datepicker-div .ui-datepicker-prev {
  float: left;
}
/* line 109, ../scss/doc-calendar.scss */
#ui-datepicker-div .ui-datepicker-title {
  text-align: center;
}

/* line 112, ../scss/doc-calendar.scss */
.calendar_appointment_block {
  width: 158.4px;
  width: 9.9rem;
  position: absolute;
  background-color: #0090D6;
  color: #fff;
  font-size: 12px;
}

/* line 120, ../scss/doc-calendar.scss */
.calendar_remove_parent {
  float: right;
  margin-right: 3px;
  font-size: 10px;
}

/* line 127, ../scss/doc-calendar.scss */
.week_buttons_container {
  padding-bottom: 24px;
  position: relative;
  top: 38px;
  z-index: 100;
  padding-left: 16px;
  padding-right: 16px;
}

/* line 136, ../scss/doc-calendar.scss */
.previous_week {
  background-image: url(/static/img/prev-week-link-c.png);
  float: left;
  height: 23px;
  width: 14px;
}

/* line 143, ../scss/doc-calendar.scss */
.next_week {
  background-image: url(/../static/img/next-week-link-c.png);
  float: right;
  height: 23px;
  width: 14px;
  position: absolute;
  right: 13px;
}
