@charset "UTF-8";
/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* line 3, ../scss/modules/_buttons.scss */
.home #for-doctors form button,
.home #for-doctors form input[type=submit] {
  cursor: pointer;
  color: white;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.2em 1em;
  font-family: Gudea, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
}
/* line 11, ../scss/modules/_buttons.scss */
.home #for-doctors form button,
.home #for-doctors form input[type=submit] {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
}
/* line 23, ../scss/modules/_buttons.scss */
.home #for-doctors form button:active,
.home #for-doctors form input[type=submit]:active {
  box-shadow: none;
}

/* line 50, ../scss/vendor/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 61, ../scss/vendor/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 66, ../scss/vendor/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 77, ../scss/vendor/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 168, ../scss/vendor/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  height: 1.8em;
  vertical-align: top;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 196, ../scss/vendor/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

/* line 207, ../scss/vendor/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

/* line 221, ../scss/vendor/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

/* line 226, ../scss/vendor/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

/* line 231, ../scss/vendor/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

/* line 237, ../scss/vendor/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 244, ../scss/vendor/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 257, ../scss/vendor/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 264, ../scss/vendor/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 272, ../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  /* line 287, ../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666;
  }
}
/* line 295, ../scss/vendor/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 302, ../scss/vendor/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 312, ../scss/vendor/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 4, ../scss/home.scss */
.home main > section.cinema {
  margin-top: -16px;
  margin-top: -1rem;
}
/* line 7, ../scss/home.scss */
.home main > section.cinema ~ section {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 13, ../scss/home.scss */
.home main > section.cinema ~ section:before {
  margin-bottom: 64px;
  margin-bottom: 4rem;
  content: " ";
  display: block;
  height: 1px;
  background: #cccccc;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(40%, #cccccc), color-stop(60%, #cccccc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -moz-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -ms-linear-gradient(left, white 0%, #cccccc 40%, #cccccc 60%, white 100%);
}
/* line 25, ../scss/home.scss */
.home div.section_divider {
  margin-top: 48px;
  margin-top: 3rem;
}
/* line 28, ../scss/home.scss */
.home div.section_divider:before {
  margin-bottom: 64px;
  margin-bottom: 4rem;
  content: " ";
  display: block;
  height: 1px;
  background: #cccccc;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(40%, #cccccc), color-stop(60%, #cccccc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -moz-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -ms-linear-gradient(left, white 0%, #cccccc 40%, #cccccc 60%, white 100%);
}
/* line 38, ../scss/home.scss */
.home h1 {
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 44.8px;
  line-height: 2.8rem;
}
/* line 48, ../scss/home.scss */
.home h1.mobile {
  color: #323232;
  font-size: 1.6rem;
  line-height: 32px;
  line-height: 2rem;
  margin-top: -16px;
  margin-top: -1rem;
}
/* line 56, ../scss/home.scss */
.home h2 {
  font-family: Gudea, Arial, sans-serif;
  color: #313131;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 1rem;
}
/* line 64, ../scss/home.scss */
.home h3 {
  font-family: Gudea, Arial, sans-serif;
  font-weight: 400;
  color: #666666;
  text-align: center;
}
/* line 71, ../scss/home.scss */
.home .cinema {
  background-image: url(/static/images/content/home-1.jpg);
  width: 100%;
  float: left;
  margin-right: 2.17028%;
  padding-left: 32px;
  padding-left: 2rem;
  padding-right: 32px;
  padding-right: 2rem;
  margin-left: 3.2px;
  margin-left: 0.2rem;
  border: 0;
  color: white;
  float: none;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-bottom: 18rem;
  margin-bottom: 2rem;
}
/* line 73, ../scss/home.scss */
.home .cinema.picture-1 {
  background-image: url(/static/images/content/home-2.jpg);
}
/* line 74, ../scss/home.scss */
.home .cinema.picture-2 {
  background-image: url(/static/images/content/home-3.jpg);
}
/* line 75, ../scss/home.scss */
.home .cinema.picture-3 {
  background-image: url(/static/images/content/home-4.jpg);
}
/* line 76, ../scss/home.scss */
.home .cinema.picture-4 {
  background-image: url(/static/images/content/home-6.jpg);
}
/* line 98, ../scss/home.scss */
.home .cinema .headline {
  text-align: center;
  padding-top: 96px;
  padding-top: 6rem;
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.6), -1px -1px 7px rgba(0, 0, 0, 0.6);
}
/* line 104, ../scss/home.scss */
.home .cinema ul.inlined {
  line-height: 200%;
  font-weight: 400;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
}
/* line 112, ../scss/home.scss */
.home .cinema ul.inlined {
  list-style: circle;
}
/* line 116, ../scss/home.scss */
.home .cinema ul.inlined li:first-child:before {
  content: "";
}
/* line 121, ../scss/home.scss */
.home .cinema ul.inlined li:before {
  content: "\2022\A0";
}
/* line 126, ../scss/home.scss */
.home .cinema .search-box {
  float: left;
  margin-right: 2.17028%;
  width: 100%;
  float: left;
  margin-right: 2.17028%;
}
/* line 130, ../scss/home.scss */
.home .cinema .search-box .text-input {
  height: 32px;
  height: 2rem;
  line-height: 32px;
  line-height: 2rem;
  vertical-align: middle;
}
/* line 135, ../scss/home.scss */
.home .cinema .search-box .radio-input {
  color: #313131;
}
/* line 138, ../scss/home.scss */
.home .cinema .search-box label {
  color: #313131;
  float: left;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
}
/* line 145, ../scss/home.scss */
.home .cinema .search-box input[type=submit] {
  padding-left: 64px;
  padding-left: 4rem;
  padding-right: 64px;
  padding-right: 4rem;
}
/* line 152, ../scss/home.scss */
.home #quotes {
  padding-bottom: 0px;
  padding-bottom: 0rem;
  text-align: center;
}
/* line 158, ../scss/home.scss */
.home #quotes .quote .quote-text {
  color: #666666;
  text-align: center;
  padding: 32px;
  padding: 2rem;
  padding-left: 48px;
  padding-left: 3rem;
  position: relative;
}
/* line 165, ../scss/home.scss */
.home #quotes .quote .quote-text:before {
  content: '“';
  color: #313131;
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-size: 80px;
  font-size: 5rem;
  position: absolute;
  left: 0px;
  left: 0rem;
  top: 48px;
  top: 3rem;
}
/* line 177, ../scss/home.scss */
.home #quotes .quote .quote-doc-name {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-style: italic;
  color: #999999;
  text-align: right;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 190, ../scss/home.scss */
.home div.press {
  margin-top: 1rem;
}
/* line 194, ../scss/home.scss */
.home #doctors {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  text-align: center;
}
/* line 198, ../scss/home.scss */
.home #doctors ul {
  margin-top: 32px;
  margin-top: 2rem;
  overflow: visible;
}
/* line 204, ../scss/home.scss */
.home #doctors li .round-image {
  width: 7.565em;
  height: 7.565em;
  margin: auto;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 212, ../scss/home.scss */
.home #doctors a {
  color: #0090d6;
  font-weight: 700;
}
/* line 216, ../scss/home.scss */
.home #doctors .specialty, .home #doctors .city {
  color: #666666;
}
/* line 221, ../scss/home.scss */
.home #doctors .owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  top: 40px;
  background: none;
  font-family: at-assets;
  color: #cccccc;
  font-size: 80px;
  font-size: 5rem;
}
/* line 229, ../scss/home.scss */
.home #doctors .owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: -70px;
}
/* line 231, ../scss/home.scss */
.home #doctors .owl-theme .owl-controls .owl-buttons div.owl-prev:before {
  content: "\e604";
}
/* line 235, ../scss/home.scss */
.home #doctors .owl-theme .owl-controls .owl-buttons div.owl-next {
  right: -70px;
}
/* line 237, ../scss/home.scss */
.home #doctors .owl-theme .owl-controls .owl-buttons div.owl-next:before {
  content: "\e605";
}
/* line 134, ../scss/modules/_base.scss */
.home #for-patients:after {
  content: "";
  display: table;
  clear: both;
}
/* line 248, ../scss/home.scss */
.home #for-patients section {
  width: 100%;
  float: left;
  margin-right: 2.17028%;
  margin-top: 48px;
  margin-top: 3rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
/* line 253, ../scss/home.scss */
.home #for-patients section .image-container {
  width: 40.40067%;
  float: left;
  margin-right: 2.17028%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  margin-right: 0;
  border-radius: 5px;
}
/* line 261, ../scss/home.scss */
.home #for-patients section .image-container.near {
  background-image: url(/static/images/content/patient_content_ihre_naehe.jpg);
}
/* line 264, ../scss/home.scss */
.home #for-patients section .image-container.easy {
  background-image: url(/static/images/content/patient_content_einfach_sicher.jpg);
}
/* line 267, ../scss/home.scss */
.home #for-patients section .image-container.competent {
  background-image: url(/static/images/content/patient_content_vertrauen_kompetenz.jpg);
}
/* line 272, ../scss/home.scss */
.home #for-patients section .text-container {
  width: 57.42905%;
  float: left;
  margin-right: 2.17028%;
}
/* line 274, ../scss/home.scss */
.home #for-patients section .text-container h4 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  font-weight: 700;
}
/* line 278, ../scss/home.scss */
.home #for-patients section .text-container p {
  color: #666666;
}
/* line 284, ../scss/home.scss */
.home #for-patients section:nth-of-type(2n+1) .image-container {
  float: left;
  margin-right: 2.17028%;
}
/* line 287, ../scss/home.scss */
.home #for-patients section:nth-of-type(2n+1) .text-container {
  float: right;
  margin-right: 0;
}
/* line 294, ../scss/home.scss */
.home #for-doctors {
  background: #f2f9fd;
}
/* line 134, ../scss/modules/_base.scss */
.home #for-doctors:after {
  content: "";
  display: table;
  clear: both;
}
/* line 300, ../scss/home.scss */
.home #for-doctors form {
  padding: 32px;
  padding: 2rem;
  width: 100%;
  float: left;
  margin-right: 2.17028%;
  position: relative;
  overflow: hidden;
}
/* line 308, ../scss/home.scss */
.home #for-doctors form h4,
.home #for-doctors form label {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 700;
  display: block;
  margin-bottom: .5rem;
}
/* line 316, ../scss/home.scss */
.home #for-doctors form .radio-group input:checked + label {
  font-weight: 700;
}
/* line 320, ../scss/home.scss */
.home #for-doctors form .radio-group label {
  display: inline-block;
  font-weight: normal;
  min-width: 64px;
  min-width: 4rem;
}
/* line 331, ../scss/home.scss */
.home #for-doctors form select,
.home #for-doctors form input[type=text],
.home #for-doctors form input[type=password],
.home #for-doctors form input[type=tel],
.home #for-doctors form input[type=email] {
  display: block;
  height: 40px;
  height: 2.5rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 8px;
  margin-top: 0.5rem;
}
/* line 340, ../scss/home.scss */
.home #for-doctors form input[type=checkbox] {
  float: left;
}
/* line 343, ../scss/home.scss */
.home #for-doctors form input[type=checkbox] + label {
  margin-left: 24px;
  margin-left: 1.5rem;
  font-weight: normal;
}
/* line 349, ../scss/home.scss */
.home #for-doctors form .form-element {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 352, ../scss/home.scss */
.home #for-doctors form .form-element.hidden {
  display: none;
}
/* line 357, ../scss/home.scss */
.home #for-doctors form .form-element.error input, .home #for-doctors form .form-element.error select, .home #for-doctors form .form-element.error textarea {
  outline: 1px solid red;
  border: 0;
}
/* line 362, ../scss/home.scss */
.home #for-doctors form .form-element.error:after {
  content: attr(data-error-message);
  display: block;
  color: red;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 700;
  font-family: Gudea, Arial, sans-serif;
}
/* line 373, ../scss/home.scss */
.home #for-doctors form .form-group {
  width: 45%;
  float: left;
}
/* line 378, ../scss/home.scss */
.home #for-doctors form .right {
  padding-top: 55px;
  padding-left: 20px;
  float: right;
}
/* line 384, ../scss/home.scss */
.home #for-doctors form .button-wrapper {
  clear: both;
  text-align: center;
}
/* line 393, ../scss/home.scss */
.home #for-doctors form button:before,
.home #for-doctors form input[type=submit]:before {
  font-family: at-assets;
  content: "\e60f";
  position: relative;
  top: 2px;
  margin-right: 16px;
  margin-right: 1rem;
  font-size: 19.2px;
  font-size: 1.2rem;
}
/* line 404, ../scss/home.scss */
.home #for-doctors form button,
.home #for-doctors form input[type=submit] {
  border: 1px solid #f5780a;
  border-radius: 2px;
  background: #f5780a;
  min-width: 224px;
  min-width: 14rem;
  position: relative;
}
/* line 43, ../scss/modules/_buttons.scss */
.home #for-doctors form button:hover,
.home #for-doctors form input[type=submit]:hover {
  background: #f7933b;
}
/* line 134, ../scss/modules/_base.scss */
.home #shortcuts-to-doctors:after {
  content: "";
  display: table;
  clear: both;
}
/* line 419, ../scss/home.scss */
.home #shortcuts-to-doctors h3 {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
/* line 423, ../scss/home.scss */
.home #shortcuts-to-doctors h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
}
/* line 429, ../scss/home.scss */
.home #shortcuts-to-doctors #cities h4:after, .home #shortcuts-to-doctors #specialties h4:after {
  margin-top: 8px;
  margin-top: 0.5rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  content: " ";
  display: block;
  height: 1px;
  background: #cccccc;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #cccccc), color-stop(80%, #ffffff));
  background: -webkit-linear-gradient(left, #cccccc 0%, #ffffff 80%);
  background: -moz-linear-gradient(left, #cccccc 0%, #ffffff 80%);
  background: -o-linear-gradient(left, #cccccc 0%, #ffffff 80%);
  background: linear-gradient(left, #cccccc 0%, #ffffff 80%);
  background: -ms-linear-gradient(left, #cccccc 0%, white 80%);
}
/* line 439, ../scss/home.scss */
.home #shortcuts-to-doctors #cities h4:before, .home #shortcuts-to-doctors #specialties h4:before {
  font-family: at-assets;
  color: #0090d6;
  font-size: 16px;
  font-size: 1rem;
  margin-right: 4px;
  margin-right: 0.25rem;
}
/* line 447, ../scss/home.scss */
.home #shortcuts-to-doctors #cities {
  width: 23.37229%;
  float: left;
  margin-right: 2.17028%;
}
/* line 450, ../scss/home.scss */
.home #shortcuts-to-doctors #cities h4:before {
  content: "\e609";
}
/* line 453, ../scss/home.scss */
.home #shortcuts-to-doctors #specialties {
  width: 74.45743%;
  float: left;
  margin-right: 2.17028%;
  float: right;
  margin-right: 0;
}
/* line 457, ../scss/home.scss */
.home #shortcuts-to-doctors #specialties h4:before {
  content: "\e607";
}
/* line 461, ../scss/home.scss */
.home footer {
  border: 0;
}
/* line 463, ../scss/home.scss */
.home footer:before {
  margin-bottom: 32px;
  margin-bottom: 2rem;
  content: " ";
  display: block;
  height: 1px;
  background: #cccccc;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(40%, #cccccc), color-stop(60%, #cccccc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -moz-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -ms-linear-gradient(left, white 0%, #cccccc 40%, #cccccc 60%, white 100%);
}

/* line 474, ../scss/home.scss */
blockquote.press {
  color: #74776B;
  font-style: italic;
  font-weight: 400;
}

/* line 479, ../scss/home.scss */
blockquote::before {
  font-family: Georgia, serif;
  content: "\201C";
  font-weight: 900;
  color: #74776b;
  position: absolute;
  left: .3rem;
}

/* line 488, ../scss/home.scss */
blockquote::after {
  font-family: Georgia, serif;
  content: "\201d";
  font-weight: 900;
  color: #74776b;
}

@media (min-width: 48em) {
  /* line 496, ../scss/home.scss */
  header .search-box {
    display: none;
  }

  /* line 501, ../scss/home.scss */
  nav h4 + ul > li {
    font-size: 16px;
    font-size: 1rem;
    line-height: 24px;
    line-height: 1.5rem;
  }
  /* line 503, ../scss/home.scss */
  nav h4 + ul > li.reset {
    margin-top: -312px;
    margin-top: -19.5rem;
  }
  /* line 504, ../scss/home.scss */
  nav h4 + ul > li.column-1 {
    margin-left: 0;
  }
  /* line 505, ../scss/home.scss */
  nav h4 + ul > li.column-2 {
    margin-left: 15.3em;
  }
  /* line 506, ../scss/home.scss */
  nav h4 + ul > li.column-3 {
    margin-left: 30.6em;
  }
}
@media (max-width: 45em) {
  /* line 514, ../scss/home.scss */
  .home main > section.cinema {
    margin-top: -32px;
    margin-top: -2rem;
  }
  /* line 517, ../scss/home.scss */
  .home main > section.cinema .headline {
    padding-top: 0;
  }
}
/* line 524, ../scss/home.scss */
h5.title_carousel {
  color: #0a0a0a;
  font-size: .9rem;
  margin-top: .5rem;
}

/* line 530, ../scss/home.scss */
h5.title_carousel:hover {
  text-decoration: none;
}

/* line 533, ../scss/home.scss */
a.title_carousel:hover {
  color: #0a0a0a;
  text-decoration: none;
}

/* Carousel Effects */
/* line 539, ../scss/home.scss */
figure::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* line 554, ../scss/home.scss */
figure:hover::before {
  -webkit-animation: circle .75s;
  animation: circle .75s;
}

@-webkit-keyframes circle {
  /* line 559, ../scss/home.scss */
  0% {
    opacity: 1;
  }

  /* line 562, ../scss/home.scss */
  40% {
    opacity: 1;
  }

  /* line 565, ../scss/home.scss */
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes circle {
  /* line 572, ../scss/home.scss */
  0% {
    opacity: 1;
  }

  /* line 575, ../scss/home.scss */
  40% {
    opacity: 1;
  }

  /* line 578, ../scss/home.scss */
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

/* Partners */
/* line 586, ../scss/home.scss */
img.partners {
  width: 100px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* line 593, ../scss/home.scss */
img.partners:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* find doctor */
/* line 598, ../scss/home.scss */
div.find_doctor {
  background: url("../images/assets/find_doctor.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 2rem;
  padding: 1rem 0 1rem 0;
}

/* line 609, ../scss/home.scss */
div.background_finnd_doctor {
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  margin: .5rem;
}

/* line 614, ../scss/home.scss */
i.find_doctor {
  float: left;
  padding: 0 .5rem .8rem .8rem;
}

/* line 618, ../scss/home.scss */
span.find_doctor {
  margin: 0 .5rem .8rem 0;
}

/* line 622, ../scss/home.scss */
a.find_doctor {
  color: #0090D6;
  border: 1px solid #0090D6;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: 100;
  margin: 1rem 0 .5rem 0;
  display: inline-block;
  text-decoration: none;
  min-width: 120px;
}

/* line 633, ../scss/home.scss */
a.find_doctor:hover, a.btn-footer1:active {
  color: #FFFFFF;
  background: #0090D6;
}

/* line 638, ../scss/home.scss */
div.doctor_solutions {
  background: url("../images/assets/solutions/doctor_solutions.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 2rem;
}
