/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* line 3, ../scss/modules/_buttons.scss */
.lasik .lasik-info button, .lasik.overlay-blocker .two-cols-with-form #form button.step-1 {
  cursor: pointer;
  color: white;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.2em 1em;
  font-family: Gudea, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
}
/* line 11, ../scss/modules/_buttons.scss */
.lasik .lasik-info button.large, .lasik.overlay-blocker .two-cols-with-form #form button.large.step-1 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
}
/* line 23, ../scss/modules/_buttons.scss */
.lasik .lasik-info button:active, .lasik.overlay-blocker .two-cols-with-form #form button.step-1:active {
  box-shadow: none;
}

/* line 50, ../scss/vendor/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 61, ../scss/vendor/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 66, ../scss/vendor/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 77, ../scss/vendor/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 168, ../scss/vendor/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  height: 1.8em;
  vertical-align: top;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 196, ../scss/vendor/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

/* line 207, ../scss/vendor/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

/* line 221, ../scss/vendor/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

/* line 226, ../scss/vendor/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

/* line 231, ../scss/vendor/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

/* line 237, ../scss/vendor/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 244, ../scss/vendor/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 257, ../scss/vendor/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 264, ../scss/vendor/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 272, ../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  /* line 287, ../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666;
  }
}
/* line 295, ../scss/vendor/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 302, ../scss/vendor/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 312, ../scss/vendor/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 3, ../scss/lasik.scss */
.lasik footer {
  margin-top: 0;
}

/* line 8, ../scss/lasik.scss */
.lasik .lasik-info {
  min-height: 112px;
  min-height: 7rem;
  border: 0;
}
/* line 12, ../scss/lasik.scss */
.lasik .lasik-info .column {
  height: 100%;
  margin-right: 160px;
  margin-right: 10rem;
}
/* line 16, ../scss/lasik.scss */
.lasik .lasik-info .column:first-child {
  float: right;
  margin-left: 16px;
  margin-left: 1rem;
  margin-right: 0;
}
/* line 23, ../scss/lasik.scss */
.lasik .lasik-info button {
  border: 1px solid #0090d6;
  border-radius: 2px;
  background: #0090d6;
  border-radius: 2px;
}
/* line 43, ../scss/modules/_buttons.scss */
.lasik .lasik-info button:hover {
  background: #0aafff;
}
/* line 27, ../scss/lasik.scss */
.lasik .lasik-info button + p {
  color: #f5780a;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  text-align: center;
}
/* line 34, ../scss/lasik.scss */
.lasik .lasik-info .price {
  font-weight: 300;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-family: Lato, Tahoma, sans-serif;
  color: #0090d6;
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 42, ../scss/lasik.scss */
.lasik .lasik-info .services > h4 {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  color: #999999;
}
/* line 48, ../scss/lasik.scss */
.lasik .lasik-info li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  color: #666666;
}
/* line 52, ../scss/lasik.scss */
.lasik .lasik-info li:after {
  content: ", ";
}
/* line 55, ../scss/lasik.scss */
.lasik .lasik-info li:last-child:after {
  content: "";
}
/* line 60, ../scss/lasik.scss */
.lasik .lasik-info .toggler {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #0090d6;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  cursor: pointer;
}
/* line 68, ../scss/lasik.scss */
.lasik .lasik-info .toggler:before {
  margin-right: 1.6px;
  margin-right: 0.1rem;
  font-size: 80%;
  content: "\25B2";
}
/* line 74, ../scss/lasik.scss */
.lasik .lasik-info .toggler.closed:before {
  content: "\25BC";
}
/* line 80, ../scss/lasik.scss */
.lasik .roll-out {
  overflow: hidden;
  height: 160px;
  height: 10rem;
  margin-top: 16px;
  margin-top: 1rem;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: whitesmoke;
}
/* line 87, ../scss/lasik.scss */
.lasik .roll-out.hidden {
  margin-top: 0px;
  margin-top: 0rem;
  height: 0;
}
/* line 93, ../scss/lasik.scss */
.lasik.overlay-blocker {
  position: fixed;
  background: white;
  background: rgba(255, 255, 255, 0.5);
  display: none;
}
/* line 99, ../scss/lasik.scss */
.lasik.overlay-blocker.visible {
  display: block;
}
/* line 103, ../scss/lasik.scss */
.lasik.overlay-blocker .popup-message {
  width: 800px;
  width: 50rem;
  margin-left: -400px;
  margin-left: -25rem;
  height: 640px;
  height: 40rem;
  margin-top: -320px;
  margin-top: -20rem;
}
/* line 111, ../scss/lasik.scss */
.lasik.overlay-blocker .popup-message > section {
  margin-top: 32px;
  margin-top: 2rem;
}
/* line 117, ../scss/lasik.scss */
.lasik.overlay-blocker .two-cols-with-form #info-block .doctor .photo {
  margin-right: 1%;
}
/* line 121, ../scss/lasik.scss */
.lasik.overlay-blocker .two-cols-with-form #info-block .comfort-elements {
  margin-top: 96px;
  margin-top: 6rem;
}
/* line 125, ../scss/lasik.scss */
.lasik.overlay-blocker .two-cols-with-form #form {
  height: 576px;
  height: 36rem;
  position: relative;
  overflow: hidden;
}
/* line 130, ../scss/lasik.scss */
.lasik.overlay-blocker .two-cols-with-form #form .step {
  width: 336px;
  width: 21rem;
}
/* line 134, ../scss/lasik.scss */
.lasik.overlay-blocker .two-cols-with-form #form button.step-1 {
  border: 1px solid #f5780a;
  border-radius: 2px;
  background: #f5780a;
}
/* line 43, ../scss/modules/_buttons.scss */
.lasik.overlay-blocker .two-cols-with-form #form button.step-1:hover {
  background: #f7933b;
}
/* line 138, ../scss/lasik.scss */
.lasik.overlay-blocker .two-cols-with-form #form form {
  position: absolute;
  width: 85%;
}
/* line 143, ../scss/lasik.scss */
.lasik.overlay-blocker .two-cols-with-form #form #lasik-form-1 {
  -webkit-transition: left 0.4s linear;
  -moz-transition: left 0.4s linear;
  -o-transition: left 0.4s linear;
  transition: left 0.4s linear;
  left: 0;
}
/* line 147, ../scss/lasik.scss */
.lasik.overlay-blocker .two-cols-with-form #form #lasik-form-1.inactive {
  z-index: 1;
  left: -100%;
  opacity: 0.5;
  -webkit-transition: left 0.9s linear;
  -moz-transition: left 0.9s linear;
  -o-transition: left 0.9s linear;
  transition: left 0.9s linear;
}
/* line 155, ../scss/lasik.scss */
.lasik.overlay-blocker .two-cols-with-form #form #lasik-form-2 {
  z-index: 1;
  left: 100%;
  opacity: 0.5;
  -webkit-transition: left 0.9s linear;
  -moz-transition: left 0.9s linear;
  -o-transition: left 0.9s linear;
  transition: left 0.9s linear;
}
/* line 161, ../scss/lasik.scss */
.lasik.overlay-blocker .two-cols-with-form #form #lasik-form-2.active {
  opacity: 1;
  z-index: 2;
  -webkit-transition: left 0.4s linear;
  -moz-transition: left 0.4s linear;
  -o-transition: left 0.4s linear;
  transition: left 0.4s linear;
  left: 0;
}
/* line 169, ../scss/lasik.scss */
.lasik.overlay-blocker .two-cols-with-form #form #lasik-confirmation {
  display: none;
  position: absolute;
}
/* line 172, ../scss/lasik.scss */
.lasik.overlay-blocker .two-cols-with-form #form #lasik-confirmation p {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
}
/* line 175, ../scss/lasik.scss */
.lasik.overlay-blocker .two-cols-with-form #form form {
  height: 100%;
}
/* line 176, ../scss/lasik.scss */
.lasik.overlay-blocker .two-cols-with-form #form button {
  right: 0;
}

@media (max-width: 64em) {
  /* line 184, ../scss/lasik.scss */
  .lasik-info {
    padding-left: 304px;
    padding-left: 19rem;
  }
}
