/* line 2, ../login.scss */
#login, #password_reset {
  width: 320px;
  margin: 3em auto;
  padding-bottom: 1em;
}

/* line 8, ../login.scss */
#signup_and_login #login {
  width: 300px;
  margin: 2em 1em;
}

/* line 13, ../login.scss */
#signup {
  margin: 2em 1em;
}

/* line 18, ../login.scss */
#login .password_reset_link {
  font-size: 90%;
}
/* line 21, ../login.scss */
#login form {
  margin-left: 8px;
  margin-top: 0px;
  padding: 16px;
  font-weight: normal;
  -moz-border-radius: 11px;
  -khtml-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: #c8c8c8 0 4px 18px;
  -webkit-box-shadow: #c8c8c8 0 4px 18px;
  -khtml-box-shadow: #c8c8c8 0 4px 18px;
  box-shadow: #c8c8c8 0 4px 18px;
}

/* line 39, ../login.scss */
#password_reset .form_container {
  margin-left: 8px;
  margin-top: 0px;
  padding: 16px;
  font-weight: normal;
  -moz-border-radius: 11px;
  -khtml-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: #c8c8c8 0 4px 18px;
  -webkit-box-shadow: #c8c8c8 0 4px 18px;
  -khtml-box-shadow: #c8c8c8 0 4px 18px;
  box-shadow: #c8c8c8 0 4px 18px;
}

/* line 57, ../login.scss */
#signup .form_container {
  margin-left: 8px;
  margin-top: 0px;
  padding: 16px;
  font-weight: normal;
  -moz-border-radius: 11px;
  -khtml-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: #c8c8c8 0 4px 18px;
  -webkit-box-shadow: #c8c8c8 0 4px 18px;
  -khtml-box-shadow: #c8c8c8 0 4px 18px;
  box-shadow: #c8c8c8 0 4px 18px;
}
/* line 73, ../login.scss */
#signup form .submit .input_submit {
  font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
  padding: 3px 10px;
  border: none;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  margin-top: -3px;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
  background: #336699;
  border-color: #298CBA !important;
  color: #FFFFFF !important;
  font-weight: bold;
}

/* line 90, ../login.scss */
#login label {
  margin-top: 0pt;
  text-align: left;
}
/* line 95, ../login.scss */
#login form p {
  margin-bottom: 0;
}
/* line 98, ../login.scss */
#login form .submit {
  float: left;
}

/* line 104, ../login.scss */
#login-quick form .submit, #password_reset form .submit, #signup form .submit {
  float: left;
}

/* line 109, ../login.scss */
#password_reset #form_email, #password_reset #form_password, #password_reset #form_password2 {
  font-size: 24px;
  width: 97%;
  padding: 3px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 4px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
}

/* line 122, ../login.scss */
#login #email, #login #password {
  font-size: 24px;
  width: 97%;
  padding: 3px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 4px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
}
/* line 133, ../login.scss */
#login #login_form #email, #login #login_form #password {
  width: 97%;
}
/* line 136, ../login.scss */
#login #login_form .input_submit {
  margin-top: 1em;
  float: left;
}
/* line 140, ../login.scss */
#login #login_form div {
  margin: 0.5em 0pt;
}
/* line 143, ../login.scss */
#login #login_form .buttons {
  margin: 0.5em 0pt 0.5em 5.5em;
  position: relative;
}
/* line 148, ../login.scss */
#login #send_password {
  color: #4E595F;
  margin: 0px 0px 0.1em 3em;
  font-size: 85%;
}

/* --- */
/* line 158, ../login.scss */
#signup label {
  float: left;
  margin-top: 0pt;
  width: 12em;
  text-align: left;
}
/* line 164, ../login.scss */
#signup .input_checkbox {
  margin-right: 4px;
}
/* line 167, ../login.scss */
#signup .input_submit {
  clear: left;
  margin-left: 14em;
}
/* line 171, ../login.scss */
#signup .field_error {
  margin-left: 0em;
}
/* line 174, ../login.scss */
#signup .field_checkbox_error {
  color: #AD3922;
}

/* --- */
/* line 182, ../login.scss */
#reset_password_request label {
  float: left;
  margin-top: 0pt;
  width: 6em;
  text-align: left;
}
/* line 188, ../login.scss */
#reset_password_request .input_text, #reset_password_request .input_textarea {
  width: 20em;
}
/* line 191, ../login.scss */
#reset_password_request .input_submit {
  clear: left;
  margin-left: 6em;
}
/* line 195, ../login.scss */
#reset_password_request .field_error {
  margin-left: 6em;
}

/* --- */
/* line 203, ../login.scss */
#reset_password label {
  float: left;
  margin-top: 0pt;
  width: 12em;
}
/* line 208, ../login.scss */
#reset_password .input_text, #reset_password .input_textarea {
  width: 20em;
}
/* line 211, ../login.scss */
#reset_password .input_submit {
  clear: left;
  margin-left: 12em;
}
/* line 215, ../login.scss */
#reset_password .field_error {
  margin-left: 12em;
}
