/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* line 53, ../scss/modules/_fonts.scss */
.headline {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 34px;
  line-height: 2.125rem;
}

/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* line 3, ../scss/modules/_buttons.scss */
.profile-page .summary .is-this-your-profile, .profile-page .insurance-selector .insurance-selector-button, #dashboard-actions .save, .account-dashboard .summary .logout, .account-dashboard .buttons-container button.save, .account-dashboard .buttons-container button.reset, .account-dashboard.photo-upload #upload_pic button, .account-dashboard.photo-upload #upload_pic button#edit-reset {
  cursor: pointer;
  color: white;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.2em 1em;
  font-family: Gudea, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
}
/* line 11, ../scss/modules/_buttons.scss */
.profile-page .summary .large.is-this-your-profile, .profile-page .insurance-selector .large.insurance-selector-button, #dashboard-actions .large.save, .account-dashboard .summary .large.logout, .account-dashboard .buttons-container button.large.save, .account-dashboard .buttons-container button.large.reset, .account-dashboard.photo-upload #upload_pic button.large, .account-dashboard.photo-upload #upload_pic button.large#edit-reset {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
}
/* line 23, ../scss/modules/_buttons.scss */
.profile-page .summary .is-this-your-profile:active, .profile-page .insurance-selector .insurance-selector-button:active, #dashboard-actions .save:active, .account-dashboard .summary .logout:active, .account-dashboard .buttons-container button.save:active, .account-dashboard .buttons-container button.reset:active, .account-dashboard.photo-upload #upload_pic button:active, .account-dashboard.photo-upload #upload_pic button#edit-reset:active {
  box-shadow: none;
}

/* line 50, ../scss/vendor/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 61, ../scss/vendor/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 66, ../scss/vendor/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 77, ../scss/vendor/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 168, ../scss/vendor/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  height: 1.8em;
  vertical-align: top;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 196, ../scss/vendor/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

/* line 207, ../scss/vendor/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

/* line 221, ../scss/vendor/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

/* line 226, ../scss/vendor/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

/* line 231, ../scss/vendor/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

/* line 237, ../scss/vendor/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 244, ../scss/vendor/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 257, ../scss/vendor/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 264, ../scss/vendor/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 272, ../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  /* line 287, ../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666;
  }
}
/* line 295, ../scss/vendor/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 302, ../scss/vendor/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 312, ../scss/vendor/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 3, ../scss/profile-page.scss */
.headline {
  font-family: Lato, Tahoma, sans-serif;
  color: #0090d6;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.8);
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
}

/* line 16, ../scss/profile-page.scss */
.locations {
  font-family: Lato, Tahoma, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  padding: 20.8px;
  padding: 1.3rem;
  padding-top: 0;
}

/* line 23, ../scss/profile-page.scss */
h2 {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #cccccc;
}

/* line 28, ../scss/profile-page.scss */
h3 {
  font-family: Gudea, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 33, ../scss/profile-page.scss */
h4 {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 40, ../scss/profile-page.scss */
footer .links {
  float: right;
  display: block;
  font-size: 14.4px;
  font-size: 0.9rem;
  margin-top: 8px;
  margin-top: 0.5rem;
}
/* line 134, ../scss/modules/_base.scss */
footer .links:after {
  content: "";
  display: table;
  clear: both;
}
/* line 46, ../scss/profile-page.scss */
footer .links a {
  display: inline-block;
  vertical-align: bottom;
}

/* line 54, ../scss/profile-page.scss */
.profile-page .summary {
  border-top: 3px solid #0090d6;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 134, ../scss/modules/_base.scss */
.profile-page .summary:after {
  content: "";
  display: table;
  clear: both;
}
/* line 57, ../scss/profile-page.scss */
.profile-page .summary .right {
  margin-left: 10.68447%;
}
/* line 67, ../scss/profile-page.scss */
.profile-page .summary .is-this-your-profile {
  border: 1px solid #f5780a;
  border-radius: 2px;
  background: #f5780a;
  border-radius: 0 0 2px 2px;
  border-width: 0 0 1px 1px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  text-decoration: none;
  float: right;
}
/* line 43, ../scss/modules/_buttons.scss */
.profile-page .summary .is-this-your-profile:hover {
  background: #f7933b;
}
/* line 75, ../scss/profile-page.scss */
.profile-page .summary .is-this-your-profile a {
  color: white;
}
/* line 80, ../scss/profile-page.scss */
.profile-page .summary .address {
  color: #666666;
}
/* line 84, ../scss/profile-page.scss */
.profile-page .summary .photo {
  float: left;
  width: 5rem;
  margin: 16px;
  margin: 1rem;
}
/* line 93, ../scss/profile-page.scss */
.profile-page .summary .ratings {
  vertical-align: top;
  display: inline-block;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 98, ../scss/profile-page.scss */
.profile-page .summary .ratings > div {
  display: inline-block;
  width: 140.8px;
  width: 8.8rem;
  border-right: 1px solid #cccccc;
  margin-right: 16px;
  margin-right: 1rem;
}
/* line 103, ../scss/profile-page.scss */
.profile-page .summary .ratings > div:last-child {
  margin-right: 0;
  border: 0;
}
/* line 110, ../scss/profile-page.scss */
.profile-page .summary .rating-name {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}
/* line 113, ../scss/profile-page.scss */
.profile-page .summary .rating-value {
  height: 16px;
  background: url(/static/images/assets/rating-5.png) no-repeat;
}
/* line 118, ../scss/profile-page.scss */
.profile-page .summary .specialties {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  color: #666666;
  vertical-align: top;
  display: inline-block;
  max-width: 352px;
  max-width: 22rem;
}
/* line 125, ../scss/profile-page.scss */
.profile-page .summary .specialties h4 {
  color: #313131;
}
/* line 133, ../scss/profile-page.scss */
.profile-page .calendar-container .location-description {
  background: whitesmoke;
}
/* line 136, ../scss/profile-page.scss */
.profile-page .calendar-container .location-description img {
  width: 160px;
  width: 10rem;
  height: 160px;
  height: 10rem;
}
/* line 142, ../scss/profile-page.scss */
.profile-page .calendar-container .location-info {
  font-weight: 700;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  padding: 16px 0px 16px 8px;
  padding: 1rem 0rem 1rem 0.5rem;
  vertical-align: top;
}
/* line 150, ../scss/profile-page.scss */
.profile-page .calendar-container .phone, .profile-page .calendar-container .address {
  color: #666666;
}
/* line 154, ../scss/profile-page.scss */
.profile-page .calendar-container .address {
  font-weight: 400;
}
/* line 158, ../scss/profile-page.scss */
.profile-page .calendar-container .calendar {
  margin-top: 0;
  float: none;
  height: 160px;
  height: 10rem;
}
/* line 166, ../scss/profile-page.scss */
.profile-page .insurance-selector {
  margin: 16px 0px;
  margin: 1rem 0rem;
  float: right;
  margin-right: 0;
}
/* line 170, ../scss/profile-page.scss */
.profile-page .insurance-selector .insurance-selector-button {
  border: 1px solid #cccccc;
  border-radius: 2px;
  background: #cccccc;
  width: 80px;
  width: 5rem;
  border-color: #999999;
  color: #666666;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  text-decoration: none;
  float: left;
}
/* line 43, ../scss/modules/_buttons.scss */
.profile-page .insurance-selector .insurance-selector-button:hover {
  background: #e6e6e6;
}
/* line 179, ../scss/profile-page.scss */
.profile-page .insurance-selector .insurance-selector-button.public {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 183, ../scss/profile-page.scss */
.profile-page .insurance-selector .insurance-selector-button.private {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}
/* line 188, ../scss/profile-page.scss */
.profile-page .insurance-selector .insurance-selector-button:hover {
  box-shadow: inset 0 2px 5px 0px rgba(0, 0, 0, 0.2);
  background: #cccccc;
  text-shadow: 0px 1px 0px whitesmoke;
}
/* line 194, ../scss/profile-page.scss */
.profile-page .insurance-selector .insurance-selector-button.active {
  box-shadow: inset 0px 1px 1px 0px rgba(100, 100, 100, 0.8);
  background: #999999;
  color: whitesmoke;
}
/* line 195, ../scss/profile-page.scss */
.profile-page .insurance-selector .insurance-selector-button.active:hover {
  box-shadow: inset 0 2px 5px 0px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}
/* line 208, ../scss/profile-page.scss */
.profile-page .additional-info {
  position: relative;
  overflow: hidden;
}
/* line 212, ../scss/profile-page.scss */
.profile-page .additional-info > h2 {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
/* line 216, ../scss/profile-page.scss */
.profile-page .additional-info .toggler {
  cursor: pointer;
  position: absolute;
  right: 0;
  color: #0090d6;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  padding: 10.4px;
  padding: 0.65rem;
}
/* line 224, ../scss/profile-page.scss */
.profile-page .additional-info .see-less {
  display: none;
}
/* line 228, ../scss/profile-page.scss */
.profile-page .additional-info > section {
  margin-top: 32px;
  margin-top: 2rem;
  /* Two columns layout (headers go left) */
}
/* line 134, ../scss/modules/_base.scss */
.profile-page .additional-info > section:after {
  content: "";
  display: table;
  clear: both;
}
/* line 232, ../scss/profile-page.scss */
.profile-page .additional-info > section h3 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 237, ../scss/profile-page.scss */
.profile-page .additional-info > section h3 {
  width: 23.37229%;
  float: left;
  margin-right: 2.17028%;
}
/* line 241, ../scss/profile-page.scss */
.profile-page .additional-info > section > .additional-info-text > p {
  margin-left: 10.4px;
  margin-left: 0.65rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 247, ../scss/profile-page.scss */
.profile-page .additional-info > section#reviews {
  position: relative;
}
/* line 134, ../scss/modules/_base.scss */
.profile-page .additional-info > section#reviews:after {
  content: "";
  display: table;
  clear: both;
}
/* line 251, ../scss/profile-page.scss */
.profile-page .additional-info > section#reviews .additional-info-text {
  max-height: 480px;
  max-height: 30rem;
  overflow: auto;
}
/* line 255, ../scss/profile-page.scss */
.profile-page .additional-info > section#reviews .additional-info-text::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
/* line 260, ../scss/profile-page.scss */
.profile-page .additional-info > section#reviews .additional-info-text::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
/* line 266, ../scss/profile-page.scss */
.profile-page .additional-info > section#reviews .additional-info-text .review {
  margin-right: 1px;
}
/* line 274, ../scss/profile-page.scss */
.profile-page .hidden-reviews {
  display: none;
  position: absolute;
  left: 100%;
  width: 95%;
  background: white;
  z-index: 0;
  top: 128px;
  top: 8rem;
  -webkit-box-shadow: -15px 0px 8px -4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -15px 0px 8px -4px rgba(0, 0, 0, 0.7);
  box-shadow: -15px 0px 8px -4px rgba(0, 0, 0, 0.7);
}
/* line 284, ../scss/profile-page.scss */
.profile-page .hidden-reviews > section {
  background: white;
}
/* line 288, ../scss/profile-page.scss */
.profile-page .hidden-reviews:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  left: -6%;
  position: absolute;
  z-index: -1;
}

/* line 301, ../scss/profile-page.scss */
#planner {
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
/* line 304, ../scss/profile-page.scss */
#planner h2 {
  border-bottom: 0;
  padding-bottom: 0;
}
/* line 308, ../scss/profile-page.scss */
#planner .fc-event {
  background-color: #0090d6;
  border-color: #007fbd;
}
/* line 311, ../scss/profile-page.scss */
#planner .fc-event .fc-bg {
  background: none;
}
/* line 314, ../scss/profile-page.scss */
#planner .fc-event.excluded {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 317, ../scss/profile-page.scss */
#planner .fc-event.warning {
  background-color: #f5780a;
  border-color: #dc6c09;
}
/* line 322, ../scss/profile-page.scss */
#planner .fc-today {
  background-color: #f2f9fd;
}
/* line 326, ../scss/profile-page.scss */
#planner .hide-event,
#planner .remove-event {
  position: absolute;
  top: 0;
  right: 4px;
  z-index: 10;
  text-decoration: none;
  font-size: 12px;
  font-size: 0.75rem;
  color: white !important;
}
/* line 335, ../scss/profile-page.scss */
#planner .hide-event {
  right: 16px;
}

/* line 340, ../scss/profile-page.scss */
#dashboard-notice {
  margin: 0 auto;
  margin-top: 48px;
  margin-top: 3rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  padding: 32px;
  padding: 2rem;
  text-align: center;
  width: 80%;
  background-color: whitesmoke;
  border: 1px solid #cccccc;
}

/* line 351, ../scss/profile-page.scss */
#dashboard-actions {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
/* line 134, ../scss/modules/_base.scss */
#dashboard-actions:after {
  content: "";
  display: table;
  clear: both;
}
/* line 354, ../scss/profile-page.scss */
#dashboard-actions .save {
  float: right;
  border: 1px solid #0090d6;
  border-radius: 2px;
  background: #0090d6;
  margin-left: 8px;
  margin-left: 0.5rem;
}
/* line 43, ../scss/modules/_buttons.scss */
#dashboard-actions .save:hover {
  background: #0aafff;
}
/* line 359, ../scss/profile-page.scss */
#dashboard-actions .action {
  display: inline-block;
  margin-right: 16px;
  margin-right: 1rem;
}
/* line 362, ../scss/profile-page.scss */
#dashboard-actions .action label {
  display: block;
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
  font-weight: bold;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}
/* line 368, ../scss/profile-page.scss */
#dashboard-actions .action input, #dashboard-actions .action select {
  vertical-align: middle;
}
/* line 372, ../scss/profile-page.scss */
#dashboard-actions #booking-rules {
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 374, ../scss/profile-page.scss */
#dashboard-actions #booking-rules .dropdown {
  display: inline-block;
  margin-right: 12px;
  vertical-align: top;
}
/* line 378, ../scss/profile-page.scss */
#dashboard-actions #booking-rules .dropdown label {
  font-weight: normal;
}

/* line 386, ../scss/profile-page.scss */
#time-period {
  min-width: 144px;
  min-width: 9rem;
}

/* line 390, ../scss/profile-page.scss */
#booking-period {
  min-width: 144px;
  min-width: 9rem;
}

/* line 396, ../scss/profile-page.scss */
table#statement,
table#bookings {
  width: 100%;
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  word-break: break-word;
  table-layout: fixed;
}
/* line 402, ../scss/profile-page.scss */
table#statement th, table#statement td,
table#bookings th,
table#bookings td {
  padding: 12px;
  padding: 0.75rem;
}
/* line 404, ../scss/profile-page.scss */
table#statement th:nth-child(odd), table#statement td:nth-child(odd),
table#bookings th:nth-child(odd),
table#bookings td:nth-child(odd) {
  background-color: whitesmoke;
}
/* line 409, ../scss/profile-page.scss */
table#statement thead tr,
table#bookings thead tr {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
/* line 413, ../scss/profile-page.scss */
table#statement thead th,
table#bookings thead th {
  vertical-align: bottom;
  font-weight: bold;
  color: #313131;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
}
/* line 422, ../scss/profile-page.scss */
table#statement tbody tr,
table#bookings tbody tr {
  border-bottom: 1px solid #cccccc;
}
/* line 425, ../scss/profile-page.scss */
table#statement tbody td,
table#bookings tbody td {
  vertical-align: top;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}

/* line 435, ../scss/profile-page.scss */
table th.doctor {
  width: 28%;
}
/* line 438, ../scss/profile-page.scss */
table th.datetime {
  width: 15%;
}
/* line 441, ../scss/profile-page.scss */
table th.patient {
  width: 22%;
}
/* line 444, ../scss/profile-page.scss */
table th.reporting-status {
  width: 20%;
}
/* line 447, ../scss/profile-page.scss */
table th.appointment-status {
  width: 15%;
}

/* line 454, ../scss/profile-page.scss */
#statement input {
  margin-top: 8px;
  margin-top: 0.5rem;
}
/* line 458, ../scss/profile-page.scss */
#statement label:first-child input {
  margin-top: 0;
}
/* line 462, ../scss/profile-page.scss */
#statement .reporting-returning-visitor {
  margin-top: 20px;
  margin-top: 1.25rem;
}

/* line 468, ../scss/profile-page.scss */
table#bookings .patient-name {
  font-weight: bold;
}

/* line 472, ../scss/profile-page.scss */
.margin_summary {
  margin: 0 0 1rem 1rem;
}

/* line 475, ../scss/profile-page.scss */
.mobile_row_height {
  height: 120px;
  margin-bottom: 2.5rem;
}

/* line 481, ../scss/profile-page.scss */
.profile-page.location .summary .right {
  margin-left: 0;
}
/* line 484, ../scss/profile-page.scss */
.profile-page.location .summary .right .location-map {
  width: 31.88648%;
  float: left;
  margin-right: 2.17028%;
  float: right;
  margin-right: 0;
  display: inline-block;
  float: right;
  margin-right: 0;
  text-align: right;
}
/* line 492, ../scss/profile-page.scss */
.profile-page.location .summary .right .middle {
  width: 48.91486%;
  float: left;
  margin-right: 2.17028%;
}
/* line 497, ../scss/profile-page.scss */
.profile-page.location .summary .photo {
  width: 14.8581%;
  float: left;
  margin-right: 2.17028%;
  margin-top: 0;
}
/* line 502, ../scss/profile-page.scss */
.profile-page.location .summary .ratings {
  margin-top: 16px;
  margin-top: 1rem;
  margin-right: 0;
}
/* line 507, ../scss/profile-page.scss */
.profile-page.location .summary .specialties {
  display: block;
  margin-left: 0;
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 513, ../scss/profile-page.scss */
.profile-page.location .summary .headline + div {
  display: inline-block;
  vertical-align: top;
}
/* line 519, ../scss/profile-page.scss */
.profile-page.location #providers .result:first-of-type > .wrapper {
  border-top: 0;
}
/* line 523, ../scss/profile-page.scss */
.profile-page.location .calendar-container {
  /*h2 {
    margin: 0;
  }
  .result {
    @include span-columns(12);
    .calendar {
      @include span-columns(10);
      //@include omega;
    }
  }*/
}

/* line 541, ../scss/profile-page.scss */
.account-dashboard select,
.account-dashboard textarea,
.account-dashboard input[type="text"],
.account-dashboard input[type="password"] {
  border: 0;
  outline: 1px solid #cccccc;
}
/* line 545, ../scss/profile-page.scss */
.account-dashboard select:hover,
.account-dashboard textarea:hover,
.account-dashboard input[type="text"]:hover,
.account-dashboard input[type="password"]:hover {
  outline: 1px solid #666666;
}
/* line 550, ../scss/profile-page.scss */
.account-dashboard textarea {
  min-height: 128px;
  min-height: 8rem;
  padding: 12px;
  padding: 0.75rem;
}
/* line 556, ../scss/profile-page.scss */
.account-dashboard .summary .headline {
  border: 0;
}
/* line 134, ../scss/modules/_base.scss */
.account-dashboard .summary .headline:after {
  content: "";
  display: table;
  clear: both;
}
/* line 560, ../scss/profile-page.scss */
.account-dashboard .summary h1 {
  display: inline-block;
  vertical-align: middle;
}
/* line 564, ../scss/profile-page.scss */
.account-dashboard .summary .logout {
  border: 1px solid #0090d6;
  border-radius: 2px;
  background: #0090d6;
  display: inline-block;
  vertical-align: middle;
  float: right;
}
/* line 43, ../scss/modules/_buttons.scss */
.account-dashboard .summary .logout:hover {
  background: #0aafff;
}
/* line 571, ../scss/profile-page.scss */
.account-dashboard .summary nav {
  background: whitesmoke;
  color: #0090d6;
  text-transform: uppercase;
  font-family: Gudea, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  height: 48px;
  height: 3rem;
  line-height: 48px;
  line-height: 3rem;
  padding: 0px 8px;
  padding: 0rem 0.5rem;
  border-bottom: 1px solid #cccccc;
}
/* line 582, ../scss/profile-page.scss */
.account-dashboard .summary nav li {
  display: inline-block;
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 16px;
  padding-right: 1rem;
  padding-top: 4px;
}
/* line 589, ../scss/profile-page.scss */
.account-dashboard .summary nav li.active {
  background: white;
  box-shadow: inset 0 4px 0 0 whitesmoke, 0 4px 0 0 white;
}
/* line 592, ../scss/profile-page.scss */
.account-dashboard .summary nav li.active a {
  color: #313131;
  cursor: default;
  font-weight: bold;
  text-decoration: none;
}
/* line 603, ../scss/profile-page.scss */
.account-dashboard .profile-photo {
  float: right;
  text-align: center;
  background: white;
  padding: 32px;
  padding: 2rem;
  margin-left: 32px;
  margin-left: 2rem;
  height: 160px;
  height: 10rem;
}
/* line 611, ../scss/profile-page.scss */
.account-dashboard .profile-photo img {
  height: 100%;
}
/* line 614, ../scss/profile-page.scss */
.account-dashboard .profile-photo a {
  display: block;
}
/* line 619, ../scss/profile-page.scss */
.account-dashboard .text-data {
  font-family: Gudea, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  min-height: 32px;
  min-height: 2rem;
}
/* line 627, ../scss/profile-page.scss */
.account-dashboard .text-data h3 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  color: #313131;
  float: left;
  width: 240px;
  width: 15rem;
}
/* line 635, ../scss/profile-page.scss */
.account-dashboard .text-data > div {
  padding-left: 240px;
  padding-left: 15rem;
}
/* line 641, ../scss/profile-page.scss */
.account-dashboard .praxen .praxis-name {
  font-weight: 700;
}
/* line 644, ../scss/profile-page.scss */
.account-dashboard .praxen li + li {
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 649, ../scss/profile-page.scss */
.account-dashboard .buttons-container {
  text-align: right;
}
/* line 653, ../scss/profile-page.scss */
.account-dashboard .buttons-container button.save {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 16px;
  padding: 0rem 1rem;
  height: 40px;
  height: 2.5rem;
  line-height: 16px;
  line-height: 1rem;
  border: 1px solid #0090d6;
  border-radius: 2px;
  background: #0090d6;
}
/* line 43, ../scss/modules/_buttons.scss */
.account-dashboard .buttons-container button.save:hover {
  background: #0aafff;
}
/* line 657, ../scss/profile-page.scss */
.account-dashboard .buttons-container button.reset {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 16px;
  padding: 0rem 1rem;
  height: 40px;
  height: 2.5rem;
  line-height: 16px;
  line-height: 1rem;
  border: 1px solid whitesmoke;
  border-radius: 2px;
  background: whitesmoke;
  color: #313131;
}
/* line 43, ../scss/modules/_buttons.scss */
.account-dashboard .buttons-container button.reset:hover {
  background: white;
}
/* line 665, ../scss/profile-page.scss */
.account-dashboard .specialties > span {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}
/* line 668, ../scss/profile-page.scss */
.account-dashboard .specialties > label {
  display: block;
}
/* line 673, ../scss/profile-page.scss */
.account-dashboard .unselected-specialties {
  display: none;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -webkit-column-gap: 16px;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 16px;
  -moz-column-gap: 1rem;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
}
/* line 681, ../scss/profile-page.scss */
.account-dashboard .unselected-specialties.visible {
  display: block;
}
/* line 685, ../scss/profile-page.scss */
.account-dashboard .unselected-specialties label {
  display: block;
}
/* line 690, ../scss/profile-page.scss */
.account-dashboard .show-less {
  display: none;
}
/* line 694, ../scss/profile-page.scss */
.account-dashboard .specialty-treatments {
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 697, ../scss/profile-page.scss */
.account-dashboard .specialty-treatments ul {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -webkit-column-gap: 16px;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 16px;
  -moz-column-gap: 1rem;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
}
/* line 708, ../scss/profile-page.scss */
.account-dashboard .specialties label,
.account-dashboard .specialty-treatments label {
  padding-left: 18.4px;
  padding-left: 1.15rem;
}
/* line 710, ../scss/profile-page.scss */
.account-dashboard .specialties label input,
.account-dashboard .specialty-treatments label input {
  margin-left: -18.4px;
  margin-left: -1.15rem;
}
/* line 716, ../scss/profile-page.scss */
.account-dashboard.praxis .praxis-doctor {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 134, ../scss/modules/_base.scss */
.account-dashboard.praxis .praxis-doctor:after {
  content: "";
  display: table;
  clear: both;
}
/* line 720, ../scss/profile-page.scss */
.account-dashboard.praxis .praxis-doctor img {
  float: left;
  margin-right: 8px;
  margin-right: 0.5rem;
  width: 80px;
  width: 5rem;
}
/* line 726, ../scss/profile-page.scss */
.account-dashboard.praxis .praxis-doctor a {
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
}
/* line 734, ../scss/profile-page.scss */
.account-dashboard.photo-upload .profile-images {
  padding-left: 17.02838%;
}
/* line 134, ../scss/modules/_base.scss */
.account-dashboard.photo-upload .profile-images:after {
  content: "";
  display: table;
  clear: both;
}
/* line 739, ../scss/profile-page.scss */
.account-dashboard.photo-upload .profile-image-wrapper {
  width: 23.37229%;
  float: left;
  margin-right: 2.17028%;
  height: 160px;
  height: 10rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
/* line 746, ../scss/profile-page.scss */
.account-dashboard.photo-upload .profile-image-wrapper .profile-image {
  height: 100%;
  display: block;
  margin: auto;
}
/* line 752, ../scss/profile-page.scss */
.account-dashboard.photo-upload .profile-image-wrapper a {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  margin-right: 16px;
  margin-right: 1rem;
}
/* line 758, ../scss/profile-page.scss */
.account-dashboard.photo-upload #upload_pic_button {
  display: block;
  clear: both;
}
/* line 763, ../scss/profile-page.scss */
.account-dashboard.photo-upload #upload_pic {
  display: none;
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 767, ../scss/profile-page.scss */
.account-dashboard.photo-upload #upload_pic .buttons-container {
  text-align: left;
}
/* line 771, ../scss/profile-page.scss */
.account-dashboard.photo-upload #upload_pic button {
  border: 1px solid #0090d6;
  border-radius: 2px;
  background: #0090d6;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  height: 24px;
  height: 1.5rem;
  font-weight: 300;
}
/* line 43, ../scss/modules/_buttons.scss */
.account-dashboard.photo-upload #upload_pic button:hover {
  background: #0aafff;
}
/* line 777, ../scss/profile-page.scss */
.account-dashboard.photo-upload #upload_pic button#edit-reset {
  border: 1px solid whitesmoke;
  border-radius: 2px;
  background: whitesmoke;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  color: #313131;
}
/* line 43, ../scss/modules/_buttons.scss */
.account-dashboard.photo-upload #upload_pic button#edit-reset:hover {
  background: white;
}

/* line 788, ../scss/profile-page.scss */
.name input[name="title"] {
  width: 96px;
  width: 6rem;
}
/* line 792, ../scss/profile-page.scss */
.name input[name="first_name"],
.name input[name="last_name"] {
  width: 128px;
  width: 8rem;
}

/* line 134, ../scss/modules/_base.scss */
.change-password:after {
  content: "";
  display: table;
  clear: both;
}
/* line 799, ../scss/profile-page.scss */
.change-password .password {
  width: 192px;
  width: 12rem;
}
/* line 801, ../scss/profile-page.scss */
.change-password .password + .password {
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 805, ../scss/profile-page.scss */
.change-password input {
  display: block;
}

/* line 812, ../scss/profile-page.scss */
input[type=radio] + label {
  margin-left: 8px;
  margin-left: 0.5rem;
  margin-right: 24px;
  margin-right: 1.5rem;
  vertical-align: middle;
}

/* line 820, ../scss/profile-page.scss */
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

/* line 831, ../scss/profile-page.scss */
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* line 838, ../scss/profile-page.scss */
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

/* line 845, ../scss/profile-page.scss */
.modal-open {
  overflow: hidden;
}

/* line 848, ../scss/profile-page.scss */
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

/* line 860, ../scss/profile-page.scss */
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

/* line 869, ../scss/profile-page.scss */
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* line 875, ../scss/profile-page.scss */
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 879, ../scss/profile-page.scss */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  font-size: 12.8px;
  font-size: 0.8rem;
}
/* line 884, ../scss/profile-page.scss */
.modal-dialog .form-group {
  margin-top: 8px;
  margin-top: 0.5rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
/* line 134, ../scss/modules/_base.scss */
.modal-dialog .form-group:after {
  content: "";
  display: table;
  clear: both;
}
/* line 889, ../scss/profile-page.scss */
.modal-dialog .form-control {
  margin-left: 16px;
  margin-left: 1rem;
}
/* line 893, ../scss/profile-page.scss */
.modal-dialog .control-label,
.modal-dialog .subheader {
  font-weight: bold;
}
/* line 896, ../scss/profile-page.scss */
.modal-dialog .subheader {
  margin-top: 8px;
  margin-top: 0.5rem;
  color: #0090d6;
}
/* line 900, ../scss/profile-page.scss */
.modal-dialog .specialty-treatments {
  margin-top: 0;
}
/* line 903, ../scss/profile-page.scss */
.modal-dialog #block_length {
  width: 48px;
  width: 3rem;
}

/* line 907, ../scss/profile-page.scss */
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}

/* line 919, ../scss/profile-page.scss */
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000000;
}

/* line 926, ../scss/profile-page.scss */
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 930, ../scss/profile-page.scss */
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* line 934, ../scss/profile-page.scss */
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
/* line 938, ../scss/profile-page.scss */
.modal-header .close {
  margin-top: -2px;
}

/* line 943, ../scss/profile-page.scss */
.modal-title {
  margin: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.42857143;
}

/* line 949, ../scss/profile-page.scss */
.modal-body {
  position: relative;
  padding: 15px;
}

/* line 954, ../scss/profile-page.scss */
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
/* line 958, ../scss/profile-page.scss */
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
/* line 962, ../scss/profile-page.scss */
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
/* line 965, ../scss/profile-page.scss */
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

/* line 970, ../scss/profile-page.scss */
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

/* line 984, ../scss/profile-page.scss */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  filter: alpha(opacity=0);
  opacity: 0;
}

/* line 995, ../scss/profile-page.scss */
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}

/* line 999, ../scss/profile-page.scss */
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

/* line 1003, ../scss/profile-page.scss */
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

/* line 1007, ../scss/profile-page.scss */
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

/* line 1011, ../scss/profile-page.scss */
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

/* line 1015, ../scss/profile-page.scss */
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
}

/* line 1024, ../scss/profile-page.scss */
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/* line 1031, ../scss/profile-page.scss */
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

/* line 1038, ../scss/profile-page.scss */
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

/* line 1045, ../scss/profile-page.scss */
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

/* line 1052, ../scss/profile-page.scss */
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

/* line 1059, ../scss/profile-page.scss */
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

/* line 1066, ../scss/profile-page.scss */
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

/* line 1073, ../scss/profile-page.scss */
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

/* line 1080, ../scss/profile-page.scss */
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

@media (min-width: 768px) {
  /* line 1098, ../scss/profile-page.scss */
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  /* line 1102, ../scss/profile-page.scss */
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  /* line 1106, ../scss/profile-page.scss */
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  /* line 1111, ../scss/profile-page.scss */
  .modal-lg {
    width: 900px;
  }
}
