/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* line 50, ../scss/vendor/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 61, ../scss/vendor/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 66, ../scss/vendor/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 77, ../scss/vendor/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 168, ../scss/vendor/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  height: 1.8em;
  vertical-align: top;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 196, ../scss/vendor/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

/* line 207, ../scss/vendor/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

/* line 221, ../scss/vendor/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

/* line 226, ../scss/vendor/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

/* line 231, ../scss/vendor/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

/* line 237, ../scss/vendor/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 244, ../scss/vendor/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 257, ../scss/vendor/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 264, ../scss/vendor/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 272, ../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  /* line 287, ../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666;
  }
}
/* line 295, ../scss/vendor/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 302, ../scss/vendor/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 312, ../scss/vendor/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 50, ../scss/vendor/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 61, ../scss/vendor/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 66, ../scss/vendor/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 77, ../scss/vendor/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 168, ../scss/vendor/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  height: 1.8em;
  vertical-align: top;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 196, ../scss/vendor/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

/* line 207, ../scss/vendor/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

/* line 221, ../scss/vendor/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

/* line 226, ../scss/vendor/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

/* line 231, ../scss/vendor/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

/* line 237, ../scss/vendor/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 244, ../scss/vendor/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 257, ../scss/vendor/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 264, ../scss/vendor/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 272, ../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  /* line 287, ../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666;
  }
}
/* line 295, ../scss/vendor/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 302, ../scss/vendor/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 312, ../scss/vendor/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 17, ../scss/search.scss */
.search > header {
  position: fixed;
  top: 0;
}
/* line 21, ../scss/search.scss */
.search > header .container {
  max-width: none;
  _width: auto;
}
/* line 28, ../scss/search.scss */
.search > header .logo {
  margin-left: 8px;
  margin-left: 0.5rem;
}
/* line 29, ../scss/search.scss */
.search > header .phone-container {
  margin-right: 8px;
  margin-right: 0.5rem;
}

/* Hierarchy */
/* line 37, ../scss/search.scss */
body > header {
  z-index: 9999999 !important;
}

/* line 40, ../scss/search.scss */
#search {
  z-index: 999999 !important;
}

/* line 43, ../scss/search.scss */
#results-list {
  z-index: 99999 !important;
}

/* END - Hierarchy */
/* line 48, ../scss/search.scss */
h1 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-family: Gudea, Arial, sans-serif;
  color: #666666;
  margin: 16px 0px;
  margin: 1rem 0rem;
}
/* line 55, ../scss/search.scss */
h1 > span {
  font-weight: 700;
}

/* line 59, ../scss/search.scss */
.headline {
  overflow: hidden;
  overflow: auto;
  position: relative;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 65, ../scss/search.scss */
.headline h1 {
  float: left;
  margin: 0;
}
/* line 70, ../scss/search.scss */
.headline .specialty {
  cursor: pointer;
}
/* line 71, ../scss/search.scss */
.headline .specialty:hover {
  text-decoration: underline;
}
/* line 76, ../scss/search.scss */
.headline .pagination {
  float: right;
}
/* line 80, ../scss/search.scss */
.headline > * {
  height: 28.8px;
  height: 1.8rem;
}

/* line 85, ../scss/search.scss */
#cms-specialty-text {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #cccccc;
  left: 0;
  right: 0;
  padding: 16px;
  padding: 1rem;
  height: auto;
  z-index: 99999;
}
/* line 96, ../scss/search.scss */
#cms-specialty-text.active {
  display: block;
}

/* line 102, ../scss/search.scss */
#search {
  position: fixed;
  right: 0;
  width: 30%;
  top: 80px;
  top: 5rem;
  bottom: 0;
}
/* line 110, ../scss/search.scss */
#search #search-map {
  width: 100%;
  height: 100%;
}
/* line 116, ../scss/search.scss */
#search .search-map-shadow {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 121, ../scss/search.scss */
#search .search-map-shadow.top {
  left: 0;
}
/* line 122, ../scss/search.scss */
#search .search-map-shadow.right {
  bottom: 0;
}
/* line 123, ../scss/search.scss */
#search .search-map-shadow.blocker {
  top: -5px;
  bottom: 0;
  right: -22px;
  width: 22px;
  background: white;
  box-shadow: none;
}

/* line 134, ../scss/search.scss */
#results-list {
  background: #FFFFFF;
  position: absolute;
  width: 72%;
  padding: 32px 48px;
  padding: 2rem 3rem;
  padding-top: 80px;
  padding-top: 5rem;
}

/* line 142, ../scss/search.scss */
div.control-menu {
  margin: 1.5rem 0 0 0;
  background: #F5F5F5;
  position: -webkit-sticky;
  position: sticky;
  padding: 1.5rem 1rem 1rem 1rem;
  width: 100%;
  top: 0;
}

/* line 152, ../scss/search.scss */
a.control-menu {
  color: #CCCCCC;
  padding: 16px;
  padding: 1rem;
  margin: -16px;
  margin: -1rem;
}

/* line 158, ../scss/search.scss */
a.control-menu-active {
  color: #0090d6;
}

/* line 164, ../scss/search.scss */
.has-alert #search {
  top: 160px;
  top: 10rem;
}
/* line 165, ../scss/search.scss */
.has-alert #results-list {
  padding-top: 160px;
  padding-top: 10rem;
}

/* line 170, ../scss/search.scss */
#filters.expanded .toggler {
  position: static;
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 178, ../scss/search.scss */
#filters .toggle-filters.to-show .show {
  display: inline;
}
/* line 179, ../scss/search.scss */
#filters .toggle-filters.to-show .hide {
  display: none;
}
/* line 182, ../scss/search.scss */
#filters .toggle-filters.to-hide .show {
  display: none;
}
/* line 183, ../scss/search.scss */
#filters .toggle-filters.to-hide .hide {
  display: inline;
}
/* line 188, ../scss/search.scss */
#filters.hidden.collapsed {
  overflow: hidden;
  position: relative;
  min-height: 32px;
}
/* line 193, ../scss/search.scss */
#filters.hidden.collapsed #filters-wrapper {
  position: absolute;
  width: 100%;
  bottom: 95px;
  z-index: 1;
}
/* line 200, ../scss/search.scss */
#filters.hidden.collapsed .toggler {
  margin-top: 0;
  position: relative;
  z-index: 2;
}
/* line 209, ../scss/search.scss */
#filters.hidden .toggler input[type=text],
#filters.hidden .toggler select {
  display: inline;
}
/* line 212, ../scss/search.scss */
#filters.hidden .toggler *[type=submit] {
  float: right;
}
/* line 213, ../scss/search.scss */
#filters.hidden .toggler .toggle-filters {
  float: left;
}

/* line 218, ../scss/search.scss */
#filters-essential {
  height: 32px;
  height: 2rem;
  display: inline-block;
}

/* line 223, ../scss/search.scss */
footer {
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 226, ../scss/search.scss */
footer #socialshareprivacy {
  width: 57.42905%;
  float: left;
  margin-right: 2.17028%;
  float: right;
  margin-right: 0;
}
/* line 231, ../scss/search.scss */
footer nav > div {
  width: 100%;
}
/* line 233, ../scss/search.scss */
footer nav > div h4 {
  display: none;
}
/* line 235, ../scss/search.scss */
footer nav > div ul {
  text-align: center;
}
/* line 236, ../scss/search.scss */
footer nav > div li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0px 48px;
  padding: 0rem 3rem;
}

/* AJAX pagination */
/* line 245, ../scss/search.scss */
#providers {
  position: relative;
}

/* line 249, ../scss/search.scss */
#next-page {
  position: absolute;
  top: 0;
  background: white;
}

/* END - AJAX pagination */
/* Collapse Hambuerger Menu Style */
/* line 257, ../scss/search.scss */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: hidden;
  transition: 0.5s;
}

/* line 270, ../scss/search.scss */
.overlay-content {
  position: relative;
  top: 5%;
  width: 90%;
  padding-left: 10%;
  text-align: center;
}

/* line 278, ../scss/search.scss */
.overlay a {
  font-weight: 200;
  font-size: 1rem;
  color: #F5F5F5;
  padding: .3rem .3rem 0 .3rem;
  display: block;
  transition: 0.1s;
}

/* line 287, ../scss/search.scss */
.overlay a:hover, .overlay a:focus {
  color: #FFFFFF;
}

/* line 291, ../scss/search.scss */
.overlay .closebtn {
  position: absolute;
  top: 2.2rem;
  right: 1rem;
}

@media screen and (max-height: 450px) {
  /* line 298, ../scss/search.scss */
  .overlay {
    overflow-y: auto;
  }

  /* line 301, ../scss/search.scss */
  .overlay a {
    font-size: 20px;
  }

  /* line 304, ../scss/search.scss */
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*Break point search button*/
@media only screen and (max-width: 1406px) {
  /* line 318, ../scss/search.scss */
  #filters.hidden .toggle-filters:before {
    content: "\e611";
    font-family: at-assets;
    font-size: 24px;
    font-size: 1.5rem;
  }
  /* line 323, ../scss/search.scss */
  #filters.hidden .toggle-filters > span.additional-text {
    display: none;
  }
  /* line 327, ../scss/search.scss */
  #filters *[type=submit] > span {
    display: none;
  }
  /* line 329, ../scss/search.scss */
  #filters *[type=submit]:before {
    content: "\e612";
    font-family: at-assets;
    font-size: 20.48px;
    font-size: 1.28rem;
  }
}
/*END - Breakpoint Search button*/
/* Break point $mobile-tablet-2: 12 64em */
@media (max-width: 64em) {
  /* line 343, ../scss/search.scss */
  body.has-alert .alert-wrapper {
    margin-top: 128px;
    margin-top: 8rem;
  }
  /* line 347, ../scss/search.scss */
  body.has-alert #search {
    position: absolute;
    top: 112px;
    top: 7rem;
  }

  /* line 353, ../scss/search.scss */
  body > header {
    background: none;
  }
  /* line 356, ../scss/search.scss */
  body > header .top-bar {
    line-height: 32px;
    line-height: 2rem;
  }
  /* line 359, ../scss/search.scss */
  body > header .top-bar nav {
    margin-top: -9px;
    line-height: 29px;
  }
  /* line 363, ../scss/search.scss */
  body > header .top-bar nav + .phone-container {
    margin-top: -8px;
  }
  /* line 366, ../scss/search.scss */
  body > header .top-bar nav .active {
    box-shadow: 0 1px 8px 1px #999999;
  }

  /* line 374, ../scss/search.scss */
  #search {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    background: white;
    height: 320px;
    height: 20rem;
  }
  /* line 382, ../scss/search.scss */
  #search .search-map-shadow.right, #search .search-map-shadow.blocker {
    display: none;
  }

  /* line 388, ../scss/search.scss */
  #map-popup {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  /* line 395, ../scss/search.scss */
  #results-list {
    left: 0;
    width: 100%;
    padding-top: 16px;
    padding-top: 1rem;
    padding-left: 16px;
    padding-left: 1rem;
    padding-right: 16px;
    padding-right: 1rem;
  }

  /* line 404, ../scss/search.scss */
  .result > .wrapper {
    padding-top: 16px;
    padding-top: 1rem;
  }
  /* line 409, ../scss/search.scss */
  .result .address .zip-city {
    display: block;
  }
  /* line 410, ../scss/search.scss */
  .result .address span[itemprop=streetAddress]:after {
    content: "";
  }
  /* line 413, ../scss/search.scss */
  .result .photo {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    top: 16px;
    top: 1rem;
  }
  /* line 421, ../scss/search.scss */
  .result *[itemprop=telephone] {
    font-size: 16px;
    color: #666;
    display: block;
    float: none;
    line-height: 24px;
    line-height: 1.5rem;
    height: 24px;
    height: 1.5rem;
  }
  /* line 430, ../scss/search.scss */
  .result header {
    float: left;
    margin-left: 112px;
    margin-left: 7rem;
    width: 200px;
    width: 12.5rem;
    height: 120px;
    height: 7.5rem;
  }
  /* line 435, ../scss/search.scss */
  .result header .title {
    display: inline;
  }
  /* line 438, ../scss/search.scss */
  .result header .phone {
    float: none;
  }
  /* line 441, ../scss/search.scss */
  .result header .map-pin {
    position: absolute;
    left: -108.8px;
    left: -6.8rem;
    top: -22.4px;
    top: -1.4rem;
    padding-top: 9.6px;
    padding-top: 0.6rem;
    z-index: 1;
  }
  /* line 448, ../scss/search.scss */
  .result header .map-pin:before {
    text-shadow: 1px 2px 0px white, -1px 2px 0px white, 1px -2px 0px white;
  }

  /* line 456, ../scss/search.scss */
  #filters .filter {
    height: 48px;
    height: 3rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    max-width: 49.5%;
  }
  /* line 461, ../scss/search.scss */
  #filters .filter.col-2 {
    margin-left: 50.5%;
  }
  /* line 463, ../scss/search.scss */
  #filters .filter.col-2.reset {
    margin-top: -192px;
    margin-top: -12rem;
  }
  /* line 470, ../scss/search.scss */
  #filters .filter select,
  #filters .filter input[type=text],
  #filters .filter input[type=radio] + label {
    height: 40px;
    height: 2.5rem;
  }
  /* line 474, ../scss/search.scss */
  #filters .filter input[type=radio] + label.s33 {
    width: 49.5%;
    margin-right: 0;
  }
  /* line 480, ../scss/search.scss */
  #filters .toggle-filters {
    padding-left: 27.2px;
    padding-left: 1.7rem;
    margin-right: 8px;
    margin-right: 0.5rem;
  }
  /* line 484, ../scss/search.scss */
  #filters .toggle-filters:before {
    content: "\e611";
    font-family: at-assets;
    font-size: 20.48px;
    font-size: 1.28rem;
    position: absolute;
    left: 0;
  }
  /* line 492, ../scss/search.scss */
  #filters .toggle-filters > span.additional-text {
    display: none;
  }
  /* line 495, ../scss/search.scss */
  #filters.expanded .toggle-filters {
    position: relative;
    margin-left: 0;
  }
  /* line 498, ../scss/search.scss */
  #filters.expanded .toggle-filters:before {
    content: "\e613";
  }
  /* line 504, ../scss/search.scss */
  #filters.hidden .toggle-filters:before {
    content: "\e611";
  }
  /* line 508, ../scss/search.scss */
  #filters *[type=submit] > span {
    display: none;
  }
  /* line 510, ../scss/search.scss */
  #filters *[type=submit]:before {
    content: "\e612";
    font-family: at-assets;
    font-size: 20.48px;
    font-size: 1.28rem;
  }
}
@media (max-width: 36em) {
  /* line 523, ../scss/search.scss */
  .result header .map-pin {
    left: -100.8px;
    left: -6.3rem;
  }
}
@media (max-width: 30em) {
  /* line 531, ../scss/search.scss */
  #results-list {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 536, ../scss/search.scss */
  #filters {
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 3.2px;
    margin-bottom: 0.2rem;
  }
  /* line 540, ../scss/search.scss */
  #filters .filter {
    max-width: 100%;
  }
  /* line 543, ../scss/search.scss */
  #filters .filter.col-2 {
    margin-left: 0;
  }
  /* line 546, ../scss/search.scss */
  #filters .filter.col-2.reset {
    margin-top: 0;
  }
  /* line 547, ../scss/search.scss */
  #filters .filter.col-2:last-child {
    display: none;
  }
  /* line 551, ../scss/search.scss */
  #filters .toggle-filters {
    padding-left: 16px;
    padding-left: 1rem;
  }
  /* line 554, ../scss/search.scss */
  #filters .toggle-filters:before {
    top: 3.2px;
    top: 0.2rem;
  }
  /* line 558, ../scss/search.scss */
  #filters .toggle-filters > span {
    display: none !important;
  }

  /* line 565, ../scss/search.scss */
  .headline {
    margin-bottom: 3.2px;
    margin-bottom: 0.2rem;
  }
  /* line 568, ../scss/search.scss */
  .headline h1 {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 16px;
    line-height: 1rem;
    line-height: 25.6px;
    line-height: 1.6rem;
    margin-left: 3.2px;
    margin-left: 0.2rem;
  }
}
/* line 576, ../scss/search.scss */
.toggler {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 583, ../scss/search.scss */
.toggler .toggle-filters {
  -webkit-flex-order: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
/* line 588, ../scss/search.scss */
.toggler #filters-essential {
  -webkit-flex-order: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0px 8px;
  padding: 0rem 0.5rem;
}
/* line 600, ../scss/search.scss */
.toggler #filters-essential > * {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
/* line 605, ../scss/search.scss */
.toggler *[type=submit] {
  -webkit-flex-order: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
