@charset "UTF-8";
/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* RESPONSIVE COLUMNS */
/* END - RESPONSIVE COLUMNS */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* line 3, ../scss/modules/_buttons.scss */
#filters .refresh-filters, #contact .refresh-filters, #contact #ok, #login #login_form .submit .input_submit {
  cursor: pointer;
  color: white;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.2em 1em;
  font-family: Gudea, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
}
/* line 11, ../scss/modules/_buttons.scss */
#filters .large.refresh-filters, #contact .large.refresh-filters, #contact .large#ok, #login #login_form .submit .large.input_submit {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0px 32px;
  padding: 0rem 2rem;
  height: 40px;
  height: 2.5rem;
}
/* line 23, ../scss/modules/_buttons.scss */
#filters .refresh-filters:active, #contact .refresh-filters:active, #contact #ok:active, #login #login_form .submit .input_submit:active {
  box-shadow: none;
}

/* line 1, ../scss/modules/_ellipsis.scss */
#filters input[type=checkbox] + label, #contact input[type=checkbox] + label,
#filters input[type=radio] + label,
#contact input[type=radio] + label,
#filters .show-more,
#contact .show-more,
#filters .toggle-filters,
#contact .toggle-filters {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 50, ../scss/vendor/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 61, ../scss/vendor/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 66, ../scss/vendor/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 77, ../scss/vendor/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 168, ../scss/vendor/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  height: 1.8em;
  vertical-align: top;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 196, ../scss/vendor/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

/* line 207, ../scss/vendor/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

/* line 221, ../scss/vendor/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

/* line 226, ../scss/vendor/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

/* line 231, ../scss/vendor/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

/* line 237, ../scss/vendor/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 244, ../scss/vendor/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 257, ../scss/vendor/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 264, ../scss/vendor/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 272, ../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  /* line 287, ../scss/vendor/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666;
  }
}
/* line 295, ../scss/vendor/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 302, ../scss/vendor/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 312, ../scss/vendor/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 1, ../scss/partials/_search-filters.scss */
#filters, #contact {
  background: whitesmoke;
  border-radius: 5px;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  padding: 16px;
  padding: 1rem;
}
/* line 7, ../scss/partials/_search-filters.scss */
#filters .filters-secondary, #contact .filters-secondary {
  display: none;
}
/* line 11, ../scss/partials/_search-filters.scss */
#filters .filter, #contact .filter {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 400px;
  max-width: 25rem;
}
/* line 16, ../scss/partials/_search-filters.scss */
#filters .filter.essential, #contact .filter.essential {
  height: 48px;
  height: 3rem;
}
/* line 21, ../scss/partials/_search-filters.scss */
#filters label:first-child, #contact label:first-child {
  display: block;
  color: #cccccc;
  font-family: Gudea, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  text-transform: uppercase;
}
/* line 32, ../scss/partials/_search-filters.scss */
#filters select, #contact select,
#filters input[type=text],
#contact input[type=text] {
  width: 100%;
  height: 32px;
  height: 2rem;
  box-sizing: border-box;
}
/* line 2, ../scss/modules/_placeholder.scss */
#filters input[type=text]:-moz-placeholder, #contact input[type=text]:-moz-placeholder {
  color: transparent;
}
/* line 3, ../scss/modules/_placeholder.scss */
#filters input[type=text]::-moz-placeholder, #contact input[type=text]::-moz-placeholder {
  color: transparent;
}
/* line 4, ../scss/modules/_placeholder.scss */
#filters input[type=text]:-ms-input-placeholder, #contact input[type=text]:-ms-input-placeholder {
  color: transparent;
}
/* line 5, ../scss/modules/_placeholder.scss */
#filters input[type=text]::-webkit-input-placeholder, #contact input[type=text]::-webkit-input-placeholder {
  color: transparent;
}
/* line 46, ../scss/partials/_search-filters.scss */
#filters input[type=checkbox], #contact input[type=checkbox],
#filters input[type=radio],
#contact input[type=radio] {
  position: absolute;
  left: -9999px;
}
/* line 50, ../scss/partials/_search-filters.scss */
#filters input[type=checkbox]:checked + label, #contact input[type=checkbox]:checked + label,
#filters input[type=radio]:checked + label,
#contact input[type=radio]:checked + label {
  background: white;
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
}
/* line 55, ../scss/partials/_search-filters.scss */
#filters input[type=checkbox]:focus + label, #contact input[type=checkbox]:focus + label,
#filters input[type=radio]:focus + label,
#contact input[type=radio]:focus + label {
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.4), 0px 0px 3px 0px #0066ff;
  -moz-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.4), 0px 0px 3px 0px #0066ff;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.4), 0px 0px 3px 0px #0066ff;
}
/* line 63, ../scss/partials/_search-filters.scss */
#filters input[type=checkbox] + label, #contact input[type=checkbox] + label,
#filters input[type=radio] + label,
#contact input[type=radio] + label,
#filters .show-more,
#contact .show-more,
#filters .toggle-filters,
#contact .toggle-filters {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  cursor: pointer;
  background: none;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  font-family: Gudea, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  color: #666666;
  width: 80px;
  width: 5rem;
  height: 32px;
  height: 2rem;
  line-height: 32px;
  line-height: 2rem;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
/* line 84, ../scss/partials/_search-filters.scss */
#filters input[type=checkbox] + label.s33, #contact input[type=checkbox] + label.s33,
#filters input[type=radio] + label.s33,
#contact input[type=radio] + label.s33,
#filters .show-more.s33,
#contact .show-more.s33,
#filters .toggle-filters.s33,
#contact .toggle-filters.s33 {
  width: 33%;
  margin-right: 0.33333333%;
}
/* line 88, ../scss/partials/_search-filters.scss */
#filters input[type=checkbox] + label.s20, #contact input[type=checkbox] + label.s20,
#filters input[type=radio] + label.s20,
#contact input[type=radio] + label.s20,
#filters .show-more.s20,
#contact .show-more.s20,
#filters .toggle-filters.s20,
#contact .toggle-filters.s20 {
  width: 19.7%;
  margin-right: 0.3%;
}
/* line 94, ../scss/partials/_search-filters.scss */
#filters .show-more, #contact .show-more {
  display: none;
}
/* line 97, ../scss/partials/_search-filters.scss */
#filters .show-more.visible, #contact .show-more.visible {
  display: inline-block;
}
/* line 103, ../scss/partials/_search-filters.scss */
#filters .show-more.visible ~ input[type=checkbox], #contact .show-more.visible ~ input[type=checkbox], #filters .show-more.visible ~ input[type=checkbox] + label, #contact .show-more.visible ~ input[type=checkbox] + label, #filters .show-more.visible ~ input[type=radio], #contact .show-more.visible ~ input[type=radio], #filters .show-more.visible ~ input[type=radio] + label, #contact .show-more.visible ~ input[type=radio] + label {
  display: none;
}
/* line 110, ../scss/partials/_search-filters.scss */
#filters .toggler, #contact .toggler {
  margin-top: 0;
}
/* line 134, ../scss/modules/_base.scss */
#filters .toggler:after, #contact .toggler:after {
  content: "";
  display: table;
  clear: both;
}
/* line 115, ../scss/partials/_search-filters.scss */
#filters .toggler input[type=text], #contact .toggler input[type=text],
#filters .toggler select,
#contact .toggler select {
  display: none;
}
/* line 2, ../scss/modules/_placeholder.scss */
#filters .toggler input[type=text]:-moz-placeholder, #contact .toggler input[type=text]:-moz-placeholder {
  color: #cccccc;
}
/* line 3, ../scss/modules/_placeholder.scss */
#filters .toggler input[type=text]::-moz-placeholder, #contact .toggler input[type=text]::-moz-placeholder {
  color: #cccccc;
}
/* line 4, ../scss/modules/_placeholder.scss */
#filters .toggler input[type=text]:-ms-input-placeholder, #contact .toggler input[type=text]:-ms-input-placeholder {
  color: #cccccc;
}
/* line 5, ../scss/modules/_placeholder.scss */
#filters .toggler input[type=text]::-webkit-input-placeholder, #contact .toggler input[type=text]::-webkit-input-placeholder {
  color: #cccccc;
}
/* line 127, ../scss/partials/_search-filters.scss */
#filters .show-more, #contact .show-more,
#filters .toggle-filters,
#contact .toggle-filters {
  border: none;
  color: #0090d6;
}
/* line 133, ../scss/partials/_search-filters.scss */
#filters .toggle-filters, #contact .toggle-filters {
  text-transform: uppercase;
  width: auto;
  padding: 3.2px 8px;
  padding: 0.2rem 0.5rem;
  margin-left: -8px;
  margin-left: -0.5rem;
}
/* line 139, ../scss/partials/_search-filters.scss */
#filters .toggle-filters:focus, #contact .toggle-filters:focus {
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 144, ../scss/partials/_search-filters.scss */
#filters .toggle-filters .hide, #contact .toggle-filters .hide {
  display: none;
}
/* line 149, ../scss/partials/_search-filters.scss */
#filters .refresh-filters, #contact .refresh-filters, #contact #ok {
  border: 1px solid #0090d6;
  border-radius: 2px;
  background: #0090d6;
  float: left;
  margin-left: .1em;
  border-radius: 2px;
  width: auto;
  padding: .1em .1em;
}
/* line 43, ../scss/modules/_buttons.scss */
#filters .refresh-filters:hover, #contact .refresh-filters:hover, #contact #ok:hover {
  background: #0aafff;
}
/* line 158, ../scss/partials/_search-filters.scss */
#filters .toggler, #contact .toggler {
  margin-top: 32px;
  margin-top: 2rem;
}
/* line 162, ../scss/partials/_search-filters.scss */
#filters .toggler input[type=text], #contact .toggler input[type=text],
#filters .toggler select,
#contact .toggler select {
  width: auto;
}
/* line 166, ../scss/partials/_search-filters.scss */
#filters .toggler select, #contact .toggler select {
  margin-left: 3px;
}

/* line 6, ../scss/static.scss */
nav h4 {
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}
/* line 12, ../scss/static.scss */
nav h4 + ul > li {
  line-height: 25.6px;
  line-height: 1.6rem;
}

/* line 18, ../scss/static.scss */
aside {
  width: 23.37229%;
  float: left;
  margin-right: 2.17028%;
}
/* line 22, ../scss/static.scss */
aside nav > ul > li {
  display: block;
  border-bottom: 1px solid #cccccc;
}
/* line 26, ../scss/static.scss */
aside nav > ul > li a {
  display: block;
  padding: 12.8px 16px;
  padding: 0.8rem 1rem;
}
/* line 29, ../scss/static.scss */
aside nav > ul > li a:hover {
  text-decoration: none;
  background-color: whitesmoke;
}
/* line 35, ../scss/static.scss */
aside nav > ul > li:first-child {
  border-top: 1px solid #cccccc;
}
/* line 39, ../scss/static.scss */
aside nav > ul > li.active {
  background-color: whitesmoke;
  font-weight: 700;
}
/* line 42, ../scss/static.scss */
aside nav > ul > li.active a {
  color: #666666;
}
/* line 47, ../scss/static.scss */
aside nav > ul ul {
  display: none;
  padding-left: 16px;
  padding-left: 1rem;
}

/* line 56, ../scss/static.scss */
#box_blogpost-last {
  margin-top: 32px;
  margin-top: 2rem;
}
/* line 58, ../scss/static.scss */
#box_blogpost-last .box_gfx_title {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  padding: 8px 0px;
  padding: 0.5rem 0rem;
  border-bottom: 1px solid #cccccc;
}
/* line 65, ../scss/static.scss */
#box_blogpost-last .box_gfx_content > ul > li {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}
/* line 67, ../scss/static.scss */
#box_blogpost-last .box_gfx_content > ul > li a {
  display: block;
  padding: 12.8px 0px;
  padding: 0.8rem 0rem;
}

/* line 76, ../scss/static.scss */
#content {
  width: 74.45743%;
  float: right;
  margin-right: 0;
}
/* line 79, ../scss/static.scss */
.full #content {
  width: 100%;
  float: left;
  margin-right: 2.17028%;
}
/* line 83, ../scss/static.scss */
#content h2 {
  margin: 32px 0px;
  margin: 2rem 0rem;
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
  border-bottom: 1px solid #cccccc;
}
/* line 87, ../scss/static.scss */
#content h2:first-child {
  margin-top: 0;
}
/* line 92, ../scss/static.scss */
#content h5 {
  margin: 16px 0px;
  margin: 1rem 0rem;
  font-weight: 700;
}
/* line 97, ../scss/static.scss */
#content h6 {
  margin: 32px 0px 0px 0px;
  margin: 2rem 0rem 0rem 0rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
}
/* line 103, ../scss/static.scss */
#content img {
  display: block;
  margin: 0px 16px 16px 0px;
  margin: 0rem 1rem 1rem 0rem;
}
/* line 106, ../scss/static.scss */
#content img.alignleft {
  float: left;
}
/* line 109, ../scss/static.scss */
#content img.alignright {
  float: right;
  margin: 0px 0px 16px 16px;
  margin: 0rem 0rem 1rem 1rem;
}
/* line 115, ../scss/static.scss */
#content hr {
  display: none;
}
/* line 119, ../scss/static.scss */
#content .pdf {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}

/* line 125, ../scss/static.scss */
table.noborder,
p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 32px;
  margin-top: 2rem;
}
/* line 130, ../scss/static.scss */
table.noborder strong,
table.noborder b,
p strong,
p b {
  font-weight: 700;
}

/* line 136, ../scss/static.scss */
table.noborder td {
  padding: 4px 16px 4px 0px;
  padding: 0.25rem 1rem 0.25rem 0rem;
}

/* line 142, ../scss/static.scss */
#jobList {
  clear: both;
}
/* line 145, ../scss/static.scss */
#jobList li {
  display: block;
  border-bottom: 1px solid #cccccc;
  padding: 24px 0px;
  padding: 1.5rem 0rem;
}
/* line 149, ../scss/static.scss */
#jobList li:last-child {
  border-bottom: 0;
}
/* line 154, ../scss/static.scss */
#jobList p {
  margin: 16px 0px;
  margin: 1rem 0rem;
}
/* line 158, ../scss/static.scss */
#jobList a {
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
}

/* line 163, ../scss/static.scss */
#contact {
  margin-top: 32px;
  margin-top: 2rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}
/* line 168, ../scss/static.scss */
#contact .field {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 172, ../scss/static.scss */
#contact #form_message {
  min-height: 128px;
  min-height: 8rem;
}
/* line 180, ../scss/static.scss */
#contact .clear {
  clear: both;
}

/* line 186, ../scss/static.scss */
.blog .topic {
  display: none;
}
/* line 189, ../scss/static.scss */
.blog .header {
  margin-top: 0 !important;
}
/* line 192, ../scss/static.scss */
.blog .meta {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  margin: 16px 0px;
  margin: 1rem 0rem;
  font-weight: 700;
  color: #666666;
}
/* line 198, ../scss/static.scss */
.blog .body {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

/* line 204, ../scss/static.scss */
#directory .list-update {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 700;
}

/* line 211, ../scss/static.scss */
#directory-navigation ul {
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
/* line 134, ../scss/modules/_base.scss */
#directory-navigation ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 60, ../../../../../../lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#directory-navigation ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#directory-navigation ul li:first-child, #directory-navigation ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#directory-navigation ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#directory-navigation ul li.last {
  padding-right: 0;
}
/* line 215, ../scss/static.scss */
#directory-navigation ul li {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}
/* line 217, ../scss/static.scss */
#directory-navigation ul li.active a {
  color: #f5780a;
}

/* line 226, ../scss/static.scss */
#location-directory > ul {
  max-width: 44.6em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#location-directory > ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 230, ../scss/static.scss */
#location-directory li {
  width: 31.39013%;
  float: left;
  margin-right: 2.9148%;
}
/* line 233, ../scss/static.scss */
#location-directory li:last-child {
  float: right;
  margin-right: 0;
}
/* line 237, ../scss/static.scss */
#location-directory li h5 {
  margin: 16px 0px;
  margin: 1rem 0rem;
}
/* line 241, ../scss/static.scss */
#location-directory li p {
  margin: 8px 0px;
  margin: 0.5rem 0rem;
}

/* line 248, ../scss/static.scss */
#login {
  width: 320px;
  margin: 3em auto;
  padding-bottom: 1em;
}
/* line 253, ../scss/static.scss */
#login p {
  margin: 0px;
  margin: 0rem;
}
/* line 257, ../scss/static.scss */
#login #email, #login #password {
  font-size: 24px;
  width: 97%;
  padding: 3px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 4px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
}
/* line 268, ../scss/static.scss */
#login #login_form {
  margin-left: 8px;
  margin-top: 0px;
  padding: 16px;
  font-weight: normal;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: #c8c8c8 0 4px 18px;
}
/* line 278, ../scss/static.scss */
#login #login_form .submit .input_submit {
  border: 1px solid #0090d6;
  border-radius: 2px;
  background: #0090d6;
  float: right;
}
/* line 43, ../scss/modules/_buttons.scss */
#login #login_form .submit .input_submit:hover {
  background: #0aafff;
}
/* line 285, ../scss/static.scss */
#login .clear {
  clear: both;
}

/* line 301, ../scss/static.scss */
.specialty-page > nav {
  position: absolute;
  top: 72px;
  top: 4.5rem;
  left: 0;
  width: 100%;
}
/* line 307, ../scss/static.scss */
.specialty-page > nav > ul {
  max-width: 59.9em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
/* line 38, ../../../../../../lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.specialty-page > nav > ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 311, ../scss/static.scss */
.specialty-page > nav > ul > li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 314, ../scss/static.scss */
.specialty-page > nav > ul > li.active {
  font-weight: 700;
}
/* line 318, ../scss/static.scss */
.specialty-page > nav > ul > li:before {
  content: "\a0|\a0";
}
/* line 322, ../scss/static.scss */
.specialty-page > nav > ul > li:first-child:before {
  content: "";
}
/* line 134, ../scss/modules/_base.scss */
.specialty-page > section:after {
  content: "";
  display: table;
  clear: both;
}
/* line 333, ../scss/static.scss */
.specialty-page h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 34px;
  line-height: 2.125rem;
  font-weight: 700;
  color: #313131;
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  text-align: center;
}
/* line 344, ../scss/static.scss */
.specialty-page h3 {
  font-family: Gudea, Arial, sans-serif;
  font-weight: 400;
  color: #666666;
}
/* line 351, ../scss/static.scss */
.specialty-page #intro p {
  font-family: Gudea, Arial, sans-serif;
  font-weight: 400;
  color: #666666;
}
/* line 357, ../scss/static.scss */
.specialty-page #intro #main-image-wrapper {
  margin-bottom: 32px;
  margin-bottom: 2rem;
  height: 285px;
}
/* line 361, ../scss/static.scss */
.specialty-page #intro #main-image-wrapper > img {
  width: 100%;
  border-radius: 2px;
}
/* line 366, ../scss/static.scss */
.specialty-page #intro .partner-intro {
  text-align: justify;
}
/* line 372, ../scss/static.scss */
.specialty-page #general section {
  width: 100%;
  float: left;
  margin-right: 2.17028%;
  margin-top: 48px;
  margin-top: 3rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  /*###################Teamevent-SCSS###########################*/
  /*####################Empfehlungen-Ärzte-SCSS##################*/
  /*#######################ENDE Empfehlungen-Ärzte-SCSS##############*/
  /*#######################START Empfehlungen-Ärzte-Spezifisch-SCSS*/
  /*########################ENDE Empfehlungen-Ärzte-Spezifisch-SCSS*/
  /*########################START Neighborhood-Pages###############*/
  /*#######################ENDE Neighborhood-Pages##################*/
  /*#######################START Partner-pages######################*/
  /*#######################ENDE Partner-pages#######################*/
}
/* line 113, ../scss/modules/_base.scss */
.specialty-page #general section:before {
  margin-bottom: 64px;
  margin-bottom: 4rem;
  content: " ";
  display: block;
  height: 1px;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(40%, #cccccc), color-stop(60%, #cccccc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -moz-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
  background: linear-gradient(left, #ffffff 0%, #cccccc 40%, #cccccc 60%, #ffffff 100%);
}
/* line 378, ../scss/static.scss */
.specialty-page #general section .image-container {
  width: 40.40067%;
  float: left;
  margin-right: 2.17028%;
  height: 200px;
  float: right;
  margin-right: 0;
  border-radius: 2px;
  overflow: hidden;
}
/* line 385, ../scss/static.scss */
.specialty-page #general section .image-container > img {
  width: 100%;
}
/* line 390, ../scss/static.scss */
.specialty-page #general section .text-container {
  width: 57.42905%;
  float: left;
  margin-right: 2.17028%;
}
/* line 392, ../scss/static.scss */
.specialty-page #general section .text-container h4 {
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
/* line 399, ../scss/static.scss */
.specialty-page #general section .text-container p {
  margin-top: 16px;
  margin-top: 1rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #666666;
}
/* line 406, ../scss/static.scss */
.specialty-page #general section .text-container .doctor-images {
  width: 14.8581%;
  float: left;
  margin-right: 2.17028%;
  margin-top: 16px;
  margin-top: 1rem;
  margin-right: -16px;
  margin-right: -1rem;
  height: 56px;
  height: 3.5rem;
  overflow: hidden;
}
/* line 413, ../scss/static.scss */
.specialty-page #general section .text-container .doctor-images img {
  width: 60%;
}
/* line 420, ../scss/static.scss */
.specialty-page #general section:nth-of-type(2n+1) .image-container {
  float: left;
  margin-right: 2.17028%;
}
/* line 423, ../scss/static.scss */
.specialty-page #general section:nth-of-type(2n+1) .text-container {
  float: right;
  margin-right: 0;
}
/* line 426, ../scss/static.scss */
.specialty-page #general section:nth-of-type(2n+1) .doctor-images {
  margin-right: -16px;
  margin-right: -1rem;
}
/* line 429, ../scss/static.scss */
.specialty-page #general section:nth-of-type(2n+1) .doctor-profile {
  float: right;
  margin-right: 0;
}
/* line 432, ../scss/static.scss */
.specialty-page #general section:nth-of-type(2n+1) .doctor-wrapper-specific {
  float: right;
  margin-right: 0;
}
/* line 437, ../scss/static.scss */
.specialty-page #general section .teamevent-image-container {
  width: 40.40067%;
  float: left;
  margin-right: 2.17028%;
  height: 100%;
  overflow: hidden;
}
/* line 442, ../scss/static.scss */
.specialty-page #general section .teamevent-image-container > img {
  width: 100%;
  border-radius: 2px;
}
/* line 448, ../scss/static.scss */
.specialty-page #general section .teamevent-text-container {
  float: right;
  margin-right: 0;
  width: 57.42905%;
  float: left;
  margin-right: 2.17028%;
  margin-right: 0px;
  margin-right: 0rem;
}
/* line 452, ../scss/static.scss */
.specialty-page #general section .teamevent-text-container h4 {
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
/* line 457, ../scss/static.scss */
.specialty-page #general section .teamevent-text-container p {
  margin-top: 16px;
  margin-top: 1rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #666666;
}
/* line 462, ../scss/static.scss */
.specialty-page #general section .teamevent-text-container .date {
  font-style: italic;
  margin-top: -8px;
  margin-top: -0.5rem;
}
/* line 468, ../scss/static.scss */
.specialty-page #general section .favorite-text-container {
  width: 57.42905%;
  float: left;
  margin-right: 2.17028%;
  margin-right: 0px;
  margin-right: 0rem;
}
/* line 471, ../scss/static.scss */
.specialty-page #general section .favorite-text-container h4 {
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
/* line 476, ../scss/static.scss */
.specialty-page #general section .favorite-text-container p {
  margin-top: 16px;
  margin-top: 1rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #666666;
}
/* line 482, ../scss/static.scss */
.specialty-page #general section .favorite-image-container {
  width: 40.40067%;
  float: left;
  margin-right: 2.17028%;
  height: 200px;
  float: right;
  margin-right: 0;
  border-radius: 2px;
  overflow: hidden;
}
/* line 489, ../scss/static.scss */
.specialty-page #general section .favorite-image-container > img {
  width: 100%;
}
/* line 494, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper {
  width: 82.97162%;
  float: left;
  margin-right: 2.17028%;
  margin-left: 17.02838%;
}
/* line 498, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper h3 {
  font-weight: 600;
}
/* line 502, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper .doctor-profile {
  padding-top: 16px;
  padding-top: 1rem;
  width: 40.40067%;
  float: left;
  margin-right: 2.17028%;
  height: 144px;
  height: 9rem;
}
/* line 507, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper .doctor-profile .image {
  width: 31.88648%;
  float: left;
  margin-right: 2.17028%;
  height: 133px;
  overflow: hidden;
  border-radius: 4px;
  border-radius: 0.25rem;
}
/* line 513, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper .doctor-profile .image img {
  width: 100%;
}
/* line 518, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper .doctor-profile .profile-info {
  float: right;
  margin-right: 0;
  width: 65.94324%;
  float: left;
  margin-right: 2.17028%;
  margin-right: 0px;
  margin-right: 0rem;
}
/* line 523, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper .doctor-profile .profile-info .doc-name {
  font-weight: 600;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
/* line 529, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper .doctor-profile .profile-info .praxis {
  color: #000;
  font-weight: 600;
}
/* line 534, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper .doctor-profile .profile-info .doc-specialty {
  text-decoration: underline;
}
/* line 538, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper .doctor-profile .profile-info .doc-city {
  font-weight: 600;
}
/* line 542, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper .doctor-profile .profile-info p {
  margin-top: 0px;
  margin-top: 0rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  color: #666666;
}
/* line 553, ../scss/static.scss */
.specialty-page #general section .specialty {
  padding-bottom: 32px;
  padding-bottom: 2rem;
}
/* line 556, ../scss/static.scss */
.specialty-page #general section .specialty > h3 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 34px;
  line-height: 2.125rem;
  color: #313131;
}
/* line 562, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper-specific {
  width: 48.91486%;
  float: left;
  margin-right: 2.17028%;
  height: 240px;
  height: 15rem;
  margin-right: 0px;
  margin-right: 0rem;
}
/* line 567, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper-specific .image-doctor {
  width: 31.88648%;
  float: left;
  margin-right: 2.17028%;
  height: 200px;
  height: 12.5rem;
  overflow: hidden;
  border-radius: 4px;
  border-radius: 0.25rem;
}
/* line 573, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper-specific .image-doctor > img {
  width: 100%;
}
/* line 578, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper-specific .doctor-info {
  width: 65.94324%;
  float: left;
  margin-right: 2.17028%;
  float: right;
  margin-right: 0;
  margin-right: 0px;
  margin-right: 0rem;
}
/* line 583, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper-specific .doctor-info p {
  margin-top: 0px;
  margin-top: 0rem;
}
/* line 585, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper-specific .name {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 600;
}
/* line 589, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper-specific .info {
  color: #666666;
}
/* line 592, ../scss/static.scss */
.specialty-page #general section .doctor-wrapper-specific .description {
  padding-top: 16px;
  padding-top: 1rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}
/* line 599, ../scss/static.scss */
.specialty-page #general section .city-wrapper-specific {
  width: 31.88648%;
  float: left;
  margin-right: 2.17028%;
  margin-right: 8px;
  margin-right: 0.5rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  height: 256px;
  height: 16rem;
}
/* line 605, ../scss/static.scss */
.specialty-page #general section .city-wrapper-specific .city {
  text-align: center;
}
/* line 608, ../scss/static.scss */
.specialty-page #general section .city-wrapper-specific .city h3 {
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
}
/* line 613, ../scss/static.scss */
.specialty-page #general section .city-wrapper-specific p {
  margin-top: 16px;
  margin-top: 1rem;
  padding-left: 8px;
  padding-left: 0.5rem;
  padding-right: 8px;
  padding-right: 0.5rem;
}
/* line 621, ../scss/static.scss */
.specialty-page #general section .doctors-partner {
  padding-bottom: 48px;
  padding-bottom: 3rem;
}
/* line 624, ../scss/static.scss */
.specialty-page #general section .doctors-partner > h3 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 34px;
  line-height: 2.125rem;
}
/* line 629, ../scss/static.scss */
.specialty-page #general section .partner-wrapper-specific {
  width: 31.88648%;
  float: left;
  margin-right: 2.17028%;
  margin-right: 8px;
  margin-right: 0.5rem;
  height: 368px;
  height: 23rem;
}
/* line 634, ../scss/static.scss */
.specialty-page #general section .partner-wrapper-specific .image-partner {
  height: 120px;
  height: 7.5rem;
  overflow: hidden;
}
/* line 638, ../scss/static.scss */
.specialty-page #general section .partner-wrapper-specific .image-partner img {
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  margin-right: auto;
}
/* line 644, ../scss/static.scss */
.specialty-page #general section .partner-wrapper-specific .terminland-image {
  margin-top: 64px;
  margin-top: 4rem;
}
/* line 648, ../scss/static.scss */
.specialty-page #general section .partner-wrapper-specific .name {
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  text-align: center;
}
/* line 656, ../scss/static.scss */
.specialty-page #general section .partner-wrapper-specific .description {
  margin: 0px 16px 0px 32px;
  margin: 0rem 1rem 0rem 2rem;
}
/* line 662, ../scss/static.scss */
.specialty-page #general .job-list {
  list-style-type: disc;
  margin-left: 32px;
  margin-left: 2rem;
}
/* line 671, ../scss/static.scss */
.specialty-page #featured-specialties h4 {
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  margin-top: 48px;
  margin-top: 3rem;
  font-weight: 700;
}
/* line 680, ../scss/static.scss */
.specialty-page #featured-specialties > section {
  width: 31.88648%;
  float: left;
  margin-right: 2.17028%;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  margin-top: 16px;
  margin-top: 1rem;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 688, ../scss/static.scss */
.specialty-page #featured-specialties > section.omega {
  float: right;
  margin-right: 0;
}
/* line 692, ../scss/static.scss */
.specialty-page #featured-specialties > section .image-wrapper {
  position: relative;
  height: 144px;
  height: 9rem;
  overflow: hidden;
}
/* line 697, ../scss/static.scss */
.specialty-page #featured-specialties > section .image-wrapper > img {
  width: 100%;
}
/* line 702, ../scss/static.scss */
.specialty-page #featured-specialties > section .overlaid-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  background: rgba(0, 0, 0, 0.2);
}
/* line 709, ../scss/static.scss */
.specialty-page #featured-specialties > section .overlaid-title > h3 {
  color: white;
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
  text-align: center;
}
/* line 714, ../scss/static.scss */
.specialty-page #featured-specialties > section .overlaid-title > h3 > a {
  color: white;
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
  text-decoration: none;
}
/* line 719, ../scss/static.scss */
.specialty-page #featured-specialties > section .overlaid-title > h3 > a:hover {
  text-decoration: underline;
}
/* line 726, ../scss/static.scss */
.specialty-page #featured-specialties > section > p {
  padding: 8px;
  padding: 0.5rem;
  margin-top: 0px;
  margin-top: 0rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}
/* line 736, ../scss/static.scss */
.specialty-page #bottom-boxes {
  width: 100%;
  float: left;
  margin-right: 2.17028%;
  padding-top: 64px;
  padding-top: 4rem;
}
/* line 740, ../scss/static.scss */
.specialty-page #bottom-boxes h4 {
  font-weight: 600;
}
/* line 744, ../scss/static.scss */
.specialty-page #bottom-boxes > div {
  width: 40.40067%;
  float: left;
  margin-right: 2.17028%;
  margin-right: 0px;
  margin-right: 0rem;
}
/* line 748, ../scss/static.scss */
.specialty-page #bottom-boxes .right {
  float: right;
  margin-right: 0;
  margin-right: 8.51419%;
}
/* line 752, ../scss/static.scss */
.specialty-page #bottom-boxes .left {
  margin-left: 8.51419%;
  margin-right: 0px;
  margin-right: 0rem;
}
/* line 762, ../scss/static.scss */
.specialty-page .bottom-area #cities h4, .specialty-page .bottom-area #specialties h4, .specialty-page .bottom-area .main-specialties h4 {
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  margin-top: 48px;
  margin-top: 3rem;
  font-weight: 700;
}
/* line 770, ../scss/static.scss */
.specialty-page .bottom-area #cities h4:after, .specialty-page .bottom-area #specialties h4:after, .specialty-page .bottom-area .main-specialties h4:after {
  margin-top: 8px;
  margin-top: 0.5rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  content: " ";
  display: block;
  height: 1px;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #cccccc), color-stop(80%, #ffffff));
  background: -webkit-linear-gradient(left, #cccccc 0%, #ffffff 80%);
  background: -moz-linear-gradient(left, #cccccc 0%, #ffffff 80%);
  background: -o-linear-gradient(left, #cccccc 0%, #ffffff 80%);
  background: linear-gradient(left, #cccccc 0%, #ffffff 80%);
}
/* line 779, ../scss/static.scss */
.specialty-page .bottom-area #cities h4 h4:before, .specialty-page .bottom-area #specialties h4 h4:before, .specialty-page .bottom-area .main-specialties h4 h4:before {
  font-family: at-assets;
  color: #0090d6;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-right: 4px;
  margin-right: 0.25rem;
}
/* line 790, ../scss/static.scss */
.specialty-page .bottom-area #cities {
  width: 23.37229%;
  float: left;
  margin-right: 2.17028%;
}
/* line 793, ../scss/static.scss */
.specialty-page .bottom-area #cities h4:before {
  font-family: at-assets;
  color: #0090d6;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  content: "\e609\a0";
}
/* line 803, ../scss/static.scss */
.specialty-page .bottom-area #specialties {
  width: 74.45743%;
  float: left;
  margin-right: 2.17028%;
  float: right;
  margin-right: 0;
}
/* line 807, ../scss/static.scss */
.specialty-page .bottom-area #specialties h4:before {
  font-family: at-assets;
  color: #0090d6;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  content: "\e607\a0";
}
/* line 817, ../scss/static.scss */
.specialty-page .bottom-area .main-specialties {
  width: 100%;
  float: left;
  margin-right: 2.17028%;
  float: right;
  margin-right: 0;
}
/* line 821, ../scss/static.scss */
.specialty-page .bottom-area .main-specialties h4:before {
  font-family: at-assets;
  color: #0090d6;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  content: "\e607\a0";
}
/* line 833, ../scss/static.scss */
.specialty-page .bottom-area nav h4 + ul > li {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}
/* line 837, ../scss/static.scss */
.specialty-page .bottom-area nav h4 + ul > li.reset {
  margin-top: -312px;
  margin-top: -19.5rem;
}
/* line 838, ../scss/static.scss */
.specialty-page .bottom-area nav h4 + ul > li.column-1 {
  margin-left: 0;
}
/* line 839, ../scss/static.scss */
.specialty-page .bottom-area nav h4 + ul > li.column-2 {
  margin-left: 15.3em;
}
/* line 840, ../scss/static.scss */
.specialty-page .bottom-area nav h4 + ul > li.column-3 {
  margin-left: 30.6em;
}
/* line 846, ../scss/static.scss */
.specialty-page .bottom-area nav.main-specialties h4 + ul > li.column-2 {
  margin-left: 20.4em;
}
/* line 847, ../scss/static.scss */
.specialty-page .bottom-area nav.main-specialties h4 + ul > li.column-3 {
  margin-left: 40.8em;
}
