{% extends 'base.html.twig' %}

{% set isSales = true %}
{% set hasFullHeader = false %}
{% set minimalFooter = true %}

{% block content %}
<div class="container">
    <div class="col-sm-12">
        <div class="row">
            {{ form_start(form, {
                'attr': {
                    'class': 'sidebar-box colored'
                },
                'action': path('doctor_register'),
                'enctype': 'application/x-www-form-urlencoded'
            }) }}
            <div class="row">
                <div class="col-md-6">
                    <fieldset class="form-group"></fieldset>
                    {{ form_row(form.location.name) }}
                </div>
                <div class="col-sm-12">
                    <hr class="m-y-2"/>
                </div>
                <div class="col-md-6">
                    <h5 class="m-b-1">
                        {{ 'ui.form.practice.header'|trans }}
                    </h5>
                    <div class="form-group">
                        {{ form_row(form.location.street) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.location.addressAdditional) }}
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-md-4 col-lg-3">
                                {{ form_row(form.location.zip) }}
                            </div>
                            <div class="col-sm-9 col-md-8 col-lg-9">
                                {{ form_row(form.location.city) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.location.phone) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 class="m-b-1">
                        {{ 'ui.form.account.header'|trans }}
                    </h5>
                    <div class="form-group">
                        {{ form_row(form.doctor.gender) }}
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                {{ form_label(form.doctor.first_name) }}
                                {{ form_widget(form.doctor.first_name) }}
                                {{ form_errors(form.doctor.first_name) }}
                            </div>
                            <div class="col-sm-6">
                                {{ form_label(form.doctor.last_name) }}
                                {{ form_widget(form.doctor.last_name) }}
                                {{ form_errors(form.doctor.last_name) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.user.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.user.password) }}
                    </div>
                </div>
                <div class="col-sm-6 offset-sm-6">
                    <div class="form-group">
                        {{ form_row(form.doctor.agb) }}
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr class="m-y-2"/>
                    <button type="submit" class="a btn btn-secondary pull-right">{{ 'ui.doctor.dashboard.register.form.button_register'|trans }}</button>
                </div>
            </div>
            {{ form_end(form) }}
            <p class="mt-1">
                <strong>{{ 'ui.login.questions.header'|trans }}</strong> {{ 'ui.login.questions.statement'|trans }}
                <a href="tel:{{ application.phone.sales }}">
                    <span class="fa fa-phone"></span> {{ application.phone.sales }} </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}