{% extends '::base.html.twig' %}

{% use ':doctor/dashboard:header.html.twig' %}
{% use ':doctor/dashboard:footer.html.twig' %}

{% block content %}
    {% set query_slug = '?u='~slug %}
    {% set default_location = locations|first %}

    <div class="container summary">
        <div class="row">
            <div class="col-sm-12">
                {% include ':doctor/dashboard/platform:navigation.html.twig' with { 'query_slug': query_slug, 'default_location': default_location, 'active_route': 'doctor_reputation' } %}
            </div>
        </div>

        {% if reviews|length %}
        <div class="table-responsive">
            <table class="table dashboard-table" id="reputation">
                <thead>
                    <tr>
                        <th class="ratings">{{ 'ui.doctor.dashboard.reputation.rating'|trans }}</th>
                        <th class="average" data-sort="float"><a href="#">{{ 'ui.doctor.dashboard.reputation.total'|trans }}{% include ':doctor/dashboard:sortable.html.twig' %}</a></th>
                        <th class="review">{{ 'ui.doctor.dashboard.reputation.review'|trans }}</th>
                        <th class="patient" data-sort="string-ins"><a href="#">{{ 'ui.doctor.dashboard.reputation.patient'|trans }}{% include ':doctor/dashboard:sortable.html.twig' %}</a></th>
                        <th class="date" data-sort="int"><a href="#">{{ 'ui.doctor.dashboard.reputation.date'|trans }}{% include ':doctor/dashboard:sortable.html.twig' %}</a></th>
                    </tr>
                </thead>
                <tbody>
                {% for review in reviews if review.getBooking %}
                    {% set booking = review.getBooking %}
                    <tr class="review" data-review-id="{{ review.getId }}">
                        <td>
                            <div class="rating-star is-inline">
                                <div class="rating-name">{{ 'ui.doctor.profile.rating1'|trans }}</div>
                                {% include 'star-rating.html.twig' with { 'rating': review.getRating('rating_1') } %}
                            </div>
                            <div class="rating-star is-inline">
                                <div class="rating-name">{{ 'ui.doctor.profile.rating2'|trans }}</div>
                                {% include 'star-rating.html.twig' with { 'rating': review.getRating('rating_2') } %}
                            </div>
                            <div class="rating-star is-inline">
                                <div class="rating-name">{{ 'ui.doctor.profile.rating3'|trans }}</div>
                                {% include 'star-rating.html.twig' with { 'rating': review.getRating('rating_3') } %}
                            </div>
                        </td>

                        <td class="average text-xs-center" data-sort-value="{{ review.getRating('rating_average') }}">{{ review.getRating('rating_average')|number_format(2) }}</td>

                        <td>
                            <p class="rating-text">{{ review.getRateText }}</p>

                            {% set comment = review.getComment %}
                            <div class="comment-form" data-name="review-{{ review.getId }}">
                                <div class="inner">
                                    <textarea class="tool comment form-control" name="review-comment[]" cols="40" rows="5">{{ comment }}</textarea>

                                    <div class="pull-right">
                                        <span class="saved">
                                            <span class="fa fa-check"></span>
                                            {{ 'ui.doctor.dashboard.saved'|trans }}
                                        </span>
                                        <a class="btn btn-primary btn-sm btn-sm-smaller tool-save">{{ 'ui.doctor.dashboard.reputation.actions.publish'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ booking.getFirstName }} {{ booking.getLastName }}</td>
                        <td class="date" data-sort-value="{{ booking.getAppointmentStartAt.format('U') }}">{{ booking.getAppointmentStartAt.format('Y-m-d')|localizeddate('short', 'none') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="no-result-hint">
                    <p>{{ 'ui.doctor.dashboard.reputation.no_reviews'|trans }}</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/dashboard/reputation.js') }}"></script>

{% endblock %}