/* ***********************
GENERAL STUFF 		*/
/*
	*
	*  DELETE AFTER CLEAN MERGE (later)
	*
*/

/* include to html5-default.css*/
.middle {
	position: relative;
	display: block;
	margin: 0 auto;
	width: auto;
}
.middle-responsiv {
	position: relative;
	display: block;
	margin: 0 auto;
	min-width: 320px;
	max-width: 980px;
}
.middle-responsiv-big {
	position: relative;
	display: block;
	margin: 0 auto;
	min-width: 320px;
	max-width: 1280px;
}
/**********/
#main h1 {
color: #5294a3;
    font-family: Helvetica;
}
a,
.submit {
cursor: pointer;
}
fieldset {
border: none;
}
.greenblue {
color: rgba(81, 147, 163, 1);
color: #5294a3;
}
.button {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;	
	border: 1px solid #999999;
}

.click:hover { cursor: pointer; }
/* ######################################################## */
/* ************ OBJECTS ********** */
html,
body {
	background: none;
}
body {
	position: relative;
	display: block;
	min-width: auto;
	padding: 0;
}
#page-main { background-color: #f2f2f2; }
#topContainer {
	position: relative;
	display: block;
	height: 90px;
}
#main {
	padding: 0;
	margin: 0 auto;
}
#page-footer {
	display: block;
	width: 100%;
	overflow: hidden;
	background: #fdfdfd;
	box-shadow: inset 0 5px 10px #d8d8d8;
}

#logo img{
    border:none!important
}

.profile_message {
	position: absolute;
	top: 32px;
	left: 50%;
	margin-left: -225px;
	width: 500px;
	padding: 8px 12px;
	min-height: 15px;
	border-radius: 10px;
	border: 1px solid rgb(213, 240, 218);
	text-align: center;
	color: #666;
	font-size: 13px;
	background-color: rgb(213, 240, 218);
}


.grey_normal{
    color: #4d4d4d; /* text color */
    font-family: "Arial";
    font-size: 14px;
    font-weight: normal;
}

.grey_bold{
    color: #4d4d4d; /* text color */
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
}

/*styles of AGB lightbox container*/
#agb_container{
    position: fixed;
    top: 0px;
    width: 480px;
    height: 360px;
    margin-left: 220px;
    background: white;
    margin-top: 100px;
    -moz-box-shadow: 0px 0px 3px 3px #ccc;
    -webkit-box-shadow: 0px 0px 3px 3px #ccc;
    box-shadow: 0px 0px 3px 3px #ccc;
    border-radius: 10px;
    overflow: auto;
    border: 20px white solid;
    padding-right: 15px;
    border-right: 5px solid white;
}
#agb_text h1{
    color: #262626;
    font-size: 15px;
    margin: 0.3em 0;
    font-weight: normal;
    line-height: 7px;
    font-family: tahoma, helvetica, arial;
}

#agb_text{
    color: #666666;
    font-size: 12px;
    font-family: tahoma, helvetica, arial;
}
#agb_text strong {
    font-weight: bold;
}

#agb_text p,#agb_text li{
    line-height: 1.5em;
    margin-bottom: 1em;
    display: block;
}

#agb_close{
    position: fixed;
    top: 80px;
    margin-left: 740px;
    cursor: pointer;
    background: white;
    border-radius: 94%;
    height: 29px;
    width: 29px;
    text-align: center;
    color: grey;
    font-size: 20px;
    -moz-box-shadow: 0px 0px 3px 3px #ccc;
    -webkit-box-shadow: 0px 0px 3px 3px #ccc;
    box-shadow: 0px 0px 3px 3px #ccc;
    font-weight: bold;
}
#fancybox-overlay{
    display: none !important;
}

#agb_shade{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    opacity: .8;
}

.register_container.step2 #agb_container{
    margin-left: 125px;

}
.register_container.step2 #agb_close
{
    font-family: tahoma, helvetica, arial;
    margin-left: 647px;
}

