#password-validator-container {
  top: 0;
  left: 0;
  background: white;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  position: absolute;
  /* Because of the weird z-index rules for <h1> and .topContainer in doc password reset page */
  z-index: 999;
  display: none;
}
#password-validator-container:before {
  content: "\00a0";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 10px;
  bottom: auto;
  border-width: 12px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
#password-validator-container:after {
  content: "\00a0";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 10px;
  bottom: auto;
  border-width: 12px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
#password-validator-container:after {
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
}
#password-validator-container #has-all-valid {
  display: none;
}
#password-validator-container.valid {
  margin-top: -31px;
}
#password-validator-container.valid #has-all-valid {
  display: block;
  color: #649614;
}
#password-validator-container .password-validator {
  text-align: left;
}
#password-validator-container .password-validator > div {
  padding: 0px 0px 12px;
}
#password-validator-container .password-validator > div[id^=has-] {
  color: #4d4d4d;
  position: relative;
  height: 24px;
  padding: 0px;
  padding-left: 18px;
  padding-top: 6px;
}
#password-validator-container .password-validator > div[id^=has-][id=has-all-valid] {
  height: auto;
  padding-top: 12px;
}
#password-validator-container .password-validator > div[id^=has-] .bullet {
  position: absolute;
  left: 0px;
  top: 10px;
}
#password-validator-container .password-validator > div[id^=has-].valid {
  color: #649614;
}
#password-validator-container .password-validator > div[id^=has-].valid .bullet {
  top: 6px;
}
