@import "compass/css3/";
// $patient-registration-sprite-dimensions: true;
// @import "patient-registration/*.png";
// @include all-patient-registration-sprites;
// @import "../../static/old-css/main.scss";
@import "_css-arrow";

$valid-color: #649614;

// /* Ugly override of main.css */
// .error {
//     color: black;
// }

// *[type=submit][disabled],
// *[type=submit][disabled]:hover,
// *[type=submit][disabled]:active {
//     @extend .btn_green;
//     cursor: default;
//     border-color: #828282 !important;
//     @include background-image(linear-gradient(bottom, #727272 0%, #888888 49%, #949494 50%, #a9a9a9 96%, #c2c2c2 100%) !important);
// }

#password-validator-container {
    top: 0;
    left: 0;
    background: white;
    padding: 15px;
    @include box-shadow(0px 0px 9px 5px rgba(0, 0, 0, 0.3));
    @include border-radius(4px);

    $border-width: 0;
    $arrow-width: 25px;

    @include arrow( 'south', white, white, $border-width, 100%, 10px, $arrow-width );
    &:after {
        -webkit-filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.3));
    }
    position: absolute;
    /* Because of the weird z-index rules for <h1> and .topContainer in doc password reset page */
    z-index: 999;

    display: none;

    #has-all-valid {
        display: none;
    }
    &.valid {
        #has-all-valid {
            display: block;
            color: $valid-color;
            & > div {
                // @extend .patient-registration-thumb-up;
            }
        }
        margin-top: -31px;
    }
    & .password-validator {
        text-align: left;


        & > div {

            padding: 0px 0px 12px;

            &[id^=has-] {
                color: #4d4d4d;
                position: relative;
                height: 24px;

                padding: 0px;
                padding-left: 18px;
                padding-top: 6px;

                &[id=has-all-valid] {
                    height: auto;
                    padding-top: 12px;
                }

                & .bullet {
                    position: absolute;
                    left: 0px;
                    top: 10px;
                    // @extend .patient-registration-arrow;
                }

                &.valid {
                    color: $valid-color;

                    & .bullet {
                        top: 6px;
                        // @extend .patient-registration-checkmark;
                    }
                }
            }
        }
    }
}
