<div id="content-footer">
	<ul>
		<li class="r1">
			<h2>aus Forderungen werden Spenden</h2>
			<table>
				<tr>
					<td><a href="/impressum">Impressum</a></td>
					<td><a href="/ueber-uns">Über uns</a></td>
				</tr>
				<tr>
					<td><a href="/funktion">Wie's funktioniert</a></td>
					<td><a href="/kontakt" rel="nofollow">Kontakt</a></td>
				</tr>
				<tr>
					<td><a href="/datenschutz" rel="nofollow">Datenschutz</a></td>
					<td><a href="/presse" rel="nofollow">Presse</a></td>
				</tr>
			</table>
		</li>
		<li class="r2">
			<h2>Forderungen spenden</h2>
			<p>Maximal zwei Zeilen Text<br />Maximal zwei Zeilen Text</p>
			<a href="/forderung-spenden" class="button-small">Forderungen spenden</a>
		</li>
		<li class="r3">
			<h2>Kanzlei anmelden</h2>
			<p>Maximal zwei Zeilen Text<br />Maximal zwei Zeilen Text</p>
			<a href="/kanzlei-anmelden" class="button-small">Kanzlei anmelden</a>
		</li>
		<li class="r4">
			<h2>Hilfsprojekt registrieren</h2>
			<p>Maximal zwei Zeilen Text<br />Maximal zwei Zeilen Text</p>
			<a href="/hilfsprojekt-registrieren" class="button-small">Hilfsprojekt registrieren</a>
		</li>
	</ul>
</div>
