{include file="header.tpl" title=foo}

<!-- CONTENT -->
<div id="content" class="w972">
{*}	<div id="title" class="text_indent">
		<div id="faq"><h1>Fragen</h1></div>
	</div>
{/*}
	<div id="title" style="height:80px;">
	</div>
