{render name='content1' method='render_content'}
{include file="header.tpl"}

<div id="bd">

	<div id="content-main">

{$this->content_main}

	</div>
	<div class="clear"></div>
</div>

{include file="footer.tpl"}
