{strip}
    {assign var="template_body_class" value="static"}
    {include file="header.tpl"}
{/strip}

<div class="container full">
    <main>
        <section id="content">
            {render name='content1' method='render_content'}
            {if $this->contentRight}
                {$this->contentRight}
            {/if}
        </section>
    </main>
</div>

{include file="footer.tpl"}
