<div id="fb-root"></div>
{literal}
	<script type='text/javascript'>
		window.fbAsyncInit = function() {
			FB.init({appId: '462866650473799', status: true, cookie: true, xfbml: true});
		};

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
{/literal}