<ul class="navi sideNavigation">
	<li{if $active_page=='news'} class="active"{/if}><a href="/news">News</a></li>
	<li{if $active_page==132} class="active"{/if}><a href="/jobs">Jobs</a></li>
	<li{if $active_page==114} class="active"{/if}><a href="/presse" class="l1">Presse</a></li>
	<li{if $active_page==101} class="active"{/if}><a href="/kontakt">Kontakt</a></li>	
	<li{if $active_page==103} class="active"{/if}><a href="/impressum">Impressum</a></li>
	<li{if $active_page==113} class="active"{/if}><a href="/datenschutz">Datenschutz</a></li>
	<li{if $active_page==104} class="active"{/if}><a href="/agb">AGBs</a></li>
	<li><a href="/magazin/">Magazin</a></li>
</ul>
