{% extends ':Form:fields.html.twig' %}

{% block form_row %}
    {% spaceless %}
        <fieldset class="form-group row">
            <div class="col-sm-4 col-md-2">
                {{ form_label(form) }}
            </div>
            <div class="col-sm-8 col-md-6">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </fieldset>
    {% endspaceless %}
{% endblock form_row %}

{%- block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
        <fieldset>
{%- endblock form_start -%}

{%- block form_end -%}
    {%- if not render_rest is defined or render_rest -%}
        {{ form_rest(form) }}
    {%- endif -%}
        </fieldset>
    </form>
{%- endblock form_end -%}
