{% use 'bootstrap_3_layout.html.twig' %}

{# Specific form overrides below #}
{# ============================= #}

{# Override attributes generation so we can intercept error messages #}
{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title', 'data-fv-message'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes -%}

{%- block widget_container_attributes -%}
    {%- if id is not empty %}id="{{ id }}"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title', 'data-fv-message'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_container_attributes -%}

{# Custom rendering of AGB checkbox to allow HTML and remove the label #}
{%- block _agb_label -%}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if widget is defined %}
                {{- widget|raw -}}
            {% endif %}
            {{- label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain))|raw -}}
        </label>
{%- endblock _agb_label -%}

{%- block _registration_doctor_agb_label -%}
    {{ block('_agb_label') }}
{%- endblock _registration_doctor_agb_label -%}

{%- block _registration_patient_agb_label -%}
    {{ block('_agb_label') }}
{%- endblock _registration_patient_agb_label -%}

{%- block _booking_form_agb_label -%}
    {{ block('_agb_label') }}
{%- endblock _booking_form_agb_label -%}

{# Login form requires "forgot password" link #}
{%- block _login_password_widget -%}
    {%- set type = type|default('password') -%}
    {{ block('form_widget_simple') }}
    <a role="button" href="#">{{ 'ui.login.form.lost_password.label'|trans }}</a>
{%- endblock _login_password_widget -%}

{# Custom rendering for tel input element #}
{% block tel_widget %}
    {%- set type = type|default('tel') -%}
    {{ block('form_widget_simple') }}
{% endblock %}
