{% macro input_select(name, option_array, value, label, errors, options = { multiple: false, include_blank: true }) %}
    {% if label != '' %}
        <label class="form-control-label" for="input_{{ name }}">{{ label|trans }}</label>
    {% endif %}
    <select id="input_{{ name }}" name="{{ name }}" class="selectpicker form-control disable-text-shadow" {% if options.multiple %}multiple{% endif %}>
        {% if options.include_blank %}
            <option value="" {% if value is same as(null) or value is empty %}selected{% endif %}>{{ 'form.please_choose'|trans }}</option>
        {% endif %}
        {% for id, title in option_array %}
            {% if title.getName is defined %}
                <option value="{{ title.getId }}" {% if value == title.getId %}selected{% endif %}>{{ title.getName }}</option>
            {% else %}
                <option value="{{ id }}" {% if value == id %}selected{% endif %}>{{ title }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endmacro %}