{% form_theme form ':Form:dashboard.html.twig' %}
{% extends 'base.html.twig' %}

{% use ':patient:header.html.twig' %}

{% block content %}
    <div class="container summary">
        <div class="row">
            <div class="col-sm-12">
                {% include ':patient:navigation.html.twig' with { 'active_route': 'patient_account' } %}
            </div>
        </div>
        <div class="row content">
            <div class="col-sm-12">

                {{ form_start(form, {
                    'action': path('patient_account'),
                    'enctype': 'application/x-www-form-urlencoded',
                    'attr': { 'class': 'form-horizontal' }
                }) }}

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.form.gender.label'|trans }}</label>

                    <div class="col-sm-8 col-md-6">
                        {{ form_widget(form.gender) }}
                        {{ form_errors(form.gender) }}
                    </div>
                </fieldset>
                <hr/>

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.form.first_name.label'|trans }}</label>

                    <div class="col-sm-8 col-md-6">
                        {{ form_widget(form.first_name) }}
                        {{ form_errors(form.first_name) }}
                    </div>
                </fieldset>
                <hr/>

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.form.last_name.label'|trans }}</label>

                    <div class="col-sm-8 col-md-6">
                        {{ form_widget(form.last_name) }}
                        {{ form_errors(form.last_name) }}
                    </div>
                </fieldset>
                <hr/>

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.form.email.label'|trans }}</label>

                    <div class="col-sm-8 col-md-6">
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                </fieldset>
                <hr/>

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.form.phone.label'|trans }}</label>

                    <div class="col-sm-8 col-md-6">
                        {{ form_widget(form.phone) }}
                        {{ form_errors(form.phone) }}
                    </div>
                </fieldset>
                <hr/>

                <fieldset class="form-group row">
                    <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.form.new_password.label'|trans }}</label>

                    <div class="col-sm-8 col-md-6">
                        {{ form_widget(form.new_password) }}
                        {{ form_errors(form.new_password) }}
                    </div>
                </fieldset>
                <hr/>

                <button class="btn btn-primary pull-right" type="submit">{{ 'ui.patient.dashboard.account.form.submit'|trans }}</button>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}
