{% extends 'base.html.twig' %}

{% use ':patient:header.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard/patients.js') }}"></script>
{% endblock javascripts %}

{% block content %}

    <div class="container summary">
        <div class="row">
            <div class="col-sm-12">
                {% include ':patient:navigation.html.twig' with { 'active_route': 'patient_appointments' } %}
            </div>
        </div>
        <div class="row content">
            <div class="col-sm-12">

                <section class="booking-summary" data-endpoint="{{ path('patient_api') }}">
                    {% if upcoming_bookings|length > 0 %}
                        <div class="booking-group">
                            <h2>{{ 'ui.patient.dashboard.appointments.form.upcoming_bookings.header'|trans }}</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="doctor">{{ 'ui.patient.dashboard.appointments.form.doctor'|trans }}</th>
                                    <th class="practice">{{ 'ui.patient.dashboard.appointments.form.practice'|trans }}</th>
                                    <th class="status">{{ 'ui.patient.dashboard.appointments.form.status'|trans }}</th>
                                    <th class="date">{{ 'ui.patient.dashboard.appointments.form.date'|trans }}</th>
                                    <th class="action"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for booking in upcoming_bookings %}
                                    {% set doctor, location = booking.getDoctor, booking.getLocation %}
                                    <tr>
                                        <td>
                                            <a href="{{ slug_to_url(doctor.getSlug) }}" target="_blank">{{ doctor.getFullName() }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ slug_to_url(location.getSlug, 'practice') }}" target="_blank">{{ location.getName }}</a>
                                        </td>
                                        <td class="booking_status">{{ getStatusLabel(booking) }}</td>
                                        <td>
                                            {{ booking.getAppointmentStartAt|date_format }}
                                        </td>
                                        <td>
                                            {% if isCancellable(booking) %}
                                            <a href="#" class="cancel btn button" data-booking_id="{{ booking.getId }}">{{ 'ui.patient.dashboard.appointments.form.cancel_booking'|trans }}</a>
                                            {% else %}
                                            <a href="{{ slug_to_url(doctor.getSlug) }}" class="btn button" target="_blank">{{ 'ui.patient.dashboard.appointments.form.book_again'|trans }}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                    {% if pending_bookings|length > 0 %}
                        <div class="booking-group">
                            <h2>{{ 'ui.patient.dashboard.appointments.form.pending_bookings.header'|trans }}</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="doctor">{{ 'ui.patient.dashboard.appointments.form.doctor'|trans }}</th>
                                    <th class="practice">{{ 'ui.patient.dashboard.appointments.form.practice'|trans }}</th>
                                    <th class="status">{{ 'ui.patient.dashboard.appointments.form.status'|trans }}</th>
                                    <th class="date">{{ 'ui.patient.dashboard.appointments.form.date'|trans }}</th>
                                    <th class="action"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for booking in pending_bookings %}
                                    {% set doctor, location = booking.getDoctor, booking.getLocation %}
                                    <tr>
                                        <td>
                                            <a href="{{ slug_to_url(doctor.getSlug) }}" target="_blank">{{ doctor.getFullName() }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ slug_to_url(location.getSlug, 'practice') }}" target="_blank">{{ location.getName }}</a>
                                        </td>
                                        <td class="booking_status">{{ getStatusLabel(booking) }}</td>
                                        <td>{{ booking.getCreatedAt|date_format }}</td>
                                        <td>
                                        {% if isCancellable(booking) %}
                                        <a href="#" class="btn button cancel" data-booking_id="{{ booking.getId }}">{{ 'ui.patient.dashboard.appointments.form.cancel_booking'|trans }}</a>
                                        {% else %}
                                        <a href="{{ slug_to_url(doctor.getSlug) }}" class="button btn" target="_blank">{{ 'ui.patient.dashboard.appointments.form.book_again'|trans }}</a>
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                    {% if past_bookings|length > 0 %}
                        <div class="booking-group">
                            <h2>{{ 'ui.patient.dashboard.appointments.form.past_bookings.header'|trans }}</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="doctor">{{ 'ui.patient.dashboard.appointments.form.doctor'|trans }}</th>
                                    <th class="practice">{{ 'ui.patient.dashboard.appointments.form.practice'|trans }}</th>
                                    <th class="status">{{ 'ui.patient.dashboard.appointments.form.status'|trans }}</th>
                                    <th class="date">{{ 'ui.patient.dashboard.appointments.form.date'|trans }}</th>
                                    <th class="action"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for booking in past_bookings %}
                                    {% set doctor, location = booking.getDoctor, booking.getLocation %}
                                    <tr>
                                        <td>
                                            <a href="{{ slug_to_url(doctor.getSlug) }}" target="_blank">{{ doctor.getFullName() }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ slug_to_url(location.getSlug, 'practice') }}" target="_blank">{{ location.getName }}</a>
                                        </td>
                                        <td class="booking_status">{{ getStatusLabel(booking) }}</td>
                                        <td>
                                            {{ booking.getAppointmentStartAt|date_format }}
                                        </td>
                                        <td>
                                            <a href="{{ slug_to_url(doctor.getSlug) }}" class="button btn" target="_blank">{{ 'ui.patient.dashboard.appointments.form.book_this_doctor_again'|trans }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </section>

            </div>
        </div>
    </div>

{% endblock %}
