{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/dashboard.all.min.css') }}">
    <!--[if gte IE 9]><!-->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Gudea:100,300,400,700,900'>
    <!--<![endif]-->
{% endblock %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-8">
                    <a class="logo" href="{{ path('home') }}"><img src="{{ asset('images/logo/arzttermine-logo.svg') }}" alt="arzttermine logo" height="39" width="203" /></a>
                </div>

                <div class="col-md-4 navigation hidden-sm-down">
                    {% include 'navmenu_right.html.twig' %}
                </div>

            </div>
        </div>
    </header>
{% endblock %}