{% if active_route is not defined %}
    {% set active_route = '' %}
{% endif %}

<nav class="navbar navbar-light">
    <ul class="nav navbar-nav">
        <li class="nav-item{% if active_route == 'patient_account' %} active{% endif %}">
            <a class="nav-link" href="{{ path('patient_account') }}">{{ 'ui.patient.dashboard.nav.profile'|trans }}</a>
        </li>
        <li class="nav-item{% if active_route == 'patient_appointments' %} active{% endif %}">
            <a class="nav-link" href="{{ path('patient_appointments') }}">{{ 'ui.patient.dashboard.nav.appointments'|trans }}</a>
        </li>
    </ul>
</nav>