{% extends 'base.html.twig' %}

{% set isSales = true %}
{% set hasFullHeader = false %}
{% set minimalFooter = true %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>
                {{ 'ui.patient.register.header'|trans }}
            </h1>
        </div>
        <div class="col-sm-6 text-right m-b-1 text-right-except-mobile">
            <span>{{'ui.doctor.dashboard.register.already_registered'|trans}}</span> <a href="{{ path('login') }}">{{'ui.doctor.dashboard.register.login_here'|trans}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ form_start(form, {
                'attr': { 'class': 'sidebar-box colored' },
                'action': path('patient_register'),
                'id': 'register-form',
                'enctype': 'application/x-www-form-urlencoded'
            }) }}
                {{ form_row(form.patient.gender) }}
                {{ form_row(form.patient.first_name) }}
                {{ form_row(form.patient.last_name) }}
                {{ form_row(form.user.email) }}
                {{ form_row(form.patient.phone) }}
                {{ form_row(form.user.password) }}
                {{ form_row(form.patient.agb) }}
                <fieldset class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">{{ 'ui.form.button_submit'|trans }} <span class="fa fa-check-circle"></span></button>
                </fieldset>
            {{ form_end(form) }}

        </div>
        <div class="col-sm-6">
            <div class="highlight-bar table-for-vertical-alignment arrow-is-left">
                <div class="table-row">
                    <div class="table-cell">
                        <strong>{{ 'ui.patient.register.info_block.header_first'|trans }}</strong>
                    </div>
                </div>
            </div>
            {% include "questions-box.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}
