div#__bs_notify__
  display: none !important

body.debug:before
  position: fixed
  bottom: 36px
  left: 0
  z-index: 200
  padding: 0.25rem 1rem
  color: white

  +lg-up
    content: 'XL'
    background: darken($pink, 0%)
  +lg-down
    content: 'LG'
    background: darken($pink, 4%)
  +md-down
    content: 'MD'
    background: darken($pink, 8%)
  +sm-down
    content: 'SM'
    background: darken($pink, 12%)
  +xs-down
    content: 'XS'
    background: darken($pink, 16%)

.❤
  position: fixed
  bottom: 0
  left: 4rem
  z-index: 100

  +sm-down
    position: relative
    width: 60%

  a
    font-size: 0.75rem
    background: $pink
    padding: 0.2rem 0.5rem
    color: white
    border-right: 1px solid darken($pink, 5%)
    display: inline-block
    -webkit-font-smoothing: auto
    text-transform: capitalize
    +sm-down
      display: block

  a:target
    background: darken($pink, 15%)
    outline: none

    &:hover,
    &:focus
      text-decoration: none
