label
  font-weight: 700
  margin-right: .5rem

  .checkbox &
    font-weight: inherit

  &[class^='col-']
    padding-top: 0

    \+[class^='col-']
      .form-control-static
        padding-top: 0

  &.is-decent
    font-weight: 300

.checkbox-list-in-3-rows
  .inner
    padding: 1rem 0
    +xs-up
      +css-columns(2)
    +sm-up
      +css-columns(3)
    +lg-up
      +css-columns(4)

input[type=radio],
input[type=checkbox]
  margin-right: 0.4rem

.radio,
.checkbox

  .help-block
    margin-left: 1.25rem

  .form-inline &
    margin-right: 1rem

.has-error

  label,
  .help-block
    color: $red

  input
    border-color: $red

  .form-control
    background: $almost-white

  &:after
    border-color: $red
    color: $red
    content: attr(data-error-message)
    display: block
    font-family: $font-family-sans-serif
    font-size: 0.875rem
    font-weight: 700
    line-height: 1.125rem

// is this caused by a bug in bootstrap??
[class^=col-].form-control-label
  padding-left: $grid-gutter-width-base/2
  padding-right: $grid-gutter-width-base/2
