$map-icon-height: 40px
$map-icon-width:  28px

.icon

  &:not(.icon-right)
    margin-right: 0.5rem

  &.icon-right
    margin-left: 0.5rem

  .btn &
    font-size: 0.75rem

  &.icon-map
    font-size: $map-icon-height/1.35
    line-height: $map-icon-height/1.75
    background: image-url('/images/application/map-marker.svg') no-repeat 0 0
    background-size: $map-icon-width $map-icon-height
    display: inline-block
    vertical-align: top
    width: $map-icon-width
    height: $map-icon-height
    text-align: center

    .number
      color: white
      font-size: 0.5em
      font-family: Arial

    \+*
      display: inline-block
      vertical-align: middle
      width: calc(100% - #{$map-icon-width} - 1rem)

      .rating-star
        vertical-align: top
        margin-top: -0.2rem

  &.icon-back
    font-size: 2rem
    color: $medium-grey
    cursor: pointer

  &.icon-positive
    color: $green

  &.icon-decent
    color: $medium-grey

  &.icon-facebook
    color: $facebook

  &.icon-twitter
    color: $twitter

  &.icon-svg
    background-repeat: no-repeat
    background-position: 0 0
    background-size: contain
    height: 25px
    width: 25px
    display: inline-block
    vertical-align: middle

  &.icon-calendar
    background-image: image-url('/images/icon/icon-calendar.svg')

  &.icon-platform
    background-image: image-url('/images/icon/icon-platform.svg')

.fa-stack
  font-size: 0.8rem

  &.icon-positive
    .fa:first-child
      color: $green
    .fa:last-child
      color: white

  &.icon-negative
    .fa:first-child
      color: $red
    .fa:last-child
      color: white

  &.icon-danger
    .fa:first-child
      color: $yellow
    .fa:last-child
      color: white
