img.fullsize-image
  max-width: 100%
  height: auto

img.halfsize-image
  max-width: 50%
  height: auto

img.thirdsize-image
  max-width: 33%
  height: auto

img.with-border
  border: 1px solid $almost-white

img
  +xs-down
    max-width: 100%
    height: auto

img.illustration-image
  border-radius: $border-radius-lg
  margin-bottom: 1rem
