@mixin css-columns($count: 3, $gap: 1rem)

  -webkit-column-count: $count
  -moz-column-count:    $count
  column-count:         $count

  -webkit-column-gap:   $gap
  -moz-column-gap:      $gap
  column-gap:           $gap

  .checkbox
    display: block

@mixin antialiase-font($antialiase: true)
  @if $antialiase  == true
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
  @else
    -webkit-font-smoothing: auto
    -moz-osx-font-smoothing: auto

@mixin font-lato
  font-family: Lato, Tahoma, sans-serif

@function image-url($img)
  @return url($asset-version + $img)
