body
  -webkit-font-smoothing: antialiased

h1
  color: $blue
  padding-top: 1rem
  overflow: hidden

  +xs-up
    margin: 2rem 0

  +xs-down
    margin: 1rem 0 2rem 0

h2
  color: $blue

h3
  font-size: 1rem
  line-height: 1rem
  font-weight: 700

h4
  font-size: 1.2rem
  font-weight: 700

  &.colored
    color: $blue
