body
  +antialiase-font

h1
  +font-lato
  color: $blue
  font-size:   (30rem / $font-size-root-value)
  line-height: (36rem / $font-size-root-value)
  font-weight: 700
  margin-bottom: 1rem

h2
  +font-lato
  font-size:   (30rem / $font-size-root-value)
  line-height: (34rem / $font-size-root-value)
  margin-bottom: 1rem
  font-weight: 700

  &:not(.is-prominent)
    color: $blue
    font-weight: 300
    padding-bottom: 1rem
    border-bottom: 1px solid $very-light-grey

h3
  +font-lato
  font-size:   (18rem / $font-size-root-value)
  line-height: (20rem / $font-size-root-value)
  font-weight: 700

h4
  font-size:   (16rem / $font-size-root-value)
  line-height: (18rem / $font-size-root-value)
  font-weight: 900

h5
  font-weight: 300
  font-size: 1rem
  line-height: 1.5rem

  em
    color: $blue
    font-style: normal

.large-text
  font-size: 1.5rem

.inline-block
  display: inline-block

table h4
  margin: 0
