.table-responsive
  +xs-up
    overflow: visible
  +xs-down
    height: 75vh
    overflow: scroll
    border: 1px solid $medium-grey

.table-with-background
  background: $almost-white
  td
    border-color: white

.table-top-aligned-with-nonbreaking-labels

  td
    vertical-align: top
    line-height: 1.5rem
    padding-bottom: 0.5rem

    >*
      font-size: inherit
      line-height: inherit

  td:first-child
    white-space: nowrap

.no-table-when-mobile
  +sm-down
    margin: 0 !important

    &,
    th,
    tbody,
    tbody>tr,
    tbody>tr>td
      display: block
      border: 0
      padding: 0
      width: 100%

    >tbody>tr
      padding: 10px 0
      position: relative

    thead
      display: none

    td:empty
      display: none

    td.p-l
      padding-left: 0 !important

    label
      margin-bottom: 0

    .form-group
      margin-bottom: 0.25rem

    &.with-border
      border-width: 1px 0 0 0
      border-color: $very-light-grey
      border-style: solid

      .table-responsive &
        border-top-width: 0

      >tbody>tr
        border-bottom: 1px solid $very-light-grey
        margin-bottom: 0.5rem
        padding: 0.5rem

        &:first-child
          padding-top: 1rem

          .remove-row
            top: 0.5rem

    &.with-borders-around-rows
      >tbody>tr
        margin-bottom: 5px
        background: white

    .remove-row
      position: absolute
      top: 0
      right: 0.5rem

.table-for-vertical-alignment
  display: table
  width: 100%

  .table-row
    display: table-row
    height: 100%

  .table-cell
    display: table-cell
    vertical-align: middle
