hr.vertical-space
  border-width: 0
  padding: 2rem 0

  &.only-a-bit
    padding: 1rem 0

.content-wrapper
  +sm-up
    margin-top: 0.5rem
  +sm-down
    margin-top: 1rem

hr.blue-border
  border-top-style: solid
  border-top-color: $blue
  border-width: 0.2rem 0 0 0
  margin-bottom: 2rem

header.is-fixed + .content-wrapper
  +sm-up
    margin-top: 3.5rem

.text-right-except-mobile

  +sm-down
    text-align: left

@mixin pull-left-sm-up
  +sm-up
    float: left

@mixin pull-right-xs-up
  +xs-up
    float: right

@mixin pull-right-sm-up
  +sm-up
    float: right

@mixin pull-right-md-up
  +md-up
    float: right

@mixin pull-right-lg-up
  +lg-up
    float: right

.pull-right-xs-up
  +pull-right-xs-up

.pull-right-sm-up
  +pull-right-sm-up

.pull-right-md-up
  +pull-right-md-up

.pull-right-lg-up
  +pull-right-lg-up
