@import "compass";
@import "compass/css3";

$total-columns  : 12;
$column-width   : 3.8em;
$gutter-width   : 1.3em;
$grid-padding   : 0;

$mobile         : 12 30em;
$tablet         : 30em 12 48em;
$computer       : 48em 12;

$mobile-tablet  : 12 36em;

$mobile-tablet-2: 12 64em;

@import "modules/susy";

// TODO: find way how to encode these chars in the custom font to real characters
// that are semantically similar in some safe font
$flaticon-left-arrow        : "\e000";
$flaticon-map-pin           : "\e606";
$flaticon-map-pin-hole      : "\e609";
$flaticon-phone             : "\e003";
$flaticon-right-arrow       : "\e004";
$flaticon-doctor-bag        : "\e607";
$flaticon-award             : "\e608";
$flaticon-lock              : "\e60a";
$flaticon-checkmark         : "\e60b";
$flaticon-pencil            : "\e60c";
$flaticon-envelope          : "\e60d";
$flaticon-barchart          : "\e60e";
$flaticon-checkmark-full    : "\e60f";
$flaticon-bubble            : "\e610";
$flaticon-star-half         : "\e618";
$flaticon-star-half-2       : "\e614";
$flaticon-star              : "\e615";
$flaticon-star-empty        : "\e616";
$flaticon-star-half-full    : "\e617";


/* RESPONSIVE COLUMNS */

@mixin responsive-columns($mobile-cols, $tablet-cols, $computer-cols) {
  @include at-breakpoint($mobile) {
    @include span-columns($mobile-cols);
  }

  @include at-breakpoint($tablet) {
    @include span-columns($tablet-cols);
  }

  @include at-breakpoint($computer) {
    @include span-columns($computer-cols);
  }
}

/* END - RESPONSIVE COLUMNS */


/* REM SUPPORT */

@function strip-unit($num) {
  @if type-of($num) == string {
    @return $num;
  }
  @else {
    @return $num / ($num * 0 + 1);
  }
}

@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    @if type-of($value) == string {
      $pxValues: #{$pxValues + $value};
    }
    @else {
      $pxValues: #{$pxValues + $value*16}px;
    }

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    @if type-of($value) == string {
      $remValues: #{$remValues + $value};
    }
    @else {
      $remValues: #{$remValues + $value}rem;
    }

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}

/* END - REM SUPPORT */


@mixin gradient-separator {
  &:before {
    @include rem-fallback(margin-bottom, 4);
    content: " ";
    display: block;
    height: 1px;
    @include background(linear-gradient(left, 
                                        $color-at-white 0%, 
                                        $color-at-grey 40%,  
                                        $color-at-grey 60%, 
                                        $color-at-white 100%));
  }
}


// Support for IE gradients
@mixin at-gradient($params...) {
  @include background(linear-gradient($params...));
  background: -ms-linear-gradient($params...);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
