@import "base";

%cta-button {
  cursor: pointer;
  color: $color-at-white;
  @include inline-block;
  padding: 0.2em 1em;
  @include font-gudea;
  @include rem-fallback(font-size, 1);

  &.large {
    @include font16;
    font-weight: 700;
    @include rem-fallback(padding, 0, 2);
    @include rem-fallback(height, 2.5);
  }

  text-align: center;
  
  @include border-radius(5px);
  @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1));

  &:active {
    box-shadow: none;
  }
}

@mixin flat-button($btn-color, $is-large:"") {
  @extend %cta-button;

  @if $is-large == "large" {
    @include font16;
    font-weight: 700;
    @include rem-fallback(padding, 0, 1);
    @include rem-fallback(height, 2.5);
    @include rem-fallback(line-height, 1);
  }

  border: 1px solid $btn-color;
  border-radius: 2px;
  background: $btn-color;

  &:hover {
    background: lighten($btn-color, 10%);
  }
}

