$color-at-white                 : #FFFFFF;
$color-at-blue                  : #0090D6;
$color-at-blue-light            : #F2F9FD;
$color-at-orange                : #F5780A;
$color-at-grey-darker           : #313131;
$color-at-grey-dark             : #666666;
$color-at-grey-half             : #999999;
$color-at-grey                  : #CCCCCC;
$color-at-grey-light            : #F5F5F5;
$color-at-white-transparent     : transparentize(white, 0.2);
$color-at-gold                  : #FFD700;
