@mixin font-gudea {
  font-family: Gudea, Arial, sans-serif;
}

@mixin font-lato {
  font-family: Lato, Tahoma, sans-serif;
}

@mixin font-serif {
  font-family: "Times New Roman", serif;
}

@mixin font10 {
  @include rem-fallback(font-size, 0.625);
  @include rem-fallback(line-height, 1);
}
%font10 { @include font10; }

@mixin font12 {
  @include rem-fallback(font-size, 0.75);
  @include rem-fallback(line-height, 1);
}
%font12 { @include font12; }

@mixin font14 {
  @include rem-fallback(font-size, 0.875);
  @include rem-fallback(line-height, 1.125);
}
%font14 { @include font14; }

@mixin font16 {
  @include rem-fallback(font-size, 1);
  @include rem-fallback(line-height, 1.5);
}
%font16 { @include font16; }

@mixin font18 {
  @include rem-fallback(font-size, 1.125);
  @include rem-fallback(line-height, 1.5);
}
%font18 { @include font18; }

@mixin font24 {
  @include rem-fallback(font-size, 1.4);
  @include rem-fallback(line-height, 2);
}
%font24 { @include font24; }

@mixin font30 {
  @include rem-fallback(font-size, 1.875);
  @include rem-fallback(line-height, 2.125);
}
%font30 { @include font30; }

@mixin font32 {
  @include rem-fallback(font-size, 2);
  @include rem-fallback(line-height, 2.125);
}
%font32 { @include font32; }