{% if google.tagmanager.active %}
<script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        "page": "/",
        "source_platform": "{{ source_platform|default('web') }}"
    });
</script>
{% endif %}