<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="width: 100%; height: 100%">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="width: 100%; height: 100%" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color: #e5e5e5; background-image: -webkit-linear-gradient(bottom, #e8e8e8 0%, #fff 100%); background-image: -moz-linear-gradient(bottom, #e8e8e8 0%, #fff 100%); background-image: -ms-linear-gradient(bottom, #e8e8e8 0%, #fff 100%); background-image: -o-linear-gradient(bottom, #e8e8e8 0%, #fff 100%); ">
    <tr>
        <td>
            <table style="margin: 0 auto 20px auto;" border="0" cellpadding="0" cellspacing="0" width="600">
                <tr>
                    <td valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" height="114">
                            <tr>
                                <td width="250">
                                    <img src="{{ absolute_url('/images/logo/logo-doctorio-mail-300px.png') }}" width="300" height="58" alt="{{ application.name }}" style="-ms-interpolation-mode:bicubic;">
                                </td>
                                <td align="right" width="350" style="color:#313131;font-size:15px;font-family:Helvetica,Helvetica,Arial,sans-serif;" valign="middle"></td>
                            </tr>
                        </table>
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="font-family: Helvetica; color: #555; font-size: 14px;padding:35px; border: 1px solid #ccc; /* stroke */border-radius: 9px 9px 0px 0px; -webkit-border-radius: 9px 9px 0px 0px;-moz-border-radius: 9px 9px 0px 0px; background-clip: padding-box; background-color: #fff; box-shadow: 0 0 5px rgba(0,0,0,.1), inset 0 0 0 1px #fff; ">
                            <tr>
                                <td valign="top">
                                    {% block content %}{% endblock %}

                                    <p>Un saludo,<br/>
                                        El Equipo de {{ application.name }}</p>

                                    <p>Tel: {{ application.phone.central }}<br/>
                                        Email: {{ application.email.central }}<br/>
                                        {{ application.name }}</p>

                                    <table cellpadding="0" cellspacing="0" width="100%" height="170">
                                        <tr>
                                            <td valign="middle" style="width: 280px; font-family: Helvetica;font-size: 14px; color: #313131;">
                                                <br/><br/>

                                                <div>
                                                    <a href="{{ url('contact') }}" style="font-weight:bold; color: #0090d6; font-family: Helvetica;font-size: 14px;text-decoration:none">
                                                        {{ 'word.patient_support'|trans }} - {{ application.name }}
                                                    </a>
                                                </div>
                                                <span>
                                                  <a href="mailto:{{ application.email.support|raw }}" style="font-family: Helvetica;font-size: 14px;font-weight:bold; color: #0090d6;text-decoration:none">{{ application.email.support }}</a>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table width="600" height="64" style="border: 1px solid #ccc; border-radius: 0px 0px  9px 9px; -webkit-border-radius: 0px 0px  9px 9px; -moz-border-radius: 0px 0px  9px 9px; background-clip: padding-box;  box-shadow: 0 0 5px rgba(0,0,0,.1), inset 0 0 0 1px #fff; background-color: #f1f1f1; color: #5395a7; font-family: Helvetica;font-size: 12px;text-shadow: 0 1px 3px #fff;">
                            <tr>
                                <td>
                                    <table style="padding-left:15px;" height="64">
                                        <tr style="color: #0090d6; font-family: Helvetica;font-size: 12px;text-shadow: 0 1px 3px #fff;">
                                            <td valign="middle">
                                                <a href="{{ url('contact') }}" style="color: #0090d6; font-family: Helvetica;font-size: 12px;text-shadow: 0 1px 3px #fff;text-decoration:none">
                                                    {{ 'ui.contact.title'|trans }}
                                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <td valign="middle">
                                                <a href="{{ url('page_imprint') }}" style="color: #0090d6; font-family: Helvetica;font-size: 12px;text-shadow: 0 1px 3px #fff;text-decoration:none">
                                                    {{ 'ui.page.imprint.title'|trans }}
                                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <td valign="middle">
                                                <a href="{{ url('page_data_security') }}" style="color: #0090d6; font-family: Helvetica;font-size: 12px;text-shadow: 0 1px 3px #fff;text-decoration:none">
                                                    {{ 'ui.page.data_security.title'|trans }}
                                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <td valign="middle">
                                                <a href="{{ url('page_terms_of_use') }}" style="color: #0090d6; font-family: Helvetica;font-size: 12px;text-shadow: 0 1px 3px #fff;text-decoration:none">
                                                    {{ 'ui.page.terms_of_use.title'|trans }}
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>