{% extends '::base.html.twig' %}

{% block content %}
<div class="container has-margin-to-header" itemscope itemtype="http://schema.org/Physician">
    <div class="row">
        {{ block('breadcrumbs') }}
        <div class="col-sm-12">
            <hr class="blue-border" />
            <div class="row m-b-1">
                <div class="col-sm-2">
                    <img class="fullsize-image" itemprop="image" itemscope itemtype="http://schema.org/MediaObject" src="{{ getProfileAssetUrl(doctor.getProfileAssetId, doctor.getProfileAssetFilename, constant('ArzttermineBundle\\Media\\Asset::GFX_SIZE_MEDIUM_PORTRAIT'), doctor.getGender) }}" alt="{{ doctor.getFullName() }} {{ doctor.getMedicalSpecialtyIds|join(', ') }}">
                </div>
                <div class="col-sm-6 m-b-1">
                    <div class="profile-header">
                        <h1 itemprop="name">{{ doctor.getFullName() }}</h1>
                        {% if doctor.getPhone is not empty %}
                        <div class="phone" itemprop="telephone">
                            <a href="tel:{{ doctor.getPhone }}"><span class="fa fa-phone"></span> <span>{{ doctor.getPhone }}</span></a>
                        </div>
                        {% endif %}
                    </div>
                    <table class="table-top-aligned-with-nonbreaking-labels no-table-when-mobile">
                        {% if doctor.getPreferredMedicalSpecialtyText is not empty or (doctor.getMedicalSpecialtyIds is not empty and doctor.getMedicalSpecialtyIds|length > 0) %}
                        <tr itemscope itemtype="http://schema.org/Physician">
                            <td>
                                <h4>{{ 'ui.doctor.profile.specialties'|trans }}</h4>
                            </td>
                            <td class="p-l-1" itemprop="medicalSpecialty">
                                {% if doctor.getPreferredMedicalSpecialtyText is not empty %}
                                    {{ doctor.getPreferredMedicalSpecialtyText }}
                                {% else %}
                                    {{ getMedicalSpecialtyText(doctor.getMedicalSpecialtyIds, false, ', ') }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if doctor.getRatingAverage %}
                        <tr>
                            <td>
                                <h4>{{ 'ui.doctor.profile.rating1'|trans }}</h4>
                            </td>
                            <td class="rating-star p-l-1">
                                {% include 'star-rating.html.twig' with { 'rating': doctor.getRating1, 'additional_classes': 'm-l-0' } %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>{{ 'ui.doctor.profile.rating2'|trans }}</h4>
                            </td>
                            <td class="rating-star p-l-1">
                                {% include 'star-rating.html.twig' with { 'rating': doctor.getRating2, 'additional_classes': 'm-l-0' } %}
                            </td>
                        </tr>
                        <tr itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                            <td>
                                <h4>{{ 'ui.doctor.profile.rating3'|trans }}</h4>
                            </td>
                            <td class="rating-star p-l-1">
                                <meta itemprop="reviewcount" content="{{ doctor.getReviews|length }}"/>
                                {% include 'star-rating.html.twig' with { 'rating': doctor.getRating3, 'additional_classes': 'm-l-0' } %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
                {% if doctor.getLocations|length > 0 %}
                <div class="col-sm-4">
                    <div id="search-map" class="profile-map"></div>
                </div>
                {% endif %}
            </div>

            {% if providers|length > 0 %}
            {# SEARCH RESULTS #}
            <div class="result-list doctor-profile" id="providers">
                <h2>{{ 'ui.doctor.profile.calendar.header'|trans }}</h2>

                {% include ':search:searchresult-template.html.twig' %}
                <div class="footer"></div>
            </div>
            {# END - SEARCH RESULTS #}
            {% endif %}

            <h2>{{ 'ui.doctor.profile.additional.header'|trans }}</h2>

            {% if has_tt_pricing %}
            <div class="row m-y-2">
                <div class="col-sm-3">
                    <h5><em>{{ 'ui.doctor.prices'|trans }}</em></h5>
                </div>
                <div class="col-sm-9">
                    {% for ms, tts in pricing %}
                    <span>{{ medical_specialties[ms].getName }}</span>
                    <table class="table table-with-background">
                        {% for tt in tts %}
                        <tr>
                            <td>{{ tt.getName }}</td>
                            <td class="text-right">
                                {% if tt.hasPrice %}
                                    {{ tt.getPrice|localizedcurrency('EUR') }}
                                {% else %}
                                    <a href="tel:{{ doctor.getPhone }}">&nbsp;{{ 'ui.doctor.profile.prices.ask_for_price'|trans }}</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if doctor.getDocinfo1 %}
            <div class="row m-y-2" itemscope itemtype="http://schema.org/Physician">
                <div class="col-sm-3">
                    <h5><em>{{ 'ui.doctor.info1'|trans }}</em></h5>
                </div>
                <div class="col-sm-9" itemprop="description">
                    <p>{{ doctor.getDocinfo1|nl2br }}</p>
                </div>
            </div>
            {% endif %}

            {% if doctor.getDocinfo5 %}
                <div class="row m-y-2" itemscope itemtype="http://schema.org/Physician">
                    <div class="col-sm-3">
                        <h5><em>{{ 'ui.doctor.info5'|trans }}</em></h5>
                    </div>
                    <div class="col-sm-9" itemprop="description">
                        <p>{{ doctor.getDocinfo5|nl2br }}</p>
                    </div>
                </div>
            {% endif %}

            {% if doctor.getDocinfo6 %}
                <div class="row m-y-2" itemscope itemtype="http://schema.org/Physician">
                    <div class="col-sm-3">
                        <h5><em>{{ 'ui.doctor.info6'|trans }}</em></h5>
                    </div>
                    <div class="col-sm-9" itemprop="description">
                        <p>{{ doctor.getDocinfo6|nl2br }}</p>
                    </div>
                </div>
            {% endif %}

            {% if doctor.getDocinfo3 %}
                <div class="row m-y-2" itemscope itemtype="http://schema.org/Physician">
                    <div class="col-sm-3">
                        <h5><em>{{ 'ui.doctor.info3'|trans }}</em></h5>
                    </div>
                    <div class="col-sm-9" itemprop="description">
                        <p>{{ doctor.getDocinfo3|nl2br }}</p>
                    </div>
                </div>
            {% endif %}

            {% if doctor.getDocinfo2 %}
                <div class="row m-y-2" itemscope itemtype="http://schema.org/Physician">
                    <div class="col-sm-3">
                        <h5><em>{{ 'ui.doctor.info2'|trans }}</em></h5>
                    </div>
                    <div class="col-sm-9" itemprop="description">
                        <p>{{ doctor.getDocinfo2|nl2br }}</p>
                    </div>
                </div>
            {% endif %}

            {% if doctor.getDocinfo4 %}
                <div class="row m-y-2" itemscope itemtype="http://schema.org/Physician">
                    <div class="col-sm-3">
                        <h5><em>{{ 'ui.doctor.info4'|trans }}</em></h5>
                    </div>
                    <div class="col-sm-9" itemprop="description">
                        <p>{{ doctor.getDocinfo4|nl2br }}</p>
                    </div>
                </div>
            {% endif %}

            {% if doctor.getInfoSeo %}
                <div class="row m-y-2" itemscope itemtype="http://schema.org/Physician">
                    <div class="col-sm-3">
                        <h5><em>{{ 'ui.doctor.infoseo'|trans }}</em></h5>
                    </div>
                    <div class="col-sm-9" itemprop="description">
                        <p>{{ doctor.getInfoSeo|nl2br }}</p>
                    </div>
                </div>
            {% endif %}

            {% if not doctor.hasContract %}
                <div class="row m-y-2" itemscope itemtype="http://schema.org/Physician">
                    <div class="offset-sm-3 col-sm-9" itemprop="description">
                        <p>{{ 'ui.doctor.profile.additional.no_contract'|trans }}</p>
                    </div>
                </div>
            {% endif %}

            {% if doctor.getReviews|length %}
                {% set reviews = doctor.getReviews %}
            <div class="row m-y-2">
                <div class="col-sm-3">
                    <h5><em>{{ 'ui.doctor.profile.additional.ratings'|trans }}</em></h5>
                </div>
                <div class="col-sm-9">
                {% for review in reviews %}
                    <div class="rating" itemscope itemtype="http://schema.org/Review">
                        <div class="rating-sender">
                            {{ review.getRatedAt.format('c')|localizeddate('short', 'short') }}
                            {% if isAnonymous(review) %}
                                {{ 'ui.doctor.profile.by_validated_patient'|trans }}
                            {% else %}
                                {{ 'ui.doctor.profile.by'|trans }}
                                <span class="name" itemprop="author">{{ review.getPatientName }}</span>
                                ({{ 'ui.doctor.profile.validated_patient'|trans }})
                            {% endif %}
                        </div>
                        <div class="rating-content">

                            <div class="rating-star is-inline multiple-ratings-inline">
                                <h4 class="rating-name" itemprop="keyword">
                                    {{ 'ui.doctor.profile.rating1'|trans }}
                                </h4>
                                {% include 'star-rating.html.twig' with { 'rating': review.getRating1 } %}
                            </div>

                            <div class="rating-star is-inline multiple-ratings-inline">
                                <h4 class="rating-name" itemprop="keyword">
                                    {{ 'ui.doctor.profile.rating2'|trans }}
                                </h4>
                                {% include 'star-rating.html.twig' with { 'rating': review.getRating2 } %}
                            </div>

                            <div class="rating-star is-inline multiple-ratings-inline">
                                <h4 class="rating-name" itemprop="keyword">
                                    {{ 'ui.doctor.profile.rating3'|trans }}
                                </h4>
                                {% include 'star-rating.html.twig' with { 'rating': review.getRating3 } %}
                            </div>

                            <blockquote itemprop="reviewBody">
                                <p>{{ review.getRateText|nl2br }}</p>
                            </blockquote>

                            {% if review.getComment %}
                            <div class="rating-comment">
                                <blockquote>
                                    <p>{{ review.getComment|nl2br }}</p>
                                </blockquote>
                                <p class="quote-sender">
                                    {{ doctor.getFullName() }} &bull; {{ review.getApprovedAt|date_format('weekday_datetime_text') }}
                                </p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google.maps.api.key }}"></script>
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/searchmap.min.js') }}"></script>

    <script type="text/javascript">
        var searchData = {{ data|raw }};
    </script>
{% endblock %}
