{% extends '::base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>{{ 'ui.review_doctor.header'|trans }}</h2>

                <div class="row">
                    <div class="col-sm-4">
                        <img class="fullsize-image" src="{{ getProfileAssetUrl(doctor.getProfileAssetId, doctor.getProfileAssetFilename, constant('ArzttermineBundle\\Media\\Asset::GFX_SIZE_MEDIUM_PORTRAIT_CROPPED')) }}" alt="{{ doctor.getFullName() }}"/>
                    </div>
                    <div class="col-sm-8">
                        <p class="text-uppercase">
                            {{ 'ui.review_doctor.address'|trans }}
                        </p>

                        <h3>{{ doctor.getFullName() }}</h3>

                        <p>
                            <strong>{{ location.getName }}</strong><br/>{{ location.getStreet }}
                            <br/>{{ location.getCity }} {{ location.getZip }}
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-10 mt-3">
                        <div class="row">
                            <div class="col-xs-2 text-xs-center">
                                <span class="fa fa-commenting fa-2x icon icon-decent"></span>
                            </div>
                            <div class="col-xs-10">
                                <p>
                                    {{ 'ui.review_doctor.comfort_elements.review'|trans }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 text-xs-center">
                                <span class="fa fa-lock fa-3x icon icon-decent"></span>
                            </div>
                            <div class="col-xs-10">
                                <p>
                                    {{ 'ui.review_doctor.comfort_elements.data_protection'|trans|raw }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h2>{{ 'ui.review_doctor.your_experiences'|trans }}</h2>

                {{ form_start(form, {
                    'attr': {
                        'class': 'sidebar-box colored'
                    },
                    'enctype': 'application/x-www-form-urlencoded'
                }) }}
                    {{ form_row(form.patient_name) }}
                    {{ form_row(form.rate_text) }}

                    <fieldset class="form-group">
                        {{ form_label(form.rating_1) }}
                        <div class="rating-star editable">
                            <input id="radio-1-1" name="review[rating_1]" type="radio" value="1" /><label for="radio-1-1">i</label>
                            <input id="radio-1-2" name="review[rating_1]" type="radio" value="2"/><label for="radio-1-2">i</label>
                            <input id="radio-1-3" name="review[rating_1]" type="radio" value="3"/><label for="radio-1-3">i</label>
                            <input id="radio-1-4" name="review[rating_1]" type="radio" value="4"/><label for="radio-1-4">i</label>
                            <input id="radio-1-5" name="review[rating_1]" type="radio" value="5"/><label for="radio-1-5">i</label>
                        </div>
                        <p>
                            <em>{{ 'ui.review_doctor.form.rating_1.description'|trans }}</em>
                        </p>

                        {{ form_label(form.rating_2) }}
                        <div class="rating-star editable">
                            <input id="radio-2-1" name="review[rating_2]" type="radio" value="1"/><label for="radio-2-1">i</label>
                            <input id="radio-2-2" name="review[rating_2]" type="radio" value="2"/><label for="radio-2-2">i</label>
                            <input id="radio-2-3" name="review[rating_2]" type="radio" value="3"/><label for="radio-2-3">i</label>
                            <input id="radio-2-4" name="review[rating_2]" type="radio" value="4"/><label for="radio-2-4">i</label>
                            <input id="radio-2-5" name="review[rating_2]" type="radio" value="5"/><label for="radio-2-5">i</label>
                        </div>
                        <p>
                            <em>{{ 'ui.review_doctor.form.rating_2.description'|trans }}</em>
                        </p>

                        {{ form_label(form.rating_3) }}
                        <div class="rating-star editable">
                            <input id="radio-3-1" name="review[rating_3]" type="radio" value="1"/><label for="radio-3-1">i</label>
                            <input id="radio-3-2" name="review[rating_3]" type="radio" value="2"/><label for="radio-3-2">i</label>
                            <input id="radio-3-3" name="review[rating_3]" type="radio" value="3"/><label for="radio-3-3">i</label>
                            <input id="radio-3-4" name="review[rating_3]" type="radio" value="4"/><label for="radio-3-4">i</label>
                            <input id="radio-3-5" name="review[rating_3]" type="radio" value="5"/><label for="radio-3-5">i</label>
                        </div>
                        <p>
                            <em>{{ 'ui.review_doctor.form.rating_3.description'|trans }}</em>
                        </p>

                        {% do form.rating_1.setRendered %}
                        {% do form.rating_2.setRendered %}
                        {% do form.rating_3.setRendered %}

                        <button type="submit" class="btn btn-primary pull-right">{{ 'ui.review_doctor.form.button_submit'|trans }} <span class="fa fa-check-circle"></span></button>
                    </fieldset>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
