{% extends 'base.html.twig' %}

{% block content %}
<div class="container m-y-lg">
    <div class="row m-y-3">
        <div class="col-sm-2 hidden-xs-down">
            <img class="fullsize-image" src="/images/page/404/error_ico.png" />
        </div>
        <div class="col-sm-9 offset-sm-1">
            {{ 'ui.404.message'|trans|raw }}
        </div>
    </div>
</div>
{% endblock %}