{% extends 'base.html.twig' %}

{% block content %}
<div class="container has-margin-to-header">
    <div class="row">
        <div class="col-sm-3">
            {% include "static/navi.html.twig" with {'route_slug': 'page_data_security'} %}
        </div>
        <div class="col-sm-9">
            <h1>Pol&iacute;tica de Protecci&oacute;n de Datos</h1>
            <p>Con esta pol&iacute;tica de protecci&oacute;n de datos desea informarle la docbiz UG (limitada), Rosenthaler Str 51, 10178 Berlin - de aqu&iacute; en adelante "docbiz" - , cuales datos se recogen y para cual prop&oacute;sito se los utiliza durante la visita y el uso del sitio por usted y {{ app.request.getSchemeAndHttpHost() }}.</p>

            <h5>&iquest;A que se refiere esta Pol&iacute;tica de Protecci&oacute;n de Datos?</h5>
            <p>Esta declaraci&oacute;n regula exclusivamente la recopilaci&oacute;n y el uso de sus datos por docbiz. En el caso de que usted est&aacute; tomando los servicios de terceros, se aplican las pol&iacute;ticas de </p>
            <p>de dichos terceros. docbiz no verifica las pol&iacute;ticas de protecci&oacute;n de datos de terceros.</p>

            <h5>&iquest;Qui&eacute;n es el responsable?</h5>
            <p>Responsable de acuerdo con la Ley Federal de Protecci&oacute;n de Datos (BDSG) es la docbiz UG (limitada),. Rosenthaler Str 51, 10178 Berl&iacute;n, representada por su gerente general Bjoern Keune.</p>

            <h5>&iquest;C&oacute;mo puedo contactar al encargado para protecci&oacute;n de datos?</h5>

            <h5>Encargado de protecci&oacute;n de datos de docbiz es:</h5>
            <p>
                Abogado Dr. Tobias Gr&auml;ber, LL.M.<br />
                Para preguntas acerca de la protecci&oacute;n de datos no dude en ponerse en contacto con nuestro encargado para protecci&oacute;n de datos.<br />
                <br />
                <strong>A el le puede contactar por correo electr&oacute;nico:</strong><br />
                <a href="mailto:tobias.graeber@de.pwc.com">tobias.graeber@de.pwc.com</a>
            </p>
            <p>
                <strong>O por correo postal:</strong><br />
                personal/confidencial<br />
                Dr. Tobias Gr&auml;ber, LL.M.<br />
                docbiz UG<br />
                Rosenthaler Str. 51<br />
                10178 Berlin
            </p>

            <h5>&iquest;Qu&eacute; datos se recoger&aacute;n y cuando se eliminar&aacute;n?</h5>
            <p>Nosotros recogemos solo los datos a lo que nos referimos en m&aacute;s detalle a continuaci&oacute;n:</p>
            <p>1. Datos del uso</p>
            <p>Como parte de la utilizaci&oacute;n de nuestro sitio web y los servicios que se ofrecen all&iacute; (por ejemplo la l&iacute;nea telef&oacute;nica) solo recogemos los datos que nos especifican activamente. Por una parte es el contenido de los mensajes y las comunicaciones que nos env&iacute;e, por otra parte toda la informaci&oacute;n que haga bajo la mediaci&oacute;n de una cita con el m&eacute;dico. Estos son en particular, apellido, nombre, n&uacute;mero de tel&eacute;fono, direcci&oacute;n de correo electr&oacute;nico, la informaci&oacute;n acerca de si usted est&aacute; asegurado legalmente o de manera privada, la informaci&oacute;n si usted ha estado en tratamiento para dicho m&eacute;dico y la indicaci&oacute;n voluntaria del tratamiento (en "datos de citas").</p>
            <p>Queremos hacer hincapi&eacute; en que la indicaci&oacute;n del tratamiento, por lo tanto debe ser voluntaria. Sin embargo, la indicaci&oacute;n facilitar&aacute; al m&eacute;dico para prepararse para la cita, por supuesto usted puede dar esta informaci&oacute;n tambi&eacute;n directamente en la cita con su m&eacute;dico.</p>
            <p>Adem&aacute;s, tomamos y guardamos las reacci&oacute;n del respectivo m&eacute;dico, si usted estaba para el tratamiento donde el m&eacute;dico y si usted ya estaba en la cita. Usamos estos datos s&oacute;lo para los prop&oacute;sitos de la contabilidad en relaci&oacute;n con el m&eacute;dico.</p>
            <p>Si no estamos obligados guardar los datos por razones jur&iacute;dicas, vamos a borrar los datos regularmente despu&eacute;s cuando la liquidaci&oacute;n con el m&eacute;dico est&aacute; completa. Esto se hace cada a&ntilde;o a m&aacute;s tardar.</p>
            <p>Si necesitamos por nuestra oferta el consentimiento de usted para la recogida de datos, procesamiento y uso (por ejemplo, para recibir boletines de noticias o para ser liberado del secreto m&eacute;dico), vamos a guardar la fecha, hora y direcci&oacute;n IP de ese consentimiento, para comprobar el comprobante legalmente requerido .</p>
            <p>2. Cookies<br /><br />Nosotros usamos para la configuraci&oacute;n en nuestro sitio as&iacute; llamado cookies. Estos son peque&ntilde;os archivos que se almacenan en su computadora y se utilizan para proteger sus p&aacute;ginas vistas y los ajustes seleccionados en la duraci&oacute;n de su visita a nuestro sitio. Los cookies creadas por nosotros borramos autom&aacute;ticamente cuando usted sale de nuestro sitio.</p>
            <p>Usted puede oponerse a la generaci&oacute;n de cookies, mediante la desactivaci&oacute;n de la configuraci&oacute;n del sistema de cookies en su navegador. Sin embargo, tenga en cuenta que los Cookies mencionados son t&eacute;cnicamente necesarios, para utilizar toda la gama de servicios de nuestro sitio. Por desactivar los cookies ya no ser&aacute; posible utilizar partes esenciales de nuestro sitio web.</p>
            <p>Tambi&eacute;n le ofrecemos al usar nuestro sitio la oportunidad enlazar mensajes individuales en Facebook, Twitter o Google +. Para eso, debe habilitar expl&iacute;citamente la funci&oacute;n. Tenga en cuenta que si utiliza estas funciones, se establecen conexiones de datos entre usted y Facebook, Twitter o Google + y pueden generarse cookies por estos proveedores. Si los datos personales se guardan o transmiten, solo est&aacute; &uacute;nicamente influenciado por los propios proveedores. Por favor, tenga en cuenta la pol&iacute;tica de protecci&oacute;n de datos del proveedor. Si usted no est&aacute; de acuerdo, favor no seleccione esas respectivas funciones .</p>
            <p>3. An&aacute;lisis de sitio web<br />En el marco de la utilizaci&oacute;n de nuestro sitio web, tambi&eacute;n identificamos para obtener informaci&oacute;n con fines estad&iacute;sticos acerca de su visita el sitio web (en adelante, "datos estad&iacute;sticos"). Esta p&aacute;gina web utiliza Google Analytics, un servicio anal&iacute;tico de web prestado por Google Inc. ("Google"). Google Analytics utiliza "Cookies", archivos de texto que se guarda en su ordenador y permiten analizar su uso del sitio web. La informaci&oacute;n que genera el cookie acerca de su uso de este sitio web por lo general se transfiere a un servidor de Google en los EE.UU. y se guarda all&iacute;. En caso de la activaci&oacute;n en forma IP an&oacute;nimo en este sitio web, su direcci&oacute;n IP se truncar&aacute; por Google pero dentro en los Estados miembros de la Uni&oacute;n Europea o de otras partes del Acuerdo sobre el Espacio Econ&oacute;mico Europeo. S&oacute;lo en casos excepcionales se tranmite la direcci&oacute;n IP completa a un servidor de Google en los EE.UU. y se trunca all&iacute;. En nombre del operador de este sitio usar&aacute; Google esta informaci&oacute;n para evaluar su uso del website, recopilando informes de la actividad del sitio web y comprobar los servicios de Internet relacionados con el operador en relaci&oacute;n con otros usos Web. Se lleva a cabo como parte de Google Analytics que su navegador env&iacute;a la direcci&oacute;n IP y no lo combina con otros datos de Google. Usted puede rechazar el almacenamiento de cookies, mediante la selecci&oacute;n de la configuraci&oacute;n apropiada de su navegador; pero avisamos que posiblemente en este caso no puede utilizar toda las funcciones de este sitio web. Tambi&eacute;n puede evitar que los datos generados por el cookie y relacionados con su uso del sitio web (incl. su direcci&oacute;n IP) a Google y el tratamiento de estos datos por parte de Google, en cuanto descarga el siguiente enlace plugin para el navegador e instalar <a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a></p>
            <p>4. Los datos t&eacute;cnicos del registro<br /><br />Adem&aacute;s, nuestros servidores almacenan los datos t&eacute;cnicos del registro, los llamados Logfiles. En estos se guarda detalles sobre el llamado de nuestra p&aacute;gina web. Aparte de la direcci&oacute;n IP se reconocen los par&aacute;metros t&eacute;cnicos de una vista de p&aacute;gina. Utilizamos esta informaci&oacute;n &uacute;nicamente para resolver cuestiones t&eacute;cnicas y para evitar cualquier ataque de hackers e incidentes similares. Los datos se almacenan hasta m&aacute;ximo 14 d&iacute;as y luego se eliminan autom&aacute;ticamente. Una inspecci&oacute;n se lleva a cabo &uacute;nicamente con el fin de evitar este tipo de incidentes. Cualquier otro uso de los datos que se ha excluido desde el punto de vista t&eacute;cnico y organizativo.</p>

            <h5>&iquest;C&oacute;mo es el proceso de los datos insertos?</h5>
            <p>Tanto los datos que ha entrado como tambi&eacute;n la informaci&oacute;n proporcionada por el m&eacute;dico a nosotos remitida facturaci&oacute;n est&aacute; almacenada solo por nosotros a servidores especialmente asegurados. Utilizamos para esto proveedores de servicios seleccionados con la certificaci&oacute;n completa. El almacenamiento de los datos en la base de datos est&aacute; cifrada en todo.</p>

            <h5>&iquest;A qui&eacute;n se pasan los datos?</h5>
            <p>Los datos de cita van al m&eacute;dico seleccionado.</p>
            <p>Por razones de seguridad se transmiten sus datos cifrados entre nosotros y el m&eacute;dico por v&iacute;a electr&oacute;nica. Si el consultorio del m&eacute;dico no est&aacute; en una posici&oacute;n t&eacute;cnica para intercambiar informaci&oacute;n con el m&eacute;dico s&oacute;lo mandamos los informaciones por tel&eacute;fono y por fax.</p>
            <p>No hay una transferencia de datos a terceros.</p>

            <h5>&iquest;C&oacute;mo se utilizan los datos?</h5>
            <p>Los datos estad&iacute;sticos se har&aacute;n an&oacute;nimos tan pronto como sea posible. Lo usaremos para mejorar a&uacute;n m&aacute;s nuestros servicios y para la comercializaci&oacute;n adecuada de nuestros servicios. No hay ninguna vinculaci&oacute;n a su persona.</p>
            <p>Los datos de cita utilizamos exclusivamente para el cumplimiento de nuestro contrato de agencia y para la facturaci&oacute;n del m&eacute;dico correspondiente. Los datos se transmiten al m&eacute;dico seleccionado. En el caso de que sea necesario cambiar la cita, nos pondremos en contacto con usted por tel&eacute;fono y hacemos una nueva cita con usted.</p>
            <p>Si se desea, se utiliza un n&uacute;mero de tel&eacute;fono m&oacute;vil, para recordarle la cita a trav&eacute;s de SMS.</p>
            <p>Si usted ha dado su consentimiento, nos pondremos en contacto a trav&eacute;s de direcci&oacute;n de correo electr&oacute;nico que le ha asignado a pedir una evaluaci&oacute;n de la cita reservada y su visita al m&eacute;dico en {{ application.name }}. Adem&aacute;s le mandemos por correo electr&oacute;nico para informarle sobre las innovaciones en {{ application.name }}, a menos que haya accecido.</p>

            <h5>&iquest;Puedo retirar mi consentimiento? &iquest;C&oacute;mo puedo borrar los datos?</h5>
            <p>Por supuesto, tiene usted la libertad en cualquier momento de revocar su consentimiento para el futuro. Por favor, ponganse para eso en contacto con nosotros:</p>
            <p>
                Docbiz UG (haftungsbeschränkt)<br />
                Rosenthaler Str. 51<br />
                10178 Berlin<br />
                Tel&eacute;fono. +49 - 30 - 609 840 210<br />
                Email. <a href="mailto:{{ application.email.central }}">{{ application.email.central }}</a>
            </p>
            <p>Despu&eacute;s de que se ponga en contacto con nosotros, borraremos con prontitud todos los datos almacenados sobre usted, que han entrado en la base de su consentimiento y no por debido a los requisitos legales,.</p>
            <p>El consentimiento para recibir boletines de noticias, tambi&eacute;n se puede retirar haciendo clic en el enlace para la anulaci&oacute;n, que encuentre en cada correo electr&oacute;nico.</p>

        </div>
    </div>
</div>
{% endblock %}