{% extends 'base.html.twig' %}

{% block content %}
<div class="container has-margin-to-header">
    <div class="row">
        <div class="col-sm-3">
            {% include "static/navi.html.twig" with {'route_slug': 'page_imprint'} %}
        </div>
        <div class="col-sm-9">
            <h1>Aviso Legal</h1>
            <p>docbiz UG (S.L.)</p>
            <table class="label-value-table">
                <tr>
                    <td>
                        <strong>Información de dirección</strong>
                    </td>
                    <td>
                        C/ Juan Bravo, 3 - A <br />28006 Madrid, España
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Teléfono</strong>
                    </td>
                    <td>
                        93 220 16 65
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Fax</strong>
                    </td>
                    <td>
                        93 220 39 92
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>E-Mail</strong>
                    </td>
                    <td>
                        <a href="mailto:{{ application.email.central }}">{{ application.email.central }}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}