<nav class="stacked-navigation">
  <ul class="list-unstyled level-1">

    <li{% if route_slug=='contact' %} class="active"{% endif %}><a href="{{ path('contact') }}">{{'ui.contact.title'|trans}}</a></li>

  	<li{% if route_slug=='page_imprint' %} class="active"{% endif %}><a href="{{ path('page_imprint') }}">{{'ui.page.imprint.title'|trans}}</a></li>

    <li{% if route_slug=='page_terms_of_use' %} class="active"{% endif %}><a href="{{ path('page_terms_of_use') }}">{{'ui.page.terms_of_use.title'|trans}}</a></li>

    <li{% if route_slug=='page_data_security' %} class="active"{% endif %}><a href="{{ path('page_data_security') }}">{{'ui.page.data_security.title'|trans}}</a></li>

  </ul>
</nav>
