{% extends 'base.html.twig' %}

{% block content %}
<div class="page-product">

  <div class="slide">
    <div class="container">
      <div class="row">
        <div class="col-md-6 copycontent">
          <h1>Lorem ipsum Tempor consequat occaecat voluptate.</h1>
          <p>Lorem ipsum Non eu in adipisicing in laboris mollit laborum in. Lorem ipsum Sed commodo esse sunt commodo ad adipisicing officia. Lorem ipsum Irure quis elit in quis aliqua laborum ut ullamco qui adipisicing in.</p>
          <a class="btn btn-secondary has-larger-padding text-uppercase">Join</a>
        </div>
        <div class="col-md-6">
          <img class="fullsize-image" src="/images/page/product/dummy1.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="slide">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="fullsize-image" src="/images/page/product/dummy2.png" />
        </div>
        <div class="col-md-6 copycontent">
          <h1>Calendar tempor consequat occaecat voluptate.</h1>
          <p>Lorem ipsum Non eu in adipisicing in laboris mollit laborum in. Lorem ipsum Sed commodo esse sunt commodo ad adipisicing officia. Lorem ipsum Irure quis elit in quis aliqua laborum ut ullamco qui adipisicing in.</p>
          <a class=""><strong>> More Information</strong></a>
        </div>
      </div>
    </div>
  </div>

  <div class="slide">
    <div class="container">
      <div class="row">
        <div class="col-md-6 copycontent">
          <h1>CRM Lorem ipsum Tempor consequat occaecat voluptate.</h1>
          <p>Lorem ipsum Non eu in adipisicing in laboris mollit laborum in. Lorem ipsum Sed commodo esse sunt commodo ad adipisicing officia. Lorem ipsum Irure quis elit in quis aliqua laborum ut ullamco qui adipisicing in.</p>
          <a class=""><strong>> More Information</strong></a>
        </div>
        <div class="col-md-6">
          <img class="fullsize-image" src="/images/page/product/dummy3.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="slide">
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-1">
          <img class="fullsize-image" src="/images/page/product/dummy4.png" />
        </div>
        <div class="col-md-6 offset-md-1 copycontent">
          <h1>Online Booking tempor consequat occaecat voluptate.</h1>
          <p>Lorem ipsum Non eu in adipisicing in laboris mollit laborum in. Lorem ipsum Sed commodo esse sunt commodo ad adipisicing officia. Lorem ipsum Irure quis elit in quis aliqua laborum ut ullamco qui adipisicing in.</p>
          <a class=""><strong>> More Information</strong></a>
        </div>
      </div>
    </div>
  </div>

  <div class="slide">
    <div class="container">
      <div class="row">
        <div class="col-md-6 copycontent">
          <h1>Marketing Lorem ipsum Tempor consequat occaecat voluptate.</h1>
          <p>Lorem ipsum Non eu in adipisicing in laboris mollit laborum in. Lorem ipsum Sed commodo esse sunt commodo ad adipisicing officia. Lorem ipsum Irure quis elit in quis aliqua laborum ut ullamco qui adipisicing in.</p>
          <a class=""><strong>> More Information</strong></a>
        </div>
        <div class="col-md-6">
          <img class="fullsize-image" src="/images/page/product/dummy2.png" />
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
