{% extends 'base.html.twig' %}

{% block content %}
<div class="container has-margin-to-header">
    <div class="row">
        <div class="col-sm-3">
            {% include "static/navi.html.twig" with {'route_slug': 'page_terms_of_use'} %}
        </div>
        <div class="col-sm-9">
            <h1>T&eacute;rminos y Condiciones</h1>
            <p>Los servicios y contenidos ofrecidos en el portal www. {{ application.name }} son exclusivamente para la intermediaci&oacute;n de las citas con el m&eacute;dico y no pueden sustituir para nada la consulta o el tratamiento profesional. {{ application.name }} solo muestra una selecci&oacute;n de los m&eacute;dicos en las ciudades correspondientes y no se ofrece garant&iacute;a alguna sobre su totalidad o exactitud.</p>

            <h4>&sect;1 Objetivos de los T&eacute;rminos y Condiciones Generales</h4>
            <p>Estos son los t&eacute;rminos y condiciones de {{ application.name }}. Se refieren al servicio ofrecido, los cuales est&aacute;n en Internet, en la direcci&oacute;n URL {{ app.request.getSchemeAndHttpHost() }} y otros subdominios correspondientes. El Objetivo de los T&eacute;rminos y Condiciones Generales es regular la relaci&oacute;n jur&iacute;dica entre {{ application.name }} y todas las personas f&iacute;sicas o jur&iacute;dicas que utilizan {{ application.name }}. La relaci&oacute;n jur&iacute;dica entre {{ application.name }} y sus miembros est&aacute; determinada por los presentes T&eacute;rminos y Condiciones Generales, las directrices para la creaci&oacute;n de perfiles, la redacci&oacute;n y poner comentarios. Los T&eacute;rminos y Condiciones Generales, as&iacute; como las directrices tambi&eacute;n se aplican cuando se utilizan partes de la p&aacute;gina web {{ application.name }} en otros sitios web.</p>

            <h4>&sect;2 Servicios de {{ application.name }}</h4>
            <ol>            <li>{{ application.name }} es una oferta que permite a sus usuarios y miembros consultar informaciones sobre los m&eacute;dicos (citas disponibles, ubicaci&oacute;n, comentarios, etc.). </li>
                <li>Los miembros reciben un perfil de usuario, lo que les permite utilizar la oferta de comunicaci&oacute;n de {{ application.name }}.</li>

            </ol>
            <h4>&sect;3 El uso del servicio de informaci&oacute;n de Internet de {{ application.name }}</h4>
            <ol>            <li>El servicio de informaci&oacute;n por Internet {{ application.name }} permite a todos los usuarios y miembros de {{ application.name }} encontrar citas y datos de la direcci&oacute;n, as&iacute; como informaciones p&uacute;blicas adicionales (en los consiguientes datos maestros) del ofertante consultado.
                    El uso del servicio de informaci&oacute;n y los datos maestros implicados s&oacute;lo est&aacute; permitido exclusivamente para este fin y para uso privado. Se proh&iacute;be cualquier uso para fines extra&ntilde;os, en particular para el intercambio comercial de la informaci&oacute;n, as&iacute; como cualquier otra evaluaci&oacute;n o uso comercial. El uso o procesamiento de los datos maestros consultados para otros fines est&aacute; permitido solo bajo ciertas condiciones estrictas bajo las leyes alemanas de protecci&oacute;n de datos.</li>
                <li>Para la disponibilidad de los servicios de informaci&oacute;n, as&iacute; como para la completitud y exactitud de los datos contenidos {{ application.name }} no asume ninguna responsabilidad.</li>

            </ol>
            <h4>&sect;4 Conclusi&oacute;n de contrato</h4>
            <ol>            <li>Todos los usuarios de Internet pueden acceder a la oferta publicada en {{ application.name }}.</li>
                <li>Tambi&eacute;n existe la posibilidad de una membres&iacute;a gratis. Los usuarios que quieran utilizar esta oferta adicional, deben registrarse primero en {{ application.name }} y luego pueden acceder a las funciones de conjunto de {{ application.name }}.</li>
                <li>Al registrarse, cada miembro asegura que sus datos personales est&aacute;n al d&iacute;a, completos y veraces y que los actualizar&aacute; tambi&eacute;n despu&eacute;s de su registro durante la duraci&oacute;n del contrato.</li>
                <li>El Miembro asegura, adem&aacute;s, que o bien ha alcanzado la edad de 18 a&ntilde;os o que ha recibido el consentimiento de sus padres o tutores, para usar los como en el &sect; 2 de los T&eacute;rminos y Condiciones Generales, los servicios mencionados, incluidos los servicios de comunicaci&oacute;n y hacer evaluaciones. </li>
                <li>Los evaluaciones de los servicios m&eacute;dicos solo los pueden realizar los pacientes que han reservado previamente una cita a trav&eacute;s {{ application.name }}.</li>
                <li>El uso para el paciente es generalmente gratis. Los m&eacute;dicos que se registran, recibir&aacute;n un contrato por correo electr&oacute;nico, que debe ser acordado por escrito.</li>
                <li>Solo por acuerdo bilateral, se completa el registro y entra en una relaci&oacute;n contractual.</li>

            </ol>
            <h4>&sect;5 Obligaciones de los Miembros</h4>
            <ol>            <li>Cada miembro es responsable de su propio perfil de usuario y de sus informaciones o las informaciones que salen de su perfil, comentarios, fotos y otros contenidos (en Contenidos Adelantados). El miembro se compromete a cumplir con las leyes aplicables cuando pone contenidos y con otros aportes de usuario, as&iacute; como todos los contenidos que salen de su perfil. El miembro se compromete tambi&eacute;n a abstenerse de cualquier mal uso del sistema y los servicios ofrecidos.</li>
                <li>En particular, cada miembro se compromete a:
            <ul>
                <li>no hacerse pasar por otra persona u otra empresa para enga&ntilde;ar a otros usuarios o proveedores acerca de su propia identidad;</li>
                <li>no transferir su perfil de usuario a otros miembros, usuarios o proveedores o permitir a terceros el acceso a su perfil de usuario;</li>
                <li>con la selecci&oacute;n del nombre de usuario donde {{ application.name }} no usar nombres de personas, empresas u otros nombres que violan marcas, derechos de autor o derechos personales de otros;</li>
                <li>no utilizar nombres en {{ application.name }} con los cuales se est&eacute;n promoviendo la violencia, amotinamiento del pueblo o que est&aacute;n en relaci&oacute;n con pornograf&iacute;a, pornograf&iacute;a infantil, el incesto, la bestialidad, el extremismo religioso o pol&iacute;tico o que est&aacute;n en relaci&oacute;n con terrorismo;</li>
                <li>no distribuir cualquier contenido que pudiera inducir a otras personas a actos ilegales o inmorales;</li>
                <li>no utilizar el sistema de {{ application.name }} y los servicios ofrecidos en el mismo, para hostigar o amenazar a otra persona o violar su dignidad, su honor o su auto definici&oacute;n sexual;</li>
                <li>acciones como el env&iacute;o de correos electr&oacute;nicos in&uacute;tiles, el env&iacute;o o ajuste de virus u otros programas (software esp&iacute;a, malware, troyanos y similares) est&aacute; prohibido. Por otra parte, est&aacute; prohibido cualquier acci&oacute;n que pueda poner en peligro la existencia o el funcionamiento de la red de datos o centro de datos de {{ application.name }} o de sus usuarios;</li>
                <li>no difundir cr&iacute;ticas injuriosas o difamatorias, ni calumnias, insultos, mentiras o informaciones falsas;</li>
                <li>no difundir contenidos sin aprobaci&oacute;n del titular jur&iacute;dico, los cuales est&eacute;n protegido por derechos de autor o los derechos de propiedad industrial;</li>
                <li>no poner en otros sitios web, ni establecer en el mercado o distribuir contenidos del sistema sin el permiso expl&iacute;cito de {{ application.name }}.</li>
                <li>no poner v&iacute;nculos a sitios web que violan la ley, ni a sitios web con contenidos perjudiciales para ni&ntilde;os u otros. </li>

            </ul></li>
            </ol>
            <h4>&sect;6 Publicaciones de Contenidos</h4>
            <ol>            <li>Los miembros del {{ application.name }} al utilizar el sistema se comprometen a cuidar las siguientes reglas al publicar contenidos:</li>
                <li>Todos los contenidos de un miembro tienen que estar en relaci&oacute;n al proveedor evaluado, tiene que ser correctos y lo m&aacute;s objetivo y preciso posible. Usted no puede violar patentes, derechos de autor, marcas comerciales y derechos personales u otros derechos protegidos de terceros.</li>
                <li>Para asegurar estos principios, est&aacute; prohibido para los proveedores publicar evaluaciones que afectan a sus propias empresas. Incluso los familiares o empleados de los proveedores solo podr&aacute;n evaluar sus respectivas compa&ntilde;&iacute;as cuando expresan abiertamente su relaci&oacute;n con los proveedores.</li>
                <li>La publicaci&oacute;n, el env&iacute;o o la puesta a disposici&oacute;n de contenidos no se permite si los contenidos constituyen o pueden incluir:
                <ul>
                    <li>la desinformaci&oacute;n, la calumnia, la difamaci&oacute;n, la obscenidad o la mentira;</li>
                    <li>amenazas contra otros miembros, proveedores o contra terceros;</li>
                    <li>auto-promoci&oacute;n comercial mediante la introducci&oacute;n de direcciones de correo electr&oacute;nico, direcciones, URL o n&uacute;meros de tel&eacute;fono;</li>
                    <li>informaciones por declaraciones o&iacute;das y sin confirmar por parte de terceros;</li>
                    <li>logotipos, t&iacute;tulos, nombres comerciales o materiales con fines comerciales;</li>
                    <li>Publicidad abierta u oculta</li>
                </ul></li>

                <li>Las Prohibiciones tambi&eacute;n aplican para otros contenidos:
                <ul>
                    <li>que son copiados;</li>
                    <li>que tienen declaraciones y comentarios ofensivas a otros miembros o evaluaciones</li>
                    <li>que son pornogr&aacute;ficos, obscenos, ofensivos, vulgares o en cualquier otra forma indecentes;</li>
                    <li>que fueron iniciados por proveedores, a trav&eacute;s de testaferros;</li>
                    <li>que plantean un riesgo para la seguridad como portadores de virus, troyanos y otros programas maliciosos.</li>
                </ul>
                </li>
                <li>Para proteger a los proveedores y a los usuarios {{ application.name }} se reserva el derecho en cualquier tiempo de eliminar, despu&eacute;s de comunicarse con el usuario, contenidos a los cuales apliquen los criterios anteriores o por otras razones ilegales, o que puede ser peligrosos para el sistema, previa notificaci&oacute;n al usuario.</li>

            </ol>
            <h4>&sect;7 Datos Maestros y Estructura de Directorio</h4>
            <ol>            <li>Para actualizar la oferta, los miembros y los usuarios de {{ application.name }} pueden crear en la base de datos en {{ application.name }} listados de proveedores nuevos o faltantes, o complementar los datos maestros de proveedores ya existentes con veracidad y actualizaci&oacute;n (la llamada Cambio de datos maestros). Los miembros y los usuarios se comprometen a respetar los disposiciones seg&uacute;n los T&eacute;rminos y Condiciones bajo el &sect; 8. Usted tambi&eacute;n se obliga a:
            <ul>
                <li>introducir solamente proveedores realmente existentes;</li>
                <li>no publicar cualquier informaci&oacute;n que sea irrelevante o no aplicable;</li>
                <li>no publicar cualquier proveedor o informaciones de proveedores, que solo se conoce de o&iacute;das;</li>
                <li>no publicar datos personales sin el permiso expl&iacute;cito de la persona afectada.</li>
            </ul>
                </li>
                <li>{{ application.name }} se reserva el derecho de modificar los datos maestros en cualquier momento en conformidad con las disposiciones legales bajo su propia responsabilidad y sin previo aviso.</li>
                <li>{{ application.name }} no constituye ninguna lista completa de proveedores.</li>

            </ol>
            <h4>&sect;8 Derechos, Sanciones y Medidas de {{ application.name }}</h4>
            Una vez que hay un claro punto de referencia de que un miembro viola las disposiciones legales, los derechos de terceros, estas condiciones, o las directrices de {{ application.name }}, o que para proteger a otros miembros, usuarios o proveedores, hay un inter&eacute;s leg&iacute;timo, o que hay un inter&eacute;s leg&iacute;timo para proteger a otros miembros, usuarios o proveedores, {{ application.name }} puede tomar medidas contra un miembro de la siguiente lista de medidas. En particular, puede {{ application.name }}:
            <ul>
                <li>eliminar los contenidos que se han publicado en {{ application.name }};</li>
                <li>amonestar a miembros;</li>
                <li>limitar el sistema al usuario;</li>
                <li>bloquear temporalmente el usuario;</li>
                <li>bloquear definitivamente el usuario.</li>
            </ul>
                La medida de la acci&oacute;n que es tomada (en su caso correspondiente despu&eacute;s de la consulta con el miembro) se realiza dependiendo de la actitud respectiva al miembro. El bloqueo del miembro genera el cierre de todos los perfiles del usuario que est&aacute;n a su nombre. En caso del bloqueo definitivo de un miembro, pierde el derecho a la restauraci&oacute;n del perfil de usuario bloqueado o para abrir un nuevo perfil de usuario.
            <br /><br />


            <h4>&sect;9 Cancelaci&oacute;n</h4>
            <ol>            <li>El miembro podr&aacute; renunciar al contrato en cualquier momento, sin dar ninguna raz&oacute;n, con enviar una notificaci&oacute;n de cancelaci&oacute;n a trav&eacute;s de correo electr&oacute;nico a <a href="mailto:{{ application.email.central }}">{{ application.email.central }}</a>.</li>
                <li>{{ application.name }} tiene el derecho a cancelar el contrato en caso de incumplimiento de estos T&eacute;rminos y Condiciones en el plazo de 14 d&iacute;as para el final del mes. El derecho de bloquear y los derechos como est&aacute;n descritos en la lista de medidas en {{ application.name }} no se ver&aacute;n afectados.</li>

            </ol>
            <h4>&sect;10 Asunci&oacute;n de contrato por terceras personas</h4>
            {{ application.name }} tiene el derecho (con un plazo de cuatro semanas) a traspasar sus derechos y obligaciones en virtud de este contrato en su totalidad o en parte a una tercera persona. En este caso, el miembro tendr&aacute; derecho a renunciar al contrato despu&eacute;s de la notificaci&oacute;n de la asunci&oacute;n del contrato a trav&eacute;s de correo electr&oacute;nico a <a href="mailto:{{ application.email.central }}">{{ application.email.central }}</a>.
            <br /><br />

            <h4>&sect;11 La verificaci&oacute;n de los contenidos y los procedimientos de proceso de aviso de abuso</h4>
            <ol>            <li>Para garantizar la m&aacute;xima seguridad y para asegurar los derechos de patentes, de autor, de marcas comerciales y derechos personales de terceras personas, {{ application.name }} tiene el derecho, pero no tiene la obligaci&oacute;n, a revisar, a cambiar o a borrar completamente la compatibilidad de los contenidos publicados con las leyes aplicables, estos T&eacute;rminos y Condiciones y las propias pol&iacute;ticas y principios para comprobar y, si esto es necesario.</li>
                <li>Generalmente los abusos por los usuarios y miembros son monitoreados. {{ application.name }} est&aacute; pendiente de la atenci&oacute;n y a la disposici&oacute;n de comunicaci&oacute;n de sus miembros y usuarios. Con la ayuda de un procedimiento de presentaci&oacute;n de informes de abuso instalado, se permite a los miembros o a afectados avisar abusos y delitos, en particular violaciones de estos T&eacute;rminos y Condiciones, as&iacute; como violaciones de patentes, de derechos de autor, de marcas comerciales y de derechos personales. Despu&eacute;s de la adquisici&oacute;n del conocimiento y de la verificaci&oacute;n de la supuesta falta, {{ application.name }} se enfuerta en eliminar el contenido ilegal o abusivo en un plazo razonable. {{ application.name }} se reserva el derecho de emprender acciones legales en caso de abuso de procedimiento de reporte de abuso.</li>

            </ol>
            <h4>&sect;12 Informaciones sobre protecci&oacute;n de datos</h4>
            Los datos personales que est&aacute;n disponibles a trav&eacute;s del sistema de {{ application.name }}, se utilizan de acuerdo a las normas legales.
            <br /><br />
            "Esta p&aacute;gina web utiliza Google Analytics, un servicio anal&iacute;tico de web por Google Inc. (" Google "). Google Analytics utiliza" cookies ", archivos de texto que se guarda en su computadora y que permite un an&aacute;lisis del uso de la p&aacute;gina web por usted. Las informaciones generadas por los cookie sobre su uso de este sitio web (incluyendo su direcci&oacute;n IP) se transmiten a un servidor de Google en los EE.UU. y se guarda all&iacute;. Google usar&aacute; esta informaci&oacute;n para evaluar su uso de la p&aacute;gina web, para recopilar informes de la actividad de la p&aacute;gina web para el administrador de la p&aacute;gina web y para dar el servicio relacionado prestando otras p&aacute;ginas web y los servicios relacionados con el uso de la p&aacute;gina web. Google podr&aacute; transmitir tambi&eacute;n dicha informaci&oacute;n a terceros cuando as&iacute; lo prescriba la ley o cuando dichos terceros procesen la informaci&oacute;n por cuenta de Google. Google no asociar&aacute; su direcci&oacute;n IP con otros datos de Google en conjunto. Usted puede rechazar la instalaci&oacute;n de cookies, mediante la selecci&oacute;n de la configuraci&oacute;n apropiada de su navegador; pero tome nota que en este caso es posible que no pueda utilizar todas las funciones de este sitio web. Al usar esta p&aacute;gina web usted se pone de acuerdo con el tr&aacute;mite de datos acerca de usted por Google en la forma descrita anteriormente y para los fines arriba indicados. "
            <br /><br />
            <h4>&sect;13 Derechos de propiedad intelectual y derechos de propiedad industrial</h4>
            <ol>            <li>Contenidos, en los cuales un tercero tiene el derecho de autor, no se puede reenviar, distribuir o publicar en el sistema de {{ application.name }} sin el consentimiento y acuerdo de ese particular. El miembro se compromete eximir a {{ application.name }} de todos los derechos a terceros, que han surgido como consecuencia del incumplimiento de la normativa de derechos de autor por un comportamiento del miembro.</li>
                <li>Mediante la publicaci&oacute;n de contenido, el miembro asegura que tiene todos los derechos para publicar y uso de los contenidos.</li>
                <li>Informamos a los usuarios y miembros de {{ application.name }} que tomen en cuenta que el dise&ntilde;o de las p&aacute;ginas web, sus contenidos, pero tambi&eacute;n los presentes T&eacute;rminos y Condiciones est&aacute;n protegidos y solo puede copiarlos, retocarlos, utilizarlos o usarlos en otros sitios web o en otros medios con el consentimiento previo por escrito de {{ application.name }}.</li>

            </ol>
            <h4>&sect;14 Conexi&oacute;n con sitios web de terceros y de responsabilidad por los sitios web de terceros</h4>
            {{ application.name }} hace el esfuerzo desde el principio de publicar solo los contenidos legales en enlaces (es decir v&iacute;nculos o banners) de su propia p&aacute;gina web. Sin embargo, una revisi&oacute;n completa y permanente de los contenidos y enlaces de otros proveedores t&eacute;cnicamente no es posible.
            <br /><br />
            {{ application.name }} se distancia del contenido de todos los v&iacute;nculos directos o indirectos a otras p&aacute;ginas web publicados por {{ application.name }} o sus miembros y usuarios. Los proveedores son responsables del contenido en esta p&aacute;gina web y de violaciones de patentes, de derechos de autor, de marca registrada o de derechos personales.
            <br /><br />
            {{ application.name }} no act&uacute;a como un representante, cuando sus usuarios y socios concluyen un contrato con p&aacute;ginas web enlazadas.
            <br /><br />

            <h4>&sect;15 Responsabilidad</h4>
            <ol>            <li>Los servicios y contenidos ofrecidos por {{ application.name }} no representan ni reemplazan de ninguna manera un asesoramiento profesional. Evaluaciones y recomendaciones publicadas por los miembros son las opiniones personales de los miembros y de ninguna manera representan la opini&oacute;n de {{ application.name }}, tampoco se puede relacionarlos con {{ application.name }}. Por esta raz&oacute;n los comentarios, recomendaciones u otro tipo de asesoramiento de los miembros representan solo una opini&oacute;n subjetiva de cada miembro y no es ninguna recomendaci&oacute;n de {{ application.name }} para la compra, el contrato u otras informaciones. {{ application.name }} no es responsable por el contenido generado por los miembros, ni para la impresi&oacute;n en general por los miembros. Cualquier tipo de aprovechamiento o uso del contenido publicado es bajo su propio riesgo. Los contenidos mencionados anteriormente pueden considerarse como una recomendaci&oacute;n o informaci&oacute;n y no deben interpretarse como una base de negocios, sino mejor como una indicaci&oacute;n de la calidad y fiabilidad de los proveedores respectivos en los negocios tratados. {{ application.name }} tampoco es responsable por los da&ntilde;os resultantes de la interacci&oacute;n de evaluaciones individuales y recomendaciones y la impresi&oacute;n general que surge por eso.</li>
                <li>{{ application.name }} no ser&aacute; responsable de violaciones de los derechos, de la p&eacute;rdida de datos o de otros da&ntilde;os de miembros o de terceros, que se deben a la conducta de sus miembros o usuarios. Los usuarios y miembros de {{ application.name }} toman la responsabilidad exclusiva para sus perfiles de usuario y para sus contenidos publicados, enviados o modificados. {{ application.name }} no asume ninguna responsabilidad por la p&eacute;rdida de datos, da&ntilde;os o violaciones del derecho, los cuales resultan por el mal manejo con los datos de acceso de los perfiles de usuario.</li>
                <li>{{ application.name }} no ser&aacute; responsable por la p&eacute;rdida de datos, las dificultades de acceso y da&ntilde;os como consecuencia de un uso inadecuado de los perfiles de usuario por los miembros o por efecto de errores del sistema, fallos del sistema, que son causa de fuerza mayor o influencias externos (ataques de piratas inform&aacute;ticos, fallos del sistema por los ataques de spam) y que es representado de los empleados o agentes del {{ application.name }}.</li>
                <li>{{ application.name }} no puede garantizar un sistema sin errores y sin virus, a pesar de los grandes esfuerzos para mantener su propio sistema libre de virus externos, troyanos y otros causadores de da&ntilde;os libre. {{ application.name }} no puede garantizar el sistema sin errores de la disponibilidad. No se hace responsable de las p&eacute;rdidas y da&ntilde;os en los sistemas inform&aacute;ticos, que son causa de fuerza mayor, las influencias externas o a un fallo de la puerta de enlace, redes, proveedores o servidores de dominio.</li>
                <li>{{ application.name }} siempre anuncia con antelaci&oacute;n transiciones de versiones y mantenimientos mayores, ampliaciones o revisiones de {{ application.name }}, para dar a los miembros la oportunidad de protegerse de la posible p&eacute;rdida de datos. La responsabilidad por la p&eacute;rdida de datos est&aacute; limitado por el t&iacute;pico de restauraci&oacute;n. Esto se mide por el da&ntilde;o que se habr&iacute;a producido en la toma de precauciones razonables (por ejemplo hacer copias de seguridad).</li>
                <li>Para las reclamaciones contractuales y no contractuales se pone responsable {{ application.name }} por incumplimiento premeditado o gravemente negligente de sus funcionarios, empleados o agentes. {{ application.name }} se pone responsable s&oacute;lo por negligencia leve por lesiones a la vida, f&iacute;sica o de la salud, as&iacute; como en el incumplimiento de una obligaci&oacute;n contractual de {{ application.name }}. En este caso, la responsabilidad de {{ application.name }} se limita al da&ntilde;o previsible despu&eacute;s del cierre del contrato. La objeci&oacute;n de negligencia del usuario o miembro permanece libertad de {{ application.name }}</li>
                <li>La responsabilidad bajo la ley de responsabilidad del producto no se ve afectada.</li>

            </ol>
            <h4>&sect;16 Exenci&oacute;n</h4>
            <ol>            <li>Los usuarios y miembros liberan a {{ application.name }} y sus empleados de cualquier responsabilidad y todos los reclamos o costos, en los cuales incurran por acciones ilegales o infracciones de estos T&eacute;rminos y Condiciones por otros miembros o usuarios de {{ application.name }}. Ellos liberan {{ application.name }} de responsabilidades por violaciones de sus derechos de patentes, derechos de autor, marcas registradas o derechos personales, a trav&eacute;s de declaraciones, opiniones, im&aacute;genes o fotos de otros miembros que han sido puestos a su disposici&oacute;n en el sistema de {{ application.name }} o de otra manera.</li>
                <li>Cada miembro libera {{ application.name }} y sus empleados de cualquier responsabilidad y todas las reclamaciones y costos, que otros miembros o terceros hacen v&aacute;lido por un comportamiento ilegal o abusivo del sistema de {{ application.name }} contra {{ application.name }} .</li>
                <li>Los miembros y usuarios asumen en estos casos de excepci&oacute;n los costos de la defensa legal de {{ application.name }}, incluyendo todos los costos judiciales y honorarios de abogados. Esto no se aplica si los miembros o usuarios no son responsables de la infracci&oacute;n. La defensa legal contra los derechos susodichos se mantiene por encima de {{ application.name }}. Los miembros y usuarios de {{ application.name }} se comprometen a transmitir toda su informaci&oacute;n relevante relacionada con la defensa a {{ application.name }}.</li>

            </ol>
            <h4>&sect;17 Modificaciones de los T&eacute;rminos y Condiciones Generales</h4>
            {{ application.name }} se reserva el derecho de cambiar y modificar estos T&eacute;rminos y Condiciones Generales en cualquier momento sin previo aviso de razones. En caso de cambios significativos o adiciones a las condiciones de los T&eacute;rminos y Condiciones Generales, ser&aacute;n informados a los miembros inmediatamente por correo electr&oacute;nico acerca de los nuevas partes modificadas de los T&eacute;rminos y Condiciones Generales y se emplaza dar su aprobaci&oacute;n dentro de dos semanas. Si el miembro no contradice los T&eacute;rminos y Condiciones Generales modificados dentro de dos semanas siguientes despu&eacute;s de recibirlas, se considerar&aacute; aceptada. Sobre la importancia del proceso del per&iacute;odo de dos semanas, se informa al miembro por correo electr&oacute;nico.
            <br /><br />

            <h4>&sect;18 Disposiciones Finales</h4>
            <ol>            <li>Los acuerdos, que difieren de estos T&eacute;rminos y Condiciones Generales, necesita la validez por escrito.</li>
                <li>Relaciones jur&iacute;dicas que surjan de este contexto vale &uacute;nicamente la normativa espa&ntilde;ola, con exclusi&oacute;n del Derecho de Colisi&oacute;n.</li>
                <li>Para los usuarios y miembros que son comerciantes o pueden llegar a una prorrogaci&oacute;n de la competencia por cualquier motivo, est&aacute; jurisdicci&oacute;n es Madrid.</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}