.middle-responsive {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 1020px;
}

@font-face {
  font-family: 'overlock';
  src: url("overlock-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'overlock-bold';
  src: url("overlock-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 14px;
  font-family: overlock;
  color: #333333;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  font-family: overlock-bold;
}

h1, h3 {
  color: #007b9a;
}

h2, h3 {
  font-style: italic;
}

h3 {
  font-size: 1.5em;
  color: #007b9a;
}

h4 {
  color: #007b9a;
  font-size: 1.6em;
  margin-bottom: 0em;
}

a {
  color: #007b9a;
  text-decoration: none;
}

ul {
  padding-left: 0.5em;
  margin: 0.5em 0.5em;
}

li {
  margin-bottom: 0.5em;
}

header > div {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 90%;
  height: 60px;
  z-index: 200;
  -webkit-box-shadow: 0 4px 8px #aaaaaa;
  -moz-box-shadow: 0 4px 8px #aaaaaa;
  box-shadow: 0 4px 8px #aaaaaa;
  height: 7.5em;
  width: 100%;
  background: url(img/texture.jpg);
}
@media only screen and (max-width: 767px) {
  header > div {
    padding: 10px 0;
    width: 100%;
    height: 15em;
  }
}
@media only screen and (max-width: 767px) {
  header .site-logo {
    width: 225px;
  }
}
@media only screen and (max-width: 480px) {
  header .site-logo {
    margin-left: 50%;
    position: relative;
    left: -122.5px;
  }
}
header .hotline {
  text-align: center;
  color: #007b9a;
  font-family: overlock-bold;
}
header .hotline .description {
  margin: 0;
  padding: 0;
  font-size: 11px;
  color: #bbb;
  text-align: center;
  margin-top: 1px;
}
header .hotline p.phone_nbr {
  margin: 0.65em 0;
  padding: 0;
  font-size: 26px;
  line-height: 30px;
}
header .hotline .icon_phone {
  vertical-align: bottom;
  padding-right: 8px;
}
@media only screen and (max-width: 480px) {
  header .hotline {
    display: none;
  }
}
header .navigation {
  background-color: rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 100%;
}
header .navigation > ul {
  padding: 0;
}
header .navigation > ul > li {
  cursor: pointer;
  color: #007b9a;
  font-size: 1.2em;
  height: 1.3em;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 0.6em;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}
header .navigation > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

table.pure-table {
  margin: auto;
  width: 90%;
  min-width: 300px;
  margin-top: 1em;
}
table.pure-table tr.total {
  border-top: 1px solid #cbcbcb;
}
table.pure-table tr.total .strong {
  background-color: rgba(0, 0, 0, 0.1);
}
table.pure-table th {
  vertical-align: middle;
}
table.pure-table td {
  width: 22%;
}
table.pure-table td.first-col {
  width: 45%;
}
table.pure-table .strong {
  font-weight: bold;
  font-family: overlock-bold;
  font-size: 1.4em;
  color: #007b9a;
}
table.pure-table + div {
  width: 90%;
  margin: auto;
  margin-top: 1em;
  font-size: 1em;
  font-family: Arial;
  color: #333333;
}

#main {
  position: relative;
  display: block;
  height: 600px;
  background-image: url(img/headset.jpg);
  background-position: 50% 30%;
  background-size: cover;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7);
}
#main > div {
  height: 100%;
  overflow: hidden;
  min-width: 320px;
  max-width: 1024px;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  #main {
    margin-top: 200px;
  }
}

#cta-box {
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  padding-top: 7em;
}
#cta-box input {
  margin-top: 0.2em;
  height: 2em;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  border-radius: 7px;
  border: 1px solid #999999;
  font-size: 1.2em;
}
#cta-box input.error {
  background: #FFCACA;
  border-color: #FF0000;
}
#cta-box button {
  margin-top: 0.5em;
  font-family: overlock-bold;
  font-size: 1.5em;
  height: 2.4em;
  background: #009c0d;
  border: 1px solid #009c0d;
  color: white;
  width: 100%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #59830b), color-stop(49%, #699d17), color-stop(50%, #71ab19), color-stop(96%, #7fbf1b), color-stop(100%, #99cb45));
  background-image: -webkit-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background-image: -moz-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background-image: -o-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background-image: linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
#cta-box > div {
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  #cta-box {
    padding-top: 2em;
  }
}

#comparison > div {
  padding: 2em 0;
  background: url(img/texture.jpg);
  box-shadow: 0 0 20px #cbcbcb;
}
#comparison h4 {
  width: 90%;
  margin: auto;
}

#how-it-works > div {
  background: url(img/squairy_light.png);
  box-shadow: inset 0 0 20px #cbcbcb;
}
#how-it-works #benefits > div {
  position: relative;
  display: block;
  padding-bottom: 1em;
}
#how-it-works #benefits > div .benefit-box {
  margin: 10px;
  font-size: 1.4em;
  color: black;
}

#about-us > div {
  background: url(img/texture.jpg);
  box-shadow: 0 0 20px #cbcbcb;
  padding-bottom: 2em;
  line-height: 1.4em;
  font-size: 1.4em;
}
#about-us #form ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

footer > div {
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.7);
  padding-top: 0.5em;
  position: relative;
  height: 8em;
}
@media only screen and (max-width: 767px) {
  footer > div {
    height: 14em;
  }
}
footer .ekomi {
  background: url("img/ekomi-seal.png") no-repeat;
  width: 70px;
  height: 70px;
  position: absolute;
  right: -35px;
  top: 2em;
  z-index: 1;
}
@media only screen and (max-width: 1090px) {
  footer .ekomi {
    right: 0px;
    bottom: 0px;
  }
}
footer .press-logos {
  text-align: center;
}
footer .navigation {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  height: 40px;
}
footer .navigation .sm_btn span {
  display: none;
}
footer .navigation .sm_btn a {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  filter: grayscale(0.6);
  position: relative;
  top: 18px;
}
footer .navigation .fb a {
  background: url("img/icon_fb.png") no-repeat;
}
footer .navigation .gp a {
  background: url("img/icon_gp.png") no-repeat;
}
footer .navigation li {
  display: inline-block;
  padding: 0 0.5em;
}

/*
    Pure v0.2.0 Table
    (Slightly modified by ArztTermine.de)
    Copyright 2013 Yahoo! Inc. All rights reserved.
    Licensed under the BSD License.
    https://github.com/yui/pure/blob/master/LICENSE.md
*/
.pure-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.pure-table td, .pure-table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 6px 12px;
}

.pure-table thead {
  background: rgba(0, 0, 0, 0.1);
  text-align: left;
  vertical-align: bottom;
}
