/* styles for search page */
.map-popup-wrapper
  display: none

.map-popup
  background: #fff
  padding: 0.5em
  width: 180px
  .photo
    float: left
    margin-right: 0.5em
    width: 50px
    height: auto
    img
      width: 100%
  .name
    font-size: 14px
    a
      font-size: 12px
      line-height: 1em
      font-weight: 400
  .street
    font-size: 10px
  .cityzip
    font-size: 10px
  .actions
    text-align: right
    a[role=button]
      padding: 0.2em 0.5em
      border-radius: 2px
      font-size: 12px
      margin-top: 0.5em

.marker
  cursor: pointer
  height: 35px
  width: 33px
  div
    width: 100%
    height: 100%
    margin-left: 5px
    position: absolute
    &.active
      display: none
      background-image: image-url("/images/map/map-marker-active.png")
    &.inactive
      display: block
      background-image: image-url("/images/map/map-marker.png")
  &.dot
    cursor: pointer
    height: 10px
    width: 10px

  .search-index
    position: absolute
    display: block
    text-align: center
    top: 5px
    left: 0
    right: 0
    bottom: 0
    color: #fff

.map
  .active
    .marker
      .active
        display: block
      .inactive
        display: none


/* styles for mobile profile page */
.googlemap_popup .booking-link a
  color: #ffffff !important
  background-color: #599317
  background-image: -moz-linear-gradient(bottom, #599317 0%, #7BC727 100%)
  background-image: -o-linear-gradient(bottom, #599317 0%, #7BC727 100%)
  background-image: -webkit-linear-gradient(bottom, #599317 0%, #7BC727 100%)
  background-image: linear-gradient(bottom, #599317 0%, #7BC727 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7BC727', EndColorStr='#599317')
  border: none
  box-shadow: none
  -webkit-box-shadow: none
  -o-box-shadow: none
  -ms-box-shadow: none
  -moz-box-shadow: none
  font-size: 11px
  padding: 5px
  text-decoration: none

.infoBubbleContent
  color: #4b5157
  font-family: "Helvetica"
  font-size: 13px
  font-weight: bold
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.65)
  background: -webkit-linear-gradient(bottom, #dbdbdb 0%, #fff 100%)
  padding: 11px
  height: auto !important
  -webkit-background-clip: padding
  -moz-background-clip: padding
  background-clip: padding-box
  line-height: 17px
  border-radius: 12px
  a
    text-decoration: none
    color: #4b5157

.googlemap_popup
  font-family: tahoma
  font-size: 13px
  color: #666666 !important
  display: none
  position: absolute
  top: 0
  left: 0
  overflow: hidden
  background-color: #ffffff
  border: 2px solid #888888
  box-shadow: 4px -4px 4px #888888
  -moz-box-shadow: 4px -4px 4px #888888
  -webkit-box-shadow: 4px -4px 4px #888888
  border-radius: 6px
  -moz-border-radius: 6px
  -webkit-border-radius: 6px
  padding-bottom: 6px

.googlemap-marker
  width: 20px
  height: 34px
  display: block
  background-image: image-url('/images/map/map-pins-sprite.png')
  background-color: transparent
  background-repeat: no-repeat
  float: left
  margin: 0px
  text-indent: -9999px

.arrow-icon
  width: 32px
  height: 26px
  background: image-url('/images/mobile/map/location-arrow.png')
  background-size: 21px
  background-repeat: no-repeat
  background-position: 50% -2px
  position: relative
  top: -1px

.googlemap_popup .provider.intro
  font-size: .9em
  width: 200px
  padding: 5px
  .gfx
    width: 75px
    img
      width: 60px
  .info
    width: 120px
