.dashboard_menu_item {
	border-bottom: 2px solid black;
	width: 100%;
	height: 30px;
	position: relative;
}

.dashboard_left_panel {
	float: left;
	margin-top: 22px;
}
.dashboard_left_panel a{
	margin-bottom: 14px;
	display: block;
	border-radius: 14px;
	background-clip: padding-box;
	background-color: #5193a3;
	box-shadow: inset 0 -1px 0 #376b77;
	background-image: -webkit-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
	background-image: -moz-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
	background-image: linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	text-shadow: 0 -1px 0 rgba(0,0,0,.35);
	text-align: center;
	text-decoration: none;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 150px;

}

.dashboard_left_panel a:active{
	background-image: -webkit-linear-gradient(top, #3f7f8f 0%, #6ba5b3 100%);
	background-image: -moz-linear-gradient(top, #3f7f8f 0%, #6ba5b3 100%);
	background-image: linear-gradient(top, #3f7f8f 0%, #6ba5b3 100%);

}

.left_menu_container {
	float: left;
	position: relative;
	width: 100%;
}
.dashboard_menu_item_a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 3px;
}
.dashboard_menu_item_a:hover
{
	background-color:#6aa84f;
}
.patient_view_profile_content {
	position: relative;
	overflow: hidden;
	margin: 22px;
	margin-left: 136px;
}
.profile_view_fields_header {
	color: #3371a7;
	font-weight: bold;
	margin-left: 20px;
	margin-top:20px;
	float: left;
}
.profile_view_fields_body
{
	margin-left: 20px;
	margin-top:5px;
	color: black;

}

.appointmens_header{
	color: #5395a7;
	font-family: 'Rokkitt';
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 9px;
	display: block;
}

td.head{
	color: #565655;
	font-size: 14px;
	font-weight: bold;
	background: none;
}

tr.head{
	border-bottom: 1px solid #bebebe;
	box-shadow: 0 1px 0 #fff;
	height: 28px;
}

.info_label {
	border-radius: 6px 0 0 6px;
	background-clip: padding-box;
	background-color: #d9d9d9;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.06);
	background-image: -webkit-linear-gradient(bottom, rgba(19,19,19,.05) 0%, rgba(255,255,255,.05) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(19,19,19,.05) 0%, rgba(255,255,255,.05) 100%);
	background-image: linear-gradient(bottom, rgba(19,19,19,.05) 0%, rgba(255,255,255,.05) 100%);
	color: #4d4d4d;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,.6);
	width: 185px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 6px;
}

.info_value{
	border-radius: 0 6px 6px 0;
	background-clip: padding-box;
	background-color: #fff;
	box-shadow: inset 0 1px 0 rgba(19,19,19,.15);
	color: #4d4d4d;
	font-size: 14px;
	text-shadow: 0 1px 3px #fff;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 6px;
	width: 511px;
}

.info_table{
	position: relative;
	border-collapse: separate;
	border-spacing: 0 13px;
	margin-top: -12px;
}
.info_table tr{
	position: relative;
}
