body{
    font-family: "Arial";
}
strong{
    font-weight: bold;
}
/*
*REVIEW DOCTOR
*
*
*/
.subHeader{
    color: #5193a3;
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid #c8c8c8;
    width: 100%;
    padding-bottom: 5px;
    text-align: left;
}
.review-doctor .patient_right_content{
    width: 741px;
    display: inline-block;
}

.dashboard_left_panel img{
    background-color: #fff;
    padding: 3px;
    -ms-box-shadow: 0px 2px 5px #ccc;
    box-shadow: 0px 2px 5px #ccc;
}
.rate_container{
    margin-top: 30px;
}
.rate_container .label{
    color: #5193a3; /* text color */
    font-family: "Arial";
    font-size: 20px;
    width: 100%;
    text-align: left;
}

.rate_container div{
    color: #4d4d4d; /* text color */
    font-family: "Arial";
    font-size: 14px;
}

.star{
    width: 170px !important;
    margin-top: 5px;
    display: inline-block;
}

.review-doctor textarea{
    border-radius: 6px; /* border radius */
    -moz-border-radius: 6px; /* border radius */
    -webkit-border-radius: 6px;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    box-shadow: inset 0 1px 0 rgba(19,19,19,.15); /* inner shadow */
    -moz-box-shadow: inset 0 1px 0 rgba(19,19,19,.15); /* inner shadow */;
    border: none;
    width: 700px;
    height: 130px;
    max-width: 720px;
    padding: 10px;
}

.review-doctor .error_message.error{
    position: relative;
    top: 5px;
    vertical-align: top;
    display: inline-block;
}



/*REVIEW DOCTOR END*/