.doctor_manage_profile_content {
  margin: 10px 10px 100px 25px;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  padding-right: 25px;
}

.profile_manage_fields_header {
  color: #3371a7;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}
.profile_manage_textareas {
  margin: 5px 10px 5px 10px;
  border: 1px solid black;
  position: relative;
  resize: none;
  width: 100%;
  height: 60px;
  clear: both;
}
.doc_profile_submit_buuton {
  background-color: #6aa040;
  position: absolute;
  padding: 10px 30px;
  right: 20px;
  bottom: 30px;
  box-shadow: 3px 3px black;
  border: 1px solid black;
}
.profile_manage_fields_header .field-header {
  padding-right: 25px;
  background-image: url('../../img/question.jpg');
  background-repeat: no-repeat;
  min-height: 23px;
  float: right;
  margin-left: 5px;
  cursor: pointer;
}

.edit_textfield{
	height: 70px;
	width: 200px;
    padding: 14px 12px;
}

.edit_input_date{
	width: 40px;
    padding: 14px 12px;
    border: 1px solid #b6b6b6 !important;
    margin-top: -1px;
    margin-bottom: -1px;
    text-align: center;
}

.edit_input_email{
	width: 200px;
	padding: 14px 12px;
}

.error_pan{
	color: red;
}
.profile-title{
    color: #5193a3; /* text color */
    font-family: "Arial";
    font-size: 34px;
    text-shadow: 0 1px 0 rgba(255,255,255,.6); /* drop shadow */

}
.logged_in_container{
    position: relative;
    margin-top: 22px;
    background: #F5F4F4;
    background-image: url(../../img/rechteck.png);
    background-repeat: no-repeat;
    background-position: 0px -9px;
    padding: 20px 30px 30px 30px;
}

.top-profile{
    border-bottom: 1px dashed #bebebe;
    box-shadow: 0 1px 0 #fff;
    height: 52px;
}

.top-profile a{
    font-size: 14px;
    font-weight: bold;
    position: relative;
    padding: 0px;
    margin: 0px;
    color: #555;
    text-decoration: none;
    top: 19px;
    font-family: helvetica;
}

.edit-profile form{
    text-align: left;
}

.edit-profile .info_table{
    width: 728px;
}

.edit-profile textarea, .edit-profile input[type="text"]{
    padding: 0px;
    margin: 0px;
    height: 16px;
    border: none;
    width: 100%;
    resize: none;
    max-width: 100%;
    background: none;
}

.edit_input_date{
    width:40px !important;

}

.edit-profile #change_password_button{
    margin-right: 14px;
    background: none;
    border: none;
    width: auto;
    color: #5294a3;
    font-size: 14px;
    font-family: helvetica;
    cursor: pointer;
    padding: 0px;
}

.edit-profile input[name="password"], .edit-profile input[name="new_password"]{
    width: 340px;
}
.edit-profile table{
    table-layout: fixed;
}
.edit-profile .info_value{
    border: 2px solid #5193a3; /* stroke */
    border-radius: 0px 6px 6px 0px; /* border radius */
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    box-shadow: inset 0 0 0 rgba(19,19,19,.15); /* inner shadow */
    padding-top: 8px;
    padding-bottom: 4px;
    position:relative;
    /*display: inline-block;
    width: 507px;*/
}
.edit-profile input[type="submit"]{
    width: 192px;
}
.edit-profile .info_label{
    padding-top: 8px;
    padding-bottom: 4px;
    width: 173px;
    /*display:inline-block;
    height: 100%;*/
}

.edit_icon {
    background: url('../../img/pencil.png');
    height: 22px;
    width: 22px;
    position: absolute;
    top: 2px;
    right: -27px;
}

.firefox .edit_icon{
    position: relative;
    left: 525px;
    margin-top: -22px;
    top: -2px;
}

.info_value.error{
    border: 2px solid #ef6f6f; /* stroke */

}

/*DASHBOARD
*
*
*
*
*
*/
.dashboard .patient_view_profile_content {
    margin-left: 174px;
    margin-right: 0px;
}

.dashboard .appointmens_header{
    color: #5395a7; /* text color */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 1px 3px #fff; /* drop shadow */
    font-family: Arial;
}
.dashboard .btn_gray_new{
    width: 93px;
}

.btn_gray_new{
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #e6e6e6;
    box-shadow: 0 1px 1px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27);
    background-image: -webkit-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: -moz-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: -o-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    color: #6b6b6b;
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 -1px 0 #fff;
    height: 33px;
    padding-left: 12px;
    padding-right: 12px;
}

.btn_gray_new:hover{
    background-image: -webkit-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: -moz-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: -o-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
}

.booking_row a{
    color: #5294a3;
    font-size: 14px;
    font-family: helvetica;
    text-decoration: none;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;

}

.booking_row{
    text-align: left;
    height: 37px;
}

.dashboard .grey_normal span.red{
    color: #4d4d4d !important; /* text color */
    font-family: "Arial" !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

/*
*
*EDIT PROFILE
*
*
*/
.change_pwd_label{
    display: inline-block;
    width: 107px;
    text-align: right;
    padding-right: 6px;
    margin-bottom: 19px;
}

.insurance_select label{
    display: inline-block;
    vertical-align: middle;
    float: inherit;
}

.insurance_select input{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    float: inherit;
}