@import "../../../static/old-css/main.css" ;

@import "../main/login.css" ;
@import "home.css" ;
@import "profile.css" ;
@import "style.css" ;


/*
.register_container  #forgot_password input,
.register_container  #forgot_email input, 
.register_container #register_form input {
  font-size: 22px;
  border:2px solid #AAA;
}
.register_container .input-bd{
  font-size: 22px;
  width: 100%;
}
.register_container .input_day{
	float:left;
	width:50px;
}
.register_container .input_month{
	float:left;
	width:65px;
	margin-left: 10px;
}
.register_container .input_year{
	float:left;
	width:80px;
	margin-left: 10px;
}
.register_container  .radio_buttons{
	font-size: 22px;
  width: 100%;
}
.register_container .radio_male{
	float:left;
	margin-top: 10px;
}
.register_container .radio_female{
	float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.register_container .terms-checkbox{
	 min-width:5%;	
	 float: left;
}

.register_container .terms{
	width:100%;
	float: left;
	font-size:10px;
	font-weight: bold;
	margin: 30px 0 36px 151px;
}

.register_container #forgot_email span
{
  max-width: 40%;
}


.register_container #forgot_password_form #submit_button,
.register_container #forgot_email_form #submit_button,
.register_container #register_form #submit_button {
  min-width: 40%;
  border: 1px solid black;
  box-shadow: 3px 3px  #888888;
  cursor: pointer;
  white-space: nowrap;
  font-size: 20px;
  padding: 5px;
}
.register_container #forgot_email_form #submit_button
{
  font-size: 14px;
}

.register_container #forgot_email,
.register_container #forgot_password
{
  margin-top:20px;
  border-top: 7px double #888888;   
  font-size: 12px; 
  text-align: center;
}
.right-block{
	float:right;
	width:230px;
}
.left-block{
	float:left;
	width:230px;
}
.account-info{
	right:0px;
  position: absolute;
  top: 6px;
}
.account-info a{
	color:#6495ed;
}
*/


.account-info{
    float: right;
    top: 49px;
    position: absolute;
    right: 0px;
    color: #555553; /* text color */
    font-family: "Helvetica Neue";
    font-size: 15px;
    font-weight: bold;
    right: 40px;
}
.account-info a, .terms a{
    color: #5496a7;
}

.terms a{
    text-decoration: none;
}

.register .hotline-text{
    margin-top: 22px !important;
    margin-bottom: 22px !important;
}

.terms label{
    position: relative;
    left: 7px;
    width: 292px;
    text-align: left;
}

.input-bd{
    position: relative;
    left: -61px;
}
.radio_buttons{
    color: #636363; /* text color */
    font-family: "Helvetica";
    font-size: 13px;
    width: 133px;
    position: relative;
    left: 71px;
}
.radio_buttons label{
    display: block;
    width: 100px;
    text-align: left;
    float: left;
    position: relative;
    left: 7px;
    top: -1px;
}
.radio_buttons input{
    width: auto;
    height: auto;
    float: left;
}
.radio_buttons div{
    width: auto;
    height: 20px;

}

.label, label{
    color: #636363; /* text color */
    font-family: "Helvetica";
    font-size: 13px;
}

.terms{
    position: relative;
    left: 71px;
    margin-top: 10px;
    height: 33px;
}



.terms input{
    width: auto;
    float: left;
    position: relative;
    top: -7px;
}

.input_day, .input_month, .input_year{
    width: 34px;
    text-align: center;
    padding: 0px;
}
.input_year{
    width: 60px;
}

.error-message.terms{
    position: initial;
    top: 9px;
    right: 47px;
    color: #e90f0f;
    font-family: "Helvetica";
    font-size: 13px;
    text-shadow: 0 1px 3px #fff;
    width: 144px;
    display: inline-block;
    margin-top:0px;
}

.register_container select{
    width: 100px;
    margin-left: 50px;
    font-family: arial;
    font-size: 13px;
}

.patient_reset_password .error{
    margin-bottom: 10px;
}

.patient_reset_password .subHeader
{
    color: #4d97aa;
    font-size: 22px;
    margin: 0 auto;
    width: 358px;
    border-bottom: 1px solid #c8c8c8;
    margin-top: 45px;
    margin-bottom: 4px;
    padding-bottom: 3px;
}

.insurance_container span{
    vertical-align: top;
    position: relative;
    top: 7px;
}

.insurance_container .options{
    display: inline-block;
    width: 156px;
    margin-right: -54px;
    text-align: left;
    margin-left: 12px;

}

.insurance_container input{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
}

.insurance_container label{
    display: inline-block;
    vertical-align: middle;
    float: inherit;
}

.insurance_container{
    margin-bottom: 10px;
}
