@import url(../../../static/old-css/main.css);
@import url(../../../static/old-css/reset-min.css);
@import url(../default.css);
@import url(../style.css);
@import url(../main/login.css);
@import url(home.css);
@import url(profile.css);
@import url(register.css);
.btn_green {
	color: white;
	text-shadow: none;
}

#page-main {
	padding-top: 29px;
}

#forgot_password span {
	margin-bottom: 12px;
	display: block;
}

.login_container #forgot_email, .login_container #forgot_password {
	border: none;
	background-clip: padding-box;
	background-color: rgba(83, 149, 167, 0.11);
	text-align: center;
	color: #565655;
	font-size: 13px;
	text-shadow: 0 1px 3px #fff;
	padding-top: 12px;
	padding-bottom: 16px;
	width: 90%;
	margin: 0 auto;
	margin-top: 23px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.login_container, .register_container {
	width: 460px;
	border: none;
	padding-bottom: 39px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-clip: padding-box;
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px rgba(49, 49, 49, 0.2), inset 0 0 70px rgba(84, 150, 167, 0.13);
	-moz-box-shadow: 0 0 10px rgba(49, 49, 49, 0.2), inset 0 0 70px rgba(84, 150, 167, 0.13);
	box-shadow: 0 0 10px rgba(49, 49, 49, 0.2), inset 0 0 70px rgba(84, 150, 167, 0.13);
	margin: 0 auto;
	position: relative;
	margin-bottom: 20px;
	margin-top: 45px;
	behavior: url(/ngs/js/lib/PIE/PIE.htc);
}

.v8.ie .login_container, .v8.ie .register_container {
	background: #fbfcfd;
}

.login_container h1, .register_container h1 {
	width: 223px;
	height: 44px;
	background: url(../../img/bg-login.png);
	color: #5395a7;
	font-size: 24px;
	font-weight: bold;
	margin: 0 auto;
	top: -12px;
	position: relative;
	padding-top: 9px;
	background-repeat: no-repeat;
	text-align: center;
	font-family: 'Rokkitt', serif;
}

#page-main .page-container .page-wrapper {
	-moz-box-shadow: 0 0 1px #888;
	-webkit-box-shadow: 0 0 1px #888;
	box-shadow: 0 0 1px #888;
}

form {
	text-align: center;
}

.input_text, .input_password, input {
	padding: 0 0 0 6px;
	width: 350px;
	height: 32px;
	-webkit-border-radius: 4px 5px 5px 4px/4px 4px 5px 5px;
	-moz-border-radius: 4px 5px 5px 4px/4px 4px 5px 5px;
	border-radius: 4px 5px 5px 4px/4px 4px 5px 5px;
	background-color: #fff;
	border: solid 1px #b2c4d4;
	background-image: -webkit-linear-gradient(bottom, rgba(90, 151, 167, 0.04), rgba(255, 255, 255, 0.04) 42%);
	background-image: -moz-linear-gradient(bottom, rgba(90, 151, 167, 0.04), rgba(255, 255, 255, 0.04) 42%);
	background-image: -o-linear-gradient(bottom, rgba(90, 151, 167, 0.04), rgba(255, 255, 255, 0.04) 42%);
	background-image: -ms-linear-gradient(bottom, rgba(90, 151, 167, 0.04), rgba(255, 255, 255, 0.04) 42%);
	background-image: linear-gradient(to top, rgba(90, 151, 167, 0.04), rgba(255, 255, 255, 0.04) 42%);
	color: #333;
	font-size: 13px;
	text-shadow: 0 1px 3px #fff;
}

.input_text.error {
	border: 1px solid #ef6f6f;
	opacity: 1;
}

::-webkit-input-placeholder {
	opacity: .4;
	color: #333;
	font-size: 13px;
	text-shadow: 0 1px 3px #fff;
}

:-moz-placeholder {
	opacity: .4;
	color: #333;
	font-size: 13px;
	text-shadow: 0 1px 3px #fff;
}

::-moz-placeholder {
	opacity: .4;
	color: #333;
	font-size: 13px;
	text-shadow: 0 1px 3px #fff;
}

:-ms-input-placeholder {
	opacity: .4;
	color: #333;
	font-size: 13px;
	text-shadow: 0 1px 3px #fff;
}

form p {
	margin-bottom: 5px;
}

.error::-webkit-input-placeholder, .error input::-webkit-input-placeholder {
	opacity: 1;
	color: #e90f0f;
	font-size: 13px;
	text-shadow: 0 1px 3px #fff;
}

.error:-moz-placeholder, .error input::-moz-input-placeholder {
	opacity: 1;
	color: #e90f0f;
	font-size: 13px;
	text-shadow: 0 1px 3px #fff;
}

.error:-ms-input-placeholder, .error input::-ms-input-placeholder {
	opacity: 1;
	color: #e90f0f;
	font-size: 13px;
	text-shadow: 0 1px 3px #fff;
}

.error-message {
	position: absolute;
	top: 9px;
	right: 47px;
	color: #e90f0f;
	font-size: 13px;
	text-shadow: 0 1px 3px #fff;
}

.forgot_password, .forgot_email {
	color: #333;
	font-size: 13px;
	text-shadow: 0 1px 3px #fff;
	width: 358px;
	margin: 0 auto;
	text-align: left;
	padding-left: 8px;
	margin-bottom: 21px;
}

.forgot_password a, .forgot_email a {
	text-decoration: none;
	color: #5d9cac;
}

.hotline-text {
	text-align: center;
	float: none;
	color: #555553;
	font-size: 15px;
	font-weight: bold;
	margin-top: -7px;
	margin-bottom: -2px;
}

.hotline-text a {
	color: #4d97aa;
	text-decoration: none;
}

.hotline-text span {
	color: #555554;
	font-size: 12px;
	font-weight: normal;
}

.bottom-text {
	color: #555;
	font-size: 14px;
	text-shadow: 0 1px 3px #fff;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 27px;
}

.bottom-text a {
	color: #5496a7;
	text-decoration: none;
	font-weight: bold;
}

.login_container #forgot_email_form #submit_button {
	padding-left: 16px;
	padding-right: 16px;
	height: 35px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #609e1a;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.39);
	-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.39);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.39);
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
	background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
	border: none;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	text-shadow: none;
}

.login_container #forgot_email_form #submit_button:active,
.register_container #submit_button:active,
.edit-profile-button:active {
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
	text-shadow: none;
}

#submit_button {
	margin-top: 15px;
}

.patient-footer {
	background: #f1f1f1;
	width: 929px;
	margin: 0 !important;
	border-radius: 0 0 8px 8px;
	background-image: url(../../img/rechteck.png);
	background-repeat: no-repeat;
	height: 53px;
	background-position: 0 -10px;
	padding-left: 28px;
}

.patient-footer a {
	color: #5496a7;
	font-size: 12px !important;
	font-weight: normal;
}

.patient-footer li {
	margin-right: 10px !important;
}

#page-footer {
	display: none;
}

.page-container {
	margin-bottom: 70px;
}

.mozilla select, .safari select {
	height: 26px;
	display: block;
	-webkit-appearance: menulist-button;
	border: 1px solid #c3c3c3;
	border-radius: 13px;
	background-clip: padding-box;
	background-color: #999;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.27);
	background-image: -webkit-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
	color: #6b6b6b;
	font-family: sans-serif;
	font-size: 13px;
	text-shadow: 0 -1px 0 white;
}

/*error messages*/
/* LOGIN-PAGE ERROR */
.login_error_message, .error_message {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 6px 5px;
	width: 348px;
	color: #333;
	border: 1px solid #ddd;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
}

.login_error_message.error, .error_message.error {
	color: #999;
	border-color: #FDE4E1;
	background-color: #FDE4E1;
}

.register_button {
	width: 317px;
	margin: 0 auto;
	margin-top: 30px;
	text-decoration: none;
}

.light_grey_italic {
	color: #636363;
	font-size: 13px;
	font-style: italic;
	opacity: .8;
}

body {
	font-family: arial, sans-serif;
}

strong {
	font-weight: bold;
}

/*
* REVIEW DOCTOR
*/
.subHeader {
	color: #5193a3;
	font-size: 24px;
	font-weight: normal;
	border-bottom: 1px solid #c8c8c8;
	width: 100%;
	padding-bottom: 5px;
	text-align: left;
}

.review-doctor .patient_right_content {
	width: 741px;
	display: inline-block;
}

.dashboard_left_panel img {
	background-color: #fff;
	padding: 3px;
	-ms-box-shadow: 0 2px 5px #ccc;
	box-shadow: 0 2px 5px #ccc;
}

.rate_container {
	margin-top: 30px;
}

.rate_container .label {
	color: #5193a3;
	font-size: 20px;
	width: 100%;
	text-align: left;
}

.rate_container div {
	color: #4d4d4d;
	font-size: 14px;
}

.star {
	width: 170px !important;
	margin-top: 5px;
	display: inline-block;
}

.review-doctor textarea {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: inset 0 1px 0 rgba(19, 19, 19, 0.15);
	box-shadow: inset 0 1px 0 rgba(19, 19, 19, 0.15);
	border: none;
	width: 700px;
	height: 130px;
	max-width: 720px;
	padding: 10px;
}

.review-doctor .error_message.error {
	position: relative;
	top: 5px;
	vertical-align: top;
	display: inline-block;
}

/*
* HOME
*/
.dashboard_menu_item {
	border-bottom: 2px solid black;
	width: 100%;
	height: 30px;
	position: relative;
}

.dashboard_left_panel {
	float: left;
	margin-top: 22px;
}

.dashboard_left_panel a {
	margin-bottom: 14px;
	display: block;
	border-radius: 14px;
	background-clip: padding-box;
	background-color: #fff;
	box-shadow: inset 0 -1px 0 #376b77;
	background-image: -webkit-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
	background-image: -moz-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
	background-image: linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
	text-align: center;
	text-decoration: none;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 30px;
	padding-left: 30px;
	width: auto;
}

.dashboard_left_panel a:active {
	background-image: -webkit-linear-gradient(top, #3f7f8f 0%, #6ba5b3 100%);
	background-image: -moz-linear-gradient(top, #3f7f8f 0%, #6ba5b3 100%);
	background-image: linear-gradient(top, #3f7f8f 0%, #6ba5b3 100%);
}

.left_menu_container {
	float: left;
	position: relative;
	width: 100%;
}

.dashboard_menu_item_a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 3px;
}

.patient_view_profile_content {
	position: relative;
	overflow: hidden;
	margin: 22px;
	margin-left: 136px;
}

.profile_view_fields_header {
	color: #3371a7;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}

.profile_view_fields_body {
	margin-left: 20px;
	margin-top: 5px;
	color: black;
}

.appointmens_header {
	color: #5395a7;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 9px;
	display: block;
}

td.head {
	color: #565655;
	font-size: 14px;
	font-weight: bold;
	background: none;
}

tr.head {
	border-bottom: 1px solid #bebebe;
	box-shadow: 0 1px 0 #fff;
	height: 28px;
}

.info_label {
	border-radius: 6px 0 0 6px;
	background-clip: padding-box;
	background-color: #d9d9d9;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.06);
	background-image: -webkit-linear-gradient(bottom, rgba(19, 19, 19, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(19, 19, 19, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
	background-image: linear-gradient(bottom, rgba(19, 19, 19, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
	color: #4d4d4d;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
	width: 185px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 6px;
}

.info_value {
	border-radius: 0 6px 6px 0;
	background-clip: padding-box;
	background-color: #fff;
	box-shadow: inset 0 1px 0 rgba(19, 19, 19, 0.15);
	color: #4d4d4d;
	font-size: 14px;
	text-shadow: 0 1px 3px #fff;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 6px;
	width: 511px;
}

.info_table {
	position: relative;
	border-collapse: separate;
	border-spacing: 0 13px;
	margin-top: -12px;
}

.info_table tr {
	position: relative;
}

/*
* PROFILE
*/
.doctor_manage_profile_content {
	margin: 10px 10px 100px 25px;
	position: relative;
	overflow: hidden;
	border: 2px solid black;
	padding-right: 25px;
}

.profile_manage_fields_header {
	color: #3371a7;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}

.profile_manage_textareas {
	margin: 5px 10px 5px 10px;
	border: 1px solid black;
	position: relative;
	resize: none;
	width: 100%;
	height: 60px;
	clear: both;
}

.doc_profile_submit_buuton {
	background-color: #6aa040;
	position: absolute;
	padding: 10px 30px;
	right: 20px;
	bottom: 30px;
	box-shadow: 3px 3px black;
	border: 1px solid black;
}

.profile_manage_fields_header .field-header {
	padding-right: 25px;
	background-image: url("../../img/question.jpg");
	background-repeat: no-repeat;
	min-height: 23px;
	float: right;
	margin-left: 5px;
	cursor: pointer;
}

.edit_textfield {
	height: 70px;
	width: 200px;
	padding: 14px 12px;
}

.edit_input_date {
	width: 40px;
	padding: 14px 12px;
	border: 1px solid #b6b6b6 !important;
	margin-top: -1px;
	margin-bottom: -1px;
	text-align: center;
}

.edit_input_email {
	width: 200px;
	padding: 14px 12px;
}

.error_pan {
	color: red;
}

.profile-title {
	color: #5193a3;
	font-size: 34px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.logged_in_container {
	position: relative;
	margin-top: 22px;
	background: #F5F4F4;
	background-image: url(../../img/rechteck.png);
	background-repeat: no-repeat;
	background-position: 0 -9px;
	padding: 20px 30px 30px 30px;
}

.top-profile {
	border-bottom: 1px dashed #bebebe;
	box-shadow: 0 1px 0 #fff;
	height: 52px;
}

.top-profile a {
	font-size: 14px;
	font-weight: bold;
	position: relative;
	padding: 0;
	margin: 0;
	color: #555;
	text-decoration: none;
	top: 19px;
}

.edit-profile form {
	text-align: left;
}

.edit-profile .info_table {
	width: 728px;
}

.edit-profile textarea, .edit-profile input[type="text"] {
	padding: 0;
	margin: 0;
	height: 16px;
	border: none;
	width: 100%;
	resize: none;
	max-width: 100%;
	background: none;
}

.edit_input_date {
	width: 40px !important;
}

.edit-profile #change_password_button {
	margin-right: 14px;
	background: none;
	border: none;
	width: auto;
	color: #5294a3;
	font-size: 14px;
	cursor: pointer;
	padding: 0;
}

.edit-profile input[name="password"], .edit-profile input[name="new_password"] {
	width: 340px;
}

.edit-profile table {
	table-layout: fixed;
}

.edit-profile .info_value {
	border: 2px solid #5193a3;
	border-radius: 0 6px 6px 0;
	background-clip: padding-box;
	background-color: #fff;
	box-shadow: inset 0 0 0 rgba(19, 19, 19, 0.15);
	padding-top: 8px;
	padding-bottom: 4px;
	position: relative;
}

.edit-profile input[type="submit"] {
	width: 192px;
}

.edit-profile .info_label {
	padding-top: 8px;
	padding-bottom: 4px;
	width: 173px;
}

.edit_icon {
	background: url("../../img/pencil.png");
	height: 22px;
	width: 22px;
	position: absolute;
	top: 2px;
	right: -27px;
}

.firefox .edit_icon {
	position: relative;
	left: 525px;
	margin-top: -22px;
	top: -2px;
}

.info_value.error {
	border: 2px solid #ef6f6f;
}

/*
* DASHBOARD
*/
.dashboard .patient_view_profile_content {
	margin-left: 174px;
	margin-right: 0;
}

.dashboard .appointmens_header {
	color: #5395a7;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 1px 3px #fff;
}

.dashboard .btn_gray_new {
	width: 130px;
}

.btn_gray_new {
	border: 1px solid #c3c3c3;
	border-radius: 3px;
	background-clip: padding-box;
	background-color: #e6e6e6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.27);
	background-image: -webkit-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
	background-image: -moz-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
	background-image: -o-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
	background-image: linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
	color: #6b6b6b;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 -1px 0 white;
	height: 33px;
	padding-left: 12px;
	padding-right: 12px;
}

.btn_gray_new:hover {
	background-image: -webkit-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
	background-image: -moz-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
	background-image: -o-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
	background-image: linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
}

.booking_row a {
	color: #5294a3;
	font-size: 14px;
	text-decoration: none;
	white-space: nowrap;
	max-width: 200px;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
}

.booking_row {
	text-align: left;
	height: 37px;
}

.dashboard .grey_normal span.red {
	color: #4d4d4d !important;
	font-family: sans-serif !important;
	font-size: 14px !important;
	font-weight: normal !important;
}

/*
* EDIT PROFILE
*/
.change_pwd_label {
	display: inline-block;
	width: 107px;
	text-align: right;
	padding-right: 6px;
	margin-bottom: 19px;
}

.insurance_select label {
	display: inline-block;
	vertical-align: middle;
	float: inherit;
}

.insurance_select input {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	height: auto;
	float: inherit;
}

/*
* REGISTER
*/
.account-info {
	float: right;
	top: 49px;
	position: absolute;
	color: #555553;
	font-size: 15px;
	font-weight: bold;
	right: 40px;
}

.account-info a, .terms a {
	color: #5496a7;
}

.terms a {
	text-decoration: none;
}

.register .hotline-text {
	margin-top: 22px !important;
	margin-bottom: 22px !important;
}

.terms label {
	position: relative;
	left: 7px;
	width: 292px;
	text-align: left;
}

.input-bd {
	position: relative;
	left: -61px;
}

.radio_buttons {
	color: #636363;
	font-size: 13px;
	width: 133px;
	position: relative;
	left: 71px;
}

.radio_buttons label {
	display: block;
	width: 100px;
	text-align: left;
	float: left;
	position: relative;
	left: 7px;
	top: -1px;
}

.radio_buttons input {
	width: auto;
	height: auto;
	float: left;
}

.radio_buttons div {
	width: auto;
	height: 20px;
}

.label, label {
	color: #636363;
	font-size: 13px;
}

.terms {
	position: relative;
	left: 71px;
	margin-top: 10px;
	height: 33px;
}

.terms input {
	width: auto;
	float: left;
	position: relative;
	top: -7px;
}

.input_day, .input_month, .input_year {
	width: 34px;
	text-align: center;
	padding: 0px;
}

.input_year {
	width: 60px;
}

.error-message.terms {
	top: 9px;
	right: 47px;
	color: #e90f0f;
	font-size: 13px;
	text-shadow: 0 1px 3px #fff;
	width: 144px;
	display: inline-block;
	margin-top: 0;
}

.register_container select {
	width: 100px;
	margin-left: 50px;
	font-size: 13px;
}

.patient_reset_password .error {
	margin-bottom: 10px;
}

.patient_reset_password .subHeader {
	color: #4d97aa;
	font-size: 22px;
	margin: 0 auto;
	width: 358px;
	border-bottom: 1px solid #c8c8c8;
	margin-top: 45px;
	margin-bottom: 4px;
	padding-bottom: 3px;
}

.insurance_container span {
	vertical-align: top;
	position: relative;
	top: 7px;
}

.insurance_container .options {
	display: inline-block;
	width: 156px;
	margin-right: -54px;
	text-align: left;
	margin-left: 12px;
}

.insurance_container input {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	height: auto;
}

.insurance_container label {
	display: inline-block;
	vertical-align: middle;
	float: inherit;
}

.insurance_container {
	margin-bottom: 10px;
}

#patient-account {
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #efefef));
	background: -webkit-linear-gradient(top, #fff, #efefef);
	background: -moz-linear-gradient(top, #fff, #efefef);
	background: -o-linear-gradient(top, #fff, #efefef);
	background: linear-gradient(top, #fff, #efefef);
}
#patient-account .top-profile {
	border-bottom: 0;
}
#patient-account .patient_view_profile_content,
#patient-account .patient_right_content {
	overflow: hidden;
	margin: 0;
	padding: 20px;
	background: white;
	border-top: 1px solid #c8c8c8;
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	*zoom: 1;
}
#patient-account .patient_right_content {
	position: relative;
	min-height: 350px;
}
#patient-account .patient_right_content #progress-bar-container {
	position: absolute;
	width: 252px;
	right: 20px;
	top: 15px;
}
#patient-account .patient_right_content #progress-bar-container .text {
	text-align: right;
	font-size: 11px;
	text-transform: uppercase;
}
#patient-account .patient_right_content #progress-bar-container .progress-bar {
	height: 15px;
	margin-top: 5px;
	border-radius: 2px;
	border: 1px solid #c2c2c2;
	background: #d9d9d9;
}
#patient-account .patient_right_content #progress-bar-container .progress-bar .bar {
	overflow: hidden;
	float: left;
	width: 49px;
	height: 100%;
	border-left: 1px solid #e7e7e7;
	*zoom: 1;
}
#patient-account .patient_right_content #progress-bar-container .progress-bar .bar.filled {
	background: #87b400;
}
#patient-account .patient_right_content #progress-bar-container .progress-bar .bar:first-child {
	border: 0;
}
#patient-account .patient_right_content #progress-bar-container #progress-bar-popup {
	position: relative;
	display: none;
	z-index: 1;
	width: 240px;
	padding: 15px;
	background: white;
	top: 7px;
	right: 7px;
	-webkit-box-shadow: 0 0 9px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 9px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 9px 5px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	
}
#patient-account .patient_right_content #progress-bar-container #progress-bar-popup:before {
	content: "\00a0";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: -24px;
	left: 117px;
	bottom: auto;
	border-width: 12px;
	border-style: solid;
	border-color: transparent transparent white transparent;
}
#patient-account .patient_right_content #progress-bar-container #progress-bar-popup:after {
	content: "\00a0";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: -24px;
	left: 117px;
	bottom: auto;
	border-width: 12px;
	border-style: solid;
	border-color: transparent transparent white transparent;
}
#patient-account .patient_right_content #progress-bar-container #progress-bar-popup:after {
	-webkit-filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.3));
}
#patient-account .patient_right_content #progress-bar-container #progress-bar-popup li {
	padding: 0;
	padding-left: 18px;
	padding-top: 10px;
	height: 22px;
	position: relative;
}
#patient-account .patient_right_content #progress-bar-container #progress-bar-popup li .bullet {
	position: absolute;
	left: 0;
	top: 10px;
}
#patient-account .patient_right_content #progress-bar-container #progress-bar-popup li.done {
	color: #649614;
}
#patient-account .patient_right_content #progress-bar-container #progress-bar-popup li.done .bullet {
	background: url(/static/img/patient-registration/checkmark.png);
	width: 13px;
	height: 14px;
}
#patient-account .patient_right_content #progress-bar-container #progress-bar-popup .text {
	text-transform: none;
	text-align: left;
	font-size: 14px;
}
#patient-account .patient_right_content #progress-bar-container #progress-bar-popup .text a {
	text-decoration: none;
	color: #5294a3;
}

#patient-account .dashboard_left_panel {
	padding-left: 15px;
	float: none;
	font-size: 0;
	position: relative;
	z-index: 2;
}
#patient-account .dashboard_left_panel > div {
	display: inline-block;
	width: auto;
	height: 32px;
	margin-right: 5px;
}
#patient-account .dashboard_left_panel > div.active {
	background: white;
}
#patient-account .dashboard_left_panel > div.active a {
	border-bottom: 0;
	background: white;
	height: 20px;
}

#patient-account .dashboard_left_panel > div a {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #efefef));
	background: -webkit-linear-gradient(top, #fff, #efefef);
	background: -moz-linear-gradient(top, #fff, #efefef);
	background: -o-linear-gradient(top, #fff, #efefef);
	background: linear-gradient(top, #fff, #efefef);
	border: 1px solid #e2e2e2;
	box-shadow: none;
	color: #5294a3;
	margin: 0;
	text-shadow: none;
	font-size: 16px;
}
#patient-account .navigation.level-2 {
	padding-bottom: 30px;
	border-bottom: 1px solid #c8c8c8;
	margin-bottom: 30px;
	margin-top: 10px;
}
#patient-account .navigation.level-2 > a {
	font-size: 14px;
	color: #5294a3;
	text-decoration: none;
	display: inline-block;
	width: 175px;
}
#patient-account .navigation.level-2 > a.active {
	color: black !important;
	font-weight: bold;
}
#patient-account .table-heading {
	background: #5294a3;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: white;
	font-weight: bold;
	padding: 0 10px;
}
#patient-account table {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 14px;
}
#patient-account table th, #patient-account table td {
	padding: 5px;
}
#patient-account table .has-tooltip {
	color: #007b9a;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
}
#patient-account table thead {
	border-bottom: 1px solid #bebebe;
	height: 20px;
}
#patient-account table thead th {
	font-weight: bold;
}
#patient-account table tbody tr {
	height: 40px;
}
#patient-account table tbody tr.odd {
	background: #f1f1f1;
}

/* TOOLTIP */
.patient-account-table.ui-tooltip,
.patient-account-table .arrow:after {
	background: white;
	border: 2px solid white;
}
.patient-account-table.ui-tooltip {
	padding: 10px 20px;
	color: black;
	border-radius: 20px;
	font: 14px "Helvetica Neue", Sans-Serif;
	box-shadow: 0 0 7px black;
}
.patient-account-table .arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
	background: none;
}
.patient-account-table .arrow.top {
	top: -16px;
	bottom: auto;
}
.patient-account-table .arrow.left {
	left: 20%;
}
.patient-account-table .arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -6px black;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	tranform: rotate(45deg);
}
.patient-account-table .arrow.top:after {
	bottom: -20px;
	top: auto;
}

#no-code {
	height: 200px;
	margin-bottom: 50px;
}
#no-code > div {
	height: 100%;
	width: 300px;
	padding: 17px 19px;
	border: 10px solid white;
}
#no-code .strong {
	font-weight: bold;
}
#no-code .left {
	position: relative;
	padding: 18px 20px;
	background-color: white;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 10px solid #999999;
}
#no-code .left .grey-block {
	background: #999999;
	font-size: 24px;
	font-weight: bold;
	color: white;
	padding: 10px;
	position: absolute;
	bottom: 10px;
	left: 20px;
	right: 20px;
	text-align: center;
}
#no-code .left > .triangle {
	position: absolute;
	bottom: 10px;
	right: -40px;
	margin: 0;
	border-top: 20px solid transparent;
	border-left: 20px solid white;
	border-right: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-width: 22px;
	padding: 0;
	width: 0;
	height: 0;
}
#no-code .left > .triangle-border {
	right: -57px;
	border-left-color: #999999;
	border-width: 25px;
	bottom: 7px;
}
#no-code .right {
	float: right;
	width: 280px;
	padding-right: 170px;
	padding-left: 0;
	background: url(/static/img/money-money-money.png);
	background-size: contain;
	background-position-y: top;
	background-position-x: 242px;
	background-repeat: no-repeat;
	position: relative;
}
#no-code .right > a {
	border: 1px solid #718f31;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background-color: #e6e6e6;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px, rgba(255, 255, 255, 0.27) 0 1px 1px inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px, rgba(255, 255, 255, 0.27) 0 1px 1px inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px, rgba(255, 255, 255, 0.27) 0 1px 1px inset;
	background: "", -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #59830b), color-stop(49%, #699d17), color-stop(50%, #71ab19), color-stop(96%, #7fbf1b), color-stop(100%, #99cb45));
	background: "", -webkit-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	background: "", -moz-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	background: "", -o-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	background: "", linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	background-repeat: "", repeat;
	background-position: "", top left;
	background-size: "", 100% 100%;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(69, 97, 14, 0.65);
	background-color: #71ab19;
	display: block;
	text-decoration: none;
	padding: 10px 0;
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 280px;
}

#fb-root {
	position:fixed;
	top:0 !important;
	left:0 !important;
}
