@import "../../../static/old-css/main.css" ;
@import "../../../static/old-css/reset-min.css";
@import "../default.css";
@import "../style.css" ;
@import "../main/login.css" ;
@import "home.css" ;
@import "profile.css" ;
@import "register.css" ;

@import "../css-arrow";

.btn_green{
    color: white;
    text-shadow: none;
}
#page-main{
    padding-top: 29px;
}

#forgot_password span{
    margin-bottom: 12px;
    display: block;
}
.login_container #forgot_email, .login_container #forgot_password {
    border-radius: 8px; /* border radius */
    border: none;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: rgba(83, 149, 167, .11); /* layer fill content */
    margin-top: 20px;
    text-align: center;
    color: #565655;
    font-size: 13px;
    text-shadow: 0 1px 3px #fff;
    font-family: Helvetica;
    padding-top: 12px;
    padding-bottom: 16px;
    width: 90%;
    margin: 0 auto;
    margin-top: 23px;
}


.login_container, .register_container{
    width: 460px;
    //height: 314px;
    border: none;
    padding-bottom: 39px;
    border-radius: 8px; /* border radius */
    -moz-border-radius: 8px; /* border radius */
    -webkit-border-radius: 8px; /* border radius */
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    box-shadow: 0 0 5px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13); /* outer glow and inner glow */
    -webkit-box-shadow: 0 0 10px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13);
    -moz-box-shadow: 0 0 10px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13);
    box-shadow: 0 0 10px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13);
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    margin-top: 45px;
    behavior: url(/ngs/js/lib/PIE/PIE.htc);

}

.v8.ie .login_container, .v8.ie .register_container{
    background:#fbfcfd;
}

.login_container h1, .register_container h1{
    width: 223px;
    height: 44px;
    background: url(../../img/bg-login.png);
    color: #5395a7;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    top: -12px;
    position: relative;
    padding-top: 9px;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Rokkitt', serif;
}

#page-main .page-container .page-wrapper{
    -moz-box-shadow: 0 0 1px #888;
    -webkit-box-shadow: 0 0 1px #888;
    box-shadow: 0 0 1px #888;
}

form{
    text-align: center;
}
.input_text, .input_password, input{
    padding: 0px 0px 0px 6px;
    width: 350px;
    height: 32px;
    -webkit-border-radius: 4px 5px 5px 4px/4px 4px 5px 5px;
    -moz-border-radius: 4px 5px 5px 4px/4px 4px 5px 5px;
    border-radius: 4px 5px 5px 4px/4px 4px 5px 5px;
    background-color: #fff;
    border: solid 1px #b2c4d4;
    background-image: -webkit-linear-gradient(bottom, rgba(90,151,167,.04), rgba(255,255,255,.04) 42%);
    background-image: -moz-linear-gradient(bottom, rgba(90,151,167,.04), rgba(255,255,255,.04) 42%);
    background-image: -o-linear-gradient(bottom, rgba(90,151,167,.04), rgba(255,255,255,.04) 42%);
    background-image: -ms-linear-gradient(bottom, rgba(90,151,167,.04), rgba(255,255,255,.04) 42%);
    background-image: linear-gradient(to top, rgba(90,151,167,.04), rgba(255,255,255,.04) 42%);
    color: #333; /* text color */
    font-family: "Helvetica";
    font-size: 13px;
    text-shadow: 0 1px 3px #fff; /* drop shadow */
}

.input_text.error{
    border: 1px solid #ef6f6f;
    opacity: 1;
}



::-webkit-input-placeholder {
    opacity: .4; /* layer alpha */
    color: #333; /* text color */
    font-family: "Helvetica";
    font-size: 13px;
    text-shadow: 0 1px 3px #fff; /* drop shadow */
}

:-moz-placeholder { /* Firefox 18- */
    opacity: .4; /* layer alpha */
    color: #333; /* text color */
    font-family: "Helvetica";
    font-size: 13px;
    text-shadow: 0 1px 3px #fff; /* drop shadow */
}

::-moz-placeholder {  /* Firefox 19+ */
    opacity: .4; /* layer alpha */
    color: #333; /* text color */
    font-family: "Helvetica";
    font-size: 13px;
    text-shadow: 0 1px 3px #fff; /* drop shadow */
}

:-ms-input-placeholder {
    opacity: .4; /* layer alpha */
    color: #333; /* text color */
    font-family: "Helvetica";
    font-size: 13px;
    text-shadow: 0 1px 3px #fff; /* drop shadow */
}

form p {
    margin-bottom: 5px;
}

.error::-webkit-input-placeholder, .error input::-webkit-input-placeholder {
    opacity: 1; /* layer alpha */
    color: #e90f0f; /* text color */
    font-family: "Helvetica";
    font-size: 13px;
    text-shadow: 0 1px 3px #fff; /* drop shadow */
}



.error:-moz-placeholder, .error input::-moz-input-placeholder { /* Firefox 18- */
    opacity: 1; /* layer alpha */
    color: #e90f0f; /* text color */
    font-family: "Helvetica";
    font-size: 13px;
    text-shadow: 0 1px 3px #fff; /* drop shadow */
}

.error:-ms-input-placeholder, .error input::-ms-input-placeholder {
    opacity: 1; /* layer alpha */
    color: #e90f0f; /* text color */
    font-family: "Helvetica";
    font-size: 13px;
    text-shadow: 0 1px 3px #fff; /* drop shadow */
}
.error-message{
    position: absolute;
    top: 9px;
    right: 47px;
    color: #e90f0f; /* text color */
    font-family: "Helvetica";
    font-size: 13px;
    text-shadow: 0 1px 3px #fff; /* drop shadow */
}
.forgot_password, .forgot_email{
    color: #333;
    font-family: "Helvetica";
    font-size: 13px;
    text-shadow: 0 1px 3px #fff;
    width: 358px;
    margin: 0 auto;
    text-align: left;
    padding-left: 8px;
    margin-bottom: 21px;
}

.forgot_password a, .forgot_email a{
    text-decoration: none;
    color: #5d9cac;
}

.hotline-text{
    text-align: center;
    float: none;
    color: #555553;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bold;
    margin-top: -7px;
    margin-bottom: -2px;
}

.hotline-text a{
    color: #4d97aa;
    text-decoration: none;
}

.hotline-text span{
    color: #555554;
    font-size: 12px;
    font-weight: normal;
}

.bottom-text{
    color: #555;
    font-family: "Helvetica";
    font-size: 14px;
    text-shadow: 0 1px 3px #fff;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 27px;
}

.bottom-text a{
    color: #5496a7;
    text-decoration: none;
    font-weight: bold;
}


.login_container #forgot_email_form #submit_button,
{
    padding-left: 16px;
    padding-right: 16px;
    height: 35px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #609e1a;
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,.39);
    -moz-box-shadow: inset 0 1px rgba(255,255,255,.39);
    box-shadow: inset 0 1px rgba(255,255,255,.39);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.12), rgba(255,255,255,.12));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.12), rgba(255,255,255,.12));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.12), rgba(255,255,255,.12));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.12), rgba(255,255,255,.12));
    background-image: linear-gradient(to top, rgba(0,0,0,.12), rgba(255,255,255,.12));
    border: none;
    color: #fff; /* text color */
    font-family: "Helvetica";
    font-size: 15px;
    font-weight: bold;
    text-shadow: none;
}


.login_container #forgot_email_form #submit_button:active,
.register_container #submit_button:active,
.edit-profile-button:active
{
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.12), rgba(255,255,255,.12));
    background-image: -moz-linear-gradient(top, rgba(0,0,0,.12), rgba(255,255,255,.12));
    background-image: -o-linear-gradient(top, rgba(0,0,0,.12), rgba(255,255,255,.12));
    background-image: -ms-linear-gradient(top, rgba(0,0,0,.12), rgba(255,255,255,.12));
    background-image: linear-gradient(to bottom, rgba(0,0,0,.12), rgba(255,255,255,.12));
    text-shadow: none;
}

#submit_button{
    margin-top: 15px;
}

.patient-footer{
    background: #f1f1f1;
    width: 929px;
    margin: 0px !important;
    border-radius: 0 0 8px 8px;
    background-image: url(../../img/rechteck.png);
    background-repeat: no-repeat;
    height: 53px;
    background-position:0px -10px;
    padding-left: 28px;
}

.patient-footer a{
    color: #5496a7;
    font-size: 12px !important;
    font-weight: normal;
}

.patient-footer li{
    margin-right: 10px !important;
}

#page-footer{
    display: none;
}

.page-container{
    margin-bottom: 70px;
}


.mozilla select, .safari select {
    height: 26px;
    display: block;
    -webkit-appearance: menulist-button;
    border: 1px solid #c3c3c3;
    border-radius: 13px;
    background-clip: padding-box;
    background-color: #999;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.27);
    background-image: -webkit-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    color: #6b6b6b;
    font-family: "Arial";
    font-size: 13px;
    text-shadow: 0 -1px 0 #fff;
}

/*error messages*/
/* LOGIN-PAGE ERROR */
.login_error_message, .error_message {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 6px 5px;
    width: 348px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}
.login_error_message.error, .error_message.error { color: #999; border-color: #FDE4E1; background-color: #FDE4E1; }

.register_button{
    width: 317px;
    margin: 0 auto;
    margin-top: 30px;
    text-decoration: none;
}

.light_grey_italic{
    color: #636363;
    font-family: "Helvetica";
    font-size: 13px;
    font-style: italic;
    opacity: .8;
}


body{
    font-family: "Arial";
}
strong{
    font-weight: bold;
}
/*
*REVIEW DOCTOR
*
*
*/
.subHeader{
    color: #5193a3;
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid #c8c8c8;
    width: 100%;
    padding-bottom: 5px;
    text-align: left;
}
.review-doctor .patient_right_content{
    width: 741px;
    display: inline-block;
}

.dashboard_left_panel img{
    background-color: #fff;
    padding: 3px;
    -ms-box-shadow: 0px 2px 5px #ccc;
    box-shadow: 0px 2px 5px #ccc;
}
.rate_container{
    margin-top: 30px;
}
.rate_container .label{
    color: #5193a3; /* text color */
    font-family: "Arial";
    font-size: 20px;
    width: 100%;
    text-align: left;
}

.rate_container div{
    color: #4d4d4d; /* text color */
    font-family: "Arial";
    font-size: 14px;
}

.star{
    width: 170px !important;
    margin-top: 5px;
    display: inline-block;
}

.review-doctor textarea{
    border-radius: 6px; /* border radius */
    -moz-border-radius: 6px; /* border radius */
    -webkit-border-radius: 6px;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    box-shadow: inset 0 1px 0 rgba(19,19,19,.15); /* inner shadow */
    -moz-box-shadow: inset 0 1px 0 rgba(19,19,19,.15); /* inner shadow */;
    border: none;
    width: 700px;
    height: 130px;
    max-width: 720px;
    padding: 10px;
}

.review-doctor .error_message.error{
    position: relative;
    top: 5px;
    vertical-align: top;
    display: inline-block;
}

/*
*HOME
*
*
*/

.dashboard_menu_item {
    border-bottom: 2px solid black;
    width: 100%;
    height: 30px;
    position: relative;
}

.dashboard_left_panel {
    float: left;
    margin-top: 22px;
    /*width: 200px;
    padding-top: 20px;
    float: left;
    margin: 10px;*/
}
.dashboard_left_panel a{
    margin-bottom: 14px;
    display: block;
    border-radius: 14px;
    background-clip: padding-box;
    background-color: #5193a3;
    box-shadow: inset 0 -1px 0 #376b77;
    background-image: -webkit-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
    background-image: linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
    background-image: -moz-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
    color: #fff;
    font-family: "Arial";
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0 -1px 0 rgba(0,0,0,.35);
    text-align: center;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 30px;
    padding-left: 30px;
    width: auto;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6ba5b3', EndColorStr='#3f7f8f');

}

.dashboard_left_panel a:active{
    background-image: -webkit-linear-gradient(top, #3f7f8f 0%, #6ba5b3 100%);
    background-image: linear-gradient(top, #3f7f8f 0%, #6ba5b3 100%);
    background-image: -moz-linear-gradient(top, #3f7f8f 0%, #6ba5b3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3f7f8f', EndColorStr='#6ba5b3');

}

.left_menu_container {
    float: left;
    position: relative;
    width: 100%;
}
.dashboard_menu_item_a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3px;
}
.dashboard_menu_item_a:hover
{
    background-color:#6aa84f;
}
.patient_view_profile_content {
    /*margin: 10px 10px 100px 25px;
    border: 2px solid green;
    padding-right: 25px;*/
    position: relative;
    overflow: hidden;
    margin: 22px;
    margin-left: 136px;
}
.profile_view_fields_header {
    color: #3371a7;
    font-weight: bold;
    margin-left: 20px;
    margin-top:20px;
    float: left;
}
.profile_view_fields_body
{
    margin-left: 20px;
    margin-top:5px;
    color: black;

}

.appointmens_header{
    color: #5395a7;
    font-family: 'Rokkitt';
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 9px;
    display: block;
}

td.head{
    font-family: Helvetica;
    color: #565655;
    font-size: 14px;
    font-weight: bold;
    background: none;
}

tr.head{
    border-bottom: 1px solid #bebebe;
    box-shadow: 0 1px 0 #fff;
    height: 28px;
}

.info_label{
    border-radius: 6px 0px 0px 6px;
    background-clip: padding-box;
    background-color: #d9d9d9;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.06);
    background-image: linear-gradient(bottom, rgba(19,19,19,.05) 0%, rgba(255,255,255,.05) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(19,19,19,.05) 0%, rgba(255,255,255,.05) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(19,19,19,.05) 0%, rgba(255,255,255,.05) 100%);
    olor: #4d4d4d;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
    width: 185px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 6px;
}

.info_value{
    border-radius: 0px 6px 6px 0px; /* border radius */
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    box-shadow: inset 0 1px 0 rgba(19,19,19,.15); /* inner shadow */
    color: #4d4d4d; /* text color */
    font-family: "Helvetica";
    font-size: 14px;
    text-shadow: 0 1px 3px #fff;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 6px;
    width: 511px;
}

.info_table{
    position: relative;
    border-collapse: separate;
    border-spacing: 0 13px;
    margin-top: -12px;
}
.info_table tr{
    position: relative;
}

/*
*PROFILE
*
*
*
*/
.doctor_manage_profile_content {
    margin: 10px 10px 100px 25px;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
    padding-right: 25px;
}

.profile_manage_fields_header {
    color: #3371a7;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}
.profile_manage_textareas {
    margin: 5px 10px 5px 10px;
    border: 1px solid black;
    position: relative;
    resize: none;
    width: 100%;
    height: 60px;
    clear: both;
}
.doc_profile_submit_buuton {
    background-color: #6aa040;
    position: absolute;
    padding: 10px 30px;
    right: 20px;
    bottom: 30px;
    box-shadow: 3px 3px black;
    border: 1px solid black;
}
.profile_manage_fields_header .field-header {
    padding-right: 25px;
    background-image: url('../../img/question.jpg');
    background-repeat: no-repeat;
    min-height: 23px;
    float: right;
    margin-left: 5px;
    cursor: pointer;
}

.edit_textfield{
    height: 70px;
    width: 200px;
    padding: 14px 12px;
}

.edit_input_date{
    width: 40px;
    padding: 14px 12px;
    border: 1px solid #b6b6b6 !important;
    margin-top: -1px;
    margin-bottom: -1px;
    text-align: center;
}

.edit_input_email{
    width: 200px;
    padding: 14px 12px;
}

.error_pan{
    color: red;
}
.profile-title{
    color: #5193a3; /* text color */
    font-family: "Arial";
    font-size: 34px;
    text-shadow: 0 1px 0 rgba(255,255,255,.6); /* drop shadow */

}
.logged_in_container{
    position: relative;
    margin-top: 22px;
    background: #F5F4F4;
    background-image: url(../../img/rechteck.png);
    background-repeat: no-repeat;
    background-position: 0px -9px;
    padding: 20px 30px 30px 30px;
}

.top-profile{
    border-bottom: 1px dashed #bebebe;
    box-shadow: 0 1px 0 #fff;
    height: 52px;
}

.top-profile a{
    font-size: 14px;
    font-weight: bold;
    position: relative;
    padding: 0px;
    margin: 0px;
    color: #555;
    text-decoration: none;
    top: 19px;
    font-family: helvetica;
}

.edit-profile form{
    text-align: left;
}

.edit-profile .info_table{
    width: 728px;
}

.edit-profile textarea, .edit-profile input[type="text"]{
    padding: 0px;
    margin: 0px;
    height: 16px;
    border: none;
    width: 100%;
    resize: none;
    max-width: 100%;
    background: none;
}

.edit_input_date{
    width:40px !important;

}

.edit-profile #change_password_button{
    margin-right: 14px;
    background: none;
    border: none;
    width: auto;
    color: #5294a3;
    font-size: 14px;
    font-family: helvetica;
    cursor: pointer;
    padding: 0px;
}

.edit-profile input[name="password"], .edit-profile input[name="new_password"]{
    width: 340px;
}
.edit-profile table{
    table-layout: fixed;
}
.edit-profile .info_value{
    border: 2px solid #5193a3; /* stroke */
    border-radius: 0px 6px 6px 0px; /* border radius */
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    box-shadow: inset 0 0 0 rgba(19,19,19,.15); /* inner shadow */
    padding-top: 8px;
    padding-bottom: 4px;
    position:relative;
    /*display: inline-block;
    width: 507px;*/
}
.edit-profile input[type="submit"]{
    width: 192px;
}
.edit-profile .info_label{
    padding-top: 8px;
    padding-bottom: 4px;
    width: 173px;
    /*display:inline-block;
    height: 100%;*/
}

.edit_icon {
    background: url('../../img/pencil.png');
    height: 22px;
    width: 22px;
    position: absolute;
    top: 2px;
    right: -27px;
}

.firefox .edit_icon{
    position: relative;
    left: 525px;
    margin-top: -22px;
    top: -2px;
}

.info_value.error{
    border: 2px solid #ef6f6f; /* stroke */

}

/*DASHBOARD
*
*
*
*
*
*/
.dashboard .patient_view_profile_content {
    margin-left: 174px;
    margin-right: 0px;
}

.dashboard .appointmens_header{
    color: #5395a7; /* text color */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 1px 3px #fff; /* drop shadow */
    font-family: Arial;
}
.dashboard .btn_gray_new{
    width: 130px;
}

.btn_gray_new{
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #e6e6e6;
    box-shadow: 0 1px 1px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27);
    background-image: -webkit-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: -moz-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: -o-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    color: #6b6b6b;
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 -1px 0 #fff;
    height: 33px;
    padding-left: 12px;
    padding-right: 12px;
}

.btn_gray_new:hover{
    background-image: -webkit-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: -moz-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: -o-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
}

.booking_row a{
    color: #5294a3;
    font-size: 14px;
    font-family: helvetica;
    text-decoration: none;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;

}

.booking_row{
    text-align: left;
    height: 37px;
}

.dashboard .grey_normal span.red{
    color: #4d4d4d !important; /* text color */
    font-family: "Arial" !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

/*
*
*EDIT PROFILE
*
*
*/
.change_pwd_label{
    display: inline-block;
    width: 107px;
    text-align: right;
    padding-right: 6px;
    margin-bottom: 19px;
}

.insurance_select label{
    display: inline-block;
    vertical-align: middle;
    float: inherit;
}

.insurance_select input{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    float: inherit;
}

/*
*REGISTER
*
*
*/


.account-info{
    float: right;
    top: 49px;
    position: absolute;
    right: 0px;
    color: #555553; /* text color */
    font-family: "Helvetica Neue";
    font-size: 15px;
    font-weight: bold;
    right: 40px;
}
.account-info a, .terms a{
    color: #5496a7;
}

.terms a{
    text-decoration: none;
}

.register .hotline-text{
    margin-top: 22px !important;
    margin-bottom: 22px !important;
}

.terms label{
    position: relative;
    left: 7px;
    width: 292px;
    text-align: left;
}

.input-bd{
    position: relative;
    left: -61px;
}
.radio_buttons{
    color: #636363; /* text color */
    font-family: "Helvetica";
    font-size: 13px;
    width: 133px;
    position: relative;
    left: 71px;
}
.radio_buttons label{
    display: block;
    width: 100px;
    text-align: left;
    float: left;
    position: relative;
    left: 7px;
    top: -1px;
}
.radio_buttons input{
    width: auto;
    height: auto;
    float: left;
}
.radio_buttons div{
    width: auto;
    height: 20px;

}

.label, label{
    color: #636363; /* text color */
    font-family: "Helvetica";
    font-size: 13px;
}

.terms{
    position: relative;
    left: 71px;
    margin-top: 10px;
    height: 33px;
}



.terms input{
    width: auto;
    float: left;
    position: relative;
    top: -7px;
}

.input_day, .input_month, .input_year{
    width: 34px;
    text-align: center;
    padding: 0px;
}
.input_year{
    width: 60px;
}

.error-message.terms{
    position: initial;
    top: 9px;
    right: 47px;
    color: #e90f0f;
    font-family: "Helvetica";
    font-size: 13px;
    text-shadow: 0 1px 3px #fff;
    width: 144px;
    display: inline-block;
    margin-top:0px;
}

.register_container select{
    width: 100px;
    margin-left: 50px;
    font-family: arial;
    font-size: 13px;
}

.patient_reset_password .error{
    margin-bottom: 10px;
}

.patient_reset_password .subHeader
{
    color: #4d97aa;
    font-size: 22px;
    margin: 0 auto;
    width: 358px;
    border-bottom: 1px solid #c8c8c8;
    margin-top: 45px;
    margin-bottom: 4px;
    padding-bottom: 3px;
}

.insurance_container span{
    vertical-align: top;
    position: relative;
    top: 7px;
}

.insurance_container .options{
    display: inline-block;
    width: 156px;
    margin-right: -54px;
    text-align: left;
    margin-left: 12px;

}

.insurance_container input{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
}

.insurance_container label{
    display: inline-block;
    vertical-align: middle;
    float: inherit;
}

.insurance_container{
    margin-bottom: 10px;
}


@import "compass/css3";
@import "compass/utilities/general/clearfix";

$at-blue: rgb(82, 148, 163);
$size-l: 16px;
$size-m: 14px;

$help-red: rgba(255, 0, 0, 0.5);
$help-blue: rgba(0, 0, 255, 0.5);


#patient-account {
    @include background (linear-gradient(top, rgb(255, 255, 255), rgb(239, 239, 239)));

    .top-profile {
        border-bottom: 0;
    }

    .patient_view_profile_content,
    .patient_right_content {
        @include clearfix;
        margin: 0px;
        padding: 20px;
        background: white;
        border-top: 1px solid rgb(200, 200, 200);
        @include single-box-shadow(#cccccc);
    }

    .patient_right_content {
        position: relative;
        min-height: 350px; 

        #progress-bar-container {
            position: absolute;
            width: 252px;
            right: 20px;
            top: 15px;

            .text {
                text-align: right;
                font-size: 11px;
                text-transform: uppercase;
            }
            .progress-bar {
                height: 15px;
                margin-top: 5px;
                border-radius: 2px;
                border: 1px solid rgb(194, 194, 194);
                background: rgb(217, 217, 217);

                .bar {
                    @include clearfix;
                    float: left;
                    width: 49px;
                    height: 100%;
                    border-left: 1px solid rgb(231, 231, 231);

                    &.filled {
                        background: rgb(135, 180, 0);
                    }

                    &:first-child {
                        border: 0;
                    }
                }
            }

            $valid-color: #649614;

            #progress-bar-popup {
                display: none;
                z-index: 1;
                position: absolute;
                width: 240px;
                padding: 15px;
                background: white;
                top: 7px;
                right: 7px; 

                $border-width: 0;
                $arrow-width: 25px;

                @include box-shadow(0px 0px 9px 5px rgba(0, 0, 0, 0.3));
                @include border-radius(4px);
                @include arrow( 'north', white, white, $border-width, -24px, 117px, $arrow-width );
                &:after {
                    -webkit-filter: drop-shadow(0px -4px 4px rgba(0,0,0,0.3));
                }

                li {
                    padding: 0px;
                    padding-left: 18px;
                    padding-top: 10px;
                    height: 22px;
                    position: relative;

                    .bullet {
                        position: absolute;
                        left: 0px;
                        top: 10px;
                    }

                    &.done {
                        color: $valid-color;

                        .bullet {
                            background: url(/static/img/patient-registration/checkmark.png);
                            width: 13px;
                            height: 14px;
                        }
                    }
                }

                .text {
                    text-transform: none;
                    text-align: left;
                    font-size: 14px;

                    a {
                        text-decoration: none;
                        color: $at-blue;
                    }
                }

            }
        }
    }

    /* main navigation bar */
    .dashboard_left_panel {
        padding-left: 15px;
        float: none;
        font-size: 0;

        /* tabs */
        & > div {
            display: inline-block;
            width: auto;
            height: 32px;
            margin-right: 5px;

            &.active {
                position: absolute;
                background: white;

                a {
                    border-bottom: 0;
                    background: white;
                    height: 20px;
                }

                & ~ div {
                    position: relative;
                    left: 176px;
                }

                &:nth-child(1) { 
                    & ~ div { left: 105px; }
                }
                &:nth-child(2) { 
                    & ~ div { left: 186px; }
                }
                &:nth-child(3) { 
                    & ~ div { left: 126px; }
                }
            }

            /* links in the tabs */
            a {
                @include border-radius(0px);
                @include border-top-radius(5px);
                @include background (linear-gradient(top, rgb(255, 255, 255), rgb(239, 239, 239)));

                border: 1px solid rgb(226, 226, 226);
                box-shadow: none;
                color: $at-blue;
                margin: 0;
                text-shadow: none;
                font-size: $size-l;
            }
        }

        /* selected tab over the shadow */
        position: relative;
        z-index: 2;
    }

        .navigation.level-2 {
            padding-bottom: 30px;
            border-bottom: 1px solid rgb(200, 200, 200);
            margin-bottom: 30px;
            margin-top: 10px;

            & > a {
                font-size: 14px;
                color: $at-blue;
                text-decoration: none;
                display: inline-block;
                width: 175px;

                &.active {
                    color: black !important;
                    font-weight: bold;
                }
            }
        }

        .table-heading {
            background: $at-blue;
            height: 40px;
            line-height: 40px;
            font-size: $size-l;
            color: white;
            font-weight: bold;
            padding: 0 10px;
        }

        table {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 50px;
            font-size: $size-m;

            th, td {
                padding: 5px;
            }

            .has-tooltip {
                color: rgb(0, 123, 154);
                font-weight: bold;
                cursor: pointer;
                display: inline-block;
            }

            thead {
                border-bottom: 1px solid rgb(190, 190, 190);
                height: 20px;
                th {
                    font-weight: bold;
                }
            }

            tbody {
                tr {
                    height: 40px;

                    &.odd {
                        background: rgb(241, 241, 241);
                    }
                }
            }

        }
        
}
/* TOOLTIP */
.patient-account-table {
    &.ui-tooltip, 
    .arrow:after {
        background: white;
        border: 2px solid white;
    }
    &.ui-tooltip {
        padding: 10px 20px;
        color: black;
        border-radius: 20px;
        font: bold 14px "Helvetica Neue", Sans-Serif;
        text-transform: uppercase;
        box-shadow: 0 0 7px black;
    }
    .arrow {
        width: 70px;
        height: 16px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        margin-left: -35px;
        bottom: -16px;

        top: initial;
        background: none;
    }
    .arrow.top {
        top: -16px;
        bottom: auto;
    }
    .arrow.left {
        left: 20%;
    }
    .arrow:after {
        content: "";
        position: absolute;
        left: 20px;
        top: -20px;
        width: 25px;
        height: 25px;
        box-shadow: 6px 5px 9px -6px black;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        tranform: rotate(45deg);
    }
    .arrow.top:after {
        bottom: -20px;
        top: auto;
    }
}

@mixin cta-strong($bg-image-url:"", $bg-image-repeat:"", $bg-image-position:"", $bg-image-size:"") {
    border: 1px solid #718f31;
    @include border-radius(7px);
    @include background-clip(padding-box);
    background-color: #e6e6e6;
    @include box-shadow(rgba(black, 0.2) 0 2px 3px, rgba(white, 0.27) 0 1px 1px inset);

    @include background($bg-image-url, linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%));
    background-repeat: $bg-image-repeat, repeat;
    background-position: $bg-image-position, top left;
    background-size: $bg-image-size, 100% 100%;

    color: #fff;
    text-shadow: 0 -1px 0 rgba(69,97,14,.65);
    background-color: #71ab19;
}


#no-code {
    height: 200px;
    margin-bottom: 50px;

    & > div {
        height: 100%;
        width: 300px;
        padding: 17px 19px;
        border: 10px solid white;
    }

    .strong {
        font-weight: bold;
    }

    .left {
        position: relative;
        padding: 18px 20px;
        background-color: white;
        /* easy rounded corners for modern browsers */
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 10px solid rgb(153, 153, 153); 

        .grey-block {
            background: rgb(153, 153, 153);
            font-size: 24px;
            font-weight: bold;
            color: white;
            padding: 10px;
            position: absolute;
            bottom: 10px;
            left: 20px;
            right: 20px;
            text-align: center;
        }

        & > .triangle {
            position: absolute;
            bottom: 10px;
            right: -40px;
            margin: 0;
            border-top: 20px solid transparent;
            border-left: 20px solid white;
            border-right: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-width: 22px;

            padding: 0;
            width: 0;
            height: 0;
            /* ie6 height fix */
            font-size: 0;
            line-height: 0;
             /* ie6 transparent fix */
            _border-right-color: pink;
            _border-left-color: pink;
            _filter: chroma(color=pink);
        }
        & > .triangle-border {
            right: -57px;
            border-left-color: rgb(153, 153, 153);
            border-width: 25px;
            bottom: 7px;
        }
    }
    .right {
        float: right;
        width: 280px;
        padding-right: 170px;
        padding-left: 0px;
        background: url(/static/img/money-money-money.png);
        background-size: contain;
        background-position-y: top;
        background-position-x: 242px;
        background-repeat: no-repeat;
        position: relative;


        & > a {
            @include cta-strong;
            display: block;
            text-decoration: none;
            padding: 10px 0;
            font-size: bold;
            text-align: center;
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 280px;
        }
    }
}


#fb-root {
	position:fixed; 
	top:0 !important;
	left:0 !important;
}
