@import '../jquery-ui.css';

/* UI overrides */
.ui-dialog-title {
	display: none;
}

#calendar_body {
    width: 760px;
    font-family: arial, sans-serif;
}
#calendar {
    font-size: 13px;
}
.calendar_column {
    width: 132px;
    float: left;
    position: relative;
}

#calendar_column_0,
#calendar_column_6 {
    width: 50px;
}

.calendar_left_times {
    width:100%;
    text-align: center;
    float:left;
    background: #f8f8f8;
    border: #cbcbcb solid 1px;
    border-top: 0;
    color: #4d4d4d;
    font-size: 14px;
    font-weight: bold;
	box-sizing: border-box;
}

.calendar_weekday{
    width: 100%;
    height: 60px;
    line-height: 20px;
	padding-top: 10px;
    color: #4d4d4d;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    float: left;
    border-left: 1px solid #fff;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #f7f7f7;
    -moz-box-shadow: 0 0 3px rgba(19,19,19,.25);
    -webkit-box-shadow: 0 0 3px rgba(19,19,19,.25);
    box-shadow: 0 0 3px rgba(19,19,19,.25);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…AiIHdpZHRoPSI3NjEiIGhlaWdodD0iNTAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    background-image: -moz-linear-gradient(bottom, rgba(19,19,19,.07) 0%, rgba(255,255,255,.07) 100%);
    background-image: -o-linear-gradient(bottom, rgba(19,19,19,.07) 0%, rgba(255,255,255,.07) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(19,19,19,.07) 0%, rgba(255,255,255,.07) 100%);
    background-image: linear-gradient(bottom, rgba(19,19,19,.07) 0%, rgba(255,255,255,.07) 100%);
	box-sizing: border-box;
}

#calendar_column_0 .calendar_weekday {
    -moz-border-radius: 6px 0px 0px 6px;
    -webkit-border-radius: 6px 0px 0px 6px;
    border-radius: 6px 0 0 6px;
}

#calendar_column_6 .calendar_weekday {
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

.calendar_time_block{
    width: 100%;
    text-align: center;
    float: left;
    background: #f2f2f2;
    border: #cbcbcb solid 1px;
    border-top: 0;
	box-sizing: border-box;
}

.calendar_time_unit_block{
    width:100%;
    text-align: center;
    float:left;
}

.calendar_appointment_block{
    position: absolute !important;
    width: 132px;
    font-size: 12px;
	cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #5193a3;
    -moz-box-shadow: inset 0 -1px 0 #376b77;
    -webkit-box-shadow: inset 0 -1px 0 #376b77;
    box-shadow: inset 0 -1px 0 #376b77;
	box-sizing: border-box;
	color: #fff;
}

.calendar_booking_block{
    position: absolute !important;
    width: 50%;	
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    text-align: center;
    margin-left: 25%;
}

.calendar_time_input{
    text-align: center;
    width: 65px;
    height: 25px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #f1f1f1;
    -moz-box-shadow: inset 0 1px 0 rgba(19,19,19,.15);
    -webkit-box-shadow: inset 0 1px 0 rgba(19,19,19,.15);
    box-shadow: inset 0 1px 0 rgba(19,19,19,.15);
    border: none;
}

.close_appointment_pop_up{
    cursor: pointer;
    float:right;
}

.resize{
    color: black; 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 5px; 
    cursor: s-resize;
}

span{
    cursor: default;
}

.week_buttons_container {
    padding-bottom: 24px;
    position: relative;
    top: 38px;
    z-index: 100;
    padding-left: 16px;
    padding-right: 16px;
}

.previous_week{
    background-image: url(../../../static/img/prev-week-link-c.png);
    float: left;
    height: 23px;
    width: 14px;
}

.next_week{
    background-image: url(../../../static/img/next-week-link-c.png);
    float: right;
    height: 23px;
    width: 14px;
    position: absolute;
    right: 13px;
}

.appointment_block_header{
    margin: 4px;
    z-index: 15;
	color: #fff !important;
}

div#main.profile-termine.middle-responsiv.profile-edit.profile .appointment_block_header {
	color: #FFFFFF;
}

.calendar_remove_parent{
    cursor: pointer;
    float: right;
    font-weight: bold;
    color: #164752;
    font-size: 15px;
    text-transform: lowercase;
    position: absolute;
    right: 4px;
}

#calendar_body form {
    display: inline-block;
    float: right;
    margin-right: -6px;
    color: #4d4d4d;
    font-family: "Arial";
    font-size: 18px;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
}

#calendar_body .tab {
    color: #d8d8d8 !important;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.35);
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    padding: 5px 12px 9px 12px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #737373;
    -moz-box-shadow: inset 0 -1px 0 #4f4f4f;
    -webkit-box-shadow: inset 0 -1px 0 #4f4f4f;
    box-shadow: inset 0 -1px 0 #4f4f4f;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…AiIHdpZHRoPSIyOTgiIGhlaWdodD0iMjgiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    background-image: -moz-linear-gradient(bottom, #5f5f5f 0%, #898989 100%);
    background-image: -o-linear-gradient(bottom, #5f5f5f 0%, #898989 100%);
    background-image: -webkit-linear-gradient(bottom, #5f5f5f 0%, #898989 100%);
    background-image: linear-gradient(bottom, #5f5f5f 0%, #898989 100%);
    border: none;
}

#calendar_body .tab:nth-child(1) {
    -moz-border-radius: 14px 0 0 14px;
    -webkit-border-radius: 14px 0 0 14px;
    border-radius: 14px 0 0 14px;
    margin-right: -7px;
}

#calendar_body .tab:nth-child(2) {
    -moz-border-radius: 0 14px 14px 0;
    -webkit-border-radius: 0 14px 14px 0;
    border-radius: 0 14px 14px 0;
}

#calendar_body .tab:hover {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDI5OCAyOCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjODk4OTg5IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNWY1ZjVmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyOTgiIGhlaWdodD0iMjgiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    background-image: -moz-linear-gradient(bottom, #898989 0%, #5f5f5f 100%);
    background-image: -o-linear-gradient(bottom, #898989 0%, #5f5f5f 100%);
    background-image: -webkit-linear-gradient(bottom, #898989 0%, #5f5f5f 100%);
    background-image: linear-gradient(bottom, #898989 0%, #5f5f5f 100%);
    color: #fff !important;
}

.popUpForm {
    color: #4d4d4d;
    font-family: "Arial";
    font-size: 13px;
    overflow: hidden;
}

.termin-date{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}

.input_rows td {
    padding-bottom: 8px;
}

.popUpForm input, .popUpForm select{
    position: relative;
    left: -20px;
}

.popUpForm .weekday {
    position: relative;
    top: -2px;
    left: -16px;
}

#meta_navigation {
    margin: 0 auto!important;
    float: none!important;
}

/* ##################################
    CALENDAR-CONTAINER
################################## */
.calendar-container {
	width: 525px;
	margin: 0 auto;
}

.calendar-container .calendar-slide {
	float: left;
}

.need-filter .calendar-container .calendar-slide.odd {
	background: transparent url("/static/img/times-container-bg-disabled.png") no-repeat scroll 0 0;
}

.need-filter .calendar-container .calendar-slide.even {
	background: transparent url("/static/img/times-container-bg-disabled.png") no-repeat scroll -75px 0;
}

.calendar-container .calendar-slide .calendar {
	margin: 4px 0;
	border-right: 1px solid #e7e7e7;
	width: 64px;
	height: 32px;
}

.calendar-container .calendar-slide .calendar.first {
	border-left: 1px solid #e7e7e7;
	width: 63px;
}

.calendar {
	float: left;
	padding: 5px;
	width: 65px;
	text-align: center;
}

.need-filter .calendar {
	color: #aaaaaa;
}

.calendar .day {
	font-size: 11px;
	font-weight: bold;
}

.calendar .date {
	font-size: 12px;
	font-weight: normal;
}

.calendar .time {
	font-size: 13px;
	font-weight: normal;
}

.calendar .time a,
.calendar-next-available a {
	display: block;
	line-height: 17px;
	text-align: center;
	color: #fff !important;
	text-decoration: none;
	margin: 0 auto;
}

.calendar .time a {
	width: 58px;
	margin-bottom: 5px;
	padding: 2px 0 4px 0;
}

.f_go_to_app_week {
	width: 125px !important;
	padding: 2px 0;
	margin-top: 4px !important;
}

/* ##################################
    PROFILE DOCTOR
################################## */
.profile-doctor .provider-calendar-times-container {
	clear: both;
	margin-bottom: 2em;
}

.profile-doctor .provider-container {
	width: 425px;
	float: left;
}

.profile-doctor .provider-container .shadow,
.profile-doctor .calendar-times-container .shadow {
	-moz-box-shadow: 0 5px 4px #ccc;
	-webkit-box-shadow: 0 5px 4px #ccc;
	box-shadow: 0 5px 4px #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 6px;
	clear: both;
}

.profile-doctor .provider-container .border-top {
	width: 425px;
}

.profile-doctor .provider.profile .right {
	width: 255px;
}

.profile-doctor .calendar-times-container {
	width: 475px;
	float: right;
}

.profile-doctor .info-maps-container {
	clear: both;
	margin-bottom: 2em;
}

.profile-doctor .info-maps-container .info-container {
	width: 425px;
	float: left;
}

.profile-doctor .info-maps-container .maps-container {
	width: 475px;
	float: right;
}

.profile-doctor .info-maps-container .maps-container #googlemap {
	height: 240px;
	overflow: hidden;
}

/* provider-message */
/* provider-list / calendar-times */
.profile-doctor .provider-list-header {
	width: 475px;
	margin: 0;
	border-top: 1px solid #c3c3c3;
}

.profile-doctor .provider-list-header .header-prev-link {
	left: 0;
}

.profile-doctor .calendar-container {
	width: 375px;
	left: 50px;
}

.profile-doctor .provider-row {
	margin: 0 0 0 50px;
	border-bottom: none;
}

.profile-doctor .provider-row .times-container {
	width: 375px;
}

.profile-doctor .info-text-container {
	clear: both;
	margin-bottom: 2em;
}
