.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

.terms_container {
    margin: 27px auto -19px auto;
    width: 513px;
}

.register_container {
    width: 770px;
}
.register_container table {
    width: 692px;
    margin: 0 auto;
}
.register_step_title {
    color: #5193a3;
    font-family: "Arial", sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 36px;
}
.register_container #inputs input[type='text'],
.register_container #inputs input[type='password'],
.input-field {
    width: 300px;
    border-radius: 6px;
    background-clip: padding-box;
    background-color: #f1f1f1;
    box-shadow: inset 0 1px 0 rgba(19,19,19,.15);
    height: 21px;
    border: 2px solid transparent;
}

.register_container .error {
    color: #ea5a0b;
	font-family: "Arial", sans-serif;
    font-size: 14px;
    background: none;
    margin-top: -10px;
    margin-bottom: 6px;
}

#location_no {
    margin-left: 30px;
}

.grey_normal {
    color: #4d4d4d;
	font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.grey_bold {
    color: #4d4d4d;
	font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.register_container.step2 {
    padding: 0;
    padding-top: 15px;
}
.register_step_title_2 {
    color: #5193a3;
	font-family: "Arial", sans-serif;
    font-size: 23px;
    border-bottom: 1px solid #c8c8c8;
    display: block;
    padding-bottom: 3px;
    width: 318px;
    left: 1px;
    position: relative;
}
.close_med_spec {
    float: right;
    position: relative;
    left: -8px;
    top: 3px;
}
.grey_normal.treatment_types{
	padding: 8px 10px;
    line-height: 27px;
    font-weight: bold;
    border-bottom: 1px dashed #ccc;
}

.register_container ul{
    margin-top: -10px;
}

.medical_specialty_div{
    margin-bottom: 30px;
}

#show_more{
    color: #4d4d4d;
	font-family: "Arial", sans-serif;
    font-size: 14px;
    display: block;
    margin-top: -25px;
    margin-left: 15px;
}

input[type="checkbox"]{
	-webkit-appearance: none;
     background-image: url(../../img/circle.png);
     background-position: center;
     background-repeat: no-repeat;
     width: 19px;
     height: 16px;
     position: relative;
     top: 7px;
 }

input[type="radio"]{
    -webkit-appearance: none;
    background-image: url(../../img/circle.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 19px;
    height: 16px;
    position: relative;
    top: 7px;
}

input[type="checkbox"]:checked{
    background-image: url(../../img/check.png), url(../../img/circle.png);
    height: 16px;
    width: 19px;
    background-position: center, center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    display: inline-block;

}

input[type="radio"]:checked{
    background-image: url(../../img/dot.png), url(../../img/circle.png);
    height: 16px;
    width: 19px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    display: inline-block;
    background-position: 4px 2px, center;
    background-size: 12px , 16px 16px;

}

.firefox input[type="radio"]{
    top:0;
}

.firefox input[type="checkbox"]{
    top:0;
}


label{
    display:none;
}

.treatment_specialties label {
	display: inline !important;
}

.mozilla select, .safari select{
    height: 26px;
    display: block;
    -webkit-appearance: menulist-button;
    border: 1px solid #c3c3c3;
    border-radius: 13px;
    background-clip: padding-box;
    background-color: #999;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.27);
    background-image: -webkit-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    color: #6b6b6b;
	font-family: "Arial", sans-serif;
    font-size: 13px;
    text-shadow: 0 -1px 0 #fff;
}

.firefox select{
}

.firefox .treatment_types ul{
    margin-top: -4px;

}

.register_container_2{
    width: 327px;
}

.register_container fieldset{
    padding: 0px;
    padding-top: 23px;
}

.button_register.center{
    display: block !important;
    margin: 0 auto !important;
    margin-bottom: 34px !important;
    margin-top: -22px !important;
}

.step2 .button_register{
    margin-top: 12px!important;
    font-weight: normal;
}

.step3 .register_step_title{
    position: relative;
    top: 26px;
}

.step3#main{
    height: 322px;
}

.step3 .submit{
    font-size: 15px;
}

.login .new-grey-button{
    margin: 0 auto;
    margin-top: 36px;
    width: 220px;
}
.login { margin: 60px auto!important; }
#login-maks {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 25px 0;
	max-width: 770px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: 0 0 5px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13);
	-webkit-box-shadow: 0 0 5px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13);
	box-shadow: 0 0 5px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13);
    behavior: url(/ngs/js/lib/PIE/PIE.htc);

}

.v8.ie #login-maks, .v8.ie #login-maks{
    background:#fbfcfd;
}
#login-maks h1 {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
}
#support-box {
	position: absolute;
	top: -1px;
	right: -22px;
	padding: 6px 4px 0px 8px;
	width: 148px;
	height: 48px;
	background-color: #e7e7e7;
	-moz-box-shadow: -2px 2px 2px rgba(13,13,13,.2);
	-webkit-box-shadow: -2px 2px 2px rgba(13,13,13,.2);
	box-shadow: -2px 2px 2px rgba(13,13,13,.2);
}
#support-box:after {
	position: absolute;
	top: 55px;
	right: 1px;
	content: "";
	width: 0;
	height: 0;
	border-color: #555 transparent transparent #555;
	border-style: solid;
	border-width: 10px;
}
	#support-box h6 { margin: 0; color: #555; font-size: 12px; font-weight: bold; }
	#support-box .small-gray { display: block; font-size: 10px; color: #555; }

#inputs input,
.input-field {
    border-radius: 0 6px 6px 0;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: inset 0 1px 0 rgba(19,19,19,.15);
    color: #4d4d4d;
	font-family: "Arial", sans-serif;
    font-size: 14px;
    text-shadow: 0 1px 3px #fff;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 4px;
    width: 511px;
    margin: 0px;
    border: 2px solid #5193a3;
}
#inputs .inputs_container{
    position:relative;
}
#inputs .edit_icon{
    top: 4px;
    right: 78px;
}

.reset-pwd #header{
    margin-bottom: 49px;
}

#actions #doc_login-submit{
    padding-left: 16px;
    padding-right: 16px;
    height: 35px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #609e1a;
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,.39);
    -moz-box-shadow: inset 0 1px rgba(255,255,255,.39);
    box-shadow: inset 0 1px rgba(255,255,255,.39);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.12), rgba(255,255,255,.12));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.12), rgba(255,255,255,.12));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.12), rgba(255,255,255,.12));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.12), rgba(255,255,255,.12));
    background-image: linear-gradient(to top, rgba(0,0,0,.12), rgba(255,255,255,.12));
    border: none;
    color: #fff;
	font-family: "Arial", sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-shadow: none;
    margin-bottom: 50px;
}

.reset-pwd #header h1{
    color: #5193a3;
	font-family: "Arial", sans-serif;
    font-size: 34px;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
    border-bottom: 1px dashed #bebebe;
    box-shadow: 0 1px 0 #fff;
    height: 52px;
    margin-top: 32px;
}

#inputs .info_label, #inputs input{
    display:inline-block;
    vertical-align: top;
    text-align: left;
    margin-bottom: 15px;
}

#actions {}
.lost-link {
    display: inline-block;
    text-align: left;
    color: #5193a3;
	font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
}

.lost-link#login-link{
    margin-right: 9px;
    margin-top: 29px;
    border-right: 1px solid;
    padding-right: 14px;

}

#help-info {
	max-width: 650px;
	color: #444;
}
#help-info p { text-align: center; font-size: 13px; line-height: 16px; }
#help-info b { font-size: 14px; line-height: 20px; }

@media (max-width: 600px) {
	#hotline {
		display: none;
	}
	#support-box {
		display: none;
	}
}

.login .login_form input{
    border-radius: 6px;
    background-clip: padding-box;
    background-color: #f1f1f1;
    box-shadow: inset 0 1px 0 rgba(19,19,19,.15);
    display: block;
    margin: 0 auto 14px auto;
    width: 394px;
    height: 34px;
    border: none;
    padding: 0 0 0 6px;
    color: #333;
	font-family: "Arial", sans-serif;
    font-size: 13px;
    text-shadow: 0 1px 3px #fff;
}

.info_value p{
    margin-top: 0;
    padding-top: 0;
}

.profile #header {
	position: relative;
	display: block;
	margin-top: -20px;
	padding-top: 50px;
	height: 50px;
}

.profile #header h2 { margin: 20px 0 0 15px; }
#optinal-function {
	position: absolute;
	top: 54px;
	right: 0;
	display: block;
	float: right;
	z-index: 50;
	opacity: 0.85;
    border-radius: 14px;
    background-clip: padding-box;
    background-color: #737373;
    box-shadow: inset 0 -1px 0 #4f4f4f;
    background-image: -webkit-linear-gradient(bottom, #5f5f5f 0%, #898989 100%);
    background-image: -moz-linear-gradient(bottom, #5f5f5f 0%, #898989 100%);
    background-image: -ms-linear-gradient(bottom, #5f5f5f 0%, #898989 100%);
    background-image: linear-gradient(bottom, #5f5f5f 0%, #898989 100%);
    width: 100px;
    height: 28px;
    behavior: url(/ngs/js/lib/PIE/PIE.htc);

}

	#optinal-function:hover { cursor: pointer; opacity: 1; }
	#optinal-function .locationName {
		margin: 2px 0;
		padding-bottom: 2px;
		font-size: 12px;
		border-bottom: 1px solid #999;
		color: #999;
	}
	
	#optinal-function .locationName span { display: block; padding: 0 8px; }
	
	#optinal-function .arrow {
        right: -15px;
        content: "";
        background-image: url(../../img/settings-bg.png);
        width: 57px;
        height: 28px;
        position: absolute;
        left: 28px;
        top: 0;
        -webkit-transform: rotate(0deg)!important;
        -moz-transform: rotate(0deg)!important;
        -ms-transform: rotate(0deg)!important;
    }
	
	#item-list {
        background: #fff;
		position: absolute;
		top: 34px;
		right: -14px;
		display: none;
		padding: 8px 0 0 0;
		width: 145px;
		border-radius: 5px;
		background-color: rgba(255, 255, 255, 0.85);
		-moz-box-shadow: 0 1px 4px rgba(81, 147, 163, 0.92);
		-webkit-box-shadow: 0 1px 4px rgba(81, 147, 163, 0.92);
		box-shadow: 0 1px 4px rgba(81, 147, 163, 0.92);
		z-index: 30;
	}
		#item-list:before {
			position: absolute;
			top: -10px;
			right: 27px;
			display: block;
			content: "";
			width: 0;
			height: 0;
			border-color: transparent transparent  #5294a3 transparent;
			border-style: solid;
			border-width: 5px;
			z-index: 40;
		}
		
	#item-list li {
		position: relative;
		display: block;
		width: 100%;
		text-align: right;
	}
	
	#item-list li.last { margin-top: 4px; padding-top: 4px; padding-bottom: 2px; border-top: 1px dashed #999; }
	#item-list li a {
		font-size: 14px;
		display: block;
		padding: 3px 8px;
	}
	
	#item-list li a:hover {
		background-color: rgba(81, 147, 163, 0.60);
		color: #fff !important;
		text-decoration: none;
	}

/* LEFT-PANNEL */
#edit-left_side {
	float: left;
}
	#doctor_dashboard_left_panel img {
		background-color: #fff;
		padding: 3px;
		-ms-box-shadow: 0 2px 5px #ccc;
		box-shadow: 0 2px 5px #ccc;
	}
    #doctor_dashboard_left_panel img:hover {
        border: 1px solid;
        margin-bottom: -2px;
    }
	#edit_menu {
		position: relative;
		display: block;
		margin-top: 10px;
		width: 100%;
		overflow: hidden;
	}
		
	.profile-edit .btn-profile_edit { display: none; }
	.profile-view .btn-profile_view { display: none; }
    #edit_menu a { margin-bottom: 15px; }

/* DOCTORs CONTENT */
#doc-content-main {
	float: left;
	margin-bottom: 45px;
	width: 810px;
	
}
	#general-information h3 {
		font-weight: bold;
	}
	#doctor-information,
	#general-information {
		position: relative;
		display: block;
		height: 100%;
		overflow: hidden;
	}	
	#doctor-information li,
	#general-information li {
		position: relative;
		display: block;
		width: 100%;
		border-bottom: 1px solid #bebebe;
		overflow: hidden;
	}
		#doctor-information h4,
		#general-information h4 {
			display: block;
			margin-top: 12px;
			width: 30%;
			float: left;
			color: #5294a3;
			font-size: 16px;
		}
		#doctor-information p,
		#general-information p {
			vertical-align: top;
			float: right;
			width: 60%;
			color: #555;
			font-size: 14px;
		}

#form-profile-edit {
	margin: 20px auto;
}
	
	#form-profile-edit label {
		display: block;
	}
    
/* CONTENT EDITOR */
#doc-manager-edit textarea { padding: 14px 12px; width: 75%; height: 100px; border-radius: 8px; border: 1px solid #5294a3; font-size: 13px; }
#doc-manager-edit input.text { padding: 7px 6px; width: 75%; height: 10px; border: 1px solid #ccc; font-size: 13px; }

#form-profile-edit #edit-submit,
#form-profile-edit #edit-reset {
	margin-top: 25px;
	float: left;
}
#form-profile-edit #edit-reset {
	color: #666;
	float: left;
    position: relative;
    right: -10px;
}

/* FORGOT PASSWORD */
#forgot-area {
	position: relative;
	margin: 0 auto;
	width: 400px;
	overflow: hidden;
}
	#forgot-area div	{ display: none; border-top: 1px dashed #333; margin: 25px 0; }
	#forgot-area h4		{ color: #666; }
	#forgot-area p 	{ font-size: 13px; color: #555; }
	#forgot-area .forgot-submit {
		color: #555;
		padding: 4px 12px;
		font-weight: bold;
	}
	
/* LOGIN-PAGE ERROR */
.login_error_message {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 6px 5px;
	width: 348px;	
	color: #333;	
	border: 1px solid #ddd;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
}
.error { color: #999; border-color: #FDE4E1; background-color: #FDE4E1; }

#doc-content-main div.error {
	text-align:center;
	width: 640px;
	position: relative;
	float: none;
	margin-left: 80px;
	border-radius: 5px;
	border: 1px solid #666;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 14px;
	color: #9A9A9A;
}

#meta_navigation{
    padding-top: 20px;
}

#top_billing div{
    display: inline-block;
}

#top_billing #current_month{
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-clip: padding-box;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 #376b77;
    background-image: linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
    background-image: -webkit-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
    background-image: -moz-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
    color: #fff;
	font-family: "Arial", sans-serif;
    font-size: 26px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.35);
    padding: 3px 15px;
}

#top_billing #status{
    color: #4d4d4d;
	font-family: "Arial", sans-serif;
    font-size: 18px;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
    margin-left: 7px;
}

#top_billing #status span{
    color: #5294a3;
    font-weight: bold;
    text-transform: uppercase;
}

.billing-section #doc-manager-edit{
    width: 882px;
}

#month_select_container{
    float: right;
}

.billing_date{
    display: inline-block;
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-clip: padding-box;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 #376b77;
    background-image: linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
    background-image: -webkit-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
    background-image: -moz-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
    color: #fff;
	font-family: "Arial", sans-serif;
    width: 68px;
    height: 42px;
}

.billing_day{
    -ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	font-size: 12px;
    width: 0;
    margin-left: 9px;
    margin-top: 30px;
    height: 0;
    margin-bottom: -3px;
    text-transform: uppercase;
    margin-right: 2px;
}

.billing_num{
    font-size: 26px;
    position: relative;
    left: 13px;
    top: 1px;
}

.billing_day, .billing_num{
    display: inline-block;
    color: #fff;
	font-family: "Arial", sans-serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,.35);

}

.billing-section table{
    display: inline-block;
    width: 729px;
    vertical-align: top;
    border-collapse: collapse;
    margin-bottom: 22px;
}

.billing-section td{
    border:none !important;
}

.billing-section .info_value{
    box-shadow: inset 0 1px 0 rgba(19,19,19,.15) !important;
}

.billing-section .info_value, .billing-section .info_label{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.spacer td{
    height: 5px;
}

#top_billing{
    margin-bottom: 40px;
}

.billing-section .info_label{
    width: 60px;
	line-height: 21px;
}

.billing-section.profile-edit .info_value {
	width: 637px !important;
	line-height: 21px;
}

.booking_status {
    float: right;
	margin-right: 12px;
	height: 22px;
}

.booking_status label {
	display: inline-block;
	margin-left: 12px;
	vertical-align: middle;
}

.booking_status input {
	vertical-align: middle;
	top: auto;
}

/* Doctors at location - profile view */
.doctor-at-practice {
	float: left;
	display: block;
	width: 49%;
	min-height: 130px;
	margin: 0 0 12px 0;
	line-height: 120%;
	background: #fff;
}

.doctor-at-practice:nth-child(even) {
	float: right;
}

.doctor-at-practice .wrap {
	padding: 12px;
}

.doctor-at-practice .profile-pic {
	display: block;
	float: left;
	width: 80px;
	border: 1px solid #ccc;
	padding: 2px;
}

.doctor-at-practice .profile-pic img {
	display: block;
	width: 100%;
}

.doctor-at-practice .details {
	padding-top: 8px;
	margin-left: 100px;
}

.doctor-at-practice .doctor-name {
	display: block;
	font-weight: bold;
}

.doctor-at-practice .specialties {
	font-size: 14px;
}

.doctor-at-practice .specialty:after {
	content: ", ";
}

.doctor-at-practice .specialty + .specialty:after {
	content: "";
}

.doctor-at-practice .actions {
	margin-top: 8px;
}

.doctor-at-practice .actions a {
	display: block;
	font-size: 15px;
}

.reviews #doc-content-main {
	width: 82%;
	position: relative;
}
.patientName,
.reviewDate,
.approveContainer{
	display: inline-block;
}

.reviewContainer {
	float: left;
	color: #4d4d4d;
	font-size: 14px;
	margin-bottom: 35px;
	width: 100%;
}
.approveContainer {
	position: absolute;
	margin-top: -9px;
	right: 25px;
}
.approveContainer label {
	display: none !important;
}

.reviewRateContainer {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: inset 0 1px 0 rgba(19,19,19,.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(19,19,19,.15);
	box-shadow: inset 0 1px 0 rgba(19,19,19,.15);
	padding: 8px 14px;
	margin-top: 8px;
}
#pagination {
	text-align: center;
	margin-top: 50px;
	font-size: 16px;
}
#pagination a {
	color: #4f4d5b !important;
	margin: 0 9px;
}
#pagination .active {
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #6f9729;
	-moz-box-shadow: inset 0 -1px 0 #376b77;
	-webkit-box-shadow: inset 0 -1px 0 #376b77;
	box-shadow: inset 0 -1px 0 #376b77;
	background-image: -moz-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
	background-image: -o-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
	background-image: -webkit-linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
	background-image: linear-gradient(bottom, #3f7f8f 0%, #6ba5b3 100%);
	width: 26px;
	display: inline-block;
	padding: 4px 0;
	text-decoration: none;
	margin: 0 9px!important;
}
#pagination a:hover {
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #9b9b9b;
	width: 26px;
	padding: 5px 9px;
	text-decoration: none;
	margin: 0 0;
}
.rateStarContainer {
	color: #5193a3;
	font-size: 14px;
	font-weight: bold;
	border-top: #d9d9d9 1px solid;
	padding-top: 7px;
	margin-top: 7px;
}

.star img {
	width: 16px;
	vertical-align: middle;
}

.star-wrapper {
	float: left;
}

.star-wrapper:last-child {
	float: right;
}

.middleStar {
	margin: 0 60px;
}

.profile-image-wrapper {
	float: left;
	margin-right: 12px;
}

.profile-image-wrapper .actions {
	display: block;
	margin: 10px auto;
	text-align: center;
}

.profile-image-wrapper .actions a {
	margin: 0 2px;
}

.profile_image {
	width: 140px;
	height: auto;
}

#general_info_tab,
#insurance_types_tab {
	background-color: #fff;
}

.appointment-dialog .ui-tabs-nav,
#ic_contact_tabs .ui-tabs-nav {
	height: 47px;
}

.appointment-dialog .cta-button {
	cursor:           pointer;
	color:            #fff;
	background-image: -webkit-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	background-image:    -moz-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	background-image:      -o-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
	background-image:         linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
}

#doc-manager-edit .new-grey-button {
	height: auto;
}



/* PD-57-arzt-account-css-fixes */
#general_info_tab, #insurance_types_tab {
    background-color: white;
}
.appointment-dialog .ui-tabs-nav,
#ic_contact_tabs  .ui-tabs-nav {
    height: 47px;
}
.appointment-dialog .cta-button {
    cursor:           pointer;
    color:            white;
    background-image: -webkit-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
    background-image:    -moz-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
    background-image:      -o-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
    background-image:         linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
}
#doc-manager-edit .new-grey-button {
    height: initial;
}
/* END - PD-57-arzt-account-css-fixes */

.profile-doctor .provider-list-header {
	width: 475px;
	margin: 0;
	border-top: 1px solid #c3c3c3;
}
.static-header .provider-list-header {
	border-top: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	border-bottom: 2px solid #cfcfcf;
	border-left: 1px solid #dbdbdb;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.provider-list-header {
	position: relative;
	overflow: hidden;
	width: 918px;
	height: 50px;
	margin: 0 20px;
}
.profile-doctor .calendar-container {
	width: 375px;
	left: 50px;
}
.calendar-container {
	position: absolute;
	width: 525px;
	left: 334px;
}
.calendar-container .calendar-slide {
	float: left;
}
.calendar-container .calendar-slide .calendar {
	margin: 4px 0;
	border-right: 1px solid #e7e7e7;
	width: 64px;
	height: 32px;
}
.calendar {
	float: left;
	padding: 5px 5px 5px 5px;
	width: 65px;
	text-align: center;
}
.calendar .day {
	font-size: 11px;
	font-weight: bold;
}
.calendar .date {
	font-size: 12px;
	font-weight: normal;
}

h3 {
	color: #262626;
	font-size: 117.1%;
	margin: 0.6em 0 0.2em;
	font-weight: normal;
}
.profile-doctor .provider-row {
	margin: 0 0 0 50px;
	border-bottom: none;
}
.provider-list .provider-row {
	padding: 6px 0 6px 0;
	margin: 0 20px;
	border-bottom: 1px solid #c3c3c3;
}
.provider-list .provider-row .times-container {
	width: 525px;
}
.times-container {
	float: left;
}
.times-container .times-slide.odd {
	background: transparent url("/static/img/times-container-bg.png") no-repeat scroll 0 0;
}
.times-container .times-slide {
	min-height: 135px;
	float: left;
}
.calendar {
	float: left;
	padding: 5px 5px 5px 5px;
	width: 65px;
	text-align: center;
}
.calendar .time {
	font-size: 13px;
	font-weight: normal;
}
.calendar .time a, .calendar-next-available a {
	display: block;
	line-height: 17px;
	text-align: center;
	color: #fff !important;
	text-decoration: none;
	margin: 0 auto;
}
.calendar .time a {
	width: 58px;
	margin-bottom: 5px;
	padding: 2px 0 4px 0;
}
.times-slide .calendar a {
	position: relative;
}
.btn_soft_green {
	border: 1px solid #718f31;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(bottom, #59830b 0%, #7fbf1b 100%);
	background-image: -o-linear-gradient(bottom, #59830b 0%, #7fbf1b 100%);
	background-image: -webkit-linear-gradient(bottom, #59830b 0%, #7fbf1b 100%);
	background-image: linear-gradient(bottom, #59830b 0%, #7fbf1b 100%);
	color: #fff;
	font-size: 13px;
	text-shadow: 0 -1px 0 rgba(69, 97, 14, 0.65);
	background-color: #7fbf1b;
}