#doc-manager {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	margin-bottom: 45px;
}



/* LEFT-PANNEL */
#edit-left_side {
	position: relative;
	display: block;
	padding: 25px 15px;
    padding-left: 0;
	width: 152px;
	overflow: hidden;
}

	#doctor_dashboard_left_panel img {
		
	}
	#edit_menu {
		position: relative;
		display: block;
		margin-top: 20px;
		width: 100%;
		overflow: hidden;
	}
    
/* Location-specific overrides */
#main.location .btn-praxis_location-view {
	display: none;
}

#main.location-profile-edit .btn-praxis_location-view {
	display: block;
}

#main.location-profile-edit .btn-praxis_edit {
	display: none;
}


/* DOCTORs CONTENT */
.home #doc-content-main {
    position: relative;
    display: block;
    padding-top: 5px;
}
	#general-information {
		margin-right: 35px;
		padding: 0 25px 25px 0;
	}
		#general-information h3 {
			font-weight: bold;
		}

/* CONTENT EDITOR */
#doc-manager-edit {
	
}
#doc-manager-edit textarea { width: 75%; height: 100px; }

.info_label{
    border-radius: 6px 0px 0px 6px;
    background-clip: padding-box;
    background-color: #d9d9d9;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.06);
    background-image: linear-gradient(bottom, rgba(19,19,19,.05) 0%, rgba(255,255,255,.05) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(19,19,19,.05) 0%, rgba(255,255,255,.05) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(19,19,19,.05) 0%, rgba(255,255,255,.05) 100%);
    olor: #4d4d4d;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
    width: 185px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 6px;
    vertical-align: top;

}

.info_value{
    border-radius: 0px 6px 6px 0px; /* border radius */
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    box-shadow: inset 0 1px 0 rgba(19,19,19,.15); /* inner shadow */
    color: #4d4d4d; /* text color */
    font-family: "Helvetica";
    font-size: 14px;
    text-shadow: 0 1px 3px #fff;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 6px;
    width: 511px;
    vertical-align: top;
}

.info_table{
    border-collapse: separate;
    border-spacing: 0 13px;
    margin-top: -12px;
}

.profile-title {
    color: #5193a3;
    font-family: "Arial";
    font-size: 34px;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
}