h3 {
	padding-bottom: 8px;
	margin-top: 24px;
	font-size: 22px;
	color: #5193a3;
	border-bottom: 1px solid #bebebe;
}

#avatar_tooltip {
    position: absolute;
    font-family: arial, sans-serif;
    text-align: center;
    width: 147px;
    top: 90px;
}

.doctor_manage_profile_content {
  margin: 10px 10px 100px 25px;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  padding-right: 25px;
}

.profile_manage_fields_header {
  color: #3371a7;
  font-weight: bold;
  margin-left: 20px;
  margin-top:20px;
}
.profile_manage_textareas {
  margin: 5px 10px 5px 10px;
  border: 1px solid black;
  position: relative;
  resize: none;
  width: 100%;
  height:60px;
}
.doc_profile_submit_buuton
{
  background-color: #6aa040;
  position: absolute;
  padding: 10px 30px;
  right:20px;
  bottom: 30px;
  box-shadow:  3px 3px black;
  border: 1px solid black;
  
  
}
.profile-edit textarea{
     padding: 0px !important;
     margin: 0px !important;
     border: none !important;
     width: 100% !important;;
     resize: none !important;
     max-width: 100% !important;
     background: none !important;
 }

.profile-edit textarea:focus{
    border:none;
    outline-width: 0;
}

.profile-edit .info_value{
    width: 579px !important;
}

.profile-edit .info_value {
    border-radius: 0px 6px 6px 0px;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: inset 0 0 0 rgba(19,19,19,.15);
    padding-top: 8px;
    padding-bottom: 4px;
    position: relative;
}

.edit_icon {
    background: url('../../img/pencil.png');
    height: 22px;
    width: 22px;
    position: absolute;
    top: 2px;
    right: -27px;
}

.profile-edit#main{
    overflow:visible;
}

/*MANAGE MEDICAL SPECIALTIES
*
*
*
*/
.manage-specialties #doc-manager-edit form h4, .subHeader {
    margin-top: 0px;
    width: 800px;
    margin-bottom: 25px;
}

#treatment_types{
    border: 1px solid #c8c8c8;
    border-radius: 6px;
    margin-top: 8px;
    padding-left: 7px;
    width: 791px;
    padding-bottom: 10px;
    margin-bottom: 44px;


}

.treatment_types{
    color: #5193a3;
}

.treatment_types ul{
    color: #4d4d4d;
}

.specialties ul {
	margin-bottom: 12px;
}

/*EDIT SPECIALTIES
*
*
*
*/

#general-information li h4, #doc-manager-edit form h4, .subHeader{
    color: #5193a3;
    font-family: "Arial";
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid #c8c8c8;
    width: 100%;
    padding-bottom: 5px;
}

#doc-manager-edit form h4{
    margin-top: 0px;
    width: 800px;
}

.delete-specialties{
    border-radius: 6px;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: inset 0 1px 0 rgba(19,19,19,.15);
    border-bottom: none!important;
    height: 25px;
    margin-bottom: 13px;
    padding-top: 10px;
    color: #4d4d4d;
    font-family: "Helvetica";
    font-size: 14px;
    text-shadow: 0 1px 3px #fff;
    padding-left: 19px;
    width: 781px!important;
}

.delete-specialties a{
    background-image: url(../../img/delete.png);
    width: 16px;
    height: 16px;
    position: relative;
    left: -9px;

}
.delete-specialties a:hover{
    background-image: url(../../img/delete_h.png);

}

.list_head{
    width: 800px !important;
    margin-top:-12px;
    margin-bottom: -6px;
    border:none
}

/*APPOINTMENT HISTORY
*
*
*
*
*/

.filter_date_container{
    color: #4d4d4d; /* text color */
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
}

.filter_date_container input[type="text"], .create_appointment_table input[type="text"]
{
    border-radius: 6px;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: inset 0 1px 0 rgba(19,19,19,.15);
    width: 88px!important;
    height: 25px;
    border: none;
    text-align: center;
    color: #4d4d4d;
    font-family: "Arial";
    font-size: 14px;
    margin-right: 20px;
}
.create_appointment_table input[type="text"]{
    width: 116px !important;
    text-align: left;
    padding-left: 10px;
}


.filter_date_container input[type="submit"]{
    border-radius: 14px;
    background-clip: padding-box;
    background-color: #737373;
    box-shadow: inset 0 -1px 0 #4f4f4f;
    background-image: linear-gradient(bottom, #5f5f5f 0%, #898989 100%);
    background-image: -webkit-linear-gradient(bottom, #5f5f5f 0%, #898989 100%);
    background-image: -moz-linear-gradient(bottom, #5f5f5f 0%, #898989 100%);
    background-image: -o-linear-gradient(bottom, #5f5f5f 0%, #898989 100%);
    color: #fff;
    font-family: "Arial";
    font-size: 13px;
    font-weight: normal;
    text-shadow: 0 -1px 0 rgba(0,0,0,.35);
    padding: 6px 12px 6px 12px;
    border: none;
}

.filter_date_container input[type="submit"]:hover, .filter_date input[type="submit"]:active {
    background-image: linear-gradient(top, #5f5f5f 0%, #898989 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(top, #5f5f5f 0%, #898989 100%); /* gradient overlay */
    background-image: -moz-linear-gradient(top, #5f5f5f 0%, #898989 100%); /* gradient overlay */
    background-image: -o-linear-gradient(top, #5f5f5f 0%, #898989 100%); /* gradient overlay */
}

.filter_date_container select
{
    display: inline-block;
    position: relative;
    top: -1px;
}

.appointment_history #doc-content-main{
    width: 796px;
}

.appointments_day_container{
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    padding: 10px;
    margin-top: 24px;
    margin-bottom: -9px;
    height: 16px;
    overflow: hidden;
}

.appointments_daytime{
    color: #5193a3; /* text color */
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}
.apointments_counter
{
    display: inline-block;
    font-style: italic;
    color: #4d4d4d;
    font-size: 14px;
}

.apointment_daytime{
    color: #4d4d4d;
    font-family: "Arial";
    font-size: 14px;

    margin-top: 10px;
    display: inline-block;
}

.appointment_detail{
    color: #4d4d4d; /* text color */
    font-family: "Arial";
    font-size: 14px;
    font-style: italic;
}

.toggle_height{
    width: 16px;
    height: 17px;
    background: url('../../img/plus.png');
    float: right;
    top: -1px;
    position: relative;
}

.close_toggle{
    background: url('../../img/minus.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -1px;
}

/* CREATE APPOINTMENT
*
*
*
*
*/

.create-appointment #doc-content-main{
    width: 800px;
}

.termin_row td{
    padding-bottom: 30px;

}

.create-appointment input[type="checkbox"]{
    position:relative;
    top: -3px;
}

.create-appointment .btn_green{
    width: 200px;
    margin-top: 27px;
    margin-right: 133px;
}

.btn_gray_new{
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #e6e6e6;
    box-shadow: 0 1px 1px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27);
    background-image: -webkit-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: -moz-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: -o-linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: linear-gradient(bottom, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    color: #6b6b6b;
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 -1px 0 #fff;
    height: 33px;
    padding-left: 12px;
    padding-right: 12px;

}

.btn_gray_new:hover{
    background-image: -webkit-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: -moz-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: -o-linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
    background-image: linear-gradient(top, #ededed 0%, #ededed 49%, #f7f7f7 50%, #efefef 100%);
}

/* PROFILE TERMINE
*
*
*
*
*/
.profile-termine #doc-content-main{
    width: 800px;
}
