body{
    background-color: transparent;
}

.yellow_button{
    background: #f7d83f;
    border: 1px solid black;
    padding: 2px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-decoration: none;
    width: 87px;
}

.yellow_button:hover{
    text-decoration: none;
}

.provider-list .provider-row .provider-container:hover {
    cursor: auto;
}
.prev-slide-loading, .next-slide-loading{
    background-size: 17px;
}
.yellow_button:active{
    -moz-box-shadow:    inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow:         inset 0 0 3px #000000;
}

.provider-container{
    width:100% !important;
}
.provider.intro .info{
    float: inherit !important;
    width: 100%;
}

.times-container {
    float: inherit;
}

.name a{
    text-decoration: none;
}

.medical-specialties {
    margin-bottom: 10px!important;
    color: #666; /* text color */
    font-family: "Arial";
    font-size: 13px !important;
    font-weight: bold !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 97px;
}
.container_1 .grid_1.padding-left-right{
    padding-left:10px;
}

.calendar{
    width: 54px;
}

.rating .stars{
    width:90px;
}
#bd{
    width: 530px;
    border: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13);
    -webkit-box-shadow: 0 0 10px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13);
    -moz-box-shadow: 0 0 10px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13);
    box-shadow: 0 0 10px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13);
    margin: 2px;
    overflow:hidden;
}

.calendar .time a{
    font-size:11px;

}

.times-container .times-slide.odd{
    background-size: 513px;
}
.profile-doctor .times-container .times-slide.odd{
    background-size: 514px;
    width: 322px;
    background: transparent url('/static/img/times-container-bg-widget.png') no-repeat scroll 0px 0px;
}
.profile-doctor .calendar{
    width: 54px;
}

.provider-list-header .header-prev-link{
    left: 0px;
}
/*
.calendar-container{
    left: 262px;
    //width: 443px;
    left: 0px;
}
*/


.calendar .day, .calendar .date{
    font-size: 9px
}

.profile-doctor .calendar .day, .profile-doctor .calendar .date{
    font-size: 10px
}


.calendar-container{
    left: 13px;
    width: 324px;
}

.calendar-container .calendar-slide .calendar{
    width: 53.5px;

}

.static-header .provider-list-header{
    width: 355px;
    left: 153px;
    border: none;
    background: transparent;
}

.provider-list-header .header-next-link, .provider-list-header .header-prev-link{
    width: 25px;
}

.next-slide-link {
    background: transparent url('/static/img/next-week-link-a-widget.gif') no-repeat scroll 0px 0px;
}

.prev-slide-link{
    background: transparent url('/static/img/prev-week-link-a-widget.gif') no-repeat scroll 0px 0px;
}

.next-slide-link , .prev-slide-link{
    background-size: 17px;
}


.provider-list-header .header-prev-link{
    left: -8px;
}
.calendar .time a:hover {
    background: transparent url('/static/img/time-pointer.png') no-repeat scroll 0px 6px;
}

.provider-row.first{
    margin-top: 9px !important;
}

.provider-list .provider-row, .profile-location .provider-container .provider-list .provider-row.last{
    margin: 0 10px;
    border: 2px solid #e5e5e5;
    padding: 4px;
    border-radius: 6px;
    margin-bottom: 6px;
}

#top_widget{
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
}

#top_widget img{
    float:right;
}

#top_widget span{
    font-size: 14px;
    color: #3e97b9;
    position: relative;
    top: 14px;
    font-weight: bold;
}
.gfx img{
    width: 60px !important;
}

.provider.intro .gfx{
    width: 75px;
}


/*doctor profile*/
.provider.profile .medical-specialties{
    font-weight: normal;
}

.profile-doctor .provider-container{
    width: 287px !important;
}

.provider.profile .left {
    float: left;
    width: 74px;
}

.profile-doctor .provider.profile .right {
    width: 213px!important;
}

.profile-doctor .container_1 .grid_1{
    width: 660px;
}

.profile-doctor .static-header .provider-list-header {
    width: 376px;
    left: -10px;
    border: none;
    height: 34px;
    margin-bottom: -8px;
    margin-top: -11px;
}

.profile-doctor .provider-list .provider-row, .profile-location .provider-container .provider-list .provider-row.last{
    border: 0px;
    position: relative;
    left: 2px;
}

.profile-doctor .provider-row.odd.first.last{
    width: 326px!important;
}

.profile-doctor .calendar-times-container{
    width: 360px;
    position: relative;
    left: -147px;
    margin-top: 26px;
}

.profile-doctor .calendar-container{
    left: 25px;
    width: 325px;
}

.profile-doctor .provider-list-header .header-next-link{
    right: 6px;
}

.provider.intro .info .name, .provider.intro .info .name a,
.profile h1.name, .profile h1.name a{
    color: #3d97b8; /* text color */
    font-family: "Arial";
    font-size: 13px;
    font-weight: bold;
}

div.star-rating, div.star-rating a{
    background: url('/static/img/star-widget.gif') no-repeat 0 0px;
    width: 10px;
    height: 10px;
    background-size: 10px;
    background-position: 0px -10px!important;

}