html{
    overflow: hidden;
    height: 400px;
}
body{
    background-color: transparent;
}

.location_name{
    width: 200px;
}
.locations .address{
    width: 200px;
}
#bd{
    width: 550px;
    border: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13);
    -webkit-box-shadow: 0 0 10px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13);
    -moz-box-shadow: 0 0 10px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13);
    box-shadow: 0 0 10px rgba(49,49,49,.2), inset 0 0 70px rgba(84,150,167,.13);
    height: 420px;
    overflow: hidden;
}

.widget_title{
    font-family: arial;
    border-bottom: 1px solid #a29295;
    padding-bottom: 9px;
    margin-top: 10px;
    width: 500px;
    color: #63a1bd; /* text color */
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3px;
    width: 530px;
}

.container_1 .grid_1 {
    width: 547px;
    padding-left:10px;
    padding-right: 10px;
    padding-top:0px;
}


.booking .appointment-card-form {
    background:none;
    width: 280px;
    height: 245px;
    margin-top: 0px;
}

.booking .appointment-card-form .datetime{
    color: #595959;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    top: 0px;
    text-align: left;
    margin-top: 10px;
}

.booking .appointment-card-form .content {
    position: absolute;
    top: 36px;
    left: 0px;
}

.booking .appointment-card .provider.profile .gfx img {
    width: 60px;
}

.booking .appointment-card .provider.profile .left {
    width: 67px;
}

.booking .appointment-card .provider.profile .right {
    width: 170px;
    margin-left: 10px;
}

.provider.profile .info {
    margin-bottom: 7px;
    line-height: 12px;
}

.booking .provider-form-container .provider-container {
    width: 40%;
    float: left;

}

.booking .form-container {
    width: 60%;
    float: right;
}

.insurance-select label, .returning_visitor {
    margin-top: -5px;
}

.insurance-select div {
    margin-top: -2px !important;
}

.booking h2 {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: -9px;
}

.booking .form_container .input_text, .booking .form_container .input_select{
    width: 163px;
    font-size: 14px;
    margin-top: 1px;
    height: 10px;
}


.booking .form_container label {
    text-align: left;
    font-size: 10px;
    color: #646464;
    width: 104px;
    line-height: 20px;
    font-weight: bold;
    font-family: Helvetica;
}

.returning_visitor {
    line-height: 11px!important;
}

.booking .form_container label.radio-gender, .booking .form_container label.radio-insurance, .booking .form_container label.radio-returning_visitor{
    font-size: 10px;
}
.booking .form_container .field.agb{
    margin-top: 0px;
}

.field{
    padding: 3px 0pt;
}

.cf div{
    float: left;
    display: block;
    position: relative;
    left: 10px;
    margin-top: 6px;
}

.booking .form_container #form_treatmenttype_id {
    width: 133px;
    position: relative;
    left: 10px;
    font-size: 13px;
    height: 24px;
    margin-top: -10px;
}

.booking .form_container label.agb {
    float: left;
    line-height: 10px !important;
    width: 280px;
    font-weight: normal;
    font-size: 9px;
    padding: 0px;
    margin: 0px;
}

.booking .form-container .submit-container .input_submit {
    width: 176px;
    height: 30px;
    display: block;
    font-weight: bold;
    border: none;
    margin-left: 29px;
    background-size: 206px 60px;
    letter-spacing: 1px;
    color: #fff;
    font-family: "Arial";
    font-size: 18px;
    font-weight: bold;
    background: transparent url('/static/img/booking-button-submit-widget.png') no-repeat scroll 0px 0px;
    background-size: 111%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-left:0px;
}

.booking .provider-form-container{
    margin-bottom: 0px;
}

.flash .error{
    position: absolute;
    z-index: 123;
    left: 50%!important;
    margin-left: -419px;

}

.booking .field_error {
    margin-left: -11px;
    clear: both;
    font-size: 12px;
}

.profile h1.name, .profile h1.name a{
    color: #3d97b8; /* text color */
    font-family: "Arial";
    font-size: 12px;
    font-weight: bold;
    width: 200px;
}

.booking .appointment-card .provider.profile .right{
    padding-top: 0px;
}

.medical-specialty{
    color: #666; /* text color */
    font-family: "Arial";
    font-size: 13px;
    font-weight: bold;
    width: 135px;
}

.locations{
    color: #595959; /* text color */
    font-family: "Arial";
    font-size: 13px;
}

.booking .form-container .submit-container{
    margin-top: 5px;
}

.form_container{
    margin-bottom: 0px;
    margin-top: 2px;
}

.error_container{
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: fixed;
    top: 10%;
    left: 0px;
    width: 470px;
    text-align: center;
    margin-left: 14px;
}

.field_error{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #c09853;

}

.close{
    display: inline-block;
    position: absolute;
    top: -9px;
    right: -4px;
    font-size: 17px;
    background: lightgrey;
    padding: 6px;
    border-radius: 100%;
    padding-top: 0px;
    padding-bottom: 1px;
    cursor: pointer;
}