@import "compass/css3";
@import "../../old-css/widget-main";
$widgets-sprite-dimensions: true;
@import "widgets/*.png";
@include all-widgets-sprites;

* {
    font-family: "Trebuchet MS";
}
.booking *,
.confirmation * {
    font-size: 14px !important;
}
body {
    background: white;
}
#mux-widget {
    width: 365px;
    padding: 10px;
    background: #fff;
    padding-bottom: 6px;
    overflow: hidden;
}
#mux-widget.aponet-widget {
    width: 580px;
}
#poweredBy {
    text-align:center;
    color: #787878;
    font-size: 7px !important;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    padding-top: 5px;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    clear: both;
}
#poweredBy a {
    color: #5294a3;
    text-decoration: none;
    font-size: 7px !important;
}

/*
* HEADER
*
*/
.top_picto {
    width: 122px;
    height: 97px;
    position: absolute;
    left: 40px;
}
.profile .top_picto {
    background-image: url('/static/img/calendar-stiftung-gesundheit-widget.png');
    background-size: 100%;
}
.form .top_picto {
    background-image: url('/static/img/calendar-form-stiftung-gesundheit-widget.png');
    background-size: 100%;
}

.confirmation .top_picto {
    width: 139px;
    height: 111px;
    background-image: url('/static/img/calendar-confirmation-stiftung-gesundheit-widget.png');
    background-size: 100%;
}

#header * {
    display: inline-block;
}
#header h3 {
    font-size: 16px;
    font-weight: bold;
    width: 315px;
    vertical-align: top;
    position: relative;
    top: 8px; 
    left: -13px;
    border-bottom: 1px solid #808080;
    padding-bottom: 15px;
    color: #787878;
}
.aponet-widget #header {
    position: relative;
    height: 95px;
}
.aponet-widget #header h3 {
    border: 0px;
    width: 330px;
    padding-left: 248px;
}
/*
* LIST
*
*/
.profile-page #header{
    margin-top: -11px;
}
.aponet-widget .provider-list-header {
    border-width: 0;
    width: 376px !important;
    height: 36px;
    border: none;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #EDF0F3;
    margin-left: -6px;
    margin-left: 200px;
    margin-top: -45px;
}
#prev-loading, #next-loading{
    display: none !important;
}

.times-container .times-slide.odd{
    background: none;
}

.aponet-widget .calendar-container .calendar-slide .calendar {
    border-right: 1px solid #808080;
    color: red;
}

.calendar .day {
    color: #434343;
    font-size: 11px;
    font-weight: normal;
}
.calendar .date {
    color: #434343;
    font-family: "Trebuchet MS";
    font-size: 13px;
    font-weight: bold;
    width: 42px;
    overflow: hidden;
    margin: 0 auto;
}
.calendar-container {
    left: 16px;
    width: auto;
    top: -4px;

}
.calendar-container .calendar-slide .calendar{
    width: 58px;
}

.calendar:nth-child(5) {
    border-right: 0px !important;
}
.provider-list-header .header-prev-link {
    left: -4px;
}
.provider-list-header .header-next-link {
    right: -4px;
}
.provider-list .provider-row, .profile-location .provider-container .provider-list .provider-row.last{
    margin: 0 -4px;
    padding: 4px;
    border-radius: 0px;
    margin-bottom: 6px;
    background: #f1f1f1;
    border: none;
}

.provider-container.provider-row {
    background: none;
}

.gfx img {
    width: auto!important;
    max-width: 70px !important;
    height: 58px;
}
.mux_doctor_info{
    width: 195px;
    height: 69px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    display: inline-block;
    float: left;
}
.mux_appointment_times{
    margin-left: 22px;
}
.times-container .times-slide.odd{
    background-size: 538px;
    padding-top: 4px;
}
.times-container .times-slide.odd .calendar{
    min-height: 125px;
}
.calendar {
    border-right: 1px solid white;
    width: 58px;
}
.calendar .time a, .calendar-next-available a {
    @include border-radius(0px);
    @include background-clip(padding-box);
    background-color: #EDF0F3;
    border: 1px solid #808080;
    @include at-background-gradient(bottom, #edf0f3 0%, #edf0f3 100%);
    color: #468ACC !important;
    font-family: "Trebuchet MS";
    font-size: 12px;
    text-shadow: none;
    padding-left: 4px;
    padding-right: 4px;
    box-shadow: none;
}
.calendar .time a{
    width: 52px;
    //height: 17px;
    margin-bottom: 3px;
    font-weight: bold;
    padding-bottom: 1px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.calendar .time a:hover, .calendar-next-available a:hover{
    background-color: #EDF0F3;
    border-color: #808080;
    text-decoration: none;
    background-image: none;
}
.medical-specialties {
    margin-bottom: 10px!important;
    color: #434343; /* text color */
    font-family: "Trebuchet MS";
    font-size: 13px !important;
    font-weight: bold !important;
}
.provider.intro .gfx{
    width: 57px;
    width: 70px;
}

.provider.intro .info{
    width: 125px;
}
.provider.intro .info .rating{
    display: none;
}
.provider.intro .info .name, .provider.intro .info .name a,
.profile h1.name, .profile h1.name a{
    color: #787878; /* text color */
    font-family: "Trebuchet MS";
    font-size: 13px;
    font-weight: bold;
    margin-top: 7px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.provider-list .provider-row .provider-container:hover {
    cursor: auto;
}
.provider-list-header .header-next-link, .provider-list-header .header-prev-link{
    width: 25px;
}
.provider-row.first{
    margin-top: 9px !important;
}
.provider.profile .medical-specialties{
    font-weight: normal;
}

.profile-doctor .provider-container{
    width: 287px !important;
}

.provider.profile .left {
    float: left;
    width: 74px;
}

.profile-doctor .provider.profile .right {
    width: 213px!important;
}

.profile-doctor .container_1 .grid_1{
    width: 660px;
}

.profile-doctor .provider-row.odd.first.last{
    width: 326px!important;
}

.profile-doctor .calendar-times-container{
    width: 360px;
    position: relative;
    left: -147px;
    margin-top: 26px;
}
.profile-doctor .provider-list-header .header-next-link{
    right: 6px;
}
div.star-rating, div.star-rating a {
    width: 10px;
    height: 11px;
    background: url('/static/img/star-widget-navy-blue.png') no-repeat ;
    background-position: top left !important;
}
div.star-rating:nth-child(odd) {
    margin-right: 1px;
}
.profile-page .provider-row.first{
    display: none;
}
/*
* BOOKING FORM
*
*/
.booking .gfx {
    display:none;
}
.booking .gfx img {
    height: 64px;
}
.booking #poweredBy{
    margin-top: 9px;
}
.booking #mux-widget{
    padding-bottom: 4px;
}
.booking #header{
    margin-top: -11px;
    margin-bottom: 3px;
}

.booking .doctor_info {
    display: inline-block;
    float: left;
    width: 195px;
}
.booking .form {
   #header {
    height: 30px;
}
.form_container {
    margin-top: 0;
}
}
.appointment_info {
    width: 160px;
    @include border-radius(0px);
    @include background-clip(padding-box);
    background-color: #EDF0F3;
    @include box-shadow(none);
    background: #EDF0F3;
    @include at-background-gradient(bottom, #EDF0F3 0%, #EDF0F3 0.76%, #EDF0F3 100%);
    padding: 9px;
    line-height: 16px;
    border: 1px solid #808080;
}
.appointment_starts {
    color: #434343;
    font-weight: bold;
    text-shadow: none;
}
.user_info {
    color: #434343;
    text-shadow: none;
    margin-top: 5px;
}
#salutation {
    color: #28414F;
    font-weight: bold;
    width: 95px;
    display: inline-block;
}
label {
    color: #28414F;
}
input[type=radio] {
    display: none;

    & + label {
        display: inline-block;
        padding-left: 20px;
        line-height: 18px;
        margin-right: 3px;
    }

    & + label {
        @extend .widgets-checkmark-off-aponet;
        width: auto;
    }

    &.checked + label,
    &:checked + label {
        @extend .widgets-checkmark-on-aponet;
        width: auto;
    }
}

#form_label_gender_1 {
    margin-right: 35px;
}

.input_text{
    width: 330px !important;
    height: 29px;
    border-radius: 6px;
    background-clip: padding-box;
    background-color: #f1f1f1;
    display: block;
    margin: 0 auto;
    margin-bottom: 14px;
    padding: 0px 0px 0px 6px;
    color: #333;
    font-family: "Helvetica";
    text-shadow: 0 1px 3px #fff;
    margin-bottom: 7px;
    background: white;
    height: 24px;
    margin-bottom: 12px;
    border-radius: 0;
}

#form_email, #form_phone {
    display: inline-block;
}
.salutation-container{
    margin-bottom: 8px;
    margin-top: 11px;
}

.label-mux{
    color: #28414F;
    font-weight: bold;
    width: 165px;
    display: inline-block;
}

.doctor-name{
    color: #28414F;
    white-space:nowrap;
    width: 150px;
    overflow:hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.booking select {
    width: 130px;
    height: 21px;
}

.agb {
    color: #656565;
    font-family: "Trebuchet MS";
    font-size: 10px !important;
}

label.agb{
    float: left;
    width: 300px;
    margin-left: 4px;
    margin-bottom: 5px;
    font-size: 10px;
}
label.agb > a {
    font-size: 10px !important;
}

#ok{
    width: 218px;
    height: 34px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "Trebuchet MS";
    font-size: 16px;
    font-weight: bold;
    text-shadow: none;
    margin: 0 auto;
    display: block;
    float:left;
    cursor: pointer;

    background: rgb(240, 7, 29);
    color: white;
    border: 0;
    float: right;
    text-align: left;
    padding-left: 8px;
    position: relative;

    &:after {
        content: " ";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        right: -34px;
        border: 17px solid transparent;
        border-left-color: rgb(240, 7, 29);
    }
}
#ok:hover{
    background: rgb(240, 7, 29);
    color: white;
}

#ok:active{
    @include box-shadow(inset 0.05em 0.15em 0.4em rgba(0,0,0,0.4),inset 0 0 0.2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9));
}

.booking #header h3{
    padding-bottom: 22px;
    padding-left: 208px;
    top: auto;
    
    &:after {
        content: ":";
    }
}

.insurance-container{
    margin-top: 7px;
    margin-bottom: 11px;
}

.treatmenttype_id{
    margin-top: 5px;
    margin-bottom: 13px;
}

#form_agb {
    float: left;

}

.error_container{
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: fixed;
    top: 10%;
    left: 0px;
    width: 305px;
    text-align: center;
    margin-left: 14px;
    z-index: 2;
}

.field_error{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #c09853;

}

.close{
    display: inline-block;
    position: absolute;
    top: -9px;
    right: -4px;
    font-size: 17px;
    background: lightgrey;
    padding: 6px;
    border-radius: 100%;
    padding-top: 0px;
    padding-bottom: 1px;
    cursor: pointer;
}

.flash{
    display: none;
}


/*
* CONFIRMATION PAGE
*
*
*/
.aponet-widget * {
    font-family: Trebuchet MS, sans-serif !important;
}
h3 p{
    color: #28414F;
    font-size: 12px;
    font-weight: normal;
    margin-top: 8px;
    line-height: 18px;
}

.confirmation h3{
    border: none !important;
}

.confirmation #header img{
    position: relative;
    left: -15px;
}

.confirmation #header h3 {
    /*    margin-top: 6px; */
    margin-left: 10px;
    width: 330px !important;
    padding-left: 223px;
}

.confirmation #header h3 p {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.confirmation .appointment_info{
    width: 335px;
    height: 41px;
    margin-top: 27px;
    margin-right: 5px;
}
.confirmation #header{
    margin-top: -8px;
    margin-bottom: 45px;
}
.confirmation #doctor-info{
    float: right;
    background: none;
}

#doctor-info img, .text_info{
    display: inline-block;
    vertical-align: top;
}

.text_info .name{
    color: #434343;
    font-style: normal;
    font-weight: bold;
}

.text_info .specialty {
    font-style: normal;
}

/* THIS IS VERY, VERY UGLY! */
.text_info .specialty b {
    font-weight: normal;
}

.text_info {
    margin-left: 10px;
    width: 255px;
}

#doctor-info {
    color: #434343;    
    background: transparent url('/static/img/booking_doctor_bg.png') no-repeat scroll 0px 0px;
    height: 105px;
    width: 356px;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: -5px;
    /*    margin-top: 13px;*/
    font-style: italic;
}

#hotlineBox {
    color: #434343;
    width: 333px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #EDF0F3;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 19px;
    border: 1px solid #808080;
    border-radius: 0px;
}
/* THIS IS VERY, VERY UGLY! */
#hotlineBox b {
    font-weight: normal;
}
#hotlineBox a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
#hotlineBox h3{
    font-weight: bold;
    color: #434343;
}
.hotlineNr a{
    color: #3f95bd;
    font-size: 18px;
    text-decoration: none;
}
.hotlineNr {
    margin-top: -8px;
}
.telIcon {
    width: 23px;
    height: 24px;
    background: transparent url('/static/img/tel.png') no-repeat scroll 0px 0px;
    display: inline-block;
}

.form_container {
    display: inline-block;
    margin-top: -60px;
    z-index: 1;
    position: relative;
    width: 330px;
}
.insurance-container label  {
    line-height: 20px;
}
#form_label_insurance_pkv::after {
    content:"\A"; 
    white-space:pre; 
}

.field-select {
    margin-bottom: 10px;
}

.prev-slide-link{@extend .widgets-prev-week-link-e};
.next-slide-link{@extend .widgets-next-week-link-e};

.aponet-widget .provider-list-header,
.mux_appointment_times {
    font-size: 12px;
}
.mux_appointment_times {
    .times-container {
        width: 29em;
        
        .calendar {
            width: 4.8em;
            padding: 0.4em;

            .time {
                a {
                    width: 4.7em;
                    margin: 0 0em 0.3em;
                    font-size: inherit;
                    &.btn_soft_green {
                        font-size: inherit;
                    }
                }
            }
        }
    }
}
.aponet-widget .provider-list-header {
    width: 31.2em!important;
    height: 3em;
    
    .header-prev-link,
    .header-next-link {
        width: 2em;
    }
    .calendar-container {
        width: 29em;
        .calendar-slide {
            .calendar {
                width: 4.8em;
                padding: 0.4em;
                .day {
                    font-size: 0.9em;
                    width: 5.1em;
                }
                .date {
                    font-size: 1.1em;
                    width: 3.2em;
                }
            }
        }
    }
}
#header .top_picto {
    display: none !important;
}
#header h3 {
    padding-left: 13px !important;
}
.mux_doctor_info {
    display: none !important;
}
.provider-list-header {
    margin-left: 0px!important;
}
.provider-list .provider-row {
    margin-left: -10px!important;
}
#mux-widget {
    width: 380px!important;
}

