@import "compass/css3/";
@import "../../old-css/widget-main";
$widgets-sprite-dimensions: true;
@import "widgets/*.png";
@include all-widgets-sprites;

* {
    font-family: Arial;
}

body {
    background: #FFF;
}

#mux-widget {
    width: 365px;
    background: #fff;
    overflow: hidden;
    padding: 10px 10px 6px;
}

#mux-widget.arztatlas-widget {
    width: 580px;
}

#poweredBy {
    text-align: center;
    color: #a3a3a3;
    font-size: 7px;
    border-top: 1px solid #ccc;
    padding-top: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    clear: both;
    margin: 15px auto 0;
}

#poweredBy a {
    color: #5294a3;
    text-decoration: none;
}

.top_picto {
    width: 122px;
    height: 97px;
    position: absolute;
    left: 40px;
}

.profile .top_picto {
    background-image: url(/static/img/calendar.png);
    background-size: 100%;
}

.form .top_picto {
    background-image: url(/static/img/calendar-form.png);
    background-size: 100%;
}

.confirmation .top_picto {
    width: 139px;
    height: 111px;
    background-image: url(/static/img/calendar-confirmation.png);
    background-size: 100%;
}

#header h3 {
    font-size: 16px;
    font-weight: 700;
    width: 239px;
    vertical-align: top;
    position: relative;
    left: -13px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    color: #3a464d;
}

.arztatlas-widget #header {
    position: relative;
    height: 95px;
}

.arztatlas-widget #header h3 {
    border: 0;
    width: 375px;
    padding-left: 215px;
}

.profile-page #header {
    margin-top: -11px;
}

.arztatlas-widget .provider-list-header {
    width: 376px!important;
    height: 36px;
    border: 1px solid #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #efefef;
    margin-left: 200px;
    margin-top: -45px;
    border-width: 0;
}

#prev-loading,#next-loading {
    display: none!important;
}

.times-container .times-slide.odd {
    background: none;
    background-size: 538px;
    padding-top: 4px;
}

.arztatlas-widget .calendar-container .calendar-slide .calendar {
    border-right: 1px solid #404559;
    color: #3a464d;
}

.calendar .day {
    color: #666;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255,255,255,.75);
    font-weight: 400;
}

.calendar .date {
    color: #666;
    font-family: Arial;
    font-size: 11px;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(255,255,255,.75);
    width: 36px;
    overflow: hidden;
    margin: 0 auto;
}

.calendar-container {
    left: 16px;
    width: auto;
    top: -4px;
}

.calendar-container .calendar-slide .calendar {
    width: 58px;
}

.calendar:nth-child(5) {
    border-right: 0!important;
}

.provider-list-header .header-prev-link {
    left: -4px;
}

.provider-list-header .header-next-link {
    right: -4px;
}

.provider-list .provider-row,.profile-location .provider-container .provider-list .provider-row.last {
    border-radius: 6px;
    background: #f1f1f1;
    border: none;
    margin: 0 -4px 6px;
    padding: 4px;
}

.provider-container.provider-row {
    background: none;
}

.gfx img {
    width: auto!important;
    height: 58px;
}

.mux_doctor_info {
    width: 195px;
    height: 69px;
    -moz-border-radius: 0 364px 2px 362px / 0 2px 73px 1px;
    -webkit-border-radius: 0 364px 2px 362px / 0 2px 73px 1px;
    border-radius: 0 364px 2px 362px / 0 2px 73px 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    display: inline-block;
    float: left;
}

.mux_appointment_times {
    margin-left: 22px;
}

.times-container .times-slide.odd .calendar {
    min-height: 125px;
}

.times-container .calendar.odd {
    background: #ebf3f8;
}

.times-container .calendar.even {
    background: #f5f9fb;
}

.calendar {
    border-right: 1px solid #FFF;
    width: 58px;
}

.calendar .time a,.calendar-next-available a {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #85a33b;
    -moz-box-shadow: inset 0 -1px 0 rgba(19,19,19,.24);
    -webkit-box-shadow: inset 0 -1px 0 rgba(19,19,19,.24);
    @include at-background-gradient(bottom,#99ae63 0%,#b1c67d 100%);
    color: #fff;
    font-family: Tahoma;
    font-size: 12px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.28);
    padding-left: 4px;
    padding-right: 4px;
    box-shadow: none;
    background: #3e4951;
    border-color: #3e4951;
}

.calendar .time a {
    width: 52px;
    margin-bottom: 3px;
    font-weight: 700;
    padding: 0 0 1px;
}

.calendar .time a:hover,.calendar-next-available a:hover {
    background-color: #4781a7;
    text-decoration: none;
    background-image: none;
    border-color: #4781a7;
}

.medical-specialties {
    margin-bottom: 10px!important;
    color: #28414F;
    font-family: Arial;
    font-weight: 700!important;
}

.provider.intro .gfx {
    width: 70px;
}

.provider.intro .info {
    width: 125px;
}

.provider.intro .info .rating {
    margin: 0;
}

.provider.intro .info .name,.provider.intro .info .name a,.profile h1.name,.profile h1.name a {
    color: #28414F;
    font-family: Arial;
    font-weight: 700;
    margin-top: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.provider-list .provider-row .provider-container:hover {
    cursor: auto;
}

.provider-list-header .header-next-link,.provider-list-header .header-prev-link {
    width: 25px;
}

.provider-row.first {
    margin-top: 9px!important;
}

.profile-doctor .provider-container {
    width: 287px!important;
}

.provider.profile .left {
    float: left;
    width: 74px;
}

.profile-doctor .provider.profile .right {
    width: 213px!important;
}

.profile-doctor .container_1 .grid_1 {
    width: 660px;
}

.profile-doctor .provider-row.odd.first.last {
    width: 326px!important;
}

.profile-doctor .calendar-times-container {
    width: 360px;
    position: relative;
    left: -147px;
    margin-top: 26px;
}

.profile-doctor .provider-list-header .header-next-link {
    right: 6px;
}

div.star-rating,div.star-rating a {
    width: 10px;
    height: 11px;
    background: url(/static/img/star-widget-blue.png) no-repeat;
    background-position: top left!important;
}

div.star-rating:nth-child(odd) {
    margin-right: 1px;
}

.booking .gfx img {
    height: 64px;
}

.booking #poweredBy {
    margin-top: 9px;
}

.booking #mux-widget {
    padding-bottom: 4px;
}

.booking #header {
    margin-top: -11px;
    margin-bottom: 3px;
}

.booking .doctor_info {
    display: inline-block;
    float: left;
    width: 195px;
}

.appointment_info {
    width: 160px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #5193a3;
    -moz-box-shadow: inset 0 -1px 0 #376b77;
    -webkit-box-shadow: inset 0 -1px 0 #376b77;
    box-shadow: inset 0 -1px 0 #376b77;
    @include at-background-gradient(bottom,#39859f 0%,#39859f 0.76%,#57a3bf 100%);
    line-height: 16px;
    padding: 9px;
}

.appointment_starts {
    color: #fff;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0,0,0,.35);
}

.user_info {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.35);
    margin-top: 5px;
}

#salutation {
    color: #28414F;
    font-weight: 700;
    width: 95px;
    display: inline-block;
}

label {
    color: #28414F;
}

#form_label_gender_1 {
    margin-right: 35px;
}

.input_text {
    width: 330px!important;
    background-clip: padding-box;
    background-color: #f1f1f1;
    box-shadow: inset 0 1px 0 rgba(19,19,19,.15);
    display: block;
    color: #333;
    font-family: Helvetica;
    text-shadow: 0 1px 3px #fff;
    background: initial;
    height: 24px;
    border-radius: 0;
    border: 1px solid #28414f;
    margin: 0 auto 12px;
    padding: 0 0 0 6px;
}

.salutation-container {
    margin-bottom: 8px;
    margin-top: 11px;
}

.label-mux {
    color: #28414F;
    font-weight: 700;
    width: 195px;
    display: inline-block;
}

#form_label_insurance_pkv {
    margin-right: 20px;
}

.doctor-name {
    color: #28414F;
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

#form_label_returning_visitor_1 {
    margin-right: 38px;
}

.booking select {
    width: 130px;
    height: 21px;
}

.agb {
    color: #656565;
    font-family: Arial;
    font-size: 10px;
}

label.agb {
    float: left;
    width: 300px;
    margin-left: 4px;
    margin-bottom: 5px;
    font-size: 10px;
}

label.agb > a {
    font-size: 10px;
}

#ok {
    width: 218px;
    height: 34px;
    border: 1px solid #3a464d;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #e6e6e6;
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27);
    box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.27);
    @include at-background-gradient(bottom,#59830b 0%,#699d17 49%,#71ab19 50%,#7fbf1b 96%,#99cb45 100%);
    color: #fff;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(69,97,14,.65);
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7BC727',EndColorStr='#599317');
    background: #3a464d;
    float: left;
    margin: 0 auto;
}

#ok:hover {
    background-color: #4781a7;
    border-color: #4781a7;
}

#ok:active {
    -o-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
    -moz-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
    -webkit-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
    box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
}

.booking #header h3 {
    padding-bottom: 22px;
}

.insurance-container {
    margin-top: 7px;
    margin-bottom: 11px;
}

.treatmenttype_id {
    margin-top: 5px;
    margin-bottom: 13px;
}

#form_agb {
    float: left;
}

.error_container {
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: fixed;
    top: 10%;
    left: 0;
    width: 305px;
    text-align: center;
    margin-left: 14px;
    z-index: 2;
    padding: 8px 35px 8px 14px;
}

.field_error {
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    color: #c09853;
}

.close {
    display: inline-block;
    position: absolute;
    top: -9px;
    right: -4px;
    font-size: 17px;
    background: #D3D3D3;
    border-radius: 100%;
    cursor: pointer;
    padding: 0 6px 1px;
}

.arztatlas-widget * {
    font-family: Verdana, sans-serif!important;
    font-size: 12px;
}

h3 p {
    color: #28414F;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
    line-height: 18px;
}

.confirmation h3 {
    border: none!important;
    width: 222px!important;
}

.confirmation #header img {
    position: relative;
    left: -15px;
}

.confirmation #header h3 {
    margin-left: 10px;
    width: initial!important;
}

.confirmation #header h3 p {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.confirmation .appointment_info {
    width: 335px;
    height: 31px;
    float: right;
    margin-top: -40px;
    margin-right: 5px;
}

.confirmation #header {
    margin-top: -8px;
    margin-bottom: 45px;
}

.confirmation .user_info {
    margin-top: 1px;
    margin-bottom: -4px;
}

.confirmation #doctor-info {
    float: right;
    background: none;
}

#doctor-info img,.text_info {
    display: inline-block;
    vertical-align: top;
}

.text_info .name {
    color: #3a464d;
    font-style: normal;
    font-weight: 700;
}

.text_info .specialty {
    font-style: normal;
}

.text_info {
    margin-left: 10px;
    width: 255px;
}

#doctor-info {
    background: transparent url(/static/img/booking_doctor_bg.png) no-repeat scroll 0 0;
    height: 105px;
    width: 356px;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: -5px;
    font-style: italic;
}

#hotlineBox {
    color: #3a464d;
    width: 175px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #f4f7fa;
    margin-top: 65px;
    margin-bottom: 19px;
    padding: 10px;
}

#hotlineBox a {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
}

#hotlineBox h3 {
    font-weight: 700;
}

.hotlineNr a {
    color: #3f95bd;
    font-size: 18px;
    text-decoration: none;
}

.hotlineNr {
    margin-top: -8px;
}

.telIcon {
    width: 23px;
    height: 24px;
    background: transparent url(/static/img/tel.png) no-repeat scroll 0 0;
    display: inline-block;
}

.form_container {
    display: inline-block;
    margin-top: -60px;
    z-index: 1;
    position: relative;
    width: 330px;
}

.insurance-container label {
    line-height: 20px;
}

#form_label_insurance_pkv::after {
    content: "\A";
    white-space: pre;
}

.field-select {
    margin-bottom: 10px;
}

#header *,#form_email,#form_phone {
    display: inline-block;
}

.provider.profile .medical-specialties,.text_info .specialty b,#hotlineBox b {
    font-weight: 400;
}

.profile-page .provider-row.first,.booking .gfx,.flash {
    display: none;
}

.prev-slide-link{@extend .widgets-prev-week-link-b};
.next-slide-link{@extend .widgets-next-week-link-b};
.prev-slide-loading{@extend .widgets-prev-week-link-d};
.next-slide-loading{@extend .widgets-next-week-link-d};
