@import "compass/css3/";
@import "../../old-css/widget-main";
$widgets-sprite-dimensions: true;
@import "widgets/*.png";
@include all-widgets-sprites;

html {
    overflow: hidden;
}
/*
PROFILE
*/
* {
    font-family: Arial;
}

body {
    background: white;
}

h3 {
  font-size: 16px;
  font-family: "Arial";
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  text-align: left;
  position: relative;
  top: 0;
  left: 0;
}

.top_picto {
  display: none;
}

.times-container {
  margin: 0 29px; // must match .calendar-container { left: }
}
.times-container .times-slide.odd {
    background: transparent url('/static/img/times-container-bg-netdoktor-widget.png') no-repeat scroll 0px 0px;
}

/*
* don't show the doctor image and name
* in this case
*/
.mux_doctor_info {
  display: none;
}

.calendar {
    width: 60px;
}

.static-header .provider-list-header {
  background: rgb( 2, 79, 153);
  width: 407px;
  height: 39px;
  border: none;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
}

.provider-list-header .header-prev-link {
    left: 0px;
}

.prev-slide-link{@extend .widgets-prev-week-link-f};
.next-slide-link{@extend .widgets-next-week-link-f};

.calendar-container {
    position: absolute;
    width: 356px;
    left: 29px;
}

.provider-list-header .header-next-link {
    width: 19px;
    right: 5px;
}

.calendar .day {
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
    text-shadow: none;
    font-weight: normal;
}

.calendar .date {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    text-shadow: none;
    text-overflow: hidden;
    overflow: hidden;
    width: 37px;
    margin: 0 auto;
}

.calendar-container .calendar-slide .calendar {
    border-right: rgb( 64, 69, 89) 1px solid;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 60px;
}

.calendar-container .calendar-slide .calendar:nth-child(1) {
    border-left: rgb( 64, 69, 89) 1px solid;
}

.calendar .time a, .calendar-next-available a {
    @include at-background-gradient(bottom, rgb(7,79,153) 0%, rgb(7,79,153) 100%);
    margin: 0 auto;
    font-size: 12px;
    color: rgb( 255, 255, 255 );
    text-align: center;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #057FF1;
    box-shadow: none;
    border-radius: 0px;
    border: 0px !important;
    -webkit-border-radius: 0px;
    -moz-border-bottom-radius: 0px;
}

.calendar .time a {
    width: 53px;
    height: 17px;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 0px; 
    padding-right: 0px;
}

.calendar .time a:hover, .calendar-next-available a:hover {
    @include at-background-gradient( bottom,  rgb(7,79,153) 0%, rgb(7,79,153) 100%);
    background-color: #75B1EA;
    background-image: none;
    text-decoration: none;
}

.provider.intro .info .name, .provider.intro .info .name a {
    font-size: 13px;
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    text-align: left;
    width: 73px;
}

.provider.intro .info {
    width: 128px;
}

.provider.intro .gfx {
    width: 80px;
}

.provider.intro .gfx img {
    border: 1px solid #cccccc;
    padding: 1px;
    width: 80px;
    width: 67px;
    height: 91px;
}

.provider.intro .info .medical-specialties {
    width: 100px;
	color: #000000;
}

.provider-list .provider-row {
    margin: 0 2px;
    min-height: 130px;
    border-bottom: 0px;
}

#mux-widget {
    width: 490px;
}

.rating .stars {
    display: none;
}

.profile-page .provider-row.first {
    display: none;
}

#poweredBy {
    font-size: 7px;
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 7px;
    opacity: .8;
    border-top: 2px solid #efefef;
    padding-top: 8px;
}

.provider-list.static-header {
    margin-top: 0;
}

.calendar-slide.odd {
    margin-left: -2px;
}

#prev-loading, #next-loading {
    display: none!important;
}

.provider.intro .info .rating {
    display: none;
}


/*
* BOOKING FORM
*
*/

.form .top_picto {
    background-image: url('/static/img/calendar-form-dasoertliche-widget.png');
    background-size: 100%;
}

.doctor_info {
  vertical-align: top;
}

.booking .gfx img {
    height: 64px;
}

.booking .doctor_info .gfx {
    margin-bottom: 20px;
}

.booking .doctor_info * {
    display: inline-block;
    vertical-align: top;
}

.appointment_info {
    background: rgb(7,79,153);
    font-size: 16.002px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.25;
    padding: 15px;
    line-height: 22px;
    padding-top: 11px;
    padding-bottom: 11px;
}

#salutation {
    font-size: 13px;
    font-weight: bold;
    width: 95px;
    display: inline-block;
}

label {
    color: #000;
    font-size: 13px;
}

#form_label_gender_1 {
    margin-right: 35px;
}

.input_text {
    height: 18px;
    border: 1px solid #757D8F;
    moz-box-shadow: inset 4px 4px 4px -4px #999;
    -webkit-box-shadow: inset 4px 4px 4px -4px #999;
    box-shadow: inset 4px 4px 4px -4px #999;
    padding: 2px 5px;
    font-size: 13px;
    font-family: sans-serif;
    color: #000;
    background-color: white;
    width: 341px;
    margin-bottom: 18px;
}

.salutation-container {
    margin-bottom: 18px;
    margin-top: 11px;
}

.label-mux {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    width: 168px;
    display: inline-block;
    margin-right: 17px;
}

#form_label_insurance_pkv {
    margin-right: 20px;
}

.doctor-name {
    color: black;
    display: inline-block
}

#form_label_returning_visitor_1 {
    margin-right: 38px;
}

.booking select {
    width: 155px;
    font-size: 16px;
}

.agb {
    color: #656565;
    font-family: "Arial";
    font-size: 10px;
    display: block;
    height: 50px;
}

label.agb {
    float: left;
    width: 337px;
    margin-left: 4px;
    margin-bottom: 5px;
}

#ok {
    @include at-background-gradient(bottom, rgb(7,79,153) 0%, rgb(7,79,153) 100%);
    background-color: #057FF1;
    width: 220px;
    height: 38px;
    color: #fff;
    font-family: "Helvetica";
    font-size: 16px;
    text-shadow: 0 -1px 0 rgba(69,97,14,.65);
    margin: 0 auto;
    display: inline-block;
    left: 66px;
    border: 0px;
    cursor: pointer;
    position: relative;
    top: 15px;
    @include border-radius(0);
}

#ok:hover {
    background-color: #75B1EA;
    @include at-background-gradient(bottom, rgb(7,79,153) 0%, rgb(7,79,153) 100%);
}

#ok:active {
    -o-box-shadow:inset 0.05em 0.15em 0.4em rgba(0,0,0,0.4),inset 0 0 0.2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
    -moz-box-shadow:inset 0.05em 0.15em 0.4em rgba(0,0,0,0.4),inset 0 0 0.2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9)	;
    -webkit-box-shadow:inset 0.05em 0.15em 0.4em rgba(0,0,0,0.4),inset 0 0 0.2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
    box-shadow:inset 0.05em 0.15em 0.4em rgba(0,0,0,0.4),inset 0 0 0.2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9)
}

.insurance-container {
    margin-top: 7px;
    margin-bottom: 11px;
}

.treatmenttype_id {
    margin-top: 5px;
    margin-bottom: 13px;
}

#form_agb {
    float: left;
}

.error_container {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: fixed;
    top: 10%;
    left: 0px;
    width: 305px;
    text-align: center;
    margin-left: 14px;
}

.field_error {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #c09853;

}

.close{ 
    display: inline-block;
    position: absolute;
    top: -9px;
    right: -4px;
    font-size: 17px;
    background: lightgrey;
    padding: 6px;
    border-radius: 100%;
    padding-top: 0px;
    padding-bottom: 1px;
    cursor: pointer;
}

.flash {
    position: absolute;
    z-index: 123;
    left: 50%;
    margin-left: -253px;
}

/*
* CONFIRMATION PAGE
*/
.confirmation #header {
}

.confirmation h3 {
    border: none !important;
}

.confirmation .appointment_info {
	margin-bottom: 30px;
}

.confirmation .user_info {
    margin-top: 1px;
    margin-bottom: -4px;
}

#doctor-info img, .text_info {
    display: inline-block;
    vertical-align: top;
}

.text_info {
    color: black;
    margin-left: 10px;
    width: 255px;	
}

.text_info .name {
    color: black;
    font-weight: bold;
}

.specialty b {
    font-weight: normal;
	font-size: 12px;
	font-style: italic;
}

.address p {
	font-size: 14px;
}

#doctor-info {
    height: 105px;
    width: 356px;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 216px;
    margin-top: 4px;
}

.confirmation #doctor-info {
	padding-top: 0px;
	padding-left: 14px;
}

.confirmation .appointment_info .user_info {
    display: none;
}

#hotlineBox {
    border: 1px solid #000000;
    width: 170px;
    height: 107px;
    padding-left: 9px;
	padding-right: 7px;
    margin-top: -104px;
    margin-bottom: 45px;
    margin-left: 17px;
}

#hotlineBox h3 {
    color: black;
    font-size: 14px;
    font-weight: bold;
    left: 0px;
}

h3 p {
    color: black;
    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
    line-height: 18px;
    border-top: 1px solid #efefef;
    width: 355px;
    padding-top: 8px;
}

#hotlineBox b {
    font-weight: normal;
    color: black;
	font-size: 14px;
}

.hotlineNr a {
    color: #3f95bd;
    font-size: 18px;
    text-decoration: none;
}

.hotlineNr {
    margin-top: -8px;
}

.telIcon {
    width: 23px;
    height: 24px;
    background: transparent url('/static/img/tel-netdoktor-widget.png') no-repeat scroll 0px 0px;
    display: inline-block;
}

#hotlineBox a {
    font-size: 18px;
    text-decoration: none;
    position: relative;
    top: -2px;
}
