@import "compass/css3/";
@import "../../old-css/widget-main";
$widgets-sprite-dimensions: true;
@import "widgets/*.png";
@include all-widgets-sprites;

html {
    overflow: hidden;
}
/*
PROFILE
*/
* {
    font-family: Arial;
}
body {
    background: white;
}
#header * {
    display: inline-block;
}
.calendar .time a, .calendar-next-available a {
    @include at-background-gradient( bottom, rgb(5,127,241) 0%, rgb(117,177,234) 100%);
    margin: 0 auto;
    font-size: 12px;
    color: rgb( 255, 255, 255 );
    text-align: center;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #057FF1;
    box-shadow: none;
    border-radius: 0px;
    border: 0px !important;
    -webkit-border-radius: 0px;
    -moz-border-bottom-radius: 0px;
}
.calendar .time a {
    width: 53px;
    height: 17px;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.calendar .time a:hover, .calendar-next-available a:hover {
    @include at-background-gradient( bottom, rgb(117,177,234) 0%,  rgb(5,127,241) 100%);
    background-color: #75B1EA;
    background-image: none;
    text-decoration: none;
}

.times-container .times-slide.odd {
    background: transparent url('/static/img/times-container-bg-netdoktor-widget.png') no-repeat scroll 0px 0px;
}
.calendar {
    width: 60px;
}

.static-header .provider-list-header {
    background: rgb(239,239,239);
    width: 407px;
    height: 39px;
    border: none;
    position: absolute;
    top: 66px;
    left: 162px;
}

.provider-list-header .header-prev-link {
    left: 0px;
}
.calendar-container {
    position: absolute;
    width: 356px;
    left: 29px;
}

.provider-list-header .header-next-link {
    width: 19px;
    right: 5px;
}

.calendar .day {
    font-size: 11px;
    color: black;
    text-align: center;
    text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );
    font-weight: normal;
}

.calendar .date {
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );
    text-overflow: hidden;
    overflow: hidden;
    width: 37px;
    margin: 0 auto;
}

.calendar-container .calendar-slide .calendar {
    border-right: rgb( 64, 69, 89) 1px solid;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 60px;
}

.calendar-container .calendar-slide .calendar:nth-child(1) {
    border-left: rgb( 64, 69, 89) 1px solid;
}

h3 {
    font-size: 16px;
    font-family: "Arial";
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    text-align: left;
    position: relative;
    top: -66px;
    left: 26px;
}

.top_picto {
    width: 152px;
    height: 111px;
    position: relative;
    left: 16px;
}
.profile .top_picto {
    background-image: url('/static/img/calendar-netdoktor-widget.png');
    background-size: 100%;
}
.form .top_picto {
    background-image: url('/static/img/calendar-form-netdoktor-widget.png');
    background-size: 100%;
}
.confirmation .top_picto {
    width: 172px;
    height: 126px;
    background-image: url('/static/img/calendar-confirmation-netdoktor-widget.png');
    background-size: 100%;
    top: 17px;
}
.confirmation .appointment_info .user_info {
    display: none;
}
.provider.intro .info .name, .provider.intro .info .name a {
    font-size: 13px;
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    text-align: left;
    width: 73px;
}
.provider.intro .info {
    width: 128px;
}
.provider.intro .gfx {
    width: 80px;
}
.provider.intro .gfx img {
    border: 1px solid #cccccc;
    padding: 1px;
    width: 80px;
    width: 67px;
    height: 91px;
}

.provider-list .provider-row {
    margin: 0 2px;
    min-height: 130px;
    border-bottom: 0px;
}

#mux-widget {
    width: 591px;
}

.rating .stars {
    display: none;
}

.profile-page .provider-row.first {
    display: none;
}

#poweredBy {
    font-size: 7px;
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 7px;
    opacity: .8;
    border-top: 2px solid #efefef;
    padding-top: 8px;
}

.provider-list.static-header {
    margin-top: -6px;
}

.mux_appointment_times {
    margin-top: -8px;
}

.calendar-slide.odd {
    margin-left: -2px;
}

#prev-loading, #next-loading {
    display: none!important;
}

.provider.intro .info .medical-specialties {
    width: 100px;
}

.provider.intro .info .rating {
    display: none;
}


/*
* BOOKING FORM
*
*/

.doctor_info {
    width: 190px;
    margin-right: 42px;

}

.form_container {
    width: 354px;
    top: -93px;
    position: relative;
}

.doctor_info, .form_container{
    display: inline-block;
    vertical-align: top;
}

.booking .gfx img {
    height: 64px;
}

.booking #poweredBy{
    margin-top: 9px;
}
.booking #mux-widget{
    padding-bottom: 4px;
}
.booking #header{
    margin-bottom: 3px;
}
.booking .doctor_info .gfx {
    margin-bottom: 20px;
}
.booking .doctor_info * {
    display: inline-block;
    vertical-align: top;
}
.appointment_info {
    background: #bec8d8;
    font-size: 16.002px;
    color: #404559;
    font-weight: bold;
    line-height: 1.25;
    padding: 15px;
    line-height: 22px;
    padding-top: 11px;
    padding-bottom: 11px;
}

#salutation {
    font-size: 13px;
    font-weight: bold;
    width: 95px;
    display: inline-block;
}
label {
    color: #000;
    font-size: 13px;
}
#form_label_gender_1 {
    margin-right: 35px;
}

.input_text{
    height: 18px;
    border: 1px solid #757D8F;
    moz-box-shadow: inset 4px 4px 4px -4px #999;
    -webkit-box-shadow: inset 4px 4px 4px -4px #999;
    box-shadow: inset 4px 4px 4px -4px #999;
    padding: 2px 5px;
    font-size: 13px;
    font-family: sans-serif;
    color: #000;
    background-color: white;
    width: 341px;
    margin-bottom: 18px;
}

.salutation-container{
    margin-bottom: 18px;
    margin-top: 11px;
}

.label-mux{
    color: #000;
    font-size: 13px;
    font-weight: bold;
    width: 168px;
    display: inline-block;
    margin-right: 17px;
}

#form_label_insurance_pkv {
    margin-right: 20px;
}

.doctor-name{
    color: black;
    display: inline-block
}

#form_label_returning_visitor_1 {
    margin-right: 38px;
}

.booking select {
    width: 155px;
    font-size: 16px;
}

.agb {
    color: #656565;
    font-family: "Arial";
    font-size: 10px;
    display: block;
    height: 50px;
}

label.agb{
    float: left;
    width: 337px;
    margin-left: 4px;
    margin-bottom: 5px;
}

#ok{
    @include at-background-gradient( bottom, rgb(5,127,241) 0%, rgb(117,177,234) 100%);
    background-color: #057FF1;
    width: 220px;
    height: 38px;
    color: #fff;
    font-family: "Helvetica";
    font-size: 16px;
    text-shadow: 0 -1px 0 rgba(69,97,14,.65);
    margin: 0 auto;
    display: inline-block;
    left: 66px;
    border: 0px;
    cursor: pointer;
    position: relative;
    top: 15px;
    @include border-radius(0);
}

#ok:hover{
    background-color: #75B1EA;
    @include at-background-gradient( bottom, rgb(117,177,234) 0%,  rgb(5,127,241) 100%);
}

#ok:active{
    -o-box-shadow:inset 0.05em 0.15em 0.4em rgba(0,0,0,0.4),inset 0 0 0.2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
    -moz-box-shadow:inset 0.05em 0.15em 0.4em rgba(0,0,0,0.4),inset 0 0 0.2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9)	;
    -webkit-box-shadow:inset 0.05em 0.15em 0.4em rgba(0,0,0,0.4),inset 0 0 0.2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
    box-shadow:inset 0.05em 0.15em 0.4em rgba(0,0,0,0.4),inset 0 0 0.2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9)
}

.booking #header h3{
    padding-bottom: 12px;
    top: -78px;
    left: 79px;
    border-bottom: 1px solid #efefef;
    width: 354px;
}

.insurance-container{
    margin-top: 7px;
    margin-bottom: 11px;
}

.treatmenttype_id{
    margin-top: 5px;
    margin-bottom: 13px;
}

#form_agb {
    float: left;
}

.error_container{
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: fixed;
    top: 10%;
    left: 0px;
    width: 305px;
    text-align: center;
    margin-left: 14px;
}

.field_error{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #c09853;

}

.close{
    display: inline-block;
    position: absolute;
    top: -9px;
    right: -4px;
    font-size: 17px;
    background: lightgrey;
    padding: 6px;
    border-radius: 100%;
    padding-top: 0px;
    padding-bottom: 1px;
    cursor: pointer;
}

.flash{
    position: absolute;
    z-index: 123;
    left: 50%;
    margin-left: -253px;
}


/*
* CONFIRMATION PAGE
*
*
*/
h3 p{
    color: black;
    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
    line-height: 18px;
    border-top: 1px solid #efefef;
    width: 355px;
    padding-top: 8px;
}

.confirmation h3{
    border: none !important;
    width: 222px !important;
    top: 0px;
}

.confirmation #header img{
    position: relative;
    left: -15px;
}

.confirmation #header h3{
    margin-top: 6px;
    position: relative;
    top: -19px;
    left: 58px;
}

.confirmation .appointment_info{
    width: 220px;
    height: 41px;
    margin-top: -69px;
    margin-left: 235px;
}
.confirmation #header{
    margin-bottom: 45px;
}
.confirmation .user_info{
    margin-top: 1px;
    margin-bottom: -4px;
}

#doctor-info img, .text_info{
    display: inline-block;
    vertical-align: top;
}

.specialty b {
    font-weight: normal;
}

.text_info {
    color: black;
}
.text_info .name{
    color: black;
    font-weight: bold;
}

.address p{
    font-style: italic;
}

.text_info {
    margin-left: 10px;
    width: 255px;
}

#doctor-info {
    height: 105px;
    width: 356px;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 216px;
    margin-top: 4px;
}

#hotlineBox {
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 131, 133, 135 );
    background-color: rgb( 244, 247, 250 );
    width: 170px;
    height: 107px;
    padding-left: 9px;
    margin-top: -127px;
    margin-bottom: 45px;
    margin-left: 11px;
}

#hotlineBox h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
    left: 0px;
}

#hotlineBox b {
    font-weight: normal;
    color: black;
}

.hotlineNr a{
    color: #3f95bd;
    font-size: 18px;
    text-decoration: none;
}

.hotlineNr {
    margin-top: -8px;
}

.telIcon {
    width: 23px;
    height: 24px;
    background: transparent url('/static/img/tel-netdoktor-widget.png') no-repeat scroll 0px 0px;
    display: inline-block;
}

#hotlineBox a {
    font-size: 18px;
    text-decoration: none;
    position: relative;
    top: -2px;
}

.prev-slide-link{@extend .widgets-prev-week-link-e};
.next-slide-link{@extend .widgets-next-week-link-e};

