@import "compass/css3/";
@import "../../old-css/widget-main";
$widgets-sprite-dimensions: true;
@import "widgets/*.png";
@include all-widgets-sprites;

html {
    overflow: hidden;
}

input[type="radio"], input[type="checkbox"]  {
    -webkit-appearance: none;
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    border: 1px solid black;
}

input[type="radio"]:checked, input[type="checkbox"]:checked  {
    background: url('/static/img/styled_checkbox_on.png');
    border: none;
    width: 13px;
    height: 13px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}

/*
PROFILE
*/
* {
    font-family: Arial;
}
body {
    background: white;
}
#header * {
    display: inline-block;
}
.mux_appointment_times a {
    text-shadow: none;
}
.calendar .time a {
    width: 50px;
    text-shadow: none;
}

.calendar .time a, .calendar-next-available a,.calendar-next-available a:hover  {
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 19, 19, 19 );
	border-radius: 4px;
	background-color: white;
	margin: 0 auto;
	padding: 1px 3px 1px 3px;
	font-size: 12px;
	text-align: center;
	margin-bottom: 4px;
	color: rgb( 0, 0, 0 );
	background-image: none;
	box-shadow: none;
}

.calendar .time a,
.calendar-next-available a {
    color: #000 !important;
}

.calendar .time a:hover {
    background: #B8CEEB;
}
.calendar .time a:active {
    background: rgb(113, 143, 183);
}

.times-container .times-slide.odd {
    background: transparent url('/static/img/times-container-bg-gs-widget.png') repeat-y scroll 0px 0px;
}
.calendar {
    width: 60px;
}

.static-header .provider-list-header {
    background: #f3f1f1;
    width: 407px;
    height: 39px;
    border: none;
    position: absolute;
    top: 66px;
    left: 125px;
}

.provider-list-header .header-prev-link {
    left: 0px;
}
.calendar-container {
    position: absolute;
    width: 356px;
    left: 29px;
}

.provider-list-header .header-next-link {
    width: 19px;
    right: 5px;
}

.calendar .day {
    font-size: 11px;
    color: black;
    text-align: center;
    text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );
    font-weight: normal;
}

.calendar .date {
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );
    text-overflow: hidden;
    overflow: hidden;
    width: 37px;
    margin: 0 auto;
}

.calendar-container .calendar-slide .calendar {
    border-right: rgb( 64, 69, 89) 1px solid;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 60px;
}

.calendar-container .calendar-slide .calendar:nth-child(1) {
    border-left: rgb( 64, 69, 89) 1px solid;
}

h3 {
    font-size: 16px;
    font-family: "Arial";
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    text-align: left;
    position: relative;
    top: -66px;
    left: 26px;
}

.top_picto {
    width: 152px;
    height: 111px;
    position: relative;
    left: 16px;
}
.profile .top_picto {
    background-image: url('/static/img/calendar-stiftung-gesundheit-widget.png');
    background-size: 100%;
}
.form .top_picto {
    background-image: url('/static/img/calendar-form-stiftung-gesundheit-widget.png');
    background-size: 100%;
}
.confirmation .top_picto {
    width: 172px;
    height: 126px;
    background-image: url('/static/img/calendar-confirmation-stiftung-gesundheit-widget.png');
    background-size: 100%;
    top: 17px;
}
.confirmation .appointment_info .user_info {
    display: none;
}
.provider.intro .info .name, .provider.intro .info .name a {
    font-size: 12px;
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    text-align: left;
    width: 70px;
}
.provider.intro .info {
    width: 113px;
}
.provider.intro .gfx {
    width: 80px;
}
.provider.intro .gfx img {
    border: 1px solid #cccccc;
    padding: 1px;
    width: 80px;
    width: 67px;
    height: 91px;
}

.provider-list .provider-row {
    margin: 0 2px;
    min-height: 130px;
    border-bottom: 0px;
}

#mux-widget {
    width: 591px;
}

.rating .stars {
    display: none;
}

.profile-page .provider-row.first {
    display: none;
}

#poweredBy {
    font-size: 10px;
    color: #333;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 1px;
    border-top: 1px dotted #333;
    padding-top: 7px;
}

.booking #additionalDisclaimer{
    margin-top: 26px;
    position: relative;
    display:block;
    font-size:10px;
}

.provider-list.static-header {
    margin-top: -6px;
}

.mux_appointment_times {
    margin-top: -8px;
	margin-left: -21px;
}

.calendar-slide.odd {
    margin-left: -2px;
}

#prev-loading, #next-loading {
    display: none!important;
}

.provider.intro .info .medical-specialties {
    width: 100px;
    font-weight: normal;
    color: black;
}

.provider.intro .info .rating {
    display: none;
}


/*
* BOOKING FORM
*
*/

.doctor_info {
    width: 190px;
    margin-right: 25px;
}

.form_container {
    width: 354px;
    top: -93px;
    position: relative;
    margin-bottom:0;
}

.doctor_info, .form_container{
    display: inline-block;
    vertical-align: top;
}

.booking .gfx img {
    height: 64px;
}

.booking #poweredBy{
    position: relative;
    top: -68px;
}
.booking #mux-widget{
    padding-bottom: 4px;
}
.booking #header{
    margin-bottom: 3px;
}
.booking .doctor_info .gfx {
    margin-bottom: 20px;
}
.booking .doctor_info * {
    display: inline-block;
    vertical-align: top;
}
.appointment_info {
    font-size: 16px;
    color: #404559;
    font-weight: bold;
    line-height: 1.25;
    padding: 15px;
    line-height: 22px;
    padding-top: 11px;
    padding-bottom: 11px;
}

#salutation {
    font-size: 13px;
    font-weight: bold;
    width: 95px;
    display: inline-block;
}
label {
    color: #000;
    font-size: 13px;
}
#form_label_gender_1 {
    margin-right: 35px;
}

.input_text{
    border-width: 1px;
    border-color: rgb( 0, 0, 0 );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb( 255, 255, 255 );
    min-width: 320px;
    height: 27px;
    padding: 2px 5px;
    font-size: 13px;
    font-family: sans-serif;
    color: #000;
    margin-bottom: 8px;
}

.salutation-container{
    margin-bottom: 18px;
    margin-top: 11px;
}

.label-mux{
    color: #000;
    font-size: 13px;
    font-weight: bold;
    width: 168px;
    display: inline-block;
    margin-right: 4px;
}

#form_label_insurance_pkv {
    margin-right: 20px;
}

.doctor-name{
    color: black;
    display: inline-block
}

#form_label_returning_visitor_1 {
    margin-right: 38px;
}

.booking select {
    width: 155px;
    font-size: 12px;
}

.agb {
    color: #656565;
    font-family: "Arial";
    font-size: 10px;
    display: block;
    height: 50px;
}

label.agb{
    float: left;
    width: 330px;
    margin-left: 4px;
    margin-bottom: 5px;
}

#ok{
    border-style: solid;
    border-width: 2px;
    border-color: rgb( 19, 19, 19 );
    border-radius: 6px;
    background-color: rgb( 255, 221, 0 );
    @include at-background-gradient(rgb( 255, 221, 0 ), rgb( 255, 221, 0 ));
    width: 223px;
    height: 42px;
    color: black;
    font-family: "Helvetica";
    font-size: 16px;
    margin: 0 auto;
    display: inline-block;
    left: 66px;
    cursor: pointer;
    position: relative;
    top: 15px;
}


.booking #header h3{
    padding-bottom: 12px;
    top: -78px;
    left: 63px;
    border-bottom: 1px dotted black;
    width: 354px;
}

.insurance-container{
    margin-top: 7px;
    margin-bottom: 11px;
}

.treatmenttype_id{
    margin-top: 5px;
    margin-bottom: 13px;
}

#form_agb {
    float: left;
}

.field_error{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #c09853;
}
.input_error {
	border-width:2px;
	border-style:solid;
}
.flash{
    position: absolute;
    z-index: 123;
    left: 50%;
    margin-left: -253px;
}

/*
* CONFIRMATION PAGE
*
*
*/
h3 p{
    color: black;
    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
    line-height: 18px;
    border-top: 1px dotted #000;
    width: 320px;
    padding-top: 8px;
}

.confirmation h3{
    border: none !important;
    width: 222px !important;
    top: 0px;
}

.confirmation #header img{
    position: relative;
    left: -15px;
}

.confirmation #header h3{
    margin-top: 6px;
    position: relative;
    top: -19px;
    left: 58px;
}

.confirmation .appointment_info{
    width: 220px;
    height: 41px;
    margin-top: -69px;
    margin-left: 235px;
}
.confirmation #header{
    margin-bottom: 45px;
}
.confirmation .user_info{
    margin-top: 1px;
    margin-bottom: -4px;
}

#doctor-info img, .text_info{
    display: inline-block;
    vertical-align: top;
}

.specialty b {
    font-weight: normal;
}

.text_info {
    color: black;
}
.text_info .name{
    color: black;
    font-weight: bold;
}

.address p{
    font-style: italic;
}

.text_info {
    margin-left: 10px;
    width: 255px;
}

#doctor-info {
    height: 105px;
    width: 356px;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 216px;
    margin-top: 4px;
}

#hotlineBox {
    background-color: #f3f1f1;
    padding-top: 9px;
    width: 170px;
    height: 98px;
    padding-left: 9px;
    margin-top: -127px;
    margin-bottom: 45px;
    margin-left: 11px;
}

#hotlineBox h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
    left: 0px;
}

#hotlineBox b {
    font-weight: normal;
    color: black;
}

.hotlineNr a{
    color: #3f95bd;
    font-size: 18px;
    text-decoration: none;
}

.hotlineNr {
    margin-top: -8px;
}

.telIcon {
    width: 23px;
    height: 24px;
    background: transparent url('/static/img/tel-netdoktor-widget.png') no-repeat scroll 0px 0px;
    display: inline-block;
}

#hotlineBox a {
    font-size: 18px;
    text-decoration: none;
    position: relative;
    top: -2px;
}

.prev-slide-link{@extend .widgets-prev-week-link-e};
.next-slide-link{@extend .widgets-next-week-link-e};
.prev-slide-loading{@extend .widgets-prev-week-link-e};
.next-slide-loading{@extend .widgets-next-week-link-e};

.relative-container {
    position: relative;
    display: block;
}
.gelbseiten-footnote {
    display: inherit;
    position: absolute;
    right: 75px;
    top: 25px;
    font-size: 11px;
}
