/* line 170, widgets/*.png */
.widgets-sprite, .widgets-calendar, .widgets-next-week-link-a, .widgets-next-week-link-b, .next-slide-link, .widgets-next-week-link-c, .widgets-next-week-link-d, .next-slide-loading, .widgets-next-week-link-e, .widgets-next-week-link, .widgets-prev-week-link-a, .widgets-prev-week-link-b, .prev-slide-link, .widgets-prev-week-link-c, .widgets-prev-week-link-d, .prev-slide-loading, .widgets-prev-week-link-e, .widgets-prev-week-link, .widgets-star-widget-blue, .widgets-star-widget-navy-blue, .widgets-star_green, .widgets-star_yellow {
  background: url('../../img/widgets-sc6d83fb9c6.png') no-repeat;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-calendar {
  background-position: 0 0;
  height: 138px;
  width: 172px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-next-week-link-a {
  background-position: 0 -297px;
  height: 27px;
  width: 27px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-next-week-link-b, .next-slide-link {
  background-position: 0 -195px;
  height: 17px;
  width: 10px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-next-week-link-c {
  background-position: 0 -149px;
  height: 23px;
  width: 14px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-next-week-link-d, .next-slide-loading {
  background-position: 0 -324px;
  height: 27px;
  width: 27px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-next-week-link-e {
  background-position: 0 -229px;
  height: 15px;
  width: 9px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-next-week-link {
  background-position: 0 -410px;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-prev-week-link-a {
  background-position: 0 -270px;
  height: 27px;
  width: 27px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-prev-week-link-b, .prev-slide-link {
  background-position: 0 -212px;
  height: 17px;
  width: 10px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-prev-week-link-c {
  background-position: 0 -172px;
  height: 23px;
  width: 14px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-prev-week-link-d, .prev-slide-loading {
  background-position: 0 -351px;
  height: 27px;
  width: 27px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-prev-week-link-e {
  background-position: 0 -244px;
  height: 15px;
  width: 9px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-prev-week-link {
  background-position: 0 -440px;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-star-widget-blue {
  background-position: 0 -138px;
  height: 11px;
  width: 10px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-star-widget-navy-blue {
  background-position: 0 -259px;
  height: 11px;
  width: 10px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-star_green {
  background-position: 0 -378px;
  height: 16px;
  width: 16px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.widgets-star_yellow {
  background-position: 0 -394px;
  height: 16px;
  width: 16px;
}

/* line 5, universal-widget.scss */
* {
  font-family: "Arial";
}

/* line 8, universal-widget.scss */
body {
  background: white;
}

/* line 11, universal-widget.scss */
#mux-widget {
  width: 365px;
  padding: 10px;
  background: #fff;
  padding-bottom: 6px;
  overflow: hidden;
}

/* line 18, universal-widget.scss */
#poweredBy {
  text-align: center;
  color: #656565;
  font-size: 11px;
  width: 366px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  margin-top: 15px;
}

/* line 28, universal-widget.scss */
#poweredBy a {
  color: #5294a3;
  text-decoration: none;
}

/* line 34, universal-widget.scss */
.data-container {
  height: 290px;
}

/*
* HEADER
*
*/
/* line 42, universal-widget.scss */
.top_picto {
  width: 122px;
  height: 97px;
}

/* line 46, universal-widget.scss */
.profile .top_picto {
  background-image: url("/static/img/calendar.png");
  background-size: 100%;
}

/* line 50, universal-widget.scss */
.form .top_picto {
  background-image: url("/static/img/calendar-form.png");
  background-size: 100%;
}

/* line 55, universal-widget.scss */
.confirmation .top_picto {
  width: 139px;
  height: 111px;
  background-image: url("/static/img/calendar-confirmation.png");
  background-size: 100%;
}

/* line 62, universal-widget.scss */
#header * {
  display: inline-block;
}

/* line 65, universal-widget.scss */
#header h3 {
  color: #3f95bd;
  font-size: 16px;
  font-weight: bold;
  width: 239px;
  vertical-align: top;
  position: relative;
  top: 13px;
  left: -13px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
}

/*
* LIST
*
*/
/* line 81, universal-widget.scss */
.doctor-profile #header {
  margin-top: -11px;
}

/* line 84, universal-widget.scss */
.provider-list-header {
  width: 376px !important;
  height: 36px;
  border: 1px solid #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px rgba(19, 19, 19, 0.25);
  -webkit-box-shadow: 0 0 3px rgba(19, 19, 19, 0.25);
  box-shadow: 0 0 3px rgba(19, 19, 19, 0.25);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDM3OCAzOCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTMxMjEyIiBzdG9wLW9wYWNpdHk9IjAuMDciLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDciLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIzNzgiIGhlaWdodD0iMzgiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(bottom, rgba(19, 19, 19, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
  background-image: -o-linear-gradient(bottom, rgba(19, 19, 19, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(19, 19, 19, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
  background-image: linear-gradient(bottom, rgba(19, 19, 19, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
  margin-left: -6px;
}

/* line 105, universal-widget.scss */
#prev-loading, #next-loading {
  display: none !important;
}

/* line 109, universal-widget.scss */
.times-container .times-slide.odd {
  background: transparent url("/static/img/times-container-bg-mux-widget.png") no-repeat scroll 0px 0px;
}

/* line 113, universal-widget.scss */
.calendar .day {
  color: #666;
  font-size: 11px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  font-weight: normal;
}

/* line 119, universal-widget.scss */
.calendar .date {
  color: #666;
  font-family: "Arial";
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  width: 36px;
  overflow: hidden;
  margin: 0 auto;
}

/* line 129, universal-widget.scss */
.calendar-container {
  left: 16px;
  width: auto;
  top: -4px;
}

/* line 135, universal-widget.scss */
.calendar-container .calendar-slide .calendar {
  width: 58px;
}

/* line 139, universal-widget.scss */
.calendar:nth-child(5) {
  border-right: 0px !important;
}

/* line 142, universal-widget.scss */
.provider-list-header .header-prev-link {
  left: -4px;
}

/* line 145, universal-widget.scss */
.provider-list-header .header-next-link {
  right: -4px;
}

/* line 148, universal-widget.scss */
.provider-list .provider-row, .profile-location .provider-container .provider-list .provider-row.last {
  margin: 0 -4px;
  padding: 4px;
  border-radius: 6px;
  margin-bottom: 6px;
  background: #f1f1f1;
  border: none;
}

/* line 156, universal-widget.scss */
.gfx img {
  width: auto !important;
  height: 58px;
}

/* line 160, universal-widget.scss */
.mux_doctor_info {
  /*background: transparent url('/static/img/mux-doctor-bg.png') no-repeat scroll 0px 6px;*/
  width: 358px;
  height: 69px;
  -moz-border-radius: 0 364px 2px 362px / 0 2px 73px 1px;
  -webkit-border-radius: 0 364px 2px 362px / 0 2px 73px 1px;
  border-radius: 0 364px 2px 362px / 0 2px 73px 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  padding-top: 6px;
  padding-left: 6px;
}

/* line 176, universal-widget.scss */
.mux_appointment_times {
  position: relative;
  left: 15px;
}

/* line 181, universal-widget.scss */
.times-container .times-slide.odd {
  background-size: 538px;
  width: 337px;
  padding-top: 4px;
}

/* line 186, universal-widget.scss */
.calendar {
  width: 57px;
}

/* line 189, universal-widget.scss */
.calendar .time a, .calendar-next-available a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #85a33b;
  -moz-box-shadow: inset 0 -1px 0 rgba(19, 19, 19, 0.24);
  -webkit-box-shadow: inset 0 -1px 0 rgba(19, 19, 19, 0.24);
  box-shadow: inset 0 -1px 0 rgba(19, 19, 19, 0.24);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…0iMCIgd2lkdGg9IjUyIiBoZWlnaHQ9IjE3IiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
  background-image: -moz-linear-gradient(bottom, #99ae63 0%, #b1c67d 100%);
  background-image: -o-linear-gradient(bottom, #99ae63 0%, #b1c67d 100%);
  background-image: -webkit-linear-gradient(bottom, #99ae63 0%, #b1c67d 100%);
  background-image: linear-gradient(bottom, #99ae63 0%, #b1c67d 100%);
  color: #fff;
  font-family: "Tahoma";
  font-size: 12px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.28);
  padding-left: 4px;
  padding-right: 4px;
  box-shadow: none;
}

/* line 213, universal-widget.scss */
.calendar .time a {
  width: 52px;
  height: 17px;
  margin-bottom: 3px;
  margin-left: 4px;
  font-weight: bold;
  padding-bottom: 1px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

/* line 224, universal-widget.scss */
.calendar .time a:hover, .calendar-next-available a:hover {
  background-color: #98BA43;
  text-decoration: none;
  background-image: none;
}

/* line 229, universal-widget.scss */
.medical-specialties {
  margin-bottom: 10px !important;
  color: #666;
  /* text color */
  font-family: "Arial";
  font-size: 13px !important;
  font-weight: bold !important;
}

/* line 236, universal-widget.scss */
.provider.intro .gfx {
  width: 57px;
}

/* line 240, universal-widget.scss */
.provider.intro .info {
  width: 295px;
}

/* line 244, universal-widget.scss */
.provider.intro .info .rating {
  margin: 0px;
}

/* line 249, universal-widget.scss */
.provider.intro .info .name, .provider.intro .info .name a,
.profile h1.name, .profile h1.name a {
  color: #3d97b8;
  /* text color */
  font-family: "Arial";
  font-size: 13px;
  font-weight: bold;
  margin-top: 7px;
  width: 295px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 260, universal-widget.scss */
.provider-list .provider-row .provider-container:hover {
  cursor: auto;
}

/* line 263, universal-widget.scss */
.provider-list-header .header-next-link, .provider-list-header .header-prev-link {
  width: 25px;
}

/* line 266, universal-widget.scss */
.provider-row.first {
  margin-top: 9px !important;
}

/*doctor profile*/
/* line 270, universal-widget.scss */
.provider.profile .medical-specialties {
  font-weight: normal;
}

/* line 274, universal-widget.scss */
.profile-doctor .provider-container {
  width: 287px !important;
}

/* line 278, universal-widget.scss */
.provider.profile .left {
  float: left;
  width: 74px;
}

/* line 283, universal-widget.scss */
.profile-doctor .provider.profile .right {
  width: 213px !important;
}

/* line 287, universal-widget.scss */
.profile-doctor .container_1 .grid_1 {
  width: 660px;
}

/* line 291, universal-widget.scss */
.profile-doctor .provider-row.odd.first.last {
  width: 326px !important;
}

/* line 295, universal-widget.scss */
.profile-doctor .calendar-times-container {
  width: 360px;
  position: relative;
  left: -147px;
  margin-top: 26px;
}

/* line 302, universal-widget.scss */
.profile-doctor .provider-list-header .header-next-link {
  right: 6px;
}

/* line 307, universal-widget.scss */
div.star-rating, div.star-rating a {
  width: 10px;
  height: 10px;
  background: url("/static/img/star-widget.gif") no-repeat 0 0px;
  background-position: 0px -10px !important;
}

/* line 314, universal-widget.scss */
.doctor-profile .provider-row.first {
  display: none;
}

/*
* BOOKING FORM
*
*/
/* line 323, universal-widget.scss */
.booking .gfx img {
  height: 64px;
}

/* line 327, universal-widget.scss */
.booking #poweredBy {
  margin-top: 9px;
}

/* line 330, universal-widget.scss */
.booking #mux-widget {
  padding-bottom: 4px;
}

/* line 333, universal-widget.scss */
.booking #header {
  margin-top: -11px;
  margin-bottom: 3px;
}

/* line 338, universal-widget.scss */
.booking .doctor_info * {
  display: inline-block;
  vertical-align: top;
}

/* line 342, universal-widget.scss */
.appointment_info {
  width: 267px;
  height: 34px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #5193a3;
  -moz-box-shadow: inset 0 -1px 0 #376b77;
  -webkit-box-shadow: inset 0 -1px 0 #376b77;
  box-shadow: inset 0 -1px 0 #376b77;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDMxMyA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMzk4NTlmIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzM5ODU5ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU3YTNiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMzEzIiBoZWlnaHQ9IjY0IiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
  background-image: -moz-linear-gradient(bottom, #39859f 0%, #39859f 0.76%, #57a3bf 100%);
  background-image: -o-linear-gradient(bottom, #39859f 0%, #39859f 0.76%, #57a3bf 100%);
  background-image: -webkit-linear-gradient(bottom, #39859f 0%, #39859f 0.76%, #57a3bf 100%);
  background-image: linear-gradient(bottom, #39859f 0%, #39859f 0.76%, #57a3bf 100%);
  padding: 15px;
  line-height: 22px;
  padding-top: 9px;
  padding-bottom: 21px;
}

/* line 366, universal-widget.scss */
.appointment_starts {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
}

/* line 373, universal-widget.scss */
.user_info {
  color: #fff;
  font-size: 14px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
  margin-top: 5px;
  margin-bottom: 10px;
  width: 285px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 387, universal-widget.scss */
#salutation {
  color: #656565;
  font-size: 13px;
  font-weight: bold;
  width: 95px;
  display: inline-block;
}

/* line 394, universal-widget.scss */
label {
  color: #656565;
  font-size: 13px;
}

/* line 398, universal-widget.scss */
#form_label_gender_1 {
  margin-right: 35px;
}

/* line 402, universal-widget.scss */
.input_text {
  width: 359px !important;
  height: 29px;
  border-radius: 6px;
  background-clip: padding-box;
  background-color: #f1f1f1;
  box-shadow: inset 0px 1px 0px rgba(19, 19, 19, 0.15);
  display: block;
  margin: 0 auto;
  margin-bottom: 14px;
  border: none;
  padding: 0px 0px 0px 6px;
  color: #333;
  font-family: "Helvetica";
  font-size: 13px;
  text-shadow: 0 1px 3px #fff;
  margin-bottom: 7px;
}

/* line 421, universal-widget.scss */
#form_email, #form_phone {
  display: inline-block;
}

/* line 424, universal-widget.scss */
#form_phone {
  width: 149px !important;
}

/* line 427, universal-widget.scss */
#form_email {
  width: 199px !important;
}

/* line 430, universal-widget.scss */
.salutation-container {
  margin-bottom: 8px;
  margin-top: 11px;
}

/* line 435, universal-widget.scss */
.label-mux {
  color: #656565;
  font-size: 13px;
  font-weight: bold;
  width: 206px;
  display: inline-block;
}

/* line 443, universal-widget.scss */
#form_label_insurance_pkv {
  margin-right: 20px;
}

/* line 447, universal-widget.scss */
.doctor-name {
  color: #3e97b9;
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

/* line 456, universal-widget.scss */
#form_label_returning_visitor_1 {
  margin-right: 38px;
}

/* line 460, universal-widget.scss */
.booking select {
  width: 155px;
  height: 21px;
  font-size: 13px;
}

/* line 466, universal-widget.scss */
.agb {
  color: #656565;
  font-family: "Arial";
  font-size: 10px;
}

/* line 472, universal-widget.scss */
label.agb {
  float: left;
  width: 347px;
  margin-left: 4px;
  margin-bottom: 5px;
}

/* line 479, universal-widget.scss */
#ok {
  width: 218px;
  height: 34px;
  border: 1px solid #718f31;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e6e6e6;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.27);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.27);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.27);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIxOCAzNCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNTk4MzBiIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiM2OTlkMTciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzcxYWIxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iOTYlIiBzdG9wLWNvbG9yPSIjN2ZiZjFiIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOTljYjQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyMTgiIGhlaWdodD0iMzQiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background-image: -o-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background-image: -webkit-linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background-image: linear-gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  color: #fff;
  font-family: "Helvetica";
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(69, 97, 14, 0.65);
  margin: 0 auto;
  display: block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7BC727', EndColorStr='#599317');
}

/* line 508, universal-widget.scss */
#ok:hover {
  background-color: #7BC727;
  background-image: -moz-linear-gradient(bottom, #7bc727 0%, #599317 100%);
  background-image: -o-linear-gradient(bottom, #7bc727 0%, #599317 100%);
  background-image: -webkit-linear-gradient(bottom, #7bc727 0%, #599317 100%);
  background-image: linear-gradient(bottom, #7bc727 0%, #599317 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#599317', EndColorStr='#7BC727');
}

/* line 517, universal-widget.scss */
#ok:active {
  -o-box-shadow: inset 0.05em 0.15em 0.4em rgba(0, 0, 0, 0.4), inset 0 0 0.2em rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0.05em 0.15em 0.4em rgba(0, 0, 0, 0.4), inset 0 0 0.2em rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: inset 0.05em 0.15em 0.4em rgba(0, 0, 0, 0.4), inset 0 0 0.2em rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0.05em 0.15em 0.4em rgba(0, 0, 0, 0.4), inset 0 0 0.2em rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.9);
}

/* line 524, universal-widget.scss */
.booking #header h3 {
  margin-top: 24px;
  padding-bottom: 22px;
}

/* line 529, universal-widget.scss */
.insurance-container {
  margin-top: 7px;
  margin-bottom: 11px;
}

/* line 534, universal-widget.scss */
.treatmenttype_id {
  margin-top: 5px;
  margin-bottom: 13px;
}

/* line 539, universal-widget.scss */
#form_agb {
  float: left;
}

/* line 543, universal-widget.scss */
.error_container {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: fixed;
  top: 10%;
  left: 0px;
  width: 305px;
  text-align: center;
  margin-left: 14px;
}

/* line 561, universal-widget.scss */
.field_error {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #c09853;
}

/* line 567, universal-widget.scss */
.close {
  display: inline-block;
  position: absolute;
  top: -9px;
  right: -4px;
  font-size: 17px;
  background: lightgrey;
  padding: 6px;
  border-radius: 100%;
  padding-top: 0px;
  padding-bottom: 1px;
  cursor: pointer;
}

/* line 581, universal-widget.scss */
.flash {
  position: absolute;
  z-index: 123;
}

/*
* CONFIRMATION PAGE
*
*
*/
/* line 592, universal-widget.scss */
h3 p {
  color: #656565;
  font-size: 12px;
  font-weight: normal;
  margin-top: 8px;
  line-height: 18px;
}

/* line 600, universal-widget.scss */
.confirmation h3 {
  border: none !important;
  width: 222px !important;
}

/* line 605, universal-widget.scss */
.confirmation #header img {
  position: relative;
  left: -15px;
}

/* line 610, universal-widget.scss */
.confirmation #header h3 {
  margin-top: 6px;
}

/* line 614, universal-widget.scss */
.confirmation .appointment_info {
  width: 335px;
  height: 31px;
  margin-top: 27px;
}

/* line 619, universal-widget.scss */
.confirmation #header {
  margin-top: -8px;
  margin-bottom: 45px;
}

/* line 623, universal-widget.scss */
.confirmation .user_info {
  margin-top: 1px;
  margin-bottom: -4px;
}

/* line 628, universal-widget.scss */
#doctor-info img, .text_info {
  display: inline-block;
  vertical-align: top;
}

/* line 633, universal-widget.scss */
.text_info .name {
  color: #3f95bd;
}

/* line 637, universal-widget.scss */
.text_info {
  margin-left: 10px;
  width: 255px;
}

/* line 642, universal-widget.scss */
#doctor-info {
  background: transparent url("/static/img/booking_doctor_bg.png") no-repeat scroll 0px 0px;
  height: 105px;
  width: 356px;
  padding-top: 20px;
  padding-left: 20px;
  margin-left: -5px;
  margin-top: 13px;
}

/* line 652, universal-widget.scss */
#hotlineBox {
  width: 239px;
  height: 87px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e5eff1;
  padding-top: 1px;
  padding-left: 11px;
  margin-top: 35px;
  margin-bottom: 19px;
}

/* line 668, universal-widget.scss */
#hotlineBox h3 {
  color: #3f95bd;
  font-size: 13px;
  font-weight: bold;
}

/* line 674, universal-widget.scss */
.hotlineNr a {
  color: #3f95bd;
  font-size: 18px;
  text-decoration: none;
}

/* line 680, universal-widget.scss */
.hotlineNr {
  margin-top: -8px;
}

/* line 684, universal-widget.scss */
.telIcon {
  width: 23px;
  height: 24px;
  background: transparent url("/static/img/tel.png") no-repeat scroll 0px 0px;
  display: inline-block;
}
