<style type="text/css">
    #modalForm #availabilityList a {
        cursor: pointer;
    }

    #modalForm #availabilityList .row {
        margin-bottom: 10px;
    }

    #modalForm .treatment-types {
        display: inline-block;
        width: 100%;
        clear: both;
    }

    #modalForm .treatment-types .checkbox,
    #modalForm .insurance-types .checkbox {
        display: inline-block;
        padding: 4px 2px 4px 8px;
        font-weight: 700;
        width: auto;
        float: left;
    }

    #modalForm .recurring-config {
        clear: both;
        display: inline-block;
        width: 100%;
    }
    #modalForm .recurring-config .form-group {
        max-width: 190px;
        min-width: 125px;
    }

    #modalForm .recurring-removal-form {
        display: none;
    }
    #modalForm .recurring-removal-form h4 {
        margin-bottom: 2px;
    }
</style>
<div class="modal fade" id="modalForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form, { attr: { id: 'createAppointmentsForm' }}) }}
            {{ form_widget(form.onDate, { value: selected|date('Y-m-d'), label: false, attr: { style: 'display: none;' }}) }}
            <div class="modal-header">
                <h4 class="modal-title">
                    Verwalten Sie Ihren Dienstplan
                    <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                </h4>
            </div>
            <div class="modal-body">
                <div class="justify-content-start">
                    <span class="doctor-name">{{ doctor.fullName }}</span> - <span class="date-range">{{ selected|date('d.m.Y') }}</span>
                </div>
                <hr>
                <div id="availabilityList">
                    {% for item in form.rows %}
                        <div class="row" data-index="{{ loop.index0 }}" data-id="{{ item.vars.value.id }}">
                            {{ form_widget(item.id, { label: false, attr: { style: 'display: none;' }}) }}
                            {{ form_widget(item.practiceId, { label: false, attr: { style: 'display: none;' }}) }}
                            {{ form_widget(item.resourceIds, { label: false, attr: { style: 'display: none;' }}) }}
                            {{ form_widget(item.date, { label: false, attr: { style: 'display: none;' }}) }}
                            <div class="col-xs-3">
                                {{ form_row(item.rangeStart) }}
                            </div>
                            <div class="col-xs-3">
                                {{ form_row(item.rangeEnd) }}
                            </div>
                            <div class="col-xs-4">
                                {{ form_row(item.duration) }}
                            </div>
                            <div class="col-xs-2" style="line-height: 200%;">
                                <br />
                                {% if item.vars.value.id is null or loop.last %}
                                <a onclick="window.addField(this);"><span class="fa fa-plus-circle" aria-hidden="true"></span></a>
                                {% else %}
                                    &nbsp;&nbsp;
                                {% endif %}
                                &nbsp
                                {% if form.recurringConfig.vars.value is null or form.recurringConfig.vars.value.type == 'NEVER' %}
                                <a onclick="window.removeAvailabilityEntry(this);" class="availability-removal-link">
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </a>
                                {% else %}
                                <a onclick="window.removeRecurringAvailabilityEntry(this);" class="availability-removal-link">
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </a>
                                {% endif %}
                            </div>
                            {% if not item.vars.value.id is null and not form.recurringConfig.vars.value is null and form.recurringConfig.vars.value.type != 'NEVER' %}
                            <div class="col-xs-12 recurring-removal-form" data-id="{{ item.vars.value.id }}">
                                <h4>{{ 'ui.appointments.form.removal.recurring_availability'|trans }}</h4>
                                {{ 'ui.appointments.form.removal.recurring_removal'|trans }}
                                <br />
                                <button type="button" class="btn btn-sm" onclick="window.removeRecurringAvailabilities(this, '{{ selected|date('Y-m-d') }}', {{ item.vars.value.id }})">
                                    {{ 'ui.appointments.form.removal.only_this'|trans }}
                                </button>
                                &nbsp;
                                <button type="button" class="btn btn-sm" onclick="window.removeRecurringAvailabilities(this, null, {{ item.vars.value.id }})">
                                    {{ 'ui.appointments.form.removal.whole_series'|trans }}
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="treatment-types">
                    {% if hasTreatments %}
                        {{ form_row(form.treatmentTypes) }}
                    {% else %}
                        <div class="alert alert-warning">{{ 'ui.appointments.assign_treatments_first'|trans }}</div>
                    {% endif %}
                </div>
                <hr />
                <div class="insurance-types">
                    {{ form_row(form.insuranceTypes) }}
                </div>
                {% if hasMultipleInsuranceTypes %}
                <br />
                <hr />
                {% endif %}
                <div class="recurring-config">
                    <div class="form-group" style="float: left;">
                        {{ form_label(form.recurringConfig.type) }}
                        {{ form_widget(form.recurringConfig.type) }}
                    </div>
                    <div style="float: right;">
                        <div class="form-group" id="infiniteRecurringOption"{% if form.recurringConfig.vars.value is null or form.recurringConfig.vars.value.type == 'NEVER' %} style="display: none;"{% endif %}>
                            {{ form_label(form.recurringConfig.isEnding) }}
                            {{ form_widget(form.recurringConfig.isEnding, { value: (form.recurringConfig.vars.value is not null and not form.recurringConfig.vars.value.endsAt is null) ? "1" : "0" }) }}
                        </div>
                        <div class="form-group" id="recurringEndsAtSetting"{% if form.recurringConfig.vars.value is null or form.recurringConfig.vars.value.isEnding == 0 %} style="display: none;"{% endif %}>
                            {{ form_widget(form.recurringConfig.endsAt) }}
                        </div>
                    </div>
                </div>
                <div id="createAppointmentsErrors"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
                {% if not hasTreatments %}
                    {% do form.submit.setRendered %}
                {% else %}
                    {{ form_widget(form.submit) }}
                {% endif %}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script type="text/javascript">
    function recurringConfigUpdated(newValue) {
        if (newValue === 'NEVER') {
            document.getElementById('infiniteRecurringOption').style.display = 'none';
            document.getElementById('recurringEndsAtSetting').style.display = 'none';
        } else {
            var group = document.getElementById('infiniteRecurringOption');
            group.getElementsByTagName('select')[0].value = 0;
            group.style.display = 'block';
        }
    }

    function infiniteRecurringOptionUpdated(newValue) {
        if (newValue == 0) {
            document.getElementById('recurringEndsAtSetting').style.display = 'none';
        } else {
            document.getElementById('recurringEndsAtSetting').style.display = 'block';
        }
    }
</script>
