<div id="popover-content" style="display: none">
    {% set time = weekStart|date("U") %}
    {% set daysInMonth = time|date('t') %}
    {% set startDow = time|date('F 1\\s\\t Y')|date('N') - 1 %}
    {% set dow = startDow %}
    <div class="table-responsive">
        <table>
            <thead>
            <tr>
                <td><button type="button" class="prevMonth my-cal-prev btn btn-primary btn-sm"><i class="fa fa-angle-left" aria-hidden="true"></i></button></td>
                <td><button type="button" class="nextMonth my-cal-next btn btn-primary btn-sm"><i class="fa fa-angle-right" aria-hidden="true"></i></button></td>
                <td colspan="5" >&nbsp; {{ time|date('F', location) }}</td>

            </tr>
            <tr>
                <td>M</td>
                <td>D</td>
                <td>M</td>
                <td>D</td>
                <td>F</td>
                <td>S</td>
                <td>S</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for day in range(1,daysInMonth) %}
                {% if loop.first and startDow != 0 %}
                    <td colspan="{{ startDow }}"></td>
                {% endif %}
                <td>
                    <div>
                        <div  class="showWeek" style="cursor: pointer;">{{ day }}</div>
                    </div>
                </td>
                {% if loop.last and dow != 6 %}
                    <td colspan="{{ 6 - dow }}">&nbsp;</td>
                {% endif %}
                {% if dow == 6 %}
                {% set dow = 0 %}
            </tr>
            <tr>
                {% else %}
                    {% set dow = dow + 1 %}
                {% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% block javascripts %}
    <script>
        $('.nextMonth').bind('click', function () {
            weekno = weekno + 1;
            newDate = dateFromWeekNumber(today.getFullYear(), (weekno - 1));
            newDateEnd = dateFromWeekNumberEnd(today.getFullYear(), (weekno - 1));
            updateMyCalendar($, newDate, newDateEnd);

        });
        $('.prevMonth').bind('click', function () {
            weekno = weekno - 1;
            newDate = dateFromWeekNumber(today.getFullYear(), (weekno - 1));
            newDateEnd = dateFromWeekNumberEnd(today.getFullYear(), (weekno - 1));
            updateMyCalendar($, newDate, newDateEnd);

        });

    </script>
{% endblock %}
