<style type="text/css">

</style>
<div class="modal fade" id="createDoctorModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            {%  if form is null %}
                <div class="modal-header">
                    <h4 class="modal-title">
                        Erweiterung Ihres Benutzerkontos
                        <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                    </h4>
                    <div class="modal-body">
                        <div class="alert alert-warning">Der Zahlungsdienst erfordert eine Erweiterung Ihres Benutzerkontos. Bitte kontaktieren Sie unser Accountmanagement unter +49 (0)30 609 840 228</div>
                    </div>
                </div>
            {% else %}
                {{ form_start(form, { attr: { id: 'createDoctorForm' }}) }}
                <div class="modal-header">
                    <h4 class="modal-title">
                        Fügen Sie einen neuen Behandler hinzu
                        <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="offset-xs-1 col-xs-10">
                            <div class="row">
                                <div class="col-xs-4">
                                    {{ form_row(form.gender, { required: true }) }}
                                </div>
                                <div class="col-xs-8">
                                    {{ form_row(form.title) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    {{ form_row(form.firstName) }}
                                </div>
                                <div class="col-xs-6">
                                    {{ form_row(form.lastName) }}
                                </div>
                            </div>
                            {{ form_row(form.email, { required: true }) }}

                            {% set randomPassword = [] %}
                            {% for i in 1..10 %}
                                {# no 0 or o as they are often mistaken #}
                                {% set alpha = 'abcdefghijklmnpqrstuvwxyz' %}
                                {% set numbers = '123456789' %}
                                {% set randomCharacter = random(alpha ~ numbers ~ '-_') %}
                                {% set randomPassword = randomPassword|merge([randomCharacter]) %}
                            {% endfor %}
                            {% set generatedPassword = randomPassword | join %}
                            {{ form_row(form.password, { required: true, value: generatedPassword }) }}
                            <small>Zufällig generiertes Standardpasswort: <strong>{{ generatedPassword }}</strong></small>
                        </div>
                    </div>
                    <div id="createDoctorErrors"></div>
                </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
                {% if form is not null %}
                <button type="submit" class="btn btn-primary pull-right">Hinzufügen</button>
                {% endif %}
            </div>
            {% if form is not null %}
                {% do form.language.setRendered %}
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
</div>
