<div class="modal fade" id="holidayForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form, { attr: { id: 'createHolidayForm', novalidate: '' }}) }}
            {{ form_widget(form.publicHoliday, { value: publicHoliday, label: false, attr: { style: 'display: none;' }}) }}
            <div class="modal-header">
                <h4 class="modal-title">
                    Neue Abwesenheit erstellen
                    <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                </h4>
            </div>
            <div class="modal-body">
                {{ form_row(form.name) }}
                <div class="row">
                    {% if not publicHoliday %}
                        <div class="col-sm-6 col-xs-12">
                            {{ form_row(form.begin) }}
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form_row(form.end) }}
                        </div>
                    {% else %}
                        <div class="col-xs-12">
                            {{ form_row(form.begin, { label: 'Datum' }) }}
                        </div>
                        {% do form.end.setRendered %}
                    {% endif %}
                </div>
                {{ form_widget(form.resourceIds, { label: false, attr: { style: 'display: none; height: 0;' }}) }}
                {% if not publicHoliday %}
                    <label for="doctorsSuggestInput">Mitarbeiter</label>
                    <input type="text" class="form-control doctor-auto-complete" placeholder="Name des Doktors" id="doctorsSuggestInput" />
                    <div class="auto-complete-container" style="margin-top: 10px;"></div>
                {% endif %}
                <br />
                <div id="createHolidaysErrors"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-ghost pull-left" data-dismiss="modal">Schließen</button>
                <button type="submit" class="btn btn-primary pull-right">Speichern</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
