{include "admins/table-view-base-tpls/head.tpl"}

<form id="id_head_form"  action="http://{$SITE_URL}/dyn/admins/do_import_integration_doctors" method="post">
<select name="integration_id">
	<option value = '1' {if isset($ns.request.integration_id) && $ns.request.integration_id == 1}selected="selected"{/if}>Integration 1</option>
	<option value = '2' {if isset($ns.request.integration_id) && $ns.request.integration_id == 2}selected="selected"{/if}>Integration 2</option>
	<option value = '3' {if isset($ns.request.integration_id) && $ns.request.integration_id == 3}selected="selected"{/if}>Integration 3</option>
	<option value = '4' {if isset($ns.request.integration_id) && $ns.request.integration_id == 4}selected="selected"{/if}>Integration 4</option>
	<option value = '5' {if isset($ns.request.integration_id) && $ns.request.integration_id == 5}selected="selected"{/if}>Samedi</option>
</select>
<input type="submit" value="fetch doctors" />
</form>

