html.page-calendar
  font-size: $font-size-base

  header
    margin-bottom: 0

  h2
    color: $very-dark-grey
    +desktop
      font-size: 28px
    +phone
      font-size: 22px
      line-height: 34px

  .calendar-sidebar
    padding: 0
    +desktop
      top: 83px
      left: 15px
      z-index: 20
    +phone
      position: static
      width: 100%

      .btn
        margin-bottom: 0

      .panel-heading
        display: none

      ul.resource-group .list-group-item
        display: inline-block

      .small-accordion,
      .small-accordion .panel-body
        width: 100%

  .calendar-content
    +desktop
      margin-left: 190px
    +phone
      margin: 0

  [ng-controller='MonthNavigationWidgetController']
    +phone
      display: none

  [ng-controller='ResourceNavigationWidgetController']
    .panel-collapse
      +desktop
        height: calc(100vh - 410px) !important
        overflow-y: auto
        overflow-x: hidden

  .navbar-toggler
    padding: .5rem .75rem
    margin: 0

  .fc-view-container
    +desktop
      height: calc(100vh - 160px)
      overflow-y: auto
      overflow-x: visible
      padding-right: 1rem

  .fc-agendaWeek-view,
  .fc-agendaDay-view
    .fc-time-grid-container
      +desktop
        height: calc(100vh - 240px) !important

  .fc-button
    @extend .btn
    +box-shadow(none)
    text-shadow: none
    line-height: 1rem

    \+.fc-button
      border-top-left-radius: 0
      border-bottom-left-radius: 0
      margin-left: -1px

    &:not(.fc-state-active)
      @extend .btn-default

    &.fc-state-active
      @extend .btn-primary
