.page-product

  .slide
    background: $almost-white
    +md-up
      padding-top: 5rem
    +md-down
      padding-top: 2rem

    &:nth-child(2n)
      background: $light-blue

  .copycontent
    padding-bottom: 1rem

  img
    +sm-down
      margin: 2rem 0

  [class^=col-]:first-child img
    +sm-down
      margin-top: 0