.page-search

  .map
    background: #b9d6b2
    text-align: center
    color: white

    +sm-up
      position: fixed
      z-index: 90
      width: 33%
      height: 100vh
      box-shadow: 0 0 15px 0 $very-dark-grey inset

    +sm-down
      height: 0vh
      width: 100%
      box-shadow: 0 0 15px 0 $very-dark-grey inset
      transition: height 0.2s linear
      overflow: hidden

      &.is-expanded
        height: 40vh

  .collapse-map-button
    i
      margin-right: 0.5rem

    .disable-map
      display: none

    &.is-active

      .disable-map
        display: inline

      .enable-map
        display: none

  .results
    +sm-down
      margin-top: 1rem

  .search-form
    +sm-down
      padding-bottom: 1.5rem

  \+footer

    +sm-up
      position: relative
      left: 33%
      width: 67%

    .container
      @extend .container-fluid
      max-width: none

  .result-list

    .headline
      font-size: 1.5rem
      line-height: 1.5rem
      border-bottom: 1px solid $very-light-grey
      overflow: hidden

      .headline-text
        +pull-left-sm-up
        margin-right: 1rem
        margin-bottom: 1rem
      .buttons
        +pull-right-sm-up
        margin-bottom: 1rem

    .result
      +xs-up
        margin: 2rem 0
      +xs-down
        margin: 2rem 0 1rem 0

      h3,
      .rating-star
        display: inline-block
