<div id="nav-header" class="nav">
	{if isset($ns.admin)}
		<a href="//{$SITE_URL}/dyn/admins/do_logout">Logout</a>
	{else}
	<span class="language-text">Sprache:</span>
		<div id="language">
			<span class="b l-flag deutsch" href="" ></span>
			<a class="l-flag english" href=""></a>
			<span id="doc-reg-top"> | <a href="http://praxismarketing.arzttermine.de/">Als Arzt registrieren</a> </span>
		</div>
	{/if}
</div>
