<?php
|  if (!isset($_GET['page'])) { $page = "home"; }
|  else { $page = $_GET['page']; }
|  ?>

doctype html
html lang="de"

  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    title 💻 doctorio.es > Application
    link rel="stylesheet" type="text/css" href="/css/application.css"
    link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Gudea:100,300,400,700,900"
    meta name="viewport" content="width=device-width, initial-scale=1"

  body

    <?php if ($page == "search"): ?>
      <header class="is-fixed">
    <?php else: ?>
      <header>
    <?php endif; ?>

      .container
        .row

          .col-sm-12.col-md-4.col-lg-3

            button.navbar-toggler.pull-right.hidden-md-up.collapsed aria-expanded="false" type="button" data-toggle="collapse" data-target="[data-name=mobile-navigation]" ☰

            a.logo href="?page=user"
              img src="/images/logo/doctorio-logo.svg"

          .col-sm-9.col-md-8.col-lg-9.navigation.hidden-sm-down

            /! for default navigation
            nav

              ul.list-unstyled.text-navigation
                li.active
                  a.text-uppercase href="#" Product

                li
                  span.hidden-md-down> pide cita previa
                  span.fa.fa-phone
                  span 932201665

              ul.list-unstyled.button-navigation
                li: a.text-uppercase.btn.btn-primary.is-thinner href="#":  Cerrar Sign in
                li: a.text-uppercase.btn.btn-secondary.is-thinner href="#":  Cerrar Sign up

            /! for join page navigation
            /! nav.text-right
            /!   ul.list-unstyled
            /!     li
            /!       span> pide cita previa
            /!       span.fa.fa-phone
            /!       span 932201665

          .col-sm-12
            nav.stacked-navigation.collapse data-name="mobile-navigation"
              ul.list-unstyled.level-1
                li: a href="#" Buscar Doctor
                li: a href="#" Dashboard
                li: a href="#" Iniciar sesión para doctor
                li: a href="#" Iniciar sesión para pacientes
                li: a href="#" ¡Registrarse aquí gratis para doctor
                li: a href="#" ¡Registrarse aquí gratis para pacientes
                li: a href="#" Cerrar Sesión

    </header>

    .content-wrapper
      <?php include("_application/_$page.php"); ?>

      footer
        .container
          .row
            .col-sm-12
              img.logo src="/images/logo/doctorio-logo.svg"
            .col-sm-3
              h3 Legal
              nav: ul
                li: a href="#" Términos y condiciones
                li: a href="#" Aviso Legal
                li: a href="#" Protección de datos
            .col-sm-3
              h3 Empresa
              nav: ul
                li: a href="#" Contacto

            .col-sm-3
              h3 Any other link collection

            .col-sm-3
              h3 Social Media
              nav: ul
                li: a href="#" Facebook
                li: a href="#" Twitter

    <div class="❤">
      a#home         href="?page=home#home"                 home
      a#search       href="?page=search#search"             search
      a#book         href="?page=book#book"                 book
      a#confirm      href="?page=confirm#confirm"           confirm
      a#rating       href="?page=rating#rating"             rating
      a#doctor       href="?page=doctor#doctor"             doctor
      a#practice     href="?page=practice#practice"         practice
      a#login        href="?page=login#login"               login
      a#register     href="?page=register#register"         register
      a#doctors_list href="?page=doctors_list#doctors_list" doctors_list
      a#error        href="?page=error#error"               error
      a#static       href="?page=static#static"             static

    script type="text/javascript" src="/js/application.js"
