<?php
|  if (!isset($_GET['page'])) { $page = "user"; }
|  else { $page = $_GET['page']; }
|  ?>

doctype html
html lang="de"

  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    title 🔨 doctorio.es > Dashboard
    link rel="stylesheet" type="text/css" href="/css/dashboard.css"
    link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Gudea:100,300,400,700,900"
    meta name="viewport" content="width=device-width, initial-scale=1"

  body

    header
      .container
        .row
          .col-sm-12.col-md-3
            button.navbar-toggler.pull-right.hidden-md-up type="button" data-toggle="collapse" data-target="[data-name=mobile-navigation]" ☰

            a.logo href="?page=user"
              img src="/images/logo/doctorio-logo.svg"

          .col-md-9.navigation.hidden-sm-down
            nav: ul.list-unstyled.button-navigation
              li: a href="?page=user" Mi perfil médico
              li: a.btn.btn-primary.is-thinner href="/" Cerrar Sesión

          .col-sm-12
            nav.stacked-navigation.collapse data-name="mobile-navigation"
              ul.list-unstyled.level-1
                li: a href="#" Buscar Doctor
                li.active
                  a href="#" Dashboard
                  ul.list-unstyled.level-2
                    li: a href="?page=user" Mi perfil médico
                    li: a href="?page=practice" Perfil de la consulta
                    li.active
                      a href="?page=calendar" Calendario
                      ul.level-3 class="list-unstyled"
                        li: a href="#" Calendar
                        li: a href="?page=opening_hours" Öffnungszeiten
                        li.active: a href="#" Ressourcen
                        li: a href="#" Treatmenttypes
                    li: a href="?page=appointments" Reservas de cita
                    li: a href="?page=reports" Reportes
                    li: a href="?page=ratings" Reputation

                li: a href="#" Iniciar sesión para doctor
                li: a href="#" Iniciar sesión para pacientes
                li: a href="#" ¡Registrarse aquí gratis para doctor
                li: a href="#" ¡Registrarse aquí gratis para pacientes
                li: a href="#" Cerrar Sesión

    .container
      <?php if ($page !== 'join'): ?>
        .row
          .col-sm-12
            h1 Doctorio Romano Cíeslik
            <?php include('_dashboard/_navbar.php'); ?>
      <?php endif; ?>

      .row.content
        .col-sm-12
          <?php include("_dashboard/_$page.php"); ?>

    footer
      .container
        .row
          .col-sm-12
            img.logo src="/images/logo/doctorio-logo.svg"
          .col-sm-3
            h3 Legal
            nav: ul
              li: a href="#" Términos y condiciones
              li: a href="#" Aviso Legal
              li: a href="#" Protección de datos
          .col-sm-3
            h3 Empresa
            nav: ul
              li: a href="#" Contacto

          .col-sm-3
            h3 Any other link collection

          .col-sm-3
            h3 Social Media
            nav: ul
              li: a href="#" Facebook
              li: a href="#" Twitter

    script type="text/javascript" src="/js/application.js"
    script type="text/javascript" src="/js/dashboard.js"
