<div ng-if="notFound">
  <br />
  <p class="text-center" ng-if="notFound" style="line-height: 180%;">
    Event wurde nicht gefunden.
    <br />
    <a href="#" ng-click="redirectToCalendar()" title="Zurück zur Übersicht">Zum Kalender</a>
  </p>
</div>
<form novalidate ng-controller="EventFormController" ng-if="event" name="eventForm" ng-submit="submit(eventForm)">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header hidden-sm-down">
        <span class="navbar-brand" href="#">
          {{(event.id ? 'EVENT_FORM.EDIT_TITLE' : 'EVENT_FORM.NEW_TITLE') | translate}}
        </span>
      </div>
        <div class="navbar-form-full navbar-left">
          <a ng-click="cancel()" class="btn btn-default">
            <i class="fa fa-level-up fa-rotate-270"></i>
          </a>
          <input type="submit" class="btn btn-primary" value="{{'ACTION.SAVE' | translate}}" ng-disabled="disableSubmit">
          <a ng-click="cancel()" class="btn btn-default hidden-xs">
            {{(event.id ? 'ACTION.DISCARD_CHANGES' : 'ACTION.DISCARD') | translate}}
          </a>
          <a ng-click="deleteEvent()" class="btn btn-default btn-fa" ng-if="event.id">
            <span class="hidden-xs">{{'EVENT_FORM.CANCEL' | translate}}</span>
            <i class="fa fa-trash-o visible-xs"></i>
          </a>
        </div>

      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" ng-class="{'has-error': eventForm.$submitted && eventForm.firstName.$invalid}">
          <label class="control-label" for="eventPatientFirstName">{{'EVENT_FORM.FIELDS.FIRST_NAME' |
            translate}}</label>
          <input type="input" class="form-control" id="eventPatientFirstName" ng-model="event.patient.firstName"
                 name="firstName" ng-required="event.patient.email" disabled>
        </div>

        <div class="form-group" ng-class="{'has-error': eventForm.$submitted && eventForm.lastName.$invalid}">
          <label class="control-label" for="eventPatientLastName">{{'EVENT_FORM.FIELDS.LAST_NAME' |
            translate}}</label>
          <input type="input" class="form-control" id="eventPatientLastName" ng-model="event.patient.lastName"
                 name="lastName" ng-required="event.patient.email" disabled>
        </div>

        <div class="form-group" ng-class="{'has-error': eventForm.$submitted && eventForm.phone.$invalid}">
          <label class="control-label" for="eventPatientPhone">{{'EVENT_FORM.FIELDS.PHONE' |
            translate}}</label>
          <input type="input" class="form-control" id="eventPatientPhone" ng-model="event.patient.phone"
                 name="phone" ng-required="event.patient.notifySms" disabled>
        </div>

        <div class="form-group" ng-class="{'has-error': eventForm.$submitted && eventForm.mail.$invalid}">
          <label class="control-label" for="eventPatientMail">{{'EVENT_FORM.FIELDS.EMAIL' |
            translate}}</label>
          <input type="email" class="form-control" id="eventPatientMail" ng-model="event.patient.email"
                 name="mail" ng-required="event.patient.notifyEmail" disabled>
        </div>
      </div>
      <div class="col-md-6" style="line-height: 180%;">
        <div class="row">
          <label class="col-sm-3 text-left" style="margin: 0;">{{'EVENT_FORM.FIELDS.TREATMENT' | translate}}</label>
          <div class="col-sm-9" style="padding-bottom: 5px;">
            <span ng-repeat="treatment in treatments" ng-if="treatment.id == event.treatmentType">
                {{treatment.type}}
            </span>
          </div>
        </div>

        <div class="row" ng-if="event.patient.insuranceType">
          <label class="col-sm-3 text-left" style="margin: 0;">{{'EVENT_FORM.FIELDS.INSURANCE' | translate}}</label>
          <div class="col-sm-9" style="padding-bottom: 5px;">
            <span ng-if="'COMPULSORY' == event.patient.insuranceType">Gesetzlich versichert</span>
            <span ng-if="'PRIVATE' == event.patient.insuranceType">Privat versichert</span>
          </div>
        </div>

        <div class="row">
          <label class="col-sm-3 text-left" style="margin: 0;">{{'EVENT_FORM.FIELDS.RETURNING_PATIENT' | translate}}</label>
          <div class="col-sm-9" style="padding-bottom: 5px;">
            <span ng-if="event.patient.returningPatient">Bestandspatient</span>
            <span ng-if="!event.patient.returningPatient">Neukunde</span>
          </div>
        </div>

        <div class="row">
          <label class="col-sm-3 text-left" style="margin: 0;">{{'EVENT_FORM.FIELDS.BOOKING_ID' | translate}}</label>
          <div class="col-sm-9" style="padding-bottom: 5px;">
            <span ng-bind="event.id"></span>
          </div>
        </div>

        <div class="row" ng-if="event.payment">
          <label class="col-sm-3 text-left" style="margin: 0;" translate="EVENT_FORM.FIELDS.PAYMENT" for="eventTitle"></label>
          <div class="col-sm-9" style="padding-bottom: 5px;">
            <span ng-if="event.payment.success">
              <i class="fa fa-check-circle-o" aria-hidden="true" style="color: #00aa00"></i>
            </span>
            <span ng-if="event.payment.pending">Eingeleitet</span>
            <span ng-if="event.payment.rejected">
              <i class="fa fa-times-circle-o" aria-hidden="true" style="color: #ff4136"></i>
            </span>
            ({{formatPrice(event.payment.price, 2, ',', '.')}})
          </div>
        </div>
        <br />
        <div>
          <fieldset ng-if="!canSendBookingSmsReminder" title="Der Zahlungsdienst erfordert eine Erweiterung Ihres Benutzerkontos. Bitte kontaktieren Sie unser Accountmanagement unter +49 (0)30 609 840 228" disabled >
            <label class="checkbox-inline control-label">
              <input type="checkbox" name="notify">
              {{'EVENT_FORM.FIELDS.NOTIFY_MOBILE' | translate}}
            </label>
          </fieldset>

          <label class="checkbox-inline control-label" ng-if="canSendBookingSmsReminder">
            <input ng-model="event.patient.notifySms" type="checkbox" name="notify">
            {{'EVENT_FORM.FIELDS.NOTIFY_MOBILE' | translate}}
          </label>
          <br />
          <label class="checkbox-inline control-label">
            <input ng-model="event.patient.notifyEmail" type="checkbox" name="notifyEmail">
            {{'EVENT_FORM.FIELDS.NOTIFY_EMAIL' | translate}}
          </label>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 15px;">
        <div class="row form-group" ng-class="{'has-error': eventForm.$submitted && eventForm.title.$invalid}">
          <label class="col-sm-2 col-xs-12" style="margin: 0;" translate="EVENT_FORM.FIELDS.TITLE" for="eventTitle"></label>
          <div class="col-sm-10 col-xs-12">
            <input type="text" class="form-control" id="eventTitle" ng-model="event.title" name="title"
                   placeholder="{{event.titlePlaceholder}}" ng-focus="setTitleValue(event.titlePlaceholder)" placeholder-fallback>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-2 col-xs-12 control-label" style="margin: 0;">Termin</label>
          <div class="col-sm-3 col-xs-12">
            <div class="form-group" ng-class="{'has-error': eventForm.$submitted && eventForm.startDate.$invalid}">
              <input type="input" class="form-control" ng-model="time.date" name="dateOfAppointment"
                     pikaday="pikadayDateStart" date-input required>
            </div>
          </div>
          <div class="col-sm-2 col-xs-5">
            <div class="form-group" ng-class="{'has-error': eventForm.$submitted && eventForm.startTime.$invalid}"
                 ng-if="!event.allDay">
              <input type="input" class="form-control" ng-model="time.start" ng-model-options="{ updateOn: 'blur'}"
                     ui-timepicker time-input
                     name="startTime" required>
            </div>
          </div>
          <div class="col-sm-1 col-xs-3">
            <div class="form-group" ng-class="{'has-error': eventForm.$submitted && eventForm.duration.$invalid}">
              <input type="number" min="1" class="form-control" ng-model="time.duration" ng-model-options="{ updateOn: 'blur'}"
                     name="duration" required>
            </div>
          </div>
        </div>

        <uib-tabset>
          <uib-tab heading="{{'EVENT_FORM.DETAILS' | translate}}">
            <div class="form-group row" ng-repeat="resourceGroup in resourceGroups"
                 ng-class="{'has-error': eventForm.$submitted && eventForm[resourceGroup.type].$invalid}">
              <label class="col-sm-2 control-label" style="margin: 0;">{{'EVENT_FORM.RESOURCES.' + resourceGroup.title | translate}}</label>
              <div class="col-sm-10">
                <ui-select ng-if="!resourceGroup.multiple"
                           ng-model="resourceGroup.selectedResourceId"
                           theme="bootstrap"
                           name="{{resourceGroup.type}}"
                           ng-required="resourceGroup.required"
                           search-enabled="false"
                           ng-disabled="(resourceGroup.resources.length == 1 && resourceGroup.required)">
                  <ui-select-match
                          allow-clear="{{!(resourceGroup.resources.length == 1 && resourceGroup.required)}}">
                    {{$select.selected.name}}
                  </ui-select-match>
                  <ui-select-choices repeat="resource.id as resource in resourceGroup.resources">
                    <div ng-bind-html="resource.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>

                <ui-select ng-if="resourceGroup.multiple"
                           multiple
                           ng-model="resourceGroup.selectedResources"
                           theme="bootstrap"
                           name="{{resourceGroup.type}}"
                           ui-select-required="{{resourceGroup.required}}"
                           ng-disabled="(resourceGroup.resources.length == 1 && resourceGroup.required)">
                  <ui-select-match
                          allow-clear="{{!(resourceGroup.resources.length == 1 && resourceGroup.required)}}">
                    {{$item.name}}
                  </ui-select-match>
                  {{$select.selected.name}}
                  <ui-select-choices
                          repeat="resource.id as resource in resourceGroup.resources | filter:$select.search">
                    <div ng-bind-html="resource.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </uib-tab>

          <uib-tab heading="{{'EVENT_FORM.COMMENT' | translate}}" active="eventHasComment">
            <div class="form-horizontal col-xs-12">
              <textarea class="form-control" rows="5" id="comment" ng-model="event.practiceComment"></textarea>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</form>
