.social_share_privacy_area .clearfix::after {
    content: "";
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    clear: both;
    display: block;
}
.social_share_privacy_area {
    clear: both;
    /* NM: Removing it intentionally because it breaks the alignment with the logo. */ 
    /*margin: 20px 0 !important;*/
	list-style-type: none;
	padding: 0 !important;
	width: auto;
	height: 25px;
	display: block;
    font-family: Arial, sans-serif;
}
.social_share_privacy_area.vertical {
    height: auto;
}
.social_share_privacy_area li {
	margin: 0 !important;
	padding: 0 !important;
	height: 21px;
	float: left;
}
.social_share_privacy_area.vertical li {
    float: none;
    clear: both;
    width: 150px;
    height: auto;
    margin: 0 0 10px !important;
}
.social_share_privacy_area.vertical li.settings_info {
    height: 24px;
}
.social_share_privacy_area.vertical.switch_right li {
    width: 120px;
}
.social_share_privacy_area li .dummy_btn {
    float: left;
    margin: 0 0 0 10px;
    cursor: pointer;
    padding: 0;
    height: inherit;
}
.social_share_privacy_area.vertical li .dummy_btn {
    width: 90px;
}
.social_share_privacy_area.vertical.switch_right li .dummy_btn {
    margin-left: 0;
}
.social_share_privacy_area li div iframe {
    overflow: hidden;
    height: inherit;
    width: inherit;
}
/* Facebook begin */
.social_share_privacy_area .facebook {
    width: 180px;
    display: inline-block;
}
.social_share_privacy_area.vertical .facebook {
    display: block;
}
.social_share_privacy_area .facebook .fb_like iframe {
    width: 130px;
}
/* Facebook end */
/* Twitter begin */
.social_share_privacy_area .twitter {
	width: 148px;
}
.social_share_privacy_area li div.tweet {
	width: 100px;
}
/* Twitter end */
/* Google+ begin */
.social_share_privacy_area .gplus {
	width: 123px;
}
.social_share_privacy_area li div.gplusone {
	width: 75px;
}
/* Google+ end */
/* Switch begin */
.social_share_privacy_area li .switch {
    text-indent: -9999em;
    background: transparent url(images/socialshareprivacy_on_off.png) no-repeat 0 0 scroll;
    width: 23px;
    height: 12px;
    overflow: hidden;
    float: left;
    margin: 4px 0 0;
    padding: 0;
    cursor: pointer;
}
.social_share_privacy_area.vertical.switch_right li .switch {
    float: right;
}
.social_share_privacy_area.skin-dark li .switch {
    background-image: url(images/socialshareprivacy_on_off_dark.png);
}
.social_share_privacy_area li .switch.on {
    background-position: 0 -12px; 
}
/* Switch end */
/* Tooltips begin */
.social_share_privacy_area li.help_info {
    position: relative; 
}
.social_share_privacy_area li.help_info .info, 
.social_share_privacy_area li .help_info.icon .info {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 290px;
    padding: 10px 15px;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 3px 4px #999;
    -webkit-box-shadow: 0 3px 4px #999;
    box-shadow: 0 3px 4px #999;
    background-color: #fdfbec;
    color: #000;
    z-index: 500;
}
.social_share_privacy_area li.gplus.help_info .info {
    left: -60px;
}
.social_share_privacy_area li .help_info.icon .info {
    left: -243px;
    width: 350px;
}
.social_share_privacy_area.vertical li.gplus.help_info .info,
.social_share_privacy_area.vertical li .help_info.icon .info {
    left: 0;
}
.social_share_privacy_area li.help_info.display .info, 
.social_share_privacy_area li .help_info.icon.display .info {
    display: block;
}
.social_share_privacy_area li.help_info.info_off.display .info {
    display: none;
}
.social_share_privacy_area li .help_info.icon {
    background: #fff url(images/socialshareprivacy_info.png) no-repeat center center scroll;
    width: 25px;
    height: 20px;
    position: relative;
    display: inline-block;
	vertical-align: top;
	border: 2px solid #e7e3e3;
	border-right-width: 0;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
    margin: 0;
    padding: 0;
}
.social_share_privacy_area.skin-dark li .help_info.icon {
    background-image: url(images/socialshareprivacy_info_dark.png),-moz-linear-gradient(top,#6a6767 0,#2d2a2a 100%);
    background-image: url(images/socialshareprivacy_info_dark.png),-webkit-gradient(linear,center top,center bottom,color-stop(0%,#6a6767),color-stop(100%,#2d2a2a));
    background-image: url(images/socialshareprivacy_info_dark.png),-webkit-linear-gradient(top,#6a6767 0,#2d2a2a 100%);
    background-image: url(images/socialshareprivacy_info_dark.png),-o-linear-gradient(top,#6a6767 0,#2d2a2a 100%);
    background-image: url(images/socialshareprivacy_info_dark.png),-ms-linear-gradient(top,#6a6767 0,#2d2a2a 100%);
    background-image: url(images/socialshareprivacy_info_dark.png),linear-gradient(top,#6a6767 0,#2d2a2a 100%);
    background-image: url(images/socialshareprivacy_info_dark.png);
    background-color: #4f4c4c;
    border-color: #7e7e7e;
}
.social_share_privacy_area li.settings_info .settings_info_menu.on .help_info.icon {
	border-top-width: 0;
	border-left-width: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu.perma_option_off .help_info.icon {
	border-right-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    display:none;
}
/* Tooltips end */
