// use font awesome for iOS compatibility reasons
.glyphicon-remove {
  top: 0;
  &:before {
    font-family: 'FontAwesome';
    content: "\f00d";
    font-size: 1.6rem;
  }
}

.browserupgrade {
  margin: 0.2em 0 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.btn-fa {
  min-height: 34px;
  i.fa.fa-trash-o {
    padding-top: 2px;
  }
}

.ng-toast {
  margin-top: 11px;
  cursor: default;
  .alert {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}

.fc-select {
  height: 2.1em;
}

.control-label.summary {
  text-align: left;
  color: #ccc;
  font-weight: normal;
}

.form-popover {
  width: 480px;
}

.event-date-input {
  width: 88px !important;
}

.event-time-input {
  width: 57px !important;
}

.padding-left-15 {
  padding-left: 5px;
}

h1 {
  font-size: 50px;
}

.big-border {
  border: 25px solid #fff;
  padding-left: 20px;
}

.popover {
  max-width: 800px !important;
}

.time-points {
  text-align: center;
  margin-top: 6px;
  font-weight: bold;
}

.clear-padding {
  padding: 0;
}

@mixin no-margin($side) {
  @if $side == 'all' {
    .no-margin {
      margin: 0 !important;
    }
  } @else {
    .margin-#{$side}-0 {
      margin-#{$side}: 0 !important;
    }
  }
}

@include no-margin("left");
@include no-margin("right");
@include no-margin("top");
@include no-margin("bottom");
@include no-margin("all");

@mixin no-padding($side) {
  @if $side == 'all' {
    .no-padding {
      padding: 0 !important;
    }
  } @else {
    .padding-#{$side}-0 {
      padding-#{$side}: 0 !important;
    }
  }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

.padding-15 {
  padding: 15px;
}

.padding-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}

.tab-pane {
  padding: 20px;
}

.selected-month {
  background-color: #caffc4;
}

.show-none {
  display: none;
}

.left-sidebar {
  top: 80px;
  width: 180px;
}

.full-width {
  width: 100%;
}

.pika-lendar {
  width: 180px;
  margin: 0;
}

.pika-lendar table {
  position: relative;
}

.small-accordion .panel-body {
  padding: 0;
  width: 180px;
  border: 0;
}

.small-accordion .panel-heading {
  background-color: #fff;
  border: 0;
  padding: 0;
  width: 180px;
}

.small-accordion {
  border: 0;
  width: 180px;
}

.pika-label {
  font-size: 12px;
  letter-spacing: 0;
}

.calendar-sidebar .pika-single {
  border: 0;
  z-index: 1;
}

.calendar-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  padding: 67px 15px 0;
  box-sizing: content-box;
}

.calendar-content {
  margin-left: 210px;
  margin-top: 15px;
  margin-right: 15px;
}

.timeline {
  position: absolute;
  border: none;
  border-top: 1px solid red;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 9999 !important;
}

.fc-event {
  min-height: 14px;
  border-color: transparent;
}

.close-btn {
  display: inline-block;
  color: #3f3f3f;
  font-size: 2em;
  margin-top: -12px;
  &:hover, &:focus {
    text-decoration: none;
  }
}

.border-none {
  border: 0;
}

ul.resource-group {
  margin-bottom: 0;

  .list-group-item {
    padding: 10px 15px 0px 0px;
    cursor: pointer;
  }

  .resource-color {
    display: inline-block;
    height: 11px;
    width: 11px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 7px;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-bold {
  font-weight: bold;
}

.fc-resizer:hover {
  cursor: ns-resize;
}

.resource-name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
