<div class="pure-g">
	<div class="pure-u-1-3">
		<ul class="city_col_1_1 city_box">
			<li><a title="" href="/zahnarzt/frankfurt-altstadt">Altstadt</a></li>
			<li><a title="" href="/zahnarzt/frankfurt-dreieich">Dreieich</a></li>
			<li><a title="" href="/zahnarzt/frankfurt-eschersheim">Eschersheim</a></li>			
		</ul>
	</div>
	<div class="pure-u-1-3">
		<ul class="city_col_1_2 city_box">
			<li><a title="" href="/zahnarzt/frankfurt-innenstadt">Innenstadt</a></li>
			<li><a title="" href="/zahnarzt/frankfurt-nordend-ost">Nordend-Ost</a></li>
			<li><a title="" href="/zahnarzt/frankfurt-nordend-west">Nordend-West</a></li>		
		</ul>
	</div>
	<div class="pure-u-1-3">
		<ul class="city_col_1_3 city_box">			
			<li><a title="" href="/zahnarzt/frankfurt-preungesheim">Preungesheim</a></li>
			<li><a title="" href="/zahnarzt/frankfurt-sachsenhausen">Sachsenhausen</a></li>			
			<li><a title="" href="/zahnarzt/frankfurt-zeil">Zeil</a></li>
		</ul>
	</div>
</div>