<div class="pure-g">
	<div class="pure-u-1-3">
		<ul class="city_col_1_1 city_box">
			<li><a title="Zahnarzt in Berlin" href="/zahnarzt/berlin">Berlin</a></li>
			<li><a title="Zahnarzt in Bremen" href="/zahnarzt/bremen">Bremen</a></li>
			<li><a title="Zahnarzt in Dresden" href="/zahnarzt/dresden">Dresden</a></li>
			<li><a title="Zahnarzt in Düsseldorf" href="/zahnarzt/duesseldorf">Düsseldorf</a></li>
		</ul>
	</div>
	<div class="pure-u-1-3">
		<ul class="city_col_1_2 city_box">
			<li><a title="Zahnarzt in Essen" href="/zahnarzt/essen">Essen</a></li>
			<li><a title="Zahnarzt in Frankfurt" href="/zahnarzt/frankfurt">Frankfurt</a></li>
			<li><a title="Zahnarzt in Hamburg" href="/zahnarzt/hamburg">Hamburg</a></li>
			<li><a title="Zahnarzt in Hannover" href="/zahnarzt/hannover">Hannover</a></li>
			<li><a title="Zahnarzt in Köln" href="/zahnarzt/koeln">Köln</a></li>			
		</ul>
	</div>
	<div class="pure-u-1-3">
		<ul class="city_col_1_3 city_box">
			<li><a title="Zahnarzt in Leipzig" href="/zahnarzt/leipzig">Leipzig</a></li>
			<li><a title="Zahnarzt in München" href="/zahnarzt/muenchen">München</a></li>
			<li><a title="Zahnarzt in Nürnberg" href="/zahnarzt/nuernberg">Nürnberg</a></li>
			<li><a title="Zahnarzt in Stuttgart" href="/zahnarzt/stuttgart">Stuttgart</a></li>			
		</ul>
	</div>
</div>