<div class="pure-g">
	<div class="pure-u-1-3">
		<ul class="city_col_1_1 city_box">
			<li><a title="Charlottenburg, Berlin" href="/zahnarzt/charlottenburg">Charlottenburg</a></li>
			<li><a title="Friedrichshain, Berlin" href="/zahnarzt/friedrichshain">Friedrichshain</a></li>			
			<li><a title="Kreuzberg, Berlin" href="/zahnarzt/kreuzberg">Kreuzberg</a></li>
			<li><a title="Lichtenberg, Berlin" href="/zahnarzt/lichtenberg">Lichtenberg</a></li>
			<li><a title="Mitte, Berlin" href="/zahnarzt/mitte">Mitte</a></li>
			<!--<li><a title="Neukölln, Berlin" href="/zahnarzt/neukoelln">Neukölln</a></li>-->
			<!--<li><a title="Köpenick, Berlin" href="/zahnarzt/köpenick">Köpenick</a></li>-->
		</ul>
	</div>
	<div class="pure-u-1-3">
		<ul class="city_col_1_2 city_box">
			<!--<li><a title="Pankow, Berlin" href="/zahnarzt/berlin-pankow">Pankow</a></li>-->
			<li><a title="Prenzlauer Berg, Berlin" href="/zahnarzt/prenzlauer-berg">Prenzlauer Berg</a></li>
			<li><a title="Schöneberg, Berlin" href="/zahnarzt/Schöneberg">Schöneberg</a></li>			
			<li><a title="Spandau, Berlin" href="/zahnarzt/spandau">Spandau</a></li>
			<li><a title="Steglitz, Berlin" href="/zahnarzt/Steglitz">Steglitz</a></li>
			<li><a title="Tempelhof, Berlin" href="/zahnarzt/tempelhof">Tempelhof</a></li>
		</ul>
	</div>
	<div class="pure-u-1-3">
		<ul class="city_col_1_3 city_box">
			<li><a title="Tiergarten, Berlin" href="/zahnarzt/Tiergarten">Tiergarten</a></li>
			<li><a title="Treptow, Berlin" href="/zahnarzt/berlin-treptow">Treptow</a></li>
			<li><a title="Wedding, Berlin" href="/zahnarzt/wedding">Wedding</a></li>
			<!--<li><a title="Weißensee, Berlin" href="/zahnarzt/berlin-weissensee">Weißensee</a></li>-->
			<li><a title="Wilmersdorf, Berlin" href="/zahnarzt/wilmersdorf">Wilmersdorf</a></li>						
		</ul>
	</div>
</div>