<div class="modal-header">
  <h3 class="modal-title" translate="EVENT.CANCEL_TITLE"></h3>
</div>
<form action="#"  ng-submit="confirm($event)">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6 col-xs-12" style="vertical-align: middle; height: 38px; line-height: 210%;">
        <label for="cancelReason" style="font-weight: 400;">Grund der Stornierung:</label>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="form-group">
          <select class="form-control" id="cancelReason" name="reason" ng-model="formData.reason" ng-change="reasonChanged()" required>
            <option value="-" selected>... bitte wählen ...</option>
            <option ng-repeat="reason in cancelReasons" value="{{reason}}" translate="EVENT.CANCEL_REASONS.{{reason}}"></option>
          </select>
          <label class="badge badge-warning" ng-if="reasonValid" style="margin-top: 3px;">Bitte wählen Sie einen Grund aus</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <p>Wie möchten Sie den Patienten über die Stornierung benachrichtigen?</p>
      <div class="form-check">
        <div class="row">
          <div class="col-xs-6">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="email" ng-model="formData.notificationTypes.email" checked>&nbsp;
              E-Mail
            </label>
          </div>
          <div class="col-xs-6">
            <fieldset ng-if="!canSendBookingSmsReminder" title="Der Zahlungsdienst erfordert eine Erweiterung Ihres Benutzerkontos. Bitte kontaktieren Sie unser Accountmanagement unter +49 (0)30 609 840 228" disabled >
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="sms" >&nbsp;
                SMS &nbsp;
              </label>
            </fieldset>
            <label class="form-check-label" ng-if="canSendBookingSmsReminder">
              <input type="checkbox" class="form-check-input" name="sms" ng-model="formData.notificationTypes.sms" checked>&nbsp;
              SMS &nbsp;
            </label>
          </div>
        </div>
      </div>
      <div ng-if="!formData.notificationTypes.hasNotification() && !noNotificationsPrompt" class="alert alert-warning">
        <strong>Achtung!</strong><br />
        <p>
          Der Patient wird nicht über die Änderung benachrichtigt. Falls Sie den Patienten dennoch informieren möchten,
          wählen Sie bitte eine Benachrichtigungsart.
        </p>
        <br />
        <button class="btn btn-sm btn-danger" ng-click="confirmNotificationsPrompt()">Verstanden</button>
      </div>
    </div>
    <div class="form-group">
      <p>Ist der Termin erneut buchbar?</p>
      <div class="form-check">
        <div class="row">
          <div class="col-xs-6">
            <label class="form-check-label">
              <input type="radio" name="appointmentAvailability" ng-model="formData.appointmentAvailability" value="1" checked>&nbsp;
              Ja
            </label>
          </div>
          <div class="col-xs-6">
            <label class="form-check-label">
              <input type="radio" name="appointmentAvailability" ng-model="formData.appointmentAvailability" value="0">&nbsp;
              Nein
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default float-left" type="button" ng-click="abort()" translate="ACTION.CANCEL"></button>
    <button class="btn btn-primary" type="submit" ng-disabled="!formData.notificationTypes.hasNotification() && !noNotificationsPrompt" translate="EVENT_FORM.CANCEL"></button>
  </div>
</form>
