<div class="modal-header">
  <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
  {{description}}
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="cancel()" translate="ACTION.CANCEL"></button>
  <button class="btn btn-primary" type="button" ng-click="confirm()">{{action}}</button>
</div>
