<div class="modal-header">
  <h3 class="modal-title" translate="EVENT.MOVE_TITLE"></h3>
</div>
<form action="#" ng-submit="confirm($event)">
  <div class="modal-body">
    <div class="form-group">
      <p>
        Termin wird verschoben auf: {{ dayOfAppointment }}<br />
        Wie möchten Sie den Patienten über die Änderung benachrichtigen?
      </p>
      <div class="form-check">
        <div class="row">
          <div class="col-xs-6">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="email" ng-model="formData.notificationTypes.email" checked>&nbsp;
              E-Mail
            </label>
          </div>
          <div class="col-xs-6">
            <fieldset ng-if="!canSendBookingMovedSms" title="Der Zahlungsdienst erfordert eine Erweiterung Ihres Benutzerkontos. Bitte kontaktieren Sie unser Accountmanagement unter +49 (0)30 609 840 228" disabled >
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="sms" >&nbsp;
                SMS &nbsp;
              </label>
            </fieldset>
            <label class="form-check-label" ng-if="canSendBookingMovedSms">
              <input type="checkbox" class="form-check-input" name="sms" ng-model="formData.notificationTypes.sms" checked>&nbsp;
              SMS &nbsp;
            </label>
          </div>
        </div>
      </div>
      <br />
      <div ng-if="aleadyBlockedError" class="alert alert-warning">Dieser Zeitraum ist bereits mit einer anderen Buchung belegt.</div>
      <div ng-if="startBeforeEndError" class="alert alert-warning">Das Zieldatum muss vor dem Enddatum liegen.</div>
      <div ng-if="invalidTimeRangeError" class="alert alert-warning">Das Zieldatum darf nicht vor dem heutigen Datum liegen.</div>
      <div ng-if="!formData.notificationTypes.hasNotification() && !noNotificationsPrompt" class="alert alert-warning">
        <strong>Achtung!</strong><br />
        <p>
          Der Patient wird nicht über die Änderung benachrichtigt. Falls Sie den Patienten dennoch informieren möchten,
          wählen Sie bitte eine Benachrichtigungsart.
        </p>
        <br />
        <button class="btn btn-sm btn-danger" ng-click="confirmNotificationsPrompt()">Verstanden</button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default float-left" type="button" ng-click="abort()" translate="ACTION.CANCEL"></button>
    <button class="btn btn-primary" type="submit" ng-disabled="!formData.notificationTypes.hasNotification() && !noNotificationsPrompt" translate="ACTION.SAVE"></button>
  </div>
</form>
