<div class="modal-header">
  <h3 class="modal-title" translate="ERRORS.NO_CONNECTION.TITLE"></h3>
</div>
<div class="modal-body">
  <p translate="ERRORS.NO_CONNECTION.DESCRIPTION"></p>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="reload()" translate="ACTION.RELOAD_PAGE"></button>
</div>
