$total-columns  : 6; 
$column-width   : 4.2em;
$gutter-width   : 1.3em;
$grid-padding   : 0;
$tablet 		: 8 no-mediaqueries;
$computer 		: 12 no-mediaqueries;
$large-screen	: 16;

$main-nav-height: 1.5rem;
$cinema-height: 35rem;

@import "susy";

.container {
	@include container($total-columns);
	// @include susy-grid-background;

	@include at-breakpoint($tablet) {
		@include container;
		// @include susy-grid-background;
	}
	@include at-breakpoint($computer) {
		@include container;
		// @include susy-grid-background;
	}
}


html {
	font-family: "Lato", Lucida;
	font-weight:300;
	background: #FFFFFF;
	color: #000;	
}

h1 {
	@include size-xxl;
	font-family: "Lato", Lucida;
	font-weight:300;
	color: #333333;
	background: rgba(255, 255, 255, 0.7);


	@include at-breakpoint($tablet) {
		@include rem-fallback(margin-top, 4);
		@include size-xxl;
	}
}

h2 {
	//text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}

h3 {
	color: $color-at-blue;
}

p {
	@include size-xs;
	margin-bottom: 10px;
	line-height:120%;	
}

a {
	color: $color-at-blue;
}

#top-bar {
	background: $color-at-blue; 
	position: absolute;
	z-index: -1;
	width: 100%;
	@include rem-fallback(height, 7);

	&:after {
		content: "";
		display: block;
		width: 100%;
		background: #FFFFFF;
		@include rem-fallback(height, 2.4);
		position: absolute;
		top: $main-nav-height;
		// @include box-shadow(0 0 1px 1px rgba(0,0,0,0.3));
	}

	@include at-breakpoint($tablet) {
		// position: fixed;
		z-index: 1;
		@include rem-fallback(height, $main-nav-height);

		&:after {
			@include rem-fallback(height, 3.4);
		}
	}

}

.background {
	@extend .container;
	width: 100%;
	z-index: -1;
	@include rem-fallback(height, $cinema-height);
	@include rem-fallback(padding, 0, 1);
	@include rem-fallback(margin-top, 5);
	background-size: cover;
	display: none;

	@include at-breakpoint($tablet) {
		display: block;
		background-image: url(images/stock-1-1.jpg);
		background-repeat: no-repeat;
	}


}

.fixed {
	z-index: 999;
	@include at-breakpoint($tablet) {
		position: absolute;
		width: 100%;
		top: 0;
	}
	&.pattern {
		display: none;
		position: fixed;
		top: 0;
		background: url(images/squares.png); opacity: 0.4;
		background: url(images/mosaic.png); opacity: 0.5;
		background: url(images/scratch.png); opacity: 0.2;
		background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 1) 100%), url(images/scratch.png);
		background: url(images/sos.png); opacity: 1;
		z-index: -2;
		width: 100%;
		height: 150%;
	}
}

#logo {
	@include span-columns(6);
	@include box-sizing(border-box);
	@include rem-fallback(margin-top, 0.3);
	text-align: center;

	@include at-breakpoint($tablet) {
		text-align: left;
		@include span-columns(3);
		@include rem-fallback(width, 12);
	}

	@include at-breakpoint($computer) {
		@include span-columns(3);
		@include rem-fallback(width, 12);
	}

	a { 
		vertical-align: middle;
		text-align: center;
		height: 100%;
	}

	img {
		width: space(2, 6, "static");

		@include at-breakpoint($tablet) {
			width: 90%;
		}
	}
}

#nav-main {
	z-index: 99999;
	@include span-columns(6);

	color: #FFFFFF;
	text-align: center;

	ul { overflow: visible;}

	li { 
		@include inline-block;
		@include rem-fallback(padding, 1, 0.9);

		@include at-breakpoint($tablet) {
			@include rem-fallback(padding, 0.4);

			&:last-child {
				@include rem-fallback(margin-right, -0.4);
			}
		}
	a {color:#FFFFFF;}
		
		&.active {
			// box-shadow: inset 0 -8px white;
		}
	}
	
	@include at-breakpoint($tablet) {
		@include span-columns(5);
		@include omega;

		
		@include rem-fallback(height, $main-nav-height);
		@include rem-fallback(line-height, $main-nav-height - 0.2);
		@include size-s;

		left: 0;
		text-align: left;
		padding: 0;
		margin: 0;

		ul {
			@include container;
			height: 100%;
			text-align: right;
			li { @include rem-fallback(padding, 0, 0.4); }
		}
	}

	@include at-breakpoint($computer) {
		@include size-xs;

		ul {
			@include container;
			// @include span-columns(6);
			li {
				@include rem-fallback(padding, 0, 0.5);
		
				&:last-child {
					@include rem-fallback(margin-right, -0.5);
				}
			}
		}
	}

}

main {
	@include rem-fallback(padding-bottom, 2);
}

header {
	@include at-breakpoint($tablet) {
		@include rem-fallback(margin-top, 7);
	}

	h1 {
		text-align: center;
		display: block;

		@include at-breakpoint($tablet) {
			@include inline-block;
		}
		
		@include at-breakpoint($computer) {
			@include span-columns(12);
			text-align: left;
		}
	}

	> p {
		@include box-sizing(border-box);
		display: block;
		text-align: left;
		width: space(6, 6);
		
		margin: auto;
		@include rem-fallback(margin-bottom, 1);
		@include rem-fallback(line-height, 1.9);
		@include size-m;

		@include at-breakpoint($tablet) {
			width: space(6, 8);
			@include rem-fallback(padding, 1);
			@include rem-fallback(padding-left, 0);
			position: relative;
		}

		@include at-breakpoint($computer) {
			@include span-columns(6);

		}
	}

}

.positions {
	@include responsive-columns(6, 8, 12);
	@extend .container;
	@include clearfix;

	h2 {
		font-family: "Lato", cursive;
		@include at-breakpoint($tablet) {
			@include pre(1);
		}
		@include at-breakpoint($computer) {
			@include pre(0);
		}
		border-bottom: #DCDCDC;
		border-style: solid;
		border-bottom-width: 1px;
		padding-bottom:15px
	}	

	.position {
		@include box-sizing(border-box);
		@include responsive-columns(6, 6, 4);
		background: #FFFFFF;
		border-radius: 2px;
		// border: 1px solid #CCC;
		// @include rem-fallback(padding, 1);
		@include rem-fallback(margin-top, 1);
		@include rem-fallback(line-height, 1.4);
		@include clearfix;
		position: relative;

		h4 {
			color: $color-at-blue;
			@include size-m;
		}
		sub {
			@include size-xs;
		}

		.cta {
			float: right;
			a {color: #FFFFFF;}
		}

		@include at-breakpoint($tablet) {
			@include pre(1);
		}

		@include at-breakpoint($computer) {
			@include pre(0);
			
			&:last-child{
				@include omega;
			}

		}
	}
}

.see-all {
	@include responsive-columns(6, 6, 12);
	@extend .container;
	margin: 5px 0 20px;

	@include at-breakpoint($tablet) {
		@include pre(1);
	}

	@include at-breakpoint($computer) {
		@include pre(0);
	}
}

.single-col-text {
	@include responsive-columns(4, 8, 8);
	@extend .container;
	margin: 5px 0 20px;
	p {
		@include size-m;
	}

	@include at-breakpoint($tablet) {
		@include pre(0);
	}

	@include at-breakpoint($computer) {
		@include pre(0);
	}
}


.quote {
	@include responsive-columns(6, 8, 8);
	@extend .container;
	@include at-breakpoint($computer) {
		@include pre(2);
	}
	margin: 10px 0;
}

.home {
	header {
		@include at-breakpoint($computer) {
			@include rem-fallback(height, 20);

			.header-text {
				@include span-columns(6);
				height: 100%;

				h1 {
					margin-top: 0;
				}
				> p {
					@include size-l;
					line-height: 130%;

				}				
			}

			.header-image {
				@include span-columns(6);
				@include omega;

				height: 100%;
				
				img {
					width: 100%;
					height: 100%;
				}
			}
		}

	}
	.positions {
		@include rem-fallback(margin-bottom, 1);

		@include at-breakpoint($computer) {
			@include rem-fallback(margin-top, 1);

			.position {
				&:nth-of-type(3n+3) {
					@include omega;
				}

				.cta {
					right: 0;
					@include rem-fallback(bottom, 1.1);
				}

			}
		}

		.cols-2 {
			@extend .container;
			.position {
				@include span-columns(2);
				&:nth-child(1) {
					@include pre(1);
				}
			}
		}
	}
}

.job {
	.worker {
		@include rem-fallback(margin, 8, 0, 3, 0);
		@include responsive-columns(6, 8, 8);
		display: none;
	}
}

.job-description {
	@include responsive-columns(6, 8, 12);

	@include at-breakpoint($tablet) {
		@include pre(1);
	}
	@include at-breakpoint($computer) {
		@include pre(0);
		padding-right: space(4);
	}

	background: #FFFFFF;
	border-radius: 2px;
	@include box-sizing(border-box);

	position: relative;

	h1 {
		@include rem-fallback(padding-top, 0);
	}

	h3 {
		@include rem-fallback(margin-top, 2);
		margin-bottom:10px;
	}

	ul, p {
		@include rem-fallback(line-height, 1.4);
		@include size-s;
	}
	
	li {
		list-style-type: disc;
		list-style-position: inside;
		margin-bottom: 10px;
	}	

	> .cta {
		float: right;
	}

}

.jobs-list aside, 
.job-description aside {
	display: none;

	background: #ffffff;
	border-top: 1px solid $color-at-blue;
	border-bottom: 1px solid $color-at-blue;
	border-radius: 2px;
	@include box-sizing(border-box);
	@include rem-fallback(padding, 0.5);
	@include rem-fallback(line-height, 1.4);

	height: 400px;

	&.absolute {
		position: absolute;
		left: auto;

		&.top {
			top: 0;
			bottom: auto;
		}

		&.bottom {
			top: auto;
			bottom: 0;
		}
	}

	&.fixed {
		position: fixed;
		right: auto;
	}

	@include at-breakpoint($computer) {
		display: block;
		$aside-width: space(3,12, "static");
		width: $aside-width;
		// right: -1 * ($aside-width + space(1,8, static));
		right: 0;
		@include rem-fallback(margin-top, 4);
	}
}

.jobs-list {
	.positions {
		position: relative;
	
		.position {
			@include responsive-columns(6, 6, 8);
			@include rem-fallback(padding-left, 0);
			p { @include size-s; }

			
			&:last-child{
				@include remove-omega;
			}

			position: relative;

			.worker {
				display: none;
				position: absolute;
				p { display: none; }
				right: 0;
				left: auto;
				bottom: auto;
				top: 0;
				width: auto;

				.rounded-image {
					margin: 0;
					margin-top: -30px;
					margin-right: -30px;
					width: 90px;
					height: 90px;
				}
			}
		}
	}
}

.additional {

	.info {
		@include responsive-columns(6, 4, 6);
		@include box-sizing(border-box);
		@include rem-fallback(padding, 0.5);
		@include rem-fallback(margin, 1, 0);
		background: #FFFFFF;
		//border: 1px solid rgb(219, 219, 219);
		border-radius: 2px;
		box-sizing: border-box;

		h3 {
			margin-top: 0;
			margin-bottom: 5px;
		}

		@include at-breakpoint($tablet) {
			&:nth-child(2) {
				@include omega;
			}
			&:nth-child(3) {
				@include pre(2);
			}
		}
		@include at-breakpoint($computer) {
			&:nth-child(0) {
				@include remove-omega;
			}
			&:nth-child(0) {
				@include pre(0);
				@include omega;
			}
		}

	}

}

.social-icons {
	.social-icon {
		@include inline-block;
		a {
			display: block;
			width: 34px;
			height: 34px;
			margin: auto;

		}
		&.facebook		a { background: url(images/facebook32.png) no-repeat; }	
		&.linkedin 		a { background: url(images/linkedin32.png) no-repeat; }	
		&.googleplus	a { background: url(images/googleplus32.png) no-repeat; }	
		&.twitter		a { background: url(images/twitter32.png) no-repeat; }	
		&.email			a { background: url(images/email32.png) no-repeat; }	

		@include at-breakpoint($tablet) {
			a {
				width: 58px;
				height: 58px;
			}
			&.facebook		a { background: url(images/facebook56.png) no-repeat; }	
			&.linkedin 		a { background: url(images/linkedin56.png) no-repeat; }	
			&.googleplus	a { background: url(images/googleplus56.png) no-repeat; }	
			&.twitter		a { background: url(images/twitter56.png) no-repeat; }	
			&.email			a { background: url(images/email56.png) no-repeat; }	
		}
	}
}

footer {
	width: 100%;
	@include rem-fallback(height, 10);
	@include rem-fallback(padding-top, 4);
	background: #EEE;
	border-top: 1px solid #CCC;
}

footer {
	.general-footer-links {
		@extend .container;
		@include rem-fallback(margin-bottom, 2);

		li {
			@include span-columns(1, 8);
			text-align: center;

			&:last-child {
				@include omega;
			}
		}
	}

	.social-icons {
		@include container;
		@include with-grid-settings(5);
	}
	.social-icon {
		@include span-columns(1, 5);

		&:last-child {
			@include omega;
		}
	}
}