@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

/* SUPPORT FOR <main> */
main {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;	
	display: block;
}
/* END - SUPPORT FOR <main> */

$old-ie: false !default;

$color-cta: #71ab19;

$color-at-blue: #0090d6;
// $color-at-blue: rgb(82, 148, 163);

@mixin show-grid {
	@include susy-grid-background;
	@include at-breakpoint($tablet) {	
		@include susy-grid-background;
	}
	@include at-breakpoint($computer) {
		@include susy-grid-background;
	}
}

@mixin responsive-columns($mobile-cols, $tablet-cols, $computer-cols) {
	@include span-columns($mobile-cols);

	@include at-breakpoint($tablet) {
		@include span-columns($tablet-cols);
	}

	@include at-breakpoint($computer) {
		@include span-columns($computer-cols);
	}
}

@mixin old-ie {
    // Only use this content if we're dealing with old IE
    @if $old-ie {
        @content;
    }
} 

@mixin at-breakpoint-old-ie($layout) {
	@include at-breakpoint($layout) {
		@content;
	}
	@include old-ie {
		@content;
	}
}


@mixin size-xxl {
	@include rem-fallback(font-size, 3.2);//adjust-font-size-to(22px);	
}
@mixin size-xl {
	@include rem-fallback(font-size, 2);
}
@mixin size-l {
	@include rem-fallback(font-size, 1.6);
}
@mixin size-m {
	@include rem-fallback(font-size, 1.3);
}
@mixin size-s {
	@include rem-fallback(font-size, 1.1);
}
@mixin size-xs {
	@include rem-fallback(font-size, 1.0);
}


/* REM SUPPORT */

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*16}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}

/* END - REM SUPPORT */


@mixin gradient($background, $params...) {
	@if ($background != "" and $old-ie == true) {
		background: $background;
	}
	@else if ($background == "") {
	    //background-color: mix($params); /* Fallback */
	    //background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
	    background: -webkit-linear-gradient($params); 
	    background:    -moz-linear-gradient($params);
	    background:     -ms-linear-gradient($params);
	    background:      -o-linear-gradient($params);
	    //-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
	}
	@else  {
		background: $background, -webkit-linear-gradient($params); 
	    background: $background,    -moz-linear-gradient($params);
	    background: $background,     -ms-linear-gradient($params);
	    background: $background,      -o-linear-gradient($params);
	}
}

@mixin btn-green($background: "") {
    border: 1px solid transparent;
    @include border-radius(2px);
    @include box-shadow(0 2px 3px rgba(0,0,0,.2));
    @if $background != "" {
    	@include gradient($background, bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
    }
    @else {
    	@include gradient(bottom, #59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);	
    }
    color: #fff;
    background-color: #71ab19;

	transition: color 0.1s, background-color 0.3s;
	
	&:hover {
		background-color: $color-cta;
		//color: #444;
    	text-decoration: none;
	}

	&:active {
	    background-color: #699d17;
	}

	&:focus {
		outline: none;
	}
	
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.6);
}


button.cta.heavy,
div.cta.heavy > a {
	@include btn-green;
	@include size-m;
	//@include adjust-font-size-to(16px, 1.6);
	background: $color-at-blue;

    cursor: pointer;
    @include rem-fallback(margin-top, 1.5);
    @include rem-fallback(margin-bottom, 1.5);
    @include rem-fallback(padding, 0.5, 2.4);
    // @include rem-fallback(padding-left, 2.4);
    // @include rem-fallback(padding-right, 2.4);
}

button.cta.medium,
div.cta.medium > a {
	@include btn-green;
	@include size-s;
	// @include adjust-font-size-to(14px, 1);
	background: $color-at-blue;

    cursor: pointer;
    @include rem-fallback(margin-top, 1);
    @include rem-fallback(margin-bottom, 1);
    @include rem-fallback(padding, 0.2, 1.4);
}

div.cta.heavy {
	text-align: center;
	
	& > a {
		margin-left: auto;
		margin-right: auto;
		@include inline-block;
	}
}


h1, h2 {
	// @include adjust-font-size-to(32px);
	@include size-xl;
	color: $color-at-blue;
	margin-top: 1rem;
	margin-bottom: 1rem;

}
h1 {
	font-weight: normal;
}
h3 {
	// @include adjust-font-size-to(18px);
	@include size-m;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}
h4 {
	// @include adjust-font-size-to(18px);
	@include size-s;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}
a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: underline;
	}
}
strong {
	font-weight: bold;
}


.text {
	font-family: Arial;
}
