/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* SUPPORT FOR <main> */
/* line 6, _utils-3.scss */
main {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  display: block;
}

/* END - SUPPORT FOR <main> */
/* REM SUPPORT */
/* END - REM SUPPORT */
/* line 174, _utils-3.scss */
button.cta.heavy,
div.cta.heavy > a {
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background: bottom, -webkit-linear-gradient(#59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background: bottom, -moz-linear-gradient(#59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background: bottom, -ms-linear-gradient(#59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background: bottom, -o-linear-gradient(#59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  color: #fff;
  background-color: #71ab19;
  transition: color 0.1s, background-color 0.3s;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.6);
  font-size: 20.8px;
  font-size: 1.3rem;
  background: #0090d6;
  cursor: pointer;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  padding: 8px 38.4px;
  padding: 0.5rem 2.4rem;
}
/* line 155, _utils-3.scss */
button.cta.heavy:hover,
div.cta.heavy > a:hover {
  background-color: #71ab19;
  text-decoration: none;
}
/* line 161, _utils-3.scss */
button.cta.heavy:active,
div.cta.heavy > a:active {
  background-color: #699d17;
}
/* line 165, _utils-3.scss */
button.cta.heavy:focus,
div.cta.heavy > a:focus {
  outline: none;
}

/* line 189, _utils-3.scss */
button.cta.medium,
div.cta.medium > a {
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background: bottom, -webkit-linear-gradient(#59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background: bottom, -moz-linear-gradient(#59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background: bottom, -ms-linear-gradient(#59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  background: bottom, -o-linear-gradient(#59830b 0%, #699d17 49%, #71ab19 50%, #7fbf1b 96%, #99cb45 100%);
  color: #fff;
  background-color: #71ab19;
  transition: color 0.1s, background-color 0.3s;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.6);
  font-size: 17.6px;
  font-size: 1.1rem;
  background: #0090d6;
  cursor: pointer;
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  padding: 3.2px 22.4px;
  padding: 0.2rem 1.4rem;
}
/* line 155, _utils-3.scss */
button.cta.medium:hover,
div.cta.medium > a:hover {
  background-color: #71ab19;
  text-decoration: none;
}
/* line 161, _utils-3.scss */
button.cta.medium:active,
div.cta.medium > a:active {
  background-color: #699d17;
}
/* line 165, _utils-3.scss */
button.cta.medium:focus,
div.cta.medium > a:focus {
  outline: none;
}

/* line 201, _utils-3.scss */
div.cta.heavy {
  text-align: center;
}
/* line 204, _utils-3.scss */
div.cta.heavy > a {
  margin-left: auto;
  margin-right: auto;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 212, _utils-3.scss */
h1, h2 {
  font-size: 32px;
  font-size: 2rem;
  color: #0090d6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* line 220, _utils-3.scss */
h1 {
  font-weight: normal;
}

/* line 223, _utils-3.scss */
h3 {
  font-size: 20.8px;
  font-size: 1.3rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

/* line 229, _utils-3.scss */
h4 {
  font-size: 17.6px;
  font-size: 1.1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

/* line 235, _utils-3.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 238, _utils-3.scss */
a:hover {
  text-decoration: underline;
}

/* line 242, _utils-3.scss */
strong {
  font-weight: bold;
}

/* line 247, _utils-3.scss */
.text {
  font-family: Arial;
}

/* line 14, _style-3.scss */
.container, .background, .positions, .see-all, .single-col-text, .quote, .home .positions .cols-2, footer .general-footer-links {
  *zoom: 1;
  max-width: 31.7em;
  _width: 31.7em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after, .background:after, .positions:after, .see-all:after, .single-col-text:after, .quote:after, .home .positions .cols-2:after, footer .general-footer-links:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 42.7em) {
  /* line 14, _style-3.scss */
  .container, .background, .positions, .see-all, .single-col-text, .quote, .home .positions .cols-2, footer .general-footer-links {
    max-width: 42.7em;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after, .background:after, .positions:after, .see-all:after, .single-col-text:after, .quote:after, .home .positions .cols-2:after, footer .general-footer-links:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .container, .no-mediaqueries .background, .no-mediaqueries .positions, .no-mediaqueries .see-all, .no-mediaqueries .single-col-text, .no-mediaqueries .quote, .no-mediaqueries .home .positions .cols-2, .home .positions .no-mediaqueries .cols-2, .no-mediaqueries footer .general-footer-links, footer .no-mediaqueries .general-footer-links {
  *zoom: 1;
  max-width: 42.7em;
  _width: 42.7em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.no-mediaqueries .container:after, .no-mediaqueries .background:after, .no-mediaqueries .positions:after, .no-mediaqueries .see-all:after, .no-mediaqueries .single-col-text:after, .no-mediaqueries .quote:after, .no-mediaqueries .home .positions .cols-2:after, .home .positions .no-mediaqueries .cols-2:after, .no-mediaqueries footer .general-footer-links:after, footer .no-mediaqueries .general-footer-links:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 64.7em) {
  /* line 14, _style-3.scss */
  .container, .background, .positions, .see-all, .single-col-text, .quote, .home .positions .cols-2, footer .general-footer-links {
    max-width: 64.7em;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after, .background:after, .positions:after, .see-all:after, .single-col-text:after, .quote:after, .home .positions .cols-2:after, footer .general-footer-links:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .container, .no-mediaqueries .background, .no-mediaqueries .positions, .no-mediaqueries .see-all, .no-mediaqueries .single-col-text, .no-mediaqueries .quote, .no-mediaqueries .home .positions .cols-2, .home .positions .no-mediaqueries .cols-2, .no-mediaqueries footer .general-footer-links, footer .no-mediaqueries .general-footer-links {
  *zoom: 1;
  max-width: 64.7em;
  _width: 64.7em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.no-mediaqueries .container:after, .no-mediaqueries .background:after, .no-mediaqueries .positions:after, .no-mediaqueries .see-all:after, .no-mediaqueries .single-col-text:after, .no-mediaqueries .quote:after, .no-mediaqueries .home .positions .cols-2:after, .home .positions .no-mediaqueries .cols-2:after, .no-mediaqueries footer .general-footer-links:after, footer .no-mediaqueries .general-footer-links:after {
  content: "";
  display: table;
  clear: both;
}

/* line 29, _style-3.scss */
html {
  font-family: "Lato", Lucida;
  font-weight: 300;
  background: #FFFFFF;
  color: #000;
}

/* line 36, _style-3.scss */
h1 {
  font-size: 51.2px;
  font-size: 3.2rem;
  font-family: "Lato", Lucida;
  font-weight: 300;
  color: #333333;
  background: rgba(255, 255, 255, 0.7);
}
@media (min-width: 42.7em) {
  /* line 36, _style-3.scss */
  h1 {
    margin-top: 64px;
    margin-top: 4rem;
    font-size: 51.2px;
    font-size: 3.2rem;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries h1 {
  margin-top: 64px;
  margin-top: 4rem;
  font-size: 51.2px;
  font-size: 3.2rem;
}

/* line 54, _style-3.scss */
h3 {
  color: #0090d6;
}

/* line 58, _style-3.scss */
p {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 10px;
  line-height: 120%;
}

/* line 64, _style-3.scss */
a {
  color: #0090d6;
}

/* line 68, _style-3.scss */
#top-bar {
  background: #0090d6;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 112px;
  height: 7rem;
}
/* line 75, _style-3.scss */
#top-bar:after {
  content: "";
  display: block;
  width: 100%;
  background: #FFFFFF;
  height: 38.4px;
  height: 2.4rem;
  position: absolute;
  top: 1.5rem;
}
@media (min-width: 42.7em) {
  /* line 68, _style-3.scss */
  #top-bar {
    z-index: 1;
    height: 24px;
    height: 1.5rem;
  }
  /* line 91, _style-3.scss */
  #top-bar:after {
    height: 54.4px;
    height: 3.4rem;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries #top-bar {
  z-index: 1;
  height: 24px;
  height: 1.5rem;
}
/* line 91, _style-3.scss */
.no-mediaqueries #top-bar:after {
  height: 54.4px;
  height: 3.4rem;
}

/* line 98, _style-3.scss */
.background {
  width: 100%;
  z-index: -1;
  height: 560px;
  height: 35rem;
  padding: 0px 16px;
  padding: 0rem 1rem;
  margin-top: 80px;
  margin-top: 5rem;
  background-size: cover;
  display: none;
}
@media (min-width: 42.7em) {
  /* line 98, _style-3.scss */
  .background {
    display: block;
    background-image: url(images/stock-1-1.jpg);
    background-repeat: no-repeat;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .background {
  display: block;
  background-image: url(images/stock-1-1.jpg);
  background-repeat: no-repeat;
}

/* line 117, _style-3.scss */
.fixed {
  z-index: 999;
}
@media (min-width: 42.7em) {
  /* line 117, _style-3.scss */
  .fixed {
    position: absolute;
    width: 100%;
    top: 0;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .fixed {
  position: absolute;
  width: 100%;
  top: 0;
}
/* line 124, _style-3.scss */
.fixed.pattern {
  display: none;
  position: fixed;
  top: 0;
  background: url(images/squares.png);
  opacity: 0.4;
  background: url(images/mosaic.png);
  opacity: 0.5;
  background: url(images/scratch.png);
  opacity: 0.2;
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 0.7) 70%, #ffffff 100%), url(images/scratch.png);
  background: url(images/sos.png);
  opacity: 1;
  z-index: -2;
  width: 100%;
  height: 150%;
}

/* line 139, _style-3.scss */
#logo {
  width: 100%;
  float: left;
  margin-right: 4.1009463722%;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 4.8px;
  margin-top: 0.3rem;
  text-align: center;
}
@media (min-width: 42.7em) {
  /* line 139, _style-3.scss */
  #logo {
    text-align: left;
    width: 35.5971896956%;
    float: left;
    margin-right: 3.0444964871%;
    width: 192px;
    width: 12rem;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries #logo {
  text-align: left;
  width: 35.5971896956%;
  float: left;
  margin-right: 3.0444964871%;
  display: inline;
  width: 192px;
  width: 12rem;
}
@media (min-width: 64.7em) {
  /* line 139, _style-3.scss */
  #logo {
    width: 23.4930448223%;
    float: left;
    margin-right: 2.0092735703%;
    width: 192px;
    width: 12rem;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries #logo {
  width: 23.4930448223%;
  float: left;
  margin-right: 2.0092735703%;
  display: inline;
  width: 192px;
  width: 12rem;
}
/* line 156, _style-3.scss */
#logo a {
  vertical-align: middle;
  text-align: center;
  height: 100%;
}
/* line 162, _style-3.scss */
#logo img {
  width: 11.0em;
}
@media (min-width: 42.7em) {
  /* line 162, _style-3.scss */
  #logo img {
    width: 90%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries #logo img {
  width: 90%;
}

/* line 171, _style-3.scss */
#nav-main {
  z-index: 99999;
  width: 100%;
  float: left;
  margin-right: 4.1009463722%;
  display: inline;
  color: #FFFFFF;
  text-align: center;
}
/* line 178, _style-3.scss */
#nav-main ul {
  overflow: visible;
}
/* line 180, _style-3.scss */
#nav-main li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 16px 14.4px;
  padding: 1rem 0.9rem;
}
@media (min-width: 42.7em) {
  /* line 180, _style-3.scss */
  #nav-main li {
    padding: 6.4px;
    padding: 0.4rem;
  }
  /* line 187, _style-3.scss */
  #nav-main li:last-child {
    margin-right: -6.4px;
    margin-right: -0.4rem;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries #nav-main li {
  padding: 6.4px;
  padding: 0.4rem;
}
/* line 187, _style-3.scss */
.no-mediaqueries #nav-main li:last-child {
  margin-right: -6.4px;
  margin-right: -0.4rem;
}
/* line 191, _style-3.scss */
#nav-main li a {
  color: #FFFFFF;
}
@media (min-width: 42.7em) {
  /* line 171, _style-3.scss */
  #nav-main {
    width: 61.3583138173%;
    float: left;
    margin-right: 3.0444964871%;
    float: right;
    margin-right: 0;
    height: 24px;
    height: 1.5rem;
    line-height: 20.8px;
    line-height: 1.3rem;
    font-size: 17.6px;
    font-size: 1.1rem;
    left: 0;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  /* line 212, _style-3.scss */
  #nav-main ul {
    max-width: 42.7em;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    text-align: right;
  }
  /* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #nav-main ul:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 216, _style-3.scss */
  #nav-main ul li {
    padding: 0px 6.4px;
    padding: 0rem 0.4rem;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries #nav-main {
  width: 61.3583138173%;
  float: left;
  margin-right: 3.0444964871%;
  display: inline;
  float: right;
  margin-right: 0;
  *margin-left: -1.3em;
  display: inline;
  height: 24px;
  height: 1.5rem;
  line-height: 20.8px;
  line-height: 1.3rem;
  font-size: 17.6px;
  font-size: 1.1rem;
  left: 0;
  text-align: left;
  padding: 0;
  margin: 0;
}
/* line 212, _style-3.scss */
.no-mediaqueries #nav-main ul {
  *zoom: 1;
  max-width: 42.7em;
  _width: 42.7em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  text-align: right;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.no-mediaqueries #nav-main ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 216, _style-3.scss */
.no-mediaqueries #nav-main ul li {
  padding: 0px 6.4px;
  padding: 0rem 0.4rem;
}
@media (min-width: 64.7em) {
  /* line 171, _style-3.scss */
  #nav-main {
    font-size: 16px;
    font-size: 1rem;
  }
  /* line 223, _style-3.scss */
  #nav-main ul {
    max-width: 64.7em;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #nav-main ul:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 226, _style-3.scss */
  #nav-main ul li {
    padding: 0px 8px;
    padding: 0rem 0.5rem;
  }
  /* line 229, _style-3.scss */
  #nav-main ul li:last-child {
    margin-right: -8px;
    margin-right: -0.5rem;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries #nav-main {
  font-size: 16px;
  font-size: 1rem;
}
/* line 223, _style-3.scss */
.no-mediaqueries #nav-main ul {
  *zoom: 1;
  max-width: 64.7em;
  _width: 64.7em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.no-mediaqueries #nav-main ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 226, _style-3.scss */
.no-mediaqueries #nav-main ul li {
  padding: 0px 8px;
  padding: 0rem 0.5rem;
}
/* line 229, _style-3.scss */
.no-mediaqueries #nav-main ul li:last-child {
  margin-right: -8px;
  margin-right: -0.5rem;
}

/* line 238, _style-3.scss */
main {
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

@media (min-width: 42.7em) {
  /* line 242, _style-3.scss */
  header {
    margin-top: 112px;
    margin-top: 7rem;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries header {
  margin-top: 112px;
  margin-top: 7rem;
}
/* line 247, _style-3.scss */
header h1 {
  text-align: center;
  display: block;
}
@media (min-width: 42.7em) {
  /* line 247, _style-3.scss */
  header h1 {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries header h1 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
@media (min-width: 64.7em) {
  /* line 247, _style-3.scss */
  header h1 {
    width: 100%;
    float: left;
    margin-right: 2.0092735703%;
    text-align: left;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries header h1 {
  width: 100%;
  float: left;
  margin-right: 2.0092735703%;
  display: inline;
  text-align: left;
}
/* line 261, _style-3.scss */
header > p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: left;
  width: 104.1009463722%;
  margin: auto;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  line-height: 30.4px;
  line-height: 1.9rem;
  font-size: 20.8px;
  font-size: 1.3rem;
}
@media (min-width: 42.7em) {
  /* line 261, _style-3.scss */
  header > p {
    width: 77.2833723653%;
    padding: 16px;
    padding: 1rem;
    padding-left: 0px;
    padding-left: 0rem;
    position: relative;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries header > p {
  width: 77.2833723653%;
  padding: 16px;
  padding: 1rem;
  padding-left: 0px;
  padding-left: 0rem;
  position: relative;
}
@media (min-width: 64.7em) {
  /* line 261, _style-3.scss */
  header > p {
    width: 48.9953632148%;
    float: left;
    margin-right: 2.0092735703%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries header > p {
  width: 48.9953632148%;
  float: left;
  margin-right: 2.0092735703%;
  display: inline;
}

/* line 287, _style-3.scss */
.positions {
  width: 100%;
  float: left;
  margin-right: 4.1009463722%;
  display: inline;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 42.7em) {
  /* line 287, _style-3.scss */
  .positions {
    width: 100%;
    float: left;
    margin-right: 3.0444964871%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .positions {
  width: 100%;
  float: left;
  margin-right: 3.0444964871%;
  display: inline;
}
@media (min-width: 64.7em) {
  /* line 287, _style-3.scss */
  .positions {
    width: 100%;
    float: left;
    margin-right: 2.0092735703%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .positions {
  width: 100%;
  float: left;
  margin-right: 2.0092735703%;
  display: inline;
}
/* line 292, _style-3.scss */
.positions h2 {
  font-family: "Lato", cursive;
  border-bottom: #DCDCDC;
  border-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 15px;
}
@media (min-width: 42.7em) {
  /* line 292, _style-3.scss */
  .positions h2 {
    margin-left: 12.8805620609%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .positions h2 {
  margin-left: 12.8805620609%;
}
@media (min-width: 64.7em) {
  /* line 292, _style-3.scss */
  .positions h2 {
    margin-left: 0%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .positions h2 {
  margin-left: 0%;
}
/* line 306, _style-3.scss */
.positions .position {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-right: 4.1009463722%;
  display: inline;
  background: #FFFFFF;
  border-radius: 2px;
  margin-top: 16px;
  margin-top: 1rem;
  line-height: 22.4px;
  line-height: 1.4rem;
  overflow: hidden;
  *zoom: 1;
  position: relative;
}
@media (min-width: 42.7em) {
  /* line 306, _style-3.scss */
  .positions .position {
    width: 74.2388758782%;
    float: left;
    margin-right: 3.0444964871%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .positions .position {
  width: 74.2388758782%;
  float: left;
  margin-right: 3.0444964871%;
  display: inline;
}
@media (min-width: 64.7em) {
  /* line 306, _style-3.scss */
  .positions .position {
    width: 31.9938176198%;
    float: left;
    margin-right: 2.0092735703%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .positions .position {
  width: 31.9938176198%;
  float: left;
  margin-right: 2.0092735703%;
  display: inline;
}
/* line 318, _style-3.scss */
.positions .position h4 {
  color: #0090d6;
  font-size: 20.8px;
  font-size: 1.3rem;
}
/* line 322, _style-3.scss */
.positions .position sub {
  font-size: 16px;
  font-size: 1rem;
}
/* line 326, _style-3.scss */
.positions .position .cta {
  float: right;
}
/* line 328, _style-3.scss */
.positions .position .cta a {
  color: #FFFFFF;
}
@media (min-width: 42.7em) {
  /* line 306, _style-3.scss */
  .positions .position {
    margin-left: 12.8805620609%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .positions .position {
  margin-left: 12.8805620609%;
}
@media (min-width: 64.7em) {
  /* line 306, _style-3.scss */
  .positions .position {
    margin-left: 0%;
  }
  /* line 338, _style-3.scss */
  .positions .position:last-child {
    float: right;
    margin-right: 0;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .positions .position {
  margin-left: 0%;
}
/* line 338, _style-3.scss */
.no-mediaqueries .positions .position:last-child {
  float: right;
  margin-right: 0;
  *margin-left: -1.3em;
  display: inline;
}

/* line 346, _style-3.scss */
.see-all {
  width: 100%;
  float: left;
  margin-right: 4.1009463722%;
  display: inline;
  margin: 5px 0 20px;
}
@media (min-width: 42.7em) {
  /* line 346, _style-3.scss */
  .see-all {
    width: 74.2388758782%;
    float: left;
    margin-right: 3.0444964871%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .see-all {
  width: 74.2388758782%;
  float: left;
  margin-right: 3.0444964871%;
  display: inline;
}
@media (min-width: 64.7em) {
  /* line 346, _style-3.scss */
  .see-all {
    width: 100%;
    float: left;
    margin-right: 2.0092735703%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .see-all {
  width: 100%;
  float: left;
  margin-right: 2.0092735703%;
  display: inline;
}
@media (min-width: 42.7em) {
  /* line 346, _style-3.scss */
  .see-all {
    margin-left: 12.8805620609%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .see-all {
  margin-left: 12.8805620609%;
}
@media (min-width: 64.7em) {
  /* line 346, _style-3.scss */
  .see-all {
    margin-left: 0%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .see-all {
  margin-left: 0%;
}

/* line 360, _style-3.scss */
.single-col-text {
  width: 65.2996845426%;
  float: left;
  margin-right: 4.1009463722%;
  display: inline;
  margin: 5px 0 20px;
}
@media (min-width: 42.7em) {
  /* line 360, _style-3.scss */
  .single-col-text {
    width: 100%;
    float: left;
    margin-right: 3.0444964871%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .single-col-text {
  width: 100%;
  float: left;
  margin-right: 3.0444964871%;
  display: inline;
}
@media (min-width: 64.7em) {
  /* line 360, _style-3.scss */
  .single-col-text {
    width: 65.9969088099%;
    float: left;
    margin-right: 2.0092735703%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .single-col-text {
  width: 65.9969088099%;
  float: left;
  margin-right: 2.0092735703%;
  display: inline;
}
/* line 364, _style-3.scss */
.single-col-text p {
  font-size: 20.8px;
  font-size: 1.3rem;
}
@media (min-width: 42.7em) {
  /* line 360, _style-3.scss */
  .single-col-text {
    margin-left: 0%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .single-col-text {
  margin-left: 0%;
}
@media (min-width: 64.7em) {
  /* line 360, _style-3.scss */
  .single-col-text {
    margin-left: 0%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .single-col-text {
  margin-left: 0%;
}

/* line 378, _style-3.scss */
.quote {
  width: 100%;
  float: left;
  margin-right: 4.1009463722%;
  display: inline;
  margin: 10px 0;
}
@media (min-width: 42.7em) {
  /* line 378, _style-3.scss */
  .quote {
    width: 100%;
    float: left;
    margin-right: 3.0444964871%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .quote {
  width: 100%;
  float: left;
  margin-right: 3.0444964871%;
  display: inline;
}
@media (min-width: 64.7em) {
  /* line 378, _style-3.scss */
  .quote {
    width: 65.9969088099%;
    float: left;
    margin-right: 2.0092735703%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .quote {
  width: 65.9969088099%;
  float: left;
  margin-right: 2.0092735703%;
  display: inline;
}
@media (min-width: 64.7em) {
  /* line 378, _style-3.scss */
  .quote {
    margin-left: 17.0015455951%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .quote {
  margin-left: 17.0015455951%;
}

@media (min-width: 64.7em) {
  /* line 388, _style-3.scss */
  .home header {
    height: 320px;
    height: 20rem;
  }
  /* line 392, _style-3.scss */
  .home header .header-text {
    width: 48.9953632148%;
    float: left;
    margin-right: 2.0092735703%;
    height: 100%;
  }
  /* line 396, _style-3.scss */
  .home header .header-text h1 {
    margin-top: 0;
  }
  /* line 399, _style-3.scss */
  .home header .header-text > p {
    font-size: 25.6px;
    font-size: 1.6rem;
    line-height: 130%;
  }
  /* line 406, _style-3.scss */
  .home header .header-image {
    width: 48.9953632148%;
    float: left;
    margin-right: 2.0092735703%;
    float: right;
    margin-right: 0;
    height: 100%;
  }
  /* line 412, _style-3.scss */
  .home header .header-image img {
    width: 100%;
    height: 100%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .home header {
  height: 320px;
  height: 20rem;
}
/* line 392, _style-3.scss */
.no-mediaqueries .home header .header-text {
  width: 48.9953632148%;
  float: left;
  margin-right: 2.0092735703%;
  display: inline;
  height: 100%;
}
/* line 396, _style-3.scss */
.no-mediaqueries .home header .header-text h1 {
  margin-top: 0;
}
/* line 399, _style-3.scss */
.no-mediaqueries .home header .header-text > p {
  font-size: 25.6px;
  font-size: 1.6rem;
  line-height: 130%;
}
/* line 406, _style-3.scss */
.no-mediaqueries .home header .header-image {
  width: 48.9953632148%;
  float: left;
  margin-right: 2.0092735703%;
  display: inline;
  float: right;
  margin-right: 0;
  *margin-left: -1.3em;
  display: inline;
  height: 100%;
}
/* line 412, _style-3.scss */
.no-mediaqueries .home header .header-image img {
  width: 100%;
  height: 100%;
}
/* line 420, _style-3.scss */
.home .positions {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
@media (min-width: 64.7em) {
  /* line 420, _style-3.scss */
  .home .positions {
    margin-top: 16px;
    margin-top: 1rem;
  }
  /* line 427, _style-3.scss */
  .home .positions .position:nth-of-type(3n+3) {
    float: right;
    margin-right: 0;
  }
  /* line 431, _style-3.scss */
  .home .positions .position .cta {
    right: 0;
    bottom: 17.6px;
    bottom: 1.1rem;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .home .positions {
  margin-top: 16px;
  margin-top: 1rem;
}
/* line 427, _style-3.scss */
.no-mediaqueries .home .positions .position:nth-of-type(3n+3) {
  float: right;
  margin-right: 0;
  *margin-left: -1.3em;
  display: inline;
}
/* line 431, _style-3.scss */
.no-mediaqueries .home .positions .position .cta {
  right: 0;
  bottom: 17.6px;
  bottom: 1.1rem;
}
/* line 441, _style-3.scss */
.home .positions .cols-2 .position {
  width: 30.5993690852%;
  float: left;
  margin-right: 4.1009463722%;
  display: inline;
}
/* line 443, _style-3.scss */
.home .positions .cols-2 .position:nth-child(1) {
  margin-left: 17.3501577287%;
}

/* line 452, _style-3.scss */
.job .worker {
  margin: 128px 0px 48px 0px;
  margin: 8rem 0rem 3rem 0rem;
  width: 100%;
  float: left;
  margin-right: 4.1009463722%;
  display: inline;
  display: none;
}
@media (min-width: 42.7em) {
  /* line 452, _style-3.scss */
  .job .worker {
    width: 100%;
    float: left;
    margin-right: 3.0444964871%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .job .worker {
  width: 100%;
  float: left;
  margin-right: 3.0444964871%;
  display: inline;
}
@media (min-width: 64.7em) {
  /* line 452, _style-3.scss */
  .job .worker {
    width: 65.9969088099%;
    float: left;
    margin-right: 2.0092735703%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .job .worker {
  width: 65.9969088099%;
  float: left;
  margin-right: 2.0092735703%;
  display: inline;
}

/* line 459, _style-3.scss */
.job-description {
  width: 100%;
  float: left;
  margin-right: 4.1009463722%;
  display: inline;
  background: #FFFFFF;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 42.7em) {
  /* line 459, _style-3.scss */
  .job-description {
    width: 100%;
    float: left;
    margin-right: 3.0444964871%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .job-description {
  width: 100%;
  float: left;
  margin-right: 3.0444964871%;
  display: inline;
}
@media (min-width: 64.7em) {
  /* line 459, _style-3.scss */
  .job-description {
    width: 100%;
    float: left;
    margin-right: 2.0092735703%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .job-description {
  width: 100%;
  float: left;
  margin-right: 2.0092735703%;
  display: inline;
}
@media (min-width: 42.7em) {
  /* line 459, _style-3.scss */
  .job-description {
    margin-left: 12.8805620609%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .job-description {
  margin-left: 12.8805620609%;
}
@media (min-width: 64.7em) {
  /* line 459, _style-3.scss */
  .job-description {
    margin-left: 0%;
    padding-right: 34.0030911901%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .job-description {
  margin-left: 0%;
  padding-right: 34.0030911901%;
}
/* line 476, _style-3.scss */
.job-description h1 {
  padding-top: 0px;
  padding-top: 0rem;
}
/* line 480, _style-3.scss */
.job-description h3 {
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 10px;
}
/* line 485, _style-3.scss */
.job-description ul, .job-description p {
  line-height: 22.4px;
  line-height: 1.4rem;
  font-size: 17.6px;
  font-size: 1.1rem;
}
/* line 490, _style-3.scss */
.job-description li {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 10px;
}
/* line 496, _style-3.scss */
.job-description > .cta {
  float: right;
}

/* line 503, _style-3.scss */
.jobs-list aside,
.job-description aside {
  display: none;
  background: #ffffff;
  border-top: 1px solid #0090d6;
  border-bottom: 1px solid #0090d6;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  padding: 0.5rem;
  line-height: 22.4px;
  line-height: 1.4rem;
  height: 400px;
}
/* line 516, _style-3.scss */
.jobs-list aside.absolute,
.job-description aside.absolute {
  position: absolute;
  left: auto;
}
/* line 520, _style-3.scss */
.jobs-list aside.absolute.top,
.job-description aside.absolute.top {
  top: 0;
  bottom: auto;
}
/* line 525, _style-3.scss */
.jobs-list aside.absolute.bottom,
.job-description aside.absolute.bottom {
  top: auto;
  bottom: 0;
}
/* line 531, _style-3.scss */
.jobs-list aside.fixed,
.job-description aside.fixed {
  position: fixed;
  right: auto;
}
@media (min-width: 64.7em) {
  /* line 503, _style-3.scss */
  .jobs-list aside,
  .job-description aside {
    display: block;
    width: 16.5em;
    right: 0;
    margin-top: 64px;
    margin-top: 4rem;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .jobs-list aside, .no-mediaqueries
.job-description aside {
  display: block;
  width: 16.5em;
  right: 0;
  margin-top: 64px;
  margin-top: 4rem;
}

/* line 547, _style-3.scss */
.jobs-list .positions {
  position: relative;
}
/* line 550, _style-3.scss */
.jobs-list .positions .position {
  width: 100%;
  float: left;
  margin-right: 4.1009463722%;
  display: inline;
  padding-left: 0px;
  padding-left: 0rem;
  position: relative;
}
@media (min-width: 42.7em) {
  /* line 550, _style-3.scss */
  .jobs-list .positions .position {
    width: 74.2388758782%;
    float: left;
    margin-right: 3.0444964871%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .jobs-list .positions .position {
  width: 74.2388758782%;
  float: left;
  margin-right: 3.0444964871%;
  display: inline;
}
@media (min-width: 64.7em) {
  /* line 550, _style-3.scss */
  .jobs-list .positions .position {
    width: 65.9969088099%;
    float: left;
    margin-right: 2.0092735703%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .jobs-list .positions .position {
  width: 65.9969088099%;
  float: left;
  margin-right: 2.0092735703%;
  display: inline;
}
/* line 553, _style-3.scss */
.jobs-list .positions .position p {
  font-size: 17.6px;
  font-size: 1.1rem;
}
/* line 556, _style-3.scss */
.jobs-list .positions .position:last-child {
  float: left;
  margin-right: 4.1009463722%;
  *margin-left: auto;
}
/* line 562, _style-3.scss */
.jobs-list .positions .position .worker {
  display: none;
  position: absolute;
  right: 0;
  left: auto;
  bottom: auto;
  top: 0;
  width: auto;
}
/* line 565, _style-3.scss */
.jobs-list .positions .position .worker p {
  display: none;
}
/* line 572, _style-3.scss */
.jobs-list .positions .position .worker .rounded-image {
  margin: 0;
  margin-top: -30px;
  margin-right: -30px;
  width: 90px;
  height: 90px;
}

/* line 586, _style-3.scss */
.additional .info {
  width: 100%;
  float: left;
  margin-right: 4.1009463722%;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  padding: 0.5rem;
  margin: 16px 0px;
  margin: 1rem 0rem;
  background: #FFFFFF;
  border-radius: 2px;
  box-sizing: border-box;
}
@media (min-width: 42.7em) {
  /* line 586, _style-3.scss */
  .additional .info {
    width: 48.4777517564%;
    float: left;
    margin-right: 3.0444964871%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .additional .info {
  width: 48.4777517564%;
  float: left;
  margin-right: 3.0444964871%;
  display: inline;
}
@media (min-width: 64.7em) {
  /* line 586, _style-3.scss */
  .additional .info {
    width: 48.9953632148%;
    float: left;
    margin-right: 2.0092735703%;
  }
}
/* line 91, susy/_media.scss */
.no-mediaqueries .additional .info {
  width: 48.9953632148%;
  float: left;
  margin-right: 2.0092735703%;
  display: inline;
}
/* line 596, _style-3.scss */
.additional .info h3 {
  margin-top: 0;
  margin-bottom: 5px;
}
@media (min-width: 42.7em) {
  /* line 602, _style-3.scss */
  .additional .info:nth-child(2) {
    float: right;
    margin-right: 0;
  }
  /* line 605, _style-3.scss */
  .additional .info:nth-child(3) {
    margin-left: 25.7611241218%;
  }
}
/* line 602, _style-3.scss */
.no-mediaqueries .additional .info:nth-child(2) {
  float: right;
  margin-right: 0;
  *margin-left: -1.3em;
  display: inline;
}
/* line 605, _style-3.scss */
.no-mediaqueries .additional .info:nth-child(3) {
  margin-left: 25.7611241218%;
}
@media (min-width: 64.7em) {
  /* line 610, _style-3.scss */
  .additional .info:nth-child(0) {
    float: left;
    margin-right: 2.0092735703%;
  }
  /* line 613, _style-3.scss */
  .additional .info:nth-child(0) {
    margin-left: 0%;
    float: right;
    margin-right: 0;
  }
}
/* line 610, _style-3.scss */
.no-mediaqueries .additional .info:nth-child(0) {
  float: left;
  margin-right: 2.0092735703%;
  *margin-left: auto;
}
/* line 613, _style-3.scss */
.no-mediaqueries .additional .info:nth-child(0) {
  margin-left: 0%;
  float: right;
  margin-right: 0;
  *margin-left: -1.3em;
  display: inline;
}

/* line 624, _style-3.scss */
.social-icons .social-icon {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 626, _style-3.scss */
.social-icons .social-icon a {
  display: block;
  width: 34px;
  height: 34px;
  margin: auto;
}
/* line 633, _style-3.scss */
.social-icons .social-icon.facebook a {
  background: url(images/facebook32.png) no-repeat;
}
/* line 634, _style-3.scss */
.social-icons .social-icon.linkedin a {
  background: url(images/linkedin32.png) no-repeat;
}
/* line 635, _style-3.scss */
.social-icons .social-icon.googleplus a {
  background: url(images/googleplus32.png) no-repeat;
}
/* line 636, _style-3.scss */
.social-icons .social-icon.twitter a {
  background: url(images/twitter32.png) no-repeat;
}
/* line 637, _style-3.scss */
.social-icons .social-icon.email a {
  background: url(images/email32.png) no-repeat;
}
@media (min-width: 42.7em) {
  /* line 640, _style-3.scss */
  .social-icons .social-icon a {
    width: 58px;
    height: 58px;
  }
  /* line 644, _style-3.scss */
  .social-icons .social-icon.facebook a {
    background: url(images/facebook56.png) no-repeat;
  }
  /* line 645, _style-3.scss */
  .social-icons .social-icon.linkedin a {
    background: url(images/linkedin56.png) no-repeat;
  }
  /* line 646, _style-3.scss */
  .social-icons .social-icon.googleplus a {
    background: url(images/googleplus56.png) no-repeat;
  }
  /* line 647, _style-3.scss */
  .social-icons .social-icon.twitter a {
    background: url(images/twitter56.png) no-repeat;
  }
  /* line 648, _style-3.scss */
  .social-icons .social-icon.email a {
    background: url(images/email56.png) no-repeat;
  }
}
/* line 640, _style-3.scss */
.no-mediaqueries .social-icons .social-icon a {
  width: 58px;
  height: 58px;
}
/* line 644, _style-3.scss */
.no-mediaqueries .social-icons .social-icon.facebook a {
  background: url(images/facebook56.png) no-repeat;
}
/* line 645, _style-3.scss */
.no-mediaqueries .social-icons .social-icon.linkedin a {
  background: url(images/linkedin56.png) no-repeat;
}
/* line 646, _style-3.scss */
.no-mediaqueries .social-icons .social-icon.googleplus a {
  background: url(images/googleplus56.png) no-repeat;
}
/* line 647, _style-3.scss */
.no-mediaqueries .social-icons .social-icon.twitter a {
  background: url(images/twitter56.png) no-repeat;
}
/* line 648, _style-3.scss */
.no-mediaqueries .social-icons .social-icon.email a {
  background: url(images/email56.png) no-repeat;
}

/* line 653, _style-3.scss */
footer {
  width: 100%;
  height: 160px;
  height: 10rem;
  padding-top: 64px;
  padding-top: 4rem;
  background: #EEE;
  border-top: 1px solid #CCC;
}

/* line 662, _style-3.scss */
footer .general-footer-links {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
/* line 666, _style-3.scss */
footer .general-footer-links li {
  width: 9.8360655738%;
  float: left;
  margin-right: 3.0444964871%;
  display: inline;
  text-align: center;
}
/* line 670, _style-3.scss */
footer .general-footer-links li:last-child {
  float: right;
  margin-right: 0;
  *margin-left: -1.3em;
  display: inline;
}
/* line 676, _style-3.scss */
footer .social-icons {
  *zoom: 1;
  max-width: 31.7em;
  _width: 31.7em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer .social-icons:after {
  content: "";
  display: table;
  clear: both;
}
/* line 680, _style-3.scss */
footer .social-icon {
  width: 16.0305343511%;
  float: left;
  margin-right: 4.9618320611%;
  display: inline;
}
/* line 683, _style-3.scss */
footer .social-icon:last-child {
  float: right;
  margin-right: 0;
  *margin-left: -1.3em;
  display: inline;
}
