<p th:fragment="location">
    <span th:text="${practiceName}"></span><br/>
    <span th:text="${location}"></span><br/>
    <span th:text="|${zip} ${city}|"></span><br />
    <div th:if="${contact}" th:remove="tag">
        <span th:if="${practicePhone}" th:text="|Rufnummer: ${practicePhone}|"></span><span th:if="${practicePhone}"><br /></span>
        <span th:if="${practiceMail}" th:text="|E-Mail: ${practiceMail}|"></span><span th:if="${practiceMail}"><br /></span>
    </div>
</p>
