<table class="widefat tablenav">
<tr class="columns_small"><th><a href="/admin/integrations/integration_10/index.php"{if $integrationNavigationActive!='data'} style="font-weight:normal;"{/if}><img alt="" src="/static/ico/vcard.png" style="vertical-align: text-bottom; margin-right: 6px;">UserData</a></th><th><a href="/admin/integrations/integration_10/webdavaccounts/index.php"{if $integrationNavigationActive!='webdavaccount'} style="font-weight:normal;"{/if}><img alt="" src="/static/ico/weather_clouds.png" style="vertical-align: text-bottom; margin-right: 6px;"> WebdavAccounts</a></th></tr>
</table>