<div id="footer">
	<div class="middle">
		<ul id="meta_navigation" style="height: 40px; padding: 12px 0;">			
			<li class="first"><a href="/Kontakt" rel="nofollow">Kontakt</a></li>
			<li><a href="/Impressum" rel="nofollow">Impressum</a></li>
			<li><a href="/Datenschutz" rel="nofollow">Datenschutz</a></li>
			<li class=""><a href="/agb" rel="nofollow">AGB</a></li>
		</ul>			
	</div>	
</div>