<div id="topContainer">
	<div class="middle-responsiv">
		<a id="logo" href="/" title="Arzttermine.de | Schnell,einfach und online zu Ihrem Wunschtermin."><img src="/static/images/assets/logo-2.png" width=" 212" height="69" alt="Arzttermine.de Logo"></a>	
		<p id="hotline">Telefon-Support: <span class="tel at_grbl">0800 / 2222 133</span></p>
	</div>
</div>
