<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('homepage') }}">Navigation</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link{% if app.request.get('_route') == 'homepage' %} active{% endif %}" href="{{ path('homepage') }}">Home{% if app.request.get('_route') == 'homepage' %} <span class="sr-only">(current)</span>{% endif %}</a>
            <a class="nav-item nav-link{% if app.request.get('_route') == 'practices' %} active{% endif %}" href="{{ path('practices') }}">Praxisübersicht{% if app.request.get('_route') == 'practices' %} <span class="sr-only">(current)</span>{% endif %}</a>
            <a class="nav-item nav-link{% if app.request.get('_route') == 'customers' %} active{% endif %}" href="{{ path('customers') }}">User{% if app.request.get('_route') == 'customers' %} <span class="sr-only">(current)</span>{% endif %}</a>
            <a class="nav-item nav-link{% if app.request.get('_route') == 'bookings' %} active{% endif %}" href="{{ path('bookings') }}">Buchungen{% if app.request.get('_route') == 'bookings' %} <span class="sr-only">(current)</span>{% endif %}</a>
            <a class="nav-item nav-link" href="{{ path('logout') }}" title="Abmelden"><i class="fa fa-sign-out" aria-hidden="true" style="color: #9d223c;"></i></a>
        </div>
    </div>
</nav>
<br />
