<nav aria-label="Pagination" class="pull-right">
    <ul class="pagination">
        <li class="page-item{% if page.currentPage == 0 %} disabled{% endif %}">
            <a class="page-link" href="?page={{ page.currentPage -1 }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {% for i in range(1, page.totalPages) %}
            <li class="page-item{% if i-1 == page.currentPage %} active{% endif %}"><a class="page-link" href="{% if i-1 != page.currentPage %}?page={{ i-1 }}{% else %}#{% endif %}">{{ i }}</a></li>
        {% endfor %}
        <li class="page-item{% if page.currentPage +1 == page.totalPages %} disabled{% endif %}">
            <a class="page-link" href="?page={{ page.currentPage +1 }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
