{% extends '::base.html.twig' %}

{% use ':doctor/dashboard:header.html.twig' %}
{% use ':doctor/dashboard:footer.html.twig' %}

{% block content %}
    {% set query_slug = '?u='~slug %}
    {% set default_location = locations|first %}

    <div class="container summary">
        <div class="row">
            <div class="col-sm-12">
                {% include ':doctor/dashboard/platform:navigation.html.twig' with { 'query_slug': query_slug, 'default_location': default_location, 'active_route': 'doctor_patients' } %}
            </div>
        </div>

        <div class="row dashboard-actions">
            <div class="col-md-12 m-b-1">
                <a href="#" class="btn btn-primary save pull-right-sm-up" id="dashboard-save" data-toggle="tooltip" data-placement="top">{{ 'ui.doctor.dashboard.planner.publish'|trans }}</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table dashboard-table" id="bookings" data-medical-specialties='{{ getMedicalSpecialtyText(doctor.getMedicalSpecialtyIds)|raw }}'>
                <thead>
                    <tr>
                        <th class="doctor">{{ 'ui.doctor.dashboard.patients.bookings.doctor'|trans }}</th>
                        <th class="datetime" data-sort="int" colspan="2"><a href="#">{{ 'ui.doctor.dashboard.patients.bookings.booked_at'|trans }}{% include ':doctor/dashboard:sortable.html.twig' %}</a></th>
                        <th class="datetime" data-sort="int" colspan="2"><a href="#">{{ 'ui.doctor.dashboard.patients.bookings.booked_appointment'|trans }}{% include ':doctor/dashboard:sortable.html.twig' %}</a></th>
                        <th class="patient">{{ 'ui.doctor.dashboard.patients.bookings.patient'|trans }}</th>
                        <th data-sort="int"><a href="#">{{ 'ui.doctor.dashboard.patients.bookings.status'|trans }}{% include ':doctor/dashboard:sortable.html.twig' %}</a></th>
                        <th>{{ 'ui.doctor.dashboard.patients.bookings.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr class="booking"
                            data-booking-id="{{ booking.getId }}"
                            data-booking-data='{{ booking|serialize|raw }}'
                            data-supports-enquiry="{% if supportsAppointmentEnquiry(booking.getLocation) %}true{% else %}false{% endif %}"
                        >
                        <td>{{ getFullName(booking.getDoctor) }}</td>
                        <td data-sort-value="{{ booking.getCreatedAt|date_format('U') }}">{{ booking.getCreatedAt|localizeddate('short', 'none') }}</td>
                        <td>{{ booking.getCreatedAt|localizeddate('none', 'medium') }}</td>
                        <td data-sort-value="{{ booking.getAppointmentStartAt|date_format('U') }}"{% if supportsAppointmentEnquiry(booking.getLocation) %} colspan="2"{% endif %}>
                            {% if supportsAppointmentEnquiry(booking.getLocation) %}
                                <span class="enquiry">{{ 'ui.doctor.dashboard.patients.bookings.enquiry'|trans }}</span>
                            {% else %}
                                <span class="time">{{ booking.getAppointmentStartAt|localizeddate('short', 'none') }}</span>
                            {% endif %}
                        </td>
                        {% if supportsAppointmentEnquiry(booking.getLocation) == false %}
                        <td>{{ booking.getAppointmentStartAt|localizeddate('none', 'medium') }}</td>
                        {% endif %}


                        <td class="patient-details">
                            <span class="name">{{ booking.getFirstName }} {{ booking.getLastName }}</span>
                            <span>{% if booking.getReturningVisitor() %}{{ 'ui.doctor.dashboard.patients.bookings.inventory_patient'|trans }}{% else %}{{ 'ui.doctor.dashboard.patients.bookings.new_patient'|trans }}{% endif %}</span>
                            <span>{{ booking.getMedicalSpecialty.getName }}</span>
                            <span>{{ booking.getPhone }}</span>
                            <span><a href="mailto:{{ booking.getEmail }}">{{ booking.getEmail }}</a></span>
                        </td>
                        <td data-sort-value="{{ booking.getStatus }}" class="booking-status">{{ ('ui.booking.status'~booking.getStatus)|trans }}</td>
                        <td class="booking-actions">
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'ui.doctor.dashboard.patients.actions.label'|trans }}</a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item confirm" data-target="[data-name=modal-confirmation]" data-toggle="modal"><span class="fa-stack fa-lg icon icon-positive"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-check fa-stack-1x"></i></span>{{ 'ui.doctor.dashboard.patients.actions.confirm'|trans }}</a>
                                    <a class="dropdown-item cancel" data-target="[data-name=modal-cancellation]" data-toggle="modal"><span class="fa-stack fa-lg icon icon-negative"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-ban fa-stack-1x"></i></span>{{ 'ui.doctor.dashboard.patients.actions.cancel'|trans }}</a>
                                    <a class="dropdown-item change" data-target="[data-name=modal-edit]" data-toggle="modal"><span class="fa-stack fa-lg icon icon-danger"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x"></i></span>{{ 'ui.doctor.dashboard.patients.actions.change'|trans }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include ':doctor/dashboard/bookings:modal.html.twig' %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/dashboard/bookings.js') }}"></script>

{% endblock %}