{# CONFIRM #}
<div id="modal-confirm" aria-hidden="true" class="modal fade" data-name="modal-confirmation" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h2>{{ 'ui.doctor.dashboard.patients.modal.confirm.title'|trans }}</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label>{{ 'ui.doctor.dashboard.patients.modal.confirm.appointment'|trans }}</label>
                    </div>
                    <div class="col-sm-6 booking-details">
                        <span class="datetime"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>{{ 'ui.doctor.dashboard.patients.modal.confirm.patient_details'|trans }}</label>
                    </div>
                    <div class="col-sm-6 patient-details">
                        <p>
                            <span class="name"></span>
                            <br />
                            <span class="medical-specialty"></span>
                            <br />
                            <span class="fa fa-phone icon"></span><span class="phone"></span>
                            <br />
                            <span class="fa fa-envelope icon"></span><span class="email"></span>
                        </p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-12">
                        <p>{{ 'ui.doctor.dashboard.patients.modal.confirm.info'|trans }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary-outline btn-default" data-dismiss="modal" type="button">{{ 'ui.doctor.dashboard.patients.modal.confirm.submit.cancel'|trans }}</button>
                <button class="btn btn-primary" data-dismiss="modal" type="button">{{ 'ui.doctor.dashboard.patients.modal.confirm.submit.ok'|trans }}</button>
            </div>
        </div>
    </div>
</div>

{# CANCEL #}
<div id="modal-cancel" aria-hidden="true" class="modal fade" data-name="modal-cancellation" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h2>{{ 'ui.doctor.dashboard.patients.modal.cancel.title'|trans }}</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label>{{ 'ui.doctor.dashboard.patients.modal.cancel.current_appointment'|trans }}</label>
                    </div>
                    <div class="col-sm-6 booking-details">
                        <span class="datetime"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>{{ 'ui.doctor.dashboard.patients.modal.cancel.patient_details'|trans }}</label>
                    </div>
                    <div class="col-sm-6 patient-details">
                        <p>
                            <span class="name"></span>
                            <br />
                            <span class="medical-specialty"></span>
                            <br />
                            <span class="fa fa-phone icon"></span><span class="phone"></span>
                            <br />
                            <span class="fa fa-envelope icon"></span><span class="email"></span>
                        </p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            <strong>{{ 'ui.doctor.dashboard.patients.modal.cancel.note'|trans }}</strong>
                            {{ 'ui.doctor.dashboard.patients.modal.cancel.info'|trans }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary-outline btn-default" data-dismiss="modal" type="button">{{ 'ui.doctor.dashboard.patients.modal.cancel.submit.cancel'|trans }}</button>
                <button class="btn btn-danger btn-primary" data-dismiss="modal" type="button">{{ 'ui.doctor.dashboard.patients.modal.cancel.submit.ok'|trans }}</button>
            </div>
        </div>
    </div>
</div>

{# EDIT #}
<div id="modal-change-appointment" aria-hidden="true" class="modal fade" data-name="modal-edit" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h2>{{ 'ui.doctor.dashboard.patients.modal.change.title'|trans }}</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label>{{ 'ui.doctor.dashboard.patients.modal.change.current_appointment'|trans }}</label>
                    </div>
                    <div class="col-sm-6 booking-details">
                        <span class="datetime"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>{{ 'ui.doctor.dashboard.patients.modal.change.patient_details'|trans }}</label>
                    </div>
                    <div class="col-sm-6 patient-details">
                        <p>
                            <span class="name"></span>
                            <br />
                            <span class="medical-specialty"></span>
                            <br />
                            <span class="fa fa-phone icon"></span><span class="phone"></span>
                            <br />
                            <span class="fa fa-envelope icon"></span><span class="email"></span>
                        </p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#booking-move" role="tab">{{ 'ui.doctor.dashboard.patients.modal.change.tab.booking_move.label'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#booking-suggest" role="tab">{{ 'ui.doctor.dashboard.patients.modal.change.tab.booking_suggest.label'|trans }}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="booking-move" role="tabpanel">
                                <p>
                                    <strong>{{ 'ui.doctor.dashboard.patients.modal.change.tab.booking_move.note'|trans }}</strong>
                                    {{ 'ui.doctor.dashboard.patients.modal.change.tab.booking_move.info'|trans }}
                                </p>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>{{ 'ui.doctor.dashboard.patients.modal.change.tab.booking_move.new_appointment'|trans }}</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control moved-to datetimepicker" value=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="booking-suggest" role="tabpanel">
                                <p>
                                    <strong>{{ 'ui.doctor.dashboard.patients.modal.change.tab.booking_suggest.note'|trans }}</strong>
                                    {{ 'ui.doctor.dashboard.patients.modal.change.tab.booking_suggest.info'|trans }}
                                </p>

                                <div class="row m-b-1">
                                    <div class="col-sm-6">
                                        <label>{{ 'ui.doctor.dashboard.patients.modal.change.tab.booking_suggest.new_appointment_offer'|trans }}</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control offer-time datetimepicker" value=""/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>{{ 'ui.doctor.dashboard.patients.modal.change.tab.booking_suggest.offer_expiry'|trans }}</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="number" class="form-control offer-expiry" min="1" step="1" max="48" value="24"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary-outline btn-default" data-dismiss="modal" type="button">{{ 'ui.doctor.dashboard.patients.modal.change.submit.cancel'|trans }}</button>
                <button class="btn btn-warning btn-primary" data-dismiss="modal" type="button">{{ 'ui.doctor.dashboard.patients.modal.change.submit.ok'|trans }}</button>
            </div>
        </div>
    </div>
</div>