<form class="form-horizontal big-border form-popover" ng-controller="EventEditPopoverController">

  <div class="form-group form-group-sm">
    <div class="row">
      <div class="col-md-11 form-control-static">
        <h4 ng-style="{color:event.backgroundColor}" class="margin-top-0">{{event.title}}</h4>
      </div>

      <div class="col-md-1 form-control-static text-right">
        <a href="#" class="close-btn" hide-popover>
          &times;
        </a>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <div class="row">
      <div class="col-md-12">
        <div event-range="event"></div><br>
        <dl class="dl-horizontal dl-left" ng-if="patientLoaded && resourcesLoaded && treatmentLoaded">
          <dt ng-if="event.patient">{{'EVENT_FORM.FIELDS.PATIENT' | translate}}</dt>
          <dd ng-if="event.patient">{{event.patient.firstName}} {{event.patient.lastName}}</dd>
          <dt ng-if="event.resources.length">{{'EVENT_FORM.FIELDS.RESOURCES' | translate}}</dt>
          <dd ng-if="event.resources.length">
            <span ng-repeat="resource in event.resources">
              {{resource.name}}<br>
            </span>
          </dd>
          <dt ng-if="event.treatment">{{'EVENT_FORM.FIELDS.TREATMENT' | translate}}</dt>
          <dd ng-if="event.treatment">{{event.treatment.type}}</dd>
          <dt ng-if="event.patient.insuranceType">{{'EVENT_FORM.FIELDS.INSURANCE' | translate}}</dt>
          <dd ng-if="'COMPULSORY' == event.patient.insuranceType">Gesetzlich versichert</dd>
          <dd ng-if="'PRIVATE' == event.patient.insuranceType">Privat versichert</dd>
          <dt>{{'EVENT_FORM.FIELDS.RETURNING_PATIENT' | translate}}</dt>
          <dd ng-if="event.patient.returningPatient">Bestandspatient</dd>
          <dd ng-if="!event.patient.returningPatient">Neukunde</dd>

        </dl>
        <div class="text-center text-muted" ng-if="!patientLoaded || !resourcesLoaded || !treatmentLoaded">
          <i class="fa fa-2x fa-spinner fa-spin"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <div class="row">
      <div class="col-md-12 form-control-static">
        <hr class="no-margin">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-control-static">
        <a href="#" class="float-left" ng-click="deleteEvent()" translate="EVENT_FORM.CANCEL"></a>
        <a href="#" class="float-right text-bold" ng-click="editEvent()">{{'ACTION.EDIT' | translate}} »</a>
      </div>
    </div>
  </div>
</form>
