<form novalidate name="eventForm" class="form-horizontal big-border form-popover"
      ng-controller="EventNewPopoverController" ng-submit="eventForm.$valid && submitEvent()">

  <div class="form-group form-group-sm">
    <div class="row">
      <div class="col-md-11 form-control-static">
        <h4 ng-style="{color:event.backgroundColor}" class="margin-top-0" translate="EVENT_FORM.NEW_TITLE"></h4>
      </div>

      <div class="col-md-1 form-control-static text-right">
        <a href="#" class="close-btn" hide-popover>
          &times;
        </a>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm" ng-controller="EventFormController">
    <div class="row">
      <div class="col-md-12">
        <dl class="dl-horizontal dl-left">
          <dt>{{'EVENT_FORM.FIELDS.RESOURCES' | translate}}</dt>
          <dd>
            <span ng-repeat="resource in resources">
              {{resource.title}}<br>
            </span>
          </dd>
        </dl>
      </div>

      <label class="col-md-2 control-label" translate="EVENT_FORM.WHEN"></label>
      <div class="col-md-9 form-control-static">
        <div class="form-inline-date padding-left-15" ng-class="{'has-error': eventForm.$submitted && (eventForm.endDate.$invalid || eventForm.endTime.$invalid)}">
          <input type="input" class="form-control event-date-input" id="eventStartDate" ng-model="event.startDate"
                 pikaday="pikadayDateStart" date-input required name="startDate">
          <input type="input" class="form-control event-time-input" id="eventStartTime" ng-model-options="{ updateOn: 'blur'}" ng-model="time.start" ui-timepicker
                 ng-if="!event.allDay" required name="startTime">
          {{ 'EVENT_FORM.TO' | translate }}
          <input type="input" class="form-control event-date-input" id="eventEndDate" ng-model="event.endDate"
                 pikaday="pikadayDateEnd" ng-show="showEndDate" date-input required name="endDate" end-date-validator>

          <input type="input" class="form-control event-time-input" id="eventEndTime" ng-model-options="{ updateOn: 'blur'}" ng-model="time.end" ui-timepicker
                 ng-if="!event.allDay" required
                 name="endTime" end-date-validator>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm" ng-class="{'has-error': eventForm.$submitted && eventForm.title.$invalid}">
    <div class="row">
      <label for="input-title" class="col-md-2 control-label" translate="EVENT_FORM.FIELDS.TITLE"></label>

      <div class="col-md-9">
        <input type="text" name="title" ng-model="event.title" id="input-title" class="form-control" required>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <div class="row" ng-class="{'has-error': eventForm.$submitted && eventForm.endTime.$invalid}">
      <div class="col-md-10 col-md-offset-2">
        <input type="submit" class="btn btn-primary" value="{{'ACTION.CREATE_EVENT' | translate}}">
        <a href="" class="btn btn-default" ng-click="editEvent()">
          {{'ACTION.EDIT' | translate}} »
        </a>
      </div>
    </div>
  </div>
</form>
