<div id="page-footer">
	<ul id="meta_navigation" class="middle-responsiv">
		<li class="first"><a href="/kontakt" rel="nofollow">Kontakt</a></li>
		<li><a href="/datenschutz" rel="nofollow">Datenschutz</a></li>
		<li><a href="/agb" rel="nofollow">AGB</a></li>
		<li><a href="/impressum" rel="nofollow">Impressum</a></li>
	</ul>
</div>