.at-widget-calendar {
  padding-bottom: 10px;

  .at-widget-calendar__head {
    padding: 3px 0;
  }

  .at-widget-calendar__navigation {
    min-width: 120px;

    button {
      margin: 1px 0;
    }
  }

  .cal-event-title {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .cal-event {
    cursor: pointer;
    text-align: center;
    margin-top: 3px;
    padding: 0;

    mwl-calendar-event-title {
      margin: 0;
      padding: -5px;
    }

    .cal-event-title {
      width: 100%;
      height: 100%;
      margin: 10px;
    }
  }

  .cal-header {
    cursor: pointer;
  }
}
