
.at-widget {
  width: 100%;
  text-align: left;
  max-width: 1260px;
  line-height: 160%;

  a.btn, button.btn {
    cursor: pointer;
    height: auto;
  }

  input, select {
    box-shadow: none;
  }

  select {
    padding-right: 25px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E") no-repeat right center !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    height: 40px !important;

    &::-ms-expand {
      display: none;
    }
  }

  .ng-select__item--selected {
    padding-left: 15px !important;
  }

  .at-divider {
    clear: both;
    width: 100%;
    margin: 15px 0 10px;
    border-bottom: 1px solid transparent;
  }
}

.at-question-text {
  font-weight: 600;
  font-size: 16px;
  padding-top: 5px;
  vertical-align: middle;

  @media (max-width: $break-xs) {
    padding: 10px 3px;
  }
}

.at-form__footer {
  width: 100%;
  margin: 5px 0;
  padding-top: 10px;
  display: inline-block;
  line-height: 100%;
  border: none;
}

.at-google-map {
  width: 300px;
  height: 225px;
  margin: 0 auto;

  @media (max-width: $break-xs) {
    width: 300px;
    height: 225px;
  }
}

.at-hidden {
  display: none;
}

.at-grid {
  padding: 0 20%;

  @media (max-width: $break-xs) {
    padding: 0 8%;
  }
}

.at-grid--small {
  width: 80%;
  max-width: 480px;
  margin: 0 auto;

  @media (max-width: $break-xs) {
    width: 96%;
  }
}

.at-element--highlight {
  background-color: rgba(220, 220, 220, .7);
  line-height: 190%;
  font-weight: 400;
  padding: 4px 0;
  color: #000;

  & i:after {
    padding-right: 10px;
  }
}

.at-summary {
  line-height: 145%;
}

.at-overview {
  h1, h2, h3, h4, h5 {
    margin-top: 0;
  }
}

.at-success {
  width: 100%;
  text-align: center;
}

.at-success__header {
  color: #eee;
  width: 100%;
  padding: 2% 0;
  height: 160px;
  font-size: 16px;
  text-align: left;
}

.at-success__body {
  margin: 0;
  width: 100%;
  padding: 9px 0;
  font-size: 14px;
  display: inline-block;
}

.at-tooltip {

  position: relative;

  .at-tooltip-text {

    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    visibility: hidden;

    width: 200px;
    border-radius: 6px;
    padding: 6px;
    background-color: #000;
    color: #fff;
    opacity: 0.85;

    font-size: 10px;
    text-align: center;

  }

  &:hover .at-tooltip-text {
    visibility: visible;
  }

}
.at-fullscreen {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  text-align: center;

  .spinner {
    margin: 100px auto;
    height: 5rem;
    text-align: center;
    font-size: 1.3rem;
     div {
      height: 100%;
      width: 6px;
      display: inline-block;
      -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
      animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }
    .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }
    .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }
    .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
    .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
      -webkit-transform: scaleY(0.4);
    }

    20% {
      -webkit-transform: scaleY(1);
    }
  }


  @keyframes sk-stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }

    20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }
}

.form-control-danger, .form-control-success, .form-control-warning {
  padding-right: 2.25rem !important;
  background-repeat: no-repeat !important;
  background-position: center right .5625rem !important;
  background-size: 1.125rem 1.125rem !important;
}

.at-doctor-select .ng-select__item--thumbnail {
  -webkit-background-size: 56px !important;
  -moz-background-size: 56px !important;
  -o-background-size: 56px !important;
  background-size: 56px !important;
  margin: 2px 0px 0px 2px;
}
