@import 'variables';
// TODO: move it to widget-style and only load with default template
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');

.at-widget-ns {
    margin: 0;
    padding: 0;
    display: inline-block;
    min-height: 150px;
    text-align: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }

    @import '~bootstrap/scss/bootstrap-reboot';
    @import '~bootstrap/scss/bootstrap-grid';
    @import '~bootstrap/scss/tables';
    @import '~bootstrap/scss/forms';
    @import '~bootstrap/scss/alert';
    @import '~bootstrap/scss/images';
    @import '~bootstrap/scss/buttons';
    @import '~bootstrap/scss/utilities';
    @import 'overrides';

    @import 'common';
    @import 'calendar';
    @import 'menu';
    @import 'mobile';
}

.at-widget {
    // DO NOT MOVE IT INTO ANOTHER NAMESPACE OR SOMETHING ELSE!
    // this is a hack to wait for custom styles to load. Do NOT remove it
    display: none;
}
