.at-menu {
  padding: 0;
  width: auto;
  margin: 10px auto;
  text-align: center;
  word-wrap: initial;

  .at-progress-done {
    cursor: pointer;
  }
  .at-progress-circle,
  .at-progress-bar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid transparent;
    overflow: visible;

    &:focus {
      outline: none;
    }
  }
  .at-progress-bar {
    position: relative;
    width: 80px;
    height: 10px;
    margin: 0 -5px 32px -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;

    @media (max-width: $break-xs) {
      width: 40px;
    }

    @media (max-width: $break-sm) and (min-width: $break-xs) {
      width: 60px;
    }

    @media (min-width: $break-sm) {
      width: 70px;
    }
  }

  .at-progress-label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    font-size: 17px;
  }

  .at-progress-title {
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
    overflow: visible;
    word-break: keep-all;
  }

  .at-progress-done .at-progress-label {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
  }
  .at-progress-active .at-progress-label {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
  }
}
