
.at-visible-xs, .at-visible-md {
  display: none;
}

.at-hidden-md, .at-hidden-xs {
  display: initial;
}

@media (max-width: $break-xs) {

  .at-two-col .col-xs-12:last-child {
    margin-top: 15px;
  }

  .at-visible-xs {
    display: initial;
  }

  .at-hidden-xs, .at-hidden-md {
    display: none;
  }

  .at-text-xs-center {
    text-align: center !important;
  }

  .cal-tooltip-arrow, .cal-tooltip-inner {
    display: none;

  }
}

@media (max-width: $break-md) {

  .at-visible-md {
    display: initial;
  }

  .at-hidden-md {
    display: none;
  }

}

@media (max-width: $break-sm) {

  .at-text-sm-center {
    text-align: center !important;
  }

}
