/**
 * Dont think its good to override bootstrap classes etc.
 * Please only override properties which might be overriden by another website as well
 * This file is to basically reset overrides from other websites (fixing others issues)
 */

.row {
  width: auto !important;
  padding: 0 !important;
}

.panel {
  background-color: inherit;
  color: inherit;
}

/* cant be worse .. */
.text-center {
    display: block !important;
}
