<span th:remove="tag" th:text="${patientFullName}"></span>,

hiermit bestätigen wir Ihren Termin für <span th:remove="tag" th:text="${patientFirstName}"></span> <span th:remove="tag" th:text="${patientLastName}"></span> am <span th:remove="tag" th:text="${appointmentDay}"></span>, den <span th:remove="tag" th:text="${appointmentDate}"></span> um <span th:remove="tag" th:text="${appointmentTime}"></span> Uhr bei <span th:remove="tag" th:text="${doctorTitle}"></span> <span th:remove="tag" th:text="${doctorFirstName}"></span> <span th:remove="tag" th:text="${doctorLastName}"></span>.

Bitte informieren Sie uns rechtzeitig, falls Sie den Termin nicht wahrnehmen können.

Antworten Sie bitte nicht auf diese E-Mail. Wenn Sie Fragen haben, schauen Sie bitte auf unsere Webseite oder rufen Sie uns an.

Mit freundlichen Grüßen

<span th:remove="tag" th:text="${practiceName}"></span> / <span th:remove="tag" th:text="${doctorTitle}"></span> <span th:remove="tag" th:text="${doctorFirstName}"></span> <span th:remove="tag" th:text="${doctorLastName}"></span>
<span th:remove="tag" th:text="${practicePhone}"></span>
<span th:remove="tag" th:text="${practiceWebsite}"></span>
<span th:remove="tag" th:text="${practiceEmail}"></span>
