{% extends '::base.html.twig' %}

{% use ':doctor/dashboard:header.html.twig' %}
{% use ':doctor/dashboard:footer.html.twig' %}

{% block content %}
    {% set query_slug = '?u='~slug %}
    {% set profile_pic = getProfileAssetUrl(doctor.getProfileAssetId, doctor.getProfileAssetFilename, constant('ArzttermineBundle\\Media\\Asset::GFX_SIZE_MEDIUM_PORTRAIT_CROPPED')) %}
    {% set default_location = locations|first %}

    <div class="container summary" data-doctor-slug="{{ slug }}">
        <div class="row">
            <div class="col-sm-12">
                {% include ':doctor/dashboard:navigation.html.twig' with { 'query_slug': query_slug, 'default_location': default_location, 'active_route': 'doctor_account' } %}
            </div>
        </div>
        <div class="row content">
            <div class="col-sm-12">

                {{ form_start(form, {
                    'attr': { 'class': 'form-horizontal' },
                    'action': path('doctor_account')
                }) }}

                    <fieldset class="form-group row">
                        <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.account.name'|trans }}</label>

                        <div class="clearfix hidden-md-up"></div>
                        <div class="col-sm-6 col-md-2 m-b-1">
                            {{ form_widget(form.title) }}
                            {{ form_errors(form.title) }}
                        </div>
                        <div class="col-sm-6 col-md-3 m-b-1">
                            {{ form_widget(form.first_name) }}
                            {{ form_errors(form.first_name) }}
                        </div>
                        <div class="col-sm-12 col-md-3 m-b-1">
                            {{ form_widget(form.last_name) }}
                            {{ form_errors(form.last_name) }}
                        </div>
                        <div class="col-sm-2">
                            <img src="{% if profile_pic %}{{ profile_pic }}{% else %}{{ asset('images/application/placeholder.png') }}{% endif %}" width="100"/><br/>
                            <small>
                                <a href="{{ path('doctor_profile_pic') }}{{ query_slug }}">{{ 'ui.doctor.dashboard.account.edit_profile_image'|trans }}</a>
                            </small>
                        </div>
                    </fieldset>
                    <hr/>

                    <fieldset class="form-group row">
                        <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.account.practices'|trans }}</label>

                        <div class="col-sm-8">
                            {% for location in locations %}
                                <p class="form-control-static">
                                    <a href="{{ slug_to_url(location.getSlug, 'practice') }}" target="_blank">{{ location.getName }}</a><br/>
                                    {{ getAddress(location)|raw }}
                                </p>
                            {% else %}
                                <p>{{ 'ui.doctor.dashboard.account.practices_missing'|trans }}</p>
                            {% endfor %}
                        </div>
                    </fieldset>
                    <hr/>

                    <fieldset class="form-group row">
                        <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.account.doctors'|trans }}</label>

                        <div class="col-sm-6">
                            <select class="form-control hyperlink">
                                {% for doc in doctors %}
                                    <option value="?u={{ doctor.getSlug }}" {% if doctor.getId == doc.getId %}selected{% endif %}>
                                        {{ getFullName(doc) }}
                                    </option>
                                {% endfor %}
                            </select>
                            <a data-target="[data-name=modal-calendar]" data-toggle="modal" href="#">{{ 'ui.doctor.dashboard.account.get_widget'|trans }}</a>
                        </div>
                    </fieldset>
                    <hr/>

                    <fieldset class="form-group row">
                        <label class="col-sm-4 col-md-2 form-control-label">{{ form_label(form.docinfo_1) }}</label>

                        <div class="col-sm-8">
                            {{ form_widget(form.docinfo_1) }}
                            {{ form_errors(form.docinfo_1) }}
                        </div>
                    </fieldset>
                    <hr/>

                    {% do form.medical_specialty_ids.setRendered %}
                    <fieldset class="form-group row">
                        <label class="col-sm-4 col-md-2 form-control-label">{{ 'ui.doctor.dashboard.account.specialties'|trans }}</label>

                        <div class="col-sm-8 col-md-10">
                            {{ form_errors(form.medical_specialty_ids) }}

                            {% for specialty in all_specialties %}
                                {% if specialty.getId in specialties %}
                                    <div class="checkbox m-r-1" style="display: inline-block">
                                        <label>
                                            <input type="checkbox" name="doctor_profile[medical_specialty_ids][]" value="{{ specialty.getId }}" checked>
                                            {{ specialty.getName }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {% if specialties|length %}
                                {% spaceless %}
                                    <a class="btn btn-secondary btn-sm collapsed toggle-specialties" data-target="[data-name=all-specialties]" data-toggle="collapse" href="#">
                                        <span class="show-more show-when-collapsed">{{ 'ui.doctor.dashboard.account.specialties_toggle_more'|trans }}</span>
                                        <span class="show-less show-when-not-collapsed">{{ 'ui.doctor.dashboard.account.specialties_toggle_less'|trans }}</span>
                                    </a>
                                {% endspaceless %}
                            {% endif %}

                            <div class="collapse checkbox-list-in-3-rows" data-name="all-specialties">
                                <div class="inner">
                                    {% for specialty in all_specialties %}
                                        {% if specialty.getId not in specialties %}
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="doctor_profile[medical_specialty_ids][]" value="{{ specialty.getId }}">{{ specialty.getName }}</label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <hr/>

                    <fieldset class="form-group row">
                        <label class="col-sm-4 col-md-2 form-control-label">{{ form_label(form.docinfo_2) }}</label>

                        <div class="col-sm-8">
                            {{ form_widget(form.docinfo_2) }}
                            {{ form_errors(form.docinfo_2) }}
                        </div>
                    </fieldset>

                    <hr/>
                    <fieldset class="form-group row">
                        <label class="col-sm-4 col-md-2 form-control-label">{{ form_label(form.docinfo_3) }}</label>

                        <div class="col-sm-8">
                            {{ form_widget(form.docinfo_3) }}
                            {{ form_errors(form.docinfo_3) }}
                        </div>
                    </fieldset>

                    <hr/>
                    <fieldset class="form-group row">
                        <label class="col-sm-4 col-md-2 form-control-label">{{ form_label(form.docinfo_6) }}</label>

                        <div class="col-sm-8">
                            {{ form_widget(form.docinfo_6) }}
                            {{ form_errors(form.docinfo_6) }}
                        </div>
                    </fieldset>
                    <hr/>

                    <fieldset class="form-group row">
                        <label class="col-sm-4 col-md-2 form-control-label">{{ form_label(form.notification_email) }}</label>

                        <div class="col-sm-8 col-md-6">
                            {{ form_widget(form.notification_email) }}
                            {{ form_errors(form.notification_email) }}
                        </div>
                    </fieldset>
                    <hr/>

                    <button class="btn btn-primary pull-right" type="submit">{{ 'ui.doctor.dashboard.account.button_save'|trans }}</button>

                {{ form_end(form) }}

                {% set user_profile = path('doctor_profile', { 'slug': slug }) %}

                {% include ':doctor/dashboard/account:modal.html.twig' with {
                    'user_profile': user_profile,
                    'slug': slug,
                    'widget_base': path('user_widget', { 'parameter_string': user_profile }),
                    'locations': locations,
                    'treatment_services': treatment_services
                } %}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        var doctorsMedicalSpecialtyIds = {{ specialties|json_encode|raw }} || [];
        var docAccountUrl = '{{ path('doctor_account') }}';
    </script>

{% endblock %}
