{% set user_profile = path('doctor_profile', { 'slug': slug }) %}
{% set widget_base = url('user_widget', { 'parameter_string': user_profile }) %}

<div id="widget-config" aria-hidden="true" class="modal fade" data-name="modal-calendar" role="dialog" tabindex="-1" data-widget="{{ widget_base }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h2>{{ 'ui.widget.label'|trans }}</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>{{ 'ui.doctor.dashboard.account.practice'|trans }}</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-6">
                                <select class="form-control" id="widget-practice">
                                    <option value="">{{ 'form.please_choose'|trans }}</option>
                                    {% for location in locations %}
                                    <option value="{{ location.getId }}">{{ location.getName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" id="widget-treatment_service">
                                    <option value="">{{ 'form.please_choose'|trans }}</option>
                                    {% for tt in treatment_services %}
                                    <option value="{{ tt.getId }}">{{ tt.getName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <hr/>
                        <textarea class="copy-content form-control" id="widget-source" data-behavior="copy-content" cols="40" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" type="button">{{ 'ui.button.ok'|trans }}</button>
            </div>
        </div>
    </div>
</div>