{% extends 'template.html.twig' %}

{% block content %}
    <div class="container" style="max-width: 640px;">
        <p>&nbsp;</p>
        <div class="card">
            <div class="card-block">
                <form class="sidebar-box colored {% if error.messageKey is defined and error.messageKey == 'Account has expired.' %}collapse {% endif %}fv-form fv-form-bootstrap" action="{{ path("login_check") }}" method="post" name="login">
                    <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('oauth2_form_login') }}">
                    <div>
                        <div class="form-group">
                            <label for="_username" class="control-label required">Mail</label>
                            <input type="email" class="form-control" required="required" name="_username" id="login_username" data-fv-field="_username" placeholder="example@example.com" data-fv-message="{{ 'ui.form.missing_value'|trans({}, 'messages') }}">
                        </div>
                        <div class="form-group">
                            <label for="_password" class="control-label required">Password</label>
                            <input type="password" class="form-control" required="required" name="_password" id="login_password" data-fv-field="_password" data-fv-message="{{ 'ui.form.missing_value'|trans({}, 'messages') }}">
                        </div>
                    </div>
                    {% if error is defined and null != error %}
                        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                    {% endif %}
                    <button type="submit" class="btn btn-primary"> Anmelden </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
