<select id="slot-duration-select" ng-model="slotDuration" class="fc-select fc-button fc-state-default fc-corner-left fc-corner-right" ng-show="calendarView != 'month'">
  <option value="00:05">5 min</option>
  <option value="00:10">10 min</option>
  <option value="00:15">15 min</option>
  <option value="00:20">20 min</option>
  <option value="00:25">25 min</option>
  <option value="00:30">30 min</option>
</select>
