/*
    *
    * ÜBERNEHMEN!!!
    *
*/
.at_btn                        {  display: block;
                                  color: #fff!important;
                                  border: 2px solid #fff;
                                  border-radius: 5px;
                                  background-clip: padding-box;
                                  background-color: #fff;
                                  box-shadow: 0 0 5px rgba(0,0,0,.45);
                                  background-color: #599317;
                                  background-image: -moz-linear-gradient(bottom, #599317 0%, #7bc727 100%);
                                  background-image: -o-linear-gradient(bottom, #599317 0%, #7bc727 100%);
                                  background-image: -webkit-linear-gradient(bottom, #599317 0%, #7bc727 100%);
                                  background-image: linear-gradient(bottom, #599317 0%, #7bc727 100%);
                                  text-decoration: none !important;
                               }
.at_btn:hover                  {  background-color: #457411;
                                  background-image: -moz-linear-gradient(bottom, #457411 0%, #7bc727 100%);
                                  background-image: -o-linear-gradient(bottom, #457411 0%, #7bc727 100%);
                                  background-image: -webkit-linear-gradient(bottom, #457411 0%, #7bc727 100%);
                                  background-image: linear-gradient(bottom, #457411 0%, #7bc727 100%);
                               }
/* ################################################################### */
body                           {  font: 13px/1.231 arial,helvetica,clean,sans-serif;
                                  *font-size: small;
                                  *font: x-small;
                               }
select,
input,
button,
textarea                       {  font: 99% arial,helvetica,clean,sans-serif }
table                          {  font-size: inherit;
                                  font: 100%;
                               }
pre,
code,
kbd,
samp,
tt                             {  font-family: monospace;
                                  *font-size: 108%;
                                  line-height: 100%;
                               }
html,
body                           {  background-color: #ffffff }
#topContainer,
#footer                        {  background-color: #ffffff }
#footerPart2                   {  background: none }
/* ################################################################### */
.hero                          {  clear: both;
                                  -webkit-box-shadow: 0 0 20px #cbcbcb;
                                  box-shadow: 0 0 20px #cbcbcb;
                                  min-width: 960px;
                               }
.hero div                      {  width: 580px;
                                  margin: 125px auto 0;
                                  position: relative;
                                  z-index: 1;
                               }
.hero .slides div img          {  margin: 0 auto;
                                  display: block;
                                  width: 88px;
                                  height: 88px;
                                  position: static;
                                  margin-top: 10px;
                                  bottom: 0;
                               }
.hero div h2,
.hero div p                    {  text-align: center;
                                  margin: 0;
                                  text-shadow: 0 0 5px #111;
                               }
.hero div h2                   {  font-size: 48px;
                                  font-weight: bold;
                                  margin-bottom: 14px;
                                  color: #fff;
                               }
.hero div p                    {  font-size: 18px;
                                  font-weight: bold;
                                  line-height: 30px;
                                  color: #ededed;
                               }
.modules                       {  position: relative;
                                  display: block;
                                  padding-top: 25px;
                                  height: 180px;
                                  width: 100%;
                                  overflow: hidden;
                                  background: url("../img/texture.jpg") repeat;

                                  z-index: 0;
                               }
.modules:before                {  content: "";
                                  position: absolute;
                                  margin-top: -35px;
                                  height: 2px;
                                  display: block;
                                  box-shadow: 0px 3px 15px #f00;
                               }
.modules .center-fix           {  display: block;
                                  overflow: hidden;
                               }
.modules .module               {  position: relative;
                                  display: block;
                                  padding: 8px 20px 0;
                                  width: 268px;
                                  height: 142px;
                                  float: left;
                                  background: #fff;
                                  border: 1px solid #eaeaea;
                                  box-shadow: 0px 5px 15px #aaa;
                               }
.modules .module:after         {  content: '';
                                  box-shadow: 0 0 20px #cbcbcb;
                                  -webkit-box-shadow: 0 0 20px #666;
                                  width: 100%;
                                  height: 65%;
                                  position: absolute;
                                  z-index: -1;
                                  top: 25%;
                                  left: 0;
                               }
.modules .module:hover         {  box-shadow: 0px 5px 15px #5195a6 }
.modules .module+.module       {  margin-left: 10px }
.modules .module h3            {  text-align: center;
                                  color: #5195a6;
                                  font-size: 24px;
                               }
.modules .module h3 img        {  margin-right: 8px;
                                  margin-top: -8px;
                               }
.modules .module p             {  text-align: center;
                                  font-size: 14px;
                               }
.center-fix                    {  width: 960px;
                                  margin: 0 auto;
                               }
.half                          {  width: 46%;
                                  margin-left: 2%;
                                  margin-right: 2%;
                                  float: left;
                               }
.half.picture img              {  display: block;
                                  margin: 0 auto;
                               }
.middle-hero                   {  height: 440px;
                                  width: 100%;
                                  float: left;
                                  background: url("../img/middle-hero.jpg") center center no-repeat;
                                  -webkit-box-shadow: 0 0 20px #cbcbcb;
                                  box-shadow: 0 0 20px #cbcbcb;
                                  position: relative;
                                  z-index: 1;
                               }
/*.middle-hero .healthImage {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    float: left;
}*/
.middle-hero .half             {  float: right;
                                  margin-top: 90px;
                                  width: 50%;
                                  padding-top: 25px;
                                  border-top: 1px solid #999;
                               }
.middle-hero .half div         {  padding-bottom: 25px;
                                  border-bottom: 1px solid #999;
                               }
.middle-hero .half div h2      {  font-size: 24px;
                                  text-align: center;
                                  font-weight: normal;
                                  line-height: 27px;
                               }
.middle-hero .half div p       {  font-size: 14px;
                                  text-align: center;
                                  line-height: 22px;
                               }
.middle-hero .half .btn        {  margin-left: 120px;
                                  margin-top: 40px;
                               }
.middle-hero .arrow            {  display: block;
                                  width: 97px;
                                  height: 97px;
                                  position: relative;
                                  top: 470px;
                               }
.main-content                  {  width: 100%;
                                  /*background: #e1e5e7;*/
                                  clear: both;
                                  padding-top: 30px;
                                  border-top: 2px solid #d8d8d8;
                               }
.main-content .info            {  overflow: hidden;
                                  padding: 50px 0 60px;
                               }
.main-content .info + .info    {  background: url("../img/horz_divider.png") no-repeat center top }
.main-content .info .half h3   {  font-size: 24px;
                                  line-height: 25px;
                                  text-align: center;
                                  font-weight: normal;
                                  width: 70%;
                                  margin: 0 auto;
                                  margin-bottom: 20px;
                               }
.main-content .info .half p    {  font-size: 14px;
                                  line-height: 22px;
                                  text-align: center;
                                  width: 70%;
                                  margin: 0 auto;
                               }
.main-content .info .half .btn {  margin: 20px 140px }
.page-footer .hot-line         {  float: right }
/* BUTTONS */
.infoBtn                       {  position: relative;
                                  margin: 15px auto;
                                  width: 250px;
                                  height: 32px;
                                  text-align: center;
                                  font-size: 18px;
                                  line-height: 32px;
                               }
.btn_scrollup                  {  position: fixed;
                                  bottom: 20%;
                                  right: 0%;
                                  display: none;
                                  margin-right: 50px;
                                  width: 32px;
                                  height: 32px;
                                  background: url("../img/icon_btn-top.png");
                                  z-index: 400;
                                  cursor: pointer;
                               }
/* FlexSlider Necessary Styles
*********************************/
.flexslider                    {  position: relative;
                                  margin: 0;
                                  padding: 0;
                                  min-height: 440px;
                                  overflow: hidden;
                               }
.flexslider .slides > li       {  display: none;
                                  -webkit-backface-visibility: hidden;
                               } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img        {  width: 100%;
                                  display: block;
                                  position: absolute;
                                  top: 0;
                               }
.flex-pauseplay span           {  text-transform: capitalize }
/* SLIDER-NAVIGATION */
.flex-direction-nav            {  display: none }
.flex-control-paging           {  list-style: disc;
                                  font-size: 45px;
                                  position: absolute;
                                  bottom: 25px;
                                  z-index: 500;
                               }
/* Clearfix for the .slides element */
.slides:after                  {  content: ".";
                                  display: block;
                                  clear: both;
                                  visibility: hidden;
                                  line-height: 0;
                                  height: 0;
                               }
html[xmlns] .slides            {  display: block }
* html .slides                 {  height: 1% }
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
* include js that eliminates this class on page load */
.no-js .slides > li:first-child
                               {  display: block }