html, body { height: 100%; }

body {
	font: 12px Arial, Helvetica;
	margin: 0 0 0 0;
	background-color: #fff;
	color: #555;
}
/*--------------------*/
.clear-box {
	display: block;
	height: 100%;
	overflow: hidden;
}
.left	{ float: left; }
.right	{ float: right; }
.clear	{ clear: both; }

a,
.at_grbl { color: #5294a3!important; text-decoration: none; }
a:hover { text-decoration: underline; }

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}
.btn {
	position: relative;
	display: block;
	color: #fff!important;
	border: 2px solid #fff;
	border-radius: 5px;
	background-clip: padding-box;
	box-shadow: 0 0 5px rgba(0,0,0,.45);
	background-color: #599317;
	background-image: -moz-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: -o-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: -webkit-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: linear-gradient(bottom, #599317 0%, #7bc727 100%);
}
.btn:focus,
.btn:hover {
	background-color: #457411;
	background-image: -moz-linear-gradient(bottom, #457411 0%, #7bc727 100%);
	background-image: -o-linear-gradient(bottom, #457411 0%, #7bc727 100%);
	background-image: -webkit-linear-gradient(bottom, #457411 0%, #7bc727 100%);
	background-image: linear-gradient(bottom, #457411 0%, #7bc727 100%);
}
.middle {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
}
.middle-responsiv {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	min-width: 320px;
	max-width: 1020px;
}
img.responsiv {
	max-width: 100%;
	height: auto;
}
/* --------------------------
* SITE ELEMENTS
* --------------------------
*/
#header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px 5%;
	width: 90%;
	background-color: #fff;
	height: 60px;
	z-index: 200;
	-moz-box-shadow: 0 4px 8px #aaa;
	-webkit-box-shadow: 0 4px 8px #aaa;
	box-shadow: 0 4px 8px #aaa;
}
	.header-hotline { text-align: center; }
		.header-hotline .description {
			margin: 0;
			padding: 0;
			font-size: 11px;
			color: #bbb;
			text-align: center;
		}
		.header-hotline p.phone_nbr {
			margin: 10px 0;
			padding: 0;
			font-size: 26px;
			line-height: 30px;
		}
	.ekomi-logo { position: relative; text-align: right; }
		.ekomi-logo a { text-decoration: none!important; }
		.ekomi-logo p {
			font-size: 11px;
			position: absolute;
			top: -12px;
			right: 92px;
			color: #bbb;
		}
/*
	*
	* EMOTIONDECK
	*
*/
#emotiondeck {
	position: relative;
	display: block;
	margin: 80px auto 15px auto;
	height: 425px;
}
#emotiondeck-benefits {
	position: relative;
	display: block;
	margin-top: -81px;
	height: 80px;
	background: rgba(0, 0, 0, 0.25);
	overflow: hidden;
}
#emotiondeck-benefits .pure-u-1-3  h4 {
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.6);
	font-weight:100!important;
	font-size: 20px;
}
#emotiondeck-benefits .pure-u-1-3  h4 span.icon_checkmark {
	display: inline-block;
	margin-right: 6px;
	content: " ";
	background: url("../img/icon_checkmark.png") center left no-repeat;
	width: 23px;
	height: 21px;
}
/* SEARCH */
#desktop-search,
#mobile-search {
	position: relative;
	margin: -25% auto 0 auto;
	padding: 5px 30px 15px 30px;
	width: 70%;
	max-width: 580px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 20px;
	box-shadow: 0px 0px 22px #666;
}
#mobile-search {
	margin: 25px auto;
}
.emotiondeck-search h3 {
	position: relative;
	display: block;
	margin: 0;
	padding: 12px 0;
	overflow: hidden;
	font-size: 30px;
	font-weight: 100;
}
.at_widget-input {
	padding: 2px 6px;
	width: 65%;
	max-width: 440px;
	height: 40px;
	line-height: 42px;
	float: left;
	font-size: 18px;
	border-radius: 3px 0 0 3px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #333;
}
.at_widget-submit {
	float: left;
	width: 30%;
	max-width: 190px;
	height: 38px;
	line-height: 38px;
	padding: 4px 6px;
	text-align: center;
	font-size: 25px;
	border-radius: 0 3px 3px 0;
	border: none;
	text-shadow: none;
	text-decoration: none!important;
	text-transform: uppercase;
}
/*
	*
	* STEPS
	*
*/
#steps { margin-bottom: 25px; }
#steps .pure-u-1-3 h3,
#steps .pure-u-1-3 p { padding-right: 5%; }
#steps #step_3 h3,
#steps #step_3 p { padding-right: 0; }
.step-image {
	display: block;
	margin: 0 auto;
	background: url("../img/steps_arrow.png") no-repeat;
	width: 64px;
	height: 64px;
	overflow: hidden;
}
	.step_2 { background-position: 0 -64px; }
	.step_3 { background-position: 0 -128px; }
.step_box h3, .step_box p { text-align: center; }
.step_box p { font-size: 16px;	line-height: 20px; }
.step_box h3 { font-size: 22px;	line-height: 26px; }
/*
	*
	* HOTLINE
	*
*/
#hotline-area {
	margin-bottom: 25px;
	padding: 12px 0;
	background: #fbfbfb;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
}
#hotline-area p {
	margin: 0;
	padding: 0 12px;
	text-align: center;
	font-size: 24px;
	line-height: 30px;

}
.icon_phone {
	vertical-align: bottom;
	padding-right: 8px;
}

/*
	*
	* NEIGHBORHOODS
	*
*/
#neighborhoods { margin-bottom: 25px; }
#neighborhoods .city_box {
	margin-right: 25px;
	padding: 8px 12px;
	background: #fbfbfb;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
}
#neighborhoods .city_col_1_3 { margin-right: 0; }
#neighborhoods ul,
#neighborhoods li { margin: 0; padding: 0; list-style: none; }
#neighborhoods  a {
	font-size: 18px;
	line-height: 28px;
	padding-left: 18px ;
	background: url("../img/icon_checkmark_green.png") no-repeat center left;
	background-size: 12px 12px;
}
/*
	*
	* FOOTER
	*
*/
#footer {
	position: relative;
	display: block;
	padding: 12px;
	margin-bottom: 85px;
	-moz-box-shadow: 0 -3px 5px #aaa;
	-webkit-box-shadow: 0 -3px 5px #aaa;
	box-shadow: 0 -3px 5px #aaa;
}
#meta_navigation {
	display: block;
	margin: 0;
	padding: 12px 0;
	list-style: none;
	height: 25px;
}
#meta_navigation a { float: left; font-size: 14px; line-height: 32px; margin-right: 15px; }
#meta_navigation .sm_btn span { display: none; }
#meta_navigation .sm_btn a { display: block; width: 32px; height: 32px; float: left; }
#meta_navigation .fb a { background: url("../img/icon_fb.png") no-repeat; }
#meta_navigation .gp a { background: url("../img/icon_gp.png") no-repeat; }
/*
	*
	* GOOGLE PLACES LIST
	*
*/
.pac-item {
	font-size: 16px;
}
.pac-container {
	background-color: rgba(255, 255, 255, 0.85);
	border: 0px;
	line-height: 19px;
}
/* --------------------------
* RESPONSIV ELEMENTS
* --------------------------
*/
@media (max-width: 885px) {
	.ekomi-logo #ekomi-stars { display: none; }
	.ekomi-logo p { display: none; }
	
	.site-logo  	{ width: 225px !important; }
	.header-hotline { width: 220px !important;  }
	.header-hotline img { display: none!important; }
	.ekomi-logo 	{ width: 70px !important; float: right; }
	
	#emotiondeck { height: auto; }
	#desktop-search { display: none!important; }
	#mobile-search { display: block!important; }
}
@media (max-width: 740px) {
	#mobile-search .at_widget-input,
	#mobile-search  .at_widget-submit {
		width: 95% !important;
		max-width: none;
		border-radius: 0;
	}
}
@media (max-width: 660px) {
	#steps { display: none; }
	#neighborhoods  a { font-size: 15px; line-height: 24px; }
	#ekomi-stars { display: none; }
	.ekomi-logo { display: none; }
	#emotiondeck-benefits { height: 60px; margin-top: -61px; }
	#emotiondeck-benefits .pure-u-1-3  h4 { font-size: 14px; margin: 12px 0; }
	
}
@media (max-width: 545px) {
	#header { padding: 10px 0; width: 100%;	}
	.site-logo { margin-left: 15px; }
	#emotiondeck-benefits { display: none; }
	#mobile-search h3 { font-size: 18px; }
	#neighborhoods .pure-u-1-3 {
		display: block;
		float: none;
		width: 100%;
		margin: 12px 0px;
		text-align: center;
	}
	#neighborhoods .city_box{ margin-right: 0; }
	#neighborhoods a { font-size: 18px; line-height: 28px; }
}
@media (max-width: 460px) {
	.site-logo  { margin-left: 25%; }
	.header-hotline { display: none; }
	#hotline-area { display: block!important; }
	#meta_navigation .fb a { margin-right: 8px;	}
}