#admin-navigation
  background-color: $admin-navigation-background
  color: #ffffff
  text-align: right
  font-size: 12px
  position: relative
  width: 100%
  line-height: 26px

  a
    color: #ffffff
    text-decoration: none
    text-transform: uppercase
    padding: 0 2em

table.widefat img
  max-width:  none
