<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD491jqt_2KHhjz2CHMoWXfkX3TKbhSVdw"></script>

<script type="text/javascript" src="/static/js/search.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/vendor/infobox.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/vendor/marker.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/map.js" charset="utf-8"></script>

<script>
    var mapMarkerApiUrl = "{$marker_url}";

</script>
