<h4 th:text="|Hallo ${customerName},|"></h4>
um Ihr Passwort zurückzusetzen klicken Sie bitte auf folgenden Link<br />
<br />
<a th:href="${resetLink}" target="_blank" title="Jetzt neues Passwort wählen">Passwort zurücksetzen</a>
<br /><br />
Arzttermine.de<br />
Rosenthaler Straße 51<br />
10178 Berlin<br />
Kostenfreie Rufnummer: 0800/2222 133<br />
