.alert-wrapper {
  @include clearfix;
}

.alert {
  padding:       15px;
  margin-top:    20px;
  margin-bottom: 20px;
  border:        1px solid transparent;
  border-radius: 4px;
  h4 {
    margin-top: 0;
    color:      inherit;
  }
  .alert-link {
    font-weight: 700
  }
  & > p,
  & > ul {
    margin-bottom: 0
  }
  & > p + p {
    margin-top: 5px;
  }
}

.alert-dismissable {
  padding-right: 35px;
  .close {
    position: relative;
    top:      -2px;
    right:    -21px;
    color:    inherit;
  }
}

.alert-notice {
  background-color: #dff0d8;
  border-color:     #d6e9c6;
  color:            #3c763d;
  hr {
  }
  .alert-link {
    color: #2b542c
  }
}

.alert-info {
  background-color: #d9edf7;
  border-color:     #bce8f1;
  color:            #31708f;
  hr {
    border-top-color: #a6e1ec;
  }
  .alert-link {
    color: #245269
  }
}

.alert-warning {
  background-color: #fcf8e3;
  border-color:     #faebcc;
  color:            #8a6d3b;
  hr {
    border-top-color: #f7e1b5
  }
  .alert-link {
    color: #66512c;
  }
}

.alert-error {
  background-color: #f2dede;
  border-color:     #ebccd1;
  color:            #a94442;
  hr {
    border-top-color: #e4b9c0;
  }
  .alert-link {
    color: #843534;
  }
}