@import "modules/all";

@font-face {
  font-family: 'at-assets';
  src: url(/static/fonts/at-assets/at-assets.eot);
  src: 
       url(/static/fonts/at-assets/at-assets.eot?#iefix) format('embedded-opentype'),
       url(/static/fonts/at-assets/at-assets.ttf)  format('truetype'),
       url(/static/fonts/at-assets/at-assets.woff) format('woff'), 
       url(/static/fonts/at-assets/at-assets.svg#at-assets) format('svg')
       ;
}

/* DEFAULT GENERAL CSS CLASSES */

@mixin at-container {
  @include container;
  @include clearfix;
  overflow: visible;
}

.container {
  @include at-container;
}

.centered-text {
  text-align: center;
}

.round-image {
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
  }    
}

.logo {
  position: relative;
  font-family: at-assets;
  @include rem-fallback(font-size, 5);

  & > a > span {
    position: absolute;
    left: 0;
    top: 4px;
    &.logo-part-blue { color: $color-at-blue; }
    &.logo-part-white { color: $color-at-white; }
    &.logo-part-black { color: $color-at-grey-darker; }
    &.logo-part-grey { color: $color-at-grey-dark; }
  }
}
footer .logo {
  @include rem-fallback(font-size, 3);
  & > a > span { top: 8px; }
}

a[href^=tel],
.phone {
  white-space: nowrap;
  
  &:before {
    font-family: at-assets;
    content: $flaticon-phone;
    font-size: 80%;
  }
}

a[role=button] {
  cursor: pointer;
}

.button-wrapper {
  text-align: right;
  margin-top: 1rem;
}

.justified-blocks {
  // http://stackoverflow.com/a/11619432
  text-align: justify;

  & > * {
    display: inline-block;
    position: relative;
    top: 1.2em;
  }

  &:before{
    content: '';
    display: block;
    width: 100%;
    margin-bottom: -1.2em;
  }

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

ul.inlined,
ol.inlined {
  @include clearfix;

 li {
      @include inline-block;
 }

}

.non-pay {
  clear: both;
  color: $color-at-grey;
  font-style: italic;
  @include font14;
  @include rem-fallback(margin-top, 1);
}

/* END - DEFAULT GENERAL CSS CLASSES */
