.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.mobile_row_height{
  height: 120px;
}
.calendar {
  position: relative;
  overflow: hidden;
  margin-top: 15px;

  .wrapper {
    width: 1000em;
    height: 100%;
    @include rem-fallback(padding-left, 1.1);
  }

  .col-date {
    float: left;
    @include rem-fallback(width, 4);
    height: 100%;
    @include rem-fallback(margin-right, 0.15);

    &.week-start {
      // @include rem-fallback(margin-left, 0.3);
    }

    .col-header {
      @include clearfix;
      @include font12;
      text-align: center;
      margin: 0;
      @include rem-fallback(padding, 0.167, 0);
      background: $color-at-grey-light;
    }
  }

  .date {
    font-weight: 700;
    @extend %ellipsis;
  }

  .day {
    text-transform: uppercase;
    @include rem-fallback(margin-right, 0.167);
    @extend %ellipsis;
  }

  .arrow {
    &:before {
      font-family: at-assets;
    }

    @include rem-fallback(width, 1);

    background: $color-at-grey-light;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    font-weight: 900;
    @include font16;
    text-align: center;
    color: $color-at-blue;
    cursor: pointer;
    @include trans(opacity 0.4s linear);

    &.disabled {
      color: $color-at-grey;
      cursor: default;
    }

    &:after {
      content: " ";
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      @include rem-fallback(width, 2);
    }

    &.left {
      &:before {
        content: $flaticon-left-arrow;
      }

      left: 0;

      &:after {
        left: 0;
        margin-left: 100%;

        @include at-gradient(
                        right,
                        rgba(255, 255, 255, 0) 20%,
                        rgba(255, 255, 255, 0.1) 50%,
                        rgba(255, 255, 255, 0.9)
        );
      }

      &.disabled:after { display: none; }

    }

    &.right {
      &:before {
        content: $flaticon-right-arrow;
      }

      &:after {
        right: 0;
        margin-right: 100%;

        @include at-gradient(
                        left,
                        rgba(255, 255, 255, 0) 20%,
                        rgba(255, 255, 255, 0.1) 50%,
                        rgba(255, 255, 255, 0.9)
        );
      }
      right: 0;
    }
  }

  &.exception {
    $exception-calendar-height: 10;
    $exception-message-height: 3;

    .col-date {
      @include rem-fallback(height, $exception-calendar-height);
      background: $color-at-grey-light;
    }

    &.type-custom-message,
    &.type-no-selected-insurance,
    &.type-integration_8,
    &.type-no-available-appointments {
      .arrow {
        pointer-events: none;
        color: $color-at-grey;
        &:after {
          background: $color-at-white;
          width: 2px;
          left: -1px;
        }
      }
    }

    .action {
      position: absolute;
      background: $color-at-white;

      @include rem-fallback(left, 3);
      @include rem-fallback(right, 3);
      @include rem-fallback(top, $exception-calendar-height/2);
      @include rem-fallback(margin-top, -$exception-message-height/2);
      @include rem-fallback(height, $exception-message-height);
      @include rem-fallback(line-height, $exception-message-height);

      .message {
        text-align: center;
        margin: auto;
      }
    }

    &.type-no-available-appointments {
      .action { font-weight: 700; }
    }

    &.type-custom-message {
      .action { @include rem-fallback(line-height, $exception-message-height/2); }
      .phone { font-weight: 700; }
    }

    &.type-next-available-appointment,
    &.type-no-selected-insurance,
    &.type-integration_8 {
      .message > a {
        @include flat-button($color-at-blue);
        border-radius: 2px;
        @include rem-fallback(line-height, 1.5);
      }
    }

    &.type-next-available-appointment {
      .message > a { @include rem-fallback(margin-left, 1); }

      &.hide-action .action {
        @include opacity(0);
        @include transition(opacity 1s linear);
      }
    }

    &.type-next-available-appointment,
    &.type-integration_8 {
      .message {
        & > a {
          @include rem-fallback(margin-right, 1);
          @include rem-fallback(margin-top, 0.5);
          float: left;
        }
      }

      &.small,
      &.medium {
        .message {
          a {
            margin-top: 0;
            @include rem-fallback(margin-left, 0.5);
          }
          div {
            @include rem-fallback(line-height, 1);
            @include rem-fallback(margin-top, 0.5);
            @include font14;
          }
        }
      }

      &.small {
        .action {
          @include rem-fallback(height, 5);
          @include rem-fallback(margin-top, -3.5);
          .message {
            a {
              @include font14;
              float: none;
            }
            div {
              @include font12;
              margin-top: 0;
            }
          }
        }
      }
    }

    &.type-next-available-appointment .message > a {
      float: right;
    }


    &.type-no-selected-insurance {
      @include rem-fallback(height, 10);
      .action {
        @include rem-fallback(margin-top, -$exception-message-height);
        @include rem-fallback(height, $exception-message-height*2);
        @include rem-fallback(line-height, $exception-message-height - 0.2);
      }
      .message > a {
        @include rem-fallback(line-height, 1);
        @include rem-fallback(margin, 0, 1);
      }
    }

    // Integration 9 appointment display
    &.type-integration_9 {

      %semi-transparent {
        @include opacity(.25);
        @include trans(opacity 0.2s linear);
      }

      .action {
        @include opacity(1);
        @include trans(opacity 0.2s linear);
        pointer-events: none; // NOTE: Does not work in IE < 9
      }

      .wrapper {
        .col-date{
          @extend %semi-transparent;
        }
      }

      .arrow {
        @extend %semi-transparent;
      }

      &:hover {
        .action {
          @include opacity(0);
        }

        .wrapper .col-date,
        .arrow {
          @include opacity(1);
        }
      }
    }
  }
}

.appointment {
  background-color: $color-at-blue;
  @include flat-button($color-at-blue, 0.2);
  color: darken(white, 5%);
  border-radius: 2px;
  @include rem-fallback(margin, 0.3, 0);
  display: block;
  font-size: 12px;
}

.appointments {
  display: none;
  position: absolute;
  background: white;
  @include rem-fallback(width, 4);
  padding: 5px;
  left: -5px;
  border: 1px solid $color-at-blue;
  border-radius: 2px;
  top: 0;
  z-index: 999999;
  @include box-shadow(1px 1px 5px 1px rgba(0, 0, 0, 0.3));
}

/* 1em only to put these rules in a media query and avoid old browsers to remove the floats */
@include at-breakpoint(1em) {
  .calendar.exception.type-next-available-appointment {
    .action .message {
      @include display-flex;
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include justify-content(space-around);
      @include align-items(center);
      height: 100%;

      a {
        float: none;
        @include order(2);
        @include flex(0 0 auto);
      }

      div {
        float: none;
        @include order(1);
        @include flex(0 0 auto);
      }
    }

    &.small {
      .action .message {
        @include flex-direction(column);

        div {
          @include font14;
          font-weight: bold;
        }
      }
    }
  }
}


@include at-breakpoint($mobile-tablet-2) {
  .calendar {
    width: 100%;

    .arrow {
      @include rem-fallback(width, 2);
      @include rem-fallback(font-size, 1.5);
    }
    & > .wrapper {
      @include rem-fallback(padding-left, 2.1);
    }
  }
}

@include at-breakpoint($mobile) {
  .calendar {
    .col-date {
      @include rem-fallback(width, 3);
      .col-header {
        @include rem-fallback(font-size, 0.7);
      }
    }
    .day {
      margin-right: 0;
    }
  }
  .appointment {
    @include rem-fallback(padding, 0.2, 0);
  }
}
