body .arzttermine.chosen-container {
  @include rem-fallback(margin-top, 0.5);
  
  & > .chosen-single {
    background: $color-at-white;
    border-radius: 0;
    // 2.5rem is the default height of our form input elements
    @include rem-fallback(height, 2.5);

    & > span { @include rem-fallback(line-height, 2.5); }
    & > div > b { 
      @include rem-fallback(margin-left, 0.2);
      @include rem-fallback(background-position-y, 0.75); 
    }
  }

  & > .chosen-drop {
    border-radius: 0;
  }

  &.chosen-container-active.error > .chosen-single {
    border-color: #aaa; // taken from the plugin's css
  }

  &.error .chosen-single { 
    border-color: red;
  }
}