
.result {
  position: relative;
  @include rem-fallback(padding-bottom, .5);
  width: 100%; 
  *width: 99%; 

  // Disable the ugly iPad highlight on tap
  -webkit-tap-highlight-color: rgba(0,0,0,0); 

  .title {
    @include rem-fallback(padding-top, 0.5);
  }
  .name {
    border: 0;
    display: inline;
    margin: 0;
    padding: 0;
    @include font16;
    font-weight: 700;

    a {
      color: $color-at-blue;
      text-decoration: none;
    }
  }

  *[itemprop=telephone] {
    @include font16;
    font-weight: 900;
    height: 16px;
    float: right;

    a { color: $color-at-grey-darker; }
  }

  & > .wrapper {
    @include rem-fallback(margin-bottom, .3);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .map-pin {
    &:before {
      content: $flaticon-map-pin;
      color: $color-at-orange;
      font-family: at-assets;
      position: absolute;
      @include rem-fallback(font-size, 2);
      @include rem-fallback(top, .8);
      left: 0;
      z-index: -1;
    }
    @include rem-fallback(width, 1.3);
    @include rem-fallback(padding-top, 0.1);
    @include rem-fallback(margin-top, 0.5);
    @include rem-fallback(font-size, 0.7);
    @include rem-fallback(height, 2);
    @include font-gudea;
    margin-right: 8px;
    float: left;
    color: $color-at-white;
    text-align: center;
  }

  .map-popup-wrapper {
    display: none;
  }

  .name, *[itemprop=telephone], .rating {
    line-height: 1rem;
  }


  .rating {
    display: inline-block;
  }        

  .photo, 
  .calendar {
    height: 200px;
  }
  .photo {
    float: left;
    width: 150px;
    img {
        width: 100px;
    }
  }
  
  .calendar {
    margin-top: 0px;
    margin-right: 0px;
    height: 121px;
    .arrow {
      line-height: 121px;
    }
  }


  .address {
    font-size: 12px;
    height: 16px;
    color: $color-at-grey-dark;

    span[itemprop=streetAddress]:after {
      content: ",";
    }
  }
  
  header {
    margin: 0;
    @include rem-fallback(margin-bottom, 1);
    position: relative;

    .right {
      position: absolute;
      top: 8px;
      right: 0px;
    }

  }
  .photo {
    padding-right: 10px;
    width: 100px;
    height: 120px;
    overflow: hidden;
  }

} // end result

.search .map-popup {
  background: $color-at-white;
  @include rem-fallback(padding, 0.5);
  width: 180px;  
  @include font-gudea;

  .photo {
    float: left;
    @include rem-fallback(margin-right, 0.5);
    width: 50px;
    height: auto;
    img { width: 100%; }
  }
  .name {
    @include font14;
    a {
      @include font12;
      @include rem-fallback(line-height, 1);
      font-weight: 400;
    }
  }
  .street {
    @include font10;
  }
  .cityzip {
    @include font10;
  }
  .actions {
    text-align: right;
    a[role=button] {
      padding: 0.2em 0.5em;
      border-radius:2px;
      @include font12;
      @include flat-button($color-at-blue);
      @include rem-fallback(margin-top, 0.5);
    }
  }
}

#map-popup.center {
  .photo, a[role=button] {
    display: none;
  }
}

.marker {
  cursor: pointer;
  height: 35px;
  width: 33px;

  div {
    width: 100%;
    height: 100%;
    margin-left: 5px;
    position: absolute;

    &.active { display: none; }
    &.inactive { display: block; }
    &.active {
      @include background-image-retina("/static/images/assets/map-marker-active", "png", 33px, 35px);
    }
    &.inactive {
      @include background-image-retina("/static/images/assets/map-marker", "png", 33px, 35px);
    }
  }

  &.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
  }
  
  .search-index {
    position: absolute;
    display: block;
    text-align: center;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
  }
}

// Maps structure dictates this selector set
#search {
  .active {
    .marker {
      div.active { display: block; }
      div.inactive { display: none; }
    }
  }
}

