
footer {
  @extend .container;
  clear: both;
  @include rem-fallback(padding-top, 2);
  border-top: 1px solid $color-at-grey;
  padding: 0 .5rem 0 .5rem;
  max-width: 70em;
  & > .row {
    @include rem-fallback(margin-bottom, 2);
    @include rem-fallback(margin-top, 2);

    & > div {
      height: 100%;
    }

  }
  .fa{
    color: #FFFFFF;
  }

  #white {
    color: #FFFFFF;
  }
  .logo {
    @include span-columns(1);
    width: (216px/2);
    min-height: 40px;
  }
  #press {
    @include span-columns(5);
    background: #dfdfdf;
  }
  #socialshareprivacy {
    // This is too much really, but fitting it better requires changing the social share plugin.
    @include span-columns(6);
    @include omega;

    /*ul {
      margin-top: 0.45rem;

      li {
        @include rem-fallback(padding-left, 1);
      }
    }
*/
    // Social share plugin overrides
    .social_share_privacy_area {
      .facebook {
        width: 165px;
      }
      .twitter {
        width: 120px;
        .tweet { width: 60px; }
      }
      .gplus {
        width: 105px;
        .gplusone { width: 35px; }
      }
    }
    // END - Social share plugin overrides
  }

  nav {
    clear: both;
    & > div {
      @include span-columns(3);

      &:last-child {
        @include omega;
      }
    }

    h4 {
      @include rem-fallback(padding-bottom, 0.5);
      @include rem-fallback(margin-bottom, 0.5);
      @include rem-fallback(font-size, 1);
      font-weight: 700;
      text-transform: none;

      & + ul > li {
        @include font16;
      }
    }
  }


}
.footer1 {
  background-color: rgb(0, 144, 214);
  width: auto;
}
ul.footer1{
  color: #FFFFFF;

  li.section1{
    margin-top: .5rem;
  }

  li.section1:before{
    font-family: FontAwesome;
    content: "\f054";
  }
}

ul.footer-1{
  color: #292b2c;

  li.section-1{
    margin-top: .5rem;
  }

  li.section-1:before{
    font-family: FontAwesome;
    content: "\f00c";
  }
}

span.footer1{
  color: #FFFFFF;
}

a.footer1{
  color: #FFFFFF;
  font-weight: 100;
}
a.footer1:hover {
  color: rgb(0, 36, 54);
  text-decoration: underline;
}

a.btn-footer1{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: 100;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    min-width: 120px;
    text-align: center;
}
a.btn-footer1:hover, a.btn-footer1:active {
  color:#0090D6;
  background:#FFFFFF;
}

.footer2 {
  background-color: rgb(0, 36, 54);
  width: auto;
}
li.section2:before{
  content: "|";
  color: #CDCDCD;
  padding-right: .5rem;
}
li.section2{
  padding-left: .5rem;
  padding-right: .5rem;
}


a.footer2{
  color: #0090d6;
}
a.footer2:focus,a.footer2:hover {
  color: #FFFFFF;
  text-decoration: underline
}

b.footer2{
  color: #FFFFFF;
}

