.overlay-blocker {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  background: $color-at-white-transparent;
  z-index: 9999999;

  h1 {
    @include rem-fallback(margin-bottom, 1.5);
  }

  h2 {
    color: $color-at-grey-darker;
    @include rem-fallback(margin-bottom, 1.5);
    @include font-gudea;
    @include font24;
    font-weight: 700;
    margin: 0;
    padding: 0;
    border: 0;
  }

  $content-padding-left: 9;
  .content {
    @include rem-fallback(padding-left, $content-padding-left);
    @include rem-fallback(padding-right, 1);
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;

    position: absolute;
    top: 0;
    @include rem-fallback(right, 1);
    

    &:before {
      content: "\2A2F";
      @include rem-fallback(font-size, 2);
      // color: $color-at-blue;
    }

    &.close {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .popup-message {
    $width: 35;
    $height: 25;
    @include rem-fallback(width, $width);
    @include rem-fallback(margin-left, -$width/2);
    @include rem-fallback(height, $height);
    @include rem-fallback(margin-top, -$height/2);

    &.bp-1 {
      @include rem-fallback(height, 22);
      @include rem-fallback(margin-top, -22/2);
    }

    @include rem-fallback(padding, 1);
    background-color: $color-at-white;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 4px $color-at-grey;

    .popup-message-icon {
      float: left;
      width: 113px;
      height: 91px;
      @include rem-fallback(margin-left, -$content-padding-left + 0.5);
    }
    &.double-booking {
      .popup-message-icon { background: url(/static/images/assets/ico-booking-double.png); }
    }
    &.bp-1 {
      .popup-message-icon { background: url(/static/images/assets/ico-booking-warning.png); }
    }

    p {
      @include rem-fallback(margin, 0.5, 0);
      &:last-of-type { @include rem-fallback(margin-bottom, 2); }
    }

    a[href^=tel] {
      color: inherit;
      cursor: pointer;
    }
    a[href*=login] {
      display: inline-block;
      @include font16;
      @include flat-button($color-at-blue);
      @include rem-fallback(padding, 0.25, 3);
    }
    a[href*=registrierung] {
      @include font16;
      @include flat-button($color-at-white);
      color: $color-at-blue;
      box-shadow: none;
      @include rem-fallback(padding, 0.25, 3);
    }
  }
}
