.pagination {
  a {
    border-radius: 2px;
    @include rem-fallback(padding-left, 3);
    @include rem-fallback(padding-right, 3);

    @include flat-button($color-at-grey-light);
    border-color: $color-at-grey-half;
    color: $color-at-grey-dark;
    @include font14;
    text-decoration: none;
    display: block;
    float: left;

    &.prev {
      @include border-right-radius(0);
      
      & + .next {
        @include border-left-radius(0);
        border-left: 0;
      }
    }

    &:hover {
      box-shadow: inset 0 2px 5px 0px rgba(0,0,0,0.2);
      background: $color-at-grey;
      text-shadow: 0px 1px 0px $color-at-grey-light;
    }

    &.active {
      &:hover {
        box-shadow: inset 0 2px 5px 0px rgba(0,0,0,0.2);
        text-shadow: none;
      }
      box-shadow: inset 0px 1px 1px 0px rgba(100,100,100, 0.8);
      background: $color-at-grey-half;
      color: $color-at-grey-light;
    }



    &:before, &:after {
      font-family: at-assets;
      position: relative;
      display: none;
    }
    &.prev:before {
      content: $flaticon-left-arrow;
    }
    &.next:after {
      content: $flaticon-right-arrow;
    }
  }
}

@include at-breakpoint($mobile) { 
  .pagination a {
    @include rem-fallback(padding, 0.2, 0.5);

    .text {
      display: none;
    }

    &:before, &:after {
      display: block;
    } 
  }
}
