.rating {
  position: relative;
  @include rem-fallback(width, 4.7);
  @include rem-fallback(height, 1);
  display: inline-block;

  &:before,
  & > div:before {
    font-family: at-assets;
    content: $flaticon-star + $flaticon-star + $flaticon-star + $flaticon-star + $flaticon-star; 
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    color: $color-at-grey;
  }

  & > div {
    position: relative;
    height: 100%;
    overflow: hidden;
    
    &:before {
      color: $color-at-gold;
    }
  }
}
