// TODO: This needs complete rewriting!!! Almost entirely copied from the infamous main.css.

/* Referral TOOLTIP*/
div#referral-tooltip.workhub_tooltip { height: 60px; margin-top: -180px;}
#referral-tooltip {
  // TODO: find better solution for all z-indices.
  z-index: 999999;
  background-color: rgba(85, 83, 83, 0.95);
  @include rem-fallback(width, 15);
  height: 260px;
  position: fixed;
  right: 0;
  top: 70%;
  margin-top: -130px;
  border-radius: 5px 0 0 5px;    
  box-shadow: 0px 0px 12px #333;
  color: white;
  overflow: hidden;
}

#referral-tooltip-mobile{
    position: relative;
    bottom: 0;
    width: 100%;   /* Set the fixed height of the footer here */
    // TODO: find better solution for all z-indices.
    z-index: 999999;
    background-color: rgba(85, 83, 83, 0.95);
    height: 260px;
    right: 0;
    margin-top: -130px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 0px 12px #333;
    color: white;
    overflow: hidden;
}

#referral_tooltip-loadtime {   
    display: none;    
    border-radius: 5px 0 0 5px;    
    box-shadow: 0px 0px 12px #333;    
    z-index: 200;
    overflow: hidden;
}

#referral_tooltip-loadtime {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 240px;
    margin-left: -210px;
    border-radius: 2px;
    width: 420px;
    height: 125px;
    background-color: #fff;
    color: #666;
}
#referral_tooltip-loadtime img {
    display: block;
    margin: 8px auto;
}
#referral_tooltip-loadtime p {
    padding: 0px  15px;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}
.referral_coupon { background-color: #fff; }
.referral_coupon .price {
    padding: 0px 0 0 10px ;
    float: left;
    color: #333;
    font-size: 19px;
    line-height: 30px;
    font-weight: 700;
    color: #0090D6;
}
.referral_coupon img { padding: 4px 0 1px 8px; }
.referral_coupon .btn_close {
    position: absolute;
    display: block;
    top: 4px;
    right: 4px;
    padding: 2px 4px;
    font-size: 10px;
    line-height: 14px;
}
.referral_coupon .btn_close:hover { text-decoration: none; }
.referral_howto   { padding: 8px 12px; }
.referral_howto p { font-size: 14px; line-height: 16px; }
.referral_howto ol { margin: 1em; margin-left: 2em; }
.referral_howto ol, .referral_howto li { list-style-type:decimal; }
.referral_howto li  { font-size: 14px; line-height: 17px; margin: 0 0 4px 0; color: #fff; }
.referral_howto li span { font-size: 13px; line-height: 16px; color: #fff; }
.referral_howto li.done,
.referral_howto li.deactive { color: #ccc; font-size: 12px; line-height: 13px; -webkit-text-size-adjust: none; }
.referral_howto li.done { text-decoration: line-through; }
.referral_howto a {
    display: block;
    margin: 0 auto;
    padding: 4px 8px;
    color: #ccc;
    font-size: 11px;
    text-align: right;
    cursor: pointer;
}

/*styles of lightbox container*/
#lightboxWrapper {
    z-index: 300;
    position: relative;
}
#lightboxContainer {
    position: fixed;
    top: 0px;
    background:
        white;
    -moz-box-shadow: 0px 0px 3px 3px #ccc;
    -webkit-box-shadow: 0px 0px 3px 3px #ccc;
    box-shadow: 0px 0px 3px 3px #ccc;
    border-radius: 10px;
    overflow: auto;
    border: 20px
    white solid;
    padding-right: 15px;
    border-right: 5px solid
    white;
    overflow: scroll;
    margin: 31px 10px;
    height: 70%;
}
#lightboxContainer h1 {
    color: #262626;
    font-size: 15px;
    margin: 0.3em 0;
    font-weight: normal;
    line-height: 7px;
    font-family: tahoma, helvetica, arial;
}
#lightboxContainer #lightboxText {
    color: #666666;
    font-size: 12px;
    font-family: tahoma, helvetica, arial;
    height: 115%;
}
#lightboxContainer strong {
    font-weight: 700;
}
#lightboxContainer p,#lightboxContainer li {
    line-height: 1.5em;
    margin-bottom: 1em;
    display: block;
}
#lightboxClose {
    position: fixed;
    top: 20px;
    cursor: pointer;
    background: white;
    border-radius: 94%;
    height: 27px;
    width: 29px;
    text-align: center;
    color: grey;
    font-size: 20px;
    -moz-box-shadow: 0px 0px 3px 3px #ccc;
    -webkit-box-shadow: 0px 0px 3px 3px #ccc;
    box-shadow: 0px 0px 3px 3px #ccc;
    font-weight: 700;
    z-index: 123;
    right: 10px;
    padding-top: 2px;
}
#lightboxShade {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    opacity: .8;
}
#lightboxClose {
    font-family: tahoma, helvetica, arial;
    margin-left: 743px;
}
