.review {
  > * { @include rem-fallback(padding, $gutter-width/2); }

  h4 {
    @extend %font16;
    color: $color-at-grey-dark;
    background: $color-at-grey-light;
    border-top: 1px solid $color-at-grey;
    text-transform: none;
  }

  .name {
    font-weight: 700;
  }

  li {
    @extend %font14;
    font-weight: 700;
    margin-right: 30px;

    .rating {
      margin-left: 10px;
    }
  }

  .rating {
    @include rem-fallback(width, 4.4);
  }

  &:last-child {
    @include rem-fallback(margin-bottom, 1);
  }
}
