.search-box {
  @include box-sizing(border-box);
  @include rem-fallback(padding, 1);
  @include rem-fallback(padding-top, .5);


  background: rgba(255, 255, 255, 0.7);

  @include border-radius(2px);

  & > div {
    //display: inline-block;

    &.radio-input {
      text-align: left;
      vertical-align: middle;
      @include rem-fallback(margin-right, 0.5);
    }

    &.text-input {
      width: 100%;

      & > div {
        position: relative;
        display: inline-block;
      }
      label {
        position: absolute;
        color: $color-at-grey-dark;
        left: 0;
        padding-left: 3px;
        @include rem-fallback(top, -1.25);
        text-transform: uppercase;
        @include font12;
      }
    }

  }


  select,
  input[type=text] {
    @include rem-fallback(margin-right, 1);
    @include rem-fallback(margin-bottom, .5);
    @include rem-fallback(line-height, 1);
    width: 100%;

    //height: 100%;
    @include font16;
    @include font-gudea;
    @include placeholder {
      color: $color-at-grey-dark;
    }
  }
  
  select.placeholder {
    color: $color-at-grey-dark;
  }

  input[type=radio] {
    & + label {
      color: #000000;
      @include rem-fallback(font-size, 0.8);
      letter-spacing: 1px;
    }

    &:checked + label {
      font-weight: 700;
    }
  }

  *[type=submit] {
    @include flat-button($color-at-orange, large);
    margin: .8rem 0 1rem 0;

  }
}

  .search-box {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include justify-content(space-between);
    @include align-items(center);
    
    & > .text-input {
      @include flex(2 2 auto);

      @include display-flex;
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include justify-content(space-between);
      @include align-items(center);
      
      & > div {
        @include flex(1 2 auto);
      }
    }

    *[type=submit] {
      @include flex(1 1 auto);    
    }
  }


@include at-breakpoint(12 56em) {
  .search-box {


    & > div.text-input {
      @include align-items(stretch);
      @include flex-direction(column);  
      height: auto !important;
      width: 100% !important;

      & > div {
        @include rem-fallback(height, 3);

        select, input[type=text] {
          width: 100%;
          height: 70%;
        }
      }
    }
  }
}

