#filters {
  background: $color-at-grey-light;
  border-radius: 5px;
  @include rem-fallback(margin-bottom, 1);
  @include rem-fallback(padding, 1);

  .filters-secondary {
    display: none;
  }

  .filter {
    @include rem-fallback(margin-bottom, 0.5);
    width: 100%;
    @include rem-fallback(max-width, 25);

    &.essential {
      @include rem-fallback(height, 3);
    }
  }

  label:first-child {
    display: block;
    color: $color-at-grey;
    @include font-gudea;
    font-weight: 700;
    @include font12;
    text-transform: uppercase;

  }

  select,
  input[type=text] {
    width: 100%;
    @include rem-fallback(height, 2);
    box-sizing: border-box;
  }

  input[type=text] {
    @include placeholder {
      color: transparent;
    }
  }


  input[type=checkbox],
  input[type=radio] {
    position: absolute;
    left: -9999px;

    &:checked + label {
      background: $color-at-white;
      @include box-shadow(inset 0px 0px 3px 1px rgba(0,0,0,0.4));

    }
    &:focus + label {
      @include box-shadow(inset 0px 0px 3px 1px rgba(0,0,0,0.4), 0px 0px 3px 0px rgb(0, 102, 255) );
    }
  }

  input[type=checkbox] + label,
  input[type=radio] + label,
  .show-more,
  .toggle-filters {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    cursor: pointer;
    background: none;
    
    @include font12;
    @include font-gudea;
    font-weight: 700;
    text-align: center;
    color: $color-at-grey-dark;
    @extend %ellipsis;
    
    @include rem-fallback(width, 5);
    @include rem-fallback(height, 2);
    @include rem-fallback(line-height, 2);

    border: 1px solid $color-at-grey;
    border-radius: 3px;

    &.s33 {
      width: 33%;
      margin-right: 0.33333333%;
    }
    &.s20 {
      width: 19.7%;
      margin-right: 0.3%;
    }
  }

  .show-more {
    display: none;
    
    &.visible {
      display: inline-block;

      & ~ input[type=checkbox],
      & ~ input[type=checkbox] + label,
      & ~ input[type=radio],
      & ~ input[type=radio] + label {
        display: none;
      }
    }
  }


  .toggler {
    @include clearfix;
    margin-top: 0;

    input[type=text], 
    select {
      display: none;
    }

    input[type=text] {
      @include placeholder {
        color: $color-at-grey;
      }
    }
  }

  .show-more,
  .toggle-filters {
    border: none;
    color: $color-at-blue;
  }


  .toggle-filters {
    text-transform: uppercase;
    width: auto;
    @include rem-fallback(padding, 0.2, 0.5);
    @include rem-fallback(margin-left, -0.5);

    &:focus { 
      outline: 0;
      @include box-shadow(none); 
    }

    .hide {
      display: none;
    }
  }

  .refresh-filters {
    @include flat-button($color-at-blue);
    float: left;
    margin-left: .1em;
    border-radius:2px;
    width: auto;
    padding: .1em .1em;
  }

  .toggler {
    @include rem-fallback(margin-top, 2);

    input[type=text],
    select {
      width: auto;
    }

    select {
      margin-left: 3px;
    }
  }
}