/*
	tooltips
*/

/*
  help: "?" with a on click handler
*/
label .help {
  padding-left: 0.6em;
}
.help-tooltip {
  display: none;
  @include font14;
  font-weight: 100;
  font-style: italic;
  padding: 0.6em 0;
}
