/* ***************
    GENERAL */
body {
	font-family: arial, sans-serif;
	font-weight: normal;
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
	*font-size: small;
	*font: x-small;
}

select,
input,
button,
textarea {
	font: 99% arial,helvetica,clean,sans-serif;
}

table {
	font-size: inherit;
	font: 100%;
}

pre,
code,
kbd,
samp,
tt {
	font-family: monospace;
	*font-size: 108%;
	line-height: 100%;
}

body ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.middle {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
}

.middle-responsiv {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	min-width: 340px;
	max-width: 980px;
}

.texture {
	background: url("../img/texture.jpg") repeat;
	box-shadow: inset 0 0 20px #cbcbcb;
}

.clearMe {
	display: block;
	height: 100%;
	overflow: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.bold,
strong,
b {
	font-weight: bold;
	font-variant: 600;
}

hr {
	border: 0;
}

a,
.at_grbl {
	color: #5294a3 !important;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
/* ***************
    SPECIAL */
html {
	height: 100%;
	width: 100%;
	background-color: #fff;
}

body {
	position: relative;
	margin: 0;
	padding: 60px 0 0px 0;
	background-color: #fff;
}

.at_btn {
	display: block;
	color: #fff!important;
	border: 2px solid #fff;
	border-radius: 5px;
	background-clip: padding-box;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.45);
	background-color: #599317;
	background-image: -moz-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: -o-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: -webkit-linear-gradient(bottom, #599317 0%, #7bc727 100%);
	background-image: linear-gradient(bottom, #599317 0%, #7bc727 100%);
	text-decoration: none !important;
}

.at_btn:hover {
	background-color: #457411;
	background-image: -moz-linear-gradient(bottom, #457411 0%, #7bc727 100%);
	background-image: -o-linear-gradient(bottom, #457411 0%, #7bc727 100%);
	background-image: -webkit-linear-gradient(bottom, #457411 0%, #7bc727 100%);
	background-image: linear-gradient(bottom, #457411 0%, #7bc727 100%);
}
/********** topContainer
*************************/
#topContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: #ffffff;
	z-index: 300;
}
/* TOP-SECTION */
#logo {
	position: relative;
	display: block;
	margin-top: 5px;
	width: 220px;
}

#hotline {
	position: absolute;
	display: block;
	top: 15px;
	right: 5px;
	z-index: 200;
}

#hotline p,
#hotline a {
	font-size: 15px;
	text-decoration: none !important;
}
/*********** FOOTER
******************/
#footer {
	position: relative;
	left: 0;
	width: 100%;
	padding-top: 29px;
	background-color: #efefef;
	-moz-box-shadow: 0 -3px 5px #bcbcbc;
	-webkit-box-shadow: 0 -3px 5px #BCBCBC;
	box-shadow: 0 -3px 5px #BCBCBC;
}

#footer .middle {
	line-height: 57px;
}

#meta_navigation {
	position: relative;
	display: block;
	width: auto;
	height: 48px;
}

#meta_navigation li {
	float: left;
	margin-right: 15px;
}

#meta_navigation li.last {
	margin: 0;
}

#meta_navigation li.meta_nav_adv {
	position: relative;
	cursor: pointer;
}

#footerPart2 #meta_nav_adv {;
}

#footerPart2 #meta_nav_adv li a {
	font-size: 14px;
	line-height: 22px;
}

#meta_navigation li span.ico {
	position: relative;
	display: block;
	margin-top: -2px;
	height: 28px;
	width: 28px;
	background-image: url("/static/img/ico_exp-coll.png");
	background-position: 0 -28px;
}

#meta_navigation li span.expand {
	background-position: 0 0;
}

#meta_navigation li span.text {
	margin-left: 34px;
	float: right;
}

#footerInformation {
	position: absolute;
	top: 3px;
	right: 0px;
}
/************
FOOTER II */
#footerPart2 {
	position: relative;
	display: block;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
}

#footerPart2 h4 {
	font-size: 13px;
	line-height: 16px;
}

#footerPart2 .footerAdvBox {
	display: block;
	margin: 0px 0 0 0;
}

#footerPart2 #city_col_1,
#footerPart2 #city_col_2 {
	float: right;
}

#meta_nav_adv {
	width: 150px;
	float: left;
}

#city_cols li,
#city_cols li a {
	font-size: 12px;
	line-height: 16px;
}

#city_cols {
	position: relative;
	display: block;
	padding-left: 15px;
	padding-bottom: 10px;
	width: 80%;
	float: right;
	overflow: hidden;
	border-left: 1px dashed #ddd;
}

#city_cols #city_col_1 {
	position: relative;
	display: block;
	float: left;
	width: 30%;
	overflow: hidden;
}

#city_cols #city_col_1 .city_col_1_1 {
	float: left;
	margin-right: 22px;
}

#city_cols #city_col_2 {
	position: relative;
	display: block;
	float: left;
	margin-left: 3%;
	width: 60%;
	overflow: hidden;
}

#footer,
#footer ul a,
#footer p {
	color: #58585a;
	font-size: 13px;
}

#footer a:hover,
#footer a:focus {
	color: #5294A3;
}

#metaInformation {
	margin: 12px 0 22px 0;
}

#metaInformation p {
	font-size: 11px;
	line-height: 13px;
	color: #aaa;
}
/* TOOLBAR TOP */
#toolBar {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 980px;
	margin-left: -490px;
	overflow: hidden;
	background-color: rgba(204, 204, 204, 0.82);
	z-index: 1110;
	text-align: right;
	border-radius: 0 0 5px 5px;
}

#toolBar a {
	display: inline-block;
	padding: 12px 8px 10px 0;
}
/* RESPONSE / HINTs */
#response {
	position: fixed;
	_position: absolute;
	width: 100%;
	padding: 12px;
	background-size: 40px 40px;
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)), color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
	box-shadow: inset 0 -1px 0 rgba(76, 76, 76, 0.4);
	-moz-box-shadow: inset 0 -1px 0 rgba(76, 76, 76, 0.4);
	-webkit-box-shadow: inset 0 -1px 0 rgba(76, 76, 76, 0.4);
	border: 1px solid;
	box-shadow: rgba(255, 255, 255, 0.4) 0px -1px 0px 0px inset;
	animation: animate-bg 5s linear infinite;
	-webkit-animation: animate-bg 5s linear infinite;
	-moz-animation: animate-bg 5s linear infinite;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 0px;
	z-index: 500;
}

#response img {
	margin-right: 5px;
}

#response.error {
	background-color: rgb(221, 67, 67);
	background-color: rgba(221, 67, 67, 0.93);
	border-color: #c43d3d;
	color: #fefefe;
}

#response.hint {
	border-color: #666;
	background-color: rgb(237, 148, 62);
	background-color: rgba(237, 148, 62, 0.95);
}

#response.success {
	background-color: rgb(97, 184, 49);
	background-color: rgba(97, 184, 49, 0.95);
	border-color: #55a12c;
	color: #fefefe;
}