{% set appointment = getAppointment(booking) %}

{{ getSalutationName(booking) }} has cancelled an appointment:

Doctor: {{ booking.getDoctor().getFullName() }}
Practice: {{ booking.getLocation.getName }}
Appointment time: {{ appointment.getStartTime|date_format }}
Booking ID: {{ booking.getId }}
