A new message has been received by doctorio.es

Name: {{ contact.getName }}
Subject: {{ contact.getSubject }}
Email: {{ contact.getEmail }}
Date: {{ contact.getCreatedAt.format('c')|localizeddate('short', 'short') }}

Message:
{{ contact.getMessage }}