A new doctor has registered:

Doctor name: {{ doctor.getFullName() }}
Email: {{ doctor.getEmail }}
Phone: {{ doctor.getPhone }}
Registration time: {{ created_at|date('Y-m-d H:i:s') }}

{{ path("admin_doctors", {'action':'edit','id':doctor.getId}) }}
