.benefit-list-with-icons

  li
    margin-bottom: 0.25rem

    +xs-up
      font-size: 1.25rem

    &:before
      content: ''
      display: inline-block
      background: image-url('/images/modules/benefit-list-with-icons/list-icons.png') no-repeat 0 0
        size: cover
      width:  (30rem / $font-size-root-value)
      height: (30rem / $font-size-root-value)
      vertical-align: middle
      margin-right: 0.5rem

    &:first-child:before
      background-position: 0 0.3rem

    &:nth-child(2):before
      background-position: 0 -2.3rem

    &:last-child:before
      background-position: 0 -4.8rem
