.bootstrap-datetimepicker-widget

  a[data-action]
    padding: 0

  &.dropdown-menu
    width: 10rem
    padding: 0.5rem 0

  td
    padding: 0

  table td span,
  table td
    height: 2rem
    line-height: 2rem
