.dashboard-table

  margin-top: 2rem

  +md-down
    font-size: 0.75rem

  +xs-down
    width: 47.9999em
    overflow: scroll

  thead th
    text-transform: uppercase
    white-space: nowrap
    &[data-sort]
      .fa-sort-asc,
      .fa-sort-desc
        display: none
      &.sorting-asc
        .fa-sort-asc
          display: inline
        .fa-sort,
        .fa-sort-desc
          display: none
      &.sorting-desc
        .fa-sort-desc
          display: inline
        .fa-sort,
        .fa-sort-asc
          display: none

  td,
  thead th
    border-bottom-style: solid
    border-bottom-width: 1px
    border-color: $medium-grey
    &:nth-child(2n-1)
      background: $almost-white

  td:first-child
    white-space: nowrap

  .comment
    background: white
    border: 1px solid $medium-grey
    padding: 0.5rem

    p:last-child
      margin-bottom: 0

  textarea
    margin-bottom: 1rem

  .comment-form
    clear: right

    .inner
      padding: 1rem 0

    .btn
      margin-left: 0.5rem
