// pages where Bootstrap 3 provides the CSS, but Bootstrap 4 the markup

.dropdown-mixed-bootstrap-3-and-4

  .dropdown-menu
    +box-shadow(none)

  .dropdown-divider
    height: 1px
    margin: .5rem 0
    background-color: $very-light-grey

  .dropdown-item
    display: block
    color: $very_dark_grey

    &:hover
      background: $almost-white
      text-decoration: none
