.dropdown

  .dropdown-menu
    padding-top: 0
    padding-bottom: 0
    border-radius: 0.3rem

  .dropdown-item
    padding: 0.3rem 0.5rem
    cursor: pointer
    white-space: normal

    &:first-child
      border-radius: .3rem .3rem 0 0

    &:last-child
      border-radius: 0 0 .3rem .3rem

    .label
      margin-top: 0.3rem

  .dropdown-divider
    margin: 0

  .dropdown-toggle
    &:after
      content: '\f078'
      font-family: "FontAwesome"
      border: 0
      vertical-align: baseline
      width: auto
      height: auto
      font-size: 0.75rem
      position: relative
      top: -1px

    &.has-thin-caret-icon:after
      content: '\f107'
      top: 0
      font-size: 1rem
      margin-left: 0.25rem
