footer
  border-top: 1px solid $medium-grey
  margin-top: 2rem
  padding-top: 2rem
  padding-bottom: 2rem

  .logo
    display: inline-block
    width: 8rem
    margin-bottom: 2rem

  [class^=col-]
    +xs-down
      margin-bottom: 1rem

  ul
    list-style-type: none
    margin: 0
    padding: 0

    a
      display: inline-block
      padding: 0.1rem 0

  &.is-small

    .logo
      +xs-up
        margin-bottom: 0
        vertical-align: baseline
        margin-right: 2rem
      +xs-down
        display: block
        margin-bottom: 1rem

    nav
      +xs-up
        display: inline-block

    li
      +xs-up
        display: inline-block

        &:not(:first-child)
          margin-left: 2rem

.testimonial-card,
.page-product
  \+ footer
    border-top-width: 0
    margin-top: 0
