header
  border-top: 0.6rem solid $blue
  position: relative

  +xs-down
    text-align: center

  .logo
    display: inline-block
    vertical-align: middle
    width: 13rem
    margin-top: -1rem
    margin-right: 1rem
    position: relative
    overflow: hidden
    padding-top: 1rem

    +sm-down
      display: block
      margin-left: auto
      margin-right: auto

    &:before
      content: ''
      position: absolute
      top: 0.6rem
      left: 1.8rem
      z-index: 10
      display: block
      background: white
      height: 9rem
      width: 9rem
      border-radius: 100%

    img
      position: relative
      z-index: 20
      max-width: none
      height: 2.45rem

  .navbar-toggler
    color: $very-dark-grey
    font-size: 2rem
    width: auto
    height: auto
    padding: 0

    &:focus
      outline: none

  .navigation
    display: inline-block
    vertical-align: bottom
    margin-bottom: 0

    +md-down
      padding-left: 0

    .phone
      a:hover
        text-decoration: none
        .text
          text-decoration: underline

    &.text-navigation
      margin-top: 0.6rem

    &.button-navigation
      float: right
      margin-top: 0.7rem

      li + li
        margin-left: 0.5rem

    ul
      margin-bottom: 0
      display: inline-block

    li
      position: relative
      +sm-up
        display: inline-block
        vertical-align: middle

      &.active
        >a
          color: $very-dark-grey
          text-decoration: underline

      >a:not(.btn)
        display: inline-block
        vertical-align: middle
        padding: 0 0.75rem
        font-weight: 700
        text-transform: uppercase
        color: $very-dark-grey

    .icon
      margin-right: 0

      \+a
        padding-left: .25rem


    .dropdown-toggle
      color: $very-dark-grey
      font-size: 0.9rem
      display: inline-block
      vertical-align: middle

      &:hover,
      &:focus
        text-decoration: none

      &:after
        display: inline-block

      &[aria-expanded='true']
        color: $blue

        &:after
          transform: rotate(180deg)

    .dropdown-item
      white-space: nowrap

    .dropdown-menu
      margin-top: 0.5rem

  &.is-fixed
    +sm-up
      position: fixed
      z-index: 100
      left: 0
      top: 0
      width: 100%
      background-color: white
      margin-bottom: 0
      height: 3.5rem
    +sm-down
      margin-bottom: -1rem

  \+.content-wrapper
    .has-margin-to-header
      margin-top: 1.5rem
