$highlight-arrow-spykiness: 1rem

.highlight-bar
  position: relative
  font-size: 1.125rem
  line-height: 1.3rem
  padding: 0 1rem
  height: 4rem
  font-weight: 700
  background: $orange
  color: white
  margin: 1rem 0

  +xs-up

    &:after
      content: ''
      display: block
      position: absolute
      top: 0
      right: -$highlight-arrow-spykiness
      border-width: 2rem 0 2rem $highlight-arrow-spykiness
      border-style: solid
      border-color: transparent transparent transparent $orange

    &.arrow-is-left:after
      right: auto
      left: -$highlight-arrow-spykiness
      border-width: 2rem $highlight-arrow-spykiness 2rem 0
      border-color: transparent $orange transparent transparent
