.home-banner
  $desktop-height: 35rem
  $mobile-height:  37rem
  position: relative
  background: image-url('/images/page/homepage/horizon.png') no-repeat center bottom $light-blue

  +sm-up
    height: $desktop-height
    background-size: 100% 16rem
  +sm-down
    height: $mobile-height
    padding: 2rem 0 20rem 0
    background-size: 100% 3rem

  .container
    position: relative

    &:before,
    &:after
      content: ''
      position: absolute
      bottom: 12rem
      z-index: 10
      background-size: cover
      +sm-up
        bottom: 9rem
      +sm-down
        bottom: 1rem

    &:before
      background-image: image-url('/images/page/homepage/illustration-1.png')
      +md-up
        height: (544rem / $font-size-root-value / 2)
        width:  (340rem / $font-size-root-value / 2)
        right:  15rem
      +md-down
        height: (544rem / $font-size-root-value / 3)
        width:  (340rem / $font-size-root-value / 3)
        right:  7rem
      +sm-down
        height: (544rem / $font-size-root-value / 3)
        width:  (340rem / $font-size-root-value / 3)
        left:  1rem

    &:after
      background-image: image-url('/images/page/homepage/illustration-2.png')
      +md-up
        height: (538rem / $font-size-root-value / 2)
        width:  (328rem / $font-size-root-value / 2)
        right:  2rem
      +md-down
        height: (538rem / $font-size-root-value / 3)
        width:  (328rem / $font-size-root-value / 3)
        right:  0
      +sm-down
        height: (538rem / $font-size-root-value / 3)
        width:  (328rem / $font-size-root-value / 3)
        right:  1rem

  .content
    position: relative
    z-index: 20


    +sm-up
      padding-left: 6rem
      height: $desktop-height
      &:before
        content: ''
        position: absolute
        top: 3.5rem
        left: ($grid-gutter-width-base / 2)
        z-index: 10
        background-size: cover
        background-image: image-url('/images/page/homepage/illustration-3.png')
        height: (214rem / $font-size-root-value / 2)
        width:  (178rem / $font-size-root-value / 2)
    +sm-down
      height: $mobile-height - 2rem

  h1
    +sm-up
      font-size: 3rem
      line-height: 3.5rem
      margin-left: 1rem
      margin-top: 3rem
      margin-bottom: 1.5rem
    +sm-down
      font-size: 2rem
      line-height: 2rem

  .benefit-list
    padding-left: 0
    +sm-up
      margin-left: 1rem
    +sm-down
      text-align: left

    li
      &:before
        content: '\f058'
        font-family: FontAwesome
        color: $orange
      +sm-up
        font-size: 1.5rem
      +sm-down
        font-size: 1rem

  h1,
  .benefit-list li
    color: $very-dark-grey
    text-shadow: 1px 1px 1px $light-blue

  .search-form
    +sm-up
      margin-top: 10vh
      position: absolute
      bottom: 2rem
      left: ($grid-gutter-width-base / 2)
      right: ($grid-gutter-width-base / 2)
    +sm-down
