.loading
  position: absolute
  left: 50%
  top: 3.5rem
  height: 2rem
  width: 2rem
  margin-left: -1rem
  animation: rotation 1s infinite linear
  border: 3px solid rgba(0, 0, 0, 0.2)
  border-top-color: rgba(0, 0, 0, 0.7)
  border-radius: 50%

@keyframes rotation
  to
    transform: rotate(360deg)
