.map-enlargable
  height: 15vh
  overflow: hidden
  transition: height 0.25s ease-out
  cursor: pointer
  border: 1px solid $medium-grey

  img
    margin-top: -460px
    transition: margin 0.25s ease-out

  &:hover
    height: 1057px

    img
      margin-top: 0