.introjs-helperNumberLayer
  box-sizing: content-box

.navbar
  $border-color: $very-light-grey
  background: $almost-white
  margin-bottom: 2rem

  +sm-up
    border-width: 1px 1px 0 1px
    border-color: $border-color
    border-style: solid
    padding-top: 0.2rem
    margin-top: 1rem

  +sm-down
    font-size: 0
    padding: 0
    border: 1px solid $border-color
    margin-top: 0.5rem

  &.has-submenu
    +lg-up
      padding-bottom: 2.7rem
    +lg-down
      padding-bottom: 1.8rem
    +md-down
      +sm-up
        padding-bottom: 1.8rem

  .navbar-nav ul
    display: none

    +sm-up
      position: absolute
      left: -1px
      width: calc(100% + 2px)
      border-width: 0 1px 1px 1px
      border-color: $border-color
      border-style: solid
      background: white
    +sm-down
      background: white
    +md-up
      top: 3rem
    +md-down
      top: 2rem

    li
      display: inline-block

      &:first-child
        +lg-up
          padding-left: 1.25rem
        +lg-down
          padding-left: 1.75rem
        +md-down
          padding-left: 1rem

    a
      display: inline-block
      +lg-up
        padding: 0.6rem 0.8rem
      +lg-down
        padding: 0.2rem 0.8rem

    .active a
      color: $very-dark-grey
      border-bottom: 2px solid $blue
      margin-bottom: -1px

      &:hover
        text-decoration: none

  .nav-item
    +sm-down
      float: none
      \+.nav-item
        margin-left: 0

    \+.nav-item

  li.active
    > .nav-link
      background: white
      +sm-up
        margin-top: 1px
        margin-bottom: -1px
    ul
      display: block

  .nav-link,
  .navbar-nav ul a

    +sm-down
      font-size: 1.00rem
      padding:   0.5rem
    +sm-up
      font-size: 0.9rem
      padding:   0.25rem
    +md-up
      font-size: 0.9rem
      padding:   0.75rem
      text-transform: uppercase
    +xs-down
      font-size: 0.8rem
      padding:   0.5rem

    &:hover
      text-decoration: underline
