.popup-window
  background-color: white
  padding: 0.5rem
  text-align: left
  white-space: nowrap

  +md-up
    max-width: 17rem

  +md-down
    max-width: 17rem

  +sm-down
    max-width: 17rem

  .photo
    width: 30%
    display: inline-block
    vertical-align: top
    margin-right: 0.5rem

    img
      max-width: 100%

  .details
    width: 60%
    display: inline-block
    vertical-align: top
    color: $very-dark-grey
    white-space: normal

  .actions
    margin-top: 1rem
