.rating-star

  &.editable
    display: block
    unicode-bidi: bidi-override
    direction: rtl
    text-align: left

    input[type=radio]
      position: absolute
      left: -9999px

      \+label
        float: right
        line-height: 2rem
        display: inline-block
        padding-right: 0.25rem
        position: relative
        text-shadow: 0 1px 1px rgba(0,0,0, 0.4)
        cursor: pointer
        font-size: 0
        color: $very-light-grey

        &:before
          font-size: 2rem
          content: "★"

      &:checked + label,
      &:checked ~ input + label,
      &:hover + label,
      &:hover ~ input + label
        color: $yellow

  .stars
    position: relative
    height: 1.3rem
    width: 4.7rem
    line-height: 1.75rem

    +md-up
      margin: 0 3rem 0 0
    +md-down
      margin: 0 0 0 1.5rem
    +sm-down
      margin: 0

    &:before,
    >div:before
      content: "★★★★★"
      position: absolute
      top: 0
      left: 0
      overflow: visible

    &:before
      color: darken($almost-white, 4%)

    >div
      position: relative
      height: 100%
      overflow: hidden

      &:before
        color: $yellow


  &.is-inline
    white-space: nowrap

    .rating-name
      display: inline-block
      width: calc(100% - 7rem)
      margin-right: 0

    .stars
      display: inline-block
      margin-right: 0rem
      margin-left: 1.2rem

  &.multiple-ratings-inline
    +sm-up
      display: inline-block
