.rating
  margin-bottom: 1rem

  .rating-sender
    background: $almost-white
    font-weight: 700
    color: $very-dark-grey
    padding: 0.5rem 0.75rem
    border-top: 1px solid $very-light-grey

  .rating-content
    padding: 0.5rem
    margin-bottom: 2rem

  .rating-comment
    padding-left: 5rem

    blockquote
      position: relative
      //border: 1px solid $very-light-grey
      padding: 1rem
      background: $almost-white

      &:before
        content: ''
        position: absolute
        bottom: 1rem
        left: 3.5rem
        height: 1.5rem
        width: 1.5rem
        background: $almost-white
        transform: rotate(-225deg)
        transform-origin: bottom left

      p:last-child
        margin-bottom: 0

    .quote-sender
      color: $very-dark-grey
      font-size: 0.8rem
