.search-form
  background: rgba(255, 255, 255, 0.85)
  padding-bottom: 1rem
  text-align: left
  border-radius: $border-radius-lg

  fieldset
    width: 100%

  label
    display: block
    padding-left: 0

  input,
  select,
  button
    height: 35px
    font-size: 1rem
    line-height: 1

  select
    -webkit-appearance: none

  button
    +sm-down
      margin-top: 1rem

  .form-control-label.invisible
    +sm-down
      display: none

  .search-filter-toggle
    margin: 0.5rem 0 -0.5rem 0
    font-size: 0.9rem

  &.on-light-background
    background: $almost-white

  &.is-large

    input,
    select
      height: 50px
      font-size: 1.25rem
      line-height: 1.5

    button
      height: 50px
      white-space: normal
      line-height: 0.8
      +sm-up
        margin-top: 2.25rem

  +sm-up
    [class^='col-']:first-child
      padding-right: 0.2rem

      \+ div
        padding-left: 0.2rem
        padding-right: 0.2rem

        \+ div
          padding-left: 0.2rem
