.stacked-navigation
  border-bottom: 1px solid $medium-grey
  background: white
  text-align: left

  +sm-down
    margin-bottom: 1rem

    header &
      margin-bottom: 0


  li.active > a
    font-weight: 700

  .level-1
    margin-top: 0
    margin-bottom: 0

    header &
      +sm-down
        padding: 1rem 0 0 0

    > li > a
      display: block
      padding: 0.75rem 1rem
      border-top: 1px solid $medium-grey
      color: $very-dark-grey

    > .active > a,
    > li > a:hover,
    > li > a:focus
      background: $almost-white
      text-decoration: none


  ul.level-2
    background: $almost-white
    padding: 0.5rem 1rem 0.5rem 1rem

    > li > a
      padding: 0.25rem 0
      display: inline-block

  ul.level-3
    margin: 0 -1rem
    padding: 0.25rem 1rem 0.25rem 2rem

    > li > a
      padding: 0.25rem 0
      display: inline-block
