.testimonial-card
  background: $light-blue
  border-bottom: 1px solid $medium-grey

  +md-down
    text-align: center

  .testimonial
    +sm-up
      +gradient-y(white, $very-light-grey, 90%, 100%)
      padding: 3rem 2rem 4rem 2rem
    +sm-down
      padding: 2rem 2rem 1rem 2rem
      background: white

  blockquote
    position: relative
    font-size: 1.3rem
    line-height: 1.5rem
    border-bottom: 1px solid $medium-grey
    padding-bottom: 3rem
    +sm-up
      margin-bottom: 2rem

    &:before,
    &:after
      position: absolute
      color: $medium-grey
      font-size: 4rem
      font-family: Georgia, serif
    &:before
      content: '“'
      top: 1rem
      +md-down
        left: -1.5rem
      +md-up
        left: -2rem
    &:after
      content: '”'
      bottom: 2rem
      +md-down
        right: -1.5rem
      +md-up
        right: -2rem

  .author-image
    background: image-url('/images/modules/testimonial-card/user.jpg') no-repeat 0 0
      size: cover
    border-radius: 100%
    border: 1px solid $very-light-grey
    height: 95px
    width:  95px
    display: inline-block

  .author-location
    +md-down
      margin-bottom: 1rem

  .author-name
    +font-lato
    font-weight: 700
    font-size: 1.25rem

  .stars
    color: $yellow
    +md-up
      font-size: 3rem
    +md-down
      font-size: 2rem

  .copytext
    +sm-up
      margin-top: 2rem
      padding-left: 2.5rem
    +sm-down
      margin: 2rem 0
