.treatment-pricing
  background: $almost-white
  margin: 0
  padding: 0.5rem 0 0.5rem 0.5rem
  display: inline-block
  overflow: hidden
  border-radius: $border-radius

  h4 + &
    margin-top: 0.5rem

  &:last-child
    margin-bottom: 1.5rem

  h3
    margin-bottom: 0

  .form-group
    +sm-up
      height: 35px

  .treatment-enquire
    +sm-up
      position: relative
      padding-left: 1rem

      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        height: 50rem
        width: 1px
        background: transparent
        border-left: 1px solid white

  .currency
    +xs-up
      width: 6rem !important
      padding: 0.25rem 0.75rem

// Show the treatment warning only if there's no pricing loaded
.treatment-warning
  display: none
  &:nth-child(1):nth-last-child(1) // whitespace-ignoring version of :empty
    display: block
