.table-responsive: table.table.dashboard-table
  thead: tr
    th Registro hecho por
    th: a href="#"
      'Día del registro
      .fa.fa-chevron-down.icon
    th: a href="#"
      'Día y hora de la cita
      .fa.fa-chevron-down.icon
    th Paciente
    th: a href="#"
      'Estado
      .fa.fa-chevron-down.icon
    th Acciones

  tbody
    - 5.times do
      tr
        td Doctorio Romano Cíeslik
        td 2015-07-02 15:05:10
        td 2015-07-03 11:00:00
        td
          strong Axel Tester
          br
          'Paciente nuevo
          br
          'Dentista
          br
          '0175-7334455
          a href="mailto:axel@kuzmik.de" axel@kuzmik.de
        td Confirmado
        td
          .dropdown
            a.dropdown-toggle data-toggle="dropdown" href="#" Editar
            .dropdown-menu.dropdown-menu-right

              a.dropdown-item data-toggle="modal" data-target="[data-name=modal-confirmation]"
                span.fa-stack.fa-lg.icon.icon-positive
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-check.fa-stack-1x
                'Confirmar cita

              a.dropdown-item data-toggle="modal" data-target="[data-name=modal-cancellation]"
                span.fa-stack.fa-lg.icon.icon-negative
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-ban.fa-stack-1x
                'Cancelar cita

              a.dropdown-item data-toggle="modal" data-target="[data-name=modal-edit]"
                span.fa-stack.fa-lg.icon.icon-danger
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x
                'Modificar cita

.modal.fade data-name="modal-confirmation" tabindex="-1" role="dialog" aria-hidden="true"
  .modal-dialog: .modal-content
    .modal-header
      button.close type="button" data-dismiss="modal" &times;
      h2 Confirmar cita
    .modal-body
      .row
        .col-sm-6: label Cita:
        .col-sm-6 2015-07-03 11:00:00
      .row
        .col-sm-6: label Paciente:
        .col-sm-6
          p
            strong Axel Tester
            br
            'Dentista
            br
            span.fa.fa-phone.icon
            a href="tel:+491757334455" 0175 - 733 44 55
            br
            span.fa.fa-envelope.icon
            a href="mailto:axel@kuzmik.de" axel@kuzmik.de
      hr
      .row: .col-sm-12: p El paciente acudirá a su consulta en el día y hora arriba mencionados y se le enviará un recordatorio automatico para esta cita.
    .modal-footer
      button.btn.btn-secondary-outline type="button" data-dismiss="modal" Cancelar
      button.btn.btn-primary type="button" data-dismiss="modal" Confirmar cita

.modal.fade data-name="modal-cancellation" tabindex="-1" role="dialog" aria-hidden="true"
  .modal-dialog: .modal-content
    .modal-header
      button.close type="button" data-dismiss="modal" &times;
      h2 Cancelar cita
    .modal-body
      .row
        .col-sm-6: label Cita actual:
        .col-sm-6 2015-07-03 11:00:00
      .row
        .col-sm-6: label Paciente:
        .col-sm-6
          p
            strong Axel Tester
            br
            'Dentista
            br
            span.fa.fa-phone.icon
            a href="tel:+491757334455" 0175 - 733 44 55
            br
            span.fa.fa-envelope.icon
            a href="mailto:axel@kuzmik.de" axel@kuzmik.de
      hr
      .row: .col-sm-12: p
        strong> ¿No puede atender el paciente en el día y la hora indicados?
        ' Puede cancelar esta cita. El paciente recibirá una notificación de cancelación y no acudirá.
    .modal-footer
      button.btn.btn-secondary-outline type="button" data-dismiss="modal" Cancelar
      button.btn.btn-danger type="button" data-dismiss="modal" Cancelar cita

.modal.fade data-name="modal-edit" tabindex="-1" role="dialog" aria-hidden="true"
  .modal-dialog: .modal-content
    .modal-header
      button.close type="button" data-dismiss="modal" &times;
      h2 Cambiar cita
    .modal-body
      .row
        .col-sm-6: label Cita actual:
        .col-sm-6 2015-07-03 11:00:00
      .row
        .col-sm-6: label Paciente:
        .col-sm-6
          p
            strong Axel Tester
            br
            'Dentista
            br
            span.fa.fa-phone.icon
            a href="tel:+491757334455" 0175 - 733 44 55
            br
            span.fa.fa-envelope.icon
            a href="mailto:axel@kuzmik.de" axel@kuzmik.de
      hr
      .row: .col-sm-12
        ul.nav.nav-tabs role="tablist"
          li.nav-item: a.nav-link.active href="#edit-appointment" role="tab" data-toggle="tab" Confirmar cita nueva
          li.nav-item: a.nav-link href="#propose-appointment" role="tab" data-toggle="tab" Sugerir cita nueva
        .tab-content
          #edit-appointment.tab-pane.active role="tabpanel"
            p
              strong> ¿Ha acordado telefónicamente una nueva fecha y hora para la cita con el paciente?
              'Incluya aquí la información de la nueva cita acordada.
            .row
              .col-sm-6
                label Nueva cita:
              .col-sm-4: input.form-control type="text"
          #propose-appointment.tab-pane role="tabpanel"
            p
              strong> ¿Todavía no ha acordado una fecha y hora para la nueva cita con el paciente?
              'Aquí puede sugerir una opción para concretar otra cita previa con este paciente.
            .row.m-b-1
              .col-sm-6
                label Sugerir nueva cita:
              .col-sm-4: input.form-control type="text"
            .row
              .col-sm-6
                label Tiempo para la respuesta en horas:
              .col-sm-2: input.form-control type="text" placeholder="24"

    .modal-footer
      button.btn.btn-secondary-outline type="button" data-dismiss="modal" Cancelar
      button.btn.btn-warning type="button" data-dismiss="modal" Cancelar cita
