.row
  .col-sm-4
    .form-group
      label Clínica o Consulta
      select.form-control
        option Por favor selecciona
        option Clínica Dental Monte Del Pilar


  .col-sm-12
    .form-group
      h3 Reglas para asignar citas
      .row
        .col-sm-4
          label.is-decent Días de antelación para reserva de citas
          select.form-control
            option Ninguno
            option 1 Día
            option 2 Días
            option 3 Días
            option 4 Días
            option 5 Días
            option 6 Días
            option 7 Días
        .col-sm-4
          label.is-decent Limitar disponibilidad de citas a:
          select.form-control
            option Sin límite
            option Un mes
            option Dos meses
            option Tres meses
            option Publicar
            option HoyMesSemana

        .col-sm-4
          a.btn.btn-primary.pull-right.m-t href="#" data-toggle="tooltip" title="Atención: Después de su publicación los cambios tardarán unos minutos en ser visibles." Publicar

  .col-sm-12
    .btn.btn-secondary.hidden-xs-down
      span.fa.fa-chevron-left.icon
      'April 2015

    .btn-group.dropdown
      .btn-group
        button.btn.btn-secondary.dropdown-toggle type="button" data-toggle="dropdown"
          'Mai
        .dropdown-menu
          a.dropdown-item href="#"
            span Januar
            span.label.label-default.label-pill.pull-right 3
          a.dropdown-item href="#"
            span Februar
            span.label.label-default.label-pill.pull-right 31
          a.dropdown-item href="#"
            span März
            span.label.label-default.label-pill.pull-right 13
          a.dropdown-item href="#"
            span April
            span.label.label-default.label-pill.pull-right 0
          a.dropdown-item href="#"
            span Mai
            span.label.label-default.label-pill.pull-right 3
          a.dropdown-item href="#"
            span Juni
          a.dropdown-item href="#"
            span Juli
            span.label.label-default.label-pill.pull-right 3
          a.dropdown-item href="#"
            span August
            span.label.label-default.label-pill.pull-right 1
          a.dropdown-item href="#"
            span September
            span.label.label-default.label-pill.pull-right 3
          a.dropdown-item href="#"
            span Oktober
            span.label.label-default.label-pill.pull-right 45
          a.dropdown-item href="#"
            span November
            span.label.label-default.label-pill.pull-right 3
          a.dropdown-item href="#"
            span Dezember
            span.label.label-default.label-pill.pull-right 2

      .btn-group
        button.btn.btn-secondary.dropdown-toggle type="button" data-toggle="dropdown"
          '2015
        .dropdown-menu
          a.dropdown-item href="#"
            span 2011
            span.label.label-default.label-pill.pull-right 3
          a.dropdown-item href="#"
            span 2012
            span.label.label-default.label-pill.pull-right 31
          a.dropdown-item href="#"
            span 2013
            span.label.label-default.label-pill.pull-right 13
          a.dropdown-item href="#"
            span 2014
            span.label.label-default.label-pill.pull-right 0
          a.dropdown-item href="#"
            span 2015
            span.label.label-default.label-pill.pull-right 3
          a.dropdown-item href="#"
            span 2016

    .btn.btn-secondary.hidden-xs-down.m-r
      'Juni 2015
      span.fa.fa-chevron-right.icon.icon-right
    a href="#" Hoy

  .col-sm-12
    .calendar
      '– Calendar –
