.row
  .col-sm-12

    form.sidebar-box.colored

      .row
        .col-md-6

          fieldset.form-group
          label Praxisname
          input.form-control type="text"

        .col-sm-12
          hr.m-y-2

        .col-md-6
          h5.m-b-1 Praxisdaten

          .form-group
            label Straße
            input.form-control type="text"

          .form-group
            .row
              .col-sm-3.col-md-4.col-lg-3
                label PLZ
                input.form-control type="text"

              .col-sm-9.col-md-8.col-lg-9
                label Ort
                input.form-control type="text"

          .form-group
            label Telefon
            input.form-control type="text"

        .col-md-6
          h5.m-b-1 Account

          .form-group
            .row
              .col-sm-6
                label Vorname
                input.form-control type="text"

              .col-sm-6
                label Nachname
                input.form-control type="text"

          .form-group
            label E-Mail-Adresse
            input.form-control type="text"

          .form-group.has-error
            label Passwort
            input.form-control type="text"
            small.help-block Por favor introduce un valor

        .col-sm-6
          .form-group: .checkbox
            label
              input type="checkbox" autocomplete="off" Ich akzeptiere die AGB der docbiz UG. Ich habe sie vollständig gelesen und kann sie jederzeit fehlerfrei zitieren.

        .col-sm-6
          .form-group: .checkbox.has-error
            label
              input type="checkbox" autocomplete="off" Ich akzeptiere die AGB der docbiz UG. Ich habe sie vollständig gelesen und kann sie jederzeit fehlerfrei zitieren.
            .help-block This checkbox is missing.

        .col-sm-12
          hr.m-y-2
          button.a.btn.btn-secondary.pull-right type="submit" Join
    p.m-t-1
      strong> ¿Tienes alguna pregunta?
      'Contacta con nosotros 24 horas del dia:
      a href="tel:+900666666"
        span.fa.fa-phone<>
        '93 22 01 665
