.row
  .col-sm-12

    .table-responsive: table.table.table-striped.m-t-3
      tbody
        - 7.times do |i|

          tr
            td #{i}
            td: strong Tage:
            td: code Tagesauswahl
            td: strong von:
            td.form-inline
              .input-group
                input.form-control.form-control-sm type="text" value="0#{i}:00" style="min-width: 4rem"
                span.input-group-addon: span.fa.fa-clock-o
            td: strong bis:
            td.form-inline
              .input-group
                input.form-control.form-control-sm type="text" value="0#{i}:00" style="min-width: 4rem"
                span.input-group-addon: span.fa.fa-clock-o
            td: a.btn.btn-primary-outline.btn-sm: span.fa.fa-trash

    a.btn.btn-primary-outline.btn-sm
      span.fa.fa-plus>
      'Hinzufügen

    hr
    button.btn.btn-primary.pull-right type="submit" Guardar