form.form-horizontal

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Nombre de la consulta o clínica
    .col-sm-4: select.form-control: option Clínica Dental Monte Del Pilar
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Dirección
    .col-sm-8: .form-control-static Calle Mayor 3
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Código Postal
    .col-sm-8: .form-control-static 28221
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Código Postal
    .col-sm-8: .form-control-static 28221
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Localidad
    .col-sm-8: .form-control-static Madrid
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Complemento de dirección
    .col-sm-8: .form-control-static Madrid
  hr

  fieldset.form-group.row.form-inline
    label.col-sm-4.col-md-2.form-control-label Type of practice
    .col-sm-8
      .radio: label
        input type="radio" name="radio-1"
        'Self-employed
      .radio: label
        input type="radio" name="radio-1" checked="checked"
        'Unemployed
      .radio: label
        input type="radio" name="radio-1"
        'Closed for Maintenance
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Teléfono
    .col-sm-3: input.form-control type="tel" placeholder="+34 - 800 - 1000000"
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Página web
    .col-sm-4: input.form-control type="url" placeholder="http://"
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Especialidades
    .col-sm-8.col-md-10.form-inline
      .checkbox: label
        input type="checkbox" Dentista
      a.btn.btn-secondary.btn-sm.collapsed href="#" data-toggle="collapse" data-target="[data-name=all-specialties]"
        span.show-when-collapsed Mostrar más
        span.show-when-not-collapsed Mostrar menos
      .collapse.checkbox-list-in-3-rows data-name="all-specialties"
        .inner
          .checkbox: label
            input type="checkbox"
            'Acupuntor
          .checkbox: label
            input type="checkbox"
            'Alergólogo
          .checkbox: label
            input type="checkbox"
            'Analista clínico
          .checkbox: label
            input type="checkbox"
            'Anestesista
          .checkbox: label
            input type="checkbox"
            'Angiólogo
          .checkbox: label
            input type="checkbox"
            'Cardiólogo
          .checkbox: label
            input type="checkbox"
            'Cirujano cardiovascular
          .checkbox: label
            input type="checkbox"
            'Cirujano general
          .checkbox: label
            input type="checkbox"
            'Cirujano oral y maxilofacial
          .checkbox: label
            input type="checkbox"
            'Cirujano pedriátrico
          .checkbox: label
            input type="checkbox"
            'Cirujano plástico
          .checkbox: label
            input type="checkbox"
            'Cirujano torácico
          .checkbox: label
            input type="checkbox"
            'Dermatólogo
          .checkbox: label
            input type="checkbox"
            'Dietista - Nutricionista
          .checkbox: label
            input type="checkbox"
            'Digestólogo
          .checkbox: label
            input type="checkbox"
            'Endocrino
          .checkbox: label
            input type="checkbox"
            'Enfermero
          .checkbox: label
            input type="checkbox"
            'Especialista en medicina del deporte
          .checkbox: label
            input type="checkbox"
            'Especialista en medicina del trabajo
          .checkbox: label
            input type="checkbox"
            'Especialista en medicina nuclear
          .checkbox: label
            input type="checkbox"
            'Especialista en medicina preventiva
          .checkbox: label
            input type="checkbox"
            'Farmacólogo
          .checkbox: label
            input type="checkbox"
            'Fisioterapeuta
          .checkbox: label
            input type="checkbox"
            'Forense
          .checkbox: label
            input type="checkbox"
            'Geriatra
          .checkbox: label
            input type="checkbox"
            'Ginecólogo
          .checkbox: label
            input type="checkbox"
            'Hematólogo
          .checkbox: label
            input type="checkbox"
            'Homeópata
          .checkbox: label
            input type="checkbox"
            'Inmunólogo
          .checkbox: label
            input type="checkbox"
            'Intensivista
          .checkbox: label
            input type="checkbox"
            'Internista
          .checkbox: label
            input type="checkbox"
            'Logopeda
          .checkbox: label
            input type="checkbox"
            'Médico de familia
          .checkbox: label
            input type="checkbox"
            'Medicina Estética
          .checkbox: label
            input type="checkbox"
            'Médico general
          .checkbox: label
            input type="checkbox"
            'Médico rehabilitador
          .checkbox: label
            input type="checkbox"
            'Microbiólogo
          .checkbox: label
            input type="checkbox"
            'Nefrólogo
          .checkbox: label
            input type="checkbox"
            'Neumólogo
          .checkbox: label
            input type="checkbox"
            'Neurocirujano
          .checkbox: label
            input type="checkbox"
            'Neurofisiólogo clínico
          .checkbox: label
            input type="checkbox"
            'Neurólogo
          .checkbox: label
            input type="checkbox"
            'Oftalmólogo
          .checkbox: label
            input type="checkbox"
            'Oncólogo médico
          .checkbox: label
            input type="checkbox"
            'Oncólogo radioterapéutico
          .checkbox: label
            input type="checkbox"
            'Óptico
          .checkbox: label
            input type="checkbox"
            'Osteópata
          .checkbox: label
            input type="checkbox"
            'Otorrinoralingologo
          .checkbox: label
            input type="checkbox"
            'Patólogo
          .checkbox: label
            input type="checkbox"
            'Pediatra
          .checkbox: label
            input type="checkbox"
            'Podólogo
          .checkbox: label
            input type="checkbox"
            'Profesional en medicina alternativa
          .checkbox: label
            input type="checkbox"
            'Psicólogo
          .checkbox: label
            input type="checkbox"
            'Psiquiatra
          .checkbox: label
            input type="checkbox"
            'Radiólogo
          .checkbox: label
            input type="checkbox"
            'Reumatólogo
          .checkbox: label
            input type="checkbox"
            'Terapeuta ocupacional
          .checkbox: label
            input type="checkbox"
            'Traumatólogo
          .checkbox: label
            input type="checkbox"
            'Urgenciólogo
          .checkbox: label
            input type="checkbox"
            'Urólogo
          .checkbox: label
            input type="checkbox"
            'Cirugía Menor Ambulatoria
          .checkbox: label
            input type="checkbox"
            'Depilación Láser diodo
          .checkbox: label
            input type="checkbox"
            'Ecografia
          .checkbox: label
            input type="checkbox"
            'Matrona
          .checkbox: label
            input type="checkbox"
            'Medicina Interna
          .checkbox: label
            input type="checkbox"
            'Psicología Clínica
          .checkbox: label
            input type="checkbox"
            'Reconocimentos psicotécnicos
          .checkbox: label
            input type="checkbox"
            'Valoración de daño corporal
          .checkbox: label
            input type="checkbox"
            'Cirugía Vascular y Angología
          .checkbox: label
            input type="checkbox"
            'Rehabilitación
          .checkbox: label
            input type="checkbox"
            'Dermatología Clínica
          .checkbox: label
            input type="checkbox"
            'Dermatología Quirúrgica
          .checkbox: label
            input type="checkbox"
            'Dermatología Estética
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Médicos
    .col-sm-8
      .media
        .media-left
          .media-object
            img src="/images/application/placeholder.png" width="100"
        .media-body
          h3
            'Doctorio Roman Cieslik
            br
            'Dentista
          small
            a href="#" Ver perfil de doctor
            br
            a href="?page=user" Editar perfil de doctor
  hr
