.text-right.m-b-2
  span Ratings: 1 – 25 of 63
  .btn-group.m-l-1
    .btn.btn-primary-outline.btn-sm: span.fa.fa-chevron-left
    .btn.btn-primary-outline.btn-sm: span.fa.fa-chevron-right

.table-responsive: table.table.dashboard-table

  thead: tr
    th Rating
    th: a href="#"
      'Average
      .fa.fa-chevron-down.icon
    th Patient Review
    th Patient
    th: a href="#"
      'Date
      .fa.fa-chevron-up.icon

  tbody
    - 5.times do |i, value1 = Random.rand(100), value2 = Random.rand(100), value3 = Random.rand(100)|
      tr
        td
          .rating-star.is-inline
            .rating-name Conducta del doctor
            .stars: div style="width: #{value1}%"

          .rating-star.is-inline
            .rating-name Puntualidad
            .stars: div style="width: #{value2}%"

          .rating-star.is-inline
            .rating-name Valoración general
            .stars: div style="width: #{value3}%"

        td.text-xs-center
          '5.00

        td
          p
            'Lorem ipsum In aute fugiat eiusmod exercitation ut occaecat nulla. Lorem ipsum Ut dolor esse commodo in consectetur aute. Lorem ipsum Cupidatat dolore tempor labore Excepteur enim consequat veniam officia ut.

          - if i == 1
            textarea.form-control.comment disabled="disabled" data-name="textarea-#{i}"
              'This is the doctor's comment.

          - unless i == 1
            div.text-right
              span.simulated-link data-toggle="collapse" data-target="[data-name=comment-#{i}]" Comment

          - else
            div.text-right
              span.simulated-link data-behavior="enable-textarea" data-target="[data-name=textarea-#{i}]" data-button-replacement="[data-name=publish-button-#{i}]" Edit
              a.btn.btn-primary.btn-sm.btn-sm-smaller style="display: none" data-name="publish-button-#{i}" Publish

          .collapse.comment-form data-name="comment-#{i}": .inner
            textarea.form-control placeholder="Your comment" cols="40" rows="5"
            .pull-right
              a.btn.btn-secondary-outline.btn-sm.btn-sm-smaller data-toggle="collapse" data-target="[data-name=comment-#{i}]" Cancel
              a.btn.btn-primary.btn-sm.btn-sm-smaller Publish

        td
          '&nbsp;

        td
          '15.09.2015
