.row

  .col-sm-4
    label Consulta:
    select
      option Por favor selecciona
      option Clínica Dental Monte Del Pilar
    hr.vertical-space.only-a-bit.hidden-sm-up

  .col-sm-6.col-md-3.col-lg-2
    label Periodo
    select
      option 2015-01
      option 2015-02
      option 2015-03
      option 2015-04
      option 2015-05
      option 2015-06
      option 2015-07
      option 2015-08
      option 2015-09
  .col-sm-2
    label.hidden-xs-down style="visibility: hidden; display: block" Guardar
    hr.vertical-space.only-a-bit.hidden-sm-up
    a.btn.btn-primary.btn-sm.btn-sm-smaller href="#" Guardar

.row: .col-md-10.col-md-offset-1: .no-result-hint
  p Para el periodo seleccionado no existe ninguna reserva ☹

.report
  .table-responsive: table.table.dashboard-table
    thead: tr
      th Médico
      th Día de la Reserva
      th Paciente
      th Asistencia
      th Estado
    tbody
      -5.times do
        tr
          td Doctorio Romano Cíeslik
          td 03.07.2015 11:00
          td Axel Tester
          td
            .radio: label
              input type="radio" name="radio-button-1" asistió
            .radio: label
              input type="radio" name="radio-button-1" no asistió
            .radio: label
              input type="radio" name="radio-button-1" cita pospuesta
            .checkbox: label
              input type="checkbox"  Paciente existente
          td Cancelado
