form.form-horizontal

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Nombre
    .clearfix.hidden-md-up
    .col-sm-6.col-md-2.m-b-1: input.form-control type="text" placeholder="Título"
    .col-sm-6.col-md-3.m-b-1: input.form-control type="text" placeholder="Nombre"
    .col-sm-12.col-md-3.m-b-1: input.form-control type="text" placeholder="Apellido"
    .col-sm-2
      img src="/images/application/placeholder.png" width="100"
      br
      small: a href="#" Editar foto del perfil
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Consulta
    .col-sm-8
      p.form-control-static
        'Clínica Dental Monte Del Pilar
        br
        'Calle Mayor 3
        br
        '28221 Madrid
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Médicos
    .col-sm-6
      select.form-control: option Doctorio Roman Cieslik
      a href="#" data-toggle="modal" data-target="[data-name=modal-calendar]" Obtener Calendario Digital

  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Filosofía
    .col-sm-8: textarea.form-control placeholder="Your text goes here…"
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Especialidades
    .col-sm-8.col-md-10
      .checkbox.m-r-1 style="display: inline-block": label
        input type="checkbox" Dentista
      a.btn.btn-secondary.btn-sm.collapsed href="#" data-toggle="collapse" data-target="[data-name=all-specialties]"
        span.show-when-collapsed Mostrar más
        span.show-when-not-collapsed Mostrar menos
      .collapse.checkbox-list-in-3-rows data-name="all-specialties"
        .inner
          .checkbox: label
            input type="checkbox"
            'Acupuntor
          .checkbox: label
            input type="checkbox"
            'Alergólogo
          .checkbox: label
            input type="checkbox"
            'Analista clínico
          .checkbox: label
            input type="checkbox"
            'Anestesista
          .checkbox: label
            input type="checkbox"
            'Angiólogo
          .checkbox: label
            input type="checkbox"
            'Cardiólogo
          .checkbox: label
            input type="checkbox"
            'Cirujano cardiovascular
          .checkbox: label
            input type="checkbox"
            'Cirujano general
          .checkbox: label
            input type="checkbox"
            'Cirujano oral y maxilofacial
          .checkbox: label
            input type="checkbox"
            'Cirujano pedriátrico
          .checkbox: label
            input type="checkbox"
            'Cirujano plástico
          .checkbox: label
            input type="checkbox"
            'Cirujano torácico
          .checkbox: label
            input type="checkbox"
            'Dermatólogo
          .checkbox: label
            input type="checkbox"
            'Dietista - Nutricionista
          .checkbox: label
            input type="checkbox"
            'Digestólogo
          .checkbox: label
            input type="checkbox"
            'Endocrino
          .checkbox: label
            input type="checkbox"
            'Enfermero
          .checkbox: label
            input type="checkbox"
            'Especialista en medicina del deporte
          .checkbox: label
            input type="checkbox"
            'Especialista en medicina del trabajo
          .checkbox: label
            input type="checkbox"
            'Especialista en medicina nuclear
          .checkbox: label
            input type="checkbox"
            'Especialista en medicina preventiva
          .checkbox: label
            input type="checkbox"
            'Farmacólogo
          .checkbox: label
            input type="checkbox"
            'Fisioterapeuta
          .checkbox: label
            input type="checkbox"
            'Forense
          .checkbox: label
            input type="checkbox"
            'Geriatra
          .checkbox: label
            input type="checkbox"
            'Ginecólogo
          .checkbox: label
            input type="checkbox"
            'Hematólogo
          .checkbox: label
            input type="checkbox"
            'Homeópata
          .checkbox: label
            input type="checkbox"
            'Inmunólogo
          .checkbox: label
            input type="checkbox"
            'Intensivista
          .checkbox: label
            input type="checkbox"
            'Internista
          .checkbox: label
            input type="checkbox"
            'Logopeda
          .checkbox: label
            input type="checkbox"
            'Médico de familia
          .checkbox: label
            input type="checkbox"
            'Medicina Estética
          .checkbox: label
            input type="checkbox"
            'Médico general
          .checkbox: label
            input type="checkbox"
            'Médico rehabilitador
          .checkbox: label
            input type="checkbox"
            'Microbiólogo
          .checkbox: label
            input type="checkbox"
            'Nefrólogo
          .checkbox: label
            input type="checkbox"
            'Neumólogo
          .checkbox: label
            input type="checkbox"
            'Neurocirujano
          .checkbox: label
            input type="checkbox"
            'Neurofisiólogo clínico
          .checkbox: label
            input type="checkbox"
            'Neurólogo
          .checkbox: label
            input type="checkbox"
            'Oftalmólogo
          .checkbox: label
            input type="checkbox"
            'Oncólogo médico
          .checkbox: label
            input type="checkbox"
            'Oncólogo radioterapéutico
          .checkbox: label
            input type="checkbox"
            'Óptico
          .checkbox: label
            input type="checkbox"
            'Osteópata
          .checkbox: label
            input type="checkbox"
            'Otorrinoralingologo
          .checkbox: label
            input type="checkbox"
            'Patólogo
          .checkbox: label
            input type="checkbox"
            'Pediatra
          .checkbox: label
            input type="checkbox"
            'Podólogo
          .checkbox: label
            input type="checkbox"
            'Profesional en medicina alternativa
          .checkbox: label
            input type="checkbox"
            'Psicólogo
          .checkbox: label
            input type="checkbox"
            'Psiquiatra
          .checkbox: label
            input type="checkbox"
            'Radiólogo
          .checkbox: label
            input type="checkbox"
            'Reumatólogo
          .checkbox: label
            input type="checkbox"
            'Terapeuta ocupacional
          .checkbox: label
            input type="checkbox"
            'Traumatólogo
          .checkbox: label
            input type="checkbox"
            'Urgenciólogo
          .checkbox: label
            input type="checkbox"
            'Urólogo
          .checkbox: label
            input type="checkbox"
            'Cirugía Menor Ambulatoria
          .checkbox: label
            input type="checkbox"
            'Depilación Láser diodo
          .checkbox: label
            input type="checkbox"
            'Ecografia
          .checkbox: label
            input type="checkbox"
            'Matrona
          .checkbox: label
            input type="checkbox"
            'Medicina Interna
          .checkbox: label
            input type="checkbox"
            'Psicología Clínica
          .checkbox: label
            input type="checkbox"
            'Reconocimentos psicotécnicos
          .checkbox: label
            input type="checkbox"
            'Valoración de daño corporal
          .checkbox: label
            input type="checkbox"
            'Cirugía Vascular y Angología
          .checkbox: label
            input type="checkbox"
            'Rehabilitación
          .checkbox: label
            input type="checkbox"
            'Dermatología Clínica
          .checkbox: label
            input type="checkbox"
            'Dermatología Quirúrgica
          .checkbox: label
            input type="checkbox"
            'Dermatología Estética
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Tratamientos
    .col-sm-8.col-md-10
      h3 Dentista tratamientos médicos
      .checkbox-list-in-3-rows
        .checkbox: label
          input type="checkbox"
          'Primera visita
        .checkbox: label
          input type="checkbox"
          'Visitas sucesivas
        .checkbox: label
          input type="checkbox"
          'Ortodoncia
        .checkbox: label
          input type="checkbox"
          'Implantología
        .checkbox: label
          input type="checkbox"
          'Odontología
        .checkbox: label
          input type="checkbox"
          'Periodoncia
        .checkbox: label
          input type="checkbox"
          'Endodoncia
        .checkbox: label
          input type="checkbox"
          'Odontopediatría
        .checkbox: label
          input type="checkbox"
          'Cirugía Oral y Maxilofacial
        .checkbox: label
          input type="checkbox"
          'Prótesis Dental (Fija)
        .checkbox: label
          input type="checkbox"
          'Prótesis Dental (Removible)
        .checkbox: label
          input type="checkbox"
          'Estética Dental
        .checkbox: label
          input type="checkbox"
          'ATM (articulación temporomandibular)
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Formación
    .col-sm-8.col-md-6: textarea.form-control placeholder="Your text goes here…" cols="40" rows="5"
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Idiomas
    .col-sm-8.col-md-6: textarea.form-control placeholder="Your text goes here…" cols="40" rows="5"
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Contraseña
    .col-sm-8.col-md-6
      input.form-control type="password" placeholder="Contraseña actual"
      br
      input.form-control type="password" placeholder="Contraseña nueva"
  hr

  fieldset.form-group.row
    label.col-sm-4.col-md-2.form-control-label Correo electónico de notificación
    .col-sm-8.col-md-6
      input.form-control type="email" placeholder="Correo electónico"
  hr

  button.btn.btn-primary.pull-right type="submit" Guardar


.modal.fade data-name="modal-calendar" tabindex="-1" role="dialog" aria-hidden="true"
  .modal-dialog
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal" &times;
        h2 Calendario Digital
      .modal-body
        .row
          .col-sm-2
            label Clínica o Consulta
          .col-sm-10
            .row
              .col-sm-6
                select.form-control
                  option Por favor selecciona
                  option Clínica Dental Monte Del Pilar
              .col-sm-6
                select.form-control
                  option Por favor selecciona
            hr
            textarea.copy-content.form-control data-behavior="copy-content" cols="40" rows="5"
              '<iframe seamless="seamless" width="100%" height="380px" src="http://www.doctorio.dev/widget/medico/ana-elvira-calderon?l=&tt="></iframe>
      .modal-footer
          button.btn.btn-primary type="button" data-dismiss="modal" Okay
