{% extends '::base.html.twig' %}

{% set minimalFooter = true %}

{% block content %}
    <div class="container has-margin-to-header">
        <div class="row">
            <div class="col-sm-6 m-b-1 text-right text-right-except-mobile">
                {#<span>{{'ui.login.intro_doctor'|trans}}</span> <a href="{{ path('doctor_register') }}">{{'ui.login.register_here'|trans}}</a>#}
                {#<br />#}
                {#<span>{{'ui.login.intro_patient'|trans}}</span> <a href="{{ path('patient_register') }}">{{'ui.login.register_here'|trans}}</a>#}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <section id="form">
                    {% block login_content %}{% endblock login_content %}
                </section>
            </div>
            <div class="col-sm-6 m-b-1">
                {% include "questions-box.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            if(!navigator.cookieEnabled) {
                $.notifyBar({
                    cssClass: "error",
                    close: true,
                    delay: 1000000,
                    html: '{{ "ui.login.disabled_cookies"|trans|raw }}'
                });
            }
        });
    </script>
{% endblock %}
