{% extends "::Security/layout.html.twig" %}

{% block login_content %}
<form class="sidebar-box colored {% if error.messageKey is defined and error.messageKey == 'Account has expired.' %}collapse {% endif %}fv-form fv-form-bootstrap" action="{{ path("login_check") }}" method="post" name="login" novalidate="novalidate">
    <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('oauth2_form_login') }}">
    <div>
        <div class="form-group">
            <label for="_username" class="control-label required">{{ 'security.login.username'|trans }}</label>
            <input type="email"
                   class="form-control"
                   required="required"
                   name="_username"
                   id="login_username"
                   data-fv-field="_username"
                   placeholder="example@example.com"
                   data-fv-message="{{ 'ui.form.missing_value'|trans({}, 'messages') }}"
                   {% if last_username is not null %} value="{{ last_username }}"{% endif %}
                   autofocus>
            <small style="display: none;" class="help-block" data-fv-validator="emailAddress" data-fv-for="_username" data-fv-result="NOT_VALIDATED">Diese E-Mail Adresse ist nicht gültig</small>
            <small style="display: none;" class="help-block" data-fv-validator="notEmpty" data-fv-for="_username" data-fv-result="NOT_VALIDATED">Bitte geben Sie Ihre E-Mail an</small>
        </div>
        <div class="form-group">
            <label for="_password" class="control-label required">{{ 'security.login.password'|trans }}</label>
            <input type="password" class="form-control" required="required" name="_password" id="login_password" data-fv-field="_password" data-fv-message="{{ 'ui.form.missing_value'|trans({}, 'messages') }}">
            <small style="display: none;" class="help-block" data-fv-validator="notEmpty" data-fv-for="_password" data-fv-result="NOT_VALIDATED">Bitte geben Sie ein Passwort an</small>
        </div>
    </div>
    {% if error is defined and null != error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        <br />
    {% endif %}
    <fieldset class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" checked />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        <input type="submit" id="_submit" name="_submit" value="{{ 'ui.login.form.button_submit'|trans({},'messages') }}" class="btn btn-primary pull-right">
    </fieldset>
    <a href="{{ path('request_reset_password') }}">{{ 'security.login.forgot_password'|trans }}</a>
</form>
{% endblock login_content %}
