{% extends "::Security/layout.html.twig" %}

{% block login_title %}
    {{ 'ui.login.form_lost_password.update_header'|trans }}
{% endblock %}

{% block login_content %}
    {{ form_errors(form) }}
    {{ form_start(form, { attr: { class: 'sidebar-box colored fv-form fv-form-bootstrap' }}) }}
    {{ form_widget(form) }}
    {% if cerror is defined and null != cerror %}
        <div>{{ cerror|trans }}</div>
    {% endif %}
    <br /><br />
    {{ form_end(form) }}
{% endblock login_content %}

