<div id="contact">

    <div class="form_wrapper">
        <div class="form_frame">
            <div class="form_container">
                <div class="field">
                    <label for="form_name">{{ "ui.contact.form.name"|trans }}</label>
                    <div>{{ form.vars.value.name }}</div>
                </div>
                <div class="field">
                    <label for="form_email">{{ "ui.contact.form.email"|trans }}</label>
                    <div>{{ form.vars.value.email }}</div>
                </div>
                <div class="field">
                    <label for="form_subject">{{ "ui.contact.form.subject"|trans }}</label>
                    <div>{{ form.vars.value.subject }}</div>
                </div>
                <div class="field">
                    <label for="form_subject">{{ "ui.contact.form.message"|trans }}</label>
                    <div class="message">{{ form.vars.value.message }}</div>
                </div>

                <p><a class="btn btn-primary pull-left button large" href="{{ path('home') }}">{{ 'ui.contact.link_to_homepage'|trans }}</a></p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
