{{ form_start(form, {
    'attr': { 'class': 'sidebar-box m-b-3', 'id': 'contact' },
    'action': path('contact'),
    'enctype': 'application/x-www-form-urlencoded'
}) }}

    {{ form_widget(form) }}
    <fieldset class="form-group">
        <input name="ok" type="submit" class="btn btn-primary pull-right button large btn_green input_submit" id="ok" tabindex="4" accesskey="o" value="{{ 'ui.contact.button_submit'|trans}}" />
    </fieldset>

{{ form_end(form) }}