{% extends ':mail:base.html.twig' %}

{% block content %}

    <p><strong>Hola {{ getPatientFullName(patient) }},</strong></p>
    <p>Gracias por registrarse con doctorio.es.</p>
    <p>Su cuenta ya está activa. Para iniciar sesión, pulsa <a href="{{ url('login') }}">aquí</a> y rellena tu correo electrónico y contraseña.</p>

{% endblock %}
