{% extends ':mail:base.html.twig' %}

{% block content %}
<p><strong>{{ getSalutationName(booking) }},</strong></p>

<p>Muchas gracias por pedir cita a través de doctorio.es.</p>
<p>Con este correo confirmamos que tu cita ha sido reservada con éxito.</p>
<center>
    <table width="340" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td style="background:url('{get param='app.url.https'}/images/newsletter/termin_bg.jpg'); width:340px; height: 160px;">
                <table cellspacing="0" cellpadding="0" border="0" style="padding-left: 17px;">
                    <tr>
                        <td height="36" valign="middle" style="font-weight: bold; color: #fff;font-family: Helvetica;font-size: 14px;text-shadow: 0 1px 0 #2f738d;">Detalles de tu cita</td>
                    </tr>
                    <tr>
                        <td height="84" valign="middle">
                            <strong><span style="font-family: Helvetica; color: #555; font-size: 14px;">{{ location.getName }}</span></strong>
                            <br/><span style="font-family: Helvetica; color: #555; font-size: 14px;">{{ location.getAddress|raw }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="34" valign="top">
                            <span style="font-family: Helvetica; color: #313131; font-size: 14px;">el día <strong>{{ booking.getAppointment.getWeekdayDateText }} a las {{ booking.getAppointment.getTimeText }} hrs.</strong></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center>

{% endblock %}