{% extends ':mail:base.html.twig' %}

{% block content %}

<p><strong>Hola {{ getSalutationName(booking) }}</strong></p>

<p>Lamentablemente el médico que has elegido no puede atenderte en el día y horario seleccionado y ha cancelado tu cita previa.</p>

<p>Pero no te preocupes, puedes volver a pedir cita aqui, seleccionando otro médico para tu consulta. También puedes contactar con nuestro servicio de atención para pacientes al tlf. {{ application.phone.central }}.</p>

<p>Te pedimos disculpas por el inconveniente.</p>

{% endblock %}