{% extends ':mail:base.html.twig' %}

{% block content %}
<strong>{{ getSalutationName(booking) }},</strong>
<br/>
<br/>muchas gracias por pedir cita a través de doctorio.es
<br/>
<br/>Desafortunadamente la cita que has pedido con el doctor {{ user_name }} no se ha podido reservar.
<br/>Esto puede tener varias causas como por ejemplo que tu solicitud se haya empalmado con otra cita que se haya pedido segundos antes que la tuya.
<br/>
<br/>Sim embargo y para que recibas hora en la clínica que deseas lo antes posible te proponemos las siguientes fechas como alternativa:
<br/>
<p>
    Fecha propuesta:
    <br/>
    <table>
    {% for booking_offer in booking_offers %}
        <tr>
            <td width="350" height="60"
                style="background-color: #0090d6; border-radius: 15px; margin: 10px; padding: 10px 10px;">
                {% set appointmentText = booking_offer.getAppointment.getWeekdayDateText ~ ' / ' ~ booking_offer.getAppointment.getTimeText %}
                <a style="font-weight:normal; display: block; background: #0090d6; color: white; width: 350px; height:30px; line-height: 20px; text-align: center; font-family: Helvetica; font-size: 14px; text-decoration:none" href="{{ booking_offer.getUrl(true, true) }}/1">{{ 'ui.booking_offer.mail.click_here_accept'|trans({ '%%appointment%%': appointmentText }) }}</a>
            </td>
        </tr>
        <tr>
            <td height="10" style="background-color: #ffffff;"></td>
        </tr>
    {% endfor %}
    </table>
    <br>{{ 'word.or'|trans }}<br><br>
    <table>
        <tr>
            <td width="350" height="40"
                style="background-color: #999999; border-radius: 15px; margin: 10px; padding: 10px 10px;">
                <a style="font-weight:normal; display: block; background: #999999; border-radius: 15px; color: white; width: 350px; height:40px; line-height: 20px; text-align: center; font-family: Helvetica; font-size: 14px; text-decoration:none"
                   href="{{ cancelUrl }}">{{ 'ui.booking_offer.mail.click_here_decline'|trans }}</a>
            </td>
        </tr>
    </table>
</p>
{% endblock %}