Estimado/a {{ data.name }}:

Con este correo electrónico le recordamos que el día {{ data.start|date_format('weekday_datetime_text') }} tiene concretada una cita médica en:

{{ data.practice }}
{{ data.street }}
{{ data.cityzip }}

Por favor, contacte con la clínica en caso de cualquier duda o pregunta al tel: {{ data.phone }}

Un saludo,
El Equipo de {{ application.name }}

Tel: {{ application.phone.central }}
Email: {{ application.email.central }}
{{ application.name }}