Estimado/a {{ data.name }}:

Con este correo confirmamos su cita para el día

{{ data.start|date_format('weekday_datetime_text') }} horas.

En
{{ data.practice }}
{{ data.street }}
{{ data.cityzip }}

En caso de cambio o cancelación, por favor contactar con nosotros, si es posibles 72 horas antes, por teléfono +34 {{ data.phone }}

Un saludo,
El Equipo de {{ application.name }}

Tel: {{ application.phone.central }}
Email: {{ application.email.central }}
{{ application.name }}