{% extends ':mail:base.html.twig' %}

{% block content %}

    <strong>Estimado/a {{ data.name }}:</strong><br />
    <br />
    Con este correo electrónico le recordamos que el día {{ data.start|date_format('weekday_datetime_text') }} tiene concretada una cita médica en:<br />
    <br /><br />
    {{ data.practice }}<br />
    {{ data.street }}<br />
    {{ data.cityzip }}<br />
    <br /><br />
    Por favor, contacte con la clínica en caso de cualquier duda o pregunta al tel: {{ data.phone }}
{% endblock %}
