{% extends ':mail:base.html.twig' %}

{% block content %}

    Estimado/a {{ data.name }}:<br />
    <br />
    Con este correo confirmamos su cita para el día:
    <br /><br />
    <strong>{{ data.start|date_format('weekday_datetime_text') }}</strong> horas
    <br /><br />
    En<br />
    {{ data.practice }}<br />
    {{ data.street }}<br />
    {{ data.cityzip }}
    <br /><br />
    En caso de cambio o cancelación, por favor contactar con nosotros, si es posible 72 horas antes, por teléfono +34 {{ data.phone }}
{% endblock %}
