{% extends ':mail:base.html.twig' %}

{% block content %}
    {% set link = path('patient_reset_password', { 'code': reset_password_code }, true) %}

    <p><strong>Hola {{ patient_name }}:</strong></p>

    <p>
        Por favor, pulsa al siguiente enlace para restablecer tu contraseña.<br/>
        <br/><br/>
        <a href="{{ link }}">{{ link }}</a>
        <br/><br/>
    </p>
{% endblock %}
