{% extends ':mail:base.html.twig' %}

{% block content %}
<p><strong>{{ getSalutationName(booking) }},</strong></p>

<br>
<br>Esperamos que su visita al {{ doctor.getFullName() }} haya cumplido sus expectativas. Por favor, dedique unos minutos para evaluar su visita al médico y nuestra plataforma.
<br>
<p style="line-height:18px">
    Por favor, deje su opinión sobre el {{ doctor.getFullName() }} y ayude a los demás pacientes a la hora de elegir médico.
    <br/><br/>
    <a style="font-weight:bold; color: #0090d6; font-family: Helvetica;font-size: 14px;text-decoration:none" href="{{ path('doctor_review', { 'slug': booking.getSlug }, true) }}">VALORAR AHORA</a>
</p>
<p style="line-height:18px">
    ¿Por qué valorar a un doctor?<br/>
    - No tardarás ni un minuto<br/>
    - Su opinión ayudara a otros pacientes a la hora de seleccionar médico.<br/>
    - Nosotros podremos comprobar si el médico cumple con nuestras altos estándares de calidad.<br/>
    - Solo así sabremos cómo mejorar nuestro servicio para sus futuras reservas.<br/>
    <br/>
    Puede escribir su valoracion para {{ doctor.getFullName() }} dentro de los próximos 30 días.
    <br/><br/>
    <a style="font-weight:bold; color: #0090d6; font-family: Helvetica;font-size: 14px;text-decoration:none" href="{{ path('doctor_review', { 'slug': booking.getSlug }, true) }}">VALORAR AHORA</a>
    <br/>
    ¡Muchas gracias y hasta pronto!
    <br/><br/>
</p>

{% endblock %}
