{% extends '::base.html.twig' %}

{% use ':doctor/dashboard:header.html.twig' %}
{% use ':doctor/dashboard:footer.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container summary">
        <div class="row">
            <div class="col-sm-12">
                {% include ':doctor/dashboard/calendar:navigation.html.twig' with { 'active_route': 'doctor_calendar_availabilities' } %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_start(form, { action: path('doctor_calendar_avatar_upload') }) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
