{% if google.tagmanager.active %}
    {% if google_tagmanager_type is defined %}
        {% include 'js/tagmanager/datalayer/'~google_tagmanager_type~'.js.twig' %}
    {% endif %}
<noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ google.tagmanager.id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>
    (function(w,d,s,l,i){
        w[l]=w[l]||[];
        w[l].push({
            'gtm.start':new Date().getTime(),
            event:'gtm.js'
        });
        var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),
            dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ google.tagmanager.id }}');
</script>
{% endif %}
