<div class="map-popup-wrapper" id="map-popup">
  <div class="map-popup">
    <div class="photo">
      <img src="" alt="">
    </div>
    <h2 class="name"><a href=""></a></h2>
    <div class="street"></div>
    <div class="cityzip"></div>
    <div class="actions">
      <a role="button" href="">Termine anzeigen</a>
    </div>
  </div>
</div>
