{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
  <main>
    <section id="header">
      <h1>{{ 'ui.booking_offer.header.h1'|trans }}</h1>
      <p>{{ 'ui.booking_offer.header.sentence'|trans }}</p>
    </section>
    <section id="info-block">
      <h3>{% if location.hasAppointmentEnquiryIntegration %}
          {{ 'ui.booking_offer.appointment_enquiry'|trans }}
        {% else %}
          {{ 'ui.booking_offer.your_old_appointment'|trans }}
        {% endif %}
      </h3>

      <div class="orange-bar">
        <div class="datetime"><span class="light">{{ 'ui.booking_offer.at_date_time_text'|trans }}</span> {{ booking.getAppointment.getDateTimeText }}</div>
      </div>
      <div class="doctor">
        <div class="photo">
          <img src="{{ getProfileAssetUrl(user.getProfileAssetId, user.getProfileAssetFilename, constant('ArzttermineBundle\\Media\\Asset::GFX_SIZE_MEDIUM_PORTRAIT_CROPPED')) }}" alt="{{ user.getName }}">
        </div>
        <div class="info">
          <div class="conjunction">{{ 'ui.booking_offer.at_doctor'|trans }}</div>
          <div class="name">{{ doctor.getFullName() }}</div>
          <div class="phone">{{ location.getPhoneVisible }}</div>
          <div class="address">
            <h4>{{ 'ui.booking_offer.address'|trans }}</h4>
            <div class="practice-name">{{ location.getName }}</div>
            <div class="street">{{ location.getAddress|raw }}</div>
            <div class="city"></div>
          </div>
        </div>
      </div>
      <ul class="comfort-elements">
        <li class="cancelation">{{ 'ui.booking_offer.info_cancelation'|trans }}</li>
        <li class="contact">{{ 'ui.booking_offer.info_contact'|trans|raw }}</li>
        <li class="data-protection">{{ 'ui.booking_offer.info_protection'|trans|raw }}</li>
      </ul>
    </section>

    <section id="form">
      <h3>{{ 'ui.booking_offer.appointment_alternatives'|trans }}</h3>
{% for booking_offer in booking_offers %}
      <ul class="items">
        <li><a href="{{ booking_offer.getUrl(true, true) }}/1">{{ booking.getAppointment.getWeekdayDateText }} / {{ booking.getAppointment.getTimeText }}</a></li>
      </ul>
{% endfor %}
    </section>

  </main>
</div>
{% endblock %}
