.login_container {

}
.login_container h1 {
  text-align: center;
}

#logo {
    position: absolute;
    left: 23px;
    top: 18px;
}

/*
.login_container  #forgot_password input,
.login_container  #forgot_email input, 
.login_container #login_form input {
  font-size: 22px;
  border:2px solid #AAA;
  min-width: 60%;
}
*/
.login_container #forgot_email span
{
  max-width: 40%;
}



/*
.login_container #forgot_email_form #submit_button
{
  font-size: 14px;
}
*/

.login_container #login_footer
{
  margin-top: 20px;
  font-size: 12px;  
}
.login_container #login_footer #left
{
  float: left;
}
.login_container #login_footer #right
{
  float: right;
}
.login_container #forgot_email,
.login_container #forgot_password
{
  margin-top:20px;
  border-top: 7px double #888888;   
  font-size: 12px; 
  text-align: center;
}
.login_error_message {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-size: 13px;
    font-weight: normal;
}
.login_message
{
  text-align: center;
    text-align: center;
    color: #5294a3;
    font-family: arial;
    font-size: 13px;
    line-height: 17px;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 11px;
}
