.navigation_pagination {
  margin-top:10px;
  
}

.navigation_pagination a{
color: #3366FF;    
font-size: 14px;
font-weight: bold;
margin: 6px;
float:left;
}
 
.navigation_pagination span{
color: #4F4F4F;
float:left;    
font-size: 14px;
font-weight: bold;
margin: 6px;
}
 